[2022-09-19 19:04] Michaelgimii opened #5939 "jet engine compatibility with Elementor loop builder."
Hi crocoblock team

Elementor's loop builder is now in beta and will be officially released in less than 1 month. It seems that by default, elementor loop builder will not display the data of third party plugins such as jet engine and acf in the loop builder.
So please consider elementor loop builder support for jet engine. thanks

[2022-09-19 19:13] pajtai commented on #2094
Looks like https://wordpress.org/plugins/wp-ultimate-csv-importer/ doesn't work for importing from CSV into repeaters. I tested several possible ways but couldn't get it to work.

[2022-09-20 04:35] LiamX2 opened #5940 "[Bricks Builder][Jet Engine] Checkbox Custom Field not working in Meta Query"
I have set custom field in a CPT by Jet Engine, but when I try to filter post data by specific meta query, the meta key is a checkbox custom field. It doesnt show anything. I tested radio and text custom field, both works fine, but not checkbox.
PS. I use Bricks Page Builder.

Thanks

[2022-09-20 04:43] 79ho3ein commented on #5936
+1

[2022-09-20 06:04] UraraReika commented on #5698
Specify the widget in which you want to add changes

[2022-09-20 06:24] 79ho3ein commented on #5698
thank you

[2022-09-20 06:29] Michaelgimii opened #5941 "Compatibility of jet woobuilder with bricks page builder"
Please make this plugin compatible with bricks builder.

[2022-09-20 07:12] #5917 closed, assigned to kaskad88

[2022-09-20 09:11] UraraReika commented on #5729
Possibility to change the message will be added in the next version of the plugin. But style controls will not. The layout of this message separated from the widget and can't be styled from it. And make options inside dashboard is old styled and messy. So in this case we recommend you to use simple CSS. The message has two unique classes `jet-compare-message jet-compare-message--max-items` that ca

[2022-09-20 09:59] 79ho3ein commented on #5729
thank you @UraraReika

[2022-09-20 12:10] UraraReika commented on #5859
A - This option will not be added to the core of our plugin. But you can use this piece of code to solve the issue:
[code]
B - This made so because originally option lies in the Added tab. That is why everything will stay as it is.
C, D - We will keep this section as it is.
E - Done. Wait next release.

Compare
A - Track this issue - https://github.com/Crocoblock/suggestions/issues/5698
B - This o

[2022-09-20 14:21] UraraReika commented on #5860
Unfortunately we do not plan to introduce such functionality into our plugin. But you already can make a trick with the help of CSS. My example will be including FontAwesom icon set but you can use whatever you want with small modifications:

[code]

You can put this styles in Elementor Pro Advance Tab Additional CSS section.

[2022-09-20 14:21] #5860 closed, assigned to UraraReika

[2022-09-20 14:44] GustavoWM opened #5942 "3 Suggestions - JetAppointment: group appointments, and automatic choose time slot when only one available / JetBooking: two instances with different rules"
1 (Jetappointment settings). I missing an option in jetappointment to allow multiple booking at the same time slot. Other appointment plugins offers the setting of group appointments, and then we can manage the group size (capacity). Then this group service can be booked for that amount of users. That's useful for a lot of business that attends groups.

2  (Jetappointment calendar input on forms).

[2022-09-20 14:44] UraraReika commented on #5889
Hello @Joliamendi. Thanks for the feedback.

This problem can appear depending on settings that you use for storing lists. So if you setup your settings like this https://tppr.me/wnP4h then when you not log in your selections will be stored in cookies and you will get data from cookies. But you see that this option enabled https://tppr.me/LVty9. This means that when you were log in and add product

[2022-09-20 14:44] #5889 closed, assigned to UraraReika

[2022-09-20 14:46] marowi85 commented on #534
+1

[2022-09-20 15:05] GustavoWM commented on #5942
I would appreciate if you can give me a feedback about the possibility of applying these changes

[2022-09-20 16:21] stasonua0 commented on #5938
Is something required of me?

[2022-09-20 17:25] studiokoch opened #5943 "Map listing not working with SQL query with joined tables"
I have a SQL query with joined tables. The query combines events with venues which are CCT with a relation.
The SQL give a correct result and it works great with a normal listing grid.

Maps listing is however not working, is there a workaround are can this be fixed?

See this video how I made it: https://youtu.be/mCYAd3LjioM

[2022-09-20 17:28] GustavoWM commented on #5942
I've just found the option to manage capacity of appointments. I'm sorry.

[2022-09-20 17:31] studiokoch opened #5944 "Pagination doesn't work with user query"
I have a normal user query to display a user list via the tables builder.
This works fine, however, I want to add pagination.

I cannot add the number of results so it can work with the pagination filter.

Thanks,
Paul

[2022-09-20 19:06] LincolnBinda commented on #243
My client complained about this url in the jetsmartfilter filter when I'm dealing with a custom post type, I just searched in several places and I can't find the solution... until I land here and see that many have this problem... Does anyone know if is it possible to remove or modify the part of "/jet-engine:xxxxxxx/ in the url?

[2022-09-20 20:30] studiokoch commented on #5883
Maybe add another user meta field which functions as a secondary role field.
This is easily filterable and basically additional but mire flexible as the original wp role.

[2022-09-20 22:06] NimaBakhtiyari commented on #5923
Adding A Way To Select Listing Gird Widget Layout
![image](https://user-images.githubusercontent.com/90132570/191373031-0f157aa1-a6ba-4302-a213-ecccac06913b.png)

[2022-09-20 22:23] ConsultMePL commented on #2681
I was sooo surprised so it's not there!

My case: I want to give a client opportunity to display prices. In order to heaver fewer design templates, I decided to use repeater. As either I'd have to create three separate meta fields (like pizza has three sizes so three prices, but other products only one size so one price). So it was better to have a repeater, as the client can decide the number of

[2022-09-21 01:25] LiamX2 opened #5945 "[Bricks Page Builder] [Option Page] More flexibility and meta key filter for Repeater Field on Options Pages Item"
Hi there, I noticed there is no Meta query filter for repeater field within Options Pages. Could you please add more flexibility for repeater fields on Options pages. I have attached the comparison images for your reference.

Thanks a lot.
<img width="287" alt="Screen Shot 2022-09-21 at 11 19 33 am" src="https://user-images.githubusercontent.com/74690623/191393616-f96ad23f-d1f6-41ad-836f-a0e24fc96

[2022-09-21 04:30] NoirMolk opened #5946 "Image ALT metadata not displaying properly on dynamic repeaters in Elementor"
I created an Elementor template for pages with custom fields and repeaters for image text sections. Once the information is filled on the template, the front end displays ALT text from images within the repeater as the page title instead of the ALT text assigned to each image in the media folder. this happens with Dynamic image or an elementor image module using https://github.com/rtpHarry/jet-eng

[2022-09-21 04:56] pajtai commented on #2034
I'm also noticing that if pagination is set to "Mixed" for a CCT and I have alphabetical sorting, then clicking on the page numbers can show many out of order items. If I refresh the page, it shows different items in the correct order.

[2022-09-21 06:42] Robnui opened #5947 "possibility to connect dynamic meta field date and time with (Google) calendar(s)"
Like the title suggests, a possibility to connect the dynamic meta field date and time with calendars opens a lot of possibilities for calendarsites, eventsites and so on.

[2022-09-21 07:37] Seifenigel opened #5948 "[JetBooking] Booking multiple units / instances of an object (appartment) in one go"
Hello everyone,

I use JetBooking for a bigger event portal where you can book various objects (example: eBikes). I'd love to see a feature to book / block multiple units of a bookable object at once.

Example:
- client has a pool of 30 eBikes, all are available at a specific time
- customer wants to book 5 bikes at once.
- The pools max number can be set as max number in the booking form (works a

[2022-09-21 07:49] Seifenigel opened #5949 "[JetBooking] Move / add global timeframe setting (daily booking, weekly booking, multiday booking) for individual bookable objects"
Instead of having a setting to decide wether or not your whole pool of bookable objects (accommodations, objects, etc) should be rented on a weekly, daily or custom base, make this an option for each object localy.

This would give a wider variety of uses and the ability to add eg daily events to a accomodation booking.

[2022-09-21 08:30] LiamX2 commented on #784
Hi Croco team, hope you are doing well. Just wandering any update on this feature? Thanks

[2022-09-21 10:11] fvaneck opened #5950 "JetEngine - Ability to query repeater fields in a CPT to generate charts"
I'd like to be able to query a repeater field in an individual CPT to build a chart which is currently not possible.

Example: within a CPT called 'Product' I have a repeater field 'Geo Focus' to indicate the geographical interest. In this repeater field there are two fields: 'Region' (Txt) and 'Interest percentage' (0-100).

The aim is to create a (pie) chart based on that data for each individua

[2022-09-21 10:52] mpelczar commented on #5336
Yes! I think its important feature. This is the only thing that for me jetappointment lacks :(
Would be also vert satisfied implement this feature and let clients change schedule in their profile or through email link.

[2022-09-21 10:59] tvalades opened #5951 "Allow bookings when a booking is pendingure request"
Hello. I would like that when a reservation is made and it has not yet been confirmed by the administrator, the dates in the calendar that is shown in the front part are not blocked. That they might have an orange color as requests have been made but still continue to allow reservations until finally the administrator confirms one of them and the dates are blocked. On the other hand, it would be n

[2022-09-21 11:21] NimaBakhtiyari opened #5952 "Ajaxify Your Dynamic Tags"
For Example If I Use To Query Count Dynamic Tag For Counting In Cart Items Results will Not Change Until Refreshing Page And Until This Feature Is Added To The Plugin, It Cannot Be Called A Real Dynamic Plugin And Many Ideas Will Remain Out Of Reach.

[2022-09-21 11:32] #5577 closed, assigned to MjHead

[2022-09-21 12:47] Rubendj1 opened #5953 "Conditional logic for repeaterfield items"
Hi Crocoblock,

I would like to be able to set up conditional rules for the repeaterfields inside a repeater just like you can with normal meta fields.

Use case: I am writing a template for a webshop and I would like to give our team the posibility to add and rearange several sections on the home page without the need for any coding knowledge, somewhat like gutenberg blocks. Diffrent types of blo

[2022-09-21 13:12] Avram-Baskin opened #5954 "Changing The Format Of A Time Field"
I figured out how to format the time field, but it was just a guess and I was surprised that it worked.  I selected the dynamic field widget that displayed the time I wanted to format.  Then I formatted it as indicated on the attachment.  This was not obvious, since there is only a date option.

Would it be possible to add a time option that works in the same way, to make the formatting option obv

[2022-09-21 14:14] Rubendj1 opened #5955 "Bulk edit suppor for meta fields"
Hi Crocoblock,

I can toggle quick edit support for meta fields but I would also like to be able to bulk edit these fields.

[2022-09-21 14:39] Floydtm commented on #5944
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-09-21 15:31] azkalex commented on #5952
I agree, I also have a scenario where I change the meta fields values on a page with a form that's inside a popup triggered by a button on that page. Since the forms can do AJAX, the dynamic tags should be able to read that and update themselves without having to add a redirection to the same page to trigger a refresh, or even manually refresh it.

[2022-09-21 15:34] azkalex opened #5956 "[JetTricks] Particles not supported on the Container widget"
With the Container widget coming out of beta soon, hopefully, you should adapt your plugins to it.

[2022-09-21 17:24] studiokoch commented on #5944
I made a new Query. New name, but exactly the same. And that worked fine.
Strange, but problem solved. :-)

[2022-09-21 17:24] #5944 closed, assigned to nobody

[2022-09-21 19:56] Michaelgimii opened #5957 "Better ui to display wishlist, compare and... buttons in jet woobuilder"
It would be nice if you add an option so that we can customize the compare & wishlist buttons (even the jet popup quick view button) in one box. https://prnt.sc/Iz4BcHp6T2jf
In fact, we need a new section in the style tab of the product grid widget, so that we can have a common background, box shadow, border, and border radius for these buttons.
We can customize the background of these buttons bot

[2022-09-21 23:52] jacktaffa opened #5958 "SQL QUERY BUILDER MACRO PROBLEM"
NESTED LISTING PROBLEM

I've got 2 nested Listing
The first is an ADVANCE SQL QUERY with macro %current_id%

it return an array like in the photo

<img width="1304" alt="Schermata 2022-09-22 alle 01 45 35" src="https://user-images.githubusercontent.com/2649534/191629270-c8d78825-3725-42f1-8872-a17cf77d1ba8.png">

In the second listing that is nested
the query could be
SELECT * FROM programmazione_

[2022-09-22 06:31] shinTM opened #5959 "Reviews CSV export/import"

[2022-09-22 06:34] shinTM opened #5960 "Answer/Question Feature"

[2022-09-22 06:46] secondsky commented on #1470
As @Floydtm nor any other from the team seems to care, I say thx to the guys who mentioned the alternative.
I will try it out and if it turns out to be faster and offer the workflow and features which I need.... Crocoblock can stay on the snail path.

[2022-09-22 07:43] NimaBakhtiyari commented on #5915
++++1

[2022-09-22 10:08] oncps commented on #5949
Isto será muito útil .
Definir horário  e valores para cada dia selecionado individualmente..
Exemplo: definir dias da semana colocar um preço para cada dia ..
E ter a opção de adicionar separadamente para finais de semana e feriado prolongado , que seria  outros valores que podemos adicionar .

[2022-09-22 10:11] oncps commented on #5945
Muito bom!!!
E no elementor, Pode adicionar também, um campo do tipo "número" para limitar a quantidade que o usuário possa adicionar o repeater...
Um exemplo: Piotnet forms tem isso..
Lá eu consigo limitar a quantidade que o usuário pode adicionar repeater .

[2022-09-22 11:39] qoqoshogo opened #5961 "add per JetAppointment Types configurations"
In many Appointment configurations, there needs to be more than one type of appointment configured, for example, On-Site and Online, Phone, etc. Currently, the way Jet appoint is set up the configuration and integrations are all or nothing. This only allows for a single appointment type, severely limiting the functionality and flexibility of the solution. I would propose these configurations moved

[2022-09-22 11:45] Topicimes opened #5962 "Add a search tool for Select Filter"
By any chance, do you have a custom code, allowing you to add a search tool like for the checkbox filter:
https://snipboard.io/m8CPoO.jpg

But for the select filter?

Thanks for your help

[2022-09-22 17:00] sintos opened #5963 "[JetEngine] Display Glossary's Label and not Value when used with Bricks Builder"
I use Bricks Builder with Jet Engine and when i try to display a dynamic field that takes values from a glossary, it shows the Value and not the Label of the glossary field.

[2022-09-22 17:42] JairoLopezCo opened #5964 "[JetEngine] Query Builder: Posts by author meta field."
Hi.
Currently, the Author option of the Post Query on Query Builder allow to set the IDs, user_nicename, Author In and Not In.

It would be very interesting to be able to select a "meta field" among the options to be able to list posts whose authors have a meta field.

[2022-09-22 17:50] freetanga commented on #386
+1

[2022-09-22 17:51] JairoLopezCo commented on #5880
+1

[2022-09-22 18:24] JuanCar29 opened #5965 "sql query improvements"
It would be nice if they included custom calculated fields in jetsmartfilter filters. In query builder it would be nice to add the OR option in the where. It does not give an option and they are all AND.
![Captura de pantalla 2022-09-22 201837](https://user-images.githubusercontent.com/90837626/191823146-6cbe8951-993e-4d29-aec9-2a28c80eba8f.png)
![Captura de pantalla 2022-09-22 201932](https://use

[2022-09-22 18:39] josecristobal opened #5966 "JetSmartFilters repeater fields - Very important feature"
I bring this issue back to the table because I really think it is quite important.

If CPT is not allowed to be searched against the content of its repeated fields, the repeated fields lose a lot of value.

Does this option already exist in JetSmartFilters planning?

[2022-09-23 02:28] tizum opened #5967 "JetEngine Feature Request - Copy to clipboard"
Hello everyone, I come once again to request an improvement in the optimization of our work with JetEngine, I usually create several fields for Options Pages, CPT, Metaboxes and CCT according to the project and I always copy and paste the Name Id several times to configure forms , shortcodes and the like, I think you understand....

My suggestion is that by clicking on the Name, the information is

[2022-09-23 04:59] taidang26 opened #5968 "Jetformbuider - Address Autocomplete need to improve"
I want to convert Gravity to Jetformbuider but I am having some trouble, can do differently from Google API, display not what I expected [Gravity Geolocation](https://gravitygeolocation.com/) using Maps JavaScript API while the Jetformbuilder Address Autocomplete API uses the Locations API.

During use, I encountered some problems as follows:

1. Search language: I use Vietnamese language, Google

[2022-09-23 05:19] thtasca commented on #3985
Hi @girafffee, I found where the "problem" is but I don't know how to solve it, my registration form is creating the post but in pending status, before the update to the last version it was saving the image as the post's thumb, but now it it only saves it when I enter the other form that I use to review and then change its status to published. Is there any way to adjust the code to add the thumb i

[2022-09-23 08:36] girafffee commented on #3985
@thiagotask
The problem with the `save_post` hook is that it can be called both when submitting the form and changing any property of the post on the backend. And in both cases, your code will run, so I suggest you write the code below

[code]

This snippet should work fine since version 2.1.6

[2022-09-23 11:55] bombarda-rpd opened #5970 "Dynamic table customization"
The customization of a dynamic table could be taken even further. It should be able to:
Set a mouse over per line.
Set different colors per line
Set different borders per colum.

[2022-09-23 16:09] marreiradigital commented on #5967
+1

[2022-09-23 16:33] dyonatandias commented on #5967
+1

[2022-09-23 18:47] JairoLopezCo commented on #89
What happened with this?

[2022-09-24 09:12] 79ho3ein commented on #5967
+1

[2022-09-24 10:06] 79ho3ein opened #5971 "compatibility of jet search with bricks builder"
**Add an example of where this feature is already implemented. **

Hi crocoblock team!

If possible, please make jet search plugin compatible with bricks page builder.

[2022-09-24 10:44] Lonsdale201 opened #5972 "JetTabs - Focus for the Mobile users"
It would be very nice if the JetTabs tab and even the accordion widget get a so called popup modal function for mobile/tablet. Developers need to continuously put more and more emphasis on making their sites sufficiently informative and tidy, and making the site comfortable and enjoyable to use.

Tabs and accordions are great in desktop mode, but the smaller the screen and the more information you

[2022-09-24 15:36] DaviAppelDuarte commented on #5967
+1

[2022-09-24 15:38] royallogic commented on #5967
+1 very usefull

[2022-09-24 15:44] dantetesta commented on #5967
+1 go go go

[2022-09-25 13:38] TotalKommando commented on #2144
Would really appreciate this feature, my site greatly needs this.

[2022-09-25 13:41] TotalKommando commented on #3928
+1

Really need to be able to post / edit / view / assign CCTs to users

My site is a database and can really benefit from being able to pull that off on a front end page

[2022-09-25 13:42] TotalKommando commented on #4246
+1 Would be amazing to have this working

[2022-09-26 08:36] #5940 closed, assigned to nobody

[2022-09-26 08:37] LiamX2 commented on #5940
Bricks Builder developer has fixed this issue.

[2022-09-26 09:35] MasterOfWeb opened #5973 "JetReviews custom fields & rich text editor"
It would be cool to have the option to add custom fields in the reviews so we could have a "author website" field or a dedicated "pros" & "cons" fields.

At least, it would be great to have the review content field with a rich text editor.

[2022-09-26 10:17] MasterOfWeb opened #5974 "JetReviews compatibility with Elementor “Inline Font Icons” beta feature"
The JetReviews Listing Widget is not compatible with the new Elementor beta feature “Inline Font Icons”.
All the star and thumb-icons are extremely big and can't be changed.

[2022-09-26 12:01] moxet opened #5975 "Add Icon Support & External URL in Profile Menu of Profile Builder"
**Before adding a new feature request, please, make sure you’ve checked:**
- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Profile builder is very powerful tools so far, two things which are very basic and imporant is to
* Red: Add fontawesome support as an extra f

[2022-09-26 13:12] ciprianpentelescu opened #5976 "Fatal Error with JetPopup and Elementor 3.7.7"
Description
After updating today to 3.7.7 the site stops working, and i get this fatal error:

PHP Fatal error: Uncaught TypeError: Elementor\Core\Files\CSS\Base::get_style_control_value(): Argument https://github.com/elementor/elementor/pull/1 ($control) must be of type array, null given, called in /public_html/wp-content/plugins/elementor/core/files/css/base.php on line 682 and defined in /publi

[2022-09-26 17:12] karifritsch commented on #5639
Similarly to @valmirselmani I have filters for a map listing and a listing grid with the same information. The map listing is far faster than the listing grid in every way, from initial page load to ajax filtering.

Listings always take seconds to load, even if the listing template has a total of two dynamic widgets getting text. This happens across client websites. I can get a product loop from J

[2022-09-26 17:29] karifritsch opened #5977 "Jetblog - Smart Posts List - Allow more settings to be tablet/phone responsive"
Other wishes:
- Allow us to customize the width of the hidden filter (Some category names are long) or only categories that have results in queries
- Ability to show custom categories with meta/move category from on top of thumbnail to above/below content
- paging arrows to be above articles

Responsiveness:
Pretty much everything
- Mark first post as featured
- featured post and regular image/lay

[2022-09-26 18:15] DogG0d commented on #1284
+1

[2022-09-26 18:23] JuanCar29 commented on #5451
The same thing happens to me, I can't paginate an advanced sql. I have checked the documentation and there is nothing about this.

[2022-09-26 21:16] Pixelharmonist commented on #31
Long time ago, but i will happy with it, too!
Someone find a way with cpt´s in timeline?

[Harmonic Greetings from the Pixelharmonie](https://pixelharmonie.de)

Stefan

[2022-09-26 22:53] TomVDH commented on #1470
Yeah, I'm about to launch a massive partner directory for my employer and with all of the praise and touting Crocoblock's products get (both thru affliate YouTubers and other resources) this seems like a painful shortcoming.

@Floydtm -- would be useful if you chould chime in and give a sign of life at the very least -- or point someone to us who is able to address our questions.

[2022-09-26 23:33] DanielRuf commented on #5976
See also https://github.com/elementor/elementor/issues/19894

[2022-09-27 07:42] kaskad88 commented on #2263
Fix in the next version JetEngine ( 3.0.5 )

[2022-09-27 11:27] N624cc commented on #3460
This is a huge problem with Jet Appointments. I don't want the my clients to go near the dashboard.
There should be an front end option for the website owner to view and update bookings.
Ideally the end-user can update directly but at a minimum the business owner should be given a simoe way to maintain the appointments

[2022-09-27 12:00] unitedonline opened #5978 "Bug with JetFormBuilder & Post Expiration Period Plugin"
When external module - Post Expiration Period Plugin - is activated and I try to edit any JetFormBuilder form
by selecting -> Post Submit Actions - and also - Insert/Update Post - and I click on the pencil icon (for editing)

I receive the following error:

TypeError: Cannot read properties of undefined (reading 'settings')
    at /wp-content/plugins/jet-engine-post-expiration-period/assets/js/bui

[2022-09-27 15:21] Deswegen commented on #2288
+1

[2022-09-27 15:50] Rok-fullstack commented on #2534
Hello, is there any update on this? Woul be great, to have option to check "Equal height" + some styling, margins/padding between products. At the moment I have it done with the custom css.

[2022-09-27 16:17] IreneDania opened #5979 "JetBooking - Calendar View"
I am using Jetbooking plugin. Is there a way to view the booking in calendar format? Just like JetAppointments allows.

[2022-09-27 19:15] satomiao opened #5980 "Add Jetengine Profile Page Slug as CSS ID or Class in JetEngine Profile Menu Item"
Currently, we can only select and target the profile menu item for extra styling using CSS pseudo-classes like :nth-child, :last-child.
But if we hide some of the profile pages for certain user roles, the arrangement and position of the menu items changes, and the pseudo-classes are no longer suitable to style the profile menu. If the page slug is added as ID or class, then we can select and targe

[2022-09-27 19:46] satomiao opened #5981 "Add Star Rating Field for JetFormBuilder"
Star Rating field is available in some of the most popular form plugins:

1. wpforms: https://wpforms.com/docs/how-to-add-a-rating-field-to-wpforms/
2. FluentForm: https://wpmanageninja.com/docs/fluent-form/field-types/ratings/
3. Formidable Forms: https://formidableforms.com/knowledgebase/star-ratings/
4. Ninja Forms: https://ninjaforms.com/docs/field-types/#star
5. FORMINATOR: https://gist.githu

[2022-09-27 22:29] bombarda-rpd commented on #2312
+1 for this. I need to order a checkboxes categories filter by term_order, not alphabetically

[2022-09-27 22:39] murphylas opened #5982 "Declutter Your Plugins on the WP Admin Menu and WP Installed Plugins Listing"
Please declutter your plugins on the WordPress Admin menu and WordPress plugins list. Elementor has 1 (ONE) menu item on the WP Admin menu. Crocoblock has 6. Elementor has 2 plugins listing in the installed plugins. Crocoblock has 39 installed plugins listed.

Other plugin developers have ONE plugin listed and use the Settings to turn off or on features of their plugin.

[2022-09-27 22:50] leorcdias commented on #1246
I want this too!

[2022-09-27 23:15] AlejoSEOAlive opened #5983 "Possibility that a user can reserve several quotas of a reservation"
Hello.

**Context:** I have a website where tours can be sold; each tour has a maximum capacity of 11 people: [https://ibb.co/WVW3PTd](url)

**Request:** Is it possible that if the user wishes to select more than one quota, he can do so? For example, that there is a selector where the user chooses the number of places he wants to reserve and that calculates the price automatically for each one. [h

[2022-09-28 07:12] Joliamendi commented on #5885
Hi @UraraReika. Is it known when the 2.0.5 version will be released?

[2022-09-28 09:05] Crocsnative commented on #1967
I would love this feature for filtering posts by location (for an event-searching-website)!

If someone can programm that or knows someone who can do that, you might have an offer from me, so let me know

Email: janvelske@gmail.com

[2022-09-28 10:50] 79ho3ein opened #5984 "Dynamic dots for product Grid carousel - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

Hi

If possible, please add the [Dynamic dots](https://prnt.sc/mQzRm88a72Nf) feature to the product grid > pagination Dots widget. I do not know the reason for this name. In the bricks page builder, there is this feature for the carousel. This feature makes the pagination points look beautiful. (There is also this type of do

[2022-09-28 11:19] AbdoSarmini opened #5985 "Jet Engine Listing Custom Query On Archive Page"
Why we can't use custom query on archive pages with jet engine listings? It is very weird. Whenever I set a custom query with archive listings, it just ignores them.

[2022-09-28 11:21] FrencharmeMedia opened #5986 "Get Color from Related Post"
Hello Guys
I have following Project:
I have CPT Related with other CPT's
The Parent CPT has some Meta Fields for Color Style inside the Custom Posts.
My Problem is:
I'm not able to get the Color from the Parent Post to the related Posts so that the design Colors are matched together.

So if
Custom Post #A text color form meta Field color is red, so
Related Post to  Post #A should have also text co

[2022-09-28 11:39] UraraReika commented on #2534
Hello @Rok-fullstack !

All this options already exist in our plugin here https://tppr.me/P6TVw. If you have some difficulties then contact our support team.

Thank you!

[2022-09-28 11:51] UraraReika commented on #5979
Hello @IreneDania ! Thanks for the feedback.

Right now this isnt posible but this task is in our backlog!

[2022-09-28 11:55] #5698 closed, assigned to UraraReika

[2022-09-28 11:55] #5708 closed, assigned to UraraReika

[2022-09-28 11:55] #5729 closed, assigned to UraraReika

[2022-09-28 11:55] #5859 closed, assigned to UraraReika

[2022-09-28 12:21] edgBllw opened #5987 "[JetBlocks - Login and Reset password] Ability to change all the error messages"

[2022-09-28 12:23] dantetesta commented on #5778
+1 please!!!

Look this https://wordpress.org/plugins/custom-content-shortcode/

[2022-09-28 12:24] edgBllw opened #5988 "JetEngine - Dynamic Field "Customize field output" textarea allows you to only use %s once"
If i want to display a meta field (let's assume it's a url value) i should have the ability to display the websites name but also use the same value for the href in my Customize field output like in this example. <a href="%s">%s</a>

its really annoying, therefore, currently i use the elementor icon list widget.

[2022-09-28 12:33] reddantas commented on #5778
+1 Please!!! I too need soo much this feature.

[2022-09-28 12:50] edgBllw opened #5989 "JetBlock Reset password - Ability to have separate input labels for action buttons"
Currently we only can set one label for the Button. But it'd be great, if we could have another field, that changes the text for the send email button. Because the context "Send email" and "Reset password" are really different hence please two separate options

[2022-09-28 13:37] TotalKommando opened #5990 "Cloning CCT causes existing single page id link to break"
Cloning CCT causes existing single page id link to break

It creates another CCT item that shares the same slug ID

Updating either cloned posts with content, updates the single post

If you delete either one, it causes the single post that is shared or cloned from to get deleted.

[2022-09-28 15:28] JuanCar29 opened #5991 "Query builder sql advance loop function"
I have asked support and at the moment it is not possible to use loops in the query builder. It would be great if they could integrate it in some way.

[2022-09-28 16:40] arpanjain100 commented on #1466
Has this been solved now? I have the same problem.

[2022-09-28 19:54] ChristiS5 commented on #1657
+1  Need this please!!

[2022-09-28 19:58] satomiao commented on #5988
use %1$s

[2022-09-28 20:45] josecristobal commented on #5991
+ 1

[2022-09-28 20:48] pauserratgutierrez commented on #5991
I also want this feature to be added. Bump +1

[2022-09-28 20:52] secondsky commented on #2263
@kaskad88 thx for letting us know. I just realized that the last version broke this seemingly. Worked like a charm up to the last release 3.0.4

Any estimated release date for the new version?

[2022-09-28 20:54] Espuny commented on #5991
+1

[2022-09-28 22:43] stapolin commented on #2263
@RibeiroM4E @P258tiwari @kaskad88
This is how I have it now, and it works fine.

![screenshot-photographytoursireland ie-2022 09 28-23_41_10](https://user-images.githubusercontent.com/17647985/192901344-553d77a3-f5d9-4e25-9e6a-ddcc3700928c.png)

[2022-09-29 00:50] tizum commented on #5991
+1

[2022-09-29 01:04] leorcdias commented on #1714
+1

[2022-09-29 02:21] tizum opened #5992 "JetFormBuilder - Feature Request -> Dynamic Tag for Activecampaign Post Submit (Contact Tags)"
Guys, I have a specific request.

I have several pages or Posts where I need to keep duplicating the forms and just adjusting the tags for each one, so my request is very straightforward.

I would love to be able to have the dynamic tag in this field of the Submit form when it is of type ActiveCampaing, so I can search through the dynamic tag the information saved in a metafield on the page, custo

[2022-09-29 06:57] FrencharmeMedia opened #5993 "Date Timestamp issue "U""
Hello Guys
when i make Meta Field with Timestamp i always get wrong date, one day back

If i submit a Form with a date (for example 28.09.2022) than in Backend is 2022-09-27 and in Frontend it shows 27.09.2022
What can i do to prevent this issue

Thank you
David

[2022-09-29 07:46] secondsky commented on #2263
@stapolin
And you are sure that you have Version 3.0.4 ?
For me the date functions stopped to work with that version.

[2022-09-29 07:49] UraraReika commented on #5569
Hello @RobertLloyd45. Thanks for the feedback.

I've checked your request. At the moment, we do not plan to introduce such functionality into core of our plugin. But such a goal can be reached using a custom solution only.

I highly recommend you to check our custom service - we take such complex cases, that cannot be implemented globally, and bring them to life https://crocoblock.com/customs/.

T

[2022-09-29 07:49] #5569 closed, assigned to MakhonkoDenis, UraraReika

[2022-09-29 07:55] 79ho3ein commented on #5941
+1

[2022-09-29 07:56] kaskad88 commented on #2263
@secondsky  JetEngine v3.0.5 will be released in a few days

[2022-09-29 08:39] Smalyleinchen commented on #4831
+1

[2022-09-29 09:42] yosnap commented on #5991
+1

[2022-09-29 10:33] viabit-dev commented on #5991
+1

[2022-09-29 10:50] edgBllw commented on #5988
Thanks. I know this macro, but thats not a really sustainable solution. imagine i want to use it three times. The number i use shouldn't impact the functionality

[2022-09-29 11:37] Floydtm commented on #5970
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-09-29 11:37] #5970 closed, assigned to nobody

[2022-09-29 15:46] Avram-Baskin opened #5994 "Add a clear and fitting title for the feature request"
When the Product Grid widget or the Product List widget are used on the JetWooBuilder Shop page, there is a toggle that makes the individual products clickable, so the single product page for the product can be displayed.  When a product list and a product grid are displayed in the Products Loop widget, to take advantage of the Switcher functionality, there is not a way to make the individual prod

[2022-09-30 01:54] erok415 commented on #1744
An update to the mega-menu seems long overdue since many people resize their screens to fit 50/50, whether on a desktop or tablet. Refreshing is an outdated solution to showing the mobile menu since this could easily be handled with CSS to reveal the mobile menu. In contrast, CSS is the best-preferred method to change the look and feel of the mobile menu based on media queries. If you want more B2

[2022-09-30 05:10] drewbclark commented on #1464
I would also really like to be able to customize this more too! I would just like to have it do the post-id for the slug. Please make this happen @Crocoblock :)

[2022-09-30 05:41] drewbclark commented on #5140
This would be so awesome to be able to have & also having JetFormBuilder show a Lottie animation when user hits submit as an overlay while the actions are submitting! or some kind of progress indicator instead of the form just greying out while loading @Crocoblock

[2022-09-30 07:52] Floydtm commented on #5973
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-09-30 07:52] #5973 closed, assigned to nobody

[2022-09-30 08:19] scottybo commented on #3465
Hi guys - just wondering what the plan is for speeding up the search results? Even with indexing enabled, the search results aren't instant.

Users expect instant results, so I'm wondering how we can achieve this?

[2022-09-30 08:43] fonnfjell opened #5995 "Allow to save date as timestamp in JetEngine repeater fields"
Makes it possible to make queries to search/select and sort on dates in repeater fields.
 
Used in example, where you have the post type arrangement, and use repeater fields with several dates where the dates do not come directly after each other, like...
2022-09-10
2022-09-11
2022-09-14
2022-10-01
2022-10-02
<img width="1230" alt="Screenshot 2022-09-30 at 10 35 46" src="https://user-images.github

[2022-09-30 09:19] Floydtm commented on #5976
@ciprianpentelescu this problem should be fixed in the updated 1.6, check the plugin update and let me know if it helped you.

[2022-09-30 09:20] #5976 closed, assigned to nobody

[2022-09-30 09:35] fonnfjell commented on #5995
Also integrate this functionality with the Calendar widget.

[2022-09-30 09:52] edgBllw opened #5996 "JetElements Table widget - responsive settings bug"
Even if i've enabled all 7 Elementor breakpoints, the responsive settings for the table widget still remain the same. Its cruital to have al available media queries shown. currently i use this css to maintain the functionality, but please fix that.

body:is([data-elementor-device-mode="mobile"], [data-elementor-device-mode="mobile_extra"]) .jet-table-wrapper {
  display: block;
  width: 100%;
  ov

[2022-09-30 09:57] edgBllw opened #5997 "JetElement Table widget loading time BUG"
If i have a really big table, with for example, 5 columns and dozens of rows, the loading time to edit the table body inside elementor is absolutely ridiculous! Even with a new good MacBook, it takes about 15 Minutes. It also isn't possible at all, and the error code 5 is thrown. i've tried everything. I also increased the Memory limit beyond 512M which should be more than sufficient. I think ther

[2022-09-30 10:16] unitedonline opened #5998 "Bug with calendar display on JetAppointments"
Would it be possible to fix a calendar display bug when using JetAppointments please?
The calendar days are split between the time slots.

Thank you

![image](https://user-images.githubusercontent.com/1244205/193248813-bcb1238c-3bf6-4fa2-83dc-476a702d85eb.png)

[2022-09-30 11:44] UraraReika commented on #5942
Hello @GustavoWM. Thanks for the feedback.

Could you please describe you problem im more details so we can understand you better. You can use this template to fill all proper information https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/feature_request.md. And if it possible share some screenshots or video.

Thank you for your understanding.

[2022-09-30 12:35] UraraReika commented on #5103
Hello everyone!

This functionality was added in 2.5.0 release.

[2022-09-30 12:35] #5103 closed, assigned to MakhonkoDenis, UraraReika

[2022-09-30 12:53] UraraReika commented on #4994
Hello @jay639. Thanks for the feedback.

In JetFormBuilder where you setup form you can choose what type of field display you want https://tppr.me/jKrfS. Then with the help of our API https://gist.github.com/Crocoblock/0d73be0a11b07fa24c1490f5ad7d0d3a setup datepicker functionality or use our option here https://tppr.me/ug2vs.

In on of our latest update we present Schedule functionality. So all y

[2022-09-30 12:53] #4994 closed, assigned to MakhonkoDenis

[2022-09-30 12:57] UraraReika commented on #4630
I merged this issue with [#1080](https://github.com/Crocoblock/suggestions/issues/1080), which is on the same subject so we could deal with it more efficiently.

[2022-09-30 12:57] #4630 closed, assigned to nobody

[2022-09-30 13:02] UraraReika commented on #4605
Hello everyone!

This functionality was added in 2.5.1 release called  Checkout only days option. Feel free to contact our support team for instructions.

[2022-09-30 13:02] #4605 closed, assigned to MakhonkoDenis

[2022-09-30 13:47] ofmarconi opened #5999 ""Responsive" panel when using split screen."
When I try to work with split screen, it would be interesting that this column disappears and only the commands that really matter come to the top of the panel:
<img width="847" alt="image" src="https://user-images.githubusercontent.com/6594795/193283400-764a1c3e-6b94-4e7a-b684-ac31f0494bf3.png">

[2022-09-30 14:58] UraraReika commented on #5431
I merged this issue with [#4013](https://github.com/Crocoblock/suggestions/issues/4013), which is on the same subject so we could deal with it more efficiently.

[2022-09-30 14:58] #5431 closed, assigned to MakhonkoDenis, UraraReika

[2022-09-30 15:01] UraraReika commented on #3943
This issue was solved with 2.5.0 release.

[2022-09-30 15:01] #3943 closed, assigned to MakhonkoDenis

[2022-09-30 15:02] UraraReika commented on #3889
This functionality was released in 2.5.0 version of the plugin.

[2022-09-30 15:02] #3889 closed, assigned to MakhonkoDenis

[2022-09-30 17:16] 79ho3ein commented on #4013
+1

[2022-09-30 17:19] ivgmz opened #6000 "Custom template for Product grid"
I think it would be a good option to add the functionality in the product grid module to attach your own template instead of the default ones, as well as in the upsell products module, but with the ability to turn them into a carousel and be able to make custom queries.

Thank you.

[2022-09-30 19:39] ghccn394thc3fg opened #6001 "Crocloblock JetWooBuilder bug in Endpoints Templates"
Hello, I think I noticed a big mistake in the Crocloblock jetwoo builder plugin, I believe other people have seen this too and I haven't found a solution anywhere. When editing templates for the endpoints of the My Account page, for example " orders ", the first block we see is possible to edit with the element and jetwoobuilderm, however if we go a step further and go to " view order " there is a

[2022-10-01 04:12] wzsanders opened #6002 "Query Builder / Dynamic tables / External databases"
**Feature Description**

Product: JetEngine
Submodule: Query Builder / Dynamic tables

I think it would be great if you could specify a separate database and credentials for each query. Sometimes customers have data sets in other systems (ERP / CRM / etc.) where the data resides separately from the web server. It would also not make sense to have those tables within the WordPress tables.

This fea

[2022-10-01 11:15] FrencharmeMedia opened #6003 "Add Relation Meta Data into Elementor Dynamic Tag"
Could you please add the Relation Meta Data into the Elementor Dynamic Tag?
Would be usefull for some Styling Stuff like dynamic Color and so on.
Also the Ability to Edit/Update Relation Meta Data with Form
Thank you
Best Greetz
David

[2022-10-01 17:57] edgBllw opened #6004 "JetFormBuilder - Dev Plugin Extend Form Actions | BUG!"
If you use the dev plugin [extend form actions](https://github.com/MjHead/jet-engine-extend-form-action), there is a small bug.
If you choose the option to redirect to the new inserted/updated post, this option does not get along with the extend form action dev plugin. No matter, what you're doing, all code that you've written with the dev plugin hook, gets ignored as long the redirect to new post

[2022-10-01 18:00] edgBllw opened #6005 "JetFormBuilder - Dev Plugin Extend Form Actions (Inserted Post ID) | BUG!"
i have a form, that inserts a cpt. i want that the post name of every single post is equal to the inserted post id. for https://example.com/cpt/32/. I used the code like in the documentation, but it doesnt work properly. the number gets inserted in the url slug, but also a "-2" is added after it every time. Can you please check that..

function edg_jetengine_extend_form_actions() {
	return [
		171

[2022-10-02 04:03] FrencharmeMedia opened #6006 "Bug : Listing Item dynamic Color not working"
**Describe the bug**
Listing Item dynamic Color not working

**To Reproduce**
Steps to reproduce the behavior:
1. Open a Listing Item, select an element
2. Go to style tab and select dynamic color from metafield, term, whatever
3. No change - just primary color

**Expected behavior**
I expect to be the color from metafiled, term field or whatever
**Nice could be option to take color from related i

[2022-10-02 06:21] edgBllw opened #6007 "JetEngine Dynamic Visibility - Query option"
Please add an option for the negative version of it namely "query has no items". You have it for every condition exept the query one. It just would make some stacked conditions easier..

Thanks in advance :)

[2022-10-02 09:29] voneff commented on #1662
Hi @kaskad88, any news on this? I was surprised to find you that this isn’t possible yet. I would really appreciate an update. Thanks!

[2022-10-02 13:57] rh-hridoy12 commented on #2277
Hi every one, you can use jet tabs for this problem ..

[2022-10-02 22:24] #4413 closed, assigned to nobody

[2022-10-03 07:09] UraraReika commented on #3612
Hello everyone!

This functionality was presented in 2.4.0 version. You can fell free to check it out.

Thank you!

[2022-10-03 07:09] #3612 closed, assigned to nobody

[2022-10-03 07:10] UraraReika commented on #3656
Hello everyone!

This functionality was presented in 2.4.0 version. You can fell free to check it out.

Thank you!

[2022-10-03 07:10] #3656 closed, assigned to MakhonkoDenis

[2022-10-03 07:14] UraraReika commented on #3520
We’ve not heard back from you in a while, so I’m marking this thread as resolved. Hopefully, you were able to find a solution to your problem! If you have further questions, please feel free to open a new topic.

[2022-10-03 07:14] #3520 closed, assigned to nobody

[2022-10-03 07:16] UraraReika commented on #5494
I merged this issue with [#5476](https://github.com/Crocoblock/suggestions/issues/5476), which is on the same subject so we could deal with it more efficiently.

[2022-10-03 07:16] #5494 closed, assigned to MakhonkoDenis, UraraReika

[2022-10-03 07:27] UraraReika commented on #3453
Hello everyone!

This functionality was presented in 2.5.0 version. You can fell free to check it out.

Thank you!

[2022-10-03 07:27] #3453 closed, assigned to MakhonkoDenis

[2022-10-03 07:28] UraraReika commented on #3434
Hello everyone!

This functionality was presented in 2.5.1 version. You can fell free to check it out.

Thank you!

[2022-10-03 07:28] #3434 closed, assigned to MakhonkoDenis

[2022-10-03 07:30] UraraReika commented on #3345
Hello everyone!

This functionality was presented in 2.5.0 version. You can fell free to check it out.

Thank you!

[2022-10-03 07:30] #3345 closed, assigned to MakhonkoDenis

[2022-10-03 07:34] UraraReika commented on #3289
I merged this issue with [#3122](https://github.com/Crocoblock/suggestions/issues/3122), which is on the same subject so we could deal with it more efficiently.

[2022-10-03 07:34] #3289 closed, assigned to MakhonkoDenis, UraraReika

[2022-10-03 07:40] UraraReika commented on #5123
I merged this issue with #3035, which is on the same subject so we could deal with it more efficiently.

[2022-10-03 07:40] #5123 closed, assigned to MakhonkoDenis, UraraReika

[2022-10-03 07:44] UraraReika commented on #2912
Hello @ayhanmalkoc. Thanks for the feedback.

 Please follow guidelines for opening a new [feature request](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/feature_request.md), so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests. 

Thank you for your understanding.

[2022-10-03 07:45] UraraReika commented on #2870
Hello everyone!

This functionality was presented in 2.4.0 version. You can fell free to check it out.

Thank you!

[2022-10-03 07:45] #2870 closed, assigned to MakhonkoDenis

[2022-10-03 07:50] UraraReika commented on #2726
Hello everyone!

This functionality was presented in 2.4.0 version. You can fell free to check it out.

Thank you!

[2022-10-03 07:50] #2726 closed, assigned to MakhonkoDenis

[2022-10-03 08:22] UraraReika commented on #2452
Hello everyone!

This functionality was presented in 2.4.0 version. You can fell free to check it out.

Thank you!

[2022-10-03 08:22] #2452 closed, assigned to MakhonkoDenis

[2022-10-03 08:37] UraraReika commented on #2112
Hello everyone!

1.This functionality was presented in 2.4.0 version. You can fell free to check it out.
2. You can setup it here https://tppr.me/1pQzq, https://tppr.me/wXFbc

Thank you!

[2022-10-03 08:37] #2112 closed, assigned to MakhonkoDenis

[2022-10-03 08:40] UraraReika commented on #1795
I merged this issue with [#1557](https://github.com/Crocoblock/suggestions/issues/1557), which is on the same subject so we could deal with it more efficiently.

[2022-10-03 08:40] #1795 closed, assigned to MakhonkoDenis

[2022-10-03 08:51] UraraReika commented on #2502
I merged this issue with #1586, which is on the same subject so we could deal with it more efficiently.

[2022-10-03 08:51] #2502 closed, assigned to MakhonkoDenis

[2022-10-03 08:52] UraraReika commented on #1564
I merged this issue with #5476, which is on the same subject so we could deal with it more efficiently.

[2022-10-03 08:52] #1564 closed

[2022-10-03 08:56] UraraReika commented on #1527
Hello everyone!

Due to technical reasons, this is almost impossible to do in core of the plugin but this problem can be solved by installing JetBooking from the master + throw this code into `functions.php`:

[code]

[2022-10-03 08:56] #1527 closed

[2022-10-03 08:57] UraraReika commented on #1472
Hello everyone!

This functionality was presented in 2.4.0 version. You can fell free to check it out.

Thank you!

[2022-10-03 08:57] #1472 closed

[2022-10-03 09:00] Michaelgimii commented on #5885
+1
Is there an update for it yet?

[2022-10-03 09:00] UraraReika commented on #1434
I merged this issue with #4095, which is on the same subject so we could deal with it more efficiently.

[2022-10-03 09:00] #1434 closed

[2022-10-03 09:02] UraraReika commented on #1387
Hello everyone!

1. This functionality exist if you combine JetBooking with JetFormBuilder. Or you can use our API to fix this in your site https://gist.github.com/Crocoblock/0d73be0a11b07fa24c1490f5ad7d0d3a.
2. This functionality was presented in 2.4.0 version. You can fell free to check it out.

Thank you!

[2022-10-03 09:02] #1387 closed

[2022-10-03 09:04] UraraReika commented on #1080
I merged this issue with [#897](https://github.com/Crocoblock/suggestions/issues/897), which is on the same subject so we could deal with it more efficiently.

[2022-10-03 09:16] Floydtm commented on #5985
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-10-03 09:16] #5985 closed, assigned to nobody

[2022-10-03 09:25] UraraReika commented on #812
All of this already exist in the product.

[2022-10-03 09:25] #812 closed

[2022-10-03 09:27] #97 closed

[2022-10-03 09:54] DaveKani opened #6008 "Allow admins to change user roles from front-end form"
Allow admins to change user roles from front-end form

[2022-10-03 09:54] UraraReika commented on #2701
Hello everyone!

This functionality was presented in 2.5.0 version. You can fell free to check it out.

Thank you!

[2022-10-03 09:54] #2701 closed, assigned to MakhonkoDenis

[2022-10-03 09:55] UraraReika commented on #2692
I merged this issue with #1833, which is on the same subject so we could deal with it more efficiently.

[2022-10-03 09:55] #2692 closed, assigned to MakhonkoDenis

[2022-10-03 09:58] UraraReika commented on #2670
I merged this issue with #2352, which is on the same subject so we could deal with it more efficiently.

[2022-10-03 09:58] #2670 closed, assigned to MakhonkoDenis

[2022-10-03 11:24] bodibel commented on #5674
+1 + and the Units Manager would also be nice too from Frontend could be managed. Or if a CPT could be assigned to it as Units.
Thanks

[2022-10-03 11:34] bodibel opened #6009 "JetBooking - Booking List to Frontend"
Hi

I would like to show my clients the bookings of the products they offer on their Profile page. Is this possible?

Eg: One of my clients has 3 cars and I would like to be able to display for each car which one has been booked and for when. I would like to get this from JetBooking and display it in a list as well as in a calendar. Also, I would like to set a separate color for owners when they i

[2022-10-03 13:39] ofmarconi opened #6010 "[JetFormBuilder • STRIPE] Enable the possibility of choosing a payment method in STRIPE Checkout:"
Enable the possibility of choosing a payment method in **STRIPE Checkout**:

![image](https://user-images.githubusercontent.com/6594795/193591049-3c922b23-766c-4c5e-be75-233b2aa9ca41.png)

In Brazil, **STRIPE** has specific payment methods, adapted to reality and the market, if this can be updated, it will really be very useful and you wouldn't even need WooCommerce anymore.

If this is already po

[2022-10-03 17:08] 79ho3ein opened #6011 "compatibility of jet compare & wishlist plugin with bricks builder"
**Please, describe the feature request, making it clear to understand.**

Please, if possible, make the jet compare... plugin compatible with Bricks Builder page builder.

thank you

[2022-10-03 19:41] lagethomas opened #6012 "Dynamic tag in repeater field"
It would be interesting for the fields added in the repeater to have the option to pull dynamic data as well. Example: User logged in, user logged in email and that sort of thing.

[2022-10-03 20:26] a3tecnologia opened #6013 "Configuração de exibição do JetPopUp"
I would like that in JETPOPUP, it was possible to configure conditions more than one display condition, because at the moment, I need a popup to appear in a time range but also in specific days of the week, as an example:

appear at 8:00 am and Finish at 11:00 pm, from Tuesday to Saturday.
and on Sunday from 8:00 am to 7:00 pm.

We need that in the settings it is possible to add more display condi

[2022-10-03 20:43] voneff opened #6014 "Injections in Repeater Listing Grid not working when condition is based on value inside Repeater"
**Describe the bug**
I was trying to use Listing Grid Injections for a repeater field group listing on a single page of a Custom Post Type (CPT) to change the style of listing items based on a selection in a radio field **inside** the repeater field group. When I use other options like "On each N item", the injections work. I also tried other fields, like basic text fields, but it seems to me that

[2022-10-03 23:38] mehdimoradi1500 opened #6015 "Custom database table for CPT/Metabox"
Hi guys @Floydtm
**Custom database tables for cpt and meta fields**

**1- Custom database for CPT**
It would be so optimized if we have separate database table for each cpt we creat.

**2- Custom database for meta fields**
Metabox/Pods/Acf plugins have a great feature to save a group of fields to a separate custom table, that's improving the performance strongly.
The positive point of this solutio

[2022-10-04 06:45] dreamdigitalagency opened #6016 "JetSmartFilter with WooCommerce Product Loop"
Click 'American' from menu permalink looks like this
https://curtisb3.sg-host.com/shop/jsf/woocommerce-archive/tax/product_cat:29/

If you then click 'Crisps' so you have American & Crisps selected the URL looks like this and the filter breaks

https://curtisb3.sg-host.com/shop/jsf/woocommerce-archive/tax/product_cat:29%2C23%2Coperator_AND/

It breaks and you get this message

No products were fou

[2022-10-04 07:52] MjHead commented on #5252
On change CCT field name, the data will be copied from an old realted DB column into a new one. Such behaviour affects only fields renaming - If you deleting existing field and adding a new one instead - the data from deleted field will be lost, We added this warning into confiramtion popover

Will be released with 3.1.0 update.

[2022-10-04 09:15] fostira commented on #6015
+1

[2022-10-04 09:34] Floydtm commented on #5998
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-10-04 09:43] Floydtm commented on #5999
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-10-04 09:43] #5999 closed, assigned to nobody

[2022-10-04 10:47] 79ho3ein commented on #6015
+1
This is really needed.

[2022-10-04 10:49] Joliamendi commented on #6015
+1

[2022-10-04 11:18] Michaelgimii commented on #6015
+1
Now, if the amount of posts in post type is high, we will definitely face speed problem. So crocoblock please

[2022-10-04 11:20] bombarda-rpd opened #6017 "Fade effect in Sliders with template doesn't work"
The fade effect between sliders doesn't work if templates are used.

[2022-10-04 14:42] saeed-1987 commented on #6015
Its totally necessary!
I have to use few plugins (acf pro and cpt ui) to achieve it but hope to see it soon in JetEngine
Great request

[2022-10-04 15:58] swinggraphics commented on #1967
+1 for making it easier to do with an entered location, that doesn't rely on JS location API.

Found these searching "crocoblock distance filter":

https://itchycode.com/filter-jetengine-map-listing-by-user-input-address-radius-distance-jetengine-jetsmartfilters-query-builder/

https://facetwp.com/help-center/facets/facet-types/proximity/

[2022-10-04 18:46] ivgmz opened #6018 "JetFormBuilder - Dynamically generate a numbers range and repeater fields from the Calculated Field of the form"
I think it would be a good option that in the select field, the number field and the repeater field can dynamically generate a range of numbers from the calculated field of the form.

This could help to have more options when making a form. I am working on a fishing trip reservation page, the boats we work with have a limited number of anglers depending on the size of the boat, at the time of book

[2022-10-04 20:24] gualtier commented on #1470
+1 on this! Getting higher load times :(

[2022-10-04 20:49] joonhy opened #6019 "Problem with price range filter"
Dear I would be grateful for your help.

I am having the following issue with the JetEngine and JetSmart Filters plugins.

I have a series of products with categories X and Y.

It turns out that I have created a query builder to show all the products of a category X, then I have created a filter for price range, but it turns out that in the minimum price it does not show me the minimum price of th

[2022-10-05 08:53] satomiao commented on #6015
+1

[2022-10-05 10:09] Joliamendi commented on #5889
Hi @UraraReika , Apologies for the delay.
I think you don't understand what I mean. If a user (guest) adds a product to her wishlist and then login, after logging in, that product will not be in the user's wishlist and will be deleted. I selected cookie and session but there is this problem for both.
But in WooCommerce, if you add a product to the cart as a guest user and then log in, this product

[2022-10-05 10:23] simonst commented on #5580
++1 this would be really helpful as well as webp support in the slider

[2022-10-05 10:54] UraraReika commented on #5889
Please show me screenshot how you setup your wishlist settings.

[2022-10-05 11:10] Joliamendi commented on #5889
![jet cw](https://user-images.githubusercontent.com/103376243/194047230-95cf47a3-a3cb-4996-bcc3-bf16e7a6272f.png)

[2022-10-05 11:39] IgorDark opened #6020 "Author archives with author role condition in JetThemeCore [feature request]"
Similar to Elementor PRO where it is possible to create author archives

![5hrgKu70dgNY4kZfXWT0LVBPs5AHoV4S2A](https://user-images.githubusercontent.com/40338883/194049840-f5dd804f-3e36-4ed9-bbba-4989ec8d1bad.png)

Example with author role condition in plugin https://wordpress.org/plugins/xpro-theme-builder/

![7aDi7d0Vsg6EZvuxV8qXRieEOPZISQlmFA](https://user-images.githubusercontent.com/40338883/

[2022-10-05 11:41] UraraReika commented on #5889
As i said in my previous message the problems is in how you setup the wishlist. You enabled this option https://tppr.me/wJCBy and it means that if user logged in he will store wishlist info in user meta as well as he will get data from there. So if user meta is empty you will nothing to get.

In your case user is logged out and start to add products to list. So he has some products in it and while

[2022-10-05 12:11] UraraReika commented on #4460
Hello @tekonemedia. Thanks for the feedback.

Unfortunately we do not plan to introduce such functionality into our plugin. This plugins and widgets was developed for another kind of usage. You can take a look at another slider which can fill your needs https://crocoblock.com/widgets/slider/.

Thank you for your understanding.

[2022-10-05 12:11] #4460 closed, assigned to UraraReika

[2022-10-05 12:31] Joliamendi commented on #5889
thank you @UraraReika , If I disable [this option](https://tppr.me/wJCBy) it works fine, but it is no longer stored in the users account!
So how does the WooCommerce cart work? Everything is good in it.

[2022-10-05 13:04] rogeriolixa opened #6021 "JetProductGallery - Link Video Instagram"
Hi Croco!
I would like to know if it would be possible to add Instagram/Facebook link and maybe even TikTok on JetProductGallery in the "video" part today only has external options for Vimeo and Youtube.

I believe that adding this option would make it much more dynamic to create pages and sites incorporating social media that year after year are taking up space from online stores and information

[2022-10-05 13:10] yannicklmb commented on #6015
+1. It is a very good proposal. But I also think they could make the queries compatible with JetEngine's own CCTs. After all, they are improving the compatibility between Crocoblock and Bricks every day.

[2022-10-05 13:30] fostira opened #6022 "JetEngine – Enable Meta Boxes for CCT"
I just noticed that Meta Boxes are restricted to only Post, Taxonomy and User.

It would be a great and time saving improvement for custom content types to have the ability to have and show Meta Boxes instead of making fields for every single CCT.

Thanks for your support and great updates!

[2022-10-05 15:19] unitedonline commented on #5998
Hello and thank you for your reply @Floydtm

I've received an answer from the support department, that this is the way the appointment plugin was designed by the developer(s) (i.e. to show the time slots between the days of the month).

IMHO it looks awkward, and I've received a couple of complaints from clients, but there's nothing I can do about it.
Hopefully at some point in the future, it will

[2022-10-05 15:37] unitedonline opened #6023 "JetAppointment plugin - Wrong time zone in Google calendar"
Hi,

I've noticed the following issue, and maybe this can be fixed easily:
I have set the Time Zone in my WP installation to +3 GMT/UTC/ZULU

![Screenshot 2022-10-05 180414](https://user-images.githubusercontent.com/1244205/194098821-bfe93cae-5b75-4582-91d7-a9542c9d2128.jpg)

I have also configured JetAppointment to show the Time Zone:

![Screenshot 2022-10-05 180320](https://user-images.githubuse

[2022-10-05 15:45] scottybo commented on #361
+1

[2022-10-05 16:25] JuanCar29 commented on #5991
Hello
It would be very useful for these types of queries. I get a query with many lines.
![Captura de pantalla 2022-10-05 182218](https://user-images.githubusercontent.com/90837626/194111888-f7d41885-41b8-4e80-b92e-c803054c46a9.png)
![Captura de pantalla 2022-10-05 182312](https://user-images.githubusercontent.com/90837626/194111895-dfece0a7-aec8-48a9-af27-f8eaa1174b22.png)

[2022-10-05 17:02] LexiRedfox opened #6024 "[JetSmartFilters] Allow for the Include/Exclude to allow empty categories"
**Please, describe the feature request, making it clear to understand.**

Currently on JetSmartFilters you can choose to display taxonomies to filter through. You cannot choose any empty categories however, only categories that have posts inside of them. This feature would allow for newer sites without filters (or sites that are adaptive and constantly have new posts and delete old posts) to still

[2022-10-05 18:10] dantetesta opened #6025 "Show 2 or more rows per column in the carousel or listing grid slider"
Hi, I need a feature

make possible show 2 or more rows per column in the carousel or listing grid slider.

Exemple 1: https://demo.essentialplugin.com/prodemo/pro-logo-showcase-responsive-slider/logo-slider-with-multi-row/

Exemple 2: https://wpmet.com/plugin/elementskit/client-logo/

That would be very helpful, thanks!!!!

[2022-10-05 18:25] caiocn commented on #6025
It would be a really useful feature

[2022-10-05 18:52] ofmarconi commented on #6025
Great suggestion!

[2022-10-05 19:30] oncps commented on #6025
great suggestion, here in Brazil this is very useful

[2022-10-05 20:01] Nima786 commented on #6015
Honestly, this should've been done a long time ago. I believe implementing this, will affect the query speed significantly, specially for larger sites with tons of custom meta fields. Hope, we'll see it sooner rather than later...

[2022-10-05 20:41] AnkitLawctopus opened #6026 "Ability to use Smart Filters on Repeater Listings"
Where when we create a listing of 'meta field repeater' and then use smart filters to filter through that listing.

Would be really helpful feature, but currently there is no support for this.

[2022-10-05 20:44] AnkitLawctopus commented on #6026
There is a similar request https://github.com/Crocoblock/suggestions/issues/5480 but not the same.
What I am suggesting is to use all filters with repeaters

[2022-10-05 20:49] carlaherrera commented on #6025
Sugestão ótima, seria muito bem vinda essa featured

[2022-10-05 23:26] E-Hi11 commented on #221
Any updates on this?

I just signed up to GitHub to comment. I was searching google for "jetengine plugin bloated" and found this thread. I'm sure I'm not the only one in 2022 who would love to purchase these plugins but not if performance isn't top of mind.

I'd love to hear an update about this concern and if crocoblock has done anything about it since 2019.

Glad I found this thread, as I was a

[2022-10-06 00:24] JairoLopezCo opened #6027 "[JetFormBuilder] Being able to add multiple tags to a post through the form."
Currently it is not possible to add new multiple tags (like in wordpress admin panel (tags separated commas)) through any field in JetFormBuilder. It is only possible to add one tag through the text field.

[2022-10-06 06:25] MjHead commented on #5515
Added with 3.0.5 update

[2022-10-06 06:25] #5515 closed, assigned to kaskad88

[2022-10-06 06:27] UraraReika commented on #5889
Woocommerce carts data stores in session

[2022-10-06 08:02] IgorDark opened #6028 "Off Canvas Cart builder [feature request]"
I think this will require JetWooBuilder+WooCommerce quantity Input+JetPopup+JetEngine

This is how its done in Bricksbuilder
https://www.youtube.com/watch?v=z8F95UYswAo

The result
![image](https://user-images.githubusercontent.com/40338883/194252735-ed506984-4690-45aa-9111-04f596ca7f3a.png)

[2022-10-06 08:53] Michaelgimii opened #6029 "Displaying WooCommerce notifications as a popup in jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

Hi crocoblock

It would be great if we could customize WooCommerce notifications in jet woobuilder plugin and display them as popups. So I wanted to ask if you have any plans for this?
Displaying WooCommerce notifications is always one of the biggest annoying challenges for our colleagues. So I hope that will be addressed in

[2022-10-06 09:14] #5837 closed, assigned to Gawuww

[2022-10-06 09:25] kaskad88 commented on #5617
Added with 3.0.5 update

[2022-10-06 09:25] #5617 closed, assigned to MjHead

[2022-10-06 09:27] kaskad88 commented on #4532
Fixed with 3.0.5 update

[2022-10-06 09:27] #4532 closed, assigned to kaskad88

[2022-10-06 09:39] JuanCar29 commented on #5617
Cool

[2022-10-06 11:53] Joliamendi commented on #5889
Right, according to the screenshot I posted above, shouldn't they behave like WooCommerce? But it doesn't.

[2022-10-06 12:20] isaacwillz commented on #4218
Hello Oleksandr,

Any news on those implementations?

Best regards

[2022-10-06 13:57] iamalsoandy opened #6030 "Create JetEvent - the one stop event solution!"
It would be great to have an Event plugin (not a small ask, I know!)

Similar in theory to JetBooking and JetAppointment, but with more of an event focus - with the ability to book tickets and so on.

Kind of like [Eventbrite](https://www.eventbrite.co.uk/) or [WP Event Manager](https://wp-eventmanager.com/), but with the lovely JetEngine take on it. Features in there that would be useful:

- Even

[2022-10-06 14:09] Zigafoundry commented on #1609
Can you please make possible to define the expiration period from a field to let the listing author decide when it will expire? Thanks a lot

[2022-10-06 15:08] tiagombarreto commented on #6025
eally useful feature

[2022-10-06 15:27] dinmawrites commented on #2193
I'd love to see this too!

[2022-10-06 17:24] bjrcarlos commented on #5992
+1 I need to work with the same possibility, but I also need the listid to have a dynamic tag option instead of just a select

[2022-10-06 17:43] simonclay commented on #5439
+1 for this feature.

[2022-10-06 17:44] simonclay commented on #4638
Would really value this feature. I have had 2 clients ask me for it. But have had to resort to other plugins.

[2022-10-06 17:46] dburke-ux commented on #5439
@simonclay, I think JetEngine & SmartFilters have added a feature to satisfy this need. But, I haven't used it myself yet.

https://crocoblock.com/knowledge-base/articles/jetengine-setting-geosearch-based-on-user-geolocation/

[2022-10-06 17:49] simonclay commented on #5439
Thanks Dan, yes, I have just been talking to support about it.

I need the visitor to be able to enter their town or postcode rather than have their location automatically detected.

[2022-10-07 00:36] 79ho3ein opened #6031 "Jet woobuilder compatibility with Pop-up Notices for WooCommerce plugin"
**Please, describe the feature request, making it clear to understand.**

Hi @UraraReika

I use [this plugin](https://wordpress.org/plugins/popup-notices-for-woocommerce/) to display WooCommerce notifications as pop-up.
But the problem is that the ajax notification of this plugin has a problem with jet woobuilder add to cart ajax. **The problem is that if we add a product to the cart, the notifica

[2022-10-07 13:04] #5623 closed, assigned to Gawuww

[2022-10-07 13:04] #5580 closed, assigned to Gawuww

[2022-10-07 13:05] #2108 closed, assigned to Gawuww

[2022-10-07 13:05] MjHead commented on #5536
Added with 2.6.7 update

[2022-10-07 13:05] #5536 closed, assigned to Gawuww

[2022-10-07 13:06] MjHead commented on #2009
Added with 2.6.7 update

[2022-10-07 13:06] #2009 closed, assigned to Gawuww

[2022-10-07 13:14] simonst commented on #5580
why closed? is this implemented?

[2022-10-07 15:13] farrukhzeeshan81 opened #6032 "Option to Filter by Metafield and Taxonomy of Related Items"
At the moment, there is no option to filter post type by meta fields of the related post type.
You can filter a post type by related posts only (their IDs)

Please add the feature to filter by metafield and taxonomies of related items, as without it we cannot create big complex projects.

[2022-10-07 15:21] FrencharmeMedia opened #6033 "JetFormbuilder : Ability to update multiple Posts at once from Front-End"
Hello Guys
Would be nice to have the Ability to update multiple Posts at once from Front-End

My Case: I want to update all the related children posts of a parent post at once.

Image i have a team and different services and i want to add/update in future some metafields or taxonomie in the related posts.
With a form with checkbox and some input form fields i could choose which post ID (checkbox)

[2022-10-07 19:33] Floydtm commented on #1968
Hi! It looks like this bug has been fixed in 1.6.0 ver. If you have a problem with this, please let us know.

[2022-10-07 19:33] #1968 closed, assigned to shinTM

[2022-10-08 09:47] LevelUpGit commented on #6015
+1
[4914](https://github.com/Crocoblock/suggestions/issues/4914)

[2022-10-08 10:07] mehdimoradi1500 commented on #6015
Hi @LevelUpGit
I think if we could set custom DB table for cpt and Metabox, would be much more powerful instead of expanding the abilities of CCT (cct has its own usage)

Assume that you want to use The standard POSTS or USERS of WordPress! And you need to add 10 custom fields to them! In this case you have to use Meta box of JetEngine and using custom DB table will be so powerful. Because you hav

[2022-10-08 12:10] 79ho3ein opened #6034 "jet smart filters new UI bugs"
**Describe the bug**

Hi @Floydtm , The new UI version of jet smart filters plugin has serious problems in ui and ux. If possible, please check the following. I hope it will be useful in improving it.

1- In RTL, the filters page is completely broken : https://prnt.sc/4kUsb--7xXwE
BUT in LTR : https://prnt.sc/yBMgC5eeifuk

2- In the visual filter, there is a serious problem. In the new version, co

[2022-10-08 13:35] Nasimart commented on #6015
+1
I added a cpt few months ago with almost 10 custom fields. After few months i knew about custom database table and like how acf handle it.

I wish it will be possible to convert it to new database table and it would definitely increase the speed

Im sure crocoblock will handle it even better

[2022-10-08 16:25] LevelUpGit commented on #6015
Totally agree, it is much needed, for example we have custom post type with 50 meta fields, and right now we have 100,000 records in DB, it' functioning but it would be much better to have them in separate table. We considered to rebuild it with pods or something similar with this option.

Hope this get's traction.

[2022-10-08 16:50] stapolin opened #6035 "Add Post Author Role to Dynamic Visibility Options"
There are many options to choose from when using the Dynamic Visibility feature, but recently when creating a directory website I discovered the need to set the visibility of some elements within the design so they only show depending on the Post Author's Role.

For example,

There are 2 roles (Supplier & Supplier Plus)

When a member upgrades to Supplier Plus, they get extra features like having

[2022-10-08 18:53] Mrgreen93 commented on #6015
+1
I have the same issue, i have a multi vendor website with so many sellers!
I used metabox of JetEngine to add 15 custom fields to users of wp.
I wish they implement custom db table soon for these two features: cpt and meta box

I don't like to switch to acf or other plugins

[2022-10-09 09:33] heisenberg0924 commented on #4131
Hi, you can do that with the jetFormBuilder plugin, there is an option below the select field:
Fill options from -> Generate dynamically
Generator function -> Get balues list from jetEngineQuery
then in the field name section you must put the code bellow:
query_id|prop_for_value|prop_for_label|prop_for_calculated|args_additional
Query_id|Values_from_query_meta_field|Labels_from_query_meta_field|Ca

[2022-10-09 10:55] FerkoHH commented on #2310
Any Update on this?

[2022-10-09 10:55] FerkoHH commented on #3593
Any Update on this?

[2022-10-09 14:10] jornessim commented on #6015
+1
It's essential and will be helpful to have custom database tables.

[2022-10-09 23:35] Joliamendi commented on #4948
Dear jet woobuilder developers, There is a big challenge to display the product title, which will be solved by adding this feature. I understand that you have preferences for each update. But please keep this feature in mind for the next update. Currently, the current control over the length of product titles is very limited.
cheers

[2022-10-10 02:35] awebguy99 commented on #361
+1 I've just started using various Jet plugins and was very surprised the color swatches isn't available on the product page.

[2022-10-10 04:39] cloudghost1 commented on #60
Just wondering if this ever got solved.

[2022-10-10 08:48] Joliamendi opened #6036 "Typography color in jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

In some jet woobuilder style settings, the color is far from typography. like this : https://prnt.sc/bglo_Wl69gwu
This is a very simple request. Therefore, please try to always have two typography and color options next to each other in the widget style settings of this plugin. This is a ux principle.
Another example : https

[2022-10-10 09:08] creativeart commented on #243
+1

[2022-10-10 09:56] 79ho3ein commented on #6034
Another example in RTL : https://prnt.sc/D-WZxW5eWthe

In general, in the new ui, almost all parts of it in RTL are in trouble.

[2022-10-10 10:45] Michaelgimii commented on #361
Hi Dear Crocoblock developers @Floydtm @UraraReika  @Crocoblock

These days you release big updates for your plugins and that's really great. Considering that you are living in the days of making war...
So, do you have any plans to add color swatches to jet woobuilder? This feature is one of the most popular requests from your users on GitHub. I hope you will respond if you are reading this. Even

[2022-10-10 11:18] NimaBakhtiyari commented on #6025
#5922 Repeated

[2022-10-10 11:19] Joliamendi commented on #361
I installed and tested most of the color swatches plugins. Almost all of them had serious interference with jet woobuilder.I hope it will be added to jet woobuilder.

[2022-10-10 11:30] Mrgreen93 commented on #361
The same situation for me, clear roadmap will help so many users and solve their concerns 🌷🙏

[2022-10-10 12:22] alfredo49 opened #6037 "Jet Poup 1.6.0 breaks form made with jetformbuilder when inside it. I have to roll back to Jet Popup 1.5.5"
**Describe the bug**
Jet Poup 1.6.0 breaks form made with jetformbuilder when inside it, roll back to Jet Popup 1.5.5 and all works ok

**To Reproduce**
Create a popup, put inside it a jet form builder.
Then form styles are broken (header, stepts, field etc etc)

**Screenshots**
![screen1](https://user-images.githubusercontent.com/16021586/194865182-763b4a60-0747-47f1-b188-580fa916778c.jpg)

[2022-10-10 12:33] tizum commented on #5992
This is awesome, I wish a dynamic tag was added too

[2022-10-10 13:38] monolithMktg commented on #6015
+1
Needed by devs

[2022-10-10 14:52] valmirselmani opened #6038 "JetEngine Glossary: Field Values with value 0 cannot be saved, related JetSmartFilters Bug"
**Describe the bug**
Field values with a value of 0 cannot be saved in Glossaries. After saving, the field value is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'JetEngine'
2. Click on 'Glossaries'
3. Click on 'New Glossary'
4. Select Data Source 'set items manually'
5. Click on 'New Field'
6. Type 0 in 'Field Value', Type Test in 'Field Label'
7. Click on 'Save'
8. Refresh P

[2022-10-10 17:42] ghost commented on #6015
This will be great feature.

[2022-10-11 02:57] ofmarconi commented on #6015
+1!

[2022-10-11 05:41] awebguy99 commented on #243
I'm a bit confused if this can be done or not with the new Permalink or Plain options.
Can it be set so that the URL is something like mysite.com/shop-category/clothes/t-shirts ?
(Clothes being a category and t-shirts being a sub category)

If not, then +1 to this change.

[2022-10-11 05:42] SanyaOnline commented on #6015
+1

[2022-10-11 07:01] isaacwillz opened #6039 "To be able to separate upsell and related products templates"
Hello,

Is it possible to separate upsell and related product templates? Basically to be able to apply different templates to both of them not same

Best regards

[2022-10-11 08:04] antoinelbch opened #6040 "[feature request] Display SVG from the repeater field using the dynamic data addon"
I created an accordion using the data from a repeater in an options-page.

I follow the tutorial at https://crocoblock.com/troubleshooting/articles/how-to-display-icon-from-the-repeater-field-using-the-dynamic-data-addon/

If you manually add items to the accordion you can select either a Fontawesome Icon or and SVG from the media library.

If you use the tutorial and add the accordion data dynami

[2022-10-11 10:11] Floydtm commented on #6035
It's available right now https://prnt.sc/S18IkAELfP7p

[2022-10-11 10:11] #6035 closed, assigned to nobody

[2022-10-11 11:03] nowrds commented on #776
Any news? Even in the new JetFormBuilder there is no HTML Field available. Really annoying.

[2022-10-11 11:18] Floydtm commented on #6037
Fixed in updated 1.6.1 Let me know if this helped you

[2022-10-11 12:10] alfredo49 commented on #6037
Yes, in my case issue is solved.

Thxs

[2022-10-11 12:10] #6037 closed, assigned to nobody

[2022-10-11 12:31] UraraReika commented on #4095
I merged this issue with [#3122](https://github.com/Crocoblock/suggestions/issues/3122), which is on the same subject so we could deal with it more efficiently.

[2022-10-11 12:31] #4095 closed, assigned to nobody

[2022-10-11 12:36] UraraReika commented on #3036
Hello. Thanks for the feedback.

I've checked your request. Such a goal can be reached using a custom solution only.
I highly recommend you to check our custom service - we take such complex cases, that cannot be implemented globally, and bring them to life https://crocoblock.com/customs/

Thank you for your understanding.

[2022-10-11 12:36] #3036 closed, assigned to nobody

[2022-10-11 12:38] UraraReika commented on #2912
We’ve not heard back from you in a while, so I’m marking this thread as resolved. Hopefully, you were able to find a solution to your problem! If you have further questions, please feel free to open a new topic.

[2022-10-11 12:38] #2912 closed, assigned to nobody

[2022-10-11 12:41] UraraReika commented on #3122
I merged this issue with [#1833](https://github.com/Crocoblock/suggestions/issues/1833), which is on the same subject so we could deal with it more efficiently.

[2022-10-11 12:41] #3122 closed, assigned to MakhonkoDenis, UraraReika

[2022-10-11 13:03] up-creator opened #6041 "Dynamic visibility is_in_stock error (woocommerce)"
When you choose to show/hide widget on Product in stock option, i get error 500 when trying to update.

I have tried in listing grid item and in a default Elementor template for single product(not JetWooBuilder), i get the same error in both places.

**I get this error in my log, when getting error 500.**
PHP Fatal error:  Uncaught Error: Call to a member function is_in_stock() on bool in /var/www

[2022-10-11 13:31] UraraReika commented on #3547
I merged this issue with [#717](https://github.com/Crocoblock/suggestions/issues/717), which is on the same subject so we could deal with it more efficiently.

[2022-10-11 13:31] #3547 closed, assigned to MakhonkoDenis, UraraReika

[2022-10-11 13:58] lestradequentin opened #6042 "Compare two or more query result count on chart"
I am currently creating a project manager for my company :
I have created two custom post type :
One is a "project" post type, and the other is "task" post type.
Of course, each task is related to a specific project, as a children of this project. The "Task" post can have one of the two value as taxonomy term : "todo" or "done"
The thing is : I want to be able to display a chart (pie) on the proje

[2022-10-11 14:18] skcodeme opened #6043 "The ability to add multiple headers and body in the rest API authorization section. Currently the product is limited to a single header or a bearer token. Also we should be able to set the body type as integer. As some rest apis send the body data as normal blocks or integers"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2022-10-11 14:35] 79ho3ein opened #6044 "Ability to remove category base in url for post type - jet engine"
**Please, describe the feature request, making it clear to understand.**

Hi crocoblock team.

In the Rank Meth plugin, it is possible to remove the category base for Post and WooCommerce. But this possibility is not available for post type categories.
I think it would be great if you add a new feature to post type jet engine, so that we can remove the categories base from the url if we want.

tha

[2022-10-11 15:21] #5998 closed, assigned to nobody

[2022-10-11 15:29] fostira commented on #3963
+++1
Much needed feature!
Very inconvenient to just be able to export the data only with "WordPress Ultimate CSV, XML Importer Pro" plugin while others struggle to understand the formatting of the meta-fields and correctly export and import them with ease.

[2022-10-11 15:30] fostira commented on #6044
Good suggestion! +1

[2022-10-11 16:06] Michaelgimii commented on #6044
+1

[2022-10-11 16:38] Bharat610 commented on #243
+1...... waiting!!

[2022-10-11 17:02] JuanCar29 opened #6045 "Query builder, sql advanced mode pagination"
I have a sql in advanced mode that shows me 120 results. I am trying to use the pagination with the option they put, but I am not able. I've checked the documentation and I don't see anything. There is any error ?

[2022-10-11 17:04] JuanCar29 commented on #6015
It would be great

[2022-10-11 17:16] FrencharmeMedia opened #6046 "Bug: HTML Metafield in Taxonomie not editable/showing"
**Describe the bug**
By creating a metafiel (HTML) in Taxonomie, Metafield not working / not"visible" / not editable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to JetEngine Taxnomie
2. Add Metafield HTML
3. Save
5. Go to the create Taxonomie/Metafield not working

**Expected behavior**
Metafield should be editable with HTML

**Screenshots**

If applicable, add screenshots to help exp

[2022-10-11 18:48] stapolin commented on #6035
No, What I mean is the Author's role, not the current visitor role (user role).

I figured it out, though, using User Meta

![screenshot-wedding stapolin ie-2022 10 11-19_47_06](https://user-images.githubusercontent.com/17647985/195174543-3b1915a1-a8da-434b-9b7a-599d6a93ae7d.png)

[2022-10-11 21:11] Mrgreen93 commented on #6044
Also being able to remove the base slug of The CPT itself
+1

[2022-10-12 08:05] tehben commented on #1314
Same issue. Very slow loading times (4-7s).

[2022-10-12 10:38] kino89 opened #6047 "Jet Appointment - Add a role "Appointments Manager" for backend dashboard."
I think it is really important adding a role for users "appointments manager" or a wordpress user capability for manage appointments list in the dashboard on backend.

Right now it is possible only for administrator o user with (manage_options capability), we need to add to some users (not administrator) the ability to manage (add, edit, delete) appointments.

[2022-10-12 10:47] simonst commented on #1314
same here, since the latest update JetBlocks 1.3.4 I am getting an Animation which is closing the menu. which makes page load very slow.

[2022-10-12 13:56] Zhil3200 opened #6048 "JetBooking: scheduling feature for a travel site"
**JetBooking is a great plugin**, but now it is maximally intended for hotels and real estate! Is it possible to make a revision for use on a travel site:

1. the ability to choose the duration of the tour
2. the ability to set a schedule by day: the choice of multiple dates for the tour in the calendar (especially for events that have a unique schedule)
3. the ability to see the number of free pl

[2022-10-12 16:26] rtpHarry commented on #2332
Thanks @thorsolutions you got me heading in the right direction.

For me, the `is_archive()` worked but I wanted to narrow it down so I didn't accidentally affect other archives.

But `is_post_type_archive( 'team-member' )` wasn't working.

After modifying it to dump out the query like this:

[code]

I discovered that I was actually in a taxonomy archive for 'team', so this was my final code that

[2022-10-12 20:47] JuanCar29 opened #6049 "Quey builder improvements"
It would be nice if sql queries could be used within others so as not to have to copy all the code. It would be like calling stored procedures. Some type of filter or search for the queries since if you have many it becomes a mess to find them.
![Captura de pantalla 2022-10-12 223602](https://user-images.githubusercontent.com/90837626/195444529-6c6d801a-12ea-4714-8cab-8dcf1b761d10.png)

[2022-10-12 22:08] Miheyeugene commented on #1967
Hi guys! Hi [swinggraphics](https://github.com/swinggraphics)! Thank you for nice tutorial, it helped me. But it would be more better if somebody knows how to do radius search by zoom/pan the Map Listing to a specific area than the Listing Grid updates accordingly

[2022-10-13 06:43] murphylas opened #6050 "Add Ability to create, edit, and delete WP Menus in Elementor Page Builder"
Currently, menus can only be edited in the WP editor. The problem is that almost none of the advanced features can be used with menu items. For example, you cannot make a menu item visible/invisible using Dynamic Visibility. Another example is you cannot call popups from WP menus.

Things get more serious when menu items allow users access to areas of your website when they should NOT have such ac

[2022-10-13 10:45] Benoit0311 opened #6051 "Adding a category/taxonomi label and/or CPT name to JETsearch"
Hello Crockoblock

I would like to submit a request for the JETsearch plugin.

1. The features I miss is a label with the taxonomi/category in the search results dropdown.
2. The features I miss is a label with the CPT name in the search results dropdown.

The feature with the Custom fields works fine, but I miss a Taxonomi and CPT input field

If you take a look at the screenshot "Search_results_

[2022-10-13 12:26] sekhsoyebali opened #6052 "Field request for JetFormBuilder"
Hello Crockoblock

I would like to submit a request for the JETFormBuilder plugin.

I want to fetch the data from terms by searching on the input field and select multiple terms in the same field, this feature is useful for selecting tags taxonomy for frontend sumbission process. I have attached one video, you can understand the feature request by watching the video.

https://user-images.githubuse

[2022-10-13 14:07] kskonovalov commented on #5850
+1 please

[2022-10-13 14:34] EDR1EN commented on #5449
+1

[2022-10-13 21:36] Lonsdale201 commented on #6052
You can easy replace the basic select with select2, and you will have this features :)

[2022-10-13 23:46] oceandiveloper commented on #6015
+1 I'm often torn between the choice of having slow CPT queries with all the benefits of CPTs on the one side and fast CCT queries thanks to separate DB tables without the benefits of CPTs (e.g. taxonomies, ACF support) on the other side.
If we could have a new option to combine the benefits of both methods, meaning using CPT with taxonomies and ACF support while storing meta fields in a custom DB

[2022-10-13 23:53] oceandiveloper commented on #6007
Yep that would be handy :-)

[2022-10-13 23:55] oceandiveloper commented on #5694
very nice idea. Dynamic visibility can be frustrating and time consuming to configure the way it is right now.

[2022-10-14 00:04] Mrgreen93 commented on #6015
Hi @oceandiveloper Thank you
That's why i exactly asked for! I always get headache between choosing CPT or CCT!
But with this solution there will be no confusion and headaches any more
CCT should be used for its own use cases
And CPT should be improved with this solution, I hope

[2022-10-14 07:42] sekhsoyebali commented on #6052
Hello @Lonsdale201, Can I add multiple terms with select2 option, which have you mentioned.

[2022-10-14 07:45] Lonsdale201 commented on #6052
The whole point is that you set up a select block (Jetformbuilder) and enable the mutliple select option for it. You "install" the select2 jquery on your site, and hook select2 to the select you created in jetfombuilder. give it a few commands and you're done. https://select2.org/

[2022-10-14 08:08] edgBllw opened #6053 "JetFormBuilder Custom Hooks don't work properly"
I noticed two bugs:
1. ) All hooks and filters dont't work if the form sbumit type is set to AJAX.
2. ) the functions wp_redirect or wp_safe_redirect dont work inside the action

[2022-10-14 11:03] up-creator opened #6054 "Other image sizes available when uploaded with JetFormBuilder"
When uploading images with JetEngine Forms or JetFormBuilder, the image is uploaded as it is. When uploading a normal image in WordPress it is uploaded and scaled to other resolutions(150px, 300px, 1024px etc).

When making a listing grid item with the image from the form, it can only show the uploaded image, and not thumbnail(150px), medium(300px) or large(1024px), as we can with images uploaded

[2022-10-14 13:07] kaskad88 commented on #1103
@Nelmedia

The ability display `Query Results Count` will be in JetEngine v3.0.6 release https://tppr.me/jqj6u .

We will implement this in the future releases, but there are no strict deadlines yet

[2022-10-14 16:23] soyeb-coder commented on #6052
I don't know how to code, Can you please record screen and share with me, its very helpful and I am very glad..😀

[2022-10-14 16:26] sekhsoyebali commented on #6052
I don't know how is hook works, Can you please record your screen and share with me, its very helpful and I will be very glad..😀
Thank you in advance

[2022-10-14 17:11] sekhsoyebali opened #6055 "JetEngine - Want to add Term slug after the Post type slug"
Hello Crockoblock

I would like to submit a request for the JetEngine plugin.
I want to add term slug after the custom post type slug but no options for this.
I have tried to put the term's marco in the Rewrite slug field but not work - https://ibb.co/khtN1HT

I will be waiting for your updates.
Thank you

[2022-10-14 20:48] diogui opened #6056 "Video Player Widget : Allow Poster from dynamic field"
On the video player widget the poster can only be a "static" one, no option for a dynamic variable. Right now I'm using thumbnail overlay but in terms of performance is worst as it loads on top of the video. Poster loads faster and looks better. Thanks

[2022-10-15 06:13] kervis commented on #1850
nothing?

[2022-10-15 07:13] AhYazid commented on #3859
I also had a problem with that, when adding or editing a post suddenly the account page for the user disappeared permanently. by using this method everything works normally again. Thanks very much

[2022-10-15 10:42] AnkitLawctopus commented on #1246
Everyone wants this. why isn't it done yet?

[2022-10-15 15:59] sekhsoyebali commented on #2960
+1

[2022-10-16 11:03] Michaelgimii opened #6057 "Ability to enable/disable all Jet Engine features"
**Please, describe the feature request, making it clear to understand.**

Hi crocoblock team!

Currently, JetEngine offers the ability to disable or enable some features. Like cct which is disabled by default but we can enable it. But it would be great if Jet Engine adds this feature to all its modules.
For example, I want to use only the metabox feature of Jet Engine. I enable it and disable othe

[2022-10-16 12:29] 79ho3ein opened #6058 "auto alt for product image in product grid widget - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

Hi

It would be great if you could add a new option to the jet woobuilder widgets (product grid/list & categories grid), so that the alt will get the product images automatically from the product title. This will be great for SEO.

thank you

[2022-10-16 16:26] mateitudor commented on #2548
This is a really good fix, too bad it flashes "All" before it applies the filter. :(

[2022-10-17 05:41] pajtai commented on #2548
@mateitudor I have to agree. The pause between the initial state and the updated state can be quite lengthy, so the jQuery fix really isn't practical.

[2022-10-17 06:36] SolunaCG opened #6059 "Pagination Layout like "1/5, 2/5, 3/5, 4/5, 5/5""
Hey :-)

After just writing with the support I was told to add a new feature request about an alternative pagination layout for the pagination widget. What I´m looking for is a pagination for the listing grid slider like

"1/5", "2/5", etc... so that it only shows the current slide and the maximum amount of slides that are in the current slider.

I worked with the "Smart Slider" before and with th

[2022-10-17 07:44] kskonovalov commented on #2548
you can maybe hide it with css and after it's loaded show it back. like this:
1. add class to the filters like .filters-wrapper (or use existing)
2. add to css .filters-wrapper {display: none;}
3. change the code to
`<script> jQuery(window).on('load', function() { jQuery(".jet-color-image-list__item input[data-label='Курсы английского языка']").click(); jQuery(".filters-wrapper").show(100); }); </

[2022-10-17 09:56] UraraReika commented on #6058
Hello @79ho3ein !

Unfortunately, we do not plan to introduce such functionality into our plugin. but with next version of our plugin you will be able to rewrite template in witch you can modify thumbnail output function.

For example:

This template `wp-content/plugins/jet-woo-builder/templates/widgets/global/products-grid/item-thumb.php`
like this
[code]

Like that $thumb_args = [
	'alt' => wp_s

[2022-10-17 10:19] andeng1106 opened #6060 "JetEngine + Jetfilter compatibility issues with Stackable"
**Describe the bug**
Issue provided below are all from Stackable and JetEngine user:

Stackable dynamic content not fully compatible with JetEngine + Jetfilter when block is placed first.
In a search page (using Jetfilter + listing), if you put the stackable title block as the first element, it shows the CPT titles but not other elements such as the post image or custom fields. However, when you s

[2022-10-17 10:57] jacktaffa opened #6061 "Please add OEmbed Callback or OEmbed widget for embed any media like facebook video"
https://developers.elementor.com/docs/widgets/simple-example/

[2022-10-17 11:05] this-is-ries commented on #4284
+1 much needed, Jet Smart Filters really need to be accessible

[2022-10-17 12:54] 79ho3ein commented on #6058
thank you @UraraReika

[2022-10-17 12:54] landingideas opened #6062 "Please Add Pagination to Post Widget"
It would be great to add Pagination to Post Widget since it add lot of customization that you can't with an Archive Blog Widget.

Also, it seems strange that this widget does not have this feature since you can use it for archive.

If that's not possible it would be great at least to have the opportunity to add Post Widget on Pagination Widget (from JetSmart Filters) so we can make it happen.

Tha

[2022-10-17 13:02] Michaelgimii commented on #6058
Hi @UraraReika , I had a question about the jet woobuilder plugin if possible...

Will jet woobuilder update be slow from now on? Previously, major updates were released for it almost every 1 month, but it has been very slow for almost 4 months. thanks

[2022-10-17 13:24] UraraReika commented on #6058
We are currently working beyond our capacity, the situation is very difficult and it is difficult to release large and high-quality updates with the same frequency as before. We make every effort to support our product. But don't worry, everything will be fine.

[2022-10-17 13:31] 79ho3ein commented on #6058
Do you know that Ukraine has been at war for several months? In fact, they have been attacked...

[2022-10-17 13:33] Michaelgimii commented on #6058
yes.

[2022-10-17 13:35] 79ho3ein commented on #6058
So please don't expect everything to go as before.

[2022-10-17 14:12] mrachid82 commented on #824
Solution given by @mcj777 worked fine for me, I just added (p) to css element since in my case I target text with paragraphs. Thank you @mcj777.

[2022-10-17 18:03] damianrivadulla opened #6063 "JET MAP LISTING CLICK PIN AUTO ZOOM IN CLOSE POPUP AUTO ZOOM OUT"
Hi All

Anyone know haw can this be done? Here is an example below:
https://villavalencia.com/neighborhood/

When the user clicks on the "pin" it zooms in automatically, and when close the popup it zoom out automatically.

Thanks

[2022-10-17 18:14] studiokoch commented on #5943
Any update on this case?

[2022-10-17 20:20] ZacharyN commented on #2515
+1

[2022-10-18 06:23] RandevSeneviratne opened #6064 "Please add a preload animation to the Smart Filters plugin"
Currently when using the Smart Filters, the default behaviour is to reduce the post widget opacity to 50% while the filter is being applied.

This behaviour is not great, and not very clear to the end user. This is especially worse when browsing on slow networks as it appears the website is hanging.

I have also seen multiple custom solutions for this online, including in the Crocoblock community

[2022-10-18 08:13] 79ho3ein commented on #6050
+1

[2022-10-18 09:28] Michaelgimii commented on #6064
#3421

[2022-10-18 10:31] ghost commented on #160
+1

[2022-10-18 10:52] ICR17 commented on #160
+1

[2022-10-18 13:54] 79ho3ein commented on #6057
+1

[2022-10-18 17:56] razkoko1 opened #6065 "Jet froms - calculate multiple meta field inside checkboxlist / ratio list."
Crocoblock is one of the best plugins for WP websites.
And with some more simple features it will be able to replace custom coding for wp websites.
I belive this is one of those important missing feature.

The problam:
No way to make advance custom calculation with checkbox list with post types as the items.

We have a booking website and we want to calculate each service with advance formula.

Fo

[2022-10-18 18:33] quirkautogroupmaine commented on #2548
Thank you for sharing this tip. I placed this code in the bottom of the body in an Elementor template and it's not working. Does it need to be in the page header?

[2022-10-18 19:58] kskonovalov commented on #2548
you should adjust the code for your case, at least check the data-label=['...'] selector, but better check all selectors

[2022-10-18 22:10] Mrgreen93 commented on #6057
Yup, its totally good idea. Also "metabox plugin" has this feature to enable/disable all of the features
Also their plugin is so light weight, i think this is the reason

[2022-10-18 22:44] lestradequentin commented on #2676
+1

[2022-10-19 04:57] edgBllw opened #6066 "JetFormBuilder - Set value for field if... could be improved"
Please add a negative version of the respectively conditons. It'd make working with this feature much more easier!
For example I have a field thats a select list with 200 options. And i only want to set a value tor another field if the big select list field value ist NOT "value-1", "value-2" or "value-3". But currently you only can do: Set value if select field is equal to "value-1", [...] "value-

[2022-10-19 05:04] edgBllw opened #6067 "JetFormBuilder Multi step form BUG with Save Form Progress Addon"
If you have a multi step form and you're also using the save form progress add-on for this particular form, it doesn't work properly. it does store the data, but not the page progress. But thats not even the bug. the bug is when you reload the page the next and previous buttons are still disabled even if you've filled out all necessary fields for that page. You can only move forward if you input s

[2022-10-19 05:08] edgBllw opened #6068 "JetFormBuilder - Min and max length input bug"
If you set a number for these two properties it cant be undone. at the initial state nothing is filed out, but as soon as you do (maybe because it was a mistake), and delete our input afterwards because it was a mistake, because it sets its value back to one which is different to nothing.

https://user-images.githubusercontent.com/105508226/196602463-aaf0398a-698e-4a2e-96bd-38130db4db3e.mov

[2022-10-19 05:22] edgBllw opened #6069 "JetEngine Admin filters bug"
I have two select lists as admin filters. One of them has regular options and the other one has glossary options. It you use them as an admin filter, and toggle on use name as placeholder there's a little bug. the select field with regular options renders the en

tered placeholder as option even if you toggled on "use name as placeholder which should overwrite that. the second field which has the

[2022-10-19 05:25] edgBllw opened #6070 "JetFormBuilder Heading field name"
I think it's a small bug. Why does the heading field needs a field name? it you look at the source code it's never used. If it's actually a bug, please remove the field for the heading field where we have to enter the field name.

[2022-10-19 05:35] edgBllw opened #6071 "JetEngine Dynamic field visibility tor CPT interface little bug with glossary"
If you dynamically show a field thats very ease thanks dynamic visibility settings. but if you want to say: Show this field it this field has the value of "Test" there's a little bug. I the field's options that i work with the rules for the visibility belong to a glossary you don't have the regular dropdown select menu but a search. I noticed it does only Exact matching. It should be included a no

[2022-10-19 08:45] RuanPienaarCode commented on #1470
+1 We have been enjoying using jetEngine, but we have been slowing down the more content we have loaded. Crocoblock please prioritise this issue. The biggest request from my employer in meetings has been performance but there is nothing more I can do, other than moving to a different plugin. Hope you can improve the server queries this year or early next year. Really enjoy your products otherwise.

[2022-10-19 09:38] sekhsoyebali commented on #6057
+1

[2022-10-19 09:51] paulpsky opened #6072 "Jetformbuilder form records admin columins"
Being able to choose to show some of the meta fields data in admin columns so you can see unique information for each form submission for example:

Form contains Name be great to choose the name field to show as an admin column in the form records for ease of identifying information quickly rather than clicking each form submission to find relevant information.

[2022-10-19 11:32] shinTM opened #6073 "JetPopup ajax loading sys"
wp_script_is() | Function | WordPress Developer Resources
Determines whether a script has been added to the queue.

1. Первая загрузка происходит как обычно, тем хитрожопым способом как ты сразу сказал, при этом на аякс загрузку ловятся все ассеты, которые должны подключиться и кешатся. Словить их можно через вызов ВП-шного хука для принта скриптов. Есть риск что так не поймает скрипты, которые до

[2022-10-19 11:54] edgBllw opened #6074 "JetFormBuilder E-Mail validation"
It you've set the insert/update post submit action the email validation doesn't work. in the messages settings you can set a custom message if an entered email is invalid. Even if you enter an invalid email in the frontend, the form just don't cares. this error messages never comes through. for some reason that worked in jetengine forms

[2022-10-19 12:48] paulpsky opened #6075 "Profile Builder allowusers to customise elements in colours of their choosing"
Profile builder function that allows users to be able to customise their own profile page colours etc

[2022-10-19 13:16] Topicimes opened #6076 "Current Post Author Meta - JetFormBuilder"
Hello,

It would be great to be able to get the Meta data from the post author via JetFormBuilder.

Like here:
![image](https://user-images.githubusercontent.com/85583549/196701523-2dc606bc-07fd-468d-83eb-efbad979d794.png)

Indeed, I want for example to have a Webhook that sends an SMS to the author of the post. For that I have to get the information from his meta author data.

Thank you !

[2022-10-19 13:41] filwi opened #6077 "Bug in Query Builder - Meta Query Clauses - JetEngine Meta Field - Return values"
**Describe the bug**
I've got a datetime field that I want to use to filter a query by.

When I input what seems to be the correct field and choose "Field value" in what the JetEngine meta field choice should return, I get no results, or random results.

However, if I choose to return "Field name/key/ID", it suddenly works correctly, even removing posts if I change the date in the stored field.

T

[2022-10-19 13:46] UraraReika commented on #4013
Hello everyone.

So for datepicker in our plugin we use this library https://github.com/longbill/jquery-date-range-picker. And this library doesn't support jalal calendar as it if. The only thing we can do in this situation is implement translation. Wiil you be okay with that?

Thank you for your understanding.

[2022-10-19 13:53] UraraReika commented on #5951
Hello @tvalades ! Thanks for the feedback.

For the time been our plugin have no notification system and in this case we can provide unblocked pending dates. Because in this case the person who booked second will not informed that this dates were took by some other person after admin approve the first booking. So we will keep it as it is for now. As for your second request you need to create addit

[2022-10-19 13:53] #5951 closed, assigned to UraraReika

[2022-10-19 14:34] LTimerr opened #6078 "JetSmartFilters | Automatic indexing for glossaries"
Hello, I would bring to JetSmartFilters the extension that glossaries are also automatically indexed and, that when you create an ad, it is immediately displayed in the filters.

So I have the problem that every time a new ad is created, I have to re-index the filters, which is quite inefficient for me.

I hope this can be implemented.

Thanks for reading

![Screenshot_5](https://user-images.githu

[2022-10-19 16:32] bortraws opened #6079 "Listing Grid not working as a slider when using Inject Alternate Listing Item option"
**Describe the bug**
The Slider option of the Listing Grid Widget is not working when you inject an alternative listing item using the 'Inject Alternate Listing Items' option.

We have 8 items in a Listing Grid. 4 are shown at the same time. The grid is build up of 2 different item layouts (see attached image).

The layout of the grid falls apart in the Elementor editor as soon as the Slider optio

[2022-10-19 16:34] bortraws commented on #282
The slider option doesn't work when a grid of alternative Listing items is used. The created grid falls apart as soon as the Slider option is turned on. Each item is then automatically placed on its own row instead of sliding the grid as a whole. See this issue for details: #6079

[2022-10-19 17:37] 79ho3ein commented on #4013
Hi @UraraReika , What is meant by implement translation?

[2022-10-19 17:50] gentleShark commented on #5639
@valmirselmani Sadly, it seems Crocoblock does not even test for performance and their solution is to tell the customer it's fast enough. My chat with them today:

Vadim: Our templates do not slow down the site. Performance depends on the server and on caching

Me: I've installed the crocoblock dynamic websites in multiple environments, on hosted wordpress and on a VPS with plenty of CPU and RAM.

[2022-10-19 23:21] rtpHarry commented on #2332
Actually that code did not work as great as I thought it did.

`pre_get_posts` is fired multiple times on a page, for all of the queries. Like, for example, under the hood, menu's are just collections of posts.

This code did sort my archive query but it also broke other parts of the page.

After going back to my `wp_die` method, I ended up with this code which now only runs to organise that exact

[2022-10-20 07:18] ryomahostingph commented on #1890
how to use this in form? auto fill the age in form

[2022-10-20 07:23] mateitudor commented on #5639
Unfortunately this is the case with many plugin developers: "works fine for me ¯\_(ツ)_/¯" & then close tickets or just ignore them. Disappointed it's the case with Crocoblock.

[2022-10-20 07:42] Mrgreen93 commented on #5639
I believe they should focus on the performance of their plugins and improve the existing features, Not just adding features.

[2022-10-20 07:46] UraraReika commented on #4013
I mean auto translate for this labels https://tppr.me/UOvOe

[2022-10-20 08:09] 79ho3ein commented on #4013
can be useful. Thank you

[2022-10-20 10:19] DevGregory opened #6080 "JetEngine: Posts Number for Repeater Listings"
Hi all,

I'm not sure why this occurs, but when adding a Repeater Listing to the Listing Grid widget, the "Posts Number" setting no longer works.

For example, if I add 10 items into the repeater but only want 5 to show within the listing grid, I would usually set the "Posts Number" to 5. I have since been informed that this doesn't work for repeater listings, which I found really strange.

![imag

[2022-10-20 10:30] edgBllw opened #6081 "JetFormBuilder Save Form Progress Another little bug"
Yesterday i submitted an issue that the save form progress add-on did't work properly for jetformbuidler form. I saw that you've already fixed with an update. thanks for that!
But i noticed another little bug. The add-on now ignores the html attributes. For example: I have a field with a min length of 2 characters. If i'm typing 1 char and then reload the page the buttons let me through instead of

[2022-10-20 11:20] UraraReika commented on #6039
Hello @isaacwillz. Thanks for the feedback.

Unfortunately we do not plan to introduce such functionality into the core of our plugin. But you can use on of the hooks to handle this. Like this

[code]

Here you manually rewrite template for up-sells products where 14199 is the id of Archive Item template.

[2022-10-20 11:20] #6039 closed, assigned to nobody

[2022-10-20 11:33] Wibbskiii opened #6082 "Preselected filters and select all for Smartfilters"
On a smartfilter I want to be able to preselct som options.

It would also be nice to have a Select/deselct all button on filters.

[2022-10-20 11:36] UraraReika commented on #6001
Hello @rodrigofreitas4598! Thanks for the feedback.

For that moment you can find controls for this endpoints inside Account content widget https://tppr.me/8j4mI.

[2022-10-20 11:36] #6001 closed, assigned to nobody

[2022-10-20 11:38] 79ho3ein opened #6083 "Two requests for the add to cart button for the product grid widget - jet woobuilder."
**Please, describe the feature request, making it clear to understand.**

Hi, Please check these items if possible to improve the product grid widget.

1- Possibility to edit the text of the **[read more button](https://prnt.sc/VSdudRuJ-MS7)**. (As you know, if we activate the Add To Cart Button feature in the product grid, this button (read more) will be displayed if the product is variable)

2-

[2022-10-20 11:42] unitedonline opened #6084 "JetBlocks plugin without requiring Elementor"
I would like to kindly request for your development team to look into making the JetBlocks plugin independent of Elementor, (or perhaps develop a separate plugin) so it may be used on Bricks builder and Gutenberg as a stand alone plugin.
The main reason is that I would like to use the Password Reset functionality.

Thank you

[2022-10-20 11:51] unitedonline commented on #1127
Any news on this please?
JetBlocks is not the solution because it depends on Elementor.
This functionality must be independent, so developers can use other page builders also (example - Bricks builder).

[2022-10-20 12:40] Aitsimhand opened #6085 "Jet Smartfilters: Hierarchical filters on range filter"
Right now hierarchical filter is only working on a "select" filter, would be very useful if this was made possible for the range filter as well. For example when you create a listing website for real estate the MIN and MAX value change based on the contract type (Rental or buying). This is just one example of why this would be useful, but I think this gives you a better idea of what i mean.

This

[2022-10-20 12:56] Joliamendi commented on #5885
Hi @UraraReika , Is there any news about the release of version 2.5? please

[2022-10-20 13:29] metaphysika commented on #3460
I, too, would like to see some movement on this request. I want to use the plugin for booking appointments where client confidentiality is important. As such, without a way to show indivudual providers a custom list of just their client's appointments on the front end makes this plugin completely unusable. I really am impressed at how many custom dynamic data things Crocoblock plugins can accompli

[2022-10-20 14:43] mateitudor commented on #6078
Smart Filters desperately needs an update for so many issues :(

[2022-10-21 03:57] magdakubis commented on #1314
Same issue. Constantly keeps loading on mobile. Seems to work fine on desktop.

[2022-10-21 03:59] magdakubis commented on #1314
What did you replace it with? If I leave the mega menu on desktop (where it seems to work fine) but remove it on mobile - do you think that will speed up the mobile loading time?

[2022-10-21 04:00] tehben commented on #1314
Issue/suggestion is closed. Maybe we should post another one…

[2022-10-21 04:34] TotalKommando opened #6086 "Request: Easy Open Graph Support"
I have looked around and found no info about this in Crocoblock, and contacted support and was told to suggest it here.

What I am looking for is Open Graph support that is nicely integrated with JetEngine, for example I would like to be able to define what elements in a CCT post would have priority on what image is used when link is shared on Discord for example.

At the moment when I share a CCT

[2022-10-21 05:05] mvogelenzang commented on #1230
For those who need this, it is easy to import https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/blob/master/all/all.csv into glossaries in JetEngine.

[2022-10-21 07:16] drewbclark commented on #5694
I am soooo for this! They did query builder and it is incredible and so useful. Now they need Dynamic Visibility Builder! It would change the game!

@Crocoblock we also need dynamic visibility for an entire page please & if the visibility doesn't pass then being able to either show a template or redirect to a different page/url would be incredible and so useful! Dynamic.ooo has this in their dynam

[2022-10-21 12:12] filwi opened #6087 "Feature Request: Query Builder tab that Combines All Query Options using Logical Operators"
**Please, describe the feature request, making it clear to understand.**

I'd like to have an "Advanced" query builder tab that would let me combine all the different types of options available using And, Or, flow operators (i.e. paranthesis in mathematics) and comparison operators.

Basically, I'd like to treat each tab in Query Builder as a *Clause*, and be able to combine multiple instances eac

[2022-10-21 12:28] oncps opened #6088 "VERY IMPORTANT - REMOVE MEDIA WHEN CLICK IN TRASH"
HELLO PEOPLE.
HAVE YOU NOTICED THAT, WHEN A USER CREATES A POST THROUGH THE FORM (JETFORMBUILDER), AND HE HAS THE OPTION TO ADD FEATURED PHOTO AND PHOTO IN THE GALLERY, AND IF AT ANY MOMENT HE NEED TO "CHANGE" THE PHOTO, JUST CLICK ON THE GARBAGE (DO FORM, AND CHANGE THE PHOTO FOR THE SAME FORM, CORRECT?

OK, BUT HAVE YOU NOTICED THAT INSIDE WORDPRESS, THE PHOTO HE REMOVED FROM THE FORM IS STILL T

[2022-10-21 12:31] oncps opened #6089 "CROCOBLOCK VERY IMPORTANT, LOOK THIS"
WATCH THE VIDEO BELOW!!!

Hello how are you ?
The crocoblock needs to create a function, for form (JetFormBuilder),
example:
if the User fills in a Hidden Type field, but he unintentionally fills the field, but decides to choose another item from the select field, note in the video below, that the form keeps what was typed in that hidden field.

See in the video that in the select field, I selecte

[2022-10-21 13:20] filwi opened #6090 "Query Builder: Post not in doesn't work when Post in is filled"
**Describe the bug**

When Query Builder - Post & Page - Post in has a value, then it ignores whatever is in the "Post not in" setting.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a query
2. Fill query with correct post types etc.
3. Add a collection of value to Query Builder "Post & Page" tab "Post in" value (for example, a relationship)
4. Add a post or collection of posts to ex

[2022-10-21 13:56] kaskad88 commented on #5656
I merged this issue with https://github.com/Crocoblock/suggestions/issues/5624, which is on the same subject so we could deal with it more efficiently.

[2022-10-21 13:56] #5656 closed, assigned to kaskad88

[2022-10-21 14:23] JPITH opened #6091 "JetWoobuilder: archive linking"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

So i ask someting when creating a archive item have the possibility to add the link of the archive directly on a woobuilder module or on all

[2022-10-21 14:33] coryhubbell commented on #1314
It will never get fixed properly. We abandonded Jet because of this type of behavior. They dont care.

[2022-10-21 16:43] mehdimoradi1500 commented on #6057
Hi, so excited for this request @kaskad88
Each user base on the builder is using, should be able to disable or enable the JE's widgets/features
For instance, im using bricksbuilder with JE, so i don't need Gutenberg and elementor widgets of JE! So i should be able to disable them
Please consider this note too

[2022-10-21 22:22] #6012 closed, assigned to kaskad88

[2022-10-21 23:42] oncps opened #6092 "standardize Dynamic visibility for all"
please need to standardize dynamic conditions, ✅ in query builder ✅ listing grid ✅ dynamic visibility. for example, in the advanced tab of the element, when we select the "dynamic visibility" option, there is no option "greater than or equal" or "less than or equal", only the option "greater than" or "less than".. but there in the listing grid in posts query, there is the option "greater than or e

[2022-10-23 18:01] oncps opened #6093 "ATTENTION CROCOBLOCK!!! Important"
ATTENTION CROCOBLOCK!!! I would like to vent here, speak some constructive criticism.. At first, crocoblock is a great plugin, no doubt... But we web developers who use crocoblock plugins miss some features on a daily basis.... There on github, I see so many suggestions that the user asks to add features, let's say 97%, are great suggestions, but often crocoblock doesn't even care about it, or whe

[2022-10-23 18:42] Michaelgimii commented on #4948
I have fixed this feature by using custom css for now. But I really hope this feature will be added in the new version. if possible. Crocoblock team🙏🌹

[2022-10-23 19:33] Disenowebclub opened #6094 "Multivendor-marketplace"
Neither we nor support have found a feature for the seller to manage, create or modify WooCommerce orders from the front-end. We believe this is a fatal bug for the service offered by Crocoblock "multivendor-marketplace". There is no use being able to create products on the front-end if you cannot manage sales.

We look forward to prompt news on this matter.

[2022-10-23 19:43] Disenowebclub opened #6095 "Appointment and Booking - Multi currency switcher"
The price of the services created with Jet Appointment and Jet Booking are not taken as a price by WPML, therefore it is impossible to make a currency exchange.

We understand that this happens because the price of the product of a Jet Appointment and Jet Booking service is not identified as the Woocommerce price until the moment of finalizing the purchase.

Technical Support does not have a solut

[2022-10-23 23:54] graeme-farhomes commented on #6015
+1

[2022-10-24 06:23] mateitudor opened #6096 "JetEngine - Listing grid injections - wrong current object within the grid"
**Describe the bug**
The current object data is correct while editing a listing item, but it pulls the wrong (neighbor item) data while in a grid with other item types. Wondering if this is a _me_ bug or a bug bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 listing items & use them together in a listing grid. One of them is the injection.
2. Use %current_id% or the post slug or

[2022-10-24 12:16] Michaelgimii commented on #4948
Hi @UraraReika , I have a question...

To use this feature, I use the following code. But in the iPhone browser (safari) at the end of the text... or three dots are not displayed. Is there a solution for that? thanks

.jet-woo-product-title {
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
}

[2022-10-24 13:22] UraraReika commented on #4948
This code was presented by @79ho3ein  and our team did'n test it. But this code is not universal and can cause some problems

[2022-10-24 13:26] Michaelgimii commented on #4948
Thanks for the reply, but is there any way we can use it temporarily before your official release?

[2022-10-24 13:31] UraraReika commented on #4948
We will implement this functionality but like in Elementor without specific CSS properties. Because they can cause some problems in different browsers.

You can use this code this is more optimal
[code]
But in this case you will be able to get only 1 line

[2022-10-24 13:34] Michaelgimii commented on #4948
thank you olexander.
But that's exactly the point. Is there no way we can set the number of lines? This is something that is great and creates an advantage over the two existing options (words and letters).

[2022-10-24 13:38] SEwebm opened #6097 "Feature Request JetSmartFilters - Hierarchical Filter: Combination of Radio and Checkbox Filter"
I've tested and researched for plenty of hours, but could not find a method to achieve the following goal:

Let's assume I have two Categories: Cat1 and Cat2.

Furthermore I have three Tags: Tag1, Tag2 and Tag3.

Additionally I have two Posts: Post1 and Post2.

Now to the relations:

Post1 is in Cat1 and has Tag1 and Tag2.
Post2 is in Cat2 and has Tag3.

I want to filter by Categories AND Tags. I

[2022-10-24 13:38] niklas-himself opened #6098 "Filter appointments with Jet Smart Filter "Date Period""
A date-field in the front-end with Jet Smart Filters and if you choose a date it filters the services of JetAppointments.
The idea is to just show services which are available on that specific date.

[2022-10-24 13:46] UraraReika commented on #4948
Solution that gives you opportunity to do this requires `box-orient` property set to `vertical` but `box-orient` is non-standart.

[2022-10-24 13:52] Michaelgimii commented on #4948
thank you again

As a last question, **-webkit-line-clamp: 2;** Fixes the line count issue. Do you not recommend it?
I've tested it in different browsers and it works fine. The only problem is that three dots are not displayed in the Safari browser.

[2022-10-24 13:56] UraraReika commented on #4948
Unfortunately this option doesn't work without `box-orient: vertical`

[2022-10-24 14:00] Michaelgimii commented on #4948
Thank you for your time olexander.

[2022-10-24 14:09] UraraReika commented on #5220
Hello @bbua97. Thanks for the feedback.

In our plugin we owerride WC templates as well to make our widgets and endpoints work properly. So if you want somehow owerride this template you should owerride JetWooBuilder templates.

If you have difficulties feel free to contact our support team.

Thank you!

[2022-10-24 14:09] #5220 closed, assigned to UraraReika

[2022-10-24 14:21] rtpHarry opened #6099 "jetengine query builder - wc products query built before `product_type_selector`, impacting product type queries"
**Summary**
Are you hardcoding the types of woocommerce products that are being searched to the built in product types, maybe?

Because my queries don't work for WC product types that are made from WooCommerce addons, eg `booking` and `accommodation-booking`, unless the `product type` of the query is explicitly set.

**Describe the bug**
I have WooCommerce Bookings installed on top of WooCommerce.

[2022-10-24 14:38] rtpHarry commented on #6099
Looking at the code, it seems you are pulling in the list of product types using a woocommerce function.

The same function is being used to pass the options to the Vue component, and to build the final query.

Building the javascript vue component:

<img width="1253" alt="image" src="https://user-images.githubusercontent.com/1038062/197550873-e40db58e-4146-44c6-b9dc-74f76915d6ed.png">

Building t

[2022-10-24 18:26] Cosirax commented on #60
Would be really nice to have this implemented soon!

[2022-10-24 23:02] leftcoast1 commented on #2436
My filter is a bunch of categories that I added using "Include" in the filter's settings. Could this code be adjusted to change the order of those categories?

[2022-10-24 23:25] breakused commented on #2632
+1

[2022-10-25 08:43] mattlecount opened #6100 "Do not allow spaces in text field for username on Jet Form Builder registration form"
If using Jet Engine profile builder with profile urls using the username in the url structure. Spaces create an error.
Username field should have default validation so that **no spaces** are allowed when used in a Jet Form used for registration.

[2022-10-25 13:19] filwi opened #6101 "Bug: Repeater field names don't work with extended alphabets"
**Describe the bug**
Repeater field names allow the user to use any kind of letters when naming the field (during meta box or post type creation).

However, when trying to show the repeater field using a Dynamic Repeater block, only fields with standard English-language a-z + 0-9 lettering seems to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a repeater.
2. Create a repeater

[2022-10-25 13:36] filwi opened #6102 "Bug: Repeater Field delimiter Trims intentionall whitespaces"
**Describe the bug**
When adding a space at the beginning or end of a delimiter, that space is removed (trimmed).

Thus is it not possible to create sentence-like repeater fields, such as "I work with computer, graphics, QA."

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Dynamic Repeater.
2. Add ", " as a delimiter.
3. The delimiter is changed to "," on the front end.

![Trim1](ht

[2022-10-25 14:10] UraraReika commented on #5235
Hello @79ho3ein, thanks for the feedback.

Unfortunately we do not plan to introduce such functionality into our plugin. Now our team is working on more priority tasks. But in the future we do not exclude the possibility of adding this functionality to the one of our add-ons. For now you can override one of WooCommerce template to achieve this results.

Thank you for your understanding.

[2022-10-25 14:10] #5235 closed, assigned to UraraReika

[2022-10-25 14:12] UraraReika commented on #5278
Hello @rodolphebertozzo, thanks for the feedback.

We have checked your request and everything seems to be working correctly. We checked both Login widgets that our plugin has: Checkout Login Form and Myaccount Login Form. After you press the button page refresh and if something wrong you will get default WooCommerce notice for different types of mistakes.

![Image](https://user-images.githubuserc

[2022-10-25 14:12] #5278 closed, assigned to UraraReika

[2022-10-25 14:45] UraraReika commented on #5288
Hello @Joliamendi, thanks for the feedback.

In our plugin we use Swiper Slider library for our carousel and unfortunately this library doesn’t have such option. But in next major release 2.1.0 new JS trigger will be presented. With the help of this trigger you will be able to handle this functionality like this:
[code]
Just add this code to you child theme `functions.php` file.

Thank you for you

[2022-10-25 15:22] nu-ad commented on #220
@bapman81 hey, did you get your function to work? Would the same be possible for year (YY) only?

[2022-10-25 15:49] #6078 closed, assigned to nobody

[2022-10-25 15:56] fafchook opened #6103 "Jet Form Builder - Increase textarea size (add rows) on the "send email" action"
When working with big volume multi step forms, it's very hard to work with the small text area box.
I always use the inspector on chrome to add some rows, but would rather to save that time please ;)
https://www.loom.com/share/b2b803b80d394c0a9cd664e28116f5af

[2022-10-25 16:12] Floydtm commented on #6094
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-10-25 16:53] kaskad88 commented on #2288
Add for the next version v3.0.6

[2022-10-25 16:53] #2288 closed, assigned to kaskad88

[2022-10-25 16:54] kaskad88 commented on #6007
Add for the next version v3.0.6

[2022-10-25 16:54] #6007 closed, assigned to kaskad88

[2022-10-25 16:54] kaskad88 commented on #5902
Fix for the next version v3.0.6

[2022-10-25 16:54] #5902 closed, assigned to kaskad88

[2022-10-25 19:30] thorsolutions commented on #243
+1

It is shocking that this critical usage of a Powerful Filtering solution is being ignored. It is quite basic as the basic requirement for any woocommerce website is to have the ability to share pre filtered lists.

[2022-10-26 06:47] stasonua0 opened #6104 "JetForm: Add a "Rating" field"
Hello, I ask you to consider adding a new field for forms with the ability to put a rating in the form of a star or a smile.
The priority of the asterisk, but if you give the opportunity to choose your own icon for each item, like this, it will be fine in general.
![2022-10-26_09-42-41](https://user-images.githubusercontent.com/34642272/197953805-db298d40-eb78-4221-ae50-a8979784ea35.jpg)
At the mo

[2022-10-26 07:25] kaskad88 commented on #6101
Hello @filwi. To correctly stored the repeater data in the database, the names of the repeater fields should contain only **latin letters**, **numbers**, `-` or `_` **chars** https://tppr.me/IDo6N

[2022-10-26 07:25] #6101 closed, assigned to kaskad88

[2022-10-26 10:50] kaskad88 commented on #6102
Fix for the next version - v3.0.7.
Currently you can use `&nbsp;` or `&emsp;`
Thanks for your report!

[2022-10-26 10:59] SamuelAshbrook commented on #2458
+1 - This feature would be incredibly useful and would stop us from being limited to the very small range of SVG's available to choose from.

[2022-10-26 18:22] dantetesta commented on #3819
+1 please help with this problem!

[2022-10-27 06:45] stasonua0 opened #6105 "Jet Engine Listing "Column = Auto""
Hello. We have long needed an automatic number of columns of listing cards.

I see it's just:
1. Put "auto" here https://prnt.sc/DHr4vJsHEFCd
2. Below we set the minimum (ideally and maximum) width of the listing element.

On CSS Grid it is literally one line
"grid-template-columns: repeat(auto-fill, 250px)"

But Flexbox is also pretty simple.

Examples of problems:
1. We put one column for the ph

[2022-10-27 11:34] UraraReika commented on #5730
Hello @79ho3ein! Thanks for the feedback.

1 - Unfortunately we do not plan to introduce such functionality the core of our plugin. But in the future we do not exclude the possibility of adding this functionality to some of add-on.
2, 4, 5 - Will be in 2.1.0 version of plugin.
3 - This is not a widget but Dynamic Tag. And we will not add such functionality to our plugin. With the help of previous

[2022-10-27 11:36] UraraReika commented on #5640
Hello @Carolinekjeldgaard! Thanks for the feedback.

Thank you page template it just a simple Elementor template that grabs and handle WooCommerce data. So in this case you can add whatever you can’t code to this template. You can use for example HTML or Shortcake widgets from Elementro plugin and put your code that will track traffic. But maybe I misunderstood you, in this case please follow guid

[2022-10-27 11:36] #5640 closed, assigned to UraraReika

[2022-10-27 11:46] 79ho3ein commented on #5730
Hi @UraraReika , thank you

[2022-10-27 15:23] roberto-go commented on #2956
+1

[2022-10-27 15:46] roberto-go commented on #2956
Thanks to the code you have posted in this thread I've had made some modifications.
I prefer the popup launches when product has been added to cart instead of click event. So any button that triggers the woocommerce added_to_cart will fire this code.

Also in this code I get the name of the product so the user can see again which product was added. I give my button (the button wrapper in reality)

[2022-10-28 04:31] cnbizz commented on #5026
+1 I want this.

[2022-10-28 06:23] #3330 closed, assigned to MakhonkoDenis, UraraReika

[2022-10-28 11:49] edson-webeddy commented on #6092
Hey,
This question is very important in logical comparators, if there is less or equal <= and greater or equal => in the query builder. It should have these two conditions for users who are not so familiar with the logical operators to apply in dynamic visibility.
Or you use 2 logical operators to get this result.
 (>) and (equal).

[2022-10-28 13:18] ofmarconi commented on #6092
+1

[2022-10-28 13:26] filwi opened #6106 "Anyone encounter this Randomly Disappearing Posts/Values/Fields problem?"
Cross-post with the Wordpress forums - likely not a JetEngine problem, but it might be;
Sorry in advance for spamming it here, but I'm fairly desperate right now.

---

Folks, I'm completely desperate here.

We built a fairly large site, based on WP, Elementor, and the Crocoblock plugins.

Then, after a couple of months of work and with launch date approaching, things started to randomly disappear

[2022-10-28 19:38] pool586 commented on #6092
+1 very useful.

[2022-10-28 20:21] vaccinemedia opened #6107 "Add limits to select and repeater fields"
It would be great if you could add limits to select and repeater fields on custom post types meta fields. I currently have a site where I need to have a limit of 3 repeater items or else it will break the design. This is also a client requirement, not just what I want. Same goes for select fields - on multi select the user should only be able to select X number of items. This would also need to be

[2022-10-28 20:39] rpgraul commented on #535
can you explain how?

[2022-10-28 20:40] vaccinemedia opened #6108 "Tighter integration with JetEngine Custom Post Type Meta Fields"
Frontend Admin for ACF has a couple of options when adding a front end post form - one is to select which ACF fields you want to place on the form and the other is to add ALL ACF fields for a particular post type in one click. The form when presented on the front end respects the field types which are set in the back end and can be styled easily using Elementor.

It would be AMAZING if you could c

[2022-10-29 17:32] 79ho3ein commented on #4948
Hi @UraraReika , i think displaying product titles in only one line (using word wrap) is not a logical method. Because the standard limit for displaying the product title (if the title is long) is two lines. No less, no more. But it would be great if we could set the number of lines to display, but as you said, it's not possible.
So wouldn't it be better if you add responsive support to the Length

[2022-10-31 01:00] 79ho3ein opened #6109 "Improved performance in woobuilder product grid widget"
**Please, describe the feature request, making it clear to understand.**

Hi

In the product grid widget, which is a large and important widget, most of the time changes are applied slowly. For example, when we determine the number of columns to display products in this widget, applying the number of columns takes about 3 seconds. Especially if there is a lot of content on the page, it can take up

[2022-10-31 10:05] eitayz commented on #361
Waiting also for that feature. Will help many Crockos out there.

[2022-10-31 12:34] SargasTM commented on #6034
1, 4, 5, 6, 7. RTL - done
2. A. - done
2. B. - does not make sense because the new element will be added at the end anyway
3. The Filter Labels section is rarely used by users, so it was decided to move it to the end
To quickly jump to the end of the page, you can use the "END" button on the keyboard.

The update will be available in version 3.0.1

[2022-10-31 12:34] #6034 closed, assigned to SargasTM

[2022-10-31 13:50] bodibel opened #6110 "Change JetBooking status via JetFormBulider"
I would like to set the Booking status to "created" by default in JetFormBuilder in the Single Booking Form, so that it can be changed later from another Form.

Thank you

[2022-10-31 13:57] UraraReika commented on #5840
Hello @Michaelgimii. Thanks for the feedback.

Unfortunately, we can't do it without additional customization of WooCommerce template so we will leave this functionality as it is.

Thank you for your understanding.

[2022-10-31 13:57] #5840 closed, assigned to UraraReika

[2022-10-31 14:07] 79ho3ein commented on #6034
thank you @SargasTM

[2022-10-31 15:19] #6058 closed, assigned to UraraReika

[2022-10-31 15:19] #5885 closed, assigned to UraraReika

[2022-10-31 16:45] dreamsachiever212 commented on #1657
+1 need this please. it's been very long now any updates at least?

[2022-10-31 17:39] kwsim539 commented on #1657
It has been Pending for the past 2 years. When will this be moved up the roadmap?

[2022-10-31 20:07] cecilyuf commented on #2304
just adding my name to this request- would be helpful

[2022-10-31 22:17] Michaelgimii opened #6111 "Full compatibility of jet woobuilder with jet compare & wishlist."
**Please, describe the feature request, making it clear to understand.**

Hello

In the new version of jet woobuilder, everything works fine, but there is a major problem. The problem is that if the user deletes the product from the wishlist in the product grid widget, it is not deleted by Ajax and the page needs to be reloaded to completely delete the product. So it would be great if you add ajax

[2022-10-31 22:59] Michaelgimii opened #6112 "The bug of the new version of jet compare & wishlist and jetwoobuilder + Important request."
**Describe the bug**

Hi team!

As you know, adding products to wishlist is not useful for guest users and this is a feature for registered users on the website. In all websites, it is possible to add products to the wishlist only if the user is registered. On these websites, if the user clicks on the add to wishlist button, she will be redirected to the registration page. Also, if she clicks on t

[2022-10-31 23:02] Michaelgimii opened #6113 "compatibility of jet smart filter with elementor loop builder."
**Please, describe the feature request, making it clear to understand.**

Hi team.

It would be great if you make jet smart filters fully compatible with Elementor's loop builder. Especially the pagination widget.

[2022-11-01 11:22] #6041 closed, assigned to UraraReika

[2022-11-01 11:27] 79ho3ein opened #6114 "one bug in new version of jet woobuilder."
**Describe the bug**

Hi

In the new version of jet woobuildet, if we add the product grid widget and change the size of its price, its size will not change in real size, but it will be a little bigger. The reason for that is the default size of the product price in this widget, which is shown in the browser inspect (screenshot below)
**Please note that this bug only occurs in Single product for p

[2022-11-01 11:37] 79ho3ein commented on #6112
+1

[2022-11-01 11:46] nreljed opened #6115 "🐛Jetsmartfilters 3.0 conflict with elementor 3.8"
Bug in jetsmartfilters 3.0 `Warning: Illegal offset type in C:\laragon\www\immo\wp-includes\class-wp-list-util.php on line 191`

to reproduce
- clean install wordpress 6.0.3
- elementor and elementor pro 3.8
- jetengine 3.0.5

put a hierarchical select + apply button

hierarchical causes the error

![Capture d’écran 2022-11-01 123816](https://user-images.githubusercontent.com/82481592/199225494-39

[2022-11-01 13:33] yaron86 opened #6116 "draw area on map"
i made a small video of a feature i would love to see it implemented:
https://www.loom.com/share/35b445dc652549ac8ecf37de1be33493

i want to build profession listing website, that when a profession add himself to the website he can choose his working areas by drawing area on the map like i showed in the video

would love to see it implemented on crocoblock.. what are the chances it can be in the n

[2022-11-01 14:44] #6115 closed, assigned to nobody

[2022-11-01 15:06] Picrold opened #6117 "JetEngine - jetFormBuilder - post expiration period"
Hello CrocoBlock Team,

I hope everything is going well, I'm trying to add an expiration period to my CCT, but it seems it doesn't work with the jetFormBuilder-insert/Update custom content type item. Currently, the Post Expiration Period addon works with the post types only,

Can we get that post expiration period plugin for the CCT also.

Kind regards,
Picrold Canada - picrold.ca

[2022-11-01 17:21] xcubex opened #6118 "JetEngine Form: Hierarchy selection in front end form. (Taxonomy hierarchia)"
Hi!

Is it possible to make hierarchy selection fields in profile form, so users can limit the selections?

Like car brands and models, or country, county and the city.
It would be best with automatic ajax loading, after the selected parent category, and children :)
(As in JetSmartFilters.)

Now, I have a taxonomy with many children and grandchildren that are just shown as a single alphabetical li

[2022-11-01 18:25] schregsimone commented on #2458
+1

[2022-11-01 19:42] MjHead commented on #6118
JetEngine forms its a legacy from functionality, there is no new features planned for it, only bug fixes. All new funcitonality and features will be implemented into JetFormBuilder

[2022-11-01 19:42] #6118 closed, assigned to nobody

[2022-11-01 19:45] MjHead commented on #6113
We cannot 100% guarantee that such integration is possible, because it not 100% depends on JetSmartFilters plugin, but we'll consider it

[2022-11-01 19:51] jade7700 commented on #60
Will this feature be implemented?

[2022-11-01 19:51] MjHead commented on #6094
Closed because no client feedback provided

[2022-11-01 19:51] #6094 closed, assigned to nobody

[2022-11-01 19:51] Michaelgimii commented on #6113
Hi @MjHead , Do you rarely leave Elementor?

[2022-11-01 19:55] Michaelgimii commented on #5570
+1
I have this problem too. This issue has been around for a long time. Is it possible to fix this problem in the new version of jet smart filters? please @SargasTM

[2022-11-01 20:06] MjHead commented on #6093
1. Please avoid caps syntax in request title and description, really feels like you scream on us for some reason.
2. Thnks for the feedback.
3. Sorry, but I'm closing this issue because its not the feature request or bug report. I understnd your pain with timeframes of implementing some features, but we are trying to do our best - all team working all the time on implementing some features, fixing

[2022-11-01 20:06] #6093 closed, assigned to nobody

[2022-11-01 20:17] MjHead commented on #6090
Posts query uses default WP_Query to get posts from the DB. According to WP_Query documentation you can't combine these parameters in the same query - https://developer.wordpress.org/reference/classes/wp_query/#post-page-parameters, https://i.imgur.com/T23R6br.png

[2022-11-01 20:17] #6090 closed, assigned to nobody

[2022-11-01 20:21] MjHead commented on #6089
Similar functionality planned for the JetFormBuilder 3.0.0 update. At the moment this update on the testing stage

[2022-11-01 20:21] #6089 closed, assigned to nobody

[2022-11-01 20:25] MjHead commented on #6088
Added into the internal backlog with proper description. Will be implemented with on of 3.x branch updates

[2022-11-01 20:25] #6088 closed, assigned to kaskad88, girafffee

[2022-11-01 20:39] MjHead commented on #6084
Password reset funcitonality planned as JetFromBuilder addon in a next few months so you'll can use it with different builders

[2022-11-01 20:39] #6084 closed, assigned to nobody

[2022-11-02 06:48] raphaelgal opened #6119 "Loading spinner for Jet smart filter in Ajax filtering"
That would be a great option if we would be able to set some sort of loading spinner to the smart filter, when we use Ajax filtering.
The opacity indication isn't always very clear, especially if the filtering takes time.

Many thanks

[2022-11-02 08:54] #3991 closed, assigned to Gawuww

[2022-11-02 08:54] #6102 closed, assigned to kaskad88

[2022-11-02 09:00] MjHead commented on #6113
Its not related leaving or not leaving Elementor. The problem that all loop-related functiomality implemented on Elementor side, all JetSmartFilters compatibility may be done only on JSF side. If we'll faced some blocking problem on Elemenotr side - we'll can't resolve it like we do for JetEngine or JetWooBuilder widgets compatibility. So as I said we can't 100% guarantee that this integration is

[2022-11-02 09:07] MjHead commented on #3420
Similar functionality planned for the next JetFormBuilder. As for social login - you already can use it in combine with any free 3rd party plugin for social login, which includes shortcode or block for login buttons. Just paste this block directly into the JetForBuilder form layot in any place you want.

[2022-11-02 09:07] #3420 closed, assigned to kaskad88

[2022-11-02 09:07] Michaelgimii commented on #6113
thank you @MjHead

[2022-11-02 10:31] UraraReika commented on #6110
I merged this issue with https://github.com/Crocoblock/suggestions/issues/4185, which is on the same subject so we could deal with it more efficiently.

[2022-11-02 10:31] #6110 closed, assigned to nobody

[2022-11-02 12:51] UraraReika commented on #5935
Hello @79ho3ein, thanks for the feedback.

See no problem with this. This is how this functionality works.  You can check this not only with JetWooBuilder widgets but with default Elementor widgets as well.

[2022-11-02 12:51] #5935 closed, assigned to UraraReika

[2022-11-02 13:33] UraraReika commented on #5936
Hello @Joliamendi , thanks for the feedback.

First of all I need to mention if you instal, activate WooCommerce and setup store settings after it the default pages already created with proper shortcodes and selected in WooCommerce settings. If not you can easily do it by go to WooCommerce > Status > Tools Tab and here you can find Create default WooCommerce pages. After you pressing this options

[2022-11-02 13:33] #5936 closed, assigned to UraraReika

[2022-11-02 14:11] UraraReika commented on #5921
Hello @79ho3ein !

Unfortunately there is no appropriate hook which can help us to change this mark.

Thank you for your understanding.

[2022-11-02 14:11] #5921 closed, assigned to UraraReika

[2022-11-02 15:06] UraraReika commented on #5401
Hello @Joliamendi, Thanks for the feedback.

Unfortunately, we do not plan to introduce such functionality into our plugin. And will stick to default Woocommerce functionality and layout without additional customization. But in the future we do not exclude the possibility of adding this functionality to the core of our plugin or some adon.

Thank you for your understanding.

[2022-11-02 15:06] #5401 closed, assigned to UraraReika

[2022-11-02 16:32] 79ho3ein commented on #5935
Hi, thanks

[2022-11-02 20:46] kh-awais opened #6120 "Ability to set Slot Step different from Service Duration"
Currently, Jet Appointment Plugin does not have option to to set Slot Step Different than Service duration. Slot Step is automatically decided based upon duration selected for Service or provider. For Example:  For 1 Hour service, slot step is also 1 hr (9:00 - 10:00, 10:00 - 11:00 etc).  There should be ability to set 30 Min slot step or different for 1 Hour service For example: (9:00 - 10:00, 09

[2022-11-02 23:41] Cosirax commented on #6117
would be really nice to get this implemented soon!

[2022-11-02 23:46] Cosirax opened #6121 "Custom Content Type WPML translateable"
Hey there,

I would have used the custom content type more often on some big websites. But they have to be translateable because the webpages are mostly multilingual ones. Would be really awesome to get this!

Thanks in advance. You're doing a great job with your plugins. They push WP on the next level.
CX

[2022-11-03 03:10] Outputlevel commented on #3235
+111111 on this!

[2022-11-03 07:25] ranca opened #6122 "Navigation Menu not working properly on mobile - on every page loading opens and closes quickly."
There is a problem while loading the site on mobile devices.
Navigation is open and close quickly around 1 second and its full loaded.
I don't like that opening scenario.
I tried deactivating WP Rocket but that didn't solve the problem.
Also I tried to change some crocoblock settings and nothings helps.
Im not skilled enough to found a problem.

(Internet connection is great so that's not a proble

[2022-11-03 11:03] mehdimoradi1500 commented on #6044
Hi @kaskad88
i just like to know, when will this feature be added to jetengine?

[2022-11-03 13:15] UraraReika commented on #5957
Hello @Michaelgimii, thanks for the feedback.

You can already achieve this result like this https://monosnap.com/file/mgSQVioRCRhDDLNo8skLT0MfYUPFjB. If you struggle with this please contact our team.

Thank you for your understanding.

[2022-11-03 13:15] #5957 closed, assigned to UraraReika

[2022-11-03 13:36] Michaelgimii commented on #5957
Hi @UraraReika , In the above screenshot condition, can we seamlessly create a box shadow for it?

[2022-11-03 14:34] UraraReika commented on #5957
This one is tricky but possible with some custom styles.

[2022-11-03 14:36] UraraReika commented on #5709
Hello @Michaelgimii, thanks for the feedback.

In this kind of situations you can use Elementor Global widgets functionality. The only problem you will have in this case is query. But unfortunately we do not plan to introduce such functionality into our plugin. Maybe in the future we do not exclude the possibility of adding this functionality to some sort of add-on.

Thank you for your understandi

[2022-11-03 14:36] #5709 closed, assigned to UraraReika

[2022-11-03 15:53] Lonsdale201 commented on #6117
+1

[2022-11-03 16:59] buchuzynski commented on #5452
Have the same problem

[2022-11-03 17:10] buchuzynski commented on #4613
Have the same problem
@Floydtm any updates on that?

[2022-11-03 18:12] Clauded2 commented on #2312
+1 or adding an 'external provider' that works with query ID of the one created with the QueryBuilder.

[2022-11-04 09:27] yorkshiredesigner opened #6123 "Add more settings to the listing grid slider"
The options to customise the 'listing grid' slider is very limited compared to the 'slider' widget, I would love to see the same settings applied to the listing grid slider such as 'fade arrows on hover'.

[2022-11-04 09:30] yorkshiredesigner opened #6124 "Add ability to hide 'cx-ui-kit__description' and 'cx-control__description' in the CPT admin screen"
I find that my clients are often confused by the layout of the CPT admin panel, I would love to see an overhaul of the design to make it cleaner. Even just an option to hide 'cx-ui-kit__description' and 'cx-control__description' will help clean it up. My clients don't need to see these values and it only confuses them.

[2022-11-04 10:13] samuelbauer-io opened #6125 "Elementor 3.8 Listing Grid bugs: Dynamic Tags - ACF field values not displayed !"
**Describe the bug**
1. In the listing item dynamic tags -> ACF Fields are not displayed
2. "Equal height" option does not work due to "div.e-con" wrapper element introduced in Elementor 3.8

**To Reproduce**
Steps to reproduce the behavior:
1. Add custom post type
2. Add ACF Pro field group with text and image field
3. Create new post with ACF fields filled
4. Create a listing template for the po

[2022-11-04 10:14] samuelbauer-io commented on #6125
@MjHead Thank you for checking - Urgent issue

[2022-11-04 10:42] MjHead commented on #6125
We already working on. Fix will be added with 3.0.7 update.

[2022-11-04 10:56] 79ho3ein opened #6126 "UI improvements in jet smart filters plugin filters + 3 examples of other plugins"
**Please, describe the feature request, making it clear to understand.**

Hi crocoblock team!

In the new version of this plugin, the UI of the filter management section has been improved, and the speed of the filter management section has increased dramatically. This was a great update for this plugin.

But it would be great if you work on improving the ui of the filters in the frontend. In this

[2022-11-04 11:36] Lonsdale201 commented on #6124
![image](https://user-images.githubusercontent.com/23199033/199963448-07faf1eb-26b9-4476-8a32-ac19b8afb895.png)
:)

[2022-11-04 12:54] Michaelgimii commented on #6114
+1

[2022-11-04 12:57] yorkshiredesigner commented on #6124
I've setup the meta through the CPT settings rather than in 'Meta Boxes', would it make more sense to set them up in 'Meta Boxes' instead?

[2022-11-04 13:37] Ian-Eastwood opened #6127 "Allow Google to index, serve and see images in the gallery custom field of JetEngine CPTs"
Any image placed into the gallery field in Jet Engine post types is not indexed by the Google search engine. It is only crawled. This means every image is not indexed, served or seen by Google. A sight such as mine relies heavily on thousands of photos to be indexed by Google and therefore added as part of the Google algorithm. What is the point of having CPTs if none of the images placed into the

[2022-11-04 14:48] UraraReika commented on #5364
Hello @Michaelgimii thanks for the feedback.

Unfortunately due to our specific markup and custom presets there is no possible to add such an option. So you will not see it in the core of our plugin. But you can defiantly do it by rewrite our template like this for example https://monosnap.com/file/aFMGW4Drtf2y7f6pxyQ9GiIXDxOKsJ enable this option https://monosnap.com/file/WuT2kFLzThlkPl2njXYBMrDs

[2022-11-04 14:48] #5364 closed, assigned to UraraReika

[2022-11-04 21:20] satomiao commented on #6117
+1

[2022-11-05 01:03] vaccinemedia opened #6128 "Add address search to the map field and to the data stored"
At the moment if you add a map field to a CPT you cannot search for an address. So if somebody tells you the address which needs to be added to a directory listing for a hotel for example, you have to first open up Google Maps in a separate tab, then search for the address, then make a note of it, then go back to the form and zoom in to the location, then double check you're in the right location

[2022-11-05 09:01] sekhsoyebali opened #6129 "Integrate 'Razorpay payment gateway' with JetFormBuilder"
Hello Croco,
Please integrate Razorpay payment gateway in JetFormBuilder.
In India, people pay in INR and Paypal don't support INR anymore and stripe don't have UPI option for payment, therefore Razorpay is the best option for payment gateway. Please integrate this gateway with JetFormBuilder. I will be very Glad.

Thank you Croco Team

[2022-11-05 09:04] sekhsoyebali commented on #6117
+1

[2022-11-05 21:57] woofyoso opened #6130 "Saving/Exporting JetAppointments"
Hi, dear Crocos. I hope you are doing well.
I want to request a feature.
Is it possible to add an **export** button in appointments?
I think this will be very useful to many users of the JetAppointments plugin.

Thanks in advance,

PS: I was searching for an exciting thread but I couldn't find any. Sorry if there is a similar feature request,

[2022-11-05 22:50] mateitudor opened #6131 "Open JetPopup when clicking on container"
The feature is simple, please consider extending JetPopup to open when clicking an Elementor container.

Thanks!

[2022-11-06 13:04] Cosirax opened #6132 "JetEngine add Dynamic Field filter field output: "generate excerpt / trim string" options"
Hey there,

it would be nice to have the "generate excerpt" option not only when I choose as object field excerpt. E.g. when I have some CCT and I would like to have something like an excerpt of it its generelly not possible to create one (or am I missing something?) however so it would be nice to have generally the option to shorten strings by the filter field output option.

In my imagination it

[2022-11-06 17:02] nphough commented on #1657
Yes 100% this is critical to create a robust location search

[2022-11-06 19:42] mateitudor commented on #2659
It's almost 2023...

[2022-11-07 00:05] Picrold opened #6133 "JetEngine - Data Stores - clear posts on delete plugins"
Hello, Teams

I added the wishlist to the post from the data stores sections; I can add a post to the wishlist page and remove it; it works with no issues. Plus, I added the JetEngine - Data Stores - clear posts on delete plugins to clear deleted posts once it's been removed, but that plugin didn't remove any deleted posts from the data stores.

Clear posts on delete work only with CPT, not CCT

*

[2022-11-07 13:52] paulpsky opened #6134 "Allow order and offest for User 1D (random and other)"
allow posts, listing ets to be order and offest by user id or information from users info

[2022-11-07 14:19] JDogs911 opened #6135 "Add a photo in Wysiwyg Field - inside JetFormBuilder"
**Please, describe the feature request, making it clear to understand.**

As classic editor in wordpress, it will be easier and very helpful to have the opportunity to add any kind of pictures in the Wysiwyg Field drectly from the front end. it's a basic for my opinion.

**Add an example of where this feature is already implemented. **

in classic editor of gutenberg in wordpress when we wrte an a

[2022-11-07 16:14] iamalsoandy commented on #3169
Does "pending" mean that this is going to happen?

I would like to be able to do this, without having create custom taxonomies.

[2022-11-07 16:54] kaskad88 commented on #3169
This feature is already available.

1 - Go to JetEngine/Taxonomies page https://tppr.me/SpdRy
2 - Click to JetEngine/Build-in switcher https://tppr.me/BIycl
3 - Click the Edit button for Categories taxonomy https://tppr.me/lpE5i
4 - Add CPT for Taxonomy https://tppr.me/1l3ba

[2022-11-07 16:54] #3169 closed, assigned to kaskad88

[2022-11-07 18:04] tadytomas opened #6136 "Multiple Post & Page Clauses"
I need to display all posts in the category, but filter out multiple posts that I have entered to the "posts" meta-fields on the home page. Currently, it's possible to filter by only one meta-field (with the function "Post Not In").

Why do I need to do it? I'm setting up a news media website homepage where I have a top section with top stories and below several lists with latest articles in sever

[2022-11-07 20:12] edgBllw opened #6137 "JetFormBuilder being able to update User Meta checkbox field"
If i have a hidden field, i want to say add or remove this value on successful form submission to checkbox user meta field array. currently thats not possible

[2022-11-07 20:23] MjHead commented on #6132
https://i.imgur.com/5fg3o3t.png this option already included as Module

[2022-11-07 20:23] #6132 closed, assigned to nobody

[2022-11-07 20:24] paulcoppock opened #6138 "Add a clear and fitting title for the feature request"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2022-11-07 20:25] MjHead commented on #6134
At the moment this option not allowed by core WP_Query class functionality. Posts query based on WP_Query class, so we can't implement it.

[2022-11-07 20:25] #6134 closed, assigned to nobody

[2022-11-07 20:31] MjHead commented on #6123
For JetEngine 3.1.0 planned an option to add query controls to any our widgets using rrepeater control to set up an items. So it will be possible to use Slider widget with query from Query Builder. Extending JetEngine Listing Grid slider options not planned at the moment.

[2022-11-07 20:45] paulcoppock commented on #6138
Remove the # character from the URL Anchor field for dynamic links to allow more flexibility. I am trying to create a custom whatsapp link with a pre-filled message.

The Dynamic link currently has a prefix and anchor field. The prefix will prefix the url and anchor will suffix this url however it uses an automatic # symbol allowing for only an anchor link. Why not remove the # and rename the fiel

[2022-11-08 02:37] thietaudev opened #6139 "@stasonua0 Hi! You can use this option http://prntscr.com/p1rajf"
HI!, can u show again case?
link is broken

[2022-11-08 02:37] thietaudev commented on #501
Any have idea for slider  for 2 row?, i still have question

[2022-11-08 02:44] thietaudev opened #6140 "Slider Listing Multi Row"
Hello, please add in the Jet Elements plugin in the Listing Grid widget the ability to choose to display elements in two rows. For example, your competitors have such a widget and this functionality is often used -
https://prnt.sc/p1a1bn

[2022-11-08 07:29] UraraReika commented on #2758
Hello. Thanks for the feedback.

During plugin development this issue was solved. But we highly recommend to use JetBooking in combination with JetFormBuilder.

Thank you for your understanding.

[2022-11-08 07:29] #2758 closed, assigned to MakhonkoDenis, UraraReika

[2022-11-08 07:47] Michaelgimii commented on #6015
Hi @MjHead , Any news on this feature?

[2022-11-08 08:09] UraraReika commented on #2788
Hello. Thanks for the feedback.

In the next version of our plugin we will add hook that can help you to handle some fields output.

Thank you for your understanding.

[2022-11-08 08:09] #2788 closed, assigned to MakhonkoDenis, UraraReika

[2022-11-08 08:35] UraraReika commented on #3975
I merged this issue with #1833, which is on the same subject so we could deal with it more efficiently.

[2022-11-08 08:35] #3975 closed, assigned to MakhonkoDenis, UraraReika

[2022-11-08 08:41] 79ho3ein opened #6141 "Extra space in the shipping price display section on the checkout page - jet woobuilder"
**Describe the bug**

Hi

On the payment page, when the shipping price is displayed, this price has an extra margin in its margin by default. This makes it not visually appealing. Please check this if possible.

![Screenshot (878)](https://user-images.githubusercontent.com/77163248/200516365-52c2393c-fc54-4845-bd20-e760c828907d.png)

thank you

[2022-11-08 11:11] MihaiCraciun opened #6142 "Cross-Site Scripting (XSS) vulnerability"
**Describe the bug**
We're using the latest version of the JetSmartFilters  plugin (3.0) and we tested the search filter with an XSS payload and noticed that the application reflected the user input and triggered the JavaScript payload.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sandy.dndi.org/?s=demo
2. Type the following in the search input field: <script>alert(1)</scrip

[2022-11-08 13:27] kskonovalov opened #6143 "Jet Smart Filters: 'reversed filter' excluded by default but include when the filter active"
**Please, describe the feature request, making it clear to understand.**
Need an option to have some tags or categories excluded from the main query, but the ability to include them by checking some filters.
For example:
In the games store hide by default '_addons for the games_' and checkbox '_show addons in the results_' to show them

**Before adding a new feature request, please, make sure you’

[2022-11-08 13:38] 79ho3ein opened #6144 "Glossaries support for Admin Columns (in post type) - jet engine"
**Please, describe the feature request, making it clear to understand.**

Hi crocoblock team!

I have a website where I display my portfolio using a new post type. In this post type, I have a field for website type. This metafield uses Glossaries. On the other hand, I have created an Admin Columns for the website type field and an Admin Filters for the website type value filter. **But because I ha

[2022-11-08 13:50] mindstep commented on #5639
Awesome, exactly what I was looking for, thanks!

[2022-11-08 14:44] LaxusCroco opened #6145 "JetElements: Improvements for Dynamic Data addon in Slider widget"
I would like to suggest two features:

1) **Make the whole slide clickable in Dynamic Settings**
By default, the Slider widget of JetElements allows making the whole slide clickable: https://prnt.sc/HDYMkBdNTNP4
I use the Slider widget to output Repeater fields with the Dynamic Data addon. However, the Dynamic Settings do not have the same feature here: https://prnt.sc/d_teQJ1FjG5j So, while we ca

[2022-11-08 16:23] DevGregory commented on #6080
Just to add to this, it doesn't seem like any of the rules work for repeater field listings.

I've attached some screenshots below showing the "Order & Offset" rule doesn't change no matter what the output is set to.

![image](https://user-images.githubusercontent.com/72046842/200619618-37855e60-7abd-4d53-bab9-1f46f162fdb5.png)
![image](https://user-images.githubusercontent.com/72046842/200619869-

[2022-11-08 23:19] simonclay commented on #1657
I also need this feature. Toolset has had this feature for some time.

[2022-11-09 01:04] Picrold opened #6146 "JetEngine - jetFormBuilder - post expiration period"
Hello CrocoBlock Team,

I hope everything is going well, I'm trying to add an expiration period to my CCT, but it seems it doesn't work with the jetFormBuilder-insert/Update custom content type item. Currently, the Post Expiration Period addon works with the post types only,

**_Hey,

Currently, the Post Expiration Period addon works with the post types only. I have noted your question as a featur

[2022-11-09 01:05] #6117 closed, assigned to nobody

[2022-11-09 06:56] MannyWeb opened #6147 "Make preview settings available Jet Theme Core"
When creating a template on Jet Theme Core, preview settings are available for Post and CPT but not for pages.  Make it available, please! Right now is so hard to style properly

![Page Not preview settings](https://user-images.githubusercontent.com/93985415/200760016-70bc9373-a54a-4455-96af-38aa753f1197.jpeg)
![CPT preview settings](https://user-images.githubusercontent.com/93985415/200760049-027

[2022-11-09 07:15] dislokacia commented on #1521
+1

[2022-11-09 07:21] Soluna1989 commented on #3538
I just found this while I was looking for a solution to this problem.

I´m creating an encyclopedia with medical terms for a customer and he´d like to have one field in the wordpress backend where he can simply add all the terms with the corresponding descriptions. I´m using the "dynamic data addon" in combination with an options page and the crocoblock accordion. It´s working but it´s really anno

[2022-11-09 07:23] SolunaCG commented on #3538
I just found this while I was looking for a solution to this problem.

I´m creating an encyclopedia with medical terms for a customer and he´d like to have one field in the wordpress backend where he can simply add all the terms with the corresponding descriptions. I´m using the "dynamic data addon" in combination with an options page and the crocoblock accordion. It´s working but it´s really anno

[2022-11-09 07:48] SolunaCG opened #6148 "Setting accordion icons globally instead of setting them for each individual accordion element"
Hey there!

As suggested by the support team I´m requesting this:

I´m creating an encyclopedia with medical terms for a client and he´d like to have one field in the wordpress backend where he can simply add all the terms with the corresponding descriptions. I´m using the "dynamic data addon" in combination with an options page and the crocoblock accordion. It´s working but it´s really annoying t

[2022-11-09 08:20] LaxusCroco opened #6149 "JetAppointment Workflows: Send an "Add to Google Calendar" link to the provider"
It would be great to have an "Add to Google Calendar" macro in the list of available macros in the Send Email workflow: https://prnt.sc/o6VOPkZY6zXO
Purpose: giving the provider the possibility to add the appointment to their Google Calendar. Similar to [this ](https://prnt.sc/PU7eW1f4vbkJ) feature for users who book the appointment.
Another way of resolving this problem: making it possible to sel

[2022-11-09 08:50] filwi opened #6150 "Change Drop-Down List in Custom Query part of Listing Grid Widget into a Search"
Right now, the way to add a custom query to a listing grid is to choose it from a drop down list:

![Query1](https://user-images.githubusercontent.com/8066290/200782430-b2eca747-3d8f-4244-a27b-0e9b0b7489aa.png)

With dozens and soon hundreds of queries, which we need since we no longer use the page specific, depreciated post queries, it becomes hard to find the right query.

We'd like to have a se

[2022-11-09 10:06] UraraReika commented on #6139
Hello @thietaudev!

You shouldn’t create such an issue here. Please follow our guidelines https://github.com/Crocoblock/suggestions/tree/master/.github/ISSUE_TEMPLATE. If you want to tag someone do it it the same issue you were talking .

Thank you for your understanding.

[2022-11-09 10:06] #6139 closed, assigned to nobody

[2022-11-09 11:18] GrayersDad opened #6151 "JetSearch - Single Digit Search"
Currently in order to have any search results appear I need to enter a minimum of two values.

Being able to search a single value would be beneficial for people trying to create financial/stock pages as a lot of publicly traded companies have single digit ticker symbols.

[2022-11-09 11:23] GrayersDad opened #6152 "JetSearch - Ability to Add Link in Notification Text"
The title says it all.

Sorry, no results were found. Please "Contact" us.

Where "Contact" is a link to the contact page

[2022-11-09 14:36] vaccinemedia opened #6153 "Global data stores"
It would be cool to have global data stores for storing posts to be used in various areas of a website. These data stores could be set to be editable by a given role i.e. Editors and Admins only and be global and not tied to a user account.

Examples of these could be:
Top Stories - cherry picked stories for the home page of a news website
Homepage jobs - cherry picked jobs to appear on the homepa

[2022-11-09 15:30] jechazelle commented on #3947
Hi @ageandsee ! Did you found a solution, documentation or code ?

[2022-11-09 20:24] fostira commented on #1331
@MjHead Is there any limitation that prevents us from choosing the content-type for REST API requests in nowadays Jet Formbuilder?

I think the REST API request action needs a much needed update. The ability to set content-type, custom headers and methods would make the Formbuilder extremely powerful.

I do a +1 here too.

[2022-11-09 20:26] fostira commented on #6100
++1

[2022-11-09 20:29] fostira commented on #6146
This would be also much needed. For instance if your websites have GDPR policy to keep form submissions (made into a CCT) for a certain amount of time.

[2022-11-09 20:40] Michaelgimii opened #6154 "WooCommerce errors for Jet Woobuilder"
Hi crocoblock.

In the woocommerce status section, there are flaws that point to jet woobuilder. Please check them out.

/home/mysite/domains/domain.com/public_html/wp-content/plugins/jet-woo-builder/templates/woocommerce/cart/cart-empty.php version 3.5.0 is out of date. The core version is 7.0.1,
/home/mysite/domains/domain.com/public_html/wp-content/plugins/jet-woo-builder/templates/woocommerce/

[2022-11-09 23:14] rtpHarry opened #6155 "JetEngine REST Api Doesn't Work With Repeaters"
**Describe the bug**
I tried and tried to submit data for a repeater that I had created in JetEngine, on a CPT via the REST Api:

<img width="1423" alt="image" src="https://user-images.githubusercontent.com/1038062/200961722-f4ff30de-28e6-4a8f-ad5f-0edee656db73.png">

All I got was errors and errors along the lines of `rest_additional_properties_forbidden` / `location is not a valid property of Ob

[2022-11-10 11:02] Lonsdale201 commented on #6152
![image](https://user-images.githubusercontent.com/23199033/201074494-a2dd626a-c0d4-4786-8ef0-dbe1656de8c2.png)
You can to this, just simple add a html a href inside the Negative Search results panel.

[2022-11-10 12:26] dualdiagnosishub opened #6156 "Ability to Set Custom Class & unique ID attributes to use with Google Analytics 4 Custom Events"
I have no idea what the best way to do this would be, but now that UA is being phased out and Google Analytics 4 is providing the creation of custom events using a unique class or ID attributes, I think it would be really good for all dynamic elements that are often used within JetEngine including dynamic links & taxonomies, for example, to have the option of have a unique custom id attribute gene

[2022-11-10 15:00] owong opened #6157 "Users listing grid in random order"
Hi, I would like to able to show a Users listing grid in random order.
I've created a Real Estate website and it has about 500 associated agents (users). The site includes a Agents Directory, but I need to show them in random order, but the option doesn't exist for Users Query.
<img width="1622" alt="Screen Shot 2022-11-10 at 08 49 42" src="https://user-images.githubusercontent.com/7605405/2011247

[2022-11-10 15:10] GrayersDad commented on #6152
Don't know why its not working for me?

[2022-11-10 15:17] #5938 closed, assigned to Gawuww

[2022-11-10 19:37] createque commented on #6146
Agree. Post Expiration Period addon not work properly with JetFormBuilder - it is not possible to insert/update custom content type as @Picrold wrote.
For now, due to this issue  I have turn off Post Expiration Period addon, because it is useless in my cases...

[2022-11-11 08:22] yaron86 opened #6158 "jetEngine - add admin colums to users with number of posts"
when adding a cpt, and registered user start adding new posts to the cpt
it will be good idea to have in the users dashboard an admin column that says how much posts each user has, like so: https://prnt.sc/ZwzLdesS8LFm just for specific cpt

[2022-11-11 12:38] aureliolk commented on #1246
Any Update ?

[2022-11-11 13:24] Lonsdale201 opened #6159 "JetFormBuilder - Connecting two datepicker , disbale past dates - Code example added"
Dear Crocoblock.

It would be great if it could be possible in the future to 1, not allow date selectors to select days that have already passed.

2, Also if it would be possible to combine two date selectors so called : from , how long it takes date, which are synce with each other, and exclude the past tense.

The code below can be used to do this if someone needs it:
(if you are using elementor

[2022-11-11 13:46] Lonsdale201 commented on #6158
You can use the following php:
The only thing that you need to modfily, replace the post, and 'receptek' (this is my custom cpt slug), for your slug(s)
[code]

Cred: https://gist.github.com/mikeschinkel/643240
[code]

[2022-11-11 13:58] kskonovalov opened #6160 "Jet Engine Query Builder: apply_filters to the $args variable"
**Before adding a new feature request, please, make sure you’ve checked:**
didn't find it

**Please, describe the feature request, making it clear to understand.**
For the Jet Engine Query Builder please add more **apply_filters**, to make possible changing the parameters.
Especially, to the **$args** variable in the **jet-engine/includes/components/query-builder/queries** files

For example, file

[2022-11-11 14:19] Sapper-Morton opened #6161 "Add a Elementor-like "internal link" field to custom field types"
I've found Elementor's custom link type: internal link really useful because after set, it keeps the linked URL correct if you make changes to original post/article/media file/whatever or even transfer sites.
A feature like this would be really useful as a field type in JetEngine.

[2022-11-11 14:41] Michaelgimii opened #6162 "jet woobuilder bug"
**Describe the bug**

Hi @UraraReika , On the product page, the size of the price of the products is out of normal and is displayed a little bigger. This bug appeared in the latest version. Please check it out. thanks

[2022-11-11 14:54] UraraReika commented on #6162
I merged this issue with https://github.com/Crocoblock/suggestions/issues/6114, which is on the same subject so we could deal with it more efficiently.

[2022-11-11 14:54] #6162 closed, assigned to nobody

[2022-11-11 15:00] yaron86 commented on #6158
Thank you so much !!:)

[2022-11-11 15:07] Michaelgimii commented on #6162
tthank you @UraraReika , Is there a time frame for the release of the amendment?

[2022-11-11 15:20] 79ho3ein commented on #6034
Hi again @SargasTM , Thanks for the great update.

There is a relatively old bug in filters that occurs in RTL. I have already described it fully **[here](https://github.com/Crocoblock/suggestions/issues/5570)**. Please take a look if you can. This bug severely affects the UI in the frontend.

thank you

[2022-11-11 19:08] yaron86 opened #6163 "JetFormBuilder - media field - crop option"
Hi, feature request: add crop to the media field and let to choose the crop ratio (in the backend), add the defult wp crop to the frontend like so: https://prnt.sc/AjWe0-AyXKu0

use case: when doing listings website and the users needs to upload their profile image from the front end, it will be good if they can crop their faces (ratio 1:1) so they face will always appear and not other part of the

[2022-11-11 21:57] erobertsme commented on #2833
I agree that this is a pretty basic functionality that should be included in the JetSmartFilters plugin without needing to leverage another separate plugin or custom code to accomplish.

[2022-11-11 22:57] Galibri commented on #5187
This feature is going to be implemented, It's a big change, and Crocoblock should work on this feature on priority.

[2022-11-11 23:22] oncps commented on #3654
It would be great to add this to jetFormBuilder..
currently I have to use Piotnet forms...
but if Crocoblock absorbs this idea, that would be very useful...

i can't honestly understand.... there are so many good ideas to be inserted into jetformbuilder that people post here, and crocoblock doesn't add....
I myself have already added several ideas to be added to JetFormbuilder... but I say again t

[2022-11-11 23:23] oncps commented on #3654
Por enquanto,... e Infelizmente... só o plugin PIOTNET PAFE FORM faz isso..... não digo Campos Hierárquicos... mas digo que voce consegue adicionar taxonomia personalizada atraves de um campo de texto mesmo....

[2022-11-12 04:33] yaron86 opened #6164 "jetSmartFilters - add search enable to the select field"
Hi

the checkbox field on jetSmartFilters has an option to add "search enabled": https://prnt.sc/muYkh3bFS4QY which is very usuful.
it would be even more usuful if you can add it also to the select field

[2022-11-12 04:36] branditechture commented on #5242
When you open the console, it shows an error 401 unauthorized. However, it works well when logged in.

[2022-11-12 04:44] branditechture commented on #1314
@magdakubis I found the issue.
Crocoblock JetMenu uses the WP-JSON REST API to fetch menu content. If you use an optimization plugin that has a feature to disable Rest-API Access for non-admins, then you would likely run into this problem.

Here's what to do;
1. Disable the feature restricting access to REST API
2. Clear your cache.

Viola.

[2022-11-12 15:26] ofmarconi opened #6165 "Lazyload widgets & templates"
Hi!

Please consider adding something similar to Suite Crocoblock:
https://e-addons.com/elementor-addon/lazy-element/
I found an extension that slowly loads Widgets & Templates.

This would solve a lot of performance issues.

Thanks

[2022-11-13 08:09] stasonua0 opened #6166 "Dynamic visibility. Exclude from cache using ajax (Lazy Load widget)"
Hello, you have made an excellent dynamic visibility functionality and provided there the ability to show widgets by time or date. You know that the caching plugin on the Elementor + Crocoblock bundle is not used only by an ignorant person, and therefore I ask you to consider adding widgets with dynamic visibility settings to the exceptions from full-page caching. How is it easy to do this by itse

[2022-11-13 08:12] stasonua0 commented on #6166
Merge with https://github.com/Crocoblock/suggestions/issues/3910

[2022-11-13 08:12] stasonua0 commented on #6166
Merge with https://github.com/Crocoblock/suggestions/issues/6165

[2022-11-13 19:34] thorsolutions commented on #2221
+1

[2022-11-13 22:01] mau316 opened #6167 "Add a clear and fitting title for the feature request"
If there is an option in the forms to add a checkbox or a select from **query builder**
That will be great

[2022-11-14 00:01] davispe commented on #3929
Are we ever going to see OR statements for conditional logic?

[2022-11-14 00:05] davispe commented on #2536
+25
Why is there no OR operator, this makes no sense.

[2022-11-14 03:15] aalandes commented on #1040
+1 This is **very necessary!** With full width mega menus, the angle from the point of hover to the sub menu items overlaps with other top level items, causing other mega menus to open. You essentially need to hover over the menu item, then move your mouse down into the mega menu and then across to the menu items - this is not natural and causing a lot of headaches for our client and their custome

[2022-11-14 08:28] SolunaCG commented on #2119
I´d love to have that option, too! I usually don´t like being redirected to a search results page when the search results loaded with Ajax are already enough.

[2022-11-14 09:43] edgBllw commented on #6167
Yes, actually it's already possible. Lets say i created a query with the query builder that lists all users of the site. If you want do populate these within a checkbox or select field in a jetformbuilder form. What you need to do is following:

1.) Create form via JetFormBuilder
2.) Create checkbox or select field
3.) For "Fill Options From" choose "Generate Dynamically"
4.) For "Generator Fuctio

[2022-11-14 10:53] jorgoiliakopoulos opened #6168 "Jetreviews “Reviews Likes”"
Is there a way to use users reviews likes? For example to be able to display the reviews with the highest number of likes or vice versa. You can find a similar feature on booking.com. This feature could help other users to get an overview of the product of our website.

[2022-11-14 12:51] mbaierl commented on #5239
Now that Containers are in Beta - will this be fixed @Crocoblock ?

[2022-11-14 13:03] sergiobruno commented on #1084
Any update?? We need this feature

[2022-11-14 13:07] SargasTM commented on #5570
done, will be available in the next version

[2022-11-14 13:21] girafffee commented on #3605
An addon has been released
https://jetformbuilder.com/addons/paypal-recurring-payments/

[2022-11-14 13:21] #3605 closed, assigned to girafffee

[2022-11-14 13:23] girafffee commented on #2220
An addon for PayPal Recurring payments has been released
https://jetformbuilder.com/addons/paypal-recurring-payments/

For Stripe will be in the future

[2022-11-14 13:23] #2220 closed, assigned to girafffee

[2022-11-14 13:45] UraraReika commented on #4013
As was said in this message datepicker library doesn't support jalal and unfortunately our team deside not to add auto translate because you just can simply use custom labels for this action.

Thank you for your understanding.

[2022-11-14 13:45] #4013 closed, assigned to MakhonkoDenis, UraraReika

[2022-11-14 13:52] UraraReika commented on #5227
Hello @SpaceGoal.

Thanks for the feedback. This was released in the latest version of the plugin.

[2022-11-14 13:52] #5227 closed, assigned to UraraReika

[2022-11-14 14:06] Michaelgimii opened #6169 "Glossary support for visual filtering - jet engine + jet smart filters."
**Please, describe the feature request, making it clear to understand.**

Hi crocoblock team.

It would be great if you could add Glossary support to the visual filter. There is currently no support for it. thanks.

[2022-11-14 18:51] hegep opened #6170 "JetBooking and JetSmartFilters do not show locked days"
Hello,
I use JetBooking and JetSmartFilters to sell all-day event bookings. There are events not all week, only on designated days, i would like to filter the available events by date. I did this based on Crocoblock's description, that the events can be filtered by date. It works perfectly because it does not list events for which tickets have already been sold out.

We are always closed on Monday

[2022-11-15 05:01] morosmo commented on #2360
+1

[2022-11-15 09:43] kskonovalov commented on #6166
+1 good thing for an optimization

[2022-11-15 10:55] UraraReika commented on #6099
Hello @rtpHarry, thanks for the feedback.

We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. We install plugin that create new custom product types. After it create new product with this product type. Then create query like this https://tppr.me/YxYGb and https://tppr.me/Iod5B. As you can see everything working correct without manually

[2022-11-15 10:55] #6099 closed, assigned to UraraReika

[2022-11-15 12:03] JorensM opened #6171 "How to get products of current category in Listing Grid"
I have a product listing grid that is located in the Category Archive page. I need to know what posts query I must create to have the listing grid display the products of the current category. I cannot use 'use as archive template', as I must pass additional post queries to the listing grid.

[2022-11-15 14:44] LaxusCroco opened #6172 "Advanced Carousel: Adding Adaptive Height for slides"
The Testimonials widget has a feature called "Adaptive Height" that allows adapting the height of the testimonials items according to their actual height: https://prnt.sc/icUowdgd9hMa
We would like to see this feature in the Advanced Carousel widget as well.

[2022-11-15 17:09] RichiPM commented on #2432
Hello, I achieve it in the following way:
1. In the JetReviews settings, activate the "Post metadata" option and leave it as shown in the screenshot. I also synced it by pressing "Sync Rating Data"
2. Enter the single page and add the "Star Rating" widget, press the dynamic rating tab and leave it as the screenshot

[2022-11-15 17:16] RichiPM commented on #2432
**@Lance2j** Hello, I achieve it in the following way:

1. In the JetReviews settings, activate the "Post metadata" option and leave it as shown in the screenshot. I also synced it by pressing "Sync Rating Data"
![image](https://user-images.githubusercontent.com/118297105/201983266-39540c08-e844-440f-9207-26b5f14ce3a3.png)

2. Enter the single page and add the "Star Rating" widget, press the dynam

[2022-11-15 20:28] taropaa commented on #2632
Yup this seems to be broken or unfinished as I would expect this to work.

[2022-11-15 22:42] JacsSalvador commented on #1833
When I make a booking with JetBooking, the check-out is shown in the calendar as available and not busy. How can I solve this?

[2022-11-15 22:51] JacsSalvador opened #6173 "Check-out reservations are still available on JetBooking."
When I make a booking with JetBooking, the check-out is shown in the calendar as available and not busy. How can I solve this?

[2022-11-16 01:23] hamed-azimi commented on #5693
Any update on this?

The other issue was created 1.5 months before this was closed although it wasn't fully implemented, telling the remaining part will be implemented in this issue.

But this one also is not finished after months.

Now you only need to add a quantity field to fully finish this (or simply copy that one widget from WooBuilder to JetEngine)

[2022-11-16 02:15] tizum commented on #5693
I keep waiting for these improvements, I even lose performance on a site by using jetwoobuilder.

these quantity adjustments would be great and also about the style of the button and choosing the quantity.

[2022-11-16 06:49] morosmo commented on #6171
Hi!
Here the steps to get your results:

1. Create WC Product Query using jet Engine
![step1_1](https://user-images.githubusercontent.com/87468744/202099680-18f9eb53-7aae-4d6e-81c7-9b7daaf87339.png)
![step1_2](https://user-images.githubusercontent.com/87468744/202099714-2d6624ec-1dc8-4d5a-bf33-f15065857a2f.png)

2. Create Lisitng Design
3.Create Archive Template
![step3_1](https://user-images.gith

[2022-11-16 06:57] JorensM commented on #6171
@morosmo Thanks for the response. Is there any way to achieve this result using the Posts Query section in the listing options?

[2022-11-16 08:50] filwi opened #6174 "Bug: Calendar Listing Widget Caption padding & margin sets on wraper instead of caption"
**Describe the bug**
Don't know whether this is a feature or a bug, but when working with the caption in the JetEngine Calendar Listing widget, any changes to the caption padding and margin are set on the jet-calendar-caption wrapper, rather than on the jet-calendar-caption__name wrapper.

This means that it is impossible to add padding/margin between the text and the navigation arrows.

Perhaps t

[2022-11-16 09:23] morosmo commented on #6171
Here you go, Its much easier:'

From Post Quey Choose tax Query--
![post](https://user-images.githubusercontent.com/87468744/202140863-9085ffc8-ea1b-4414-b78a-64e00efac559.png)

Put this micro in "Terms" field:
%queried_term%

Thanks

[2022-11-16 09:32] JorensM commented on #6171
@morosmo Hi sorry, I decided to go with the Query Builder method after all. I have another issue. When I use WC Product Query, the listing grid items don't show the product's metadata.

The circled fields are getting the data from the product's meta fields:
![capture43](https://user-images.githubusercontent.com/17122123/202142048-af424131-e684-4c44-806c-12e76cd97701.PNG)

This is the listing grid

[2022-11-16 09:57] SargasTM commented on #3819
done, after testing will be added in the new version

[2022-11-16 10:20] JorensM opened #6175 "Listing grid items won't retrieve meta data from WC Product Query."
**Describe the bug**
When I use the WC Product Query to get products, the listing grid item fails to display the meta data of the product, created as dynamic fields in the product listing grid item.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a meta field for products
2. Create a WC Product Query and apply it to a listing grid
2. Create a listing grid item and include in it a dyna

[2022-11-16 12:13] Michaelgimii commented on #3366
+1
Hi @SargasTM , Please review this bug for a new version if possible. This is a serious problem. wish you luck. thanks!

[2022-11-16 12:17] marreiradigital commented on #5735
up!

[2022-11-16 12:21] fabiomarcelino commented on #5735
+1

[2022-11-16 12:27] oncps commented on #6092
@MjHead Wasn't this added in the new version of JetEngine? See that in the listing Grid has this option... but in the advanced tab of any widget, you do not have this option "Greater or Equal" or "less or equal"... Please standardize this by adding in the ADVANCED tab, and put this also in "Query Builder" when we create a dynamic condition... there also does not have...  See image below.

My Versi

[2022-11-16 12:35] Bakair commented on #5674
+1

[2022-11-16 12:41] kaskad88 commented on #6092
@oncps New conditions ( Greater or Equal, Less or Equal and other ) in Dynamic Visibility will be available in JetEngine v3.0.7

[2022-11-16 13:10] 79ho3ein commented on #3366
I hope this problem is solved. Now I have to use display condition to overcome this bug and this is not an interesting method. thank you in advance @SargasTM.

[2022-11-16 13:26] Topicimes commented on #3460
Hello to all, and especially to the developers! ✌️

When do you think this feature will be available? Because it has been a while now. Moreover, it seems to be requested by many of your customers.

See you soon!

@MakhonkoDenis @Floydtm

[2022-11-16 14:58] Topicimes opened #6176 "JetForm error message - Tell which fields have problems"
Hello,

The idea of this feature would be - when a message appears when the user wants to submit a form from JetFormBuilder - to display the fields related to this error.

This saves everyone's time:
- The user knows exactly what he has to change
- The user doesn't need help to handle the problem

Thank you!

[2022-11-16 14:59] #5097 closed, assigned to nobody

[2022-11-16 15:00] Topicimes commented on #4366
I have developed lines of code that do this. If you have something at this level let me know :D

[2022-11-16 20:07] IgnorePT commented on #2458
+1

[2022-11-17 02:43] azkalex opened #6177 "JetEngine Forms, not enough conditions"
**Please, describe the feature request, making it clear to understand.**

![image](https://user-images.githubusercontent.com/60075863/202339371-34217b5c-25f5-4871-9d85-a96d4347019e.png)

I'm really frustrated that you didn't bother adding "Not equal" and "Not in the list". Every time I'm trying to do something with Crocoblock plugins, I always find myself stuck because of missing no-brainer featur

[2022-11-17 10:48] #6071 closed, assigned to kaskad88

[2022-11-17 11:28] blenke01 commented on #5735
That would be perfect!

[2022-11-17 11:29] filwi opened #6178 "Bug: Linked Listing items aren't recognized as links"
**Describe the bug**
When creating a listing where the whole item is made clickable by the "Make listing item clickable"-function under listing settings, the event listener set to listen to a click on the item in the listing grid doesn't announce itself as a link.

This means that web browser link functions, such as "Open in new tab" or "Open in new page" aren't available for whole list item links

[2022-11-17 13:24] filwi opened #6179 "Bug: JetSmartFilters - When button borders = "none", CSS border:none property is not set"
**Describe the bug**
When one chooses a button "border" property of "none" in JetSmartFilters, the CSS border property for the button is removed instead of being set to "none", allowing the default theme border property to take precedence, adding the themes default border.

![BorderNone](https://user-images.githubusercontent.com/8066290/202457787-cc12806e-5607-42fa-8162-33730ed858e1.jpg)

**Deskto