[2022-07-29 16:27] leandroseja opened #5710 "Filter Listing Grid by taxonomy. SmartFilter"
Friends,
I have a listing grid with taxonomy of cities
Ex:
City 1 (Taxonomy)
-- Company 1, Company 2, Company 3, Company 4 ( Post_type )
City 2 (Taxonomy)
-- Company 1, Company 2, Company 3, Company 4 ( Post_type )
City 3 (Taxonomy)
-- Company 1, Company 2, Company 3, Company 4 ( Post_type )
City 4 (Taxonomy)
-- Company 1, Company 2, Company 3, Company 4 ( Post_type )

Within each city, I have com

[2022-07-29 16:36] rlb222 opened #5711 "Lazy Load button makes CSS disappear (like .wp-container-99 )"
**Describe the bug**
When I set 'Lazy Load' to true on a Listing Grid, the css definitions of the `wp-container-99` are deleted.
This makes the flex box definition disappear.

Everything here is done in Blocks (Gutenberg), no elementor.

**To Reproduce**
Steps to reproduce the behavior:
1.  I have a (blocks) jet engine listing with the definition of one property name: 'myproperty'.  I have rows an

[2022-07-29 16:43] rlb222 commented on #5711
It's maybe connected to issue #5683

[2022-07-29 16:52] leandroseja commented on #1217
I'm trying via GET Params and without success.
Can you share your solution?

[2022-07-29 17:42] 79ho3ein opened #5712 "Arrow directions are not displayed correctly in RTL - jet search"
**Describe the bug**

In the JetSearch plugin, the directions of the arrows are not displayed correctly. **This problem only exists in RTL.**
hello @Floydtm , Please check this issue.

thank you!

[2022-07-30 01:49] jandakatz commented on #2432
Lance did you ever find a workaround? I'm looking for the same exact thing..

[2022-07-30 13:22] Lance2j commented on #2432
No. I've given up. I'm working on other solutions.

[2022-07-30 14:19] jandakatz commented on #2432
Can you give me a direction to look into, as you've been at this longer than I have?
I read a post somewhere it might be easier to do everything with jetengine alone and build the submission forms with jetform

[2022-07-30 17:04] DamascinoPS commented on #3795
Hi
did you add some more advanced solution yet

[2022-07-31 12:51] dmayembe opened #5713 "Password and username filed in Profile builder"
Hello
I noticed that when you create a frontend form for the User Setting option in profile builder when you restrict access to the admin backend, the user's"Email field" is still editable, as well as the "Username" you ever display these fields. It will be nice to disable that option, so the user cannot edit those from the frontend since we do not give them access to the backend'

![Account-–-Com

[2022-07-31 15:36] saltkinmedia opened #5714 "[Dev tools] Put jet engine list counter in dynamic tag"
Hi,
It's possible to use this dev tool in a new Dynamic Tag?
It be awesome if we could use list counter in the display conditions.

![image](https://user-images.githubusercontent.com/67977248/182033930-46f631a7-ed4c-4147-81c6-4873b075dbf9.png)

[2022-07-31 22:32] Michaelgimii opened #5715 "dynamic tag for product grid & list not found field / jet woobuilder"
Please add dynamic tag option to not found field : https://prnt.sc/6FhSfMJLsrCR

https://prnt.sc/rWol_HmEXm0F

[2022-08-01 08:09] chipweb commented on #5700
With that method we can attach custom fields to the terms of the attribute. I was suggesting to add custom fields to the attribute (not terms).

[2022-08-01 09:29] UraraReika commented on #5705
I merged this issue with [#3755](https://github.com/Crocoblock/suggestions/issues/3755), which is on the same subject so we could deal with it more efficiently. We currently working on this issue.

[2022-08-01 09:29] #5705 closed, assigned to nobody

[2022-08-01 11:32] #5689 closed, assigned to UraraReika

[2022-08-01 11:34] MarijnEndeavour opened #5716 "Make your own translate plugin"
Hi,

I know there are a lot of great translate plugins out there like wpml, polylang etc... But it would be much better if you create your own translate plugin that maches up WPML for example

[2022-08-01 12:47] emakx opened #5717 "JetTabs WPML Compatibility Issue"
Hello,
I have the Full lifetime license of CrocoBlocks and I developing ALL my website using it for 2 Years now.

There is a fatal error appears when I installed WPML, I think it is a Compatibility Issue with JetTabs. Please see the attached image for the error:
https://www.awesomescreenshot.com/image/30901949?key=ac0aaff5466e2afe29361bc4ee39edba

almost all my clients require multilingual website

[2022-08-01 12:53] 79ho3ein commented on #5709
+1

[2022-08-01 13:05] Floydtm commented on #5717
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-08-01 13:46] GALASIO commented on #2252
+1

[2022-08-01 13:46] GALASIO commented on #1744
+1

[2022-08-01 13:53] Androidiawebsites commented on #1744
What???

El lun., 1 de agosto de 2022 08:47, Ioannis Savvidis <
***@***.***> escribió:

[2022-08-01 14:22] lukechinworth commented on #2181
They updated this with custom event bus, so now you can do
[code]

You can see the other events (loading start/end, etc) in `wp-content/plugins/jet-smart-filters/_dev/src/js/FilterGroup.js`

IMPORTANT: be sure to include your js after jet smart filters, because it clears out all listeners when it initializes.

[2022-08-01 16:34] DeaDy0001 opened #5718 "Custom Content Type for Calendar Widget"
Hi, i am Michael

I am building a website for my company and would like to set up a calendar for my customers.

YouTube streams should be displayed there. This can also be multiple streams for each project.

for the performance of the website it is certainly better if the streams do not have to be created in CPT, since no single page is required either.

Is it possible to add a possibility for CCT

[2022-08-01 17:44] 79ho3ein commented on #5689
hi @UraraReika , thanks for new update.
As I mentioned in the last message, in the product grid widget, grid item settings, the box shadow option is not available for hover mode. It will be displayed only if we enable normal mode for it. But this is really problematic. Because it causes websites that used only the hover shadow before version 2.0.0 to now have their box shadow broken. (For example,

[2022-08-02 06:56] tealou commented on #2312
+1 - any progress? This is something that we've been waiting years for with no solution and it is a pretty basic thing. It is these details that make me want to move away from Crocoblock and wasting days on end for basic functionality is wearing thin.

[2022-08-02 07:19] UraraReika commented on #5696
Hello @vincent20022 !

Thanks for the feedback.

We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please [contact](https://support.crocoblock.com/support/home/ ) our support team.

Thank you!

[2022-08-02 07:19] #5696 closed, assigned to UraraReika

[2022-08-02 10:41] rtpHarry commented on #1145
This is something that I need for my current project.

It is possible to go into WooCommerce > Products > Product and edit the template for a single product:

<img width="297" alt="image" src="https://user-images.githubusercontent.com/1038062/182337181-10aa0127-187a-4c43-b5ce-25b796b5e3e4.png">

I have three different types of shop running in the one site though, and need to add templates per cate

[2022-08-02 11:46] EliKO109 opened #5719 "A JetEvents plugin"
I believe that there is a request like that already, but I thought it'll be good to request it again.
Would be great to have a new JetEvents plugin or maybe customize the JetAppointments a bit so it could match to specific events as well.
The biggest issue is that I can't find an easy way to create events where I can control the capacity of the event, get paid for it via Woocommerce, and have a da

[2022-08-02 12:53] rtpHarry commented on #1145
I took another look at this, and this snippet is the basic code that would assign a custom category to a product.

[code]

It's just a starting point, as I want this to be customisable for the shop manager.

I'm thinking that it will need a custom drop down adding to the taxonomy category page, using this:

https://stackoverflow.com/questions/33907177/add-custom-taxonomy-metadata-field-to-wordpres

[2022-08-02 13:34] Michaelgimii opened #5720 "bug in product grid widget"
After updating to version 2.0.1 in the product grid widget in the grid item section, the box shadow option has been removed in the hover tab. This has caused all product carousels that used the hover box shadow to be disabled. Please fix this problem. I can't go back to the previous version

[2022-08-02 13:58] michaelbabic opened #5721 "Add a function to sort dynamic terms"
I have the issue that I am using a taxonomy "cities" and sub-taxonomies "districts". For e.g. the city "Stuttgart" and the districts "Berg" and "Vaihinigen".

So, when I use dynamic terms in the location listing, all sub-taxonomies that are alphabetically before "Stuttgart" are listed first, for e.g. "Berg, Stuttgart" and all districts that are alphabetically after "Stuttgart" are listed after ist

[2022-08-02 18:41] conradomd opened #5722 "JetAppointments wrong Time Format at email and order review."
**Describe the bug**
When time format is set to 13:00 - 14:00, emails and order review still showing 1:00 - 2:00 pm format.

**To Reproduce**
Steps to reproduce the behavior:
Go to 'woocommece orders' or see emails sent by the plugin.

**Expected behavior**
Always see the 24h format when is set.

[2022-08-02 19:07] nreljed opened #5723 "Jetformbuilder compatibility with ACF gallery ⚡"
![issue acf gallery](https://user-images.githubusercontent.com/82481592/182453337-952ffa7a-ec3a-4666-8467-c4916367c153.png)

I realize that it is not possible to update or modify acf gallery with jetformbuilder
despite that I have checked that the field name "gallery" and the parameters are the same for both, it does not work.
the idea is to quickly take advantage of jetformbuilder and its fronten

[2022-08-02 19:08] conradomd commented on #5722
I found the solution by setting de date format at Insert appointment > WooCommerce order details: Set Up.

Thanks.

[2022-08-02 19:08] #5722 closed, assigned to nobody

[2022-08-02 21:32] jacktaffa opened #5724 "Add possibility to add Link with dynamic field on dynamic field"
Hi, What I'm asking is  to add possibility to use dynamic field for get for example meta field value, then attach to this meta field an anchor link inserted by text field with dynamic tags for example how it happens on default elementor button widget:

- 1 text field to insert value
- 1 text field to attach link, dynamic tags to attach popup, meta field value etc...

This request is because some t

[2022-08-02 22:26] rtpHarry commented on #1145
OK I spent a few hours this evening and built this out into a plugin.

It adds in new template settings to the Category taxonomy of WooCommerce Products to let you apply a custom template per-category.

You can use the priority setting if your products are assigned to multiple categories and you want to control which template is used.

<img width="810" alt="image" src="https://user-images.githubus

[2022-08-02 23:50] nreljed opened #5725 "Jetengine compatibility with ACF User field ⚡"
![ACF User field](https://user-images.githubusercontent.com/82481592/182495885-18f063b4-84c8-4cbc-b0f8-1dbb0262367a.png)

I can't find the easiest and fastest way to link my listing agents to the ACF User field

the idea is to quickly take advantage of jetengine query builder and the display of listings,  and the flexibility of ACF in the backend for more complex projects where ACF is required

an

[2022-08-03 00:17] rtpHarry commented on #5709
Yeah its a shame that the global widgets feature of Elementor doesn't work like this. It's only useful if you want the exact same copy of the widget site wide.

You can't even use it as a blueprint and just detach it from the global widgets because that just disconnects all of them.

Would be good if some solution could be found.

[2022-08-03 06:41] SirChopper commented on #2361
++1 please

[2022-08-03 07:17] Michaelgimii commented on #5720
@UraraReika

[2022-08-03 08:37] perks98 opened #5726 "🔥 Jet Engine Feature Request - Allow Meta Data Entry in Elementor Editor"
Using Jet Engine it would be good to have additional compatibility with Elementor page builder plugin so that users can input Jet Engine custom metadata or taximonies while editing the page that has those fields in the Elementor editor.

Currently you can only add and edit Jet Engine custom fields in the edit page dashboard, so users have to go to two locations of there to update the custom field

[2022-08-03 09:53] chenisra opened #5727 "500 error when try to save a listing"
I create a listing item.
when I try to save it at elementor I get a 500 error.
I increased the memory limit and still happaned.
after that, I try to deactivate plugins
and still get a 500 error.
after that, I try to change Jet engine version from 3.0.2 to 3.0.1,
and finally it worked.

[2022-08-03 10:39] 79ho3ein commented on #5720
#5689

[2022-08-03 11:25] rtpHarry opened #5728 "JetWooBuilder - Enable Custom Taxonomy doesn't work without Enable Custom Shop Page enabled"
**Describe the bug**
According to the documentation here, the Enable Custom Taxonomy setting should work without needing Enable Custom Shop Page being enabled:

https://crocoblock.com/knowledge-base/articles/jetwoobuilder-how-to-set-up-a-custom-product-taxonomy-template/

<img width="846" alt="image" src="https://user-images.githubusercontent.com/1038062/182593905-7b39a6f4-2399-4165-bfcf-28704ca32

[2022-08-03 11:40] 79ho3ein opened #5729 "Possibility to customize the add to compare widget message - jet compare & wishlist"
**Please, describe the feature request, making it clear to understand.**

hi

As you know, we can only compare 4 products. If the user adds a fifth product to the comparison list, a [message](https://prnt.sc/erjx99N1NQs_) will be displayed.
This message cannot be customized at this time. So it would be great if you could add controls to customize this message. **Some controls such as :**
1- Abilit

[2022-08-03 11:56] rtpHarry commented on #1623
I worked with support and they found the setting "Use AJAX Add to Cart" was not checked:

<img width="831" alt="image" src="https://user-images.githubusercontent.com/1038062/182601774-78b0e7c6-aa66-4b5f-8074-d4f8cdcab722.png">

This fixed the issue I was experiencing.

It is not mentioned in that tutorial so it should probably be updated.

[2022-08-03 11:59] rtpHarry commented on #5728
Actually looking at the end of the article, section 3 clearly implies this should work without needing the "Custom Shop Page" feature to be enabled:

<img width="907" alt="image" src="https://user-images.githubusercontent.com/1038062/182602327-69acbf77-4955-46a1-9fa3-08fa32e6309b.png">

So there is a bug in JetWooBuilder somewhere which prevents the feature working without Custom Shop Page also be

[2022-08-03 12:12] rtpHarry commented on #4785
I've implemented a version of this, as a plugin, which lets you assign product single templates based on the product category:

https://github.com/rtpHarry/jet-woo-builder-category-custom-product-template

It adds configuration options into the WooCommerce Product Category taxonomy to let you select the "product single" template to apply.

[2022-08-03 12:13] rtpHarry commented on #3913
I've implemented a version of this, as a plugin, which lets you assign product single templates based on the product category:

https://github.com/rtpHarry/jet-woo-builder-category-custom-product-template

It adds configuration options into the WooCommerce Product Category taxonomy to let you select the "product single" template to apply to all products with that category.

[2022-08-03 12:15] rtpHarry commented on #2540
I've implemented a version of this, as a plugin, which lets you assign product single templates based on the product category:

https://github.com/rtpHarry/jet-woo-builder-category-custom-product-template

It adds configuration options into the WooCommerce Product Category taxonomy to let you select the "product single" template to apply to all products with that category.

I actually didn't see t

[2022-08-03 12:24] UraraReika commented on #1623
This tutorial has nothing related to Single AJAX Add to Cart functionality so it is not mentioned.

[2022-08-03 12:26] lamlai commented on #2551
+1

[2022-08-03 12:36] #5720 closed, assigned to UraraReika

[2022-08-03 12:36] UraraReika commented on #5720
2.0.2 release.

[2022-08-03 12:37] koystrubvs commented on #2660
+1

[2022-08-03 12:39] lamlai commented on #2956
+1

[2022-08-03 12:39] 79ho3ein opened #5730 "Some suggestions for improving the single rating widget"
**Please, describe the feature request, making it clear to understand.**

hello
Please consider the following to improve this widget :

1- Custom icon (svg)
2- Full control over text editing (The [text editing feature](https://prnt.sc/eRByxYek3pon) has been added in the new version. But [parentheses](https://prnt.sc/8m02w12cGnYC) cannot be controlled.)
3- The possibility of displaying the variable

[2022-08-03 14:53] UraraReika commented on #4802
Hello @mdesignweb !

In one of the latest JetWooBuilder release new WooCommerce Action widget was presented https://tppr.me/Vk25h. Basically you can use it whenever you want but for now only Products Loop And Single Products hooks exist https://tppr.me/Rkv09. So it is better to use when you create Archive Item Template or Single Product Template with the help of JetWooBuilder or Product Listing It

[2022-08-03 15:23] rubenlascasas opened #5731 "Social Share Select custonfield for title post, image...."
i used elementor's default social share widget. and when i try to share with facebook for example, it automatically takes the post title and the website logo, because it doesn't use featured image of the post. i wanted to set it to use the customfield

[2022-08-04 03:22] LuisYGM opened #5732 "Jet engine + SmartFilter with Bricks = perfect combination"
Do you plan to integrate jet engine and smart filter with bricks in the future?

[2022-08-04 06:52] hamed-azimi commented on #5693
Great work so far with the recent updates. Not much is remaining to achieve this. I hope to finally see it fully implemented. A full, feature-rich add-to-cart widget with the rich support of ajax and a quantity field is a boost for sales.

[2022-08-04 08:12] dshamsession opened #5733 "Add a clear and fitting title for the feature request"
For culture and event industry, it is crucial whether a small organiser can integrate a simple ticketing system on their own website by themselves or whether they have to use external software and systems and pay a percentage fee per ticket issued.

For service providers such as hotels or massage salons, Crocoblock has created two solutions with the JetBooking and JetAppointment plug-ins, which ma

[2022-08-04 10:51] Michaelgimii opened #5734 "jet woobuilder product grid box shadow ux"
In a recent update, the box shadow option added to hover section.
**But one question...**
Why is the box shadow option removed from the blue section and moved to the red section? https://prnt.sc/crcincOTvZFP
This was not a smart change. Because if the user enters the hover section, he will see two shadow box options, which can be misleading.
https://prnt.sc/txeYKFPpxwnD

Therefore, I think it is b

[2022-08-04 15:41] rtpHarry commented on #1623
I was just sharing what fixed things for me.

I wasn't really trying to get any support, sorry for polluting this issue thread, I just wanted to round it out for anyone that ended up on the same journey as me:

  - I followed the tutorial.
  - When I tried it out and clicked the add to cart button in the popup it redirected to the product single.
  - I wanted it to just add to cart and stay on the

[2022-08-04 23:19] vovkasolovev commented on #5080
I agree, these features are necessary. Especially the addition of custom URLs, such a feature would close a huge part of the needs and reduce the number of templates.

Faced with this, when the site needed to have both Profile builder and WooCommerce cabinet, which has its own My Account pages. Since we have JetWooBuilder, it would be great to have a single Account pages instead of two separate on

[2022-08-05 00:01] fabricioventura commented on #3961
+1

[2022-08-05 00:02] fabricioventura commented on #3743
+1

[2022-08-05 00:25] marreiradigital opened #5735 "Jet Engine: Listing Grid JUSTIFY"
It would be interesting to have the option to justify, in addition to masonry, so we could have greater freedom when creating a beautiful design.
![image](https://user-images.githubusercontent.com/69692854/182976593-eeb42dd1-998e-46bd-b5da-ed16900cca79.png)

See an example below:
![image](https://user-images.githubusercontent.com/69692854/182976662-b415dab0-6f22-4b0c-911e-f3008f4d110f.png)

[2022-08-05 00:27] dyonatandias commented on #5735
+

[2022-08-05 00:27] dyonatandias commented on #5735
+

[2022-08-05 00:27] guibarbas commented on #5735
UP

[2022-08-05 00:28] dantetesta commented on #5735
This feature is very important!!
Let's implement @Crocoblock

[2022-08-05 00:28] tizum commented on #5735
+1

[2022-08-05 00:30] dantetesta commented on #3819
I have the same problem in my real state web site! please solve for us! @Crocoblock

[2022-08-05 00:30] dyonatandias commented on #5735
+1

[2022-08-05 00:33] fabricioventura commented on #3819
I have the same problem, please help us with this bug.

[2022-08-05 00:35] guibarbas commented on #3819
UP

[2022-08-05 00:36] fabricioventura commented on #5735
+1 please Croco!!!!

[2022-08-05 00:37] tizum commented on #3819
+1
i would like to see this resolved soon

[2022-08-05 00:40] marreiradigital commented on #3819
+1 @Crocoblock

[2022-08-05 06:00] iawhoman opened #5736 "Add access to SQL query result columns inside Dynamic Link widget"
So here is the situation. I created a SQL query with the Query Builder, and I can access everything I want (like order_item_name in the screenshot below) in the listing template by using the Dynamic Field widget, like so:

![Screenshot (258)](https://user-images.githubusercontent.com/100540133/183010112-ad937d07-d396-4b69-a795-f38f7c100681.png)

As you see, there are two other pieces of informatio

[2022-08-05 08:26] rtpHarry commented on #5733
This is something that keeps coming up for my clients as well, and I haven't found a good solution yet.

[2022-08-05 09:04] CptSlow2000 commented on #2389
+1 The most known alternative caused issues with my Elementor/Croco site.
An all in one solution would be great.

[2022-08-05 09:05] poiterdesign commented on #2389
Bedankt voor je bericht!

Ik ben op vakantie t/m 28 augustus

Voor dringende vragen (mbt je website) kun je altijd een mailtje sturen naar ***@***.***!

Met vriendelijke groet,

Pieter van Boven
Poiter Design

---

Thank you for contacting me.

At the moment I'm out of office untill 28th of August
In case of urgent problems with your website, please send an e-mail to ***@***.*** or call 0031 6 28

[2022-08-05 11:06] lamlai opened #5737 "JetEngine: Add Lightbox link for gallery images in Dynamic Repeater"
Hi,

I am making image galleries for my projects with Dynamic Repeater. Currently, the images in the gallery are displayed outside but it is quite small, I want to click on the image to expand it with the Lightbox effect.

Hope Crocoblock develops this feature soon.

Thanks!

[2022-08-05 11:50] otomasz commented on #1909
Will the loader be added to JetSmartFilters?
A total must have feature 👍

[2022-08-05 13:51] pieter-vanhove opened #5738 "Expose the google maps javascript object so it can be hooked into with custom code"
As a developer this would be quite handy for implementing custom behavior while we wait for features that may or may not materialize.

Right now we need to do this with a patch (see attached file for an example), which is fine but a bit of a hassle. It would be nice if this was simply supported.

[expose-gmap-as-data-attribute.txt](https://github.com/Crocoblock/suggestions/files/9269186/expose-gma

[2022-08-05 13:52] pieter-vanhove commented on #5076
+1

[2022-08-05 15:22] TipoSamuel opened #5739 "Custom query from the query builder doesn't show the results in the Elementor Archive but it does in the frontend"
**Describe the bug**
When creating a custom query from the query builder for my category archive from elementor it doesn't show the results but in frontend it does, preventing to visualize how it looks like and to be able to adjust values like columns, padding, vertical/horizontal gap.

**Elementor view**
![Captura web_5-8-2022_111918](https://user-images.githubusercontent.com/107733998/183109443-

[2022-08-05 19:42] rtpHarry commented on #5738
Good tweak!

This is what's in the text file:

[code]

[2022-08-05 19:47] rtpHarry commented on #5738
You've made me curious with this. Is there some plugin out there that would apply a patch like this automatically after a plugin update runs?

There are lots of times I bump into the edge of what is supported with a plugin without modifying the source.

It would be really useful if there was a plugin which monitored for a nominated plugin being update, and attempted to reapply patches like this up

[2022-08-05 20:34] rtpHarry commented on #5737
You can do this the lightbox manually with a class I think. Can't find the snippet right now but I'm sure i've seen it before.

There is this [custom plugin](https://themeoo.com/how-to-add-wordpress-lightbox-in-elementor/) which will then let you use `class="wplightbox"` if you can't find the proper lightbox snippet.

So you would want something like this in your dynamic repeater:

[code]

I haven

[2022-08-05 20:40] rtpHarry commented on #5737
Hmm it could be `data-elementor-open-lightbox="default"`.

https://toolset.com/forums/topic/make-the-image-to-link-to-open-the-light-box/

https://www.youtube.com/watch?v=OeWj1IRRoY8

[2022-08-06 11:11] hb81010 commented on #5732
+1

Performance was never excellent because of Elementor. Since the 3.6 Elementor update, the dynamic elements have become much slower.
Elementor is a bottomless pit and I would also be happy if all plugins were compatible with Bricks.

I use Elementor only because of Crocoblock

[2022-08-06 13:48] rustyrayzor commented on #5026
+1 i'm honestly surprised this isn't a thing yet o_O

[2022-08-07 14:46] JuanCar29 opened #5740 "Query builder sql advanced mode"
I have been reviewing the documentation and I can't find how to make the Count SQL query option work in query builder in advanced mode sql.
![Captura de pantalla 2022-08-07 a las 11 10 21](https://user-images.githubusercontent.com/90837626/183296651-0662074e-0250-45df-8551-27b39aa767c3.png)

[2022-08-08 00:34] basement440 commented on #5489
Is this a bug that is going to be "fixed" or is the "has single page" option working as it should? I'm trying to figure out if a CCT is the right solution for a project.

[2022-08-08 08:13] pieter-vanhove commented on #5738
@rtpHarry we are using composer for our projects with the cweagans/composer-patches package and store the jet plugins in private repositories, composer retrieves the packages and then tries to install patches, so the patches are applied at build level.

I would caution against trying to automatically apply patches outside of a continuous delivery pipeline (as in directly on a production server), t

[2022-08-08 08:46] hschk commented on #2458
+1

[2022-08-08 11:27] ClickEli commented on #5492
Same request

[2022-08-08 14:22] ro0t3r12 commented on #5568
Any new news here? @Floydtm @UraraReika

[2022-08-08 14:46] jrtimms1278 opened #5741 "Sorting listing grid by related items count"
I have a listings grid set up here:
https://worthsadev.wpengine.com/our-listings/.

One item in each listing is an "Available Spaces" number, that is currently being brought in via the "Related Items Count" dynamic field.
<img width="435" alt="Screen Shot 2022-08-08 at 10 45 33 AM" src="https://user-images.githubusercontent.com/63506521/183445679-9fb82ba4-3aaf-477e-9332-b0ec4e547a9f.png">

What I'

[2022-08-08 18:37] MichaelKano opened #5742 "Accessibility"
Buttons do not have an accessible name in button.jet-ajax-search__submit (jet search)
<img width="799" alt="Screen Shot 2022-08-08 at 21 32 32" src="https://user-images.githubusercontent.com/36563947/183489424-b6bafc9d-ca50-44da-8348-7cd2cf36cc89.png">

[2022-08-08 18:56] Joliamendi opened #5743 "Product title length in jet woobuilder plugin"
**Please, describe the feature request, making it clear to understand.**

hi @UraraReika
Your plugin is really great. But I had an important request for it...
Currently, we can set the length of product titles in words or letters. But this has an important drawback. The problem is that if, for example, on the desktop, we consider the length of the title to be 40 characters and the title is display

[2022-08-08 20:46] RibeiroM4E commented on #3921
This could be added to JetFormBuilder and JetEngine Forms as well.

[2022-08-09 08:11] dirkmathienz opened #5744 "JetElements: Disable/toggle auto hide scroll navigation item, if section ID missing"
Hi,

I have a request for a function based on a recently added suggested feature by a user.
I'm talking about this post here: https://github.com/Crocoblock/suggestions/issues/4921

This feature was added in JetElements 2.6.4
It automatically hides the Scroll Navigation if the section ID is missing.

This lead to problems on my many websites.
I use the scroll Navigation to toggle Popup windows or o

[2022-08-09 11:14] LevelUpGit commented on #5736
Same issue: https://github.com/Crocoblock/suggestions/issues/5430

[2022-08-09 11:43] UraraReika commented on #4802
We haven’t heard from you in a while so I’m going to go ahead and mark this thread as resolved. If you still need help with this issue or have any other questions about our product, please start a new thread.

[2022-08-09 11:43] #4802 closed, assigned to UraraReika

[2022-08-09 15:58] bombarda-rpd opened #5745 "Services widget"
In Mobile and tablet is not possible specifi a diferent position to the header.
If you set the header to the left, on mobile the content will appear to much to the right
<img width="581" alt="Captura de ecrã 2022-08-09, às 16 57 12" src="https://user-images.githubusercontent.com/32551076/183700694-182e0387-f102-4e2b-a92c-78c555b4fc93.png">
<img width="449" alt="Captura de ecrã 2022-08-09, às 1

[2022-08-09 16:33] ClearianDev opened #5746 "License Listing is NOT Helpful for Developers"
Hi Croco Friends,

I hope you are all well and getting by okay - despite the devil next door.  We love you.

**The difficulty determining which licenses go with which clients and site is profoundly upsetting.**  We have to click into each app license, and then click into each Site to determine why a site's license is/not expired.  I use most of the Croco Apps and my license list is long... If I ha

[2022-08-09 18:35] gguzzman commented on #2543
I vote for this feature to work with Calendly and allow calendar synchronization. I think this will be an important leap for Jet appontment. Cheers

[2022-08-09 20:01] pamanseau opened #5747 "MAP Widget: show close listings from one location"
Right now the GEOLOCATION is the only way to show listings around a user location.

We request to be able to show the listings around a single location of the current listing.
This is useful to show other properties, restaurants, and other types of CPT around the current listing.

Thank you for your great work.

[2022-08-09 21:14] jimhuds opened #5748 "Quantity selector and Load more clash"
When scrolling infinite scroll with the Load More devtool, the custom quantity selectors from the Quantity Selector devtool disappear back to default after first scroll.

[2022-08-09 21:36] RoynerG commented on #5545
How did you get that dev to work, I try it and test it and it doesn't filter :c

[2022-08-09 23:39] 79ho3ein opened #5749 "Ability to display filters as a carousel (only for mobile & tablet) - jet smart filters"
hi crocoblock team!

Adding a new feature to display filters as a carousel is great. for example :

**Ability to activate the carousel for the visual filter widget** : https://prnt.sc/fA6kSCtZ8oHU
If you're adding a carousel feature, it's great if you add two other features along with it.
1- free mode (It is only used on mobile phones and tablets)
2- overflow : https://prnt.sc/-l7HFhSJuXuj
Both of

[2022-08-09 23:54] Joliamendi opened #5750 "In jet woobuilder plugin, the best sellers query does not work"
**Describe the bug**
I use jet woobuilder plugin to display best sellers products. But this query is not working properly. In fact, when I select this query, it displays products that have never been sold.
Crocoblock team, please is there a quick fix to fix this problem? I have only 20 days to deliver project to the client. I am really worried about this. Is there a solution?

**To Reproduce**
1-

[2022-08-10 06:16] UraraReika commented on #5743
Hello @Joliamendi!

I merged this issue with [#4948](https://github.com/Crocoblock/suggestions/issues/4948), which is on the same subject so we could deal with it more efficiently.

Thank you!

[2022-08-10 06:16] #5743 closed, assigned to nobody

[2022-08-10 08:46] alfredo49 opened #5751 "JetElements => Testimonial Carousel Widget , random order items feature as Testimonial Widget"
Hi:

In the past i will request random order elements in Testimonial widget, this feature was added in Jet Elements 2.6.7

Now i would like to request this feature also in **Testimonial Carousel Widget**, in my case is an important feature because now items always have the same order and in the testimonial structure is important ramdom items.

Thxs

[2022-08-10 10:09] Floydtm commented on #5726
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-08-10 10:09] #5726 closed, assigned to nobody

[2022-08-10 10:14] Floydtm commented on #5727
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-08-10 10:14] #5727 closed, assigned to nobody

[2022-08-10 10:37] perks98 commented on #5726
Hi @Floydtm. I think this is a big missing feature as I get a lot of customers struggle using WordPress and Elementor for the first time, asking them to go to the page edit section as the very bottom is another step which shouldn't be needed. I can understand there are other nicer features but I see this as a quality of life feature as I feel there are more priority updates around Gutenburg which

[2022-08-10 11:30] Floydtm commented on #5731
You should leave it [here](https://github.com/elementor/elementor/issues)

[2022-08-10 11:30] #5731 closed

[2022-08-10 16:24] traunis opened #5752 "CTT cvs import"
CTT is a great Jetengine feature. You can recreate a database.
An import facility is a must. In the back end you must be able to populate your tables by using data iimport. Manual population is not for backends. It is time consuming, and very prompt of errors.

Instead creating a CVS file makes things easier.

I followed your presentation of 2.5 Jetengine more than one year ago. You mention that i

[2022-08-10 16:33] w3b-beweb commented on #2312
+1 for this one. I need to order a checkboxes categories filter by term_order, not alphabetically

[2022-08-10 17:19] woofyoso opened #5753 "Smart Post Tiles Layout"
Hi all. I hope you are doing well. :)
I have a nice feature to propose. It would be great if we have an option to change the Smart Post Tiles Layout separately for every device and also to have an option to choose one tile so we can create nice sliders :)
With this option/setting, the widget will be even more powerful.  \o/
https://imgur.com/JDagqjP

Many thanks for considering my request.
Igor

[2022-08-10 20:34] dmayembe commented on #5486
Yes, a combination of strings. not just calculated filed with arithmetic

[2022-08-11 05:05] kim8310 opened #5754 "Hierarchical filter options for Checkboxfilters or any other type than Select Filter"
While the hierarchical Filter option for Select Filters is okay, its quite limiting while building advanced Listings sites or blogs with a more complicated category structure.

It would be great, if you could connect other filters like Checkbox Flters in a hierarchical way. So when ever a user picks one options, all filters automatically adjust, showing only the fitting options.

Other plugin like

[2022-08-11 08:09] MjHead commented on #5636
@lukechinworth Such case was on of the main reasons of adding Query ID option for the Queries. We just investigated this issue one more time and there is still the only solution.

Where is the problem:
- Query ID option was not added from the first version of Query Builder, so from the start query builder queries was separated only by listing ID and filter ID.

But on some stage we undersatnd that

[2022-08-11 08:09] #5636 closed, assigned to MjHead

[2022-08-11 08:25] Michaelgimii opened #5755 "bug : category grid widget / jet woobuilder"
In the category grid widget, if a category is empty, the manual selection option will not find it. https://prnt.sc/IxPwLjFeUB5a

[2022-08-11 08:32] apatsidis123 opened #5756 "Download button of JetElements, work with repeater dynamic Data"
hi,

So my request sounds simple enough not to be already implemented so let me explain:

So as this [link](https://crocoblock.com/knowledge-base/articles/jetelements-dynamic-data-addon-how-to-use-dynamic-values-in-the-jetelements-widgets/) explains in the step 2, you can use the repeater's dynamic data only on the following:

**Advanced Carousel, Images Layout, Portfolio, Price List, Testimonials

[2022-08-11 09:13] Michaelgimii opened #5757 "Request for a new jet plugin (only for elementor)"
hi crocoblock team!

I had a request for your team to produce a new plugin for elementor. This plugin will be a very simple but wonderful plugin.
As you know, elementor is the biggest WordPress page builder and it's getting bigger every day. But in all its sections and widgets, it has deficiencies. If you look at the elementor github, there are hundreds of requests from users who have a series of

[2022-08-11 09:47] Floydtm commented on #5753
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin
Right now you can use this [solution](https://crocoblock.com/plugins/jetgridbuilder/)

[2022-08-11 09:47] #5753 closed, assigned to nobody

[2022-08-11 12:27] Floydtm commented on #5757
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-08-11 12:27] #5757 closed, assigned to nobody

[2022-08-11 13:03] imsadhappy opened #5758 "Fatal error: Uncaught Error: Class 'Jet_Dashboard\Utils' not found"
Fatal error: Uncaught Error: Class 'Jet_Dashboard\Utils' not found in /var/www/wp-content/plugins/jet-engine/includes/modules/modules-updater.php:274

**Stack Trace**
1. Jet_Engine_Modules_Updater->get_update() /var/www/wp-includes/class-wp-hook.php:309
2. WP_Hook->apply_filters() /var/www/wp-includes/plugin.php:191
3. apply_filters() /var/www/wp-includes/option.php:1992
4. set_site_transient() /v

[2022-08-11 13:17] JelleGe commented on #5627
Any update on this?

[2022-08-11 14:36] Andreas2209 opened #5759 "Timeline Widget Requests"
Hi, i have two requests regarding the timeline widget (+dynamic data addon).

1. Unfortunately macros are not support in the meta dynamic settings. I want to use format_date macro in order to convert my meta date_field of my repeater field.

2. There should be an option in order to dynamically make every item that is in the past "active" and every item that is in the future inactive (or the other

[2022-08-11 14:37] mmarzanweb commented on #2646
I really don't know why this feature hasn't been implemented yet. :( It seems to be a demand from the entire community that uses map listing.
Pleeeeeeeeeease, do it! :)

[2022-08-11 14:54] Floydtm commented on #5726
In the admin panel, you can configure everything as you like. https://prnt.sc/1XUhDw8-swM_

[2022-08-11 15:47] IgorDark commented on #1087
Yes. We also need this functional for our website.

[2022-08-11 16:08] RoynerG opened #5760 "Search posts by ID: does not work when custom builder is active in a listing grid."
![Screenshot_1](https://user-images.githubusercontent.com/89561214/184178963-9d279e93-4544-47b5-9c4b-3645274da10d.png)

Here is the test when this filter does not work
![no-encuentra-elementor](https://user-images.githubusercontent.com/89561214/184179110-cf9a1f79-4d53-4659-8b78-9283fa036ae6.png)
![no-encuentra-pagina](https://user-images.githubusercontent.com/89561214/184179129-c04f4141-0a4e-4698-

[2022-08-11 16:57] oscarpinno opened #5761 "JetSmartFilters - Change Default Sorting"
Using JetSmartFilters I am trying to change the default sorting of my post archive.

I'm trying to change the deafault sorting when the filter is applied (Post Date) to (Post Title).

Whith this code it's posssible to change it in functions.php BUT only when the filter is not applied.

[code]

If you active one radio filter, for example, all the posts change the order to post date.

Is it possible

[2022-08-11 17:25] lukechinworth commented on #5636
Thanks for following up!

[2022-08-11 18:49] 79ho3ein opened #5762 "product grid add to cart not displayed"
**Describe the bug**

hi
If you add the product grid widget, the add to cart button is not displayed :
![download](https://user-images.githubusercontent.com/77163248/184216685-015a99dc-2654-4422-87e3-b4cd8ece4f53.png)

It actually exists, but it has no style and is completely white. While previously visible (before version 2)
But the text of the button is displayed in the product list widget :
![d

[2022-08-11 19:11] 79ho3ein opened #5763 "Custom icon for add to cart Button in product grid / list widgets + other things"
**Please, describe the feature request, making it clear to understand.**

If possible, please check out these few suggestions for improving the add to cart button in product grid / list widgets.

1- Please add custom icon for add to cart button of product grid / list widgets.

2- Possibility to edit the add to cart text

3- If the Quantity Input option is off, [this option](https://prnt.sc/HPtu1ds

[2022-08-12 07:57] rtpHarry commented on #5738
Thanks for your detailed reply. I guess this is an area I still have a lot to learn in :)

[2022-08-12 09:34] rubenlascasas commented on #2529
+1

[2022-08-12 09:56] UraraReika commented on #5763
1 - You can use this plugin from dev tools https://tppr.me/2TBHA.
2 - We will not add this feature to our plugins. In this case you can use WooCommerce hooks or some third party plugins.
3 - This option makes sense even if no input field is included. Example: https://tppr.me/MXQra and https://tppr.me/yNqse.
4 - Fixed.
5 - This options will not be added. There are a lot of different widget presets

[2022-08-12 10:01] #5712 closed, assigned to Gawuww

[2022-08-12 10:15] 79ho3ein commented on #5763
Thank you for your time @UraraReika , Regarding #1, given the 3rd party plugin you created for it, will this feature never be added to the jet woobuilder?

[2022-08-12 10:20] Michaelgimii commented on #5750
I still have this problem. Please fix it in the next version. This is a basic requirement for an online store.

[2022-08-12 11:07] UraraReika commented on #5763
No it will not.

[2022-08-12 11:40] GeckoStudioIbz opened #5764 "Bookings start and end time."
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work; CHECKED
- if the feature is missing from the products. CHECKED

**Please, describe the feature request, making it clear to understand.**

I need a combination of JetBooking and JetAppointments to make a multi-day booking with specific start and end times. Like th

[2022-08-12 11:47] diogui opened #5765 "Showing Reviews like gallery instead of a List"
Hi. Would be nice to show the reviews in a gallery way, from left to right. Instead  of only showing a list. This is useful for desktop to better the use the width of the screen. Thanks

[2022-08-12 12:13] TheBigBanik commented on #1657
This is a must. The radius should be in the user's preference and not in the admin's choice.

[2022-08-12 12:20] LTimerr opened #5766 "JetEngine | GeoMaps // Users can enter the range of the environment to be displayed themselves"
Hi, I know it might be a bit early to ask for an extension right after the last JetEngine release however I would find this pretty good.

So users can set the range they want to filter in their environment. This makes some of the filtering much easier and more accurate. You can then select kilometers or miles, for example, and then of course enter a number for the range.

A small request maybe it

[2022-08-12 13:18] rtpHarry commented on #5393
I've been checking for this every few weeks and waiting for to arrive and I've just realised that it is now implemented as an option.

If you have an existing website with a listing control, then you can now turn this on as an option:

<img width="292" alt="image" src="https://user-images.githubusercontent.com/1038062/184360903-22e604ad-153a-49f5-a01d-9fb36b803a17.png">

[2022-08-12 14:05] UraraReika commented on #5750
This issue was discussed few times. Basically the simplest way that WooCommerce uses in their shortcode is to display necessary amount of product in the page with the and order it by `total_sales` with `DESC` order.

In JetWooBuilder using Products Grid widget you can acheave this with this settings https://tppr.me/7f3LL. Here you can see we set 20 products per page although show all products and

[2022-08-12 14:05] #5750 closed, assigned to UraraReika

[2022-08-12 14:10] kwsim539 commented on #1657
+1 Agreed. This is typical with all types of Geolocation search applications. Where a user can select to expand or contract the radius distance from their location to receive search results.

[2022-08-12 14:18] UraraReika commented on #5755
Hello @Michaelgimii !

Please describe your issue in more details. Your screenshot doesn't show the full picture.
What category is empty? What should option find?

Thank you.

[2022-08-12 16:17] pamanseau opened #5767 "JetEngine Calendar Event Widget to work with REST API Endpoint"
The JetEngine Calendar Event widget is only working with CPT. We saw a feature request to make it work with CCT.

We would need to be able to use REST API Endpoint to fill the calendar widget.
return a table of {dates(timestamp),text/image(html),link} to populate the calendar.

It's possible to select REST API fields in this in the widget but it's not working.

[2022-08-12 19:22] Michaelgimii opened #5768 "bug in jet woobuilder + elementor container"
If you add three widgets product list , product grid and category grid in a row container :
The Categories Grid widget is full width.
The Products List widget is less than half the width.
The width of the Products Grid is about 90 percent.

Shouldn't those two widgets work like the product list widget?
Add elementor button widget to compare its width in column and row container.

[2022-08-13 06:40] SirChopper opened #5769 "JetEngine: Dynamic Field widget - Add option to select column number for responsive devices"
JetEngine: Dynamic Field widget
Content tab
Check toggle: Filter field output
Field: Callback
Select field option: Checked values list

There is not an option to change the list Column Number for responsive devices.
2 columns on a mobile phone is sometimes not ideal.

![Screen Shot 2022-08-13 at 08 35 01](https://user-images.githubusercontent.com/55023075/184472056-ff0bcf75-9964-49ed-9e79-ade2062d

[2022-08-13 07:45] Deakoi commented on #1470
Hi everyone.
Has anyone been able to check the performance of showing in Bricks Builder's CSS Grid Layout (with the Automatic CSS plugin, also called ACSS, because Bricks Builder doesn't yet natively support Grid Layout) and with his native Query Loop option the dynamic fields created by JetEngine and combining it with the WP Gridbuilder plugin to be able to filter them (I don't know if this last

[2022-08-13 21:58] Lucky5111 opened #5770 "JETENGINE Custom Post Meta table"
On custom post types, jet engine should make another table for them for metadata.

`[CPT_name]_post_meta` instead of 'post_meta'

There are two ways you can achieve this, you can use the EAV model which is just like the post meta table, but for only a certain post type. Or you integrate the names of the field into the columns, so instead of meta_key, you would have separate columns for each dataty

[2022-08-13 22:00] Lucky5111 commented on #5615
Rather than having a custom table for post types, I think having a custom meta table for those custom post types will be better. Since most slower queries are because of joining that post_meta table.

[2022-08-14 02:14] nreljed opened #5771 "📌[Merge DevTools] we need to talk..."
![devtools](https://user-images.githubusercontent.com/82481592/184519586-a42b7c02-2407-47fc-b9d0-6c4c3a3b2178.png)

It's a topic I've talked about several times over the past year or two.
maybe at the time it was too early, because the fever of the devtools started and their number did not stop increasing..
and ironically the concern about them and the madness of fragmentation of the vital functio

[2022-08-14 09:12] fabio323ti commented on #243
@shahzaib786 - terribly sorry that I cannot use the filter within the categories page ... there was a snippet that allowed to correct the permalink but it has been removed. -
Did you solved?

[2022-08-14 10:09] fabio323ti opened #5772 "Jetsmartfilter Category page issue"
Im using Jetsmartfilter on main shop page to filter products grid .
by opening single product page and select category on breadcump link....
permalink redirect goes to : /sitename/product-category/taxonomie_name/ . i see main shop page but products are not filtered

ther's some snippet to replace category page with jetsmartfilter url?

for ex. selecting category product on breadcumb > redirect to

[2022-08-14 10:21] fabio323ti commented on #5772
Solved : hope this helps!

add_filter('term_link', function ($termlink, $term, $taxonomy) {
	if ('product_cat' == $taxonomy) {
$termlink = trailingslashit(get_home_url()) . 'shop/?jsf=jet-woo-products-grid&tax=product_cat:' . $term->term_id;
		     }
    return $termlink;
}, 10, 3);

[2022-08-14 19:40] ciprianpentelescu opened #5773 "Jet engine forms Post-submit Actions chain break"
**If a post submit action fails (for example a hook), the other actions are still executed. It would be nice if one of them fails the rest stop executing.
 For example, if a custom hook validates the data and it returns something different from $notifications->set_specific_status( 'success' ) the rest of the actions should not execute. (like sending emails, inserting data, etc)**

[2022-08-14 19:46] ciprianpentelescu opened #5774 "Jet engine Relations Metafields defaut value"
**As the title says, it would be nice to have the option to automatically add default values for the meta fields from the Relations.**

[2022-08-15 09:25] Floydtm commented on #5770
Right now you can try [CCT](https://crocoblock.com/knowledge-base/articles/jetengine-how-to-create-a-custom-content-type/)

[2022-08-15 09:25] #5770 closed, assigned to nobody

[2022-08-15 11:21] valmirselmani commented on #5639
@MjHead Sorry for the late reply, I was away for three weeks. This sounds great! When can we expect the 3.1 beta?

[2022-08-15 11:22] UraraReika commented on #5768
I merged this issue with [#4725](https://github.com/Crocoblock/suggestions/issues/4725), which is on the same subject so we could deal with it more efficiently.

[2022-08-15 11:22] #5768 closed, assigned to UraraReika

[2022-08-15 11:42] #5742 closed, assigned to Gawuww

[2022-08-15 12:00] iamdanbarrett opened #5775 "JetEngine: Ability to 'hide' the meta field names from view"
Could there be an option within the meta fields props to 'hide' the name text when editing a post against the meta fields as they are often not required at this level. We attempted to do this via CSS but it also removes the description too as its a single class handling both within the same div. Even if you put them into a separate div would help we could then hide it via CSS

[2022-08-15 13:53] kaskad88 commented on #5775
I merged this issue with https://github.com/Crocoblock/suggestions/issues/5625, which is on the same subject so we could deal with it more efficiently.

[2022-08-15 13:53] #5775 closed, assigned to kaskad88

[2022-08-15 13:56] UraraReika commented on #3755
Hello everyone!

In the latest release 2.5.1 we introduced new option called Allow checkout only days. If this option is checked, first day of already booked period will be available for checkout only.

If the Booking Period is Per Night, the option Allow checkout only days is added - if the option is enabled, the new logic is applied, if it is disabled, the old one https://tppr.me/zZA7Z. A label

[2022-08-15 13:56] #3755 closed, assigned to MakhonkoDenis

[2022-08-15 15:56] Michaelgimii commented on #5755
hi @UraraReika , Let me put it more simply. In the [select id](https://prnt.sc/r0fFCwLf6f9T) method, we can display a category even if it is empty.
But in manual selection method, we cannot display any empty category. A category must have at least one product so that we can select it manually.
While this option is disabled : https://prnt.sc/HcxK4vxBmT4N
Generally, the problem is that if a category

[2022-08-15 16:33] Michaelgimii opened #5776 "Ability to display the best sellers on the product archive page / jet woobuilder"
hi
Using [this order](https://prnt.sc/0-83jgXTsDLG), I want to display a product carousel in the product archive so that the user can see the best sellers of each category. So, for example, if the user enters the Apple category, he can see its best sellers. Therefore, no matter what category you enter, you can see the best sellers of that category.
Is this possible in jet woobuilder now? If not, i

[2022-08-15 18:03] janenco commented on #2407
I see we are one year further now. I tried to find it, but I think there is no solution for this yet right?
I would think this is essential in using a listing grid since with the current 'sold out' text appearing under the Thumbnail (making all the aligments off) makes it look super unprofessional.

[2022-08-15 18:23] ChrisGV04 opened #5777 "Add options pages Rest API endpoints"
**Please, describe the feature request, making it clear to understand.**

I've been working on several projects that use WordPress as a Headless CMS and power the content with JetEngine and CCT, but something that we have not been able to use is Options pages. If we create one, there seems to be no way of getting the values from the WordPress API the same way we use for CCT. As of now, we have had

[2022-08-15 22:20] brianf012 opened #5778 "Allow CCT to Be Used In Shortcodes"
Custom post types can be used in shortcodes, but custom content types cannot -- this significantly limits the use of CCTs. Can we get that ability added?

Thank you.

[2022-08-15 22:23] brianf012 opened #5779 "CCT as a data source in JetSmartFilters"
Custom content types cannot be used as a data source in JetSmartFilters (confirmed by support that this can only be done with the using manual as the data source). This is an import feature that is missing.

[2022-08-15 22:24] brianf012 commented on #5752
This would be a nice feature, unfortunately it currently has to be done manually through an sql import.

[2022-08-16 08:10] Clicktoweb commented on #3755
Hi @UraraReika .. thanks for the update. I tried the new functionality but it works only for the departure day : I've made a booking for 1 week (20 to 27 of august). Other people can make a booking from the 27/08 (it works fine) but they can't make a booking from today to 20/08 (20 is unavailable, booked in my bookingtest but the check-in are in the afternoon and check-out in the morning so that n

[2022-08-16 09:27] satomiao opened #5780 "JetFormBuilder add conditional logic operator "is filled" or "is empty""
Currently, I cannot set the value of a field by checking if another form field is filled or is empty. Please consider adding more operator options in JetFormbuilder conditional logic. Thank you.

[2022-08-16 11:15] Micu22 commented on #2248
Up ☝️

[2022-08-16 11:22] 79ho3ein commented on #5776
+1

[2022-08-16 11:40] UraraReika commented on #3755
Hello @Clicktoweb !

I have this setting enabled https://tppr.me/hIFJk. Then i made a booking like this https://tppr.me/dkwwf. Now i want to make a new booking and see this. I can start my booking from 9th of September but 5th of September still unavailable. If you select date before 5th then 5th become enable https://tppr.me/5LToy and you can select it for booking https://tppr.me/z3Gei. Perhaps t

[2022-08-16 11:53] Clicktoweb commented on #3755
@UraraReika Ah ok I understant.. You're wright, the 20/08 is available only if you choose a date before. At first sight.  it seems to be unavailable. Wouldn't it be clearer for the customer who has to book to see that on 20/09 the room is free by leaving the last date in black and not grey?
<img width="461" alt="Capture d’écran 2022-08-16 à 13 46 33" src="https://user-images.githubusercontent.co

[2022-08-16 12:05] Michaelgimii opened #5781 "middle mode for overflow option / jet woobuilder"
If we enable the overflow option in jet woobuilder, after the first navigation the carousel will be displayed like this : https://prnt.sc/xuTmuvCV2n96
In fact, only the last product is overflow.

But it will be great if you add middle mode option for overflow. With the addition of this feature, if we activate it, after the first scrolling, both the first product and the last product have an equal

[2022-08-16 12:16] UraraReika commented on #3755
For this purpose you have label option.

[2022-08-16 12:32] UraraReika commented on #5776
Use this widget option https://tppr.me/3F5RG in combination with this order https://tppr.me/1duz5 from Customizer.

[2022-08-16 12:32] #5776 closed, assigned to nobody

[2022-08-16 13:23] 79ho3ein opened #5782 "jet woobuilder 2.0.2 bugs"
**Describe the bug**

hi

1- In the product grid widget, the box shadow option does not work for navigation : https://prnt.sc/vChFi_M1N6aL
In fact, it can be used by selecting the section mentioned in the screenshot above, but there is a problem

**(This bug also exists for normal, hover and disabled mode)**

2-
 In the product grid widget, the category name does not align well.
For example, I put

[2022-08-16 13:35] 79ho3ein opened #5783 "An item about disabled mode in the product grid widget"
hello

Using [these settings](https://prnt.sc/EG0_WQcPYuMK), I'm trying to implement a case where the desired button is completely disabled after the carousel reaches the end of the list. It works, but there is a problem. **The problem is that the arrow button slowly disappears.**

Please watch this video :

https://user-images.githubusercontent.com/77163248/184892733-ee422477-4288-4bc0-a655-5ee84

[2022-08-16 13:49] 79ho3ein commented on #5782
one more thing...

In the product grid widget, the category name does not align well.
For example, I put it in the [center](https://prnt.sc/7ip92goW2STU). Or I put it on the [left](https://prnt.sc/OM85zQIgM6kR).

[2022-08-16 15:38] tizum commented on #160
+1

[2022-08-16 15:43] BlueteraLLC commented on #5009
+1 - especially for the view-orders endpoint template ability.  I was just looking for that option.  Need to dress that order page up and add more functionality to it.

[2022-08-16 16:30] Michaelgimii opened #5784 "sales order does not work well on variable products / jet woobuilder"
To display top sellers products, I set the product grid widget like this : https://prnt.sc/9Ms_q2AL7CkH
But in variable products, this order of products does not work properly. WooCommerce displays [this order](https://prnt.sc/U0qWRD1zG-1w), But in the product grid widget, the order of these products is displayed incorrectly.

Actually, the sales order in the product grid widget only works wrong o

[2022-08-16 18:25] dantetesta commented on #2412
please its very good!

[2022-08-16 18:39] cazper57 commented on #1133
+1 for accordions

[2022-08-16 21:12] 79ho3ein opened #5785 "A few requests to improve the visual filter ux."
**Please, describe the feature request, making it clear to understand.**

hi @Floydtm , There are a series of things in the visual filter of the jet smart filters plugin, which I will discuss further. Please check them out if possible. **ux is severely damaged in the visual filter [color selection section](https://prnt.sc/8OwbfAJbG3Eg).**

1- By default, only 3 color boxes are displayed in a row :

[2022-08-17 10:28] Michaelgimii opened #5786 "box shadow for checkout filed form & Order notes widget"
Please add box shadow option to checkout field form. so that we can control border, border radius, background color and box shadow in normal, hover and focus modes.

[2022-08-17 12:14] oncps opened #5787 "Widget Dynamic Terms (look at this please)"
hello, the dynamic terms widget needs to add an option where we can choose what will be rendered on the screen, the parent of a taxonomy or the child of a taxonomy... currently you cannot configure to display only the child taxonomy (ascending taxonomy), as it is currently, you can only display only the parent taxonomy, or both together (parent taxonomy and child taxonomy).. please give us the opt

[2022-08-17 12:51] MichaelaKubasova opened #5788 "Custom stock status"
Hello,

I use, code snippet for custom stock status, when we need more stock statuses. But jetwoobuilder product grid/carousel didn't work with custom stock status. Please help.

[2022-08-17 15:43] fabricioventura commented on #5321
Thanks crocoblock team for adding this option in Version 3.0.3

[2022-08-17 15:43] #5321 closed, assigned to kaskad88

[2022-08-17 16:47] otherjohn opened #5789 "JetSmartFilter - Multiple orderby (meta_value, then title) not working"
Hi all,
I have the following hook applied for when a filter is JetSmartFilter is selected, but it doesn't work.

[code]

I am trying to include the 'title' sort because it seems that SmartJetQuery defaults to date as the second orderby if I just do the above filter for 'meta_value'.  Can someone help me so that when the filter is fired, the following happens?

SAMPLE OUTCOME:
--- Non-Filtered defa

[2022-08-17 18:29] Jtmichel commented on #3522
Have you guys found a solution to this? I set up a custom query that calculates this based on the current post object but it would be nice as a built-in feature!

[2022-08-17 19:39] 79ho3ein opened #5790 "Underline in the Old Price - jet search"
**Describe the bug**

hi @Floydtm , Please check this simple item.
**(It's not a bug, but it wouldn't be bad if this problem were fixed in JetSearch)**

If the product price has an Old Price, the Old Price has an underscore : https://prnt.sc/V06K30Y7SiBx

Please remove this underscore if possible.

thank you

[2022-08-17 19:55] justgkp opened #5791 "Please add JetEngine Listing Grid VERTICAL SLIDER function"
Please add JetEngine Listing Grid VERTICAL SLIDER. Although there is horizontal slider it's verch much important to slide vertically as well. Please add this function.

[2022-08-17 19:55] justgkp commented on #5778
I too need this feature

[2022-08-17 20:01] justgkp commented on #5752
I have been waiting this since one year

[2022-08-17 20:33] pauserratgutierrez opened #5792 "JetEngine: Upload files (SVG) to Glossaries"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2022-08-18 06:30] kaskad88 commented on #3522
Added in JetEngine v3.0.3

[2022-08-18 06:30] #3522 closed, assigned to kaskad88

[2022-08-18 06:31] kaskad88 commented on #5642
Added in JetEngine v3.0.3

[2022-08-18 06:31] #5642 closed, assigned to kaskad88

[2022-08-18 06:32] kaskad88 commented on #5625
Added in JetEngine v3.0.3

[2022-08-18 06:32] #5625 closed, assigned to kaskad88

[2022-08-18 08:50] edgBllw opened #5793 "JetEngine Forms - New submit actions for AJAX form"
It'd be cool, if we could have another submit action called "reset all field values", but stay on current page without refreshing. This would prevent that a user can submit a form very fast in a row because all values are still there (if you don't have a redirect action)

[2022-08-18 09:24] Michaelgimii commented on #5782
Please add this as well @UraraReika : #5734

[2022-08-18 09:40] spanovic commented on #4820
+1

[2022-08-18 11:37] menzer2015 commented on #878
Come on guys multi select is a powerful tool it also helps with reducing layout clutter, I use chioces.js to convert multiple select boxes so you get a neat select dropdown but as you don't even have the multi-select as an option is causing me to use gravityforms but I would prefer to use jetformbuilder. please please release this after 2 years request

[2022-08-18 11:39] Floydtm commented on #5790
We have checked your request and it seems to work correctly. However, the problem may be on your side https://prnt.sc/dLm4txDZcPcM The widget has stylish product price settings. Check them out

[2022-08-18 12:02] Avram-Baskin opened #5794 "Hiding Labels On The Progress Tracker"
This is related to my support ticket, Hiding Labels On The Progress Tracker #72238.

I wanted to hide the labels on the progress tracker.  I accomplished this by adding a blank space for each step in the form.  It would be helpful to have a more obvious way to hide the labels, like a Show/Hide toggle. When labels are hidden the extra padding below the progress tracker should be removed.

[2022-08-18 12:23] 79ho3ein commented on #5790
hello @Floydtm , Did you test this in hello elementor theme?

I think this is a simple case between jetsearch and hello elementor theme. Because I installed the astra template to test, and Jet Search did not have the problem of the underline for old price in this theme : https://prnt.sc/S0CCEBec7WPT
On the other hand, I use the jet woobbuilder plugin in the hello elementor theme, but this plugin d

[2022-08-18 13:01] menzer2015 commented on #878
BTW you only need this jquery to convert your select box to a dropdown box (Make sure to change the ID to your targeted ID)
  $("#points_of_interest").attr("multiple",''); <--- adds multiple to the selectbox

If you want it to look nice like the demo below then I have included a little snippet that may help some people, if you have a better solution please let me know but I hope this can help some

[2022-08-18 13:11] Anders-Graitor opened #5795 "Remote Control Widgets"
**Please, describe the feature request, making it clear to understand.**

Remote Control Widgets
be used to connect with other widgets and control them such as Carousel, Slider, tabs and many more.

 Use it to create advanced interactive layouts.

**Add an example of where this feature is already implemented. **

https://clickup.com/
https://niftypm.com/

[2022-08-18 16:19] Mramorov commented on #2956
+1

[2022-08-18 16:48] estevan-ulian commented on #760
Format hour to 24h:
G:i = 21:00

[2022-08-18 17:41] Floydtm commented on #5790
Tell me on which theme you had this case? Perhaps we will add this to the plugin

[2022-08-19 07:46] 79ho3ein commented on #5790
thank you @Floydtm , I have this problem in **hello elementor** theme.

[2022-08-19 09:16] antoinelbch commented on #5624
+1

[2022-08-19 09:20] antoinelbch commented on #5656
+1

[2022-08-19 12:25] UraraReika commented on #5782
@79ho3ein
1, 2, 6a, 9, 10 - Fixed.
3, 4 - We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Check if this option enable https://tppr.me/yOlYo.
5 - No, because this section can be extended with other additional fields.
6b, 7 - we will keep it it terms of backwards compatibility.
8 - This option hide titles with selector that you can set

[2022-08-19 12:41] UraraReika commented on #5788
Hello @MikaelaDeCub! Thanks for the feedback.
 
Please follow guidelines for opening a new [bug report](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/bug_report.md), so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests.

 Thank you for your understanding.

[2022-08-19 12:57] UraraReika commented on #5784
Hello @Michaelgimii !

Please show a screenshot that the order of the products is wrong in our widget. Also, what is wrong with it? If you are based on this screenshot, then this is not entirely correct https://prnt.sc/U0qWRD1zG-1w. You can use the standard bestseller product output shortcode. Or use for example another widget that displays the order correctly.

Thank you!

[2022-08-19 13:06] UraraReika commented on #5783
Hello @79ho3ein !

Yes, there is a way to fix it. Please use some CSS like this selector .jet-arrow {
    transition: all 0s;
}.

[code]

[2022-08-19 13:06] #5783 closed, assigned to nobody

[2022-08-19 13:30] UraraReika commented on #5786
I merged this issue with [#5385](https://github.com/Crocoblock/suggestions/issues/5385), which is on the same subject so we could deal with it more efficiently.

[2022-08-19 13:30] #5786 closed, assigned to nobody

[2022-08-19 13:33] antoinelbch commented on #418
+1

[2022-08-19 13:41] 79ho3ein commented on #5783
thank you my friend

[2022-08-19 14:37] 79ho3ein commented on #5782
hi @UraraReika

3- I deleted the widget and added it again, the problem was solved. I think the checkout field widget behaves differently before and after the update. In fact, after the update, if we delete the widget and add it again, they will be compatible with the new version. I tested this on 2 websites.

4- About [this](https://prnt.sc/4L7rP7nGXEyu), There are actually no bugs. **(In fact, i

[2022-08-19 16:16] Michaelgimii commented on #5784
@UraraReika
What WooCommerce shows : https://prnt.sc/TcT_Ei_Bn2Yd
What the product grid shows :  https://prnt.sc/bnFbaHNgxjaG

**This bug exists only in variable products. In simple products, everything works fine.** Does it work well for you?

[2022-08-19 18:28] mofata opened #5796 "Dark Theme for all plugins"
It would be great to hae a option to add Dark Theme to use instead ofthe default onei personaly have problem to see the fields boxes within the default one even with installing Dark mode for word press it doesn't help

[2022-08-20 06:10] RobRoy2709a opened #5797 "Better Organisation of Theme Builder"
In the Theme Builder I want to be able to move the theme blocks around per drag and drop and reorder them. It would also be nice to have f.e. an alternative table or a treeview for the theme blocks. All in all I want to be able to organize my theme  blocks there in a free and intuitive way. Now the order is - i think - by creation date. I want to be able to order it on my own and group them.

<img

[2022-08-20 07:58] Smalyleinchen commented on #1967
+1

[2022-08-20 11:06] rtpHarry opened #5798 "JetEngine - Feature Request - Edit Post Type - Link To Menu Position Docs"
Add a link out to the WordPress documentation for valid 'menu_position' values.

It would have saved me some time figuring out what value to use just now.

Its in JetEngine > Post Types > Edit Post Type > Advanced Settings > Menu Position.

<img width="1121" alt="image" src="https://user-images.githubusercontent.com/1038062/185742957-67d63451-b1b8-4847-974b-fe8a835a1b8f.png">

Link:

 - https://de

[2022-08-20 12:51] LevelUpGit opened #5799 "Issue with JetEngine timestamp localization"
Hi, we currently have one long standing issue with JetEngine we were unable to resolve for ages, and some of our client are starting to complain. We got many times with support and we were not able to find solution. Hope some of you came across this, and you'll be able to help us.

Setup:
We have setup CPT let's say "Events", and every day new ones are being added to it.
For it we have 2 listing:

[2022-08-20 16:35] nreljed opened #5800 "Jetengine 4.0 Repeater dynamic tags 🌀"
I propose to extend support for jetengine & acf repeater in dynamic tags

## But why do that ?

to understand where the problem is
try to create a repeater and include a gallery field in it...
this exercise puts you in a dead end, and forces you to use these two widgets: Grid/Slider gallery widget
the idea is attractive, but is no longer relevant

## I'll explain why :

1- this two widgets (module

[2022-08-20 17:58] TinyHalo33 commented on #2359
Can you please explain a little more about the fix since I'm having this exact same problem? I'm a newbie at everything tech and would really appreciate any additional info.

[2022-08-20 21:29] Lonsdale201 commented on #5800
I recommended to use the Gloo With JetEngine, if you need repeater support, its a perfect match.

[2022-08-21 09:56] moxet commented on #5620
@Lonsdale201 i tried it on Jet Form (Jetengine Native) with no success. I can see the min attribute in HTML but the dates are still enable, any guess over JetForms?

[2022-08-21 14:22] secondsky commented on #2301
@Floydtm
Could you please push this topic?!
Also right now its not possible to make taxonomies required for a post, implementing this custom field option would circumvent this problem too!

[2022-08-21 16:05] Michaelgimii commented on #5782
When will the new version be released? Is the time clear?

[2022-08-21 20:05] Lonsdale201 commented on #5620
This option only work with date picker.

https://prnt.sc/hepPzjcyDTKg

[2022-08-21 20:07] Lonsdale201 commented on #5620
But it doesn't matter if you use the obsolete legacy version or the JetFormbuilder date selector field, the important thing is to enter the ID correctly, according to the script. In my example, you need to enter #date_picker in the "name" field. If you rewrite it, change the ID to the Form as well.

[2022-08-21 20:39] azkalex opened #5801 "JetEngine Forms issues"
**Describe the bug**
Trust issues with the form and the backend of JetEngine. It's either not keeping the changes or doing whatever it wants with them. This issue has been here since forever and no one bothered to fix it. Working with the forms or the query builder (another issue by me https://github.com/Crocoblock/suggestions/issues/5687 which again, no on bothers to check) feels like you need to

[2022-08-22 06:34] #5454 closed, assigned to Gawuww

[2022-08-22 06:34] #5289 closed, assigned to Gawuww

[2022-08-22 06:46] moxet commented on #5620
I've valid ID of the field because i can see in the HTML output the MIN is applied as today date. But i am using DateTime Picker not Date picker, it might be the issue?

[2022-08-22 07:31] Lonsdale201 commented on #5620
Yes, and sorry its my fault, to not indicated, this solution only work with the date picker at the moment. I don't have much time now, but I'll look at DatePicker later. :)

[2022-08-22 07:31] moxet commented on #5620
Thank you, @Lonsdale201 highly appreciate

[2022-08-22 07:40] UraraReika commented on #5784
Yes, it works well for me. And i don't think that this is Products Grid widget bug. Try to test output with standard shortcode.

`[products limit="3" columns="3" best_selling="true" ]`

[2022-08-22 07:41] UraraReika commented on #5782
this week

[2022-08-22 08:32] mehdimoradi1500 commented on #5615
I was reading the cct overview and it was written that the archive, taxonomy and single post of cct will be implemented and improve but it doesn't happen for quite long time
![Screenshot_20220822-125716_Chrome](https://user-images.githubusercontent.com/86493591/185876557-c2b1b317-81ce-4f86-85d7-1f397b806d99.jpg)

[2022-08-22 08:39] Floydtm commented on #3819
@DavidAky @valmirselmani  We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue. I would also like to know if you use additional add-ons for filters, like this one https://prnt.sc/xoozTmBq4P5c

[2022-08-22 08:49] razkoko1 commented on #2352
+1...

pls, this feature is a must.

[2022-08-22 08:59] Michaelgimii commented on #5784
I tested this as well. The wrong products are displayed. Are you sure you tested it for variable products? Simple products are not a problem. But variable products are displayed incorrectly.

[2022-08-22 09:25] LTimerr opened #5802 "JetEngineForms / JetFormBuilder Media Field more options to crop images etc."
Good day, I would find it pretty good if you have more options with the media field, such as cropping images and the design would look a bit more appealing. So it's a good solution, but I think you could add a feature to it.

Thanks for reading!

[2022-08-22 09:50] UraraReika commented on #5784
Good. If you use this shortcode and got result that is not correct than you should wright to official WooCommerce support so they can fix it inside their plugin.

[2022-08-22 09:50] #5784 closed, assigned to UraraReika

[2022-08-22 09:53] Michaelgimii commented on #5782
Oh, about this I tried a lot to find a use for it but it never worked for me. Is there a specific way to use it?

[2022-08-22 11:54] Kornform opened #5803 "Theme Templates are indexable"
**Describe the bug**
I hope it's a bug and not intended behaviour:

My bug fix would be to exclude those elements/pages created with the "Theme Templates" from the Google search results, or to not make them accessible when not logged in.

When I create an element with "Theme Templates" it creates a page which is indexable and can be found in Google. When I do it in Elementor it won't show up anywh

[2022-08-22 12:26] Dominocom commented on #3654
+1

[2022-08-22 12:41] jojopa opened #5804 "Suggestion - Users Can Have Same Ability As Posts With Repeater Fields-with a Carousel/Full Width"
Hi,

Right now Posts offer Repeater with Carousel/ and full width ability. (useful for videos).
But with User it is not possible, to visually add Repeater field - Carousel/full width.

A suggestion is User - Repeater - with Carousel and full width.

It is possible with Posts now, but is not with Users.

Just a suggestion

Thank you!

[2022-08-22 13:43] UraraReika commented on #5782
11, 12 - We have checked your request and everything seems to be working correctly. Perhaps this is related to your site.
13 - If you want to keep form as it is but need responsive layout use this option.

[2022-08-22 15:53] marcofrasson opened #5805 "Hover effect on JetWooBuilder product thumbnails causes a bug when enabling webp images with <picture>"
Hello, the hover effect on JetWooBuilder product thumbnails causes a bug when enabling webp images with <picture>

[2022-08-22 16:07] otherjohn commented on #5789
I am adding to my findings; the following works as far as the query goes (the SQL call is correct), but it does not show the order on the page.

[code]

[2022-08-22 16:11] 79ho3ein commented on #5782
thank you @UraraReika

In fact, these last 2 cases (11,12) are very simple bugs that have solution. Most likely, you did not do exactly as in the video. Also, your theme may not be hello elementor. Anyway, thanks for your time❤

[2022-08-22 19:19] valmirselmani commented on #3819
@Floydtm I needed the filter in two separate columns because of the responsive design. I solved the problem by removing the second filter.

But I still have a problem, if a filter has the value 0, then nothing is filtered. When using with the mixed url, the filter is not set active either.

?jsf=jet-engine&meta=workload!is_custom_checkbox:0 - **doesn't work**
?jsf=jet-engine&meta=workload!is_custo

[2022-08-22 21:02] ConradClose opened #5806 "Bugs with JetElements Slider and Logo Showcase when using WebP images"
Having issues with multiple JetElements widgets when using WebP images. Images either do not load, are loaded significantly delayed, are cropped, or do not cover area.

Using Wordpress 6.0 with WP Rocket and Imagify, but the issue disappears when switching the "use WebP images" option off.

[2022-08-22 21:59] Lucky5111 commented on #5615
Unfortunately yeah. CCT is a good option but I feel like they aren't updating it as much. Plus they do not give documentation on a lot of things that could make our lives easier.

You can use a CCT with a custom taxonomy, just create a relationship, but the only issue is if you go to a child term it will not work. For now, using it for post meta and the default post table seems like a good idea.

[2022-08-23 06:41] UraraReika commented on #5805
Thanks for the feedback.

 Please follow guidelines for opening a new [bug report](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/bug_report.md), so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests. 

Thank you for your understanding.

[2022-08-23 06:46] davedenis commented on #5624
YES please

[2022-08-23 08:32] mAAzes commented on #2307
Aye +1

[2022-08-23 09:26] LTimerr opened #5807 "JetSmartFilters Adding the number of posts"
Good day, I would like it very much if you can set in JetSmartFilters to show the post count per subcategory. Like in the screenshot. It would be good if the whole thing also works with glossaries so not only taxonomies as it is now. Thanks a lot!
![Screenshot_26](https://user-images.githubusercontent.com/93724776/186123047-2538c4f5-cab5-435f-963d-e4f66d10c8fe.png)

[2022-08-23 11:09] UraraReika commented on #5475
У каждого апартамента есть секция настройки цен бронирования https://tppr.me/i4j0G. В форме бронирования эти ценны что бы нормально отображались настройка такая https://tppr.me/NU8Si, в сайдбаре есть подробное описание что бы было понятней как эта опция работает https://tppr.me/VXigG. Суть проблемы в том что порядок применения цен был не совсем корректный. Пользователь достаточно подробно описал п

[2022-08-23 11:10] makeanewgame commented on #2377
+1

[2022-08-23 11:36] #5711 closed, assigned to kaskad88

[2022-08-23 11:36] #5683 closed, assigned to kaskad88

[2022-08-23 11:43] Floydtm commented on #5711
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-08-23 11:43] Floydtm commented on #5683
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-08-23 13:05] jimhuds opened #5808 "Load More dev tool not loading webp images"
As described in title. With images converted to webp by ShortPixel and set to serve 'using the <PICTURE> tag syntax', load more is still pulling the JPEGs.

[2022-08-23 13:06] rtpHarry opened #5809 "JetEngine - Taxonomy - Media field doesn't reset after add new taxonomy"
I've recorded a quick screencast showing it happen:

https://soapbox.wistia.com/videos/3zCk5fGI1x

(hmm not sure if that video link worked, its showing "encoding 50%" for me - will record again if it doesnt fix itself after a bit)

Basically if you add an image meta field to your taxonomy, then create the taxonomy, the image doesn't reset after creating it.

Steps are:

  1. Create custom taxonomy

[2022-08-23 13:26] rtpHarry opened #5810 "JetEngine - Listing - Taxonomy - Show raw name in brackets"
When creating a new listing from terms it can be confusing, as the names are not always unique:

<img width="629" alt="image" src="https://user-images.githubusercontent.com/1038062/186169783-5ada0a7b-0e7e-4bef-b4f7-bd83626cd124.png">

It would be helpful if it had the raw name in brackets:

<img width="510" alt="image" src="https://user-images.githubusercontent.com/1038062/186169588-fb296854-5914-

[2022-08-23 15:24] JanWebofka commented on #3819
Hey David,

i have same problem. 2 same filters active in "Active filters" widget.

We use:

- Page reload for all filters
- 2 Visual filters - 1 Desktop/1 Mobile
- We use Responsive options (to hide filters/inner section) and also "load more" function to reveal filters for mobile.

Should we try to use Elementor Responsive - https://github.com/SargasTM/jet-smart-filters-elementor-responsive ?

Th

[2022-08-23 15:48] DavidAky commented on #3819
Hi,
I have installed the responsive add-on for the filter. Before I installed it i used to have triple active filters. After installation it dropped to double active filters. I dont think there is a problem with the addon. I tried to see if removing the mobile filter from the page enitrely (i.e. only single filter on the page,) the problem persisted. @Floydtm Please note that the double filter pro

[2022-08-23 16:04] arcaswebdesign opened #5811 "Filter products grid by stock status"
In the PRODUCTS GRID widget we have various options to filter by category, sale status, popularity etc. - would it be possible to add an option for Stock Status too, so that we can ensure that only instock items are displayed, for example?

I'm hopeful it would be an easy enough filter to add in to the QUERY BY box with an option **Stock Status** and we can then pick from any available stock statu

[2022-08-23 17:31] edgBllw opened #5812 "IMPORTANT!!! JetSmartFilters current Version breaks Elementor"
I tested it on ALL of my sites. The current JetSmartFilters Plugin (2.3.13) isn't compatible with Elementor (that has a higher version than 3.6.8). The bug is, you can't access the Elementor edit mode anymore. The Elementor loading screen just "loads" forever. On every post type (pages, listing items ...) this bug exists, except the own elementor library templates. there everything just works fine

[2022-08-23 17:37] stijnvanouplines opened #5813 "JetFormBuilder - add multiple recipients"
I tried to add multiple email addresses (by separating them with commas) to the Mail To -> Custom email field of a 'Send email' actions. But unfortunately it didn't work that way.

I contacted support and they suggested to create multiple 'Send email' actions. It's going to take a wile because we want to add 2 extra recipients to a forms, and we have 30 different forms. At this time it's also not

[2022-08-23 18:41] stijnvanouplines commented on #5813
I created this pull request https://github.com/Crocoblock/jetformbuilder/pull/157

[2022-08-23 18:58] satomiao opened #5814 "JetFormBuilder add search options feature for checkbox / Radio fields"
The search options feature is already implemented on JetSmartFilters. Users can search for options in the Radio, Select and Checkbox filters. But when it comes to JetFormBuilder, users are struggling to search for the value when there are a lot of options in the checkbox and radio fields.

I have searched for some solutions on StackOverflow but failed to get it works on JetFormBuilder
https://stac

[2022-08-23 19:17] ProteoV opened #5815 "Jet Booking... pass additional field values to show on Paypal’s transaction invoice"
Hi Team!

I was wondering if there’s a way, or code snippet available where we can pass additional field values to show on Paypal’s transaction invoice?
In PayPal section details, now only send the word "Booking"; I need see there the "Booking Details"

That is, I need that instead of showing only the name of the product (in this case the only product is Booking), put the Booking Details, which in

[2022-08-23 21:53] Lonsdale201 opened #5816 "JetFormBuilder Tooltip function (Code example added)"
Dear Crocoblock. I hope in a future, you will be make a Tooltip function for the JFB.

Until, we waiting, you can make yourself with a little html, js and css.

Lets start.

**1, Create your trigger element**

First, open your Jetform form in the gutenberg editor. And copy paste the code, in your selected field  - field label
![image](https://user-images.githubusercontent.com/23199033/186261149-77

[2022-08-23 22:25] fermarkti opened #5817 "Categories menus URL not filtering products without refresh"
If I select any of the existing categories, the filter is activated on the left side, but all products are shown. After the page is refreshed, the filter is activated. It seems to be an AJAX problem, how can you solve it so that when you click on the category, the products in it will be displayed immediately?

[2022-08-24 08:06] JanWebofka commented on #3819
Hey there,

i tried every possible resposive option. Without the addon. But still the same problem. @Crocoblock

https://prnt.sc/LXgQGS3bo9EQ

[2022-08-24 09:05] metmu commented on #1782
Another Vote

[2022-08-24 11:14] MichaelaKubasova opened #5818 "Jetwoobuilder has problem with elementor containers"
I create a website which has two containers next to on computer, but on mobile device I want only one container with 100% width, but somehow he take width with computer setup, but if I change width on mobile in elementor editor, not working.

[2022-08-24 11:15] MichaelaKubasova opened #5819 "Jetwoobuilder products widget has problem with custom code stock status"
I use custom snippet code for edit stock status like "pre-order" but when I add products widget from crocoblock, product with "pre-order" is showing like in stock.

[2022-08-24 11:16] fabricioventura commented on #3819
I have the same problem, please help us with this bug.

[2022-08-24 13:15] tizum opened #5820 "JetEngine Feature Request: Dynamic tag for Global Colors"
Hi guys, I requested a very good feature more than a year ago, but I believe I went to the wrong place, it must be very difficult to add there for them, you can follow the request here:

https://github.com/elementor/elementor/issues/15135

Before opening the request, I did a search, I didn't find anything related, so here goes.

I practically use options page in all my projects because the use of

[2022-08-24 13:40] DaviAppelDuarte commented on #5820
+1

[2022-08-24 18:24] Lonsdale201 commented on #5820
I recommended to try the Gloo :)
https://gloo.ooo/modules/globals-dynamic-tag/

[2022-08-24 18:43] Lonsdale201 commented on #3819
Your little mini extension does not work with Flex container, please check it out. :)

[2022-08-24 18:43] Lonsdale201 commented on #3819
@Floydtm Your little mini extension does not work with Flex container, please check it out. :)

[2022-08-25 06:49] shafqatkhan60 commented on #1968
Hey!
Any update on this issue please?

[2022-08-25 08:33] UraraReika commented on #5819
Hello @MikaelaDeCub !

Please describe your request in more details. You can use this template https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

Thank you!

[2022-08-25 08:35] UraraReika commented on #5818
Hello @MikaelaDeCub !

Please describe your request in more details. You can use this template https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

Thank you!

[2022-08-25 09:02] MichaelaKubasova commented on #5818
I create a website which has two containers next to on computer, but on mobile device I want only one container with 100% width, but somehow he take width with computer setup, but if I change width on mobile in elementor editor, not working.

To Reproduce Steps to reproduce the behavior:

Screenshots If applicable, add screenshots to help explain your problem.

Desktop (please complete the followi

[2022-08-25 09:16] MichaelaKubasova commented on #5819
I use custom snippet code for edit stock status like "pre-order" but when I add products widget from crocoblock, product with "pre-order" is showing like in stock.
To Reproduce Steps to reproduce the behavior:

Desktop:

OS: MacOS
Browser Chrome, Firefox, Safari
Version Chrome - Version 104.0.5112.101; Firefox - 104.0; Safari - Version 15.6.1;

Smartphone:

Device: iPhone 11 pro
OS: iOS 15.6.1.
Br

[2022-08-25 10:23] Mramorov commented on #1484
I join.
In addition, I would also like to be able to add custom taxonomy to Woocommerce products for comparison.

[2022-08-25 11:25] Floydtm commented on #5812
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-08-25 11:25] #5812 closed, assigned to nobody

[2022-08-25 11:51] Floydtm commented on #5817
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-08-25 11:55] fermarkti commented on #5817
Here a video: https://vimeo.com/manage/videos/743029923/privacy

[2022-08-25 13:52] fermarkti commented on #5817
I disabled a SEO plugin and it works, but now the left category filter not working after that.

[2022-08-25 14:31] ofmarconi opened #5821 "Stripe Gateway sometimes responds with invalid token"
**Describe the bug**
Form with Stripe Gateway sometimes responds with **invalid token**:
![image](https://user-images.githubusercontent.com/6594795/186691810-3c1db555-643a-443b-a3a7-4a9e98fd21e4.png)

**To Reproduce**
Steps to reproduce the behavior:
Make a form with jetformbuilder, add gateway stripe, and sometimes when you send the response it is invalid token.

**Expected behavior**
If the toke

[2022-08-25 14:54] Floydtm commented on #5817
@fermarkti Contact our support team so we can investigate and resolve this issue.

[2022-08-25 15:16] fostira opened #5822 "JetFormBuilder – Export entry/submission records"
This is a critical feature that we need in our forms made by JetFormBuilder.

JetFormBuilder should have (or an add-on for it) the ability to export the records in Form Records page in at least XLS / CSV format (formatted/designed PDF would be nice as well).

Many times these forms are used as a event registration forms and the organizer would need to have a better way of checking all the attendee

[2022-08-25 18:35] aronhawkins-4 opened #5823 "JetEngine Map Listing - Open listing popups on marker mouseover"
I want to open each listing popup when its corresponding map marker gets hovered over by the mouse.

[2022-08-25 21:12] Brink67 commented on #5771
I personally don't want 1 large "core tool" that is bloated and has a lot of functions built into it that I don't use. I like the modular approach that Crocoblock has taken to only install the things you need to get the job done. This sounds like the rantings of a person who keeps buying small pieces of the package to get things done and then discovers that they need yet another piece that they di

[2022-08-26 08:19] donstefanos commented on #2307
In germany DSGVO or GDPR is no fun, so Honeypot would be a faster Solution than Google Solutions.
Is it not possible to do this with conditional fields and hidden fields?

[2022-08-26 11:28] maurocarreraok opened #5824 "New Macro: Show POSTS that has 1 or more X Related Item"
So,

It will be great if you have a listing to show only posts that has asociated "1 or more" "X relation assigned".

Thanks

[2022-08-26 21:21] ofmarconi opened #5825 "JetFormBuilder - Duplicate a post submission action"
It would be really nice to be able to duplicate a post submission action.

![image](https://user-images.githubusercontent.com/6594795/186992326-572714ce-c683-4837-b779-c8ee3101acfc.png)

[2022-08-26 21:29] ofmarconi opened #5826 "JetFormBuilder - Add multiple email recipients and a dynamic option"
I have 2 requests:

1. Manually create multiple emails in the post-sending action destination field (email send)
It should work like this: email1@gmail.com, email2@gmail.com or email1@gmail.com; email2@gmail.com

2. Dynamically create based on form field values; It can be used, for example, if the user registers for an event and each "additional" person also received the information from that emai

[2022-08-27 02:41] RibeiroM4E opened #5827 "JetFormBuilder - Update/Trash/Delete multiple CPTs / CCTs"
* USING CPTs / CCTs as CHECKBOX / SELECTION fields *
-> As you´ve chosen your CPT / CCT, be able to apply a Query (from Query Builder)
-> Post Submit Actions, when using the Insert/Update CPT / CCT, be able to Update/Trash/Delete/etc; all the selected CPTs / CCTs

[2022-08-27 04:11] ofmarconi commented on #5821
An important information I would like to add is that if you use Cloudflare's edge cache, invalid token appears every time, could you explain to me where this token is? Is he on the page? if so the page cannot be cached? It would be better to call it via AJAX, if not only it, the form will load via AJAX.

An edge cache is irreplaceable!

If I add any query parameter to the URL /?test=1 the form wor

[2022-08-27 07:32] makeanewgame commented on #2394
+1

[2022-08-27 08:04] 79ho3ein commented on #5782
hi @UraraReika
A bug in the checkout fields width...

If we consider the width of the two fields 50%-50% on the desktop, but set them to 100% on the tablet or mobile, they will not be completely 100%. Actually, [Columns Gap](https://prnt.sc/xl3-WXCXaWUs) affects the width of those two fields. Please watch the following video :

https://user-images.githubusercontent.com/77163248/187020897-a2f66669-

[2022-08-27 10:18] orelhassid opened #5828 "Dynamic Field: Allow adding dynamic data as a fallback value"
**Before adding a new feature request, please, make sure you’ve checked:**

## Description
When using Dynamic Field to display the page title I would like to add a fallback value but as dynamic data.

## Example
I want to add an alternative page title, so I added Meta Boxes for all pages with the following fields (Overline, Headline (title), Description, Cover Image)
I want to display the Headline

[2022-08-27 11:28] imCorfitz commented on #1103
@kaskad88 I am not sure how your solution works. It seems we are required to also have a custom query added in JetEngine. your screen shots seem to use a query called Posts Query, which I don't have available. Also - does this update based on the filters selected when using JetSmartFilters?

[2022-08-27 12:33] shaggira opened #5829 "Crocoblock Jet Engine Calendar Appearance/Functionality"
The calendar's functionality on the JetBookings is generally bugging. When I scroll through the months, it doesn't give me the right order of months because another arrow appears in the middle for scrolling the months. It’s weird for the calendar to work that way. If you look at any international booking website, whether it’s accommodation, flights or car rentals, the calendar doesn’t function lik

[2022-08-27 12:49] secondsky commented on #1060
@Floydtm
Any progress with this one?
As this feature is similarly available in JetFormBuilder it should be quite easy to bring it to JetEngine Meta Fields ?!

[2022-08-27 13:41] #5596 closed, assigned to Gawuww

[2022-08-27 22:10] ethanwanoreck commented on #2220
This would be great to have, especially for a membership plugin.

[2022-08-28 13:14] Michaelgimii opened #5830 "product grid badges position / jet woobuilder"
The product grid widget is a great widget. But there is a big limitation in the badges section. In this section, we cannot place the badges in the desired position.
For example, we wanted to display badges in [this location](https://prnt.sc/tHGJqqH_ozhY). But it is not possible.
Please add options for badges so we can display it in the desired position. Currently we only have the [margin option](h

[2022-08-28 13:20] Michaelgimii commented on #5782
In jet woobuilder pages (product page, cart, checkout and...) I try to put Template Layout on canvas, but it doesn't work. In fact, after this action, the header and footer are still displayed. https://prnt.sc/zWp9LYzfJjm1

[2022-08-28 22:56] ofmarconi commented on #5826
At the suggestion 1 after the 2.1.5 update it still works natively. THX!

[2022-08-29 05:39] morosmo commented on #5113
Thanks For the help.
I have tested that plugin and dosent feed my needs. Also sorry for that as I already have alot spent.

[2022-08-29 05:39] #5113 closed, assigned to kaskad88

[2022-08-29 08:42] UraraReika commented on #5782
@79ho3ein

We double checked this points and still everything is good.

Fixed.

@Michaelgimii

Please follow guidelines for opening a new [bug report](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/bug_report.md), so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests. Thank you for your

[2022-08-29 09:17] websetters opened #5831 "JetFormBuilder issues with required fields & conditional logic"
Dear Crocoblock team, unfortunately I noticed a bug that does not allow me to use your plugin.

I have created a form with which it should be possible to upload real estate. Since different fields should be displayed in the form for different property types, I use the Conditional Logic function. Showing or hiding the elements works, but as soon as I have a Required field in another logic which is

[2022-08-29 10:39] 79ho3ein commented on #5830
+1

[2022-08-29 12:04] fabricioventura commented on #5603
+1

[2022-08-29 13:06] Avram-Baskin opened #5832 "Show/Hide Passwords"
It would be helpful to have a Show/Hide option in password fields.

[2022-08-29 15:13] fachremyputra opened #5833 "Dynamic Query Result Count in Progress Bar Widget"
Hi Crocoblock
I need additional feature in Progress Bar Widget
- Dynamic Result Query Count not working
- can calculate percentage automatically

Thank You

[2022-08-29 18:08] LorenzoBoers opened #5834 "OAuth 2.0 authentication type option in rest API endpoints"
I am trying to build a web application with Jetengine that can interact with a third party database. I know this is possible when using the custom endpoints tab in Jetengine and creating dynamic pages and forms to interact with data

However. In my case.. For security reasons and scalability our client wants the web application to interact with an already existing database. This is a database buil

[2022-08-29 19:25] purnendu92m opened #5835 "JetAppointment - Different time slot for Different Services"
Hello,
I couldn't find any process to set Multiple Time Slots for Multiple Services provided by One Provider.

i.e. In my company Mr. X provides two services 'Spa' and 'Salon' at different time slots. So, customer can choose the service and then see different time slot availabilities.

[2022-08-30 07:22] Michaelgimii opened #5836 "jet woobuilder canvas mode not work"
If we select the [canvas option](https://prnt.sc/uWav9YUiSZLd) in the jet woobuilder templates, it does not work. Therefore, by selecting this option, the header and footer will still be displayed.

[2022-08-30 12:13] Raxol opened #5837 "JetBlocks Reset Password Form Widget shows 3 password input fields instead of 2"
**Describe the bug**
The Reset Password Form Widget shows 3 password input fields (1x New Password, 2x Repeat Password) but should only show 1 _New Password_ and 1 _Repeat Password_ fields.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit page with the widget added and request a password reset link to be sent to your email
2. Open the reset link
3. See 3 password input fields (see scree

[2022-08-30 13:50] Wanooo0 opened #5838 "Jet Appointments Booking + Make.com (Webhook)"
I try to create event in Google Calendar from my form created with (jetappointment).

My (jetappointment) form is properly connected to my webhook.

But I dont have any access to Start Date field or and slotEnd or End Date items...

I dont see the "appointment_date_new" expandable item in the available macros in "make.com" webhook settings.

How to get StartStart and SlotEnd values from my form?

[2022-08-30 14:16] TheBigBanik opened #5839 "Media meta field min and max file dimensions in px"
Hi my lovely developers. Since 4 years that I discoverd crocoblock I use all of them in all my projects but I still need ACF for some specific features. I would like the media meta field in the Jet engine to have a min and max file dimesnios in px so we can restrict inapropriate dimensions that will destroy the layout. ACF has already that feature since the beginning so it would be a great upgrade

[2022-08-30 17:18] Floydtm commented on #5838
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-08-30 17:18] #5838 closed, assigned to nobody

[2022-08-30 18:52] Michaelgimii opened #5840 "Variable title on product page / jet woobuilder"
In the variable selection section, the title of the variable is not centered vertically : https://prnt.sc/TPFBpqVf10lO
Please add a new control for the vertical alignment of variable titles.

[2022-08-30 19:06] Michaelgimii opened #5841 "Shadow control for category grid widget"
The category grid widget is fantastic. But if you add a feature it will be great.

1- Please move the [box shadow option](https://prnt.sc/KSMRxLNzfNOo) up in the grid item section so we can control it in both normal and hover mode. Just like the [product grid widget](https://prnt.sc/71soPtucjVes).

2- In [thumbnail section](https://prnt.sc/hQvHE6V2oNV4), please add [normal and hover option](https:

[2022-08-30 22:44] jimhuds commented on #5325
Any info on this? The error returned after updating the plugin so I've had to add the fix above again. Cheers

[2022-08-30 23:09] Michaelgimii opened #5842 "lazy load for product grid / list and category grid widget."
Please add lazy load option to jet woobuilder widgets. Enabling this feature is completely optional : https://prnt.sc/-KVOaEzSKTlG
This feature is available in elementor. So it's great if you add it in jet woobuilder.

[2022-08-31 06:33] kaskad88 commented on #1103
Before using the dynamic Query Results Count tag, you need to create a query in JetEngine Query Builder on which the tag and listing will work
https://crocoblock.com/knowledge-base/articles/query-results-count-dynamic-tag-for-wordpress/

[2022-08-31 06:45] Wanooo0 commented on #5838
Thanks for you reply. I will check all my settings today. Greetings

[2022-08-31 07:28] UraraReika commented on #5782
Check out latest release 2.0.3!

[2022-08-31 07:28] #5782 closed, assigned to UraraReika

[2022-08-31 07:28] UraraReika commented on #5763
Check out latest release 2.0.3!

[2022-08-31 07:28] #5763 closed, assigned to UraraReika

[2022-08-31 07:29] UraraReika commented on #5762
Check out latest release 2.0.3!

[2022-08-31 07:29] #5762 closed, assigned to UraraReika

[2022-08-31 07:29] UraraReika commented on #5755
Check out latest release 2.0.3!

[2022-08-31 07:29] #5755 closed, assigned to UraraReika

[2022-08-31 07:29] UraraReika commented on #5734
Check out latest release 2.0.3!

[2022-08-31 07:29] #5734 closed, assigned to UraraReika

[2022-08-31 07:32] UraraReika commented on #5842
Hello @Michaelgimii !

I merged this issue with [#4987](https://github.com/Crocoblock/suggestions/issues/4987), which is on the same subject so we could deal with it more efficiently.

And for the future before adding a new feature request, please, make sure you’ve checked if the feature is already added to the backlog or in work.

Thank you!

[2022-08-31 07:32] #5842 closed, assigned to UraraReika

[2022-08-31 09:07] laurencealbano12 opened #5843 "Enable to use Listing Grid Injections on REST API Listings"
Enable to use Listing Grid Injections on REST API Listings.

Situation:
1. Creating an ordinary listings to feature blog posts on the listing grid > Can display perfect blog posts.
2. When Injecting the `REST API Listing` using the `Inject alternative listing items` on the listing grid doesn't work. It will show/result to an empty listing inserted instead.

By enabling to inject `REST API Listing`

[2022-08-31 09:08] Wanooo0 opened #5844 "Jet Appointments Booking + JetForms + Webhook + Stripe"
I try to create event in Google Calendar from my form created with (jetappointment).

My (jetappointment) form is properly connected to my webhook and I am using Stripe Payment in jetForms.

BUT **when payment is active** in my forms settings "appointment_date_new" macros are not available in "make.com" webhook settings.

When I deactivate Stripe Payment, all the jetappointment macros (end date, s

[2022-08-31 09:21] Michaelgimii commented on #3793
hi @UraraReika , Sorry, is there any news about this feature? Is it clear in which version it will be published? This update will complete the checkout page customization. We are very excited to release it.

[2022-08-31 09:45] 79ho3ein opened #5845 "jet woobuilder 2.0.3 bugs"
**Describe the bug**

hi @UraraReika , good time.
If you remember, there used to be a bug in the overflow rendering of the product grid widget. So that after reloading the screen, the overflow mode was displayed with a little delay. You fixed this in an update. But this bug occurs again in the latest version (2.0.3). Please check this if possible.

**This is a video I posted earlier about this bug

[2022-08-31 11:00] valmirselmani commented on #5639
@MjHead Any updates on the 3.1 release? I am still holding off on updating from Elementor 3.5 to 3.7 because of the performance issues when using multiple dynamic field widgets.

[2022-08-31 11:25] Michaelgimii opened #5846 "responsive option for Animation Speed in product grid and category grid widgets"
It would be great if you could add [Responsive option](https://prnt.sc/HfHkopYLLw2l) to [Animation Speed](https://prnt.sc/bqT9Y3FizJr6) ​​control.

[2022-08-31 11:41] Michaelgimii commented on #4987
hi @UraraReika , I have a question about this feature. Do you plan to add Lazy Load as usual (for images only), or for products?
I mean, isn't it better that all products include this lazy load? like this : https://prnt.sc/Vuy978AQKawc
This feature can even be used for jet smart and jet engine filters and is really great.

[2022-08-31 11:52] UraraReika commented on #4603
This feature is quite complex @Michaelgimii present screenshot https://prnt.sc/t40d74YQW7Yp but most part of this functionality is hidden behind tooltip. Here you can see the full picture https://tppr.me/b3bjR. There is no way we will ad this functionality to our widgets, and in this case you just need one simple option.

But in the future we do not exclude the possibility of adding this functiona

[2022-08-31 11:52] #4603 closed, assigned to UraraReika

[2022-08-31 11:55] 79ho3ein commented on #4603
thank you @UraraReika

[2022-08-31 12:01] edgBllw commented on #5839
you just can use the css command `object-fit: cover;`
to achieve what you want. if you still wanna restrict the image sizes, thats what i would do: (in this example users only can uplaod images if they're bigger than 512 by 512 px)

function edg_upload_filters_min_image_dimensions( $file ) {
	$min_dimensions = array( 'width' => '512', 'height' => '512' );
	$img = getimagesize( $file['tmp_name'] );

[2022-08-31 12:06] edgBllw commented on #5837
I also noticed that issue. What you need to do to fix it temporarily until they've fixed it, is this:

`document.querySelectorAll('.jet-reset__field :is(input, label:not(:first-child))').forEach(uselessFields => {
  uselessFields.remove();
});`

[2022-08-31 12:16] TheBigBanik commented on #5839
Hi, thanks for the reply and the script. It lloks prommising but in my case I have over 5 different media meta fields that need to limit their dimensions on upload so at the moment I cannot use a global script for that. Let's hope that the developers will implement this feature in the future updates. Thanks anyway.

[2022-08-31 12:22] Michaelgimii opened #5847 "selected mode for the selection field - jet woobuilder"
In some jet woobuilder widgets we have [this field](https://prnt.sc/XGtfsg3DI_so) to select options. It will be great if you add one item to it. so that the selected options are highlighted.
An example to describe this request is the WooCommerce feature selection section on the product page. On the add product page, features that are selected have a different color than options that are not select

[2022-08-31 14:12] 79ho3ein opened #5848 "Custom Quantity Selectors plugin for jet woobuilder - DevTools"
**in Cart Table widget**

1- [This control](https://prnt.sc/IWGuZE7eRy1j) is for icon size. But only the size is mentioned in the title.

2- A new control to create space between buttons and input fields : https://prnt.sc/PC-xKdDOGCus

3- Ability to control border, border radius and box shadow separately for the +- button. There is a similar feature in the product grid widget and using it we can c

[2022-08-31 14:21] 79ho3ein commented on #5845
Another bug in the new version (This bug was also fixed in the previous versions, but it occurs again in the new version)

If we click on the add to cart button, the spinner is not in the center : https://prnt.sc/2L2EsgF4HAj_
To better understand this problem, just increase the padding of the button to make the problem more obvious : https://prnt.sc/s8zZUorKsjH_

[2022-08-31 15:03] Nelmedia commented on #1103
The tutorial you point to seem to only work with Elementor... When using JetEngine/JetSmartFilters with Gutenberg, we don't have the "JetEngine" section in the drop-down, and therefore I can't find this option: "Query Results Count"...

Is there a way to achieve the same thing with Gutenberg?

Also, the second part, which shows for example "Showing 5 of 8" will ALWAYS show the same thing for every

[2022-08-31 17:50] 79ho3ein commented on #5848
**A question about the jet woobuilder development process**

crocoblock support said we probably don't add jet woobuilder (**Custom Quantity Selectors**, **Custom Products Badges** **Products Grid Load More** and **Custom Add to Cart Icon**) plugins to core because it slows down the websites.
So I wanted to ask if it is not better to add these features as a module to the jet woobuilder core? There

[2022-08-31 19:54] AleXileD commented on #2377
Is there any update on this request? This would be a good feature!

[2022-09-01 04:56] Michaelgimii opened #5849 "responsive option for Products Number / jet woobuilder"
It would be great if you could add a responsive option to the [Products Number control](https://prnt.sc/mWqMiwye5a7t). In certain cases, the number of products in mobile, tablet or mobile needs to be different, and this option will also help a lot. Please add this item. thanks

[2022-09-01 05:39] hamed-azimi opened #5850 "Alphabet Filter doesn't work with Taxonomy"
We have a page where we display a list of brands. The Brand is a Woocommerce attribute. We display this list of brands using the Listing Grid widget.

Everything works great, except if we add an Alphabet Filter using JetSmartFilter, it doesn't work. Seems like the Alphabet filter only works for Posts and their titles.

But as you know we can create many different types of listings and add filters

[2022-09-01 07:40] UraraReika commented on #5788
In our Products Grid widget we use custom function to output messages depending on statuses. In this case we handle 3 default statuses, but in this function we have filter hook `jet-woo-builder/template-functions/custom-stock-status` that you can use to handle you r custom output.

If you have difficulties feel free to contact our support team.

Thank you!

[2022-09-01 07:40] #5788 closed, assigned to UraraReika

[2022-09-01 08:24] UraraReika commented on #5805
We haven’t heard from you in a while so I’m going to go ahead and mark this thread as resolved. If you still need help with this issue or have any other questions about our product, please start a new thread.

[2022-09-01 08:24] #5805 closed, assigned to UraraReika

[2022-09-01 08:27] UraraReika commented on #5819
In our Products Grid widget we use custom function to output messages depending on statuses. In this case we handle 3 default statuses, but in this function we have filter hook jet-woo-builder/template-functions/custom-stock-status that you can use to handle you r custom output.

If you have difficulties feel free to contact our support team.

Thank you!

[2022-09-01 08:27] #5819 closed, assigned to UraraReika

[2022-09-01 08:32] UraraReika commented on #5818
We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team.

Thank you!

[2022-09-01 08:32] #5818 closed, assigned to UraraReika

[2022-09-01 08:45] darione88 commented on #1833
I have to set minimum 2 days but i saw is not possible :( this could be a very good and important feature for next version!

[2022-09-01 09:44] UraraReika commented on #5847
Hello @Michaelgimii! Thanks for the feedback.

This is default Elementor control that we use to build our widget https://developers.elementor.com/docs/controls/classes/control-select2/. And the look of this option depends on Elementor plugin. Some theme although style Elementor controls. In fact as you can see selected options have brighter color https://tppr.me/6wr49. But if you want to make it b

[2022-09-01 09:44] #5847 closed, assigned to nobody

[2022-09-01 09:56] UraraReika commented on #5846
In our plugin we use Swiper Slider library for carousel functionality. And this library doesn't give us opportunity add this property to breakpoints system. Check off documentation https://swiperjs.com/swiper-api#param-breakpoints. So this option will not be added.

Thank you!

[2022-09-01 09:56] #5846 closed, assigned to UraraReika

[2022-09-01 11:20] Iwanrhys92 opened #5851 "JetSmartFilters - Add Sentence Search to Search Filter"
I'm using JetSmartFilters to filter both map and grid listings. The search filter is being used and I'm using Query Variable with around 8 different meta fields, seperated with commas. This works pretty well but Sentence Search (which is part of JetSearch) would be a brilliant add-on. The users/visitors naturally search for things in sentences, and lots are getting zero results because the term do

[2022-09-01 11:49] UraraReika commented on #5849
Hello @Michaelgimii!

Unfortunately this option can't be transformed into responsive. Because the value of it used in the backend where we cant specify and handle breakpoints.

Thank you!

[2022-09-01 11:49] #5849 closed, assigned to UraraReika

[2022-09-01 11:50] fostira commented on #5848
+1

[2022-09-01 11:53] UraraReika commented on #5811
This improvements will be added in the next release. In this control you will find a new type of query https://tppr.me/9bM48 `stock_status`. After selecting this type of query, a new additional control will appear https://tppr.me/vDQWy in which you can select the type of status, as well as combine them by selecting several. Then get a list of products according to the specified parameters.

[2022-09-01 11:59] arcaswebdesign commented on #5811
Thanks for taking my suggestion into account, that sounds perfect!

[2022-09-01 12:23] Pycroyal opened #5852 "All meta fields could be made required"
It would be nice if all meta fields could be made required.
Currently image fields cannot be required.

[2022-09-01 12:41] UraraReika commented on #5836
Thanks for the feedback.

We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. We use theme Hello Elementor. Maybe you have specific settings for separate product here https://tppr.me/XYdRk. Please contact our support team.

Thank you!

[2022-09-01 12:41] #5836 closed, assigned to UraraReika

[2022-09-01 13:23] kaskad88 commented on #5852
I merged this issue with https://github.com/Crocoblock/suggestions/issues/1834, which is on the same subject so we could deal with it more efficiently.

[2022-09-01 13:23] #5852 closed, assigned to kaskad88

[2022-09-01 14:44] jkgatt commented on #3505
+1

[2022-09-01 16:16] mixedupcynth commented on #4671
I am having major caching issues with JetMenu as well. We use WPEngine for hosting and I cannot turn caching off there. It's making it very difficult to build and test; clearing the cache does not solve it. I have wasted several hours on this and still do not have a functional menu that I can use.

[2022-09-01 16:21] edgBllw opened #5853 "BUG!!! [JetSmartFilters] - Apply filter with redirect path setting doesn't work properly"
In my example i have an archive that lists profiles (AJAX loading, 10 per page). on the homepage i have a select filter that filters the taxonomy for the profiles. I've set it up that the filter is executed only when clicking on an apply button. but when i do that, at first glance, everything seems fine, but a little later i noticed a bug. The results show up as i wanted, but if i scroll beyond th

[2022-09-01 19:25] Floydtm commented on #5844
@Wanooo0, hi! Please check the settings in your form. They should be like this https://prnt.sc/yYGRL96DTuz7 https://prnt.sc/A2uTBJbkcECB This should solve your problem. Let me know if this helps. You can also contact our support team to resolve this issue.

[2022-09-02 09:31] Panark commented on #4624
YES!
That's exactly what i am facing with a project!
I want to have working hours taken from the Employees BUT duration to be always from the service.
I thing there is a necessity to detach the duration  from the working hours because they are 2 different things and be able to choose where to use working hours and duration (from Employee or from Service).

By the way, the code snippet from Loverko

[2022-09-02 10:02] ignaciosantiago opened #5854 "BUG Images don´t show when I use the image accordion element and I activate webp images with Imagify"
**Describe the bug**
Images don´t show when I use the image accordion element and I activate webp images with Imagify

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ignaciosantiago.com/clientes/supernova/showroom/

**Screenshots**

![02-09-2022_12-00-54](https://user-images.githubusercontent.com/5451478/188115565-92199c2f-868a-40bd-957b-c47f0e420eb8.jpg)

![02-09-2022_12-01-33

[2022-09-02 10:56] Wanooo0 commented on #5844
Thanx for your reply @Floydtm ! I forgot to say I'm working with Elementor builder.
These are my plugins settings in jetForms, Do you see anything that you think is improperly configured?
![image](https://user-images.githubusercontent.com/77484326/188124442-7837f116-8f78-400f-a412-d2a5d5b8dd1c.png)
![image](https://user-images.githubusercontent.com/77484326/188124708-3aef6bbd-4838-45d3-9c7c-dddb9c

[2022-09-02 12:45] Michaelgimii commented on #5811
hi @UraraReika  , How is this new feature different from this option? https://prnt.sc/CtW9jqILzR5W

[2022-09-02 12:58] arcaswebdesign commented on #5811
I believe that the existing option is merely to _order_ the products by stock status whereas the new option allows us to _filter_ the products by stock status.

[2022-09-02 14:36] Michaelgimii opened #5855 "The possibility of adding the coupon form in the desired place on the checkout page / jet woobuilder"
hello crocoblock

One of the biggest weaknesses in jet woobuilder is that we cannot place the coupon form of the checkout page in the desired location. In fact, we have to display the coupon form in a different template ([Checkout Top Template](https://prnt.sc/JWayWzlZIMLy)) than the checkout forms. This is not really good.
For example, if we want to display the coupon form in [this](https://prnt.

[2022-09-02 17:26] secondsky commented on #5402
@Floydtm
Indeed, this would be great for the video player widget.
Play on hover if mouse enters the video player and stops video when mouse gets out and displays the Picture overlay again if set so.
Obiously this makes only sense on desktop an not on mobile devices (as no pointer), so for there a option to just show the Picture overlay would be good

[2022-09-02 17:43] secondsky opened #5856 "Video-Widget: Add Media Quality Choice or/and HLS Streaming option"
Right now the video widget can only play a specific mp4.
Its not possible for the user to choose which quality he wants to stream neither does the widget support HLS streaming and by that adaptive quality streaming. I suggest to use Videojs player as it offers HLS and many other options and implement it as a option.
Option 1: https://github.com/videojs/video.js
Option 2: https://github.com/video-d

[2022-09-02 17:54] secondsky commented on #1834
Just imagine a site where you want to prevent that someone publishes something which does not have all the necessary fields filled out..... **Making fields required is a MUST!**

[2022-09-02 18:00] pauserratgutierrez commented on #5792
@Crocoblock

[2022-09-02 18:10] pauserratgutierrez commented on #2632
Hi, I have a checkbox inside a repeater field in a CPT. I would like to dynamically display an image depending on which box is selected.

Here you can see the checkbox inside the repeater. I'm not able to target the selected checkbox in any way. The dynamic visibility doesn't work
![image](https://user-images.githubusercontent.com/73240206/188213102-1c3791d1-9514-4bb5-b8c2-185f24b5a525.png)
![imag

[2022-09-03 02:25] wilsonrg opened #5857 "Plugin JetElements, Download Button: does not link with repeater field"
**Plugin JetElements, Download Button: does not link with repeater field**

I created a repeater containing: title, and file for download
but there is no way to use the JetElements download button
![repeater-download](https://user-images.githubusercontent.com/4973229/188252292-249546e0-3ef5-4e8d-bc82-3ea8adabfedc.gif)

[2022-09-03 10:08] 79ho3ein opened #5858 "Jet woobuilder and jet smart filters widgets do not support Multi-Select feature well."
**Describe the bug**

Elementor added [Multi-Select feature](https://prnt.sc/qd1EPqyo5kqO) in version 3.5. This feature works for all Elementor widgets. But it doesn't work in jet woobuilder and jet smart filters plugin.
For example, I wanted to select 8 filters and move them to another location at once. But I could not do it. Jet woobuilder widgets in the same way. **(Please note that if you are

[2022-09-03 11:10] Michaelgimii opened #5859 "Suggestions for jet compare & wishlist."
hello @UraraReika , Since #4697 is under development, I had some suggestions to complete the functionality of this plugin with jet woobuilder. Please check them out.

A : Currently, the [favorites option](https://prnt.sc/Ad3-gy4YYZ-t) in the Product grid widget is displayed only when we hover over the product box. Please add an option to specify whether the interest button should be displayed on h

[2022-09-03 13:18] Michaelgimii opened #5860 "Spinner to apply Ajax in jet compare & wishlist plugin."
It would be great if you add a spinner for the compare & wishlist buttons in the product grid widget. For example, when the user clicks on add to wishlist, this spinner will be displayed and after that, the product will be added to wishlist. It will be incredibly beautiful. Please add it.
The use of this spinner can be optional. We can enable or disable it. An example of this beautiful spinner :

[2022-09-04 06:00] raabmar commented on #1834
It's such a tiny feature request that moves me again away from JetEngine. If there was at least some custom workaround for this after years.

It's absolutely necessary to make fields required. There is no way around it.

[2022-09-04 09:11] Michaelgimii opened #5861 "The current query option in the product grid widget / jet woobuilder"
For a better user interface, wouldn't it be better to [remove this](https://prnt.sc/BIUawQ5t_wa-) from here and add it [here](https://prnt.sc/0dprz7w8A6vJ)?
If this is possible, that would be great. Because we can have more control over archive products. For example, I want to use [this option](https://prnt.sc/Ef-dJK6e-iVf) in product archives.

**tip :** If we enable the current query option in t

[2022-09-04 11:06] veltix commented on #3460
Maybe we get this christmas?

[2022-09-04 11:08] veltix opened #5862 "Pass current logged in user id to jetAppointments calendar, list view.."
Service providers doesnt have own panel yet, maybe you have filter or hook where I can pass current logged in user id AS a provider.

[2022-09-04 14:14] Kornform commented on #4140
+1

[2022-09-04 15:12] 79ho3ein opened #5863 "bug : jet engine > listing widget with elementor custom font."
**Describe the bug**
HI @Floydtm There is a strange bug between Jet Engine and Elementor's custom font, which I realized after a long time is a bug from the listing widget. The explanation is very detailed. Therefore, I go directly to the stages of reproduction.

**To Reproduce**
1- Upload your custom fonts to Elementor.
2- In the Global Fonts section, create one or more fonts that use your custom

[2022-09-05 08:45] stasonua0 opened #5864 "Dragging posts with the mouse when scrolling in Jet Engine Listing"
Hello, please give the site users the opportunity to scroll through the listing not only through the scrollbar, but also when the mouse is clamped on the listing itself https://prnt.sc/yPti2nKoeKhT .
Often, by design, it is necessary to make a very thin scrollbar, which is difficult to catch hold of with the mouse.
On self-written solutions, we solve a similar problem using the jquery.scrollbar li

[2022-09-05 10:46] 79ho3ein commented on #5859
According to the above screenshot, if we select none, it will always be displayed.

+1 , This is really important

[2022-09-05 13:23] UraraReika commented on #5861
Hello @Michaelgimii !

Thanks for the feedback. Unfortunately we do not plan to introduce such functionality into our plugin. The reason of this is backwards compatibility and logic behind this control and functionality that it contains.

The reason why query controls disappear not just because we want so, but because after enabling this control widget grab global wc query that you can control in

[2022-09-05 13:23] #5861 closed, assigned to nobody

[2022-09-05 13:29] UraraReika commented on #5855
I merged this issue with [#5401](https://github.com/Crocoblock/suggestions/issues/5401), which is on the same subject so we could deal with it more efficiently.

[2022-09-05 13:29] #5855 closed, assigned to nobody

[2022-09-05 13:44] Michaelgimii commented on #5401
Having the coupon form enabled by default is great. But it would be great if enabling this feature was optional. In other words, we can determine whether the coupon form is open by default or works as usual.

[2022-09-05 13:53] unitedonline opened #5865 "Please add "Forgot Password" functionality to Jetformbuilder's User Login Action plugin"
The existing "Forgot Password" functionality at this point can only be accomplished via the "JetBlocks For Elementor" plugin.

This creates an issue for all of us who do not wish to use the bloated Elementor page builder.
Please consider adding this functionality to the User Login Action plugin for allowing web developers to create a "Forgot Password" form.
Also please add OTP, Twillio, WebHook, S

[2022-09-05 13:55] Michaelgimii opened #5866 "Ability to disable the button to increase / decrease the number of products on the product page / jet woobuilder plugin"
It would be great if you could add a new property to the button widget so we can disable [this control](https://prnt.sc/DSzCjRDHu1Nk). For example, some customers tend to just add the product to their cart on the product page. If they wish, they can increase the number of desired products in the cart page. thanks

[2022-09-05 13:57] Michaelgimii opened #5867 "Possibility to change the variable title position in Jet Woobuilder plugin"
If possible, please add a new feature so that we can choose to display variable titles in 2 places.
1- Default (next to variable selection field)
2- Above variable fields : https://prnt.sc/GnWfY9M1Dmwx

[2022-09-05 16:56] Seventhose opened #5868 "ElasticPress and JetSmartFilters Compatibility"
Woocommerce site with WPML installed:
ElasticPress and JetSmartFilters issue

I have indexed from WPCLI all the products in the main language and in the second language with WPML Elastic Press addon called wpml-elasticpress

For all the shop pages and archives I'using JetSmartFilters with indexer.

With ElasticPress active in the shop I cannot see the products in the main language unless I touch o

[2022-09-05 17:56] Michaelgimii opened #5869 "Custom spinner for add to cart widget / jet woobuilder"
It would be great if you could add the ability to change the spinner icon of the add to cart button. The current spinner is not really cool for a modern website. I hope this is possible. thanks

[2022-09-05 18:01] Joliamendi commented on #5845
+1 for overflow bug
Is it clear when the update will be released?

[2022-09-05 18:02] Joliamendi commented on #5811
+1

[2022-09-05 18:07] Joliamendi commented on #5869
+1

[2022-09-05 18:08] Joliamendi commented on #5864
+1

[2022-09-05 18:18] Joliamendi commented on #5848
Are these important features like Custom Products Badges, Custom Quantity Selectors, Products Grid Load More, Custom Add to Cart Icon really not added in core because it can slow down? This doesn't really make sense.
All these are features that a professional plugin like jet woobuilder can benefit from. Most importantly, users need to install 5 plugins to have these important features in jet woobu

[2022-09-05 21:51] pauserratgutierrez commented on #5792
I came across a tricky way to do it. We can write an image tag in the name field in the glossary with link of the png or jpg with src. It does not work with svg

[2022-09-06 01:15] joelgaribaygz commented on #5417
I cannot retrieve the meta fields that I have filled in my CPT, I am making an http request and it shows me this:
![image](https://user-images.githubusercontent.com/22732456/188526552-6a5e2e91-07b6-4e9e-b1be-bd29cb3130a6.png)

I have more than 10 meta fields in that post and I need to edit them via API, but since I don't see them, I don't know exactly how to edit them

I have the updated version o

[2022-09-06 08:05] #6 closed

[2022-09-06 08:13] Floydtm commented on #5866
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-09-06 08:13] #5866 closed, assigned to nobody

[2022-09-06 08:38] Floydtm commented on #5869
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-09-06 08:38] #5869 closed, assigned to nobody

[2022-09-06 08:49] Floydtm commented on #5832
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-09-06 08:58] SirChopper commented on #5857
Exactly what I am trying to achieve. There is no way to directly download the media file from the Downloads button widget. You can make it work with the Dynamic Field widget and style it as a button, but image files still pop-up/preview first which then gives you the standard option to download the image.

![Screen Shot 2022-09-06 at 10 54 46](https://user-images.githubusercontent.com/55023075/188

[2022-09-06 10:54] Joliamendi opened #5870 "The possibility of displaying the most visited products in jet woobuilder"
hello crocoblock team

It would be great if you add the most visited products query to jet woobuilder. This is what our customers want from us, but we are not able to add it at the moment.
I guess you don't add this feature because it slows down the website. Because this query challenges the database. But please add this feature, so we can use it if needed. Of course, many large online stores use

[2022-09-06 12:19] Avram-Baskin commented on #5832
The attached screen shots illustrate the suggested functionality.  These happen to be from the Wordpress login, but this functionality is widely used.  The default state is for the password to be masked.  A toggle button, usually an eye icon, but sometimes text (Show/Hide) allows the user to toggle back and forth between showing and hiding the password.

<img width="331" alt="Password Hide" src="h

[2022-09-06 12:23] saeedfrb opened #5871 "post id search in jetSearch"
we can't search with post id in Jet Search plugin

[2022-09-06 12:54] Floydtm commented on #5832
Oh. You misunderstood me a little. Which widget are you requesting this enhancement for. Or is it about forms?

[2022-09-06 13:14] Avram-Baskin commented on #5832
The password and confirm password fields that are used when logging in.

Avram Baskin
Be yourself,
everyone else is already taken
Oscar Wilde

[2022-09-06 18:33] BlueteraLLC commented on #2141
Still no option to edit the "view-order" template for single order details?

[2022-09-06 18:40] MjHead commented on #5777
You can add filed into rest API with switcher in field settings - https://i.imgur.com/YyuqY77.png Such switcher allowed for both - meta boxes fields and options pages fields

[2022-09-06 18:40] #5777 closed, assigned to kaskad88

[2022-09-06 18:45] BlueteraLLC commented on #5009
@Crocoblock: This functionality has been requested by many people, over multiple years, on Facebook, here and other websites.  It is awesome that we can edit the orders list endpoint template, but it is only partially functional if we cannot also edit the single "view-orders" endpoint.  Why have an awesome orders list page and then something default on the single order page? Please add this functi

[2022-09-06 18:54] MjHead commented on #5639
@valmirselmani Sorry for the delay. Partially these was fixed with JetEngine 3.0.3. For me it was somwthing around 50% faster listing grid rendering. At the moment not sure if it could be improved without breaking compatibility with some parts of Elementor. So more improvements with this will arrive later, not with 3.1.0, but after it

[2022-09-06 18:58] MjHead commented on #5611
It was added with 1.6.10. From this version you can automatically change On Hold to Failed after selected amount of time - https://i.imgur.com/3oPMCs1.png

[2022-09-06 18:58] #5611 closed, assigned to MjHead

[2022-09-07 05:27] desig9stein commented on #4532
Is there anyone to look into this issue? it's been 9 months with no reply...

[2022-09-07 09:05] MjHead commented on #5015
WIll be added as separate Post Submit action on next JetFormBuilder update

[2022-09-07 09:05] #5015 closed, assigned to kaskad88

[2022-09-07 09:05] MjHead commented on #4390
WIll be added as separate Post Submit action on next JetFormBuilder update

[2022-09-07 09:05] #4390 closed, assigned to kaskad88

[2022-09-07 09:14] mehdimoradi1500 commented on #4390
Thank you, I've been waiting for almost long time

[2022-09-07 09:45] rtpHarry commented on #5671
This is a feature that is required on my current project as well.

Using a Product Grid is limited because you cannot use custom templates for each item, just ten presets.

Using a 3rd party plugin like Catch Infinite Scroll "works" to provide the infinite scroll, but then when more products are loading in the javascript for those new products don't work, such as a JetPopup trigger to show a quick

[2022-09-07 10:16] boris-de-jong commented on #1833
I really require a minimum days/nights feature as well. It would be perfect if periods that cannot fulfil the minimum days requirement because of other bookings, would automatically be blocked as well.

[2022-09-07 10:56] breakused commented on #3587
+1
This is a very important tool.

[2022-09-07 10:57] breakused commented on #1495
+1

[2022-09-07 11:09] valmirselmani commented on #5639
@MjHead  No problem. You mentioned the feature where you can combine multiple Dynamic Field Widgets into one by displaying multiple meta fields with the same widget.
That's exactly the problem, that every dynamic field widget needs an initialization time.
But if instead of for example 8 widgets you only need 1 widget to display the same data. Then the problem is solved for now.

Will this feature

[2022-09-07 12:52] Michaelgimii commented on #5639
hi @MjHead , Will we see this 50% improvement in the new version of jet smart filters or is it only applied to the jet engine? Are there any plans for a new version of jet smart filters? Thanks in advance

[2022-09-07 12:59] mehdimoradi1500 commented on #5639
Also i saw a post on Facebook group, talked about a fully new version of jet smart filter. Is there any news about it?

[2022-09-07 13:21] aronhawkins-4 opened #5872 "JetEngine Forms - send email to children of post"
I am making a website for a real estate development company. I have post types for developments and builders, and they are in a many to many relation. Builders have an email meta field. On each development page, there is a form that asks if users would like more information about any of the builders for that development (this is a checkbox field). I would like a way to send an email to any of the

[2022-09-07 16:47] gfarma opened #5873 "Compability with Serverbolt's ACD Caching (local cache?) & Jetmenu"
Hi,

I have an issue with cached pages (at local cache whithin country) and Jetmenu.

At some cached pages the menu doesn't open, this is an example link that happens:
[https://fshome.gr/category/pomola/]

https://prnt.sc/Tyr9E6XVk4aq

errors:
https://fshome.gr/wp-json/jet-menu-api/v2/get-elementor-template-content?id=403744&dev=false
https://fshome.gr/wp-json/jet-menu-api/v2/get-menu-items?menu_i

[2022-09-07 23:07] Michaelgimii commented on #4697
hi @UraraReika , I had a question about this update...
If we select the favourites query, can we use the jet smart filters pagination widget for this widget (product grid)? Will there be complete compatibility?

[2022-09-08 06:28] UraraReika commented on #4697
There will be compatibility. But in this case we cannot interact with the wishlist, only view it.

[2022-09-08 09:56] Michaelgimii commented on #4697
So if we select the favorites query in the product grid widget, the jet smart filters pagination won't work for it?

[2022-09-08 09:58] UraraReika commented on #4697
It will work

[2022-09-08 11:23] rikedyp opened #5874 "Cannot update JetEngine Custom Post Type meta field via REST API POST"
**Describe the bug**
I am able to create a new post for my Custom Post Type via the REST API. I can even set the `title` and `slug`. However, the meta fields values are not update.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to JetEngine → Post Types
2. Create a new Post Type "custom"
3. Add a new meta field "meta_field" with the slug "meta_field"
4. Toggle ON Show in Rest API which c

[2022-09-08 13:15] mofata opened #5875 "Rename Jetformbuilder Field Type in Gutenberg list view"
Possibilty to rename the field types Jetformbuilder in Gutenberg list view to make it easier to recognize the required field type

[2022-09-08 17:42] Michaelgimii opened #5876 "The possibility of displaying the price of variable products dynamically in the Jet Woobuilder plugin"
hi
After selecting the variables, the prices of the variables are updated in the add to cart button widget. https://prnt.sc/Z8arAz740zyS
This is not really interesting. Please improve this.
Actually after selecting the variables, the price should not be updated in the add to cart button widget. Rather, it should be updated in the Single Price widget.
After the user selects the desired variables, t

[2022-09-08 18:39] drakulux commented on #2039
+1 for being able to disable the redirect on the search, and possibly setting a redirect link instead of the default search page.

[2022-09-09 00:02] shaggira commented on #5829
Hi guys, any update with this?

[2022-09-09 01:22] wilsonrg commented on #5857
@SirChopper Thanks for the tip, I wanted to download the file directly so I used Dynamic Link. It wouldn't be right but it worked.

Obrigado pela dica, eu queria baixar direto o arquivo por isso usei o Dynamic Link. Não seria o correto mais funcionou.
![solutiontemp](https://user-images.githubusercontent.com/4973229/189252499-474965ce-d8e1-4047-a55d-0f78b64dadce.png)

[2022-09-09 04:20] ossamainternational commented on #5876
I hope to get this fast!

[2022-09-09 04:30] ossamainternational opened #5877 "Display dynamic widget (profile, log out) in the header after someone logged in"
Hi,
We hope to see this feature ASAP!
once someone is registered in the store, Display a dynamic element (profile, log out) in the header instead of a static header.

[2022-09-09 06:19] RoldanAncajas opened #5878 "WooCommerce Email Cutomizer"
Hi Crocoblock Peeps!

**WooCommerce Email Customizer!**

I know this will be a lot of work and a lot of time from you. But if you can, that will be great for us developer, clients and website owners alike.

The current WooCommerce email is not only awful it's terribly hard to customize specially if you need the email to conform to your strict branding guidelines.

Thank you,
Roldan

[2022-09-09 07:34] UraraReika commented on #5475
Complete in latest release

[2022-09-09 07:34] #5475 closed, assigned to MakhonkoDenis, UraraReika

[2022-09-09 07:36] UraraReika commented on #5829
In our roadmap

[2022-09-09 09:26] 79ho3ein commented on #5876
+1
This is really great. But the thing is that jet woobuilder follows WooCommerce functionality. But if jet woobuilder can somehow improve this, it would be really great.
If we always move within the framework of WooCommerce, we will always remain in a limited space. So it would be great if jet woobuilder works on these. I hope it is possible.

[2022-09-09 10:41] maverick85 opened #5879 "WooCommerce MPN (manufacturer part number) / GTIN / EAN / UPC Support"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
Not according to the information received on ticket 106642

- if the feature is missing from the products.
YES.

**Please, describe the feature request, making it clear to understand.**
WooCommerce natively only expects a SKU number. SKU is, as is known, Stock Ke

[2022-09-09 10:52] borjamerino-v opened #5880 "Delete a Meta Field and also delete it from the database"
We have detected that when we create a CPT and add Meta Fields to it, if we delete one of them, it is not completely removed, leaving a trace of it in the database.

We think that when deleting a Meta Fields, for example, you should also delete it from the database and we suggest that you do so.

[2022-09-09 11:28] ruffzen commented on #2960
Please, hopefully they will implement this soon. It is very necessary and many people have been asking for it for a long time.

[2022-09-09 14:11] ShifraCohen commented on #4126
I also encountered a similar problem, I would love to know if there is another way to display users in check boxes and so on
Thank you

[2022-09-09 14:14] ShifraCohen commented on #4131
Hi,
I want to display a jet engine query results in the jet form checkbox
How can I do that???
In my case, I want to show in the checkbox all the users but the current user

[2022-09-09 19:47] RoynerG commented on #5877
dynamic visibility

[2022-09-10 03:04] Milton198 commented on #2960
+1 is much needed

[2022-09-10 06:49] unitedonline opened #5881 "Crashed (White Page) when adding custom post data"
I'm not really sure how or why it happened but after creating a Custom Post Type and having added meta fields, when I tried adding via 'Add New' I got a blank page. I am able to add data through a form I've created via JetFormManager.

I have also received the following error message via email:

 WordPress Version 6.0.2
Active Theme: Hello Elementor (Version 2.6.1)
Plugin: JetEngine (Version 3.0.3

[2022-09-10 07:51] oncps opened #5882 "JetReviews: Very Important see"
It could give the possibility to choose, between the functions that can be administrator and or editor, to manage the Reviews directly on the front where the comments/Ratings are....Delete, reply, etc.

And another thing I noticed is also:
It's inverted, first it's the comment and then it's the title of the review???
Wouldn't it be the other way around?
First the Review Title and then the comment

[2022-09-10 09:20] pauserratgutierrez commented on #5694
Oh, looks amazing

[2022-09-10 10:34] JPGCreates opened #5883 "JetSmartFilter Author - Automate"
i have just downloaded the additional dev addon for jetsmartfilters to allow me to filter content by author (and post type). unfortunately, i now realise that i have to manually add values to create extra filter selections. i run a site whereby new users are added all the time and post content (i run a dropshipping site for artists to upload their own work and courses). this means i would manually

[2022-09-10 12:03] rtpHarry commented on #5728
Looks like the main thing I reported might have been fixed in the last update:

`Fixed: Custom taxonomy template functionality works separately from shop template functionality;`

I need to test it out to confirm though.

[2022-09-10 12:06] rtpHarry commented on #5877
As @RoynerG says, dynamic visibility would let you do this:

https://crocoblock.com/knowledge-base/articles/jetengine-dynamic-visibility-module-options-overview/

There is also JetThemeCore which lets you display different templates based on criteria such as logged in, user role, etc:

https://crocoblock.com/plugins/jetthemecore/

[2022-09-10 13:26] rtpHarry commented on #5883
Looking at the code it seems that this plugin just allows the author to be queried:

https://github.com/MjHead/jet-smart-filters-post-type-and-author/blob/master/jet-smart-filters-post-type-and-author.php

From a bit of investigation it seems that you cannot query the actual user accounts directly.

This was requested before https://github.com/Crocoblock/suggestions/issues/3425

(There is a paid a

[2022-09-10 13:31] rtpHarry commented on #5792
Just off the top of my head: For the trick, did you try looking at it in the inspector with the svg file - I think by default an svg image will default to 0x0 pixels and look like it wasn't working, but if you can set a size with css then it might work?

[2022-09-10 13:40] rtpHarry commented on #5728
Yes this is working without the shop box being ticked now. I can see you updated the wording as well to make it clearer, thanks.

[2022-09-10 13:40] #5728 closed, assigned to UraraReika

[2022-09-10 15:34] AROWebServices commented on #5882
One thing, I would like to add to this request, I used WP Rocket and I noticed that when there is a new review, I need to clear manually the caches for the reviews to appear which is not the case for the WP Comments. It would be great for the reviews to appear regardless just like WP Comments.

[2022-09-10 15:40] AROWebServices opened #5884 "JetEngine Relationship Meta Enhancement"
Description: Ability to configure a relationship meta just as a regular one, such as setting Default value, Field width, Character limit, Conditional display, etc.

[2022-09-11 06:32] lamlai commented on #1246
+1

[2022-09-11 10:38] Michaelgimii commented on #4697
hi @UraraReika , In the new version, I enable the favorites query, but it does not work and displays all products.
I have not added any products to the wishlist, but it displays all products.

[2022-09-11 18:12] Joliamendi opened #5885 "Two important problems in displaying favorites in the jet woobuilder Product Grid widget"
**Describe the bug**

Hi crocoblock team

1- After updating jet woobuilder to version 2.0.4, I put query on favorites in the product grid widget, but it displays all products. While we had not added any product to the list of favorites.

2- I decided to add add/remove button to favorites using [this option](https://prnt.sc/ReFOWKh5at01) in the product grid widget. So that users can add the desired

[2022-09-11 18:49] zahnd opened #5886 "JetSmartFilters - Add search fields to filters with many options like select filters"
Hi

In JetSmartFilters, I'm missing the ability to search in filters with a lot of options. For example select or checkbox filters. Instead of scrolling thru all the options, it would be nice to have a search field at the top to narrow the list of options.

YITH did it very well in their Ajax filter plugin and I think this could be an amazing addition to JetSmartFilters.

Here is a short screencas

[2022-09-11 20:34] JuanCar29 opened #5887 "sql query custom calculated column"
The custom calculated column function is very nice. It would be great if these data could be shown in an individual template of a CPT. For example adding in the current_id context option.

[2022-09-12 03:10] inveress commented on #2359
I had this same problem today but worked out that decimals are usable if you specify an appropriate step (I had left the step field empty). ie, if you want to allow values to two decimal places, you should give the field a step value of 0.01

[2022-09-12 04:59] zahnd commented on #5886
I just realized that this is already supported :).

[2022-09-12 04:59] #5886 closed, assigned to nobody

[2022-09-12 06:07] ossamainternational commented on #5877
I think you can't display a dynamic widget that gives the customer to (Login Out) after he Logged In!
If  I'm wrong let me know guys

[2022-09-12 06:56] Rubenzella opened #5888 "Smart Filter > Date Range Filter > Style Inputs > Color does not work"
The color styling option for the "inputs" in the date range filter does not apply any color, either from global color or color picker.

Steps to reproduce the behavior:
1. Click on Date Range Filter Widget
2. Click on Style
3. Scroll down to Inputs
4. Try to change the color for the placeholder text.

The placeholder text does not change the color you picked.

[2022-09-12 07:58] #5845 closed, assigned to UraraReika

[2022-09-12 07:59] #5811 closed, assigned to UraraReika

[2022-09-12 07:59] #4725 closed, assigned to UraraReika

[2022-09-12 07:59] #4697 closed, assigned to UraraReika

[2022-09-12 08:03] rtpHarry commented on #5877
Hmm, I did a bit of research and it seems that maybe this is missing. It's quite easy to implement though.

Just add this to your `functions.php`:

[code]

And then set the log out button to use a dynamic shortcode tag:

<img width="377" alt="image" src="https://user-images.githubusercontent.com/1038062/189601644-46251868-6ff4-45b6-a7e2-0abbee68a4e5.png">

You can leave the `redirect="/"` if you w

[2022-09-12 09:06] UraraReika commented on #5885
Hello @Joliamendi! Thanks for the feedback.

1 - Fixed;
2 - Please track this issue https://github.com/Crocoblock/suggestions/issues/5859.

[2022-09-12 09:24] Joliamendi commented on #5885
thank you @UraraReika , excuse me, Will these be resolved in 2.0.5, or future jet cw update?

[2022-09-12 09:24] Joliamendi commented on #5859
+1

[2022-09-12 09:44] UraraReika commented on #5876
Unfortunately, we do not plan to introduce such functionality into our plugin. But you can use this small code snippet, it will help you to replace the top variable product price with the one of the current variation, while also hiding the variation price.

[code]

Thank you!

[2022-09-12 09:44] #5876 closed, assigned to nobody

[2022-09-12 09:45] Joliamendi opened #5889 "Possible bug in jet compare and wishlist plugin"
**Describe the bug**

If the user is not logged in and adds products to her wishlist, if she logs in, the products she added to her wish list before logging in will be deleted.
But in WooCommerce shopping cart it works fine. If the user adds products to his shopping cart before logging in, after logging in, the items added to the shopping cart are saved in his user account.

**To Reproduce**

1- A

[2022-09-12 10:24] Michaelgimii commented on #5876
hi @UraraReika , Thanks for this great code. After adding this code, everything works fine. The only problem is that after selecting the variables, the cart button part jumps a little. Is there a solution for that? please

https://user-images.githubusercontent.com/88034902/189631231-b15ef696-5cd9-4d0a-9bf1-b312322a7ca8.mp4

[2022-09-12 10:31] zahnd commented on #5693
+1

[2022-09-12 10:33] kaskad88 commented on #4773
Added in 3.0.4

[2022-09-12 10:33] #4773 closed, assigned to kaskad88

[2022-09-12 10:33] zahnd commented on #5335
Hi @Michaelgimii, where could you enable Ajax Add to cart in JetWooBuilder? Don't find this option. Thank you

[2022-09-12 10:36] kaskad88 commented on #5522
Added in JetEngine v3.0.4

[2022-09-12 10:36] #5522 closed, assigned to kaskad88

[2022-09-12 10:37] kaskad88 commented on #5682
Added in JetEngine v3.0.4

[2022-09-12 10:37] #5682 closed, assigned to kaskad88

[2022-09-12 10:37] kaskad88 commented on #5551
Added in JetEngine v3.0.4

[2022-09-12 10:37] #5551 closed, assigned to kaskad88

[2022-09-12 10:39] kaskad88 commented on #5718
Added in JetEngine v3.0.4

[2022-09-12 10:39] #5718 closed, assigned to MjHead

[2022-09-12 10:40] kaskad88 commented on #5583
Added in JetEngine v3.0.4

[2022-09-12 10:40] #5583 closed, assigned to MjHead

[2022-09-12 11:14] zahnd commented on #5363
+1

[2022-09-12 11:33] 79ho3ein opened #5890 "An item in the jet engine plugin (metafield browser window closes without confirmation)"
**Please, describe the feature request, making it clear to understand.**

Hi

I was creating meta fields for post type. I had created 10 metafields when I mistakenly closed the post type editing window in the browser. Therefore, all changes were deleted.

If possible, please add this feature so that if we click on the close window button on the post type or metabox page, there is a need for confir

[2022-09-12 11:44] MjHead commented on #5617
Added `Current Object Field` Dynamic Tag. Works similary to appropriate part of Dynamic Field widget

[2022-09-12 11:57] 79ho3ein opened #5891 "Expand / Close option for meta fieldes , meta box and glossary - Jet engine"
**Please, describe the feature request, making it clear to understand.**

Suppose we have 15 metafields or metaboxes and all of them are [open](https://prnt.sc/WMsVqsaz17Pd). If we want to close them, we have to do it one by one for 15 items and this can be very time consuming.

Therefore, it is great if we add two Expand / Close buttons to the desired sections, so that we can open or close all me

[2022-09-12 12:02] UraraReika commented on #5867
Hello @Michaelgimii, Thanks for the feedback.

At the moment, we do not plan to introduce such functionality into our plugin. Now our team is working on more priority tasks. But in the future we do not exclude the possibility of adding this functionality to the core of our plugin.

For now you can simply rewrite WooCommerce template and make your own layout.

Thank you!

[2022-09-12 12:02] #5867 closed, assigned to nobody

[2022-09-12 12:12] Lonsdale201 commented on #1483
If you would like to "enable" the side scroll you can use the following css code:

[code]

[2022-09-12 12:27] kbradleyg commented on #2432
@Lance2j Have you found a solution in the meanwhile? I'm having the same requirement right now.
@jandakatz This sounds promising. Have you tried this attempt any further yet?

[2022-09-12 12:46] Michaelgimii opened #5892 "space between option for listing widget"
Please add the **space between** option to the Liteink Jet Engine widget. For now, we can use the vertical gap option, but it creates an extra space for the first widget and the last widget.
Adding this feature allows us to set a uniform distance between widgets. Please check this item

[2022-09-12 13:06] Lance2j commented on #2432
I'm just staying with my current approach for now, Multi-Rating Pro.

[2022-09-12 13:10] UraraReika commented on #5870
Hello @Joliamendi, Thanks for the feedback.

Unfortunately we do not plan to introduce such functionality into our plugin. Now our team is working on more priority tasks. But you can make this solution with the help of JetEngine or (Advanced Custom Fields) and small code snippet.

First of all create meta field text or number type https://tppr.me/E3fA6 set min value to `0` and default value to `0`

[2022-09-12 13:10] #5870 closed, assigned to nobody

[2022-09-12 13:11] UraraReika commented on #5885
It will be solved in 2.0.5

[2022-09-12 13:37] UraraReika commented on #5876
Update `wc_enqueue_js()` code like this:

[code]

And add this style to your widget like this https://tppr.me/Y0pbD:

[code]

[2022-09-12 13:59] Michaelgimii commented on #5876
thank you veru much

[2022-09-12 14:29] UraraReika commented on #5879
Hello @maverick85, Thanks for the feedback.

You can use JetEngine plugin for display this info. Here are some tips:
1 - Install JetEngine to unlock dynamic widgets and some specific dynamic tags for Elementor.
2 - Setup product info. Like in your screenshot. My setup - https://tppr.me/oGic1.
3 - Open JetWooBuilder single product template of Elementor Pro Single product template for edit.
4 - In m

[2022-09-12 14:29] #5879 closed, assigned to nobody

[2022-09-12 14:37] datatime-sk opened #5893 "Custom pixels breakpoint in JetMenu"
Hello,

Please, it would be possible add custom pixel definition in breakpoint for JetMenu?

Thank you

<img width="264" alt="Snag_20635183" src="https://user-images.githubusercontent.com/64972302/189681544-c81f470e-937c-4886-8967-bae0d95e4d2f.png">

[2022-09-12 14:44] maverick85 commented on #5879
Dear @UraraReika, does this add these fields to the the schema mpn, gtin etc?
Structured product data like product:ean etc for use with merchant feeds?

From the conversation I had with support via regular, it doesn't seem like it, and if not, then this is not an acceptable solution for this data.
Thank you for your reply.

[2022-09-12 14:58] UraraReika commented on #5879
You can output whatever field you want from this list https://tppr.me/YEun9 with the help of the steps above. I just uses fields that you present in your screenshot.

[2022-09-12 15:16] maverick85 commented on #5879
Thank you @UraraReika . We'll go through your instructions and test.

[2022-09-12 15:35] kaskad88 commented on #3921
Add in JetBlocks v1.3.3

[2022-09-12 15:35] #3921 closed, assigned to Gawuww

[2022-09-12 15:52] pauserratgutierrez commented on #3795
Is this added? I can't use dynamic visibility with checkbox inside repeaters

[2022-09-12 16:09] unitedonline commented on #5881
I deleted a repeater CPT and re-created it and now it works fine.

[2022-09-12 16:09] #5881 closed, assigned to nobody

[2022-09-12 17:04] TinyHalo33 commented on #2359
Thanks! I sure appreciate that. :)

On Sun, Sep 11, 2022 at 9:10 PM inveress ***@***.***> wrote:

[2022-09-12 19:35] valmirselmani commented on #5639
@MjHead A bit more information to solve this problem. I have observed that the same page that takes 5 seconds to load the posts via Ajax (reset filter for example), takes only one second to load without Ajax (when you visit the page without filters).

On a side note, if you use maps, the pins are updated almost instantly and the listing grid takes 3-4 seconds longer below the map.

So it can't be

[2022-09-12 23:08] Joliamendi opened #5894 "product carousel box Custom Style (border radius)"
**Please, describe the feature request, making it clear to understand.**

I wanted to create such a beautiful carousel with jet woobuilder : https://prnt.sc/XabNtDqAdZkj
As you can see in the screenshot above, the beginning of the carousel and the [end](https://prnt.sc/pZPtSb4h5EKL) of the carousel are round.

But currently this possibility is not available in jet woobuilder. It would be great if

[2022-09-13 02:43] jandakatz commented on #2432
I am using ReviewX which just recently has added elementor widgets for cpt ratings whereas before it was just for woocommerce products. All is good. My site is live production using the woocommerce products. I tested the cpt functionality and it works just the same. I just don't want to switch everything over

[2022-09-13 04:22] myatminlu commented on #3593
+1

[2022-09-13 06:03] ossamainternational commented on #5877
Hello buddy!
I appreciate your help, but I didn't catch that yet! let me give you a clue about how I designed my header::
the header consists of Logo, Search, Button (where I add my account link, I name it 'Account" ), and Cart...
so, how can I make the button shows up with logout after someone logged in?
As you put above **And then set the log out button to use a dynamic shortcode tag** should I

[2022-09-13 06:14] Lonsdale201 opened #5895 "JetElements - Dropbar - Flex container bug"
Jetelements version: 2.6.7
Elementor version: 3.7.4
Elementor Pro version: 3.7.5

Desc:

Looks like, if using the Dropbar widget, no matter whether you enter a template or plain text, in all cases the content is displayed incorrectly, as if it were slipping under every other element. Playing around with the Z-index settings does not solve it.

[2022-09-13 06:20] ossamainternational commented on #5876
Hi @Michaelgimii pls could you share where you put both codes? it's been a while searching for that solution too!

[2022-09-13 06:38] gamespeoplesay opened #5896 "Feature Reccomendation: Google Maps Postal Code Proximity Search"
A good feature would be to have google maps proximity search based on Postal Code. On a recent project, I needed to display (filter) points on a map that were close to the Postal Code that the user enters in a search field.

[2022-09-13 07:07] samuelbauer-io opened #5897 "JetAppointment iCal / Google Calendar 2-way synchronisation"
Please implement the iCal / Google Calendar **2-way synchronisation** feature of JetBooking also into JetAppointment. This makes time blocking, cancellations etc. so much easier. I'd even say that it is **crucial and required** for operative use of JetAppointment. @Floydtm @MakhonkoDenis @MjHead  ♡

[2022-09-13 07:13] samuelbauer-io commented on #3236
@MjHead ♡

[2022-09-13 08:14] kbradleyg commented on #2432
@Lance2j Thank you! I will look into the plugin's features in detail
@jandakatz Thank you! This one sounds promising as well. Have you already determined if it's possible to display average ratings of multiple rating options?

btw, the upper request along with a view related requirements I exchanged with the support have been officially added to the request list. I'll keep an eye on JetReviews in

[2022-09-13 08:29] Floydtm commented on #5888
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.
[Elementor _ Calendar Page.zip](https://github.com/Crocoblock/suggestions/files/9555004/Elementor._.Calendar.Page.zip)

[2022-09-13 08:29] #5888 closed, assigned to nobody

[2022-09-13 08:45] matseholmvik commented on #1404
A bit late, but probably helps others:

Add this to your functions.php:
`add_action( 'jet-engine-booking/redirect', function( $data ) {

		$urlmake = '/?page_id='.$data['inserted_post_id'];
	   wp_redirect( $urlmake );
		exit;

	}
	);`

It takes the inserted post id and put it into wordpress default lookup for posts on ID.

Then in the form add "Post submit action" -> "Call a hook" and put in redi

[2022-09-13 10:09] 79ho3ein commented on #5880
+1

[2022-09-13 10:20] mehdimoradi1500 commented on #5615
Hi @Floydtm
May you please consider this proposal
I checked Metabox plugin and they did it great, please check it out
https://docs.metabox.io/extensions/mb-custom-table/

[2022-09-13 10:23] Michaelgimii commented on #5876
hi @ossamainternational , I tested this code again and there seems to be a problem. Among the prices among the variables, the sale price of one of the variables is not displayed. Anyway, put the following code in your template function and add the css snippet above to the custom css of the add to cart widget.

add_action( 'woocommerce_variable_add_to_cart', '__your_theme_prefix_update_price_with_v

[2022-09-13 10:42] FreerkLap commented on #4359
I second this. Its weird to me that this isn't included yet. In our eCommerce store, this function is used all the time. On the single product page we want to display Parent of Current category | Current category (and link to each)

[2022-09-13 10:55] NimaBakhtiyari opened #5898 "Add SQL Query Results Dynamic Tag For Use In Listing Grid Widget"
Add SQL Query Results Dynamic Tag For Use In Listing Grid Widget > Posts & Author Parameters > Include or Exclude Posts By IDs Field; There is no way to filter listing grid widget posts by SQL query results returned by Jet Engine Query Builder.
For example, if you get the product IDs of orders that are only in completed status, there is no way to include or exclude Posts by those IDs in the listin

[2022-09-13 11:12] jandakatz commented on #2432
Yep. It does an average rating on all criterion.
![Screenshot_20220913_071207](https://user-images.githubusercontent.com/110269709/189886879-4be59237-c428-4079-9a00-496d6d298a90.jpg)

[2022-09-13 11:17] UraraReika commented on #5894
Hello @Joliamendi, Thanks for the feedback.

Unfortunately we do not plan to introduce such functionality into our plugin. Now our team is working on more priority tasks. But you can use some small css code to achieve this result, put this code to your advanced tab of the widget if you have Elementor Pro:

[code]

If not add some specific identifier for your widget like this https://tppr.me/FsDWd

[2022-09-13 11:17] #5894 closed, assigned to nobody

[2022-09-13 11:42] Joliamendi commented on #5894
thanks

[2022-09-13 11:43] NimaBakhtiyari opened #5899 "The Futility Of Dividing The "Plain Sale Price" By the "Plain Regular Price" In the Dynamic Field Widget To Achieve The Discount Percentage"
To Get The Discount Percentage Of A Product With The Cooperation Of WooCommerce Plugin, You Can Logically Divide The OnSale Price By The Regular Price And Multiply by 100.
Discount Percentage=Plain Sale Price/Plain Regular Price*100
This Can Be Done By Using the

- JetEngine Dynamic Field Widget
- Object Field=Plain Sale Price
- Filter field output > Callback=Proportional
- Divisor=WooCommerce Pro

[2022-09-13 11:45] Joliamendi commented on #5885
thank you @UraraReika.
Can I ask the second item, will it be added in the next update of jet CW or not?

[2022-09-13 12:00] Joliamendi commented on #5894
@UraraReika , Thanks for the code. This code applies to the visible part of the product grid widget. But I meant to apply the border radius for the first and last box of the product. Please see the video below. Is there a way for it?

https://user-images.githubusercontent.com/103376243/189895253-3c14f9aa-9f11-4043-bd4f-4f75aa2facac.mp4

[2022-09-13 12:02] Floydtm commented on #5877
@ossamainternational
Describe your request in more detail, if possible, add screenshots or video. Thank you! You were offered several options, but none of them fit. You can also use the auth link widget

[2022-09-13 12:03] NimaBakhtiyari opened #5900 "Add A Counter Ability Or Separate Widget For Palceing Post Rank Counting Ability In Listing Grid"
For example, we want to list the best-selling products on our site in the order of sales, but to show the rank of each one, there is no available tool.
Something like the picture below:
![image](https://user-images.githubusercontent.com/90132570/189895931-b9205e74-a18e-481b-9f33-0b4b501d9b1a.png)

[2022-09-13 12:21] MjHead commented on #5898
https://github.com/Crocoblock/suggestions/issues/5617 - similar issue already exists and will be implemented with 3.0.5 update

[2022-09-13 12:21] #5898 closed, assigned to nobody

[2022-09-13 12:30] edgBllw opened #5901 "Ability to create and manage license Subkeys in JetFormBuilder Account (Not only Main Crocoblock Account)"

[2022-09-13 12:50] kbradleyg commented on #2432
@jandakatz Thank you so much for letting me know! For a second I actually thought I finally got all the requirements covered. But the ReviewX authors just told me that point ratings like a 1 - 10 range for instance are not possible... the journey continues.. :(

[2022-09-13 12:52] Floydtm commented on #5615
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin
I think in the future we will focus on cct updates
Thank you!

[2022-09-13 12:52] #5615 closed, assigned to nobody

[2022-09-13 12:55] stasonua0 opened #5902 "Show pop-up Jet Engine Map Listing"
Hello, consider showing the listing's popup even with this setup - https://prnt.sc/gBfZlK6nqT4Y

This is when there is a need to call a popup when clicking on an element of another listing - https://prnt.sc/rMr7kYBldgmt

[2022-09-13 13:04] UraraReika commented on #5894
Please contact our support team they will help you to implement this solution.

[2022-09-13 14:01] kaskad88 commented on #2914
I merged this issue with https://github.com/Crocoblock/suggestions/issues/1834, which is on the same subject so we could deal with it more efficiently.

[2022-09-13 14:01] #2914 closed, assigned to nobody

[2022-09-13 14:06] jandakatz commented on #2432
Ultimately, you gotta have the skills to customize something or compromise.
Surprisingly, this is a niche functionality.

[2022-09-13 14:51] Paul1x opened #5903 "JetEngine Form: Simulate submit button click on pageload"
A feature which allows a hidden form to be submitted on Pageload insted of button click.

This would allow new use-cases, for example summiting a form with hidden fields and track users when they come onto a specific site and write values into a cct or cpt.

This would really expand how jetengine forms / JetFormBuilder can be used.

[2022-09-13 15:21] prostylewebdesign commented on #4284
Also would add that there are duplicate ID's that are generated when using Hierarchal Filter, which are critical issues to meet WCAG 2.1 AA. Would be a good ability to change ID's, add aria-label, etc. to pretty much every component.

[2022-09-13 16:17] NimaBakhtiyari opened #5904 "Unnormal High Data Store Button Widget Z-Index"
Interferes with sticky headers
.jet-data-store-link-wrapper {
    display: flex;
    position: relative;
    z-index: 999;
}

[2022-09-13 16:36] JacobPoliquin opened #5905 "Add validations in media and gallery fields"
It would be super helpful to add maximum size, quantity of images (for gallery) and weight for **media and gallery meta fields** in JetEngine, in the backend.

This way clients will not be able to add too big or to many images to those fields, without having to create a form. Basically, the same features as in ACF.

Plus, the hability to limit the images available for a specific CPT to only the im

[2022-09-13 16:39] JacobPoliquin commented on #5878
This would be a game changer!

[2022-09-13 18:50] 79ho3ein opened #5906 "Conditional display of customization options (in the style tab) in the form widget - jet engine"
**Please, describe the feature request, making it clear to understand.**

HI

In the Jet Engine form widget, even if we create only one text field for our form, if we add the form widget, there are customization options for other fields such as checkboxes, repeater, etc. While we did not use any of them in the form builder.
**screenshot :** https://prnt.sc/4W8vH6HaGZWP

**I think it would be great

[2022-09-13 19:07] rtpHarry commented on #5877
@ossamainternational If you look back at [this comment](https://github.com/Crocoblock/suggestions/issues/5877#issuecomment-1242715255) then I describe two ways that you can set it up.

I would recommend using dynamic visibility. You set the dynamic visibility of your Account button to be only visible when the user is not logged in.

Then you make another button next to it, using the logout snippet

[2022-09-13 19:11] Floydtm commented on #5900
You can implement this with jet engine plugin right now. To do this, you just need to use a query builder. You will also need to [install](https://crocoblock.com/freemium/tools/) [this](https://prnt.sc/ngKMirI0nqCk) add-on to display the counter. Here is what I managed to do https://prnt.sc/feLlUJkxdWQw Unfortunately, we don't have a tutorial on this topic yet, but you can contact our support team

[2022-09-13 19:11] #5900 closed, assigned to nobody

[2022-09-13 21:58] Joliamendi commented on #5496
+1
Great feature

[2022-09-13 22:04] Michaelgimii opened #5907 "Simple bug in jet engine form"
In the form builder section, the form fields are out of the box : https://prnt.sc/yY93X7linKza

[2022-09-13 22:09] Michaelgimii opened #5908 "featured options for jet engine post type"
**Please, describe the feature request, making it clear to understand.**

It would be great if you add a feature so that we can use the featured option for our post type like WooCommerce. https://prnt.sc/pFwEWtNfWOUU

Using this option, we can select the desired posts and display them as "featured" in the listing widget, and this is great.

[2022-09-13 22:34] NimaBakhtiyari commented on #5900
Thank you, you are the best

[2022-09-14 01:57] futureyoon commented on #1470
I saw the changelog of jetengine 3.0.4 today saying
"ADD: allow to cast SQL query results into specific object".

Does this mean listing result will be into object cache?
Anyone has better understanding of this update?

[2022-09-14 10:30] crocogb1000 opened #5909 "Feature Request - Ajax Search: Scrollbar for Result Items"
I have a Website that has a Ajax Search Bar added in the Menu. Whenever I add a keyword, it displays results. Now we can control the results by either adding "Bullet Pagination", "Arrows" & "Number Pagination". What it does not have is "Infinite Scroll Bar". Normally, on the websites in the search bar, customer or viewers does not like pagination as in terms of design perspective.

Here is a websi

[2022-09-14 10:54] 79ho3ein commented on #5909
+1

[2022-09-14 12:48] UraraReika commented on #5815
Hello @ProteoV. Thanks for the feedback.

 Please follow guidelines for opening a new [feature request](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/feature_request.md), and describe your issue in more details, so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests. 

Thank you for your

[2022-09-14 12:48] UraraReika commented on #5815
Hello @ProteoV. Thanks for the feedback.

 Please follow guidelines for opening a new [feature request](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/feature_request.md), and describe your issue in more details, so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests. 

Thank you for your

[2022-09-14 13:58] crocogb1000 opened #5910 "Feature Request - Dark Mode Toggle"
I have spent more than a week searching for a plugin that can toggle light and dark mode. The major problem all the plugins have is that they have preset colors for the dark mode. Like for example, someone has a blue color button on the light mode and want a yellow color button when toggling the dark mode, none of the existing plugins can achieve that.

It would be great if you can create a widget

[2022-09-14 17:09] desupero opened #5911 "Feature Request - JetPlugins For Bricks"
I'd encourage the team to start building more features for the Bricks platform. Elementor is loosing a lot of users that are now using Bricks instead. Therefor, I would like to suggest that JetTricks be integrated with Bricks as well as all other CB features that are Elementor only options currently.

[2022-09-14 17:12] desupero commented on #5732
It's time that the team at CB really started to develop with Bricks in mind and allow all elements that only work with Elementor (JetTricks) to work in Bricks as well. People are leaving Elementor in droves, but the CB team seem unaware of this fact.

[2022-09-14 18:14] AkihRejeki opened #5912 "Custom Post Type ( CPT ) dropdown filter for JetSearch"
Hi,
Websites with several Custom Post Types (CPT) will require a more specific search from each CPT. I see JetSearch can only do a dropdown filter for Taxonomy.

Sometimes in some situations, we need a search form that can display only CPT filters or CPT > Taxonomy filters. I'm sure a lot of people need this feature.

You can see the screenshot attachment at the link below to help you understand t

[2022-09-14 18:48] maverick85 opened #5913 "Slider - Individual styling for slides"
**Describe the bug**
When using the Slider, Crocoblock's Element DOES NOT allow styling each slide independently.
Unlike Elementor Pro, where you can select the style for each slide.

So if you have let's say 2 images for the slider,
want to put the focus element on the image on the right on image 1, and the text to the left;
and want to put the focus element on the left on image 2, and the text t

[2022-09-14 18:54] lagethomas opened #5914 "Field selected in the filter"
It would be interesting to have the option to have a value already marked in the filter when I open the page, example. A status field yesterday has Open, In Progress, Closed. When I create a filter to filter these statuses, when I open the page, I want it to show me only those that are currently open. That would be very helpful.

[2022-09-14 18:58] lagethomas opened #5915 "Load without refresh in list grid"
One thing that would be extremely useful and I believe 100% of people would support it is loading the List via ajax.
It would be very nice when the person registered something in the Post Type, this list already reloading without me having to Refresh the page to see the new item appear. Is there a possibility of an implementation of something like this?

[2022-09-14 19:53] oncps commented on #5915
This feature would be amazing!!!!

[2022-09-14 23:30] Cosirax commented on #1782
This feature is really needed. Please consider to add this asap! Thanks 👍

[2022-09-15 05:17] azkalex opened #5916 "[Classic Accordion] animation doesn't apply on collapsing the first time if the item is set to active"
**Describe the bug**
If the item is set to active, on refreshing the page, so that is the first time when the widget renders on the page, collapsing the active elements doesn't trigger the animation, the animation only works after collapsing them as you can see in the video.

**To Reproduce**
Steps to reproduce the behavior:
Add a classic accordion widget on the page, add a few items, and make the

[2022-09-15 05:29] thtasca commented on #3985
This code was working perfectly on my form, but I upgraded from the latest version (2.1.6) and now it's not adding the image as the post thumbnail anymore. Does it have any solution?

[2022-09-15 06:38] girafffee commented on #3985
@thiagotask
This action works for me. Can you export your form and attach it here?

[2022-09-15 07:14] Lonsdale201 commented on #5910
A dark mode system consists of little more than switching global colours. Whether it makes sense to make a plugin for that, I don't know, I don't think so. I've been using this for a long time: https://github.com/GoogleChromeLabs/dark-mode-toggle

It has everything you need and the setup is pretty simple for a WordPress site.

[2022-09-15 08:51] 79ho3ein commented on #5570
hi @Floydtm , good time.
I understand that RTL users are in the minority, I also understand that you have priorities for each update. But please check and fix this bug if possible. This bug has been present in jet smart filters for almost a year now. This bug seriously damages the UI on RTL websites. I've fixed it now with some custom css but it would be great if it was fixed in the plugin core.
T

[2022-09-15 09:32] rlb222 commented on #3921
Yes please, because I use JetFormBuilder to register. I use JetBlocks to reset password.

I don't think this item should be closed as only JetBlocks has been changed for this.

[2022-09-15 09:39] NimaBakhtiyari commented on #5898
thanks

[2022-09-15 12:30] unitedonline opened #5917 "Open URL link in new browser tab"
I have a CPT text field and a JetFormBuilder corresponding url field.

Ηow do I render the URL field with the option to open in a new browser tab?

I do not see this option in the "Make Clickable" callback selection.
Customizing the field output with <a href=\"%s\" target="_blank">URL Link</a>  unfortunately does not work.
Can you please include this feature sometime in the future ?

Thank you

[2022-09-15 12:45] NimaBakhtiyari opened #5918 "Adding Template Content Type Option To JetTricks Tooltip Like JetTabs"
Something like the Image below
The Image below is a Image of the JetTabs plugin Template Content Type Option; This can be very useful
![image](https://user-images.githubusercontent.com/90132570/190405916-c466031b-4a02-4249-8486-4cfca10c2b74.png)
You can't do anything to make a tooltip like the below site photo.
![image](https://user-images.githubusercontent.com/90132570/190409988-31f723d7-528c-4f7

[2022-09-15 13:16] fostira commented on #1284
+++1 Would be really great if we could get more or better set of icons in the icon picker field. The current one is outdated and not useful for a wide range of customers.

[2022-09-15 13:35] NimaBakhtiyari opened #5919 "Adding Frontend Location Picker Functionality for Cooperation With Maps Listings And Meta Fields"
like Below Image that Use To Submit Customer Address.
![image](https://user-images.githubusercontent.com/90132570/190415085-26256540-9a7e-41d4-9aef-a209a41a0fdc.png)

[2022-09-15 14:29] 79ho3ein opened #5920 "bug in jet form builder (only in RTL)"
**Describe the bug**

Hi

**In RTL**, the fields management panel is off-screen. If you look closely at the screenshot below, the scroll bar has appeared in the browser.

![download](https://user-images.githubusercontent.com/77163248/190430470-ba04b95a-92cd-4af4-99b1-a129fb68ce39.png)

[2022-09-15 14:56] UraraReika commented on #5829
Hello @shaggira !

We have documentation about for JetBooking calendar JS API. Where you can implement whatever you want solution. In your case you need to add this code to your `function.php` file in child theme:

[code]

Feel free to try it own.

[2022-09-15 14:56] #5829 closed, assigned to UraraReika

[2022-09-15 16:39] 79ho3ein opened #5921 "required mark control for jet woobuilder checkout fields."
**Please, describe the feature request, making it clear to understand.**

Hi

It would be great if you could add an option to allow customization of the required mark. Just like jet form that uses [this control](https://prnt.sc/wWS6cM4boyPT).

This control is required for Checkout Billing Form, Checkout Shipping Form and Checkout Additional Form widgets. Especially the Checkout Additional Form wid

[2022-09-15 18:28] chaseluikart commented on #2570
#### Thank You @UraraReika!
- This snippet still works perfectly, as of JetEngine v3.0.3.1 & JetWooBuilder v2.0.3
- The macro, jet_upsell_ids_products, will also now show up in macro select dropdowns w/in Elementor dynamic fields & will also be available within the new JetEngine Query Builder.
- very simple modification of @UraraReika's snippet below for review
   (or if anyone else is looking for

[2022-09-15 19:22] NimaBakhtiyari opened #5922 "Lack Of Controler For The Number Of Row In The Slider Mode In The Listing Grid Widget"
You Think We Need To A Slider Listing Grid With 2 Row How It Possible? Answers Is That Not Possible For Now.
Like Below Slider
![image](https://user-images.githubusercontent.com/90132570/190491282-0ee0cb64-b5ca-421a-8f92-487050ea0fbc.png)

[2022-09-15 19:40] NimaBakhtiyari opened #5923 "The Lack Of A Controller To Order Direction The Grids In Listing Grid Widget"
For Example You Set An Order To Your Listing Grid Base On Some Thing Then You Have No Control On Direction of Sorting Them For Example "Up To Down" "Down To Up" "Left To Right" Or "Right To Left"
I'm Talking About The First To Last Grid Direction, Whether The Layout Be Column Or Row And In Which Direction

[2022-09-15 22:49] IustinianusI opened #5924 "Saving partial entries as a form record Jetformbuilder"
The gist is that partial form entries can be saves as well, just like complete and successful form entries can now also be saved as a record. What I understand by a partial form entry is straight-forward: a form that is partially entered, but then abandoned by the visitor. JFB already offers the option for form builders to have the form entries saved for the visitors with the feature "Save Form Pr

[2022-09-15 22:58] NimaBakhtiyari opened #5925 "Adding A Macro For Woocommerce Cross Sell Poducts IDs"
Adding A Macro For Woocommerce Cross Sell IDs For Current Product Or Some way Like This to Filter Listing Grid, Right Now No Way To Show Cross Sell Product With Custom LIsting Grid Or maybe I Don't Know!

[2022-09-16 07:25] UraraReika commented on #5925
Hello @NimaBakhtiyari! You can use this small snippet to achieve needed result.

[code]

[2022-09-16 07:25] #5925 closed, assigned to nobody

[2022-09-16 09:19] kaskad88 commented on #1208
For this case, you can use the `Query Has Items` dynamic visibility condition https://tppr.me/wuL4M and listing created with Query Builder

[2022-09-16 09:19] #1208 closed

[2022-09-16 09:24] kaskad88 commented on #1390
Use the `Dynamic Visibility` module in JenEngine https://tppr.me/dAz23

[2022-09-16 09:24] #1390 closed

[2022-09-16 09:50] kaskad88 commented on #5917
Hello @unitedonline.
Unfortunately the "Make Clickable" callback does not have such an option https://developer.wordpress.org/reference/functions/make_clickable/.

But you can use the `Dynamic Link` widget for your case https://tppr.me/vKW2D

[2022-09-16 09:57] kaskad88 commented on #1680
Done

[2022-09-16 09:57] #1680 closed, assigned to kaskad88

[2022-09-16 11:20] stasonua0 opened #5926 "Jet Engine Map. Increasing the location when clicked"
Hello, consider the possibility of clicking on the listing object to zoom in on the object.

An example of how it should be:
https://www.awesomescreenshot.com/video/11130094?key=4a05ca97aa8d0cd7ae98fd3c1b1105d7

Example like now:
https://www.awesomescreenshot.com/video/11130211?key=6d8122f3aa02aecd8a8625f13e863ea3

I understand that someone needs how it works now, someone needs to do as in my exam

[2022-09-16 11:33] UraraReika commented on #5815
In this case you should look for the solution in the PayPal plugin that you use. And find there a code part that formed details section of the payment. In this section you probably will find some hook, or you can rewrite plugin template and there you can get booking details depending on order id like this:

`$details = $this->get_booking_order_details( $order_id );`

Then output this data like thi

[2022-09-16 11:33] #5815 closed, assigned to UraraReika

[2022-09-16 12:31] Floydtm commented on #5911
We are working in this direction. Keep for updates. Thank you!

[2022-09-16 12:31] #5911 closed, assigned to nobody

[2022-09-16 13:23] NimaBakhtiyari commented on #5925
Hello Dear Developer, Thanks For Your Help, Where should I Add This? In Child Theme Function.PHP Or In Plugin Folder

[2022-09-16 13:49] UraraReika commented on #5925
Use it in the child theme functions.php

[2022-09-16 15:13] stasonua0 opened #5927 "Jet Smart Filter GEO"
Hello, consider the option to allow the user to select the radius of displaying objects on the map or in listings in the filter. Now there is a functionality where we determine the radius ourselves, we have conditionally assigned 5 km., but is it suitable for a site visitor? Someone yes, and someone needs 10 km., but we do not give the opportunity to change it on the site yourself.

/*Оригинал*/
З

[2022-09-16 20:59] giulainogagliardi commented on #2436
can you put some example, how do i find the id of each item?

Thank you very much

[2022-09-17 07:12] 79ho3ein opened #5928 "Conditional display of customization options (in the style tab) in the form widget - jet form builder"
**Please, describe the feature request, making it clear to understand.**

In the Jet form builder, even if we create only one text field for our form, if we add the form widget, there are customization options for other fields such as checkboxes, repeater, etc. While we did not use any of them in the form builder.

I think it would be great if the customization options were displayed conditionally

[2022-09-17 07:12] #5906 closed, assigned to nobody

[2022-09-17 07:55] kskonovalov commented on #5927
+1 sounds useful

[2022-09-17 09:25] Lonsdale201 opened #5929 "JetPopup + JetElements Video player + JetEngine / Flex container"
I have a meta field (JE)
I have a listing grid
I have a ajax popup made in jetpopup
Inside the jetpopup have a JetElements video player that pull the meta field value (Youtube url)

**Elementor flex container bug on mobile desc:**

If click the trigger button(this inside the listing grid) to open the jetpopup popup, in tablet and desktop work fine, but in mobie full bugged, the jetelements video p

[2022-09-17 09:51] Joliamendi opened #5930 "The possibility of developing jet form widgets for elementor"
**Please, describe the feature request, making it clear to understand.**

Hi @Crocoblock

As you know, currently we can only customize jet forms using Elementor. So the main steps are done in Gutenberg.
But it would be great if you add Jetform widgets to Elementor. ux is much more powerful in Elementor than in Gutenberg. Also the user environment.
So, it would be great if you add the ability to ad

[2022-09-17 11:16] veltix opened #5931 "jetAppointment vanillla calendar filters"
I need same filters like jetBooking has. So example I have custom input field where user can select date and this date is used for jetAppointment vanillaCalendar later if popup is opened.

Input field: 17-09-2022

Then user opens appointment popup and that date is preselected and it will show available slots.

[2022-09-17 12:12] nerdtech opened #5932 "[Jetengine] More robust Media Field"
I love Jetengine but feel that the Media Field could provide better functionality than it currently does. Although it is great for adding images it really falls flat when you try and use it for videos. I know you can use the text field for adding videos but really the "media" field should cover it. Maybe it can include additional options so you can include youtube and vimeo videos, and when you ad

[2022-09-17 17:07] Lonsdale201 opened #5933 "JetThemeCore - Little bug"
When set up the template conditions (Theme Builder), if i select the standard post tags, and choose the ALL option, not working.
If i leave untouched so stay (Select tag) working.

![image](https://user-images.githubusercontent.com/23199033/190868398-6082cab8-e3f9-4dcc-a3da-b5179e9fc101.png)

It's not that bad, but it's misleading, because the "ALL" option works fine for category and others, excep

[2022-09-17 23:00] ossamainternational commented on #5877
Hi Buddy! thanks for sharing it works fine!
I have one more Qst pls: How to display another widget ACCOUNT SETTING so after somebody logs in it will appear as two widget LOG OUT & ACCOUNT SETTING

Thanks sir ::))

[2022-09-17 23:30] ossamainternational commented on #5877
Hi buddy! much appreciated
I'm facing an error, I do all the steps above, and it works well but after clicking on **STORE LOGO** which includes the home page URL it appears **ACCOUNT** does not **LOG OUT**.

[2022-09-18 01:00] ossamainternational commented on #5877
YOOO MAAN! You're amazing, much appreciated 🙌🙌🙌

[2022-09-18 11:00] ALPSIT commented on #3654
@Crocoblock We really need this feature - JetFormbuilder Hierarchy Addon suggests that it can address this issue for a Car Make and Model - But it doesn't.

If the Make or Model does not exist - the end user needs the posibility to be able to specify manually the new Make and/or the New Model - even when there is already other existing Makes or Models.

The JetFormbuilder Hierarchy Addon only real

[2022-09-18 11:27] rtpHarry commented on #5877
No worries, glad it helped. Don't forget to close the issue if its all sorted now :)

[2022-09-18 11:49] stasonua0 opened #5934 "Drop-down lists in the shortcode generator"
Hello, consider making drop-down lists with ready-made options in the shortcode generator - https://prnt.sc/UXb-HM7yXvZc

[2022-09-18 12:26] NimaBakhtiyari commented on #5926
yes we need this Functionality 👍

[2022-09-18 16:56] 79ho3ein opened #5935 "jet woobuilder widgets in elementor flex box container"
**Describe the bug**

Hi

In the previous version, the problem of the width of public widgets ( product grid and Categories Grid ) in the container was solved.
But this problem currently exists in product list, checkout and cart widgets and other widgets.
**The problem is that if the direction of the container is row, if we add jet woobuilder widgets, they have very small width.**

**A few example

[2022-09-18 17:04] #5877 closed, assigned to nobody

[2022-09-18 21:42] Seventhose commented on #5868
Anyone?

[2022-09-18 22:12] Joliamendi opened #5936 "Ability to create checkout, cart, etc templates faster in jet woobuilder."
**Please, describe the feature request, making it clear to understand.**

Hi crocoblock team.

Currently, it is a bit difficult to create checkout and cart pages even my account in jet woobuilder. Especially for new users. But this process is much faster in elementor. It would be great if you could speed up the process of creating these pages in jet woobuilder like Elementor.

**Steps to create ca

[2022-09-18 22:40] RYCWebdesigners commented on #5897
please implement iCal to connect with airbnb

[2022-09-19 04:41] itsamirsebai opened #5937 "JetEngine: Dynamic Visibility, Options for Parent & Child Single Pages"
Please add these Options to Dynamic Visibility:

Show if / Hide if...

If Parent post switcher field is on
If Child post switcher field is on

These Options can keep us away from adding thousands of Post-IDs.

[2022-09-19 07:29] Floydtm commented on #5923
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-09-19 09:04] Michaelgimii commented on #5930
+1
Hi @Floydtm , Will this feature be updated?

[2022-09-19 14:43] stasonua0 opened #5938 "Jet elements parallax New Conteiners"
Good afternoon. There is a Section Parallax Extension in JetEments, but this extension does not work for containers. Please add Parallax Extension for containers.

[2022-09-19 14:44] UraraReika commented on #5698
1 - 1.5.1 release.
2 - We will not implement this controls, but will add some additional default styles to keep elements centred.
3, 4, 5, 12 - This functionality will not be included in the core of the plugin.
6, 7, 8 - Use `'jet-cw/template-functions/title’` hook to modify title output whatever you want.
9, 10, 11 - Exist for Wishlist widget. But this functionality will not be added for the Comp

[2022-09-19 17:41] 79ho3ein commented on #5698
thank you @UraraReika.

Sorry, I didn't understand what you meant

[2022-09-19 18:06] Lonsdale201 commented on #5936
We should add that normally Woocomerce creates the mandatory pages according to the language you have set up, so we can remove the first and second points from the Jetwoo procedure. But, good point. It would be nice to have something like JetThemeCore for a transparent interface to set and manage these. :)

[2022-09-19 18:13] Lonsdale201 commented on #5930
I personally feel it is totally unnecessary. There is a widget for it, you can set a lot of stylistic values anyway. Do you really want to build even a form with Elementor and pack a bunch of bloat unnecessary code into it? Those few fields would be so redundant, plus there would probably be a number of limitations due to Elementor, which is unlikely with Gutenberg.

So you would sacrifice freedom