[2021-05-21 19:47] Lonsdale201 commented on #3311
https://crocoblock.com/freemium/tools/ then download the Dynamic data addon, which add this feature of the jettabs (and many others)

[2021-05-21 19:50] Lonsdale201 commented on #3309
+1 :)

[2021-05-21 20:20] #3109 closed, assigned to UraraReika

[2021-05-21 20:21] FelloDuarte commented on #2098
Hi, it should work as detailed on the help page in crocoblock site
______________________________________

Alfredo Duarte Jorquera
+569 8549 7965
aduarte.io

El vie, 21 de may. de 2021 a la(s) 08:41, chrislettner (
***@***.***) escribió:

[2021-05-21 20:32] chrislettner commented on #2098
Crocoblock have told me Load More is not compatible with Masonry layout but
on your site it looks like you made it work

Chris Lettner

Pštrossova 33

110 00 Prague

*phone:* +420 702 817 029
*mail:* ***@***.***
WEB <https://chrislettner.com> / INSTAGRAM
<https://www.instagram.com/chris.lettner/> / TWITTER
<https://twitter.com/ChrisLettner> / FACEBOOK
<https://www.facebook.com/chris.lettner>

On F

[2021-05-21 20:36] FelloDuarte commented on #2098
Oh!
That should be because I didn't use masonry on that site, that grid is
built manually : /

______________________________________

Alfredo Duarte Jorquera
+569 8549 7965
aduarte.io

El vie, 21 de may. de 2021 a la(s) 16:32, chrislettner (
***@***.***) escribió:

[2021-05-21 20:39] chrislettner commented on #2098
Ah I see, thank you :)

Chris Lettner

Pštrossova 33

110 00 Prague

*phone:* +420 702 817 029
*mail:* ***@***.***
WEB <https://chrislettner.com> / INSTAGRAM
<https://www.instagram.com/chris.lettner/> / TWITTER
<https://twitter.com/ChrisLettner> / FACEBOOK
<https://www.facebook.com/chris.lettner>

On Fri, May 21, 2021 at 10:37 PM FelloDuarte ***@***.***>
wrote:

[2021-05-21 22:19] Rubendj1 commented on #3311
Very helpfull, thanks!

[2021-05-21 22:19] #3311 closed, assigned to nobody

[2021-05-21 23:19] Lonsdale201 commented on #3314
https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp Just a bit of css :)

[2021-05-21 23:24] 79ho3ein commented on #3314
True, but it's better to be able to edit it directly with jet smart filters.  Because not everyone knows css.
With thanks for your attention.

[2021-05-22 00:37] Hammer-ger opened #3323 "Date range filter imports impossible dates"
When i use a date range filter for bookings
![grafik](https://user-images.githubusercontent.com/66528657/119208068-dc63e500-baa0-11eb-992d-a017ff85e591.png)

and go then to a single post page in a different tap the dates are allredy filled inside the booking-form

![grafik](https://user-images.githubusercontent.com/66528657/119208127-0e754700-baa1-11eb-8f40-daeb4af773f1.png)

so far so good, but a

[2021-05-22 06:34] 79ho3ein opened #3324 "Please add the ability to display best-selling products to the product grid widget."
This feature is very important to be able to show best-selling products to users. Currently, we can only show bestsellers to users on a single product page. Which is useless. Because it is better to show best-selling products to users on the main page.
Please add the ability to display best-selling products to the product grid widget. This feature is very important.
Before you add this feature, I

[2021-05-22 12:06] 79ho3ein opened #3325 "A great suggestion for the jet woobuilder plugin.please chek ."
It would be great if you could add a query to the product grid widget, so that we can show users the suggested products on a single product page. https://prnt.sc/139gi10
For example, the user is viewing a product ...
Using this query, We offer products to the user, which complement the products they are viewing.
Recommended products Each product is taken from this WooCommerce section : https://prn

[2021-05-22 12:24] 79ho3ein commented on #3305
The extra space at the bottom of the image is shown here : https://prnt.sc/139hxw4

[2021-05-22 12:50] 79ho3ein opened #3326 "It is not possible to edit the previous price in the Add to Cart button widget after selecting the variable. (jet woobuilder plugin)"
It is not possible to edit the previous price in the Add to Cart button widget after selecting the variable.And only the unit of prices can be changed.https://prnt.sc/139iulz
Please add a feature so that we can edit its price in the previous price of the Add to Cart button.

thanks

[2021-05-22 13:10] 79ho3ein opened #3327 "A great offer to complete # 3284. Please read # 3284 first..."
Please add a feature , so that if the product was in special sale mode, we can show its time limit to users on a single product page.
I have made a preview of this feature for you to better understand it : https://prnt.sc/139je3x
Please check this feature. It will be wonderful.

Thanks to the crocoblock team

[2021-05-22 15:10] TomEbeyer commented on #2211
+1

[2021-05-22 18:17] laurentgarin commented on #1759
Hi, is it available now?
Thanks.

[2021-05-22 23:58] xC4M commented on #968
Yes, please!!!!!!! 🙌🏼🙌🏼🙌🏼

[2021-05-23 09:19] serg-pervushin opened #3328 "Kava child style.css priority"
It is often necessary to redefine styles for some elements. But whatever I do, the Elementor styles take precedence over the styles in the theme's style.css. This is certainly not a problem with Kava and Crocoblock in general, it's just that Elementor connects its styles in this way. But still, tell me, is it possible to somehow defeat this? It would be great if the style.css of the Kava child the

[2021-05-23 15:15] moxet opened #3329 "Users list in Jet Form select field"
The above stated request is needed to be implemented in jet form where the admin can create a select from which the list of users can be selected in addition to filters such as user role etc.

[2021-05-23 16:29] idoperez1 opened #3330 "Jet booking multilang site - orders doesn't sync"
I am building a website with several languages ​​with the plugin, my problem as soon as you book a translated apartment the plugin does not recognize that it is the same apartment and sees it as an apartment in itself, meaning there is double 2 stock of apartments and it can be booked in 2 different languages ​​even though the apartment is not available.
I need it as soon as they order (no matter

[2021-05-23 20:55] rseitzberg opened #3331 "Filter Pre-filled Relation on Front End Form by User who created the related post"
**Before adding a new feature request, please, make sure you’ve checked:**

I talked to support and they said it was not a feature yet

**Please, describe the feature request, making it clear to understand.**

When creating a relationship on a front end form there is no way to filter by the user who created the related post.  For example: On a real estate property site that has properties and real

[2021-05-24 02:43] fonderco commented on #839
This is happening to me as well.  Only for logged in users and only when the plugin Yoast SEO is turned on.

Video of what is happening.

http://somup.com/crhFbqFW0J

Basically, when trying to get a term meta field the function

jet_engine()->listings->data->get_current_object()

Returns some random value.

[2021-05-24 02:47] CMRD77 commented on #770
Same conundrum here, please, did you find a fix or a way to go or way to go through this?

[2021-05-24 05:14] chaser32419 commented on #2973
I'd like to add a vote for this to happen as well.

Also I'd like to suggest having jetpopup to be compatible with this as well to be able to make dynamic pups.
So that we can add popups to user accounts/post/products for asking for donations, that is becoming a popular thing.

[2021-05-24 05:23] UraraReika commented on #3324
Hello @79ho3ein please stop creating same issues.
I merged this issue with #3058, which is on the same subject so we could deal with it more efficiently.

[2021-05-24 05:23] #3324 closed, assigned to nobody

[2021-05-24 06:22] 79ho3ein opened #3332 "Please improve the focus mode of the product image in the jet woobuilder plugin."
The single-image widget focus mode of the product, in the jetwoobuilder plugin, does not work well on mobile phones and tablets.
This means that the user must click on different parts of the image to be able to move, and this is not good at all.
My suggestion is to add a feature, so that the user can easily focus on different parts of the image by moving her finger on a single product image.
Just

[2021-05-24 07:05] UraraReika commented on #2654
Hello @jrmyfranck !

Lets go through the list:
1 - We will not implement this functionality to our plugin but we use standard WC functions to display products prices. So in this case you can use hooks to rewrite the price output. You can use this hook `woocommerce_get_price_html` it's look like this in the code https://i.gyazo.com/dadd663dccb1598c0747f1a0010af7d7.png.

2 - Track this issue https:/

[2021-05-24 07:05] #2654 closed, assigned to UraraReika

[2021-05-24 07:13] Floydtm commented on #3315
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-05-24 07:13] #3315 closed, assigned to nobody

[2021-05-24 07:16] UraraReika commented on #2925
I merged this issue with #2721, which is on the same subject so we could deal with it more efficiently.

[2021-05-24 07:16] #2925 closed, assigned to nobody

[2021-05-24 07:20] Floydtm commented on #3319
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-05-24 07:20] #3319 closed, assigned to nobody

[2021-05-24 07:23] UraraReika commented on #2973
Use one of this templates to describe you suggestion in more details https://github.com/Crocoblock/suggestions/tree/master/.github/ISSUE_TEMPLATE

[2021-05-24 07:23] #2973 closed, assigned to UraraReika

[2021-05-24 08:14] agarwalc opened #3333 "Better Multiselect field on JetEngine Forms"
**Story**
JetEngine supports custom taxonomy in hierarchy format. This is an excellent feature and covers many use cases. Sometimes, the list of terms in these taxonomies tend to grow over time and include 50 to 100 terms or even more.

There should be a better way for users to select multiple terms on JetEngine form. Today, the terms can be shown only as list of random options in checkboxes, whic

[2021-05-24 08:33] UraraReika commented on #3084
Hello @79ho3ein !

For single add to cart widget we use default WC function for displaying add to cart functionality and we will not add such feature for custom purpose. But we provide template system where you can rewrite widget template and implement whatever you want functionality.

[2021-05-24 08:33] #3084 closed, assigned to UraraReika

[2021-05-24 08:38] UraraReika commented on #3110
For now and for future we will not add this functionality. There are a lot off plugins that add view functionality and create custom field for this purpose. Whet you set up such plugin then with the help of hooks for products grid or list widget you can query products depending on count of view. In you want to display counter you can rewrite widget template.

[2021-05-24 08:38] #3110 closed, assigned to UraraReika

[2021-05-24 08:43] UraraReika commented on #3153
I merged this issue with #3110, which is on the same subject so we could deal with it more efficiently.

[2021-05-24 08:43] #3153 closed, assigned to UraraReika

[2021-05-24 08:52] UraraReika commented on #3156
You dont need to disable pagination.
For example i want to display 6 products on my homepage i put options like this https://i.gyazo.com/5751afcd9873c9a587ea01a1d394ed3f.png on desktop https://i.gyazo.com/2cbe40c091a592af71b14176149467fa.png - tablet https://i.gyazo.com/a9b139e845caf8e40c670ced6c52e0b9.png - mobile. And such carousel options https://i.gyazo.com/1ede7f7c26fb9be0a733fba5a55dceb8.png

[2021-05-24 08:52] #3156 closed, assigned to UraraReika

[2021-05-24 09:01] UraraReika commented on #3157
For achieve this you can use Table Widget from JetElements plugin, and with the help of Elementor Pro dynamic terms output needed information https://prnt.sc/12m4xmf. Then put this template in jet tab and style it whatever you want. If you have difficulties with this please contact our support team.

[2021-05-24 09:01] #3157 closed, assigned to UraraReika

[2021-05-24 09:17] UraraReika commented on #3196
You can rewrite widget template to achieve this result.

[2021-05-24 09:17] #3196 closed, assigned to nobody

[2021-05-24 09:28] UraraReika commented on #3241
Feel free with this https://quadlayers.com/add-custom-image-sizes-in-wordpress/

[2021-05-24 09:28] #3241 closed, assigned to UraraReika

[2021-05-24 09:34] UraraReika commented on #3277
All this thing you already spread through our git in separate issues.

[2021-05-24 09:34] #3277 closed, assigned to nobody

[2021-05-24 09:51] UraraReika commented on #3280
@79ho3ein you wrote distance but in controls area clearly written 'Column Padding'. And thats how paddings works. For preventing double padding use it like this https://i.gyazo.com/5372130c6ffb816026de87eabec1be82.png or this https://i.gyazo.com/9ae7974580465b0b211d7fbc6044019b.png

[2021-05-24 09:51] #3280 closed, assigned to nobody

[2021-05-24 09:53] UraraReika commented on #3281
We will not ad this feature in the future. Use JetProductGallery plugin or theme that from the box has this functionality for example JupiterX

[2021-05-24 09:53] #3281 closed, assigned to UraraReika

[2021-05-24 09:55] UraraReika commented on #3284
Sorry but we build the WC and not implement such custom functionality.

[2021-05-24 09:55] #3284 closed, assigned to nobody

[2021-05-24 09:56] UraraReika commented on #3291
Please for such questions contact our support team instead of creating issues

[2021-05-24 09:56] #3291 closed, assigned to UraraReika

[2021-05-24 09:58] UraraReika commented on #3298
Soon in Query builder from JetEngine will be able WC_Products_Query which gives you this query opportunity

[2021-05-24 09:58] #3298 closed, assigned to UraraReika

[2021-05-24 09:59] UraraReika commented on #3301
follow this template https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/bug_report.md and describe you r bugs in more details.

[2021-05-24 09:59] #3301 closed, assigned to nobody

[2021-05-24 10:00] UraraReika commented on #3304
In previous issue i show you how to decrease this gap contact our support team.

[2021-05-24 10:00] #3304 closed, assigned to UraraReika

[2021-05-24 11:12] UraraReika commented on #3306
This is custom functionality and you can achieve this by rewrite widget template.

[2021-05-24 11:12] #3306 closed, assigned to nobody

[2021-05-24 11:15] UraraReika commented on #3322
We will not implement this functionality to our products but you can use for example this plugin https://ru.wordpress.org/plugins/wp-image-zoooom/

[2021-05-24 11:15] #3322 closed, assigned to UraraReika

[2021-05-24 11:20] UraraReika commented on #3325
If you use Products Grid or List widgets in single product template then some addition queries appears https://i.gyazo.com/5dee6028476dea4d70b0b502b01c3a8d.png.

Although soon in Query builder from JetEngine will be able WC_Products_Query which gives you this query opportunity

[2021-05-24 11:20] #3325 closed, assigned to nobody

[2021-05-24 11:22] UraraReika commented on #3327
https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/feature_request.md follow this template

[2021-05-24 11:22] #3327 closed, assigned to UraraReika

[2021-05-24 11:25] UraraReika commented on #3332
https://github.com/Crocoblock/suggestions/tree/master/.github/ISSUE_TEMPLATE follow one of this template

[2021-05-24 11:25] #3332 closed, assigned to nobody

[2021-05-24 12:14] UmairAnwar opened #3334 "issue with jet listing while using custom code"
**Describe the bug**
A clear and concise description of what the bug is.

hi
i made a listing using jet engine but i need to make a link with custom html to i tried to make shortcode and want to use it in the listing but it is very strange it did't worked at all and even get_the_ID or similar fucntion also not working in the listing grid.

function filed() {
    ob_start();
        global $post;

[2021-05-24 13:28] LenSoft-Softwares commented on #736
Hey!
It looks like that the **String to time** macro is not working properly. If I add anything else than "now", it is just not working. The condition is benig skipped.
Anything, which can help me?

PS.: I'm in the UTC+2 timezone (CEST), therefore I need to always put "+2 hours" into a datetime condition, but this time, it is jut not working.

Many thanks!

[2021-05-24 13:44] 93petter93 opened #3335 "Filter variable products on sale with JetSmartFilters & WooCommerce"
Hi! There is now way to filter variable products that are on sale. This is a functionality witch is essential when having an e-commerce store. In my case i'm building a site for selling fashion clothes. Every single product got size variables, and therefore there is no way to filter the products that are on sale. Please find a way to do this, and include it in the next update for JetSmartFilters🙏🏻

[2021-05-24 13:44] Floydtm commented on #3318
Hi, I understand that this is important for you, but the widget is working correctly. You can hide the cart item with dynamic visibility or create a separate header

[2021-05-24 13:44] #3318 closed, assigned to nobody

[2021-05-24 13:50] lensoft-softwares opened #3336 "[BUG] JetEngine 2.8 - String to timestamp macro not working correctly"
Hey!
It looks like that the **String to timestamp** macro is not working properly. If I add anything else than "now", it is just not working. The condition is benig skipped.

My meta field, which I'm using is this particular condition is a datetime field (saved as timestamp, UNIX), therefore I used "Numeric" as the (data) type. (Anyways, If I use Date or Datetime instead of Numeric, the query retu

[2021-05-24 14:39] MjHead commented on #3336
@LenSoft-Softwares thanks for reporting we'l release the fix with next JetEngine update

[2021-05-24 21:01] Mindaugasmitras opened #3337 "Add picture list to form"
Possibility for visitors when they creating new event that they can choose from list of preloaded pictures in the form. Thank You

[2021-05-24 21:03] Mindaugasmitras opened #3338 "Post converting to pdf for dovnloading."
I want to make cv builder with possibility to download cv as pdf.

[2021-05-24 21:05] Mindaugasmitras opened #3339 "Courses building tool with loaded videos and tests"
courses video and test with right ansvers builder.

[2021-05-24 21:07] Mindaugasmitras opened #3340 "Private messages to other users"
Private messages to one ant to many users. Like if I can select five houses from my favorite list and send to all of them same message.

[2021-05-24 21:08] Mindaugasmitras opened #3341 "Paysera integration in pay for post"
Easy PaySera integration for pay for post without WooComerce.

[2021-05-24 21:11] Mindaugasmitras opened #3342 "Move posts to other folder after selected date"
For posts choose time like two days or something and after that post will be moved to other folder.

[2021-05-24 21:13] Mindaugasmitras opened #3343 "Html5 or zoom live stream integration"
I want to create post type with live events with passvords.

[2021-05-24 23:51] Lonsdale201 commented on #3335
Its not work? https://crocoblock.com/troubleshooting/articles/how-to-set-jetsmartfilters-woocommerce-filter-products-on-sale/

[2021-05-24 23:59] #3320 closed, assigned to nobody

[2021-05-25 00:00] #3323 closed, assigned to nobody

[2021-05-25 02:28] DrewS138 opened #3344 "JetSmartFilters - Woocommerce Tag Widget"
This would be a good feature to integrate.

![image](https://user-images.githubusercontent.com/74819605/119430679-8ae38080-bd54-11eb-9e67-04579ff02c01.png)

WooCommerce after search, show relevant tags (taken from the most used tags)

User clicks on tag and it populates with that result.

[2021-05-25 03:30] jamsheehan commented on #3251
Updated to clarify, right now the Dynamic Function will only work with CPT data, but will not work with CCT data. So ideally it would be great if it could do that.

[2021-05-25 04:24] sandornemeth86 commented on #2701
I hope Crocoblock team picked this up and will integrate it soon. I wouldn't have thought that this feature is not included in JetBooking. Please if you can, take this issue seriosly, because considering that this is a booking plugin, this feature should be a really basic one.
I bought the license and I am waiting. There is no workaround at this point.

Many thanks.

[2021-05-25 04:31] sandornemeth86 commented on #2352
Same here. I am building a car booking system too, and have the same request for Multiple booking support.
Thanks.

[2021-05-25 04:37] sandornemeth86 commented on #2670
I agree, please Crocoblock team take this issue seriously.

[2021-05-25 06:08] ward-reekmans opened #3345 "Back-en bookings and closure business in booking plugin"
There is a gigantic miss with the booking plugin!!!

1) you cannot add any holidays when you are closed!!! e.g. hotel closed during a specific time but you cannot add this.
2) you cannot add any bookings back-end. If somebody makes a phone call (or other contact) you cannot add a booking for this customer.

This is a gigantic miss!!! in this plugin.

[2021-05-25 06:59] pgirzalsky commented on #3318
I know that it is working as intended. But this issue is supposed to be a feature request. So don't close it, please!

[2021-05-25 09:04] Dennisvb commented on #775
+ 1

[2021-05-25 09:06] Floydtm commented on #3339
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-05-25 09:06] #3339 closed, assigned to nobody

[2021-05-25 09:06] Floydtm commented on #3340
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-05-25 09:06] #3340 closed, assigned to nobody

[2021-05-25 09:07] Floydtm commented on #3341
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-05-25 09:07] #3341 closed, assigned to nobody

[2021-05-25 09:07] Floydtm commented on #3342
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-05-25 09:07] #3342 closed, assigned to nobody

[2021-05-25 09:08] Floydtm commented on #3343
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-05-25 09:08] #3343 closed, assigned to nobody

[2021-05-25 09:12] Floydtm commented on #3335
@93petter93 The tutorial might help you, but it doesn't work with variable products.

[2021-05-25 09:28] 93petter93 commented on #3335
I need a way for variable products.

[2021-05-25 09:30] 79ho3ein commented on #2249
@UraraReika
excuse me ...
I had two question about this feature (WooCommerce notifications). Thank you for answering.
1- Does this feature display WooCommerce notifications as a pop-up?
2- Does this feature only display the notification of a product being added to the cart, or all WooCommerce notifications?
For example, it also displays the "Discount Coupon is not valid" notice on the payment slip

[2021-05-25 09:35] Floydtm commented on #3344
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin. However, right now you can filter by tags and display it on the search results page

[2021-05-25 09:35] #3344 closed, assigned to nobody

[2021-05-25 10:05] kaskad88 commented on #2218
Added for the next version. Thanks for your report!

[2021-05-25 10:05] #2218 closed, assigned to kaskad88

[2021-05-25 10:20] lensoft-softwares commented on #3336
@MjHead Thanks a lot! I'll look forward to the update.

[2021-05-25 11:32] smatzis opened #3346 "QUESTION: Do calculated fields support date calculations?"
Sorry, but i could not find any reference on your documentation...
Best regards!

[2021-05-25 11:59] Floydtm commented on #3346
You can only sum up the number of days but not the dates.

[2021-05-25 11:59] #3346 closed, assigned to nobody

[2021-05-25 13:43] lolirado commented on #2103
+1

[2021-05-25 14:10] mothunyane opened #3347 "Product Result Count Widget Not Alighned With JetSmartFilters Results"
The Product Result Count widget is not aligned with jetSmartFilter in that when the applied filter results number changes, the product count widget does not display the appropriate number based on the number of results after applying the filter.

My suggestion is that this widget should work like the Product Pagination widget in which you have the option to select what you are applying pagination

[2021-05-25 14:58] Floydtm commented on #3347
We are working on this, stay tuned. Thank you!

[2021-05-25 14:58] #3347 closed, assigned to nobody

[2021-05-25 15:31] TheAdminKing opened #3348 "Jet Reviews Integration with WooCommerce Points and Rewards"
Integrate Jet Reviews with WooCommerce Points & Rewards

Allow me to reward points to customers when the leave an approved review, in my WooCommerce Points & Rewards system By WooCommerce.

This Feature is already implemented when you install WooCommerce Points and Rewards with Wordpress default comment system. Since JetReviews does not use the wordpress comments no points are rewarded when a pers

[2021-05-25 15:36] cultweba opened #3349 "Добавить якоря к листинг айтемам"
Здравствуйте. Столкнулся уже второй раз с необходимостью добавить акоря к листинг айтемам. Когда впервые столкнулся даже не думал, что этой возможности нету. Но не нашел все-таки и пришлось реализовать в тот раз по другому. Сейчас снова столкнулся с тем, что нужно иметь возможность перехода на конкретную новость из новостей, что вывел через листинг грид. Но чтобы это был не переход на сингл пост а

[2021-05-25 16:09] kskonovalov commented on #776
+1 C'mon even much less flexible Elementor Forms pro widget has such field!

[2021-05-25 16:29] fabifighter007 opened #3350 "Appointment based on wordpress roles"
Hello.

I want to point out a cool feature fpr the appointemnts plugin.

Instead of adding providers by sections it would be cool to add them to a user role (beside author, editor, administrator) a role named provider.
Each provider has an email, an page, and an own login page. This results in the providers to manage their appointemnts on their own! Furthermore, they can get an email after someone

[2021-05-25 16:33] s863323 opened #3351 "Can I add the "HTML Tag" function to the "items" of the "JetTabs"?"
Can I add the "HTML Tag" function to the "items" of the "JetTabs"?

I think "JetTabs" is a very useful plug-in, which is better than the built-in "Accordion"、"Tabs" of Elementor.

But considering the structural requirements of page articles,

I think "items" should be added with "HTML Tag" function?(H1, H2, H3...)

![01](https://user-images.githubusercontent.com/84800282/119534783-e136da80-bdb9-11

[2021-05-25 17:22] lensoft-softwares opened #3352 "[BUG] JetEngine 2.8 - Query variable exists functionality (Query Builder)"
Hey!
I might found another bug in the new Query Builder, which I really like though.

I tried to query my custom post types with URL query variables. I use the **"tipus"** as one of my query variables. It always stores an integer value.

On the front-end I only want to show certain elements, if the given query variables are correct and existing. Therefore I check if the **"tipus"** variable even e

[2021-05-25 17:55] lifeact commented on #2745
Приветствую! Есть ли шанс что это будет реализовано? Есть клиент на букинг, но ему тоже нужны часовые пояса
---
Greetings! Is there a chance that this will be realized? We have the client for booking, but he also needs time zones

[2021-05-25 18:22] TheAdminKing commented on #1183
Yes I want this functionality. I mean when there is a spot that say Search In Custom Fields, but when you set it up to search in _sku or _price or _description it will not show any results if you type a sku a price or a random word in a description, then what does this field actually do only search custom fields in custom posts?

[2021-05-25 18:48] velocityconcepts commented on #1657
+1 I need this in order to even think about using the Maps in JetEngine

[2021-05-25 19:14] Gabrymi93 commented on #1138
After the Query Builder there is still no possibility to query JetEngine listings as Elementor does with an easy Custom ID Query?
Please this is such an important feature and don't think it's so complicated to realize.
Am I missing this functionality in the release of Query Builder?

[2021-05-25 19:50] Highway596 commented on #2632
I second this request, very important to be able to hide dynamic repeater listings via a meta value (switcher, etc).

[2021-05-25 19:56] Highway596 commented on #2515
+1 for the ability to set dynamic visibility of repeater fields in listing widgets

[2021-05-25 20:30] 79ho3ein opened #3353 "Report two bugs in free mode widget product grid.please check"

[2021-05-25 20:52] 79ho3ein opened #3354 "Report two bugs in free mode widget product grid.please check."
1- When the product carousel is in this state ( https://prnt.sc/13etee9 ) ، In this case, if the user clicks on the product, the carousel mode will look like this ( https://prnt.sc/13etj4u ) That is, its free state is lost by clicking on the product image.It would be great if the carousel did not move when the product was clicked.

2- When the carousel of the product is in this state ( https://prn

[2021-05-25 20:52] #3353 closed, assigned to nobody

[2021-05-26 06:45] L6ZB3W9 opened #3355 "ACF true/false - JET Smart Filter in JET Woo Builder"
Hello,
I have to use ACF because only ACF is compatible with the Multi-Vendor Marketplace WCFM.

I don't understand why it is not possible to use ACF true / false with the Jet Smart Filter in the JET Woo Builder.
In ACF, a value is only set to 0 or 1. When selecting, the smart filter only has to check whether 1 is set.

Please integrate this function.

Thank you...

[2021-05-26 07:54] lensoft-softwares commented on #3355
Hi!
Have you tried the "true/false" words instead of 1/0? It might work that way.

[2021-05-26 08:01] pgirzalsky opened #3356 "Show cart items inside the cart side menu on checkout process"
Using your plugins to create a custom WooCommerce shop, I experience a behavior that makes for a bad user experience:

Whenever the shopping cart is opened on a page that is part of the checkout process, the cart appears empty.
Here is a video showing that behavior:
https://streamable.com/ghqi6f

It would be nice if you could add a feature like a checkbox in the widget's options to display the pro

[2021-05-26 09:27] 79ho3ein commented on #3354
Thank you for your attention
I hope it will be fixed in the next updates.
To further develop the free mode feature, check out the product carousel on this site. This is a complete example.
free mode in jet woobuilder has a lot of room for improvement.
(Please see with mobile phone)

thanks

[2021-05-26 11:17] 79ho3ein opened #3357 "Report a bug in the jet search plugin.please check"
The cancel search button has many bugs.I will report these bugs below. Please review and resolve them. https://prnt.sc/13frlh1

1- Sometimes it does not display properly. That is, it is not displayed at all.
2- Sometimes displayed as two dot (..). The bug is too bad.
3- This button (Close Search Button) does not exist in the Firefox browser!
In general, this section has a lot of bugs that need to

[2021-05-26 11:38] TomBarker123 opened #3358 "JetEngine: Prevent accidental deletion of Custom Content Type (CCT) instances"
Once you have created a Custom Content Type (CCT), for example 'Businesses' and then you create instances of this CCT, e.g. 'Google', 'GitHub' etc, the items will be listed in the table under the 'Businesses' CCT in the WordPress menu.

Currently each instance has three options next to it on the right hand side: Edit, Clone, Delete.

If you click 'Delete', the entry gets instantly deleted and ther

[2021-05-26 12:31] 79ho3ein opened #3359 "A suggestion to improve the ability to fully edit the payment field of the jet woobuilder plugin that will be added in future updates ..."
There is no interesting scroll bar in the list city or province field. Great if you also add the ability to edit the scroll bar.
https://prnt.sc/13fuhff
Personalizations including: bar width, color, radious bordper are sufficient.
This feature greatly improves the user interface. Because it does not have an interesting scroll bar at the moment.

Please review the offer.Thanks to the crocoblock tea

[2021-05-26 14:05] #2939 closed, assigned to kaskad88

[2021-05-26 14:05] #2875 closed, assigned to kaskad88

[2021-05-26 17:05] sebak2003 opened #3360 "Restrict content based on Woocommerce purchased products by the user"
🤯 Any way with Jetengine: to restrict/allow the access to a Custom post, based on if the user purchased X Woocommerce product?

Uses of cases::

👉 To give access to courses, the user purchase product with Woocommerce "Course A", then he can access to the post "Content course A" (The post is related with the product ID from woocommerce).
👉 To mark as "in your library or bought" a product in the sto

[2021-05-26 17:31] preyes24973 commented on #842
Why is this thread closed. This issue is not fixed. Is there at least a snippet to exclude out-of-stock products?

[2021-05-26 17:33] wittrup opened #3361 "JetSearch to search for custom fields in product variations"
Feature request

Hello

I would very much like if JetSearch searched through custom fields in product variations and returned product based on this.
This i related to, but not limited to:

1. [sku-search-for-product-variations #2231](https://github.com/Crocoblock/suggestions/issues/2231)
2. [JetSearch doesn't search through the variations SKU #1961](https://github.com/Crocoblock/suggestions/issues

[2021-05-26 18:35] mymottow commented on #842
I agree ... I need this to work!

[2021-05-26 22:48] jpsantamariaspain opened #3362 "include OPTION FOR OVERNIGHT APPOINTMENTS/TICKETS for NIGHT BUSSINES"
I was using Jet-Appointments for my client website wich is a disco-club with ticket entrance under online purchasing.
Unfortunately, the problem is that **the appointment/ticket time should be from 8pm till 2am**.  So **the program understand that these are 2 different days and dont let me introduce the correct timing**.
These should be a problem for **this kind of bussines that starts at evening

[2021-05-26 22:55] jpsantamariaspain opened #3363 "JETAPPOINTMENTS - option to "ALLOW THE CLIENT TO BUY TICKETS AFTER THE START TIME""
**The program doesn't allow the clients to buy their tickets after the service start time**.

If you are selling tickets for a bar, or a conference, or a class with no limit of clients, or for more than one client, it should be exist also the option to add the possibility to buy the ticket at anytime, even when the event has already start. Maybe some bussines don't want to allow this or maybe as m

[2021-05-26 23:38] 79ho3ein opened #3364 "Please add scrolling to the visual filter (color) of the jet smart filters plugin."
Currently, scrolling is available for checkbox filters. But not for visual filters (color-based filters). Please add this scrolling feature to the visual filter. is very important. https://prnt.sc/13gfmj3
Thanks

[2021-05-27 00:04] 79ho3ein opened #3365 "An important suggestion to complete # 3058 (jet woobuilder plugin) please check."
Please read # 3058 first ...

It would be great if we could show the best-selling product to users based on product category.
For example, the best-selling mobile phone. Or the best-selling smartwatch.
This feature will be excellent and practical. Most large sites use this great feature.
I hope this feature will be added to jet woobuilder soon.

Thanks to the crocoblock team.

[2021-05-27 05:28] UraraReika commented on #3359
I merged this issue with #3108, which is on the same subject so we could deal with it more efficiently.

[2021-05-27 05:28] #3359 closed, assigned to nobody

[2021-05-27 05:29] #3365 closed, assigned to nobody

[2021-05-27 06:40] Floydtm commented on #3349
Please, note, that the feature requests can be accepted and processed only if they’re written in English.

[2021-05-27 06:40] #3349 closed, assigned to nobody

[2021-05-27 08:38] #2618 closed, assigned to UraraReika

[2021-05-27 08:38] #3171 closed, assigned to UraraReika

[2021-05-27 08:38] #3174 closed, assigned to UraraReika

[2021-05-27 10:31] 79ho3ein opened #3366 "Report a bug in the jet smart filters plugin. Please check. Very important"
hi @SargasTM
In this plugin, if the filter does not have a product, its options are hidden.But not quite.
In this image, I have given all the filter widgets at the bottom of the border.To separate the filters. https://prnt.sc/13h4ixx
Filter options are hidden if there is no product for a filter.But there is a very bad bug here.
If there is no product for the filter, the entire filter widget should

[2021-05-27 10:47] 79ho3ein commented on #3146
@Floydtm
hi, Is it clear when this feature will be released?
thanks

[2021-05-27 10:56] Lonsdale201 commented on #802
+1 :)

[2021-05-27 11:37] Floydtm commented on #3356
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks. I wrote about it in the last request from you.

[2021-05-27 11:37] #3356 closed, assigned to nobody

[2021-05-27 11:48] Floydtm commented on #3357
1 - we have no problem with this (because the plugin does not have this icon in the settings)
2 - the icon can be added from the theme itself
3 - it depends on the browser.
Have you contacted our support team?
Why do you write requests without understanding how our plugins work?
Most of your requests are solved with simple settings.
Thank you!

[2021-05-27 11:48] #3357 closed, assigned to nobody

[2021-05-27 11:54] Floydtm commented on #3361
#2231 #1961 #1202 #1556

[2021-05-27 11:54] #3361 closed, assigned to nobody

[2021-05-27 12:01] Floydtm commented on #3364
This will be implemented soon. Keep for updates. I think you already wrote about this earlier. You should not create similar requests, otherwise we will simply close them. Thank you!

[2021-05-27 12:01] #3364 closed, assigned to nobody

[2021-05-27 12:07] 79ho3ein commented on #3364
You are truly unique.
I apologize for repeating sometimes. I translate with Google Tetranslite and this sometimes confuses me.
In any case, thank you.

[2021-05-27 12:08] 79ho3ein commented on #3366
@Floydtm
You are truly unique.
I apologize for repeating sometimes. I translate with Google Tetranslite and this sometimes confuses me.
In any case, thank you.

[2021-05-27 12:09] Floydtm commented on #3146
Guys, you must understand that this takes time. In addition to requests for the git, our team also has a road map. Right now you can use jetpopups they are compatible with our filters. You can also wait until your request is completed. Thank you!

[2021-05-27 12:18] Rockstar1987 opened #3367 "JetCompareWishlist: Option to use AJAX to display the number of items in the Wish list/Compare list"
Currently Wishlist and Compare list is not compatible with page caching. So for any popular caching plugins this does not work correctly.

https://i.vgy.me/r7HznD.jpg

In the screenshot, you'll see that the number of items in the wish list is saved in the source code of the page.
This means that everyone visiting the shop page will see they have two items in the wish list. These may not be the sam

[2021-05-27 12:52] ayhanmalkoc opened #3368 "Show anywhere token for JetEngine"
How about a customization that supports all page builders, gutenberg and themes?

It would be great. Sample links and screenshot for Elementor are below.

![text-token](https://user-images.githubusercontent.com/28749773/119829034-7a253d00-bf03-11eb-9a2c-d3f887d6c5e6.JPG)
![text-token](https://www.dynamic.ooo/wp-content/uploads/2019/11/dynamicToken_wizard_post.jpg)

Example Widget:
https://help.dyn

[2021-05-27 14:15] DevDietheR commented on #3146
Thank you @Floydtm , may i know where i can see your roadmap ?

[2021-05-27 14:42] TRIBEmediaDK opened #3369 "Add Jet Engine Custom Fields in plugin Schema & Structured Data for WP & AMP"
See the attached video for explanation

[schema markup with jet engine custom fields help (1).zip](https://github.com/Crocoblock/suggestions/files/6554831/schema.markup.with.jet.engine.custom.fields.help.1.zip)

[2021-05-27 17:25] 79ho3ein commented on #3009
hi @UraraReika
Do you have a plan to add this feature to the plugin?
I have reviewed several reputable sites and they also use this feature.
This feature completely fixes bugs related to unregistered (unregistered) users.
Thanks.

[2021-05-27 19:45] Lonsdale201 commented on #3360
+1

[2021-05-27 21:45] 79ho3ein opened #3370 "An important and practical suggestion for the visual widget of jet smart filters plugin. please check."
It would be great if we could use color and image for visual filtering at the same time. At the moment, we can only use one of these two, which puts limitations on us.
For example, I was importing a color filter for store watch straps. Some of the straps were in seven colors(https://prnt.sc/13hogic). But it was not possible to apply the image of seven colors next to the color. And that was a big l

[2021-05-28 02:03] rentaterry opened #3371 "Listing Grid Injection Function suggestions"
Hi Crocoblock!
I really love the idea of Listing Grid Injection functionality.
I would like to suggest some extending features here

1. Query Function
2. Ordering
3. Simple elements Can be inserted (like google ads)

[2021-05-28 09:58] hum-bug opened #3372 "Query Builder - SQL - AND/OR"
Hi,

I like the new query builder function but the SQL option seems to be missing AND/OR capability which is a basic but important part of SQL queries.

Here is an example query I want to do where I'm a CCT is linked with a BuddyPress group.  It works manually but no way to enter this into the Query Builder that I can see.

[code]

(note my user_id  =1 would actually be current logged in User ID s

[2021-05-28 11:46] Rubendj1 opened #3373 "Use JetEngine data store data in forms"
I would like to have the ability to use stored data in forms. For example to send a users favorited posts to his e-mailinbox.

[2021-05-28 11:53] Rubendj1 opened #3374 "JenEngine forms Repeater field limiter"
I would like to be able to limit the amount of repeater field repeats. For example a maximum of 3 inputs.

[2021-05-28 12:56] Didier-F opened #3375 "JetFilters + JetWooBuilder | Let the Thumbnail change when you use a filter. For example a color."
**Please, describe the feature request, making it clear to understand.**
If you have a product in the color white and black, it would be great if you use a filter for the color that the thumbnail image will also change when u for example select the black color filter. The thumbnail image should be the black variation instead of the white one.

Specify the feature, the product to which it should be

[2021-05-28 13:24] reinukss commented on #2582
Did you find a solution for this?

[2021-05-28 13:30] mosaicresponse commented on #1495
The Ability to not output entries that were already shown in another widget on this page earlier. This would be very convenient if, for design purposes, you need to use multiple Listing Grids on the same page.

Multiple listing grids in a page is a common design choice and avoiding duplicates is important.

For me, this is a major missing feature that should be available.

Similar to request #2789

[2021-05-28 13:50] nreljed opened #3376 "💡 [Jetsmartfilters] Redirect taxonomies to search page as filters"
In this problem we will take the example of [cardealer](https://demo.crocoblock.com/cardealer/)

![taxonomies](https://user-images.githubusercontent.com/82481592/119990794-0e0d0c80-bfc9-11eb-97a5-048ca70a417e.png)

I'm trying to redirect taxonomies to my search archive **/cardealer/catalog /** as filters

In this way when I add and click on "Clear" of **active tags widget**

I can immediately **co

[2021-05-28 14:21] UraraReika commented on #3006
In the next release Products Grid/List widgets will have filter hooks:
PG - `jet-woo-builder/shortcodes/jet-woo-products/not-found-message`;
PL - `jet-woo-builder/shortcodes/jet-woo-products-list/not-found-message`.

So you can handle it whatever you want like this https://gist.github.com/UraraReika/98bfcc2ae6863108778bddc0dde9b80c.

[2021-05-28 14:21] #3006 closed, assigned to UraraReika

[2021-05-28 14:27] 79ho3ein opened #3377 "A request to improve the discount medal feature in the jet woobuilder plugin. Please check."
Please add a feature so that we can prove the length and width of the discount medal. This causes the discount medal length, width and width to be equal to different values.
Please look at this picture :  https://prnt.sc/13ilnks
The discount medal on the left is bigger than the right. Because the discount percentage is two digits.
If you add a feature so that we can give the discount medal a fixed

[2021-05-28 14:30] sahinoz opened #3378 "Copy to Clipboard Widget"
Hello,

I suggest that you develop a widget called add copy to clipboard.
Just like the button you use in your homepage (Crocoblocks) Copy discount code: crocoturns3.
When we click on the discount code, it copies and gives us a checkmark, letting us know it has been copied.

I would love to buy such a widget because I do not want my customers to scan my email adress and paste it to email me. They

[2021-05-28 14:50] 79ho3ein opened #3379 "A very important suggestion for the jet woobuilder plugin. Please check."
I had made this request once before, but I did not get it right.I apologize for making this request again. Because this is a very important request.
Currently, it is possible in the WooCommerce plugin so that we can schedule "special sale" prices.
That is, set a time limit. https://prnt.sc/13im9mm
It would be great if we could show this time limit to our users using the Jet woobuilder plugin.Curre

[2021-05-28 15:04] Medeon-68 opened #3380 "JetEngine - Meta Boxes (or else) - Counter for page visits, for making listing grid by counter (visited pages)"
There is no easy way to do a simple function of the number of visits to a specific page of a product via an additional plugin or PHP script. It would be PERFECT if there was a field in one of the JetEngine options where this would be possible and thus it would be easy to create a listing grid that would have the function to display products hierarchically, by number of visits (Most visited ...).

[2021-05-28 17:34] gsuez opened #3381 "Widget Transform"
I would like a transform feature for element with hover action. Set translate (Horizontally and Vertically) and Rotate (In the axis of Rotate X, Y, and Z).

[2021-05-28 17:55] TomBarker123 commented on #3358
Hi @Floydtm @kaskad88 any update on this? Thanks

[2021-05-28 18:25] Medienor commented on #3253
Crocoblock - Come on! :) Please fix this thing.

[2021-05-28 18:38] 79ho3ein commented on #3253
@SargasTM
Please review this request. Thank you for your efforts

[2021-05-28 20:50] #2949 closed, assigned to nobody

[2021-05-28 23:49] 79ho3ein opened #3382 "A very important request for the jet smart filters plugin.please check"
When scrolling mode is enabled for checkbox filters, the user will not notice that these filters are scrollable.As a result, the filters may seem incomplete to the user. Of course, this problem only exists in mobile phones and tablets.
I show you this problem in an image ...

This filter has a scroll. Would you notice it if I did not mark it? https://prnt.sc/13j3sga
what's the solution?
My suggest

[2021-05-29 08:10] ayhanmalkoc opened #3383 "JetEngine - Widget Creator (Elementor, Oxygen Builder, Gutenberg)"
JetEngine - Widget Creator (Elementor, Oxygen, Gutenberg)

Hello there. It would be great to create a custom widget we want with Jetengine.

Please discuss the topic "Widget Creator".

Check out another example plugin for this.

https://unlimited-elements.com/widget-creator/

@Floydtm @MjHead

[2021-05-29 10:49] ayhanmalkoc opened #3384 "Bug: JetPopup won't work custom field with container background color (colorpicker)"
JetPopup won't work with container background color custom field.

The following scenario was tested:

1- Custom post type (artwork)

1.1 - Metabox custom fields (artwork: color)

2- Artwork archive page (listing item list)

3- Single item click Popup

4- Popup current content

5- Popup container background color (dynamic tag: custom field; color)

It does not detect and run the current font, colo

[2021-05-29 12:41] JamesJosephFinn commented on #1954
Fuzzy / autocomplete is a must. I'm going to use another solution because JetSearch only returns exact matches.

[2021-05-29 14:02] kaskad88 commented on #3358
Added for the next version. Thanks for your report!

[2021-05-29 14:02] #3358 closed, assigned to kaskad88

[2021-05-29 23:50] 79ho3ein opened #3385 "Report free mode bug in Firefox mobile browser.(jet woobuilder plugin)"
In Firefox mobile browser, free mode does not work easily.
And its movement is very lagging.
Please check this problem.

Thanks

[2021-05-30 11:52] mozkomor05 opened #3386 "BUG: Smart Filters - Range slider does not work for negative minimum value"
When a negative number is set to the minimum value of a range filter and a number that is less than the absolute value of minimum is set to the maximum value, the slider stops working. Here's an example of such settings:

![slider_bug](https://user-images.githubusercontent.com/44263817/120102836-31f95b00-c14d-11eb-8499-a68ac08fe7ae.png)

When you try to move with left (minimum) handle of the slide

[2021-05-30 15:24] StreetDog1971 commented on #2721
+1
I have the exact same need.
Most of the times I show the user details, the billing address and the payment methods in the dashboard. It makes no sense to me to have a page for each endpoint.

[2021-05-30 17:44] StreetDog1971 commented on #2721
By the way, I've created a shortcode based on the Payment Methods original template. This allows me to insert the Payment Methods wherever I want. Not a definitive solution, but it works fine until we get a widget.

[2021-05-30 18:22] GerardoZenteno commented on #1582
Awesome! How did you add the numeration to the linsting grid?

[2021-05-30 23:52] 79ho3ein commented on #2636
+1

[2021-05-30 23:53] 79ho3ein commented on #2606
+1

[2021-05-30 23:55] 79ho3ein commented on #2428
Hi,This request has been added to the plugin. Correct?

[2021-05-31 00:27] 79ho3ein opened #3387 "Please add the display conditions feature to the jet smart filters plugin ..."
hi
It would be great if we could specify for which category each filter is displayed.
For example, I sell laptops and flash on my site. For laptops, I have put filters based on screen size, RAM, graphics, etc. But if the user enters the flash category, he will also see these laptop filters,Which do not work for Flash and mislead users.
Of course, it is now possible that if there is no filter for t

[2021-05-31 01:28] numanagit commented on #2967
+1

[2021-05-31 01:37] numanagit opened #3388 "Feature for JetEngine - Ability to add/update data in bulk using CSV for CCT"
Hi there!
Right now JetEngine allows to export data as CSV. But, in order to import data, we have to import using MySql. It would be great to add that ability to clients in Wordpress admin.

The idea is to add the import funcionality to CCT as we have the export one, so we can import data mapping CSV columns, no only to add but to update rows by some query conditional (for example, _ID).

Thanks i

[2021-05-31 01:39] #2028 closed, assigned to nobody

[2021-05-31 01:39] #1869 closed, assigned to nobody

[2021-05-31 01:39] #2065 closed, assigned to nobody

[2021-05-31 03:04] marcofrasson opened #3389 "JetSmartFilters Range Color"
**Describe the bug**
The range background color is not being applied

https://imgur.com/a/ShCQvs0

[2021-05-31 03:24] IngerGarrido opened #3390 "Taxonomy user"
It would be very good to be able to do user taxonomy, in a project I needed it since I take up a lot of crocoblock.

do you have any way to create taxomonies from code?

what I need is to create a taxonomy (interests) for the users and from the front (jetform) that the user can choose between all those vested interests and are saved in their profile

[2021-05-31 07:45] ghost commented on #857
Any updates on this?

[2021-05-31 07:45] tomislavhofman-codecons commented on #857
Any updates on this?

[2021-05-31 07:56] moxet commented on #3388
I guess the feature is not yet added, you can try this method instead

https://youtu.be/XyoFwW06SOA

[2021-05-31 08:03] Floydtm commented on #3378
Right now, you can find a solution [here](https://wordpress.org/plugins/search/Copy+to+Clipboard/). We do not plan to do this yet. Thank you!

[2021-05-31 08:03] #3378 closed, assigned to nobody

[2021-05-31 08:15] Floydtm commented on #3381
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-05-31 08:15] #3381 closed, assigned to nobody

[2021-05-31 08:30] Floydtm commented on #3382
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-05-31 08:30] #3382 closed, assigned to nobody

[2021-05-31 09:19] proactivemel commented on #2676
+1!

The multi-day individual events is very confusing at the moment, especially when they don't line up on the same line within the grid. Would love to see this implemented.

[2021-05-31 10:00] MarIseof commented on #2724
Totally. The only missing part right now is the functionality, that a user can access the purchased product.

This would bring an end to so many LMSs, since you can do sooo much more with crocoblock...

[2021-05-31 10:01] MarIseof commented on #1532
+1

[2021-05-31 10:02] MarIseof commented on #1052
Absolutly!!! LMS 2.0. Tons of what i could do more with crocoblock LMS...

[2021-05-31 10:18] woodydaniel opened #3391 "Checkbox selected by default"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2021-05-31 10:21] woodydaniel commented on #3391
Hi,

In the jetEngine form builder there is no option to have a checkbox checked by default.

[2021-05-31 10:59] MarIseof opened #3392 "One step away from JetLMS?"
It seems to me the "access only purchased online courses in user profile" is the only thing missing, in order for people to use Crocoblock, to build thier own custom LMS.

In my eyes, this could be a big threat to all other LMS´s, since Crocoblock so much more flexible and a good opportunity in todays corona world...

[2021-05-31 11:03] busymick opened #3393 "Scheduling for JetPopUp"
It would be a great feature when I can add a schedule to a pop-up. Most pop-ups are used for promotional purposes, for example black-friday. It would be useful if I can schedule the pop-ups so when a promotion starts the pop-up is shown and when the promotion ends the pop-up is hidden. If you manage 1 website/shop it's doable manual, but when you manage 20 sites where there is an active promotion

[2021-05-31 11:27] amyecc opened #3394 "Option to change prices depending on season"
There should be an option to change the pricing per night on specific dates. As on and off-season prices vary.

[2021-05-31 12:07] Floydtm commented on #3385
We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team. Thank you!

[2021-05-31 12:07] #3385 closed, assigned to nobody

[2021-05-31 12:54] magdakubis opened #3395 "Add Stripe payment gateway"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2021-05-31 12:58] magdakubis opened #3396 "Allow Pay-Per-Post with package bundles"
Just as you are able to create a membership website with Jet Engine where you are able. to create packages /. levels, I'd love to be able to sell access to create posts by users. I know one can do so now, but I'm not able to sell packages, say where the user can pay to post 5, 10 or whatever posts at one time, rather than paying for each individual one.
Thanks!

**Before adding a new feature reque

[2021-05-31 13:50] gsuez commented on #3381
Thanks, @Floydtm ,currently I do it with css, it's simple. But easier would be a click :D

[2021-05-31 15:09] saeedfrb opened #3397 "Solar Hijri calendar jetengine forms"
hi
i nedd Solar Hijri calendar (shamsi calendar) datepicker on my form.
how i can change it?

[2021-05-31 16:43] comradik opened #3398 "image title captions in dynamic grid galleries and lightbox"
**Describe the bug**
When dynamic grid galleries created using a callback, image title nor captions don't show up, even when opened in Lighbox. Which makes dynamic grid galleries useless for most use cases. Please fix! Thanks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descript

[2021-05-31 17:40] pxmjc opened #3399 "Disallow Duplicate Post Titles"
Hello, I am trying to make it not allow to enter the same titles in the post when it is entered by the form, I am using this code, but I can not get it, it only shows me the error message, but it still records the post. is it possible to do this with any jetengine option?

add_filter('jet-engine-booking/filter/title','disallow_posts_with_same_title',10,4);

function disallow_posts_with_same_title(

[2021-05-31 18:10] SMolodoy commented on #3389
confirm! since version 2.2.2

[2021-05-31 20:21] Gitmarcc opened #3400 "Entrance animations for the listing grid slider widget"
It would be great if the listing grid slider widget shows the entrance animation you set on the listing item.
I set entrance animation to some elements in the listing item I designed, hoping for them to show on the listing grid slider.
Unfortunately it only works for the first slide, not so with the others.

It would be great if you consider this functionality for a future update. I think it would

[2021-05-31 21:00] kervis commented on #2241
code for show for public users?

[2021-05-31 21:34] 79ho3ein opened #3401 "Please add new spinners to the jet search plugin."
Currently, there is only one spinner for this plugin that is outdated and monotonous. https://prnt.sc/13nae4v
Please add more spinners to this plugin if possible.
It would be great if we could add custom spinners to this plugin using the lottie animation widget in elementor.

thanks

[2021-06-01 00:02] 79ho3ein opened #3402 "Report a bug in the jet woobuilder plugin.please check"
When we put the svg icon for the product carousel, it is not possible to change the icon size. https://prnt.sc/13nfpw2
Please solve this problem.

thanks

[2021-06-01 03:17] startupweb commented on #2357
Same, have posted this request as well on a separate suggestion post.

[2021-06-01 03:18] startupweb commented on #1967
This would be wonderful.   This would be perfect for a directory listing to find posts types near your or near a certain area.

[2021-06-01 03:20] startupweb commented on #1657
+1 necessity for Geolocation posts near my location.  Great for a business directory.

[2021-06-01 09:57] decorear opened #3403 "JetWooBuilder - Ability/Widget to fetch a single attribute to design a product loop"
Im trying to design a product loop by adding a badge of single attribute on top of a product picture.
For example, for a glossary store, the weight attribute of a product is needed to show on all packages.

Please add a widget or ability to fetch data from woocommerce product attribute to show in any location on the Woobuilder page, so i can move it on top of a product feature image to design a pr

[2021-06-01 10:01] 79ho3ein opened #3404 "Please add the "Semi Mode" feature to the product carousel of the jet woobuilder plugin."
Picture of semi mode : https://prnt.sc/13nyzpb
This feature will be great along with the free mode feature. Because it greatly improves the user interface and increases the level of user interaction.
As you can see in the image above, the product carousel has two full boxes, and one half box. That half box is added when the semi mode feature is activated. Of course, this feature is only used on mo

[2021-06-01 10:43] UmairAnwar commented on #802
can you tell me how to use it ?

[2021-06-01 11:17] Lonsdale201 commented on #802
Not developed yet. :(

[2021-06-01 12:03] Floydtm commented on #3397
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-06-01 12:03] #3397 closed, assigned to nobody

[2021-06-01 12:05] UraraReika commented on #3118
I merged this issue with #2974, which is on the same subject so we could deal with it more efficiently.

[2021-06-01 12:05] #3118 closed, assigned to UraraReika

[2021-06-01 12:21] UraraReika commented on #3058
Use Query ID option https://i.gyazo.com/c63d9da5d756a893a2e4caeb1202f673.png.

[code]

[2021-06-01 12:21] #3058 closed, assigned to UraraReika

[2021-06-01 12:25] Floydtm commented on #3400
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-06-01 12:25] #3400 closed, assigned to nobody

[2021-06-01 12:26] Floydtm commented on #3401
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-06-01 12:26] #3401 closed, assigned to nobody

[2021-06-01 12:39] UraraReika commented on #3102
We add filter hook `jet-woo-builder/controls/groups/group-control-box-style` that will be available with next release and you will be able to extend controls fields like that:

[code]

[2021-06-01 12:39] #3102 closed, assigned to UraraReika

[2021-06-01 13:05] 79ho3ein commented on #3058
@UraraReika
thank you
only one question...
Does this mean that this feature will not be added directly to the plugin?

[2021-06-01 13:23] DrewS138 opened #3405 "JetPopup 1.5.2 - Going From One Popup (#1) To Another (#2) By Clicking On Button"
**Describe the bug**
JetPopup appears to not support going from one popup to the other popup via button click after applying it to open another popup.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create popup #1.
2. Create Popup #2.
3. Connect button/element inside the Popup #1 via the Elementor > Advanced > JetPopup and selecting Popup #2.
4. When the user clicks on the button it does n

[2021-06-01 13:25] UraraReika commented on #3058
You got it right

[2021-06-01 13:32] IFTTD opened #3406 "Conditional Logic Rules Not Working with Glosary"
**Describe the bug**
If Field is a Select and uses Glossary and you go to add a conditional rule using that field. It will not automatically populate the values list to select from. Entering in the values manually separated by commas also doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Meta Field (Room-ID) as Select and choose a Glossary you have created.
2. Create ano

[2021-06-01 13:50] UraraReika commented on #3148
This widget is complex and unites all the things connected to single add to cart and how its transform depending on product type and product condition. First off all the ui that you see in different browsers it's how browser itself render default html elements.

1 - you can customize select element quite good.
2 - You can do it with the help of css, we will not add controls because of specific ele

[2021-06-01 13:50] #3148 closed, assigned to UraraReika

[2021-06-01 14:53] fotografica opened #3407 "Add a clear and fitting title for the feature request"
I'm a brand-new user of Jet plug-ins set. Then, I'd like to add a new feature on Filter Setting section.

I saw that with Filter Type = Checkboxes list I have the Intersection option under Relation Operation field (AND instead of OR), while it is not available on Visual type.

Is there any way to add the Intersection functionality under the Visual filter type?

[2021-06-01 15:37] koonda opened #3408 "Jetengine: Uncaught error due tabs after update to 2.8.1"
Hello,

update to 2.8.1 screwed up my website:

Fatal error: Uncaught TypeError: Return value of Jet_Engine\Dashboard\Tab_Manager::register_manager_js() must be an instance of Jet_Engine\Dashboard\void, none returned in /data/web/virtuals/189417/virtual/www/domains/euro2021.minifootball.eu/wp-content/plugins/jet-engine/includes/dashboard/tab-manager.php:55 Stack trace: #0 /data/web/virtuals/189417

[2021-06-01 16:17] TomBarker123 opened #3409 "JetEngine: add bulk upload of CCT instances"
Would it be possible for you to add a bulk upload feature for the JetEngine CCT? (i.e. the opposite of the bulk extract that currently exists).

I have created a business directory website and could potentially have hundreds of members. If something went wrong with the site, I would have to manually upload all member details, which would take forever.

Please can you consider adding a way to uploa

[2021-06-01 16:33] thpweb1 opened #3410 "Different sub sub menu item colour"
In JetMenu, when a menu is created with a sub menu and one of the items on the sub menu has it's own sub menu, when you go to one of the sub sub menu pages, all the sub sub menu items are displaying as active. Only the page that the sub sub menu item relates to, should be active.

![croco sub menu issue](https://user-images.githubusercontent.com/67333429/120359285-6a409b00-c2ff-11eb-801e-1c4c79187

[2021-06-01 19:31] nreljed opened #3411 "🔥🔥[Jetengine & Jetformbuilder Media Field] what's wrong.. and how to fix it ?"
This post goes in the continuity and the attempt to move things forward for the  [jetengine uploader](https://github.com/Crocoblock/suggestions/issues/3154) .
which is not **customizable** and feature-poor on what is being done even inside of wordpress
I wanted to push the thing even further by recreating pixel by pixel the interface on adobe XD so that everyone can see and give their opinion.

So

[2021-06-01 20:12] Lonsdale201 commented on #3411
+1 Useful

[2021-06-01 23:08] 79ho3ein opened #3412 "A request for the "range" filter of the jet smart filters plugin. please check it"
It will be great if you add a feature so that we can style the price prefix or suffix separately from the price. https://prnt.sc/13ovnog
In the current situation, prices, prefixes and suffixes are styled the same, which is not interesting at all.
Please review this request

thanks

[2021-06-02 00:42] Lonsdale201 opened #3413 "JetSeach - Feature request"
In a future possible to expand the jetsearch custom fields with the following request?
![image](https://user-images.githubusercontent.com/23199033/120406619-93871880-c34b-11eb-8f6a-2553a0022afb.png)

**Prepare meta value callback with two useful option:**
Format number
Trim stings chars just like with the jetengine (https://github.com/MjHead/jet-engine-trim-callback)

And option may a simple switc

[2021-06-02 07:06] UraraReika commented on #3354
We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team. Thank you!

[2021-06-02 07:06] #3354 closed, assigned to UraraReika

[2021-06-02 07:19] sahilpopli commented on #3411
+1

[2021-06-02 07:49] pegujurado opened #3414 "👎 Huge problem "Make sure only CCT element author can edit CCT element with front end form""
I am building a huge project. With the last update I cannot edit CCT with the other authorized form. Are you sure this is the way? Think of all the problems that this measure can cause. There is no possibility to deactivate this option? I am really dissatisfied and my project has stopped. Please think of all the possibilities and not just basic clients and fix this. It was not a great idea. I had

[2021-06-02 07:49] kaskad88 commented on #3408
Fixed in JetEngine 2.8.2

[2021-06-02 07:49] #3408 closed, assigned to nobody

[2021-06-02 08:46] Medienor opened #3415 "JetSearch: Can we customize listing items on search-page? Please check."
Hello,

Is it possible to customize the search page (When you click see all results) ?
I would like to make my own custom listing items, and then use them on the search page site.

See image (I would like to change the design of these listing items | cards)

https://prnt.sc/13pn714

[2021-06-02 09:01] Floydtm commented on #3403
You are right, now there is no such functionality. However, this can be done with jetengine. I will not argue because I do not know how everything is set up. You can also try to rewrite the widget template and display the information you need. I need to send you back to the support team so that we can study the request on your site. Thank you!

[2021-06-02 09:01] #3403 closed, assigned to nobody

[2021-06-02 09:08] 79ho3ein commented on #361
@UraraReika
Hello, will this feature be added to jet woobuilder in the future?
Or has it been canceled?
thanks

[2021-06-02 09:11] 79ho3ein commented on #3297
@UraraReika
Thank you for your efforts

[2021-06-02 09:15] 79ho3ein commented on #2837
Does this feature mean the opposite image?  https://prnt.sc/12l1pix

[2021-06-02 09:16] Floydtm commented on #3405
This should work right now. Contact our support team, they will help you with this. Thank you!

[2021-06-02 09:16] #3405 closed, assigned to nobody

[2021-06-02 09:18] saadkhaan opened #3416 "JetEngine listing grid repeat single post twice"
I have created a custom post type which has 11 posts added, there is a load more button added to the front-end however, the listing grid picks up one post and repeat it twice.

I do have added JetSmartFilters as well and when click on a filter (set to custom taxonomy) everything appears to be normal, no more single post repeat unless the page is refreshed.

![image](https://user-images.githubuserc

[2021-06-02 09:22] Floydtm commented on #3407
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-06-02 09:22] #3407 closed, assigned to nobody

[2021-06-02 09:25] Floydtm commented on #3409
We will work in this direction later. Maybe [this ](https://www.youtube.com/watch?v=XyoFwW06SOA)will help you now. Thank you!

[2021-06-02 09:25] #3409 closed, assigned to nobody

[2021-06-02 09:27] Floydtm commented on #3412
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-06-02 09:27] #3412 closed, assigned to nobody

[2021-06-02 09:35] 79ho3ein commented on #3404
thanks🌹

[2021-06-02 09:46] UraraReika commented on #3305
It's the way ho elementor render widgets. Please contact our support team so we can help you to solve this issues.

[2021-06-02 09:46] #3305 closed, assigned to UraraReika

[2021-06-02 09:50] calvinseak opened #3417 "Adding amount of people to make an appointment at JetAppointment plugin and automation in email"
Dear Crocoblock,

I was thinking of building a JetAppointment plugin for a restaurant. Would be great if the amount of people could be added so the restaurant owners could allocated diners accordingly if there are 2, 4 or even more people that wish to dine at this restaurant.

And if there is an automation to an email or even SMS/Whatsapp would be great to let their customers know that their booki

[2021-06-02 09:59] 79ho3ein commented on #3354
@UraraReika
I tested these bugs on various sites and there were.
I certainly did not convey my words well.
In any case, thank you

[2021-06-02 11:04] UraraReika commented on #3270
We will not implement controls for link text changing because of function we use for single and multiple rating. But if you want to change it you can rewrite template.

[2021-06-02 11:04] #3270 closed, assigned to UraraReika

[2021-06-02 11:15] Floydtm commented on #3415
Yes, you can do it. For this you need the jetthemecore plugin

[2021-06-02 11:15] #3415 closed, assigned to nobody

[2021-06-02 11:34] UraraReika commented on #3404
Use Center Mode option in carousel settings

[2021-06-02 11:34] #3404 closed, assigned to UraraReika

[2021-06-02 11:34] UraraReika commented on #2837
@79ho3ein yes

[2021-06-02 12:17] Jescaro commented on #2675
I would really like to see this feature as well!

[2021-06-02 13:06] 79ho3ein commented on #3404
Dear @UraraReika
The semi mode feature is different from center mode. Please compare the images below :

**center mode** : https://prnt.sc/13pydgq  Which causes the user interface to drop drastically. Because as you can see in the picture, the right side of the product box is empty. I have not seen a website that has this feature used.

**semi mode** : https://prnt.sc/13pym2p But in the semi mode,

[2021-06-02 13:06] yerhgogh opened #3418 "JetSmartFilters categories and grid categories cannot have the same destination url."
Hello,

I discovered the missing important feature which is a basic feature of most other eshops.

In the report below I present 2 theoretical solutions but i preffer solution directly with JetSmartFilters (option to creating urls of filtered categories by woo category archives).

**Issue:**
- When I apply a category filter on a shop page (with all products), I get a url like this:
https://www.kul

[2021-06-02 13:56] 79ho3ein opened #3419 "Offer to display the discount percentage of the jet woobuilder plugin"
Please, if possible, add a feature to the product grid widget, so that we can put the discount percentage before the special sale price. Just like the picture opposite : https://prnt.sc/13q19e3
I do not know why, but this feature has been requested by many of our customers.
Of course, I think it is an excellent feature and improves the user interface.
Please add this feature to the plugin if possi

[2021-06-02 14:49] MathiasVignes commented on #3411
+1

[2021-06-02 16:00] nreljed opened #3420 "🔥 [JetBlocks] Raise login widget to the next level"
[https://wpresidence.net/](https://wpresidence.net/)
![wpresidence login](https://user-images.githubusercontent.com/82481592/120509636-f9fe4c00-c3c8-11eb-9a89-6b524dd85c46.gif)

[https://modern.realhomes.io/](https://modern.realhomes.io/)
![realhome login](https://user-images.githubusercontent.com/82481592/120509663-01255a00-c3c9-11eb-865e-235285ad41be.gif)

I realize that this kind of natural and

[2021-06-02 17:07] raroDev commented on #221
Any update on that?

[2021-06-02 20:39] Medienor commented on #2535
Hello @shinTM @Crocoblock | Will this be added soon? Im willing to pay to hurry this feature up.

[2021-06-02 20:43] Medienor commented on #3420
Amen! +1 | We all need this. @Crocoblock

[2021-06-02 20:45] Medienor commented on #3420
@shinTM  | Express this | We will pay for your hourly fee.
Send us a message to josef@medienor.no regarding payment

[2021-06-02 20:46] Medienor commented on #3389
I have same problem

[2021-06-02 20:57] Medienor opened #3421 "🥰 [JetSmartFilters] - Add a loading spinner when you switch filters [Please Important!] 🥰"
Hello, i asked about this function 7 months ago.
It's been ignored over and over again.

When you switch filters in the JetSmartFilters you want to see that the list is changing. Right now its no animations or anything. This is strange for a big brand like Crocoblock not to have this installed?

I know there are MANY customers who are looking for this function. Can we please expedite this?

<img s

[2021-06-02 21:21] nreljed opened #3422 "🔥[jetengine] limit the media library choice"
I suggest that we add this "very popular" option from ACF.

![Plan de travail – 1](https://user-images.githubusercontent.com/82481592/120551667-925ef580-c3f6-11eb-95d7-8585f4451c83.png)

this illustration will show you what problem it will solve. especially if the uploads to the posts are unique like real estate.

imagine you are a real estate agent and you want just upload images of a house.
in b

[2021-06-02 21:29] slobodandzebo commented on #1818
![Screenshot 2021-06-02 at 23-14-22 Grand Crafter 680 – Frieda's](https://user-images.githubusercontent.com/85258290/120554768-71989f00-c3fa-11eb-839f-7c5566825c02.png)
Here is my solution for now - this was wrote in one day, maybe someone have better solution....

1. On Booking Form add additional field called "additional_services", type: Text, field type: Text, default: 0, Custom CSS: hide-field

[2021-06-02 21:34] slobodandzebo commented on #2452
I wrote short tutorial for make it work
https://github.com/Crocoblock/suggestions/issues/1818#issuecomment-853396224

[2021-06-02 22:29] 79ho3ein commented on #3421
+1
yes I agree.This is a great requirement.
I hope they approve this request.

[2021-06-02 23:05] MathiasVignes commented on #3420
+1!

[2021-06-02 23:27] Lonsdale201 commented on #3421
+1

[2021-06-02 23:50] rousarp opened #3423 "Bug when updating values in option page using jet-engine form"
When the field value in the form is zero ("0"), the item is not saved in the option page field.

I have created an option page and in it 4 items of type number.  I made a form to update these fields using jet engine form. The values are only saved when one of the items is not zero, but the form always will return a status of successfully saved form.
Storing values of 0 in the back end works fine.

[2021-06-03 05:33] nreljed commented on #3420
little test with a [plugin ](https://ultimateelementor.com/widgets/login-form/)which seems to succeed in not closing the popup or reload the page.
![test](https://user-images.githubusercontent.com/82481592/120592080-86e2ed00-c43d-11eb-89f4-2bc5cb34871e.gif)

but they failed the login/register switch and the ultimate test "Lost your password?" which brings you right back to the screen of death word

[2021-06-03 06:06] yngverodli opened #3424 "Add a file download list widget"
There is no good dynamic file download list widget out there today. You already have the download button feature nailed down, so there should be little extra work to make a new file download list widget that gives your customers the ability to easily add a file download list to their post, page, or template.  See idea here: https://filer.promonorge.no/bLukr7yW

[2021-06-03 06:25] Philipp372 commented on #1701
@Floydtm do you have info if this was fixed already and how it is used?
Thx a lot

[2021-06-03 08:54] dattadsphera commented on #1856
Hi,
I am stepping up to the request!
In Jet Smart Filter The search is limited at the title's post. If I use Jet Search, the research is limited for one field and in any case the result is visible in another page. I want the search for more several parameters together: title, content, taxonomy, custom fields ... The result must will be in combination with the other filters created with Jet Smart F

[2021-06-03 08:56] dattadsphera commented on #1856
**W Relevanssi**, the Author's plugin is ready for the implementation! He tell me that waits only Jet Staff... it's a simply modify

[2021-06-03 09:08] About2git opened #3425 "JetEngine: Make WP Users Filterable With Smart Filters And Custom Taxonomy"
Support said I should open a feature request:

**I would like to have an Archive of User Profiles and have the option to filter the Users based on a custom taxonomy.**

So far I added the Custom taxonomy in the functions.php ([https://github.com/nopio/wordpress_user_taxonomy_tutorial/blob/master/user-category-taxonomy.php](https://github.com/nopio/wordpress_user_taxonomy_tutorial/blob/master/user-

[2021-06-03 09:41] 79ho3ein opened #3426 "2 suggestions for the jet engine plugin.please check"
1- Please add a feature to the Dynamic Field Widget> Title or even Post Summary so that we can give the desired length as a product or post. This feature is currently available in the jet wooobuilder plugin : https://prnt.sc/13u5ft8
2- Please add product or post carousel free mode to this plugin.This feature is also available in jet woobuilder.

thanks

[2021-06-03 09:51] DevDietheR commented on #3420
+1

[2021-06-03 10:09] mrusteberg commented on #3005
this would be awesome to have.

additionally, the provider calendar will ideally sync with a personal calendar like iCloud or Google Calendar. I understand that there's an integration via 3rd party but it would make the workflow significantly easier.

[2021-06-03 10:23] #3426 closed, assigned to nobody

[2021-06-03 10:23] mrusteberg commented on #1904
+1

[2021-06-03 10:50] Lonsdale201 commented on #3420
+1 :)

[2021-06-03 11:30] mrusteberg commented on #1427
+1

[2021-06-03 11:35] mrusteberg commented on #2543
@Floydtm , could this be done through an Integromat integration just like it's in place for JetBookings?

[2021-06-03 11:39] UraraReika commented on #3419
For this you can rewrite widget template. Please contact our support team.

[2021-06-03 11:39] #3419 closed, assigned to nobody

[2021-06-03 11:45] mrusteberg opened #3427 "[JetAppointment] make service provider selection optional or skippable"
For website users that do no know the business or that just want to book the next available slot, it's currently difficult to book an appointment. As such, I suggest that it's possible for an install admin to make provider selection optional (basically if the user has no preference) or to skip it altogether (e.g. if the business doesn't want the user to select the service provider which would e.g.

[2021-06-03 13:00] 79ho3ein commented on #3419
thanks

[2021-06-03 14:32] LukasSleboda opened #3428 "Map repeater listing"
Hi,

I want to ask, if it is possible to add an posibility, to make map listing using repeater field? Now I am preparing traveling web site, where client makes plan using map, and I need to make it as a new custom post type and connect it throw taxonomy or relationship. Better way to make it is make a map listing using repeater.

Thank you
Lukas

[2021-06-03 14:52] paulpsky opened #3429 "Jetwoo builder - additional fields population"
Allow for additional fields to be populated into emails and back end orders.

Currently even the woocommerce default "additional fields" when filled in after payment does not show any record of information inputted within 1) the back end and 2) jet woo styled templates

[2021-06-03 15:05] 79ho3ein commented on #3013
Thank you🌹

[2021-06-03 15:53] nreljed commented on #3423
#3068

[2021-06-03 16:00] YorickChartrain opened #3430 "Room allocationc"
Hi,

Jet Booking system doesn't necessarily allocate rooms in the best way. Sometimes it's not possible to book a room whereas itshould be possible by dispatching room in another way.

An exemple :
Room 25 taken between 5th august and 25th august
Room 26 taken between 3rd july and 26th july
Room 27 taken between 8th july and 26 july

It's however possible to affect differently the rooms to allow t

[2021-06-03 16:00] iluvios commented on #878
Feature still missing :(

[2021-06-03 16:18] Medienor commented on #2697
@Floydtm @SargasTM it's soon 3 months, do you have update on this idea?

[2021-06-03 16:55] JorgeBorda opened #3431 "2 Listings on one Google MapListing"
Hello ...

I want to show  2 diferent listings (of CPT AAAAA AND CPT BBBBBB)  in one MapListing.. Now It is NOT Posible..

it would be possible to implement this facility

A lot of thanks

[2021-06-03 17:16] Rubendj1 commented on #2039
Thit would be a great addition to JetSearch.

[2021-06-03 18:17] stasonua0 commented on #3421
+1

[2021-06-03 18:24] jamsheehan commented on #3411
Needs to have a lot of these features IMO: https://gravitywiz.com/documentation/gravity-forms-file-upload-pro/

[2021-06-03 18:57] moxet commented on #3392
Can't it be done now? Take a meta and change the value after someone purchase successfully, with **dynamic visibility** show only purchased courses.

[2021-06-03 19:17] 79ho3ein opened #3432 "A small request for the jet woobuilder plugin. Please check"
In the product grid widget, there is no space between numbers and percentages : https://prnt.sc/13w9yv2
It will be great if you add a feature so that we can apply the desired distance between the number and the percentage.
This is a very small and insignificant request. But it has an important effect on the user interface.

thanks

[2021-06-03 20:18] MarIseof commented on #3392
No such option in dynamic visibility.

[2021-06-03 20:47] alexandregoveia opened #3433 "Product Page on the post grid builder"
I can't select and access the Product Page on the post grid builder from jetgridbuilder.
How can I make the products accesible?

The product link are available on the Products Loop created at the Shop Template.

https://bit.ly/3wVF01f  - post grid builder
https://cutt.ly/LnxiKYE - product loop

[2021-06-03 21:19] Hammer-ger opened #3434 "jetBooking bug: not possible to book bevore another booking"
i have got a bug in booking.
setting is booking per nights.
after i book e.g. 08.09. to 10.09. it is possible to book 10.09. to 11.09. but it is not possible to book 07.09. to 08.09.
![grafik](https://user-images.githubusercontent.com/66528657/120713355-0fa36c80-c4c2-11eb-8fe9-26b3cc98b4ec.png)

i can choose the 07.09. for checkin, but can not klick on the 08.09. for checkout.
![grafik](https://us

[2021-06-03 21:20] moxet commented on #3392
@MarIseof Explore it, there is option if exists & compare. Mention the meta value, grab it and show

[2021-06-03 22:16] lukechinworth opened #3435 "JetMenu: mega menu mobile does not use wpml current lang menu when logged out"
**Describe the bug**
When logged out and viewing a wpml translation, the mega menu widget uses the translation of the selected menu for the desktop view, but not for the mobile view.

**To Reproduce**
Steps to reproduce the behavior:
1. Install elementor, jet menu, and wpml.
2. Create a wp menu for the base language, and create a wp menu for the secondary language, and for "translation of" select

[2021-06-03 22:16] #2934 closed, assigned to nobody

[2021-06-04 00:44] Lonsdale201 commented on #3425
+1

[2021-06-04 06:04] Rok-fullstack opened #3436 "Add load more functionallity on Product's loop"
Hi there!

The feature I'm requesting is you to add Load more button functionallity on Product's loop.

I've seen that's possible on the JetEngin plugin if I create listing item and then display it on the product's grid, but product's grid is not working the same as product's loop.

If you could add this feature in the future it will be really helpful!

Thanks for your time and help!

RP

[2021-06-04 07:20] UraraReika commented on #3432
You can use this as an example https://gist.github.com/UraraReika/5e944f13d166ec9457698922272197ce to write your own macros with your rules.

[2021-06-04 07:20] #3432 closed, assigned to nobody

[2021-06-04 07:32] SMolodoy commented on #3420
+1 ))

[2021-06-04 07:33] 79ho3ein commented on #3436
+1

[2021-06-04 07:41] 79ho3ein commented on #2974
hi @UraraReika
Excuse me, is it clear when the ability to fully edit payment fields will be added to the plugin? Next update or next updates?
Thank you in advance for your efforts.

[2021-06-04 08:27] githuphub commented on #1754
I have the exact same issue. Sadly still no fix for this.

[2021-06-04 10:39] alexandregoveia commented on #3433
Nobody know how to solve it?

[2021-06-04 13:21] UraraReika commented on #3108
Hello @79ho3ein !

Due to specific render on page we can add controls for styling select2 parts.

[2021-06-04 13:21] #3108 closed, assigned to UraraReika

[2021-06-04 13:32] 79ho3ein commented on #3108
thanks

[2021-06-04 13:32] ghost opened #3437 "MEGA-MENU / Improved Burger Menu on desktop"
I found this burger menu behavior very interesting.
https://www.lausanne-tourisme.ch/

I did almost the same using some tricks with the Mega Menu, but a native feature like this example could be a great addon. Icon transition is also very esthetic.

[2021-06-04 16:41] yerhgogh commented on #3421
+1

[2021-06-04 16:42] yerhgogh commented on #3420
+1

[2021-06-04 17:03] nreljed commented on #3376
I did another test with real estate exemple
I don't know what happened .. now I can see the url search structure of jetsmarfilers which now allows me to use my snippet

[code]
which gives us this
`localhost/mysite/properties/?jsf=jet-engine&tax=property-type:office`
not working

but I notice that jetsmart uses id instead slug and it's not good .. he does not understand my snippet ..

`localhost/my

[2021-06-04 21:24] jamsheehan commented on #3421
Would be amazing if we could upload our own spinners

[2021-06-04 23:10] 79ho3ein commented on #3421
Exactly, for example, using the animation lottie widget elementor plugin.

[2021-06-04 23:25] baitasite commented on #495
Is a greate for business listing website

[2021-06-05 04:34] lifeact commented on #3154
follow

[2021-06-05 04:40] lifeact commented on #3422
follow

[2021-06-05 04:41] lifeact commented on #3421
+1

[2021-06-05 04:42] lifeact commented on #3420
+1  and need  antispam  capcha

[2021-06-05 08:19] Gewerbe commented on #737
Hallo Liebes Team, der Filter läst sich bei Android Handy nicht Öffnen. kennt sich jemand damit aus.

[2021-06-05 17:16] 79ho3ein commented on #361
hi @Floydtm
excuse me... Does jet woobuilder have a plan to add this important feature to the plugin?
thanks

[2021-06-05 17:48] Ko-Bee opened #3438 "Add a clear and fitting title for the feature request"
**Please, describe the feature request, making it clear to understand.**

It would be great to be able to make the tab control section sticky in column (When tab controls are organised vertically on the left) so the tab control items are always visible when scrolling through a long tab content template

[2021-06-05 19:13] 79ho3ein opened #3439 "Display the desired image before fully loading the product images. (jet woobuilder plugin)"
hello
I do not know if I should request this feature from jet woobuilder or woocommerce or even WordPress.
Anyway, I make my request, I hope if possible, jet woobuilder add this feature.

It would be great if we could select an image to be displayed to the user before the product image is fully loaded.This feature makes the user not tired of waiting for the full image of the product to load.
Of co

[2021-06-05 22:59] mali78611 commented on #3296
Exactly!
Now, this is what I have requested as well, they have made it possible on their smart search filters but nowhere else.
Hierarchal search system should be on the forms most importantly, in this case, the province of Barcelona would show towns and postal codes of that province.

[2021-06-05 23:43] DevDietheR commented on #3439
Basically fallback image :), Good request  +1
but much better if they put a loading bar on their ajax loading

[2021-06-05 23:45] DevDietheR commented on #3421
+1

[2021-06-06 01:12] 79ho3ein opened #3440 "A request to improve the free mode feature.(jet woobuilder plugin)"
If I am not mistaken, I have made this request once before. But I repeat this request to remind you again.
With the addition of the free mode feature, the old navigation points are obsolete. This means that if we use the old navigation points for free mode, it will not be interesting at all. And also the method is not up to date. https://prnt.sc/14a7hi7
I have reviewed many sites that use free med

[2021-06-06 04:07] alexandregoveia commented on #3433
???

[2021-06-06 14:02] its4youb commented on #2131
Hello Crocoblock team, is there something ready or in development to make a relation between Users and CPT?
It functionally will be very welcome, please, could you focus on finding a solution for us?

[2021-06-06 14:11] its4youb opened #3441 "Make a relation User to CPT - one to many or many to many"
Hello Crocoblock team, is there something ready or in development to make a relation between Users and CPT?

It functionally will be very welcome, please, could you focus on finding a solution for us?

Example One to Many:

Parent CPT => House

Childreen ==> Users

So many users could be in a same House.

I know that I can create a CPT User and make the relation, but in this case, it is not possib

[2021-06-06 14:21] its4youb commented on #3441
Need it too +1

[2021-06-06 14:21] its4youb commented on #3406
Need it too +1

[2021-06-06 19:49] Rubendj1 opened #3442 "Autofocus JetSearch on pageload/popup open"
I would like to Autofocus JetSearch on pageload/popup open.

[2021-06-06 22:27] nreljed opened #3443 "🔥[Jetengine] Listing grid exclude by author"
![Plan de travail – 1](https://user-images.githubusercontent.com/82481592/120942117-036c1900-c727-11eb-8366-dfdd5563b754.png)

for specific reasons i have a need to create a listing and exclude current user posts and see all other users' posts.
**macros> exlude current user ID.**
as listing grid does not have this option (yet?)
so I said let's use the new query builder...
great idea ? no ! very ba

[2021-06-07 00:53] mjagger88 opened #3444 "Jet Engine: Map Listing - change marker clustering colours"
I have just created a new map listing, it's a greyscale styling, matches the rest of the website - looking great.
I enable Marker Clustering and then the clusters are bright Red, Blue and Yellow - completely looking out of place on the website!
It would be great to be able to customise the cluster colours and even their size & shape to better match website themes.

Thanks

[2021-06-07 06:23] UraraReika commented on #3439
Fore sure your images is lazy loaded in this case plugin that you use should give you an opportunity to handle this issue. For example if you use Smush – Lazy Load Images, Optimize & Compress Images than you can do this https://monosnap.com/file/r5lFLAUdc0kJHirX7aSDkChpvGoDxp.

[2021-06-07 06:23] #3439 closed, assigned to nobody

[2021-06-07 06:44] PatriceFo opened #3445 "Add an oEmbed field to jet engine to manage and display url content back and front"
Add an oEmbed field to provide a component for embedding videos, images, tweets, audio, and other content and display it on backend and frontend of wordpress.
Exemple where to find it :  It's a classical field in ACF.
It seems thta today you only gave a way to make this on front end using texte aera for container on back end and a dynamic field on front.

[2021-06-07 07:23] UraraReika commented on #3239
Hello @flyartcom !

In the next release we will add this hook `jet-woo-builder/shortcodes/jet-woo-categories/categories-list` so you can use it to display random categories like this:

[code]

[2021-06-07 07:26] tquoctuan97 commented on #3300
I have same issue

[2021-06-07 09:44] kaskad88 commented on #3423
Fix for the next version. Thanks for your report!

[2021-06-07 09:44] #3423 closed, assigned to kaskad88

[2021-06-07 10:00] 79ho3ein opened #3446 "Please add a query to the product carousel widget, so that we can show WooCommerce products offered to users.jet woobuilder plugin"
hello
This is a very important offer in the WooCommerce framework.That jet woobuilder is severely lacking.
Offer Description :
When inserting a product, WooCommerce has a section where we can select products as the suggested products of the product we insert.https://prnt.sc/14ibe47
For example, when a user enters the iphone 12 single product page, they see that we have provided frames, airpods and

[2021-06-07 10:28] kaskad88 commented on #3068
Fix for the next version. Thanks for your report!

[2021-06-07 10:28] #3068 closed, assigned to kaskad88

[2021-06-07 11:41] UraraReika commented on #3446
If you use Product Grid widget on single product template some additional options appears https://i.gyazo.com/7b36648c0be2243652d2d83eb0c7dbb5.png

[2021-06-07 11:41] #3446 closed, assigned to nobody

[2021-06-07 11:45] UraraReika commented on #3440
We provide this hook apply_filters( 'jet-woo-builder/tools/carousel/options', $options, $settings ) so you can add whatever you want slider feature. And here is carousel API https://swiperjs.com/swiper-api

[2021-06-07 11:45] #3440 closed, assigned to nobody

[2021-06-07 11:49] 79ho3ein commented on #3446
@UraraReika
This is exactly what I wanted.
You are truly unique. thank you.🌹🌹🌹🌹🌹

[2021-06-07 11:58] 79ho3ein commented on #3440
@UraraReika
That is, it will be added in future updates?

[2021-06-07 12:59] UraraReika commented on #3440
You can use it already

[2021-06-07 13:41] kaskad88 commented on #3310
Fixed for the next version. Thanks for your report!

[2021-06-07 13:41] #3310 closed, assigned to kaskad88

[2021-06-07 13:51] 79ho3ein opened #3447 "A suggestion for the carousel flash box product of the jet woobuilder plugin"
https://prnt.sc/14j9jt9
Great if you remove the padding, And changing the amount of padding makes the flash box only square, and that's not interesting.
My suggestion is to remove the padding, and add the width and height values ​​instead.
Please review this request.

Thanks

[2021-06-07 14:03] 79ho3ein opened #3448 "Please add the z-index feature for the jet woobuilder plugin discount medal."
The z-index feature is very important for the discount medal.Because in the current situation, this medal can not be placed in the desired position.
For example, we can not display the medal in this section : https://prnt.sc/14jbbd5
Because as you can see in the picture, if we bring it down, it goes under the title and price and can no longer be displayed : https://prnt.sc/14jbq2i
With the additio

[2021-06-07 14:29] UraraReika commented on #3447
Hello @79ho3ein !

I already describe how to achieve desirable results with next release here https://github.com/Crocoblock/suggestions/issues/3102 so please be patient

[2021-06-07 14:29] #3447 closed, assigned to nobody

[2021-06-07 14:34] UraraReika commented on #3448
There is no need in z-index. Discount badge render in item-thumb template of Products Grid so that is why it looks like this. You can solve it by rewriting templates and put this badge whatever you want.

[2021-06-07 14:34] #3448 closed, assigned to nobody

[2021-06-07 15:17] flyartcom commented on #3239
Hello Oleksandr

Thanks for the good news!
Will I have to use a php snippet like shown below or will this be integrated in the query section of the category grid?

Thanks,
Pascal

[2021-06-07 16:13] UraraReika commented on #3239
You will have to use this snippet.

[2021-06-07 16:29] 79ho3ein commented on #3447
@UraraReika
Sorry, I did not see # 3102.
thank you

[2021-06-07 16:32] 79ho3ein commented on #3448
rewriting templates?
I mean do I have to code?

[2021-06-07 17:45] UraraReika commented on #3448
Not much but yes. You can contact our support team so them can help you.

[2021-06-07 17:59] 79ho3ein commented on #3448
Okay,thank you

[2021-06-07 18:53] Gitmarcc commented on #1730
Hi, what if I want to display a dynamic gallery instead of just text inside the tab? https://prnt.sc/14kjry5
I'm only been able to get the img IDs. https://prnt.sc/14kk3c3
Any advice?

[2021-06-07 19:08] ChrisDag21 opened #3449 "Export Appointments as CSV for JetAppointment"
Exporting the appointments in CSV format is important for some clients as they want to either upload to their accounting software or use the file in Excel/Sheets, again for accounting reasons.

[2021-06-07 20:58] 79ho3ein commented on #3448
Excuse me, I had a question for you dear developer, about the jet woobuilder plugin ...
I already had some important requests from you to improve this plugin, such as displaying the remaining time of the special sale : https://prnt.sc/14l2v7 And you said that : https://prnt.sc/14l3vfj
I wanted to ask you if this limitation exists forever, or if we can soon see such capabilities in jet woobuilder?

[2021-06-07 21:51] #1614 closed

[2021-06-08 00:25] Lonsdale201 opened #3450 "Custom Content type - Bad redirect with jetpopup"
With the CCT + Jetpopup, in the jetengine form redirect option - current page, not working, redirect always the home page

**Reproduct**

Jetpopup settinged with the JetEngine form with ajax, or reload submit type whatever, results the same.
In the jetengine form settinged the redirect option with the  current page method.
Place a trigger widget in the single cpt template(global epro).

[2021-06-08 03:41] xC4M opened #3451 "Update cart after quantity changes JetWooBuilder"
Hi there.

Please add in a next release the possibility to update the cart after quantity change. While designing the Cart Page using JetWooBuilder it has a toggle to hide the "update cart button" but it's missing the automatic update cart after a quantity change. If you give me the ability to hide it, then you could also give us the ability after hiding it, the cart's total could change after a p

[2021-06-08 04:37] ALPSIT commented on #389
This doesn't work for Custom Content Types. Only for Posts.

Why can't an option be put in place to randomise the order of Custom Content Types? Much needed when there are 10s-100s of items that we'd like to display at random.

Please implement!

[2021-06-08 04:55] 79ho3ein commented on #3451
+1

[2021-06-08 05:39] 79ho3ein opened #3452 "Please remove the extra price from the single page product of the jet woobuilder plugin."
In variable products, after the user selects the variable, another price is displayed to the user, which does not have a suitable user interface at all.
My suggestion is to please delete the price that is displayed after selecting the variable. https://prnt.sc/14nm767
It would be great if the previous price was updated after selecting the variable product. https://prnt.sc/14nmnwi
This will be exce

[2021-06-08 06:03] junior-maker commented on #1701
https://www.youtube.com/watch?v=crkzY73iqGE

[2021-06-08 06:04] junior-maker commented on #1701
solution to this problem: https://www.youtube.com/watch?v=crkzY73iqGE

[2021-06-08 06:07] junior-maker commented on #2371
the solution to the problem is here: https://www.youtube.com/watch?v=crkzY73iqGE

[2021-06-08 06:32] yerhgogh commented on #2529
+1

[2021-06-08 06:38] UraraReika commented on #3451
Sorry but we will not implement this functionality but you can use this article https://rudrastyh.com/woocommerce/remove-update-cart-button.html to handle your needs

[2021-06-08 06:38] #3451 closed, assigned to nobody

[2021-06-08 07:29] UraraReika commented on #3452
Once again we will not implement this optionally but you can use this snippet:

[code]

If you have some difficulties then contact our support team.

[2021-06-08 07:29] #3452 closed, assigned to nobody

[2021-06-08 07:49] aksamitnaya opened #3453 "JetBooking: enter a manual booking"
For example, a booking is made on AirBnB, you (administrator) need to be able to manually block off those dates.

[2021-06-08 08:13] Jescaro opened #3454 "Add Product description (the long one) to dynamic visibility options inside JetEngine"
I would really like to see the option to select a product description as a field inside of the Dynamic Visibility tab within the JetEngine plugin. Currently, there is only the option to select to product excerpt/product short description, but that alone is not enough.

It would be great if this long description could be added, so we can hide/show the widgets belonging to this product description (

[2021-06-08 09:17] laura-brrth opened #3455 "JetBooking - Implementing seasonal price changes"
When renting a property, the price of the property to rent often changes with seasons. (In summer the price for a holiday home might be higher as in winter)
It would be really helpful if we would be able to implement those price changes directly into the price calculation, in the same way as it is already possible to change the price if a person books an determined beforehand amount of days.

[2021-06-08 11:04] esalonico opened #3456 "JetEngine Listing Grid "load more" and "infinite scroll" not working with WPML"
**Describe the bug**
As you can see on the page https://italianwatchspotter.com/tutti-gli-articoli/, when scrolling down the page and therefore triggering the Listing Grid infinite scroll, the articles that show up are both in Italian and English (website built with WPML).

**To Reproduce**
See internal ticket https://support.crocoblock.com/support/tickets/33514

**Expected behavior**
The articles

[2021-06-08 11:25] kaskad88 commented on #3456
Hi @esalonico. Please check if the following option https://prnt.sc/14p4rfv is enabled in the WPML settings

[2021-06-08 11:51] BioJimmy commented on #2919
Totally agree! If you don't support multiple product variation images yourself, PLEASE provide a solution to make it work with other plugins (e.g. Additional Variation Images Gallery for WC (by Emran Ahmed)

[2021-06-08 11:55] esalonico commented on #3456
Yes, the option was enabled. I tried to disable it and enable it again but the problem is still there

[2021-06-08 12:01] bart-prosite opened #3457 "Dynamic Terms Widget: order by parent + ability to show Term Meta Fields"
### First issue:
If you use the listing grid and edit the Terms Query there is an option to select the sort order of the terms.
You get a lot of options.

It would be great if these options (especially the "parent" one) could be added to the Dynamic Terms Widget as well.
I have a location based terminology that is set up like this

Africa
-- Burkina Faso
-- Mali
...
South America
-- Argentina
-- C

[2021-06-08 12:06] esalonico commented on #3456
@kaskad88 please wait, I am in contact with the editor of the website and they are telling me that they changes some settings in the WMPL config and in the single articles, I will let you know if tweaking them back solves the issue.

[2021-06-08 13:47] pacochin88 opened #3458 "Ability to import data to CPT via CSV file upload"
Hi,
This feature is to allow user to populate the Website powered by Jet Engine CPT and custom fields, so that instead of loading data one by one, it will be very helpful to import data using a CSV format.

Thanks

[2021-06-08 14:09] esalonico commented on #3456
Nevermind, the problem is still there. @kaskad88 please let me know if I can help you troubleshoot it in any way. Thanks

[2021-06-08 15:42] ozguraltuntas opened #3459 "Vertical menu first menu item comes with selected"
Hi

This company's (www.junglescout.com) The products menu's vertical menu first item comes with selected by default, it is beautiful, we need this feature in JetMenu.

thank you

[2021-06-08 18:02] flipcreative commented on #2094
Did you ever find a solution for this? We're working with a massive CSV import and we desperately need to find a solution for importing relationship data.

[2021-06-08 18:10] nreljed commented on #3443
after further investigation, apart the missing option to exclude authors in listing grid.
jetsmartfilters does not support the new query builder, he refuses to filter as long as there is a custom query.

[2021-06-08 19:14] Topicimes opened #3460 "JetAppointment - Possibility to manage appointments, schedules, prices, from the front-end for each provider"
Hello !

First of all, congratulations for the development of your plugins. They are very efficient. However, in my opinion, your appointment booking plugin is missing a crucial element, the ability to manage all this from the front-end.

Let me explain. I was currently creating a booking site. This site will have thousands of providers each with different offers. It would be necessary that each p

[2021-06-09 01:16] 79ho3ein opened #3461 "Report a bug in the medal grid section of the product grid of the jet woobuilder plugin.plesase check"
hi...
1- When we determine the desired width and height for the medal, it does not have a pleasant result.
As you can see in this image, I set the minimum width to 35, but the medal text is on the left by default. While it should be in the middle : https://prnt.sc/14spq9y

2- As you can see in the picture, I set the medal height to 0, but the medal height is not less than it is. This is not standa

[2021-06-09 01:58] alexandregoveia commented on #1890
How I can display countdown weeks from a date?

I've used Human readable time difference, but it displays months instead weeks.

[2021-06-09 04:48] lifeact commented on #2805
with JetThemeCore, support header, footer, content, section, page, post, archive, product archive and all other theme parts.
---
its will be greate.

[2021-06-09 06:25] 1101blueli commented on #2094
This is the only plugin I have found that could do the job, but you need to ask them to create an addon for you. They said they can do it.
https://wordpress.org/plugins/wp-ultimate-csv-importer/

[2021-06-09 08:11] humanwebs commented on #2355
Hi guys, I know there is no set milestones and no development to achieve this topic but I also bought JetPlugins to develop a house booking website and it makes no sense to do it if I can't sync with third-party booking sites.. My client's web page can't compite against booking.com or AirBnb in terms of users and searches. And offering a registration form in the client's web page that doesn't sync

[2021-06-09 09:04] necdetemre commented on #2515
+1 for the ability to set dynamic visibility of repeater fields

[2021-06-09 10:32] kochhase commented on #3441
Yes and please have a look at the other "user" problems we have for several month.

https://github.com/Crocoblock/suggestions/issues/2110

https://github.com/Crocoblock/suggestions/issues/2131

https://github.com/Crocoblock/suggestions/issues/2222

https://github.com/Crocoblock/suggestions/issues/2226

https://github.com/Crocoblock/suggestions/issues/2390

https://github.com/Crocoblock/suggestions

[2021-06-09 12:52] creativeart commented on #44
+1

[2021-06-09 13:52] DmitryBychenko opened #3462 "Jet Woo Builder - Add ability to edit FORMS on checkout page. Hide / delete, reorder, rename fields"
There was an issue on my website, and one of your specialists (ticket #34486) told me there is no compatibility with Crocoblock and Checkout Field Editor for WooCommerce (by ThemeHigh).

Im sure you know this is highly used feature.

Please add compatibility with this or similar plugins, or better add this feature into Jet Woo Builder.

[2021-06-09 14:20] UraraReika commented on #3462
I merged this issue with #2974, which is on the same subject so we could deal with it more efficiently.

[2021-06-09 14:20] #3462 closed, assigned to nobody

[2021-06-09 14:20] kaskad88 commented on #3456
Hi, @esalonico. You can see the solution in in https://support.crocoblock.com/support/tickets/33514

[2021-06-09 14:20] #3456 closed, assigned to kaskad88

[2021-06-09 16:16] jpfrancois2021 commented on #3460
Hello!

I am also joining this request since I already sent a ticket related to this "main" issue and I was informed by the support team that this was actually "not possible".

As @Louisjdv mentioned why do we need to have service/provider and assign appointment to providers if such providers can't manage their own schedules such as planning, service, time, price etc.??

When dealing with director

[2021-06-09 16:24] Topicimes commented on #3460
Thank you for your very complete answer. I totally agree with you. If the subscription price has to increase, increase it, it is not expensive with the all-inclusive version, however as you say, this feature should be provided as standard.

[2021-06-09 16:35] TomBarker123 opened #3463 "JetEngine: CCT/CPT - prevent edits to the 'Name/ID' value when editing meta fields"
When editing a specfic Meta Field within a CCT, JetEngine currently allows you to edit the 'Name/ID', which is the column name for the field in the database.

If you change the value of the 'Name/ID' field, JetEngine appears to create a new database column with the newly specified name and deletes the old column and its data, rather than updating the original column name and retaining all of the d

[2021-06-09 18:03] marcoscioni opened #3464 "CPT and Conditional Logic"
It would be interesting to implement the logical functions of visualization of the meta fields by extending the possibility to hide the tabs as well, just as it is possible to do in the ACF plugin.
In this way you can significantly shorten the entries on Post Type with variables such as the number of Stages of a Bike Tour
Regards, Marco

[2021-06-09 21:03] hum-bug commented on #3372
Another option could be to add the option to put in the raw SQL code and insert dynamic variables. This would be a really powerful feature as would be easy to get custom data and then use Crocoblock listing grid to display it nicely without much work.

[2021-06-09 22:59] nreljed opened #3465 "🔥[Jetsmartfilters] go to the next level"
hello friends,

I would like to express some concerns about jetsmartfilters and its future against its competitors.

Perhaps at the time of writing this message, the developers are already working on these improvements.
I have 4 expectations for this plugin  :)

- [ ] php hooks
- [ ] speed and performance
- [x] autoindex filters
- [ ] future of jetsmart

before starting I want to expose my simple

[2021-06-09 23:38] nreljed commented on #1159
#3465

[2021-06-09 23:45] DevDietheR commented on #3465
+1

[2021-06-10 00:46] rchen9012 opened #3466 "Jetmenu wpml mobile menu not switching language"
when using mega menu with wpml, language switching for desktop works but mobile menu does not

Steps to reproduce the behavior:
1. setup 2 languages
2. translate menu
3. add menu to mega menu widget and add language switcher
4. mobile browser switch language, always show base language menu

[2021-06-10 01:17] 79ho3ein commented on #3465
+1

[2021-06-10 03:56] vubaict opened #3467 "Function to send email notifications when booking status changes"
I want when I change the booking status in Appointments, there will be an email to notify the customer. For example, when you cancel an order, the customer will also receive an email informing the booking status

[2021-06-10 08:38] zaheen opened #3468 "Add 'Buy Now' button and 'Swatches' option to variable products"
**Add 'Buy Now' button and 'Swatches' option to variable products.**

If you already don't have "BUY NOW" feature and "Color Swatches" for variable products, I think it will be a good feature to add to your WooBuilder plugin.

[2021-06-10 09:17] Emoncht commented on #2095
Have you solved the problem? i am facing the same error with martfury theme

[2021-06-10 09:22] tooweb opened #3469 "Will the search functionality of the "Smart Filters" plugin evolve?"
There is no possibility in the "search" widget of the "Smart Filters" plugin, the ability to search by categories + custom fields. At the moment, the search is carried out either only by the titles of the posts or by a certain arbitrary field, which makes the functionality of this widget almost useless. Hopefully the developers will see my request and make the functionality worthy of the name of t

[2021-06-10 12:49] jpfrancois2021 commented on #3460
I guess same features are requested in #2189 (1 year ago), #1873 (nearly 1 year) and #983 (more than a year). All these are related to the same features, give the possibility for each provider to manage their own availabilities, price etc. and without these features, this plugin/addon is somehow useless!

[2021-06-10 16:28] nreljed opened #3470 "🔥[Jetengine] ability to export glossaries and query builder and forms"
![Groupe 4155](https://user-images.githubusercontent.com/82481592/121561833-26dddf00-ca19-11eb-8af3-f3d5dafff8a9.jpg)

for the moment I don't have a lot of glossaries and query builder but it will be very very delicate and complicated soon not to be able to export them to my fresh install

Additional informations

to avoid creating another post I also just noticed that the export of forms is very

[2021-06-10 16:59] MathiasVignes commented on #3465
+1

[2021-06-10 18:29] pxmjc commented on #697
Hi, I have a checkbox inside a repeater, but I can't find the macros to show the results of the checkbox, it only shows me array, someone could help me please.

[2021-06-10 18:34] pxmjc commented on #1751
hi, i have the same problem, did you manage to fix it?

[2021-06-10 18:52] jeffreysfridge commented on #2321
I would also like an option to disable JetMenu's font awesome library and just use the pro one I loaded in with Elementor.

[2021-06-10 19:50] sciam-digitalmedien opened #3471 "Script Loading Map Listing and GDPR"
**Describe the bug**
To be precise: The issue is somhow between a bug and and improvement of service due to GDPR regulations

**To Reproduce**
Steps to reproduce the behavior:
1. To comply with GDPR we have to block all third party requests prior to user consent.
2. We therefore use Borlabs Cookies on all our clients' sites where content or scripts have to be blocked and consent to the loading has

[2021-06-10 21:29] 79ho3ein commented on #3468
+1
Yes, exactly. They are very important, especially the Swatches feature.
I do not understand what you mean to buy now. Can you explain more?

[2021-06-10 21:36] 79ho3ein commented on #2407
+1

[2021-06-10 23:34] 79ho3ein opened #3472 "Please add the ability to transfer unavailable products at the bottom of the list in jet woobuilder plugin."
It would be great if you could add a feature to the jet woobuilder plugin, especially the product grid widget, so that we can move out of  products to the bottom of the list.This feature is extremely important.
Of course, this feature will be useful when we have used the product grid widget to display the product archive.
If you are careful, all major online stores used this feature.
This feature

[2021-06-11 03:13] xC4M commented on #3451
Thanks for the article. It works... but only when the "Update cart" button is visible. When you hide it using CSS or the option to hide it which is integrated in the Cart Widget (JetWooBuilder), it doesn't work... :(

You should re-think to add this function.

[2021-06-11 06:21] ghost opened #3473 "Sorting taxonomies on Form"
This is a request when creating a Form using JetEngine's Form Widget. If you specify Filed Type as select or CheckBox or Radio in Form field, specify Fill options Form as terms, and then create a Form, you cannot order or sort the terms. When the user selects the corresponding item in the Form, the order in which they are displayed is random and very difficult to find. It would be very helpful to

[2021-06-11 06:29] UraraReika commented on #3451
Please contact our support team.

[2021-06-11 06:30] JuliaKiselyova commented on #1751
Hi:)

You need to create a checkbox field http://i.prntscr.com/jTFC94rXQpeUDYsZoGYZ7g.png
Every checkbox field should be saved as an array https://prnt.sc/zugc2o
Please note, if you already created the posts with the checkbox fields checked, you need to check the values one more time and resave the posts, so the data will be saved in the database

After that, you can use the dynamic repeater and t

[2021-06-11 06:39] UraraReika commented on #3472
I am not sure if  I understand your request right so please describe on more details.

[2021-06-11 09:30] About2git commented on #3471
I experienced the very same problem…

I think Team Croco can also reach out to https://borlabs.io/borlabs-cookie/ https://borlabs.io/contact/ and they are willing to help / point you in the right direction.

**For the Script Blocker I used this:**

jet-engine-frontend, jet-engine-google-maps-api, jet-maps-listings, jet-markerclustererplus, jet-search, jet-smart-filters

+ the urls you send above.

[2021-06-11 09:40] BorjaVergara opened #3474 "Jet Engine Form link data to Elementor Submissions."
Hi,

It would be great for the next updates to have the chance of saving all the submissions on the Elementors submission pannel.
Thanks in advance,

[2021-06-11 15:37] lgpguga commented on #1968
Hi, I have the same error now after Elementor Pro 3.30 update.
"Call to a member function get_main_id() on null in wp-content/plugins/elementor-pro/core/utils.php:72"
It shows after I Enable "Loading content with Ajax" option
Please help us!
My Web app is not offline because of it

[2021-06-11 15:45] 79ho3ein commented on #3472
@UraraReika
Yes, Sure...
I saw this feature in several large store sites, which was very interesting and useful.
On these websites, products with inventory of 0 were at the bottom of the product archive.
For example, suppose the stock of 3 products in our store is exhausted. If we use this feature, these 3 products will automatically be at the bottom of the product archive. They are located exactl

[2021-06-11 16:16] 79ho3ein opened #3475 "Please add a feature to the jet woobuilder plugin so that I can show users the number of sales of each product."
I saw one of the store websites created with WooCommerce, which shows the number of sales of each product to users.
This image shows : http://i.prntscr.com/m3Ac_po5ToCI98ASje-MTg.png
This feature caught my attention a lot.Because it is extremely practical and greatly increases the conversion rate.
It would be great if you could add this feature to the Jet woobuilder plugin. This is not a request o

[2021-06-12 08:56] TODO4EVER commented on #3460
The more time you spend with jetappointments the more you realize how lacking it is. It is even more important to have appointments shown to each provider separately. Currently you can't do that which is mind boggling.
The premise of this plugin is amazing, but yeah, it is severely lacking. Stopped using it.

[2021-06-12 08:58] TODO4EVER commented on #3468
I don't think they will be providing swatches anytime soon because they already have a guide advertising another plugin for swatches... I hope they include it, I really do, but I don't have much hope for it.

[2021-06-12 08:58] Topicimes commented on #3460
Which plugin do you use? I've seen "LatePoint" which looks good?

[2021-06-12 09:03] TODO4EVER commented on #3460
I am currently toying with Amelia but it is frustrating to deal with too, that's why I really really want Jetappointments to improve these issues, like you have complete freedom to do whatever you want, I wish they just give the plugin some attention, few dedicated months and it will be amazing...

I didn't know about LatePoint, will check it, thanks for the suggestion!

[2021-06-12 09:05] Topicimes commented on #3460
Yes Amelia is very frustrating I grant you. In any case the best solution would be an improvement of the crocoblock plugin, we only want that!

[2021-06-12 09:07] TODO4EVER commented on #3460
hopefully they will work on it, I was quiet happy with the backend appointments overhaul, good step! hopefully they will keep giving it some love.

[2021-06-12 11:12] 79ho3ein commented on #3421
I think this spinner should be similar to the spinner of the jet search plugin.
Because two different spinners do not look interesting on one site. Of course, I do not know if you also use the jet search plugin or not.
I have already submitted a request to change the jet search plugin spinner. They replied that we have no plans for that at the moment.

[2021-06-12 14:39] ArekZw opened #3476 "Relationship fields & relationship table"
1. Relationship fields
It's handy feature to record save meta information about a relationship.

For example:
People <--- many to many ---> Teams
Meta info:
- Role
- Permissions (multiselect)
- Date of joining

2. Separate relationship table
This has obvious performance benefits compared to post_meta searches and allows you to easily add relationship fields.

1&2 Also allows for more advanced and

[2021-06-12 23:31] keet789 commented on #2781
+1! ヽ(`Д´)ﾉ Same issue here, JerReview can not display the user picture from the meta box field, which makes no sense to me. There is an option to not show the review author avatar, which is what I have to do for now, but it would be so much better to show the avatar. I hope this issue can be solved.

[2021-06-13 02:22] Elsteck commented on #2360
+1

[2021-06-13 08:25] yaron86 opened #3477 "dynamic visibility and listing does not work together"
i want to add inside a listing a dynamic visibility image that will show only on specific category, so i made:

1. show element if condition is met
2. contains - post terms with the slug value

but the issue is in the post terms when clicking the wrench icon, there is no option to choose the cpu because this dynamic visibility is being used under the listing.  when i try doing this on a regular ar

[2021-06-13 08:58] yaron86 commented on #3477
seems that a small refresh fix this issue.

[2021-06-13 22:44] kamyabnazari commented on #1744
+1 this is a bit sad. It is now June and still nothing.

[2021-06-14 06:40] shashikant-rohit opened #3478 "Hide/Remove Out of Stock Products in Products Grid Widget (Carousel)"
Hi Team,

I had a chat with your support executive & asked them about removing out of stock products in the carousel of products grid widget. But unfortunately I have got a revert that this option is not available currently.

Request you to kindly consider this as a feature request & develop the same in the upcoming releases.

Currently when we add products in the Products Grid widget & convert th

[2021-06-14 11:29] 79ho3ein commented on #3475
@UraraReika
Thank you
Please add this feature to the plugin if possible.
It will be extremely practical and excellent.

[2021-06-14 11:37] UraraReika commented on #3478
Hello @shashikant-rohit !

Right now you can use this option https://i.gyazo.com/bba13c8f1f5c7a5245c9128ed8db3301.png in Woocommerce -> Settings -> Products -> Inventory. We will consider about your issue and add as separate control for product widgets.

[2021-06-14 11:40] shashikant-rohit commented on #3478
Hi,

Please read the requirement carefully.

You are suggesting me to hide the products on overall website. But I wanted
to only hide it on front page.

That option is already known since long.

On Mon, Jun 14, 2021, 5:08 PM Oleksandr Rudyi ***@***.***>
wrote:

[2021-06-14 12:43] RumenGeorgieff opened #3479 "Add a title of the repeater group when is folded"
It would be very nice if you make first field of a repeater group to be the title for the group when it's folded. For example: I want to create group of repeater fields for members, that include fields like: name, position, picture, description and etc. When I add 10-20 members, the page is getting pretty long because the group of every member is open. The problem is that if I folded the groups of

[2021-06-14 12:48] DevDietheR commented on #3475
+1

[2021-06-14 13:13] RumenGeorgieff commented on #3479
Here is a live example: I'm creating a website for a hospital which have several clinics and every clinic have different team of medics. I'm using repeater to add the medics. Everyone of them have name and description. This clinic have team of 34 medics. Look the page length when all repeater groups are unfolded (whic is the default state). Now check when they are folded. It's better but then if I

[2021-06-14 14:12] jpfrancois2021 commented on #3460
As far as I know Amelia and LatePoint don't have multi provider option neither, the only one which might be useful is Booknetic (The Saas version) but I haven't tried it yet as the Saas version is very expensive ($489) and I am still reviewing to see if there are other options, that is why I purchase a subscription for Crocoblock but now after investing in Crocoblock, since the Crocoblock authors

[2021-06-14 16:36] 79ho3ein commented on #3478
+1

[2021-06-14 18:45] 79ho3ein opened #3480 "Difficulty displaying discount percentages on variable products. (jet woobuilder plugin)"
Hello
If I am not mistaken, I have already submitted a request in this regard. But this time I will state my intention more clearly.I hope I can convince you dear developers to solve this problem.
If we give a special sale price for products that are variable, the product discount percentage is displayed as a range, which is not interesting at all. https://prnt.sc/15ex4zr
For example, if we have a

[2021-06-14 18:49] bennybersier commented on #2388
+1
This is a very useful function specially when trying to build a members dashboard

[2021-06-14 18:50] vwille76 commented on #2380
Hi did you find a solution ?

[2021-06-14 19:06] juliebarcelino commented on #2380
Hi, it doesn't seem like there's been any update from Crocoblock on this issue, unfortunately. Our solution right now is we've had to use an alternative filtering plugin for the time being while waiting for the fix from Crocoblock, not sure if it would be appropriate to mention it here though.

[2021-06-14 22:02] jamsheehan opened #3481 "JetEngine: Add path variable support within API Endpoints"
It would be amazing if the JetEngine API could have definable parameters for Path Variables that we could use within the URL string that could be passed through the API. In my scenario I have a client who needs to get a list of users from their API in a structure similar to below:

[code]

So users are in groups within a specific custom post type and they have different views and permissions based

[2021-06-14 22:24] hynesight commented on #2784
It seems such an obvious progression for the tool and whilst I have no idea of the complexity for enabling this sort of feature into the Jet Engine platform, it just makes sense.

[2021-06-14 22:24] jamsheehan opened #3482 "JetEngine: Ability to store Cache API results locally"
The REST API Endpoints functionality is a powerful piece of kit, however if you want to query the results to combine them with your local results you are quite limited.

Let's say we have a client who has an API with their users details who were exported from their WP site, and managed some information externally to WordPress. So we can pull the data in, but we can't put it anywhere (using just Je

[2021-06-14 22:26] hynesight opened #3483 "API Bearer Token"
The API feature needs additional methods of authorization including Bearer Token given so many endpoints require Bearer Tokens. I'd like to see this on the roadmap to enable a much larger range of API calls for adding data functionality to our sites.

[2021-06-14 22:55] DevDietheR commented on #2388
+1

[2021-06-15 02:13] vwille76 commented on #2380
thanks a lot for the swift reply. I hope i can find a solution . Have a nice day : )

[2021-06-15 02:46] hakerdesign opened #3484 "Duplicate post from front end"
please add a feature  where memeber will be Abel to duplicate their post form front end In membeer area post list.
 Right now they can edit their post and delete it but there is no way to duplicate iy
thanks

[2021-06-15 06:16] UraraReika commented on #3480
Hello @79ho3ein !

If you already wrote about it then we answered. Use this code snippet https://gist.github.com/UraraReika/5e944f13d166ec9457698922272197ce which add more macros to sale badge functionality and you can display min or max discount percentage. If you feel difficult with this please contact our support team.

[2021-06-15 06:16] #3480 closed, assigned to nobody

[2021-06-15 08:59] pgirzalsky opened #3485 "Change url structure of the pagination widget"
I want to be able change the url structure set by the pagination widget.
For example
https://lendis.io/magazin/kategorie/office-life/?jsf=jet-engine:current_category&pagenum=2
should simply be
https://lendis.io/magazin/kategorie/office-life/page/2
like it does with Elementor's native post widget if you enable pagination there.

An example with Elementor's native widget can be found here:
https://l

[2021-06-15 10:03] mulssoni commented on #2436
Amen

[2021-06-15 10:53] 79ho3ein opened #3486 "There are two important bugs in the jet smart filters plugin. Please check."
hello @Floydtm
Thank you for your attention to our reports and suggestions...
There are some small bugs in the jet smart filter plugin update, please fix it. Because it has severely affected the user interface.

1- In all filters, the options are almost stuck together and we can not put a space between them : https://prnt.sc/15hnkfc
As you can see in the image, the distance between the color, the

[2021-06-15 12:03] 79ho3ein commented on #3272
dear @Floydtm
This bug was fixed in the new version. I close this request so that there is no interference.
Thank you very much for your attention to the requests.

[2021-06-15 12:03] #3272 closed, assigned to SargasTM

[2021-06-15 12:06] danekoenders opened #3487 "Option to remove whole element/multiple css classes when products are not found within a product grid. [JetWooBuilder]"
When you pick a product grid element from JetWooBuilder and you use the option "Recently viewed" in the query. It gives you the option to pick a message that will be shown when the customer hasn't viewed any recently products yet. This can be quite annoying since you don't want to show that on your store's front page is it doesn't recommend any products. So It would be cool to get a feature to rem

[2021-06-15 12:14] 79ho3ein commented on #3480
dear @UraraReika
I used this code but this problem still exists. https://prnt.sc/15hxhh9

[2021-06-15 12:17] 79ho3ein commented on #3487
@DutchDane
Yes, unfortunately this problem exists for me as well. Therefore, I can not show recently visited products to users.
This is not a problem with jet woobuilder. But also the problem of cache plugins.

[2021-06-15 12:25] 79ho3ein opened #3488 "Automatic indexer capability in jet smart filters plugin."
Great if you add a feature, so the indexer works automatically.
This feature will be extremely useful. Because when the customer enters the products on the site, he does not remember to do the indexing manually. Therefore, we (the site designer) have to do this for them every time, and this is very problematic.
If you add this feature, it will be automatically indexed after each time the product i

[2021-06-15 12:32] Floydtm commented on #3411
We have studied your request and will try to work in this direction. Thank you!

[2021-06-15 12:33] Nelicquele commented on #878
+1 I really need this feature.

I've got a few requirements for potential clients before they can sign up. I have to be able te require to select each box before they can continue.

[2021-06-15 12:59] nreljed commented on #3488
#3465

[2021-06-15 14:19] UraraReika commented on #3429
Thanks for the feedback, Please follow [guidelines](https://github.com/Crocoblock/suggestions/tree/master/.github/ISSUE_TEMPLATE) for opening a new feature request, so we can help you better.

[2021-06-15 14:21] UraraReika commented on #3480
So you did something wrong. If you feel difficult with this please contact our support team.

[2021-06-15 14:34] PatriceFo opened #3489 "Please, Add the "insert Media from URL" to media field as in WYSIWYG field"
Hello,
When i click on "add media" to a Wysiwyg field, i can choose "insert from  URL" or "insert from library".
When i click on "add media" on a Media field,  I CANNOT choose "insert from  URL", i only have "insert from library".

Why is that ? It'is a Wordpress core function.

Could you add the functionnalitie "Add from URL" please ?

[2021-06-15 17:36] juliebarcelino commented on #2380
Hi, I was searching through the posts yesterday and actually found a similar thread making the same request even earlier than mine. Seems this issue is not priority right now, how unfortunate :/ I know how frustrating this situation with the filters is, so will take a risk here: The plugin we're using alternatively is Advanced Ajax Product Filters from BeRocket. The free version does exactly what

[2021-06-15 18:19] Lonsdale201 commented on #3479
Yes +1 :)

[2021-06-15 21:07] Topicimes commented on #3460
Thank you for your message. So I looked at the Booknetic plugin. With the Saas version, is it possible to keep the crocoblock lists, and to insert a Booknetic reservation form without having to select the service... ?

[2021-06-15 22:07] jpfrancois2021 commented on #3460
That should be but I am not sure since I didn't tried it yet neither and there is no trial available as well to go deeper in the features. However, I am exploring another (cheaper) option at the moment which is the https://wp-base.com/ and I am looking at the "Developer Package" that has a multi-vendor functionality. It's definitely cheaper than the Booknetic plugin and looks like I may be able to

[2021-06-15 22:19] Medienor commented on #3486
Have you tried to use custom CSS? I believe this can be fixed with CSS.

[2021-06-15 22:30] 79ho3ein commented on #3486
@Medienor
Yes it can be solved. But it is better to have these items in the plugin. Because not all css users know.
Similar items are observed in this plugin. Apparently, the developers were unaware of this.
In any case, I hope the dear developers will solve these problems in the next version.

Thank you for your attention.

[2021-06-15 22:40] rammyleeds opened #3490 "POST INFO WIDGET - please add "date updated", not just "date page created"."
Hi there,
the post info widget only displays the date on which the post or page was created.   Can you ask there to be an option to change this to show the "last updated date" in addition to "page created date".  Allow the user to decide which one.    Or perhaps even enable both to be shown, or not show, or one to be shown.

Please, this is a basic but very fundamental feature that I am sure many

[2021-06-15 23:10] jamsheehan opened #3491 "JetEngine Query Builder + JetElements : Output Query Results Count into Charts / Progress Bars"
Right now when you return you create a query to find the count of the items, this count can be selected using Dynamic Content in Elementor however this does not display.

![image](https://user-images.githubusercontent.com/223342/122134217-0768fc80-cdf3-11eb-84e2-fdd88597d109.png)
![image](https://user-images.githubusercontent.com/223342/122134317-32535080-cdf3-11eb-88d1-b549ff0463ed.png)

This req

[2021-06-15 23:44] jamsheehan opened #3492 "JetEngine: Query Builder - Add Category Support for Queries"
Query Builder is an amazing product but once you add more than 10 queries it becomes a little hard to manage everything without a very good naming convention. It would be great if we could recycle some of that Wordpress functionality to have category support or could be entirely Jet Engine driven:

![image](https://user-images.githubusercontent.com/223342/122136345-28cbe780-cdf7-11eb-9121-d7d93e17

[2021-06-15 23:58] jamsheehan opened #3493 "Crocoblock: Consider adding breadcrumbs to admin screens for Jet Products"
Navigating around Crocoblocks extensive product list can take quite some time, especially if you're navigating between multiple screens, e.g. going to different CCT's or Forms and Query Builder. One quick way to help alleviate some of the hassle of getting around would be to try and implement some sort of breadcrumb functionality. I realise that Wordpress way of admin pages is quite bad, but it ca

[2021-06-16 00:45] JennyPower opened #3494 "Date format for Custom Meta Box Field"
The date custom meta box field should default to the date format in the WordPress settings. Whilst you can format the date on the frontend, the metabox in the editor is fixed at United States date format.

Alternatively, add a setting to the meta box field to set the date format for both the front end and the editor.

Further to this, if you put in the date in the format d/m/y it excepts the date

[2021-06-16 04:09] jamsheehan commented on #3236
This would be amazing to have.

[2021-06-16 06:56] Topicimes commented on #3460
I found another solution, which is this:
1. Buy WooCommerce Booking : https://woocommerce.com/fr-fr/products/woocommerce-bookings/?quid=65491a83ef2999112ed0687a8b1d6429
2. Buy Product Vendor : https://woocommerce.com/fr-fr/products/product-vendors/?quid=ceb2cce53c48576fe0c1dc36de3a82e9
3. Buy Elementor Connector for WooCommerce Bookings: https://woocommerce.com/fr-fr/products/elementor-connector-f

[2021-06-16 07:10] kaskad88 commented on #2508
You can use the `Max Zoom` option https://prnt.sc/15l1j73

[2021-06-16 07:10] #2508 closed, assigned to nobody

[2021-06-16 07:18] kaskad88 commented on #2415
Added in JetEngine 2.8.5

[2021-06-16 07:18] #2415 closed, assigned to MjHead

[2021-06-16 07:45] kaskad88 commented on #2166
Could you please attach a screen or describe more detail because I tried to reproduce your issue and looks like all works fine?

[2021-06-16 07:56] sonnesworld opened #3495 "Add a clear and fitting title for the feature request"
I really like the JetSmartFilter plugin but missing a filter for products in stock so users can filter and show just products which are in stock like here: https://us.louisvuitton.com/eng-us/women/handbags/iconic-monogram-bags/_/N-1b916w8
![image](https://user-images.githubusercontent.com/57396134/122180881-20bc8800-ce89-11eb-9d99-4f9833ae4252.png)

[2021-06-16 07:59] kaskad88 commented on #2097
This feature is already available. Use the Listing Settings https://gyazo.com/4f53100858d91b77ee9d373e3825b07b or dynamic tags https://gyazo.com/d9a0f4294d27baeb2cefa29f10914a1c

[2021-06-16 07:59] #2097 closed, assigned to nobody

[2021-06-16 08:08] kaskad88 commented on #1945
This feature is already available https://gyazo.com/af82faa1308d13927e66be11a7fe1a43

[2021-06-16 08:08] #1945 closed, assigned to nobody

[2021-06-16 08:14] kaskad88 commented on #2297
Thanks for your feedback.
We tried to reproduce your issue based on the information you provided, but without success.
Please contact our support https://crocoblock.com/help-center/ for guidance in resolving this issue (and mention that you were directed by me and reference this issue.)
thanks.

[2021-06-16 08:14] #2297 closed, assigned to kaskad88

[2021-06-16 08:17] kaskad88 commented on #1753
I merged this issue with #2163, which is on the same subject so we could deal with it more efficiently.

[2021-06-16 08:17] #1753 closed, assigned to nobody

[2021-06-16 08:20] kaskad88 commented on #1707
You can use the Max Zoom option https://prnt.sc/15l1j73 to prevent zooms to the highest level

[2021-06-16 08:20] #1707 closed, assigned to nobody

[2021-06-16 08:25] 79ho3ein commented on #3486
@Floydtm
There is another bug in this version ...
If we put space between the pagination boxes, on the mobile, there will be a responsive problem. https://prnt.sc/15l7yzu
This problem did not exist before.Please check

thanks

[2021-06-16 08:31] 79ho3ein commented on #3486
If the number of products to display is small, the paging widget space will remain blank. https://prnt.sc/15l8guo
Please check for these bugs. Unfortunately, the jet smart filters plugin adds a lot of bugs in every update.

[2021-06-16 08:34] kaskad88 commented on #1251
This feature is already available https://gyazo.com/5eaa3d3c828070b89842d76ea1915882

[2021-06-16 08:34] #1251 closed

[2021-06-16 08:36] kaskad88 commented on #793
Added in JetEngine 2.8.5

[2021-06-16 08:36] #793 closed

[2021-06-16 08:50] Louisjdv commented on #3460
I contacted Crocoblock support, who tells me that the features are in their roadmap. What good news!

[2021-06-16 09:06] 79ho3ein commented on #3495
+1
Excellent offer

[2021-06-16 09:09] SerenaSacchetti opened #3496 "Display Meta Boxes only in certain product / article categories"
Hello, at the suggestion of your assistance I am requesting and recommending an implementation of the Jet Engine plugin.
As the ACF plugin does, it would be essential to be able to customize in which categories to see certain groups of Meta Boxes.
Example
Group 1 Meta Boxes visible only in Products >> Category A
Group 2 Meta Boxes visible only in Products >> Category B
Group 3 Meta Boxes viewable

[2021-06-16 09:27] 79ho3ein opened #3497 "Please add the absolute width and height feature to the jet smart filters plugin widget."
Great if you add this feature to the plugin. Currently we can only measure pagination boxes by applying padding.
This is not good. Because in this case, the size of the box on page number 1 will be much smaller than number 10.
If you add the ability to apply absolute width and height to the paging widget boxes, the box size will be the same in all paging numbers.
If I'm not mistaken, this feature

[2021-06-16 09:43] Floydtm commented on #3464
Could you describe your request in more detail. I also want to say that we have the logic of conditions for the meta fields https://prnt.sc/15lelkm and so there is a dynamic visibility module https://prnt.sc/15leopg

[2021-06-16 10:37] marcoscioni commented on #3464
Hello, the matter is very simple.The logical condition of ACF allows me to hide the tabs:  the logical condition of Jetengine does not allow me to hide the tabs  This means that in the management of the post the interface is not very manageable by the website manager as shown in the comparison images ACF (Compact view)  Jet Engine(Extended view)   so if you could hide the tabs like in ACF the prob

[2021-06-16 10:37] Floydtm commented on #3471
Guys, please contact our support team to resolve this issue. Thank you!

[2021-06-16 11:24] 79ho3ein opened #3498 "If the current query option is enabled, it is not possible to display products randomly. (jet woobuilder plugin)"
hello
I use the product grid widget to display the product archive.But one problem is that when we enable the current query option in this widget, it is not possible to display products randomly.
Because of this, many products with similar names are put together that do not create an interesting user interface. In this image you can see two examples : https://prnt.sc/15lmmnz
Great if you add a fea

[2021-06-16 11:32] icewebart commented on #1349
I support this

[2021-06-16 13:03] iamdanbarrett opened #3499 "JetEngine - Allow for CPTs to be password protected"
Please can you allow or include the CPTs we create using JetEngine to be included in the function to password protect these posts with the native WP password protect options on page visibility?

[2021-06-16 21:45] simonvanoordt opened #3500 "Bug: page breaks in JetEngine forms result in error"
**Describe the bug**
Adding a page break to a user registration forms results in error: "One or more fields have an error. Please check and try again"

**To Reproduce**
Steps to reproduce the behavior:
1. Add user registration form
2. Insert page break
3. Try to register a user
4. See error
5. Copy form
6. remove page break
7. test form
8. no error

**Tested on Desktop (please complete the followi

[2021-06-16 21:52] jototheweb opened #3501 "Please Add an "Add to Calendar" Button/Link that Uses Dynamic Content"
Many users use JetEngine to create custom post types (CPTs) for events. What's missing is the ability to insert a link or button that would allow the user add these events to the user's Google, Outlook or Apple Calendar.

It would be wonderful if Crocoblock could add this functionality so that we can include an Add to Calendar link or button in our event listings built with JetEngine's CPTs.

It i

[2021-06-16 23:01] Medienor commented on #3421
@SargasTM Has been assigned everybody! Let's celebrate!

[2021-06-16 23:02] DevDietheR commented on #3421
+1

[2021-06-16 23:03] Medienor commented on #3465
Thanks for your post bro :) Very good!

[2021-06-16 23:16] 79ho3ein opened #3502 "Two important bugs in the new version of the jet woobuilder plugin. Please check."
Hi @UraraReika
There were two important bugs in the new update, which made me refrain from updating this plugin. Especially case number 1.
I will explain these two problems below...

1- The coupon section on the payment page is completely inverted. So that it can not be used at all.That's why I decided to stay in the previous version. See these changes(bug) in the image :
Before the update : https

[2021-06-16 23:23] 79ho3ein commented on #3497
@SargasTM please check. thanks

[2021-06-16 23:23] 79ho3ein commented on #3488
@SargasTM please check. thanks

[2021-06-16 23:23] #3488 closed, assigned to nobody

[2021-06-16 23:24] 79ho3ein commented on #3486
@SargasTM please check. thanks

[2021-06-16 23:24] 79ho3ein commented on #3387
@SargasTM please check. thanks

[2021-06-16 23:24] 79ho3ein commented on #3370
@SargasTM please check. thanks

[2021-06-16 23:24] 79ho3ein commented on #3314
@SargasTM please check. thanks

[2021-06-16 23:24] 79ho3ein commented on #3312
@SargasTM please check. thanks

[2021-06-16 23:25] #3237 closed, assigned to nobody

[2021-06-17 01:25] netocamarano opened #3503 "JetAppointment Core Features Request [JetAppointment]"
Hello! I'm studying which appointment plugins to use on my website. I really like crocoblock features and all the things we can do with all the plugins pack you provide, that's why I'm considering using JetAppointment in my project.
But regarding JetAppointment, there are a few important features that I couldn't find a way around, those features are:
---Critical features
1) Be able to book an appo

[2021-06-17 01:28] netocamarano commented on #3503
If possible, could you give any information if any of those features are in yours backlog? Thank you

[2021-06-17 06:11] UraraReika commented on #3498
If you enable this option then widget takes query from this settings https://i.gyazo.com/23618009da5255189665562d8afc9768.png. You can easelly add needed parameter with woocommerce hook. Or you can use theme with predefined more parameters.

[2021-06-17 06:11] #3498 closed, assigned to nobody

[2021-06-17 06:16] UraraReika commented on #3502
We check our widget in rtl and it works proper. As for clickable items you should be more specific when you lease the reply. In thats chase contact our support team with this request they will help you to achieve needed results.

[2021-06-17 06:16] #3502 closed, assigned to nobody

[2021-06-17 06:16] #2837 closed, assigned to UraraReika

[2021-06-17 06:16] #3013 closed, assigned to UraraReika

[2021-06-17 06:16] #3056 closed, assigned to UraraReika

[2021-06-17 06:16] #3124 closed, assigned to UraraReika

[2021-06-17 06:17] #3173 closed, assigned to UraraReika

[2021-06-17 06:17] #3239 closed, assigned to UraraReika

[2021-06-17 06:17] #3244 closed, assigned to UraraReika

[2021-06-17 06:17] #3297 closed, assigned to UraraReika

[2021-06-17 06:17] #3326 closed, assigned to UraraReika

[2021-06-17 06:17] #3402 closed, assigned to UraraReika

[2021-06-17 07:14] 79ho3ein commented on #3502
hi @UraraReika Thank you for your attention.
I checked the first case or the payment coupon and found that this rtl problem only exists in the editor. But on the website it is true.
Please fix this problem in the editor if possible.

Regarding the second case, will there be no changes in the next version?
Because I checked the said bugs in some of my sites and there were.

In any case, we sincerel

[2021-06-17 11:40] Nelicquele commented on #878
+1 I really need this option!

[2021-06-17 14:00] simonvanoordt commented on #2415
Awesome, I'll try it on a client's website tomorrow!

[2021-06-17 15:03] eatshootrock commented on #2632
Just found out that this is not possible. I would love for this feature to be added. Currently I have a repeater field on my custom post.

I want to hide that section if there are no data available.

[2021-06-17 15:51] eatshootrock commented on #2681
Would love to add repeater on the admin column too

[2021-06-17 16:32] 79ho3ein opened #3504 "Suggestions for improving the jet woobuilder plugin. Please check."
Hello
Thank you for improving this popular plugin with each update.
There are some requests and tips about this plugin that I will share with you dear developers. Please check them out.

1- Please add a feature so that we can move the Update Cart button to the left or right. https://prnt.sc/15ptpny
It is currently not possible to change its location.

2- Please add the ability to resize the price

[2021-06-17 18:46] zonerap commented on #3420
+1

[2021-06-17 19:27] hum-bug opened #3505 "Query builder - enter own SQL statement and combine with JetEngine Variables"
Add the option to put in the raw SQL code and insert dynamic variables. This would be a really powerful feature as would be easy to get custom data and then use Crocoblock listing grid to display it nicely without much work.

There's a lot of limitations in the querybuilder at the moment. This solution would allow advanced users to input the query they want without needing UI updates.

By dynamic

[2021-06-17 19:54] Mountarium opened #3506 "Image Comparison - Mobile - Horizontal slide only"
Hi

Your Image Comparison slider is excellent but it has one really annoying issue.

When you slide with your finger vertically on a mobile device it starts sliding the image comparison.

This should really only happen when you slide your finger horizontally across the screen, otherwise when you try to scroll up or down the page you get stuck selecting the image comparison rather than scrolling up

[2021-06-17 20:57] hum-bug commented on #3414
I have exactly the same issue - for me I'm using CCTs as tasks that need to be managed by multiple users so this also breaks my website. I could manage securely already by controlling access to the page hosting the form and also used the form webhook option to check user access when submitting.

This should have been introduced as an option so as not to break existing functionality!!! Please fix u

[2021-06-17 21:02] makovane opened #3507 "JetWooBuilder: Customizable time period for Best Sales product ordering in Products Grid"
The 'top sellers' have clear marketing value for the store. But if only all time top sellers are listed,  the listing changes very rarely.

Therefore the best sellers' period of examination should be customizable on a basis of days, weeks or months.

[2021-06-18 06:06] DevDietheR commented on #3487
+1

[2021-06-18 06:13] massamedia opened #3508 "Add a custom header feature to JetEngine REST API"
Hi there,

Absolutely love the REST API feature!

However, often when you connect to an API, you require a custom header
e.g.
'authorization: *token*',
'Content-Type: application/json'

https://learning.postman.com/docs/sending-requests/authorization/
or
https://stackoverflow.com/questions/40539609/how-to-add-authorization-header-in-postman-environment

It would be awesome to provide the option to

[2021-06-18 08:46] Medienor opened #3509 "[JetSmartFilters] When will you fix this bug? It's important 🐛"
Hey, couple of weeks ago i updated to latest version of JetSmartFilters (Because i thought you release input field for slider)
But now there is a bug with the sliders, and sliders background color.

Can you please help us fix this?

https://prnt.sc/15sbm2w

[2021-06-18 09:00] 79ho3ein commented on #3509
This problem does not exist and can be solved. Go to the elementor editor, (the same part where you used this widget)
Save changes again The problem is solved.
Unfortunately, jet smart filters add many bugs to each update. I wrote some of them in # 3486. I hope the developers solve these problems.
The bug you wrote about was fixed in a previous update and is now working properly.Good luck.

[2021-06-18 09:11] #3031 closed, assigned to UraraReika

[2021-06-18 09:21] Medienor commented on #3509
Hey @79ho3ein thanks for following me up brother.

What do you mean "Save changes again" ?

[2021-06-18 09:28] 79ho3ein commented on #3509
hi @Medienor
yes

[2021-06-18 09:36] Medienor commented on #3509
Does input values exsist for range slider? Where you can type in values instead of sliding slider?

[2021-06-18 10:04] RuanPienaarCode commented on #760
+1

[2021-06-18 11:16] iAbhinavJain commented on #389
Really need this. Simple yet essential

[2021-06-18 11:53] 79ho3ein opened #3510 "Request to improve the navigation point performance of "Product Carousel" jet woobuilder plugin"
Hello
Currently, we can only increase or decrease the size of the navigation points. But for example, we can not take its shape out of the square,And change its appearance to your liking.
This means that we can not currently design navigation points in this way : https://prnt.sc/15srpy9
Instead, we can only make it smaller or larger : https://prnt.sc/15srufg
It would be great if you could add a fe

[2021-06-18 14:04] Floydtm commented on #3484
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-06-18 14:04] #3484 closed, assigned to nobody

[2021-06-18 14:08] Floydtm commented on #3485
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-06-18 14:08] #3485 closed, assigned to nobody

[2021-06-18 14:13] designjazz opened #3511 "Please add a Description field in Repeater Meta field in JetEngine Post types"
When a Meta field is added to a post type it is possible to add a Description in order to help the user fill in the field correctly. However, if you create a meta field of type Repeater it is not possible to add a description so the user might be confused as to how to use the repeater field.

Please add!!

[2021-06-18 14:18] #3511 closed, assigned to nobody

[2021-06-18 14:34] UraraReika commented on #3510
You can do same thing like this https://github.com/Crocoblock/suggestions/issues/3102

[2021-06-18 14:34] #3510 closed, assigned to nobody

[2021-06-18 14:52] Floydtm commented on #3493
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-06-18 14:52] #3493 closed, assigned to nobody

[2021-06-18 16:31] jamsheehan opened #3512 "JetEngine: Custom Content Type (CCT) Add some UI to indicate a save has taken place"
Anyone who works with WordPress on a daily basis knows whens something is working as it returns something like this in the URL:

https://example.com/wp-admin/admin.php?page=jet-cct-tablename&cct_action=edit&item_id=1234&status=updated

However..... Users (clients) are not as informed as the likes of anyone who is reading this... This request is to add some form of notification to indicate within t

[2021-06-18 17:02] #3486 closed, assigned to nobody

[2021-06-18 17:02] 79ho3ein opened #3513 "BUG: Report some bugs in the new version of the jet smart filters plugin."
hi @SargasTM
In the new version of this plugin, there are some bugs that have severely damaged the filter interface of this plugin.

1- In all filters, the options are almost stuck together and we can not put a space between them : https://prnt.sc/15hnkfc
As you can see in the image, the distance between the color, the text and the number of filters is zero.
This problem also exists in the filters

[2021-06-18 17:07] TIBINTCO commented on #3345
Business hours is a huge missing feature in the plugin. Take a look at how WooCommerce Bookings does this and please add it to your plugin. [WooBooking Backend Setup](https://paste.pics/ebb2cf5d6491fdeaee4d212e3e5c9b33)

Range Type, Range, Bookable, and Priority.
They allow you to set:
- Max Bookings per block,
- Min block bookable,
- max block bookable,
- Required buffer period in between booking

[2021-06-18 17:13] TIBINTCO commented on #1597
This is very important for us as well. Woocommerce bookings plugin does this very well. With time optimization for the business with:

- Max Bookings per block
- Min Block bookable
- Max Block Bookalbe
- Requried a buffer period
- Set daes availability
- check rules against...
- first block starts at:
- Range type
- Range
- Bookable
- and, PRIORITY.

Here is an example: [WooCommerce Bookings Backe

[2021-06-18 18:02] nreljed opened #3514 "🔥[Jetengine] one repeater is enough"
Hi Friends,

I hope this request will finally be heard and understood
this issue has been around for a long time.
because you have no idea how much confusion it generates ... even I am very confused sometimes I get lost.

I'm talking of course about jetengine repeater,
we can't see what's going on without opening them
you imagine yourself playing with 20 white repeater and especially trying to gue

[2021-06-18 19:05] nreljed commented on #3479
#3514

[2021-06-18 19:06] nreljed commented on #2872
#3514

[2021-06-18 19:09] nreljed commented on #2991
#3514

[2021-06-18 19:09] nreljed commented on #1883
#3514

[2021-06-18 19:10] nreljed commented on #3303
#3514

[2021-06-18 19:12] nreljed commented on #875
#3514

[2021-06-18 19:57] Lonsdale201 commented on #3514
+1

[2021-06-18 20:19] 79ho3ein opened #3515 "Outline problem of all crocoblock plugins in hello elementor theme."
Unfortunately, this problem is present in all crocobloc plugins. The problem is that all the text and buttons that have a link are "outline" after clicking. Please pay attention to the images below which are in the jet woobuilder plugin :
Before clicking : https://prnt.sc/15ubgez That is not a problem
After clicking : https://prnt.sc/15ubjv8 After clicking, a black border appears.

This problem wi

[2021-06-18 20:24] DevDietheR commented on #3514
+1

[2021-06-19 12:28] Spacefunls commented on #1967
Agreed, would also need this functionality

[2021-06-19 12:33] Spacefunls commented on #1657
+1

[2021-06-19 12:43] 79ho3ein opened #3516 "Several requests to improve the interface of variable product selection, in the jet woobuilder plugin. Please check"
hello
I think jet woobuilder is the most powerful plugin for editing and building WooCommerce pages. But it also has its drawbacks, and it is better to work on improving it. One area that desperately needs improvement is the variable selection section.
Currently, the variable selection section in this plugin is extremely simple and does not have a suitable user interface.
I have a few requests to

[2021-06-19 12:43] #3515 closed, assigned to nobody

[2021-06-19 13:47] #3074 closed, assigned to nobody

[2021-06-19 15:44] visheshjhadi opened #3517 "Jet-Appointment 2ways google Calendar sync feature"
- if the feature is missing from the products.
----Yes 2 Ways google Calendar Sync for easy booking function.

**Please, describe the feature request, making it clear to understand.**

I have to build a website for my client they want it as an appointment-based service for mental health. So I have created 2 post types one as provides and the other as except...and also set up the jetappointment.
No

[2021-06-19 19:06] 79ho3ein opened #3518 "Report bug in open product feature in new window (jet woobuilder plugin)"
hi @UraraReika
I noticed a bug in this feature and wanted to report it to you. Please investigate this issue. https://prnt.sc/15yutee
I display my product archive with the product grid widget. And to paginate it, I use the paging widget of the jet smart filters plugin.
The problem I noticed is that the "Open Products in new window" feature Works only on the first page of the product archive.And wh

[2021-06-19 21:05] ayhanmalkoc commented on #2804
What is the roadmap for Oxygen builder?

[2021-06-19 21:07] ayhanmalkoc commented on #3514
+1

[2021-06-19 21:12] ayhanmalkoc commented on #2804
#2753
#2617

[2021-06-20 18:05] Dennisvb commented on #1084
+1 When will this be implemented?

[2021-06-20 18:46] 79ho3ein opened #3519 "For users who have not registered, no products will be added to the cart. (jet woobuilder plugin)"
@UraraReika
**In the new update of the jet woobuilder plugin, if the add to cart feature is enabled by Ajax, no products will be added to the cart.**
https://prnt.sc/163ke27
Once the user has registered on the site, there is no problem and the product will be added to the cart. But if the user is a guest and has not registered, no products will be added to the cart.
The problem is that Ajax is act

[2021-06-21 00:43] Sayeed1440 commented on #1512
It's been 8 months since the 'In Work' label was added. Is there any update? Is it still in work or you have dropped it & delayed it further?

Please update. Thanks

[2021-06-21 06:38] 79ho3ein commented on #3519
Thank you
Apparently, Ajax codes have a problem in the new update. Because in this issue (# 3518) there is also a problem with Ajax being active.
There were no problems before the last update.

Thank you for your attention

[2021-06-21 07:34] drwillems opened #3520 "Make JetCompareWishlist compatible with listings / post types"
So far JetCompareWishlist is only compatible with Woocommerce products. I was wondering whether it would be possible to make it compatible with listings / post types. This is especially useful for website that have listings. Example of those would be Realtor website, Hotel booking, Service booking, etc.
In the end it will come down to the compatibility with the listings / post types created within

[2021-06-21 08:14] kaskad88 commented on #3303
Solution: https://gist.github.com/MjHead/49ebe7ecc20bff9aaf8516417ed27c38

[2021-06-21 08:14] #3303 closed, assigned to nobody

[2021-06-21 08:32] Floydtm commented on #3495
You can do it right now https://prnt.sc/166a04o https://prnt.sc/166a3l2

[2021-06-21 08:32] #3495 closed, assigned to nobody

[2021-06-21 09:27] Floydtm commented on #3500
To resolve your request, you need to contact our support team. Guys will help you quickly resolve this request

[2021-06-21 09:27] #3500 closed, assigned to nobody

[2021-06-21 09:34] UraraReika commented on #3518
I check your issue and everything works proper. Please contact our support so we can check it on your side.

[2021-06-21 09:34] #3518 closed, assigned to UraraReika

[2021-06-21 09:42] 79ho3ein commented on #3519
@UraraReika thanks🌹

[2021-06-21 09:44] Floydtm commented on #3387
Right now you can customize the visibility of filters using the jet engine plugin. Use this module https://prnt.sc/166iffk

[2021-06-21 09:44] #3387 closed, assigned to nobody

[2021-06-21 10:48] 79ho3ein commented on #3518
Thank you @UraraReika
Was the Ajax paging widget enabled when you tested this problem? https://prnt.sc/166nvjj

Did you pay attention to this point? > **There is no problem on the first page and the products open on the new page. But on the second, third, etc. page, other products will not open on the new page.**
May you review this bug again? Because I saw this problem on several sites.
Please ch

[2021-06-21 10:50] 79ho3ein commented on #3513
hi @SargasTM
please check🌹

[2021-06-21 12:20] UraraReika commented on #3518
Please contact our support team.

[2021-06-21 12:33] 79ho3ein commented on #3518
ok,thank you

[2021-06-21 12:37] Nelmedia commented on #1103
I can't believe this is still not implemented... This is a must to have and currently is the main reason why I may have to look for another solution instead of JetEngine and JetSmartFilters...

[2021-06-21 12:42] Floydtm commented on #3509
We tested it and it seems to be working correctly. However, our sites can be customized in different ways. Please contact our support team to resolve this request.

[2021-06-21 12:42] #3509 closed, assigned to nobody

[2021-06-21 13:18] UraraReika commented on #3520
You can use Data Stores module build in JetEngine https://crocoblock.com/knowledge-base/articles/jetengine-data-stores-module-overview/

[2021-06-21 13:43] 79ho3ein opened #3521 "In the jet compare & wishlist plugin, if the user is not registered on the site, please redirect it to the login page."
hello
In the jet compare & wishlist plugin, products are not added to the wishlist properly when the user is not logged in. For example, if it adds one product, it sees that 3 products have been added. In this case, the user thinks the site has a problem.
But if the user logs in, the product is added to the list properly and everything works great.
I suggest adding a feature so that the user will

[2021-06-21 14:00] schndr-cdn commented on #3004
+1

[2021-06-21 14:08] schndr-cdn opened #3522 "JetEngine: Dynamic Visibility, Options for Parent and Child Pages"
Please add these Options:

**_Show if / Hide if..._**
1. If Page is a Parent-Page
2. If Page is a Child-Page
3. Child-Page of Post-ID

These Options can keep us away from adding hundres of Post-IDs.

Examples you can find in Plugin: "Dynamic Visibility for Elementor"

[2021-06-21 16:26] visheshjhadi commented on #3503
@NetoData I am also looking forward to these features within the jetappointment. Thank you for add this request.
If any from Crocoblocks looking at this message. Please all these features within the jetappointment. Thnk you

[2021-06-21 16:43] jpfrancois2021 commented on #3460
That's a real shame! After 12 comments to this thread, not even a Crocoblock developer or team member is assigned to this thread and not even a single answer from their side! That is why, nowadays, people prefer to download such plugins from free sources rather than to pay for any subscription fee because once you have paid the subscription fee, developers are not even interested to hear about you

[2021-06-21 18:00] 79ho3ein opened #3523 "BUG/A few small bugs in the new Jet woobuilder plugin last update."
hello
In the new update of the jet woobuilder plugin, there are some bugs that I will explain. Please check.

1-In RTL, the coupon form in the editor is LTR. This bug has been created in a new update.
On the website : https://prnt.sc/15pu4la
When editing : https://prnt.sc/15pugvm
True on the website, but when editing LTR.

2- In the single attributes widget that was updated in this update, there i

[2021-06-21 18:06] #3504 closed, assigned to nobody

[2021-06-22 03:21] alexis-mg commented on #2195
Hi guys, I have the same problem, could anyone solve it?

[2021-06-22 06:10] UraraReika commented on #3521
I merged this issue with #3009, which is on the same subject so we could deal with it more efficiently.

We asked you already. Stop duplicating issues.

[2021-06-22 06:10] #3521 closed, assigned to UraraReika

[2021-06-22 06:18] 79ho3ein commented on #3521
That's right, I forgot. I'm sorry.

[2021-06-22 06:29] UraraReika commented on #3523
1 - fixed;
2 -3 solved by styler controls. If you feel difficult please contact our support team.

[2021-06-22 06:45] 79ho3ein commented on #3523
Yes, I solved this problem with code.
But many users of this plugin who do not know how to code, objected to this issue, I wanted to tell you.
It would be great if you could solve these issues in public. Because not all users have coding knowledge.

Thank you for your answer🌹

[2021-06-22 07:24] 79ho3ein commented on #3523
Thank you🌹🌹🌹

[2021-06-22 07:50] 79ho3ein opened #3524 "Request for a widely used feature in the Jet woobuilder plugin"
hello
I apologize for making this request again. But I think one of the biggest drawbacks that jet woobuilder has over other competitors is that we can't show the up selling products to users on the home page.
Unfortunately, we can only show up selling products to users on a single product page. https://prnt.sc/16aq8tc
I have not seen any store site that shows its up selling products to users on a

[2021-06-22 08:08] UraraReika commented on #3524
You should know that upsalles and cross sales product functionality connected to single product https://i.gyazo.com/7294b160b79fb6c5a8461c0edb8a1892.png. So please describe how you suppose to use this type of Query and  witch product upsales product should be display at home page?

[2021-06-22 08:48] dexit commented on #760
../plugins/jet-engine/assets/js/admin/meta-boxes.js

You can change it here.

[2021-06-22 11:49] ihslimn opened #3525 "JetPopup Advanced conditions - Show on custom URLs"
Is it possible to make popups appear on custom URLs - like subpages of Profile Builder pages?
Currently, it is not possible, as Profile Builder subpages cannot be selected in condition manager.

May it be possible for popup to open on URLs like mysite.com/account/edit_post where Account is a Profile builder Account page, and Edit Post is one of its subpages?

[2021-06-22 11:51] 79ho3ein commented on #3524
@UraraReika
I am sorry. I mistranslated my words.
I mean, please add the best sellers product query to the product grid widget.
If this feature is added, we can show the best-sellers products in each product category to users.
Like this picture, which shows the best-sellers products in the toy category : https://prnt.sc/16bi3l8
This feature is extremely useful and required.
Again, I apologize for

[2021-06-22 12:12] UraraReika commented on #3524
Watch this https://github.com/Crocoblock/suggestions/issues/3058

[2021-06-22 12:12] #3524 closed, assigned to UraraReika

[2021-06-22 12:19] Camilo517 commented on #2282
There are also a lot of old css prefixes
Any news on this? It is important
@UraraReika

[2021-06-22 13:14] 79ho3ein commented on #3524
I tried but failed.  Surprisingly, there is no such important feature in this great plugin.
In any case, thank you

[2021-06-22 13:24] pixallusdev opened #3526 "Set a Default date on date field"
I tried to manually set a default date on date field in jetegnine form, but the default doesn't display. I also tried using a calculation field but had no luck either. I ended up using a jQuery Datepicker.

[2021-06-22 16:21] serg-pervushin opened #3527 "JetEngine Options Page in Multisite"
Hello

Sometimes need to create an options page in multisite wordpress so that the content on all sites from the network is pulled up from this options page. But it seems that this is not possible in the current version of Jet Engine. It would be great to include this in the future versions.

Thanks.

[2021-06-22 16:58] AjayToker commented on #631
+1 on this

[2021-06-22 17:52] zonerap commented on #2487
I got the same problem

[2021-06-22 17:56] srack835 commented on #2252
+1 Yes! Many users will shrink the window to essentially a mobile size and I would like the menu to respond at breakpoints, just like Elementor.

Also, this makes it really difficult to try to preview the Jet Menu mobile menu in the Elementor editor.

[2021-06-22 17:56] srack835 commented on #1744
+1 Breakpoints are incredibly important for menu functionality!

[2021-06-22 19:24] 79ho3ein opened #3528 "Resize unit price on checkout page. (Jet woobuilder plugin)"
hello
In the last update, the possibility of changing the size of the price unit in the shopping cart was added. But this is not yet possible on the payment slip.
If possible, please add the ability to change the size of the price unit to the checkout page. https://prnt.sc/16cwwj7

thank you

[2021-06-22 23:01] xC4M opened #3529 "Prevent Closing on ESC Key - JetPopup"
Add the feature to prevent  the popup could be closed by pressing Esc key (as Elementor Pro has). It could give the possibility, for example, that visitors must accept what the popup has on it and avoid them to view the website going out of it just pressing Esc key.

Hoping it could be added in oncoming releases. Thanks!

[2021-06-23 10:07] debihazelden commented on #1084
++++++1

[2021-06-23 12:26] 79ho3ein opened #3530 "Please, if possible, add this feature so that we can place the coupon widget in the desired location.(jet woobuilder plugin)"
hello
As you know, the payment page of this plugin consists of two parts. One is the top section, and the other is the bottom section where the payment fields are located.
But there is a problem here. That we can not use the coupon widget at the bottom of the payment. And if we use it at the bottom of the payment page, it will bug.
For example, I wanted to put coupon widget at the top of the payme

[2021-06-23 12:46] fysioski opened #3531 "Ability to edit mini Cart in Jet WooBuilder"
Please make the option to be able to edit the mini cart. Now only some basic styles are editable. It would be nice if it is possible to edit the delete product icon(x), title of product styles and price. Now those are only styleable by putting in custom CSS. But that is not why we have Jet WooBuilder.

[2021-06-23 13:10] jpfrancois2021 commented on #983
Can each provider edit their own schedule, custom price etc. through a frontend form? It is obvious that many site owners will prefer not to give admin access to providers, hence having the possibility to do this on frontend will be a great addition @MakhonkoDenis

[2021-06-23 14:10] kaskad88 commented on #1748
Added in JetElements 2.5.8

[2021-06-23 14:10] #1748 closed, assigned to Gawuww

[2021-06-23 14:11] kaskad88 commented on #2518
Added in JetElements 2.5.8

[2021-06-23 14:11] #2518 closed, assigned to Gawuww

[2021-06-23 14:12] kaskad88 commented on #2523
Added in JetElements 2.5.8

[2021-06-23 14:12] #2523 closed, assigned to Gawuww

[2021-06-23 14:12] kaskad88 commented on #2520
Added in JetElements 2.5.8

[2021-06-23 14:12] #2520 closed, assigned to Gawuww

[2021-06-23 14:13] kaskad88 commented on #2672
Added in JetElements 2.5.8

[2021-06-23 14:13] #2672 closed, assigned to Gawuww

[2021-06-23 14:18] kaskad88 commented on #2532
Added in JetElements 2.5.8

[2021-06-23 14:18] #2532 closed, assigned to Gawuww

[2021-06-23 14:18] kaskad88 commented on #3076
Added in JetElements 2.5.8

[2021-06-23 14:18] #3076 closed, assigned to Gawuww

[2021-06-23 14:18] kaskad88 commented on #3133
Added in JetElements 2.5.8

[2021-06-23 14:18] #3133 closed, assigned to Gawuww

[2021-06-23 15:04] sitechfromgeorgia opened #3532 "[JetBooking] - unique units system"
Hello in support page you ask me to write here.
in last week in my work someone ask me create site with booking form but not typical, because of fields and dates. have a look.

 i need create booking for work but i don't know hot to create hard system because of not typical booking system.

i have this type of rooms:
Standart
Superior
Bussines
Junior

but i have in different days different Quantit

[2021-06-23 18:10] henriquebarcellos opened #3533 "Another audio format - Widget Audio Player"
Hi, it currently seems to accept only MP3 format in Audio Player Widget (Jet Elements). Would other formats such as AAC be possible? It is an improvement to MP3 that takes the same quality with a smaller file size.

Thanks!

[2021-06-23 18:59] 79ho3ein opened #3534 "A small request for the Jet woobuilder plugin.please check"
hello
With the addition of feature # 3010, the product grid widget has been greatly improved in terms of user interface.
But before this feature was added to the plugin, when the product carousel reached the bottom of the list, the forbidden icon (🚫) was displayed to the user.
With the addition of feature # 3010, there is no need to display the forbidden sign. The presence of this mark currently h

[2021-06-23 20:05] About2git commented on #3471
Nice to have it open again. I also answered more details in the Support Ticket.

But here is some working examples:

These 2 Google Maps Plugins are compatible as described here [https://borlabs.io/kb/wp-google-maps-wp-google-maps-pro/](https://borlabs.io/kb/wp-google-maps-wp-google-maps-pro/)

Here is an Example Page, where it does work : [https://bestcarwash.de/](https://bestcarwash.de/). This i

[2021-06-23 21:14] 79ho3ein commented on #2996
hello @Floydtm
Is it clear when this feature will be added to the plugin?

thank you

[2021-06-23 21:23] xC4M opened #3535 "Close Popup while scrolling up - JetPopup"
I was trying to create a Nav-Bar which should display it while scrolling down with JetPopup, It worked fine... but when I scrolled up the popup doesn't close.

Add the feature that allows us to close or hide the popup if I scroll up (%) (as Elementor Pro)

This is how is looks like: https://prnt.sc/16gi9ty , the normal view.
This is the custom nav-bar which display when I scrolled down (it was mad

[2021-06-24 05:55] Sayeed1440 commented on #1483
Hey Guys,

Is there any update?

Do you need any help or something?

Please let me know.

[2021-06-24 05:56] Sayeed1440 commented on #1483
It's been a year now. The issue was opened in June 2020.

It's a serious issue.

[2021-06-24 06:17] #3534 closed, assigned to nobody

[2021-06-24 06:21] UraraReika commented on #3531
Hello @fysioski !

We have WooCommerce mini cart widget in JetBlocks plugin https://crocoblock.com/widgets/shopping-cart/. Did you try to use it?

[2021-06-24 06:26] UraraReika commented on #3530
This happens because Coupon widget form is form, and checkout page body is although form. Form can't work proper inside another form. So if you want to put it in the bottom of the page you can create footer for specific  page and paste widget in this footer.

[2021-06-24 06:26] #3530 closed, assigned to nobody

[2021-06-24 07:25] 79ho3ein commented on #3530
thanks for your response.
But for now we can not put the coupon widget in a footnote. And if we put it in a footnote, it becomes problematic. Apparently this part has a bug.
As I said above, if we put the coupon widget in a footnote, it will no longer be able to open and close and is always open.
Please check these bugs if possible. If this is my only problem, I will contact the support team.
Than

[2021-06-24 08:43] Hammer-ger commented on #3526
Great issue!
Please add the opportunity to caltulate with dates and with Check-in and check-out field.

[2021-06-24 09:24] ezsza opened #3536 "Request : Requires Confirmation feature for Check Availability"
Hopefully there is feature like this. I want to make a Travel Agent Website. The flow are when customer fill the form and click book now, website admin need to check availability Travel Vendor before(Tour Guide & Ship) , if it available and then admin will approve at dashboard & send second email that the Trip available + including Bank Account for payment.

https://user-images.githubusercontent.c

[2021-06-24 09:25] About2git commented on #3425
Here is a Solution from FacetWP: [https://facetwp.com/add-ons/user-post-type/](https://facetwp.com/add-ons/user-post-type/) -- _This plugin lets you connect users to a post type, so that you can create user listings and filter users like any other post type_

[2021-06-24 11:55] sonnesworld opened #3537 "Fold/Unfold Gradient Bug JetTricks"
Please visit this page: https://work.richikuettel.ch/projekte/ or https://www.bachsermaert.ch/en/product/kinderkochbuch-misch-masch/. On both pages I use fold/unfold function. When users unfold the text the gradient is still visible, just after fold and unfold again it shows correct (without gradient when full text/content visible). The gradient should be hidden when unfold, right? Makes no sense

[2021-06-24 12:36] Kimantu opened #3538 "Add Default Value functionality to Repeater Field"
There is need to set default values to repeater field options.

It need very badly when within 4 option you need to fill 2 values manually and 2 values by default value there.

To create FAQs I use dynamic accordion connected to repeater field. I need to insert question and answer every time. But I want to set default value for ICON and ACTIVE ICON field.

in such scenarios repeater filed can not

[2021-06-24 13:32] siscanu opened #3539 "Send data from DataStore"
Hello,
I have a real estate website, with possibility to add to wishlist each property.
I want to create a contact form in wishlist page, and when user send this form to my client, I want to see what properties this user have in wishlist.

[2021-06-24 13:34] #2588 closed, assigned to kaskad88

[2021-06-24 15:46] ghostdragon546 opened #3540 "Recurring Events For Calendar"
Can we please get recurring events set up on the calendar feature?
All of the event calendar plugins have an option for events to happy once every day, week, month, or year. That feature would be a huge help, because none of the other calendar options I've found work very well with elementor.

[2021-06-24 15:51] ghostdragon546 opened #3541 "Event Tickets"
I would like to be able to create an event calendar with the option for people to buy a ticket ahead of time. Basically, it would be a one night event, and users would be able to purchase entry ahead of time through the website. This type of option would be a huge help for a lot of my clients.

[2021-06-24 15:53] ghostdragon546 opened #3542 "Calendar Change View Type"
All of the calendar plugins have an option to change their view from calendar to list or grid. If would be a great addition to have this on the jet engine calendar.

[2021-06-24 15:58] darekmm opened #3543 "Dynamic field not working in Elementor Theme Builder?"
**Describe the bug**
Meta Box custom fields created by Jet Engine can't be displayed in Elementor Theme Builder.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Meta Box using Jet Engine and add some custom fields (tried checkbox and text).
2. Create a Single Post template in Elementor (Theme Builder), add a Dynamic Field.
3. Try to set the Dynamic Field to display content of a cust

[2021-06-24 15:59] sharif09 commented on #1657
We need this.

[2021-06-25 06:43] #3519 closed, assigned to UraraReika

[2021-06-25 06:43] #3523 closed, assigned to UraraReika

[2021-06-25 07:37] petranca opened #3544 "JetEngine: Inject alternative listing items with RESPONSIVE column span"
The "columns span" setting for Inject alternative listing items always stays at the same value, no matter if mobile, tablet or desktop.

This gives ugly results when for example the listing grid in mobile is only 1 column wide but the injected item is set to 2 columns.

There is no responsive setting you can do here now. It would be great if you could set this on mobile and tablet for example to 1

[2021-06-25 07:39] anderoav opened #3545 "JetForms PDF Generator"
It was quite a useful function with CF7, as they had so many third-party plugins built( especially PDF generators).
And I really miss that functionality, is there any possibility that you might add it in the near future?
As we are currently building a site for client and they need PDF automatically generated from the form.

https://github.com/Florent73/send-pdf-for-contact-form-7

[2021-06-25 08:01] Floydtm commented on #3460
Guys, Hi! Please excuse us if this is inconvenient for you. I want to tell you a little about how we work. We have our own road map that we adhere to. In addition to the road map, there are also bug fixes. And finally, we take requests from the git. You must understand that the developers cannot monitor the issue all the time and answer you. If you have urgent questions, you can always contact our

[2021-06-25 09:41] sanjeevz opened #3546 "Support for Optgroup in JetFormBuilder"
It would be very useful to have support for the Optgroup tag/ label for the select dropdown menus.

Or any other way to create groups within a select dropdown menu.

Example: https://www.w3schools.com/tags/att_optgroup_label.asp

[2021-06-25 09:57] GinaHTC opened #3547 "Offset dates on Availability Calendar to prevent bookings at too short notice (eg Offset 3 days)"
The Availability Calendar in JetBooking shows days available from today onwards. This is not always convenient/appropriate if there are processes, verifications, payments etc required before the booking is taken up. It would be great to have a feature where we can make the earliest date available for booking on the online form a number of days in the future. We can always offer a phone number/emai

[2021-06-25 09:58] Topicimes commented on #3460
Hello, there is no problem, it is quite understandable. Thank you for your feedback.
Good luck, and look forward to your solution then!

[2021-06-25 10:02] cnbizz opened #3548 "JET Engine Request : "Delete CTT's record feature in Front end" like dynamic link post delete function."
Hi,

There is no feature to delete CTT's record in Front end.  Please add function like dynamic link post delete function.

Regards

[2021-06-25 11:47] petranca commented on #3537
+1

[2021-06-25 11:48] Lalitwikhack opened #3549 "Please Tell me how i can use relationship field with repeater like acf"
please check image
https://imgur.com/x7RgWcY

[2021-06-25 12:21] aliazarmi opened #3550 "Is there any way to create a listing grid for woocommerce shop orders?"
Hi there
I Appreciate your team hard word and your amaziiiiiing products,
I want to ask is there any way to create a listing grid for Woocommerce shop orders?
if yes, How? because I cant see Order Shop post type in new listing items
if No, is it in your team plan to add this feature?
in my opinion it very very "Launcher work" !

Thanks in advanced

[2021-06-25 13:36] kaskad88 commented on #2873
Added to the next release ( 2.8.6 )

[2021-06-25 13:36] #2873 closed, assigned to kaskad88

[2021-06-25 13:37] kaskad88 commented on #2597
Added to the next release ( 2.8.6 )

[2021-06-25 13:37] #2597 closed, assigned to kaskad88

[2021-06-25 13:53] 79ho3ein commented on #3377
hello @UraraReika
With your permission, I will close this request. Because I have mentioned a similar case in issue #3461, which is a more complete explanation.
thanks you

[2021-06-25 13:53] #3377 closed, assigned to UraraReika

[2021-06-25 14:26] vjchandelia commented on #2679
Even I am in the same situation and looking for a way to search by taxonomies using a search field. Hopefully Crocoblock is working on it.

[2021-06-25 14:41] 79ho3ein commented on #361
hello @UraraReika
It is now 2 years since this request was opened. Does jet woobuilder currently have a plan to add this important feature to the plugin?
Can we hope to see this feature in jet woobuilder in 2021?

thanks you

[2021-06-25 16:24] #2922 closed, assigned to kaskad88

[2021-06-25 18:21] vjchandelia commented on #1075
Even, I am in the same boat. I want to search my taxonomies in the search widget. I saw several requests by the users on Facebook and Github which go back 2 years.  I am planning to switch to Ivory Search. I hate that Crocoblock is not been able to resolve this issue.

[2021-06-25 19:00] 79ho3ein opened #3551 "When the Jet engine plugin is activated, the crocoblock dashboard as well as the plugins open very slowly."
hello
When we activate the jet engine plugin, the speed of the crocoblock dashboard as well as the plugins section drops sharply.
It even takes up to 2 minutes to load. I followed up on this problem, and realized that this problem also exists in some users.
Please investigate the problem if possible.

thank you

[2021-06-25 19:04] mehdimoradi1500 commented on #3551
Yes i faced this problem too, when i activate jet engine, these following parts run into problems: Plugins section, elementor loadigs and crocoblock dash run so slowly up to 1-2 minutes

[2021-06-25 21:37] mehdimoradi1500 opened #3552 "jet woo builder or jet engine: product add-on (Custom input fields)"
Hi
I suggest to provide a Custom input fields in products single page
Custom input fields (also called product add-ons) like text fields, select fields, checkboxes, and so on that allow the user to enter additional, personalised information about a product, and these datas will be shown in the purchase basket and so on
Thank you so much

[2021-06-26 09:27] petranca opened #3553 "JetEngine: Taxonomies in select/checkbox/radio meta fields"
If you want to link a post to an "external" taxonomy e.g. from Woocommerce, it is currently only possible to do this with a manual entry of the ID. However, this does not automatically add newly created taxonomies to the post. You always have to add them again manually, e.g. in the glossary.

But it would be a great feature if there would be a possibility to select taxonomies in Select/Checkbox/Ra

[2021-06-26 10:01] mrhossein opened #3554 "Specific-category-for-each-meta-field-separately-in-a-meta-box-jet-engine"
Hi. I have a practical suggestion for jet engine development.
I use Metabox fields to introduce more information about products. But not all fields should appear on all product pages because they are not related to that product.
In my opinion, it should be possible to limit each field to a certain number of categories so that the same categories are displayed only on the product management page. T

[2021-06-26 13:10] digiredo opened #3555 "Add shortcodes as field type to optionspages and option for hide save button"
Hi

Please make it possible for option pages to add the shortcode as field type. With this we can make elementor templates and add them to the options pages with shortcodes allowing us to give option pages more appearance including explanations etc.. This is easier than using the HTML field type.

also it would be very nice if the save button could be hidden from certain pages. This would allow yo

[2021-06-26 15:48] perks98 opened #3556 "🐞 JetEngine - REST API Post Number Doesn't Work"
**Describe the bug**
When creating a JSON feed from a feed provided from a product supplier it seems to work but using the Listing Grid widget the 'Posts number' doesn't work, e.g. when it is left to default or any number like 4 it still loads and displays all 80. This also doesn't work with the Pagination widget from JetSmartFilters. Please can you look into this as it is almost perfect for my cu

[2021-06-26 17:13] puertarodrigo commented on #968
+1

[2021-06-26 17:23] 79ho3ein opened #3557 "Ability to introduce price start in jet samrt filetrs plugin ( Price range filter )"
hello
Currently, it is not possible to tell the user in the price range filter that the price is from X to Y dollars.
It would be great if you could add a feature so that we can put a prefix for the lowest price and highest price.
If you add this feature, we can introduce something like this in the price range filter to users : **From $ 200 to $ 3000**

Please check. Thank you

[2021-06-26 21:19] 79ho3ein opened #3558 "Report an interference in the jet woobuilder plugin title widget.please check"
hello @UraraReika
This interference I'm talking about has occurred in the last 6 updates to the plugin. **The problem is that the product title widget is displayed in the editor, but is hidden on the site.**
I inquired about the reason for this problem and found that this problem also exists on two other sites. Please see the red box in the image below:
![Untitled](https://user-images.githubuserco

[2021-06-27 10:05] 79ho3ein commented on #361
This image is to introduce the jet woobuilder plugin on the crocoblock website.
![Screenshot (57)](https://user-images.githubusercontent.com/77163248/123540379-e63dcf80-d753-11eb-91db-d6e796f9fd16.png)
As you can see in the image, the variables section, color selection and size are superbly displayed. These features in the image are not currently available in this plugin.

But if this feature is a

[2021-06-27 23:11] 79ho3ein opened #3559 "Ability to "Show more" in the single attributes widget.(jet woobuilder plugin)"
hello
Usually on store websites, the number of product attributes is high,and This increases the scrolling length on a single product page.
It would be great if you could add a "show more" feature to the single attributes widget.
If this feature is added, only x items of product attributes will be displayed to users. And if the user wants to see all the product attributes, she clicks on the displa

[2021-06-28 00:30] websightsrus opened #3560 "JetPopUp Button Actions"
Can we get the Justify option for the Popup Action Button Alignment options? With the regular Elementor buttons, there is a Justify option and it makes the button Full Width.

Thank you!

![Screen Shot 2021-06-27 at 5 27 18 PM](https://user-images.githubusercontent.com/77897776/123564109-ef876600-d76c-11eb-8fe0-ca148a9a62ac.png)
![Screen Shot 2021-06-27 at 5 27 53 PM](https://user-images.githubuse

[2021-06-28 00:44] rodolfofloresbravo commented on #220
+1 for this!

[2021-06-28 02:14] promocot opened #3561 "Create new widget or option for slider (support dynamic template for slides)"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

Hello, what I mean? For example, I need to create on website block with before and after, if I add many widgets before and after, I will make the site inconvenient to use and too large, however, if I create several

[2021-06-28 05:35] Jackal-un commented on #3414
I have also the same problem. Complete disaster for my project...Hope to get some option to give other users (then CCT author) the access to edit CCT

[2021-06-28 05:46] DevDietheR opened #3562 "Implementing Link Field to JetEngine"
I hope this can be added to JetEngine, it's very important, and yet it's missing from the jet engine. It's not wise to use WYSIWYG editor just to create a link

https://www.advancedcustomfields.com/resources/link/

[2021-06-28 08:24] kaskad88 commented on #3555
Hi @digiredo, you can use the JetEngine Shortcode Generator to generate shortcode for option pages https://gyazo.com/492cbf83760560ee92c48783ffbc76ee

[2021-06-28 08:37] drwillems commented on #1657
+1 Would be so useful to include!

[2021-06-28 09:55] digiredo commented on #3555
Hi Dmitriy

Thx for your reply and i know this. Buy what i need is to show elementor
templates on the option pages of self. Example i make section in elementor
en than i will show it on the backend on the option pages

Greetz Pascal

Op ma 28 jun. 2021 10:25 schreef Dmitriy Bartoshchak <
***@***.***>:

[2021-06-28 10:43] Floydtm commented on #3543
Hello. We checked everything and everything seems to be working correctly. Please tell me if you have customized the previews setting?

[2021-06-28 12:36] mrhossein opened #3563 "JetTabs - Add Elementor widgets to tabs by click & drag"
Hello.
It would be great if we could put any of the elementor extensions and widgets in any tab we like with clicks and drag.

[2021-06-28 12:42] Floydtm commented on #3537
We will fix this in the next release. Thank you!

[2021-06-28 12:42] #3537 closed, assigned to nobody

[2021-06-28 12:51] Floydtm commented on #3549
Please contact support for the specific plugin. If you have any questions about our product, then you can contact our support team