[2022-04-21 08:46] shahzaib786 opened #5248 "How to change the URL slug when apply type to mixed"
**Describe the bug**
How to change the URL slug when apply type is mixed and whenever we click on each category, the category name should appear at the end of URL instead of this text "?jsf=epro-posts:latest&tax=category:27"

**Expected behavior**
The URL should change to the category name for example: www.blabla.com/ecommerce-trends, when we click on each category filter. Under the apply type "Mi

[2022-04-21 08:58] 79ho3ein commented on #5241
If your recommendation is that this option be enabled, then there is no problem. thank you

[2022-04-21 08:58] #5241 closed, assigned to UraraReika

[2022-04-21 09:15] beamkiller opened #5249 "Hook woocommerce_product_is_visible is not working on Product grid"
**Describe the bug**
Hook woocommerce_product_is_visible is not working on Product grid

**To Reproduce**
[code]

**Expected behavior**
It hides the product.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smartphone (please complete the

[2022-04-21 10:48] Floydtm commented on #5248
I understand that this is important to you, but this is not a bug.

[2022-04-21 10:48] #5248 closed, assigned to nobody

[2022-04-21 12:10] arleenwebs opened #5250 "More Controls for Showing Tagged Photos in Instagram Widget"
I would like to be able to filter tagged photos so that only my own posts are showing. That way, I can choose which of my own posts are displayed and I can customize the feed based on what page is being viewed.

I'd also like to be able to specify a date range and a minimum number of images. When I choose Top Media, it shows photos that are years old.  When I chose Recent Media, only one photo was

[2022-04-21 14:48] shahzaib786 commented on #5248
Ok, but also the apply type of page reload is not working, can you check please?

[2022-04-21 16:35] madmaxpowermx opened #5251 "JetEngine - "Allow Custom" option for CCT meta fields"
Currently theres no option to add new values to the metafields like in the CPT. For example, like if we want to add new valures for a checkbox field, for this we have to go to the custom cotent type / glossaries and update from there and it takes some time when you are filling the values and then you have to open new pages for that

regards

[2022-04-21 17:50] Floydtm commented on #5249
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-04-21 17:50] #5249 closed, assigned to UraraReika

[2022-04-21 18:20] glorpyz opened #5252 "Feature request: Warning - data will be lost if we change names on fields"
Custom Content Type.
-Edit Content Type.
-Changed field Name/ID.
= Lost my data.

I think a warning would be nice thing to add. :)

[2022-04-21 18:35] Floydtm commented on #5133
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-04-21 18:35] #5133 closed, assigned to UraraReika

[2022-04-21 18:37] Floydtm commented on #5248
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-04-22 01:01] nicedood commented on #450
+1

[2022-04-22 01:02] nicedood commented on #4457
+1

[2022-04-22 03:10] muzKore opened #5253 "Repeater field conditional logic"
Hi Crocoblock

I was wondering if Conditional logic in Repeater meta fields was on the roadmap? I used to use this a lot in ACF and it would be great if I could have it that a meta field's visiblity was based on the output from another field.

I know nothing is simple but it would be an amazing feature to have.

Peace and props.
Murray

[2022-04-22 07:30] monkz88 opened #5254 "Allow Jetformbuilder plugin "use autocomplete" to search jetengine query"
1. I've created a user query using jetengine query builder.

2. Then I've installed this plugin:
https://github.com/ihslimn/jet-forms-generate-from-posts-query

3. I've set up a form with jetformbuilder where the admin can register new users frontend if the user doesn't exist.

4. If the user already exists the admin can search for the user in a field. Using the plugin above I'm able to get all us

[2022-04-22 07:58] raabmar commented on #1703
Just started using JetSmartFilters with JetEngine and I am looking for exactly the same. Seems so trivial.. would be good to have this option

[2022-04-22 10:37] kaskad88 commented on #5251
I merged this issue with [#3964](https://github.com/CrocoBlock/suggestions/issues/3964), which is on the same subject so we could deal with it more efficiently.

[2022-04-22 10:37] #5251 closed, assigned to kaskad88

[2022-04-22 11:00] raabmar commented on #2914
Absolutely necessary, just started with JetEngine yesterday, and on day one I miss this already. It does work with some fields, but not all - e.g. checkbox, radio, etc.

[2022-04-22 11:04] raabmar commented on #1834
All of that! So necessary. I also did not know before I moved over to JetEngine that I am not able to set up every meta field as required. I did not know that I cannot add a taxonomy, and I think it is very essential from an Editor-usability point of view → one mask to fill out for everything.

ACF has a hidden feature where I can rename a field (image) to `_thumbnail_id` so that it automatically

[2022-04-22 12:07] antoinelbch opened #5255 "[Skins Manager] Update Presets to use JetFormBuilder instead of Legacy Forms"
The **Skins manager** is still using the **Legacy Forms** instead of JetFormBuilder to setup Profile Builder.

Please update so we can add the preset pages without having to manually create them using JetFormBuilder.

See [tutorial by Crocoblock ](https://youtu.be/DloUYSFmAvs?t=158) on Profile Builder.

![2022-04-22_13-59-16](https://user-images.githubusercontent.com/1252145/164710966-23b08a83-372

[2022-04-22 12:32] hb81010 commented on #5144
Thank you, it works too great! That helps me a lot.

I still have one question about Example2:

Is it possible to output e.g. icons with the function "esc_html"? I tried it with FontAwesome icons (Unicode & HTML) instead of the label text, but then only the text is displayed. FontAwesome is also loaded on the page.
Similar to Dynamic Fields, I would like to use an icon for each of the True and Fal

[2022-04-22 13:25] UraraReika commented on #5144
You can return simple string with markup without `esc_html` function.

[2022-04-22 13:40] hb81010 commented on #5144
Thank you, I was thinking too complicated.
Works perfectly

[2022-04-22 13:40] #5144 closed, assigned to UraraReika

[2022-04-22 14:22] 79ho3ein opened #5256 "One bug and one request for cart page - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

**BUG**

On the shopping cart page, if we use the svg icon to [delete button the product](https://prnt.sc/gumtoqRXdopE) , the color of the icon cannot be changed. (What a normal state, what a hover)

**Proposal**
In the shopping cart table, if we do not write any titles for some sections, such as the delete section, [only on

[2022-04-22 17:11] carlpolson commented on #2632
So just curious if there is any way to use the Jet Engine Repeater Feild to hide or show the date fields? I am trying to use this to show dates (not in a series) on Jet Engine Calendar.

[2022-04-22 17:54] hb81010 commented on #5152
Yes, that's what I tried first. When I insert the created review type, with the Review Listing Widget in my template, then I have all the rating criteria, but they are rather for the visitors of my site, so that they can rate.

But I'm trying to give my review as a website owner for a product. I have a page on which I test and rate products. The Static Review Widget goes in a similar direction, bu

[2022-04-23 05:39] glorpyz opened #5257 "PHP snippet to short code"
Hi. Maybe you already have this, I hope so;

It would be great to have a function were we can make PHP snippets and bring them into our page with short code.

Just tested such plugin, nice function but would prefer to have all plugins with the same company, and you are the best. ;-)

[2022-04-23 12:16] edgBlw opened #5258 "JetEngine - Bug on repeater listing"
I have a listing slider on my website and i detected a bug. i often add custom classes to elements from widgets i can't really access. this is done with javascript via my child theme. it works very well everywhere, but not inside the listing slider, particular those for repeater purposes. **also, somehow it might be a layer or something above the content inside the slider module, because you even

[2022-04-23 19:12] joehdevwp commented on #1967
+1 upvote for this feature

[2022-04-23 19:30] jacktaffa commented on #1856
#4631

[2022-04-24 13:09] stapolin commented on #141
Edited to say this is actually already added to the form field.

[2022-04-24 20:55] Emerald-edge opened #5259 "Jet filters, ability to remove items based on criteria in conjunction with filters"
Hi,

Please add the ability to exclude content based on the same things we can filter down by.

Eg when searching fruit if I'm looking for apples I could filter to apples but remove green leaving me with all apple choices that are NOT green hope this make sense.

Further example I want to look at shoes in certain style but not pink ones I'd exclude pink and include the shoe type I wanted.

Kind re

[2022-04-24 21:58] Michsantoz1 commented on #2619
Do you know when this feature will be released?

[2022-04-24 22:02] jonataslessaduarte commented on #2619
@UraraReika
looking forward to this feature eagerly

[2022-04-25 08:45] monkz88 commented on #5254
Update: I just tested it with the legacy form builder, and it works there. So it's a bug that it doesn't work in jetformbuilder.

[2022-04-25 08:47] Floydtm commented on #5257
We have a generator short code in the jetengine plugin. Maybe this will partially solve your problem. Let me know if this helps you

[2022-04-25 09:32] Floydtm commented on #5259
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-25 09:32] #5259 closed, assigned to nobody

[2022-04-25 09:41] shahzaib786 commented on #243
Same here, I would need the clear permalinks like www.blabla.com/{category_name}  when filtering or clicking on each category.

[2022-04-25 09:50] shahzaib786 commented on #243
Could somebody tell me where is the solution for custom permalinks/slug when filtering?

[2022-04-25 09:52] shahzaib786 commented on #4482
+1

[2022-04-25 10:49] raabmar opened #5260 "JetEngine: Allow line breaks and paragraphs when displaying the meta field "textarea""
When we want to show a longer text, we can use the meta field WYSIWYG or TEXTAREA.
Often WYSIWYG fields are not wanted, as the editor can add all possible things and ruin the layout (they perhaps add images, custom formatting, headers, etc.). Therefore, we could use the TEXTAREA.

The only problem is, that TEXTAREA automatically renders the text in a way that does not include any line breaks or a

[2022-04-25 11:42] panathos commented on #2647
+1 we need this

[2022-04-25 12:36] jorgesan07 commented on #2647
+1 🤞

[2022-04-25 13:11] madudesign commented on #2329
+++1
Would love to see this feature, since UX is not clear here, or if there is any js turnaround or so in the meantime, it would be very appreciated ;)

[2022-04-25 14:27] bullyonder opened #5261 "MetaBoxes "Post Has Taxonomy Terms" condition works only for the first 10 taxonomies"
**Describe the bug**
If your WP has more than 10 taxonomies (including build-in 'categories', 'tags' and 'menus') then the "Post Has Taxonomy Terms" condition will not work for any taxonomy beyond first 10. This is caused by the way how the taxonomies are retrieved by `wp.data.select( 'core' ).getTaxonomies()` function in wp-content/plugins/jet-engine/includes/components/meta-boxes/assets/js/ajax-

[2022-04-25 15:31] clibarnes commented on #2355
any update?

[2022-04-25 15:35] edgBlw commented on #5260
yeah i agreee. But alternatively for now you can use the dynamic field and the set the filter field output callback option to "Add paragraph tags (wpautop)" :)

[2022-04-25 17:03] mindingear commented on #3522
+1

[2022-04-25 18:03] yaron86 opened #5262 "control listing grid post number on mobile"
please add a way to control the post number on mobile, because if i show 12 posts on desktop, on mobile it's a lot of scrolling and it is making a bad ux...

https://prnt.sc/yjY0yXMVi3NJ

[2022-04-25 18:05] pintolog commented on #5262
Well blessed feature!
In our days RESPONSIVE mode for the features & setting is well need!

Please add this feature :)

[2022-04-25 18:18] Joliamendi opened #5263 "Ability to display Available colors in the product grid widget"
**Please, describe the feature request, making it clear to understand.**

Please add this feature so that we can display the colors available for each product in the product grid widget. https://prnt.sc/6vakFV07PMrU
This feature is really essential. Most customers want this from us, but unfortunately there is currently no such feature in jet woobuilder.
I do not know if you have thought about it b

[2022-04-26 08:49] Floydtm commented on #5263
#361

[2022-04-26 08:49] #5263 closed, assigned to nobody

[2022-04-26 09:00] Joliamendi commented on #5263
hi @Floydtm , thank you
May I ask if you have any plans to add it in 2022? Thank you for your reply.

[2022-04-26 09:12] Floydtm commented on #5263
I can't tell you exactly. keep for updates

[2022-04-26 09:21] Floydtm commented on #3661
Check out this tutorial, maybe it will help you  https://crocoblock.com/knowledge-base/articles/jetappointment-how-to-set-custom-item-templates-for-providers-and-services-fields/

[2022-04-26 09:31] UraraReika commented on #5256
**Bug**
We have checked your request and everything seems to be working correctly. Perhaps this is related to predefined color inside svg file.

[2022-04-26 09:31] #5256 closed, assigned to nobody

[2022-04-26 09:48] 79ho3ein commented on #5256
hi @UraraReika
It is strange. Now that I have tested, everything is working fine. Anyway, thank you

[2022-04-26 09:48] #5105 closed, assigned to UraraReika

[2022-04-26 10:31] Michaelgimii opened #5264 "Ability to exclude sale products in the product grid widget"
Please add a new feature so that we can exclude sale products in product displays. This is because most customers, including my customers, have a separate carousel on their website to display sale products. Therefore, there is no need to display sales products in the carousel of Samsung products or other categories.
Only one option is needed to exclude the display of sale products in the product g

[2022-04-26 14:58] stasonua0 opened #5265 "Jet Engine: Change Lazy Load preloader in listings"
Hello, consider changing the preloader view in the Jet Engine listings from the current https://prnt.sc/CzGM2K5VMzMc to this one: before https://prnt.sc/IFbsgUssBuHA after https://prnt.sc/UaJY41FvwNm8 or here so before https://prnt.sc/woFpDBfW9C9b and after https://prnt.sc/cH9eRGZkF8yn.
Why is this?
1. Eliminate bouncing / shifting content, especially when the listing is on the first screen.
2. It

[2022-04-26 15:01] kskonovalov commented on #5265
+1 better UX

[2022-04-26 15:15] toxickim24 opened #5266 "Set Date Range Filter Values On Page Load"
Can we set smart date filter values with greyed offset dates on page-load like in the below picture ? without applying the button or setting the range date?

It is working on the query builder and set "greater than 2020" but does not show the "greyed offset range".

![image](https://user-images.githubusercontent.com/22664183/165332352-44b05e5b-afe9-4087-bc7f-f41260e34c5a.png)

[2022-04-26 16:36] salasmx commented on #1449
Have you guys addressed this?

[2022-04-26 16:43] kwsim539 commented on #1657
+1 This feature is a must-have and the biggest client request.

[2022-04-26 17:01] stasonua0 opened #5267 "Smart loading of CSS and JS resources"
Hey! I've noticed that your plugins don't care if they're actually on the page or not, and load CSS and JS files all the time on all pages, even if no widgets were added from that plugin.

When there is only one plugin, it seems to be nothing, but when you put a set of croc blocks of 5-6 plugins, it already starts to feel decent in terms of speed.

Pay attention to the path Elementor has taken, th

[2022-04-26 19:31] raabmar commented on #5260
Need to try that next time, in my current development I switched already to WYSIWYG and try how it'll work out when the client adds content

[2022-04-26 19:43] EvgenDoman commented on #5267
+1

[2022-04-26 22:23] kskonovalov commented on #5267
+1 absolutely must performance thing

[2022-04-26 23:08] Joliamendi commented on #5267
+1

[2022-04-26 23:09] Joliamendi commented on #5264
+1

[2022-04-26 23:21] Joliamendi opened #5268 "MCustom not found message for fillers in product grid widget"
I want the message no filter found to be found when no product matching the user's filters is found. But in jet woobuilder can only have one message. No products found!
If we use jet smart filters, it is better to add a new option to the product grid that will display a custom message for the filters. Therefore, we can set two custom messages in the product grid widget.
1- When no product is on th

[2022-04-27 01:37] #3865 closed, assigned to nobody

[2022-04-27 05:15] trofimartya commented on #4939
+1
Search filter needs this improvement.
Its obvious that most of users would like to search through all possible data.

[2022-04-27 05:16] trofimartya commented on #4939
+1
Search filter needs this improvement.
Its obvious that most of users would like to search through all possible data.

[2022-04-27 05:27] trofimartya commented on #1785
Unfortunately not working... Do you have maybe new version of code that is more relevant?

P.S. +1 to this feature

[2022-04-27 07:55] Michaelgimii commented on #5267
Exactly right. This is why store pages created with jet plugins load very slowly compared to another website. This is really impressive.

[2022-04-27 07:59] 79ho3ein commented on #5265
+1

[2022-04-27 08:27] UraraReika commented on #5264
In one of the next update macros functionality for IDs field will be added and you will be able to use this code:

[code]

Like [this](https://tppr.me/mqsZq).

[2022-04-27 08:31] Michaelgimii commented on #5264
Thank you. Will this code not be added to the plugin? Because this code is deleted every time the template is updated. It will also be usable for all users.

[2022-04-27 08:37] futureyoon commented on #1470
Anybody has any workaround for this? I built a nice listing template and display them on a page. I saw multiple duplicated queries (using query monitor) being made to retrieve the data to show on a page which slow down the performance badly.

Wit this rate, I will have to keep considering how many listing to display due to the performance issue.

[2022-04-27 09:04] DaniloRie opened #5269 "JetEngine: Be able to order CPT by view count"
We need this feature, its 2022.

I have created a CPT and I need to have a section where I can show users the most visited, as a list of popular posts.

I have seen several people complaining about this and a solution that you have given is to use the data store to do something similar but it does not really work as it should, you also commented that it would be a functionality that you would add

[2022-04-27 11:04] hb81010 commented on #5267
+1

That would be really great.

[2022-04-27 11:25] hb81010 opened #5270 "Price List Widget/Responsive Tables Widget - Filter Hook for Custom Field Values"
Would it be possible to give the Price-List or Tables widget a filter hook, similar to what was done with the [JetCompareWishlist 1.2.4](https://crocoblock.com/changelog/?plugin=jet-cw) update. The Price-List widget is actually a really good widget and I like to devise it for other things like datasheets and fill them with my meta fields from JetEngine. Similar to how it is used on the Crocoblock

[2022-04-27 11:30] Floydtm commented on #5268
#4386

[2022-04-27 11:30] #5268 closed, assigned to nobody

[2022-04-27 11:32] Floydtm commented on #1785
Available since version 2.3.0 https://prnt.sc/y6sj7YS5nXGZ https://prnt.sc/tu2J6IA3WIlk

[2022-04-27 11:32] #1785 closed, assigned to nobody

[2022-04-27 11:33] 79ho3ein commented on #5267
+1

[2022-04-27 12:15] trofimartya commented on #1785
Ok but how to make it work to search by title and by meta fields? post_name is the post's slug. post_title not working for me...
http://joxi.ru/vAWogXYS33z0yA
http://joxi.ru/KAgLQZMc550dLr

meta fields search works well
http://joxi.ru/V2VoqDeSBBO5EA

[2022-04-27 12:43] Floydtm commented on #1785
#4939

[2022-04-27 13:06] trofimartya commented on #1785
Still not working unfortunately... :(

[2022-04-27 14:34] wexdan opened #5271 "Make Jet Appointments listings available to Jet Calendar"
At present, it is not possible to show appointments created in Jet Appointments in Jet Calendar - they can only be viewed in the listing grid.

It would be very useful to be able to show the appointments in the calendar.

This is particularly important where multiple and repeat bookings are concerned, or there are several different services offered.

Thanks!

[2022-04-27 14:42] Michaelgimii opened #5272 "Change the link structure after activating each filter"
On some websites, after a filter (Ajax) is applied to the website, the link changes according to that filter. I do not know if this feature is now available in jet smart filters. But please add it. But if it does not already exist, please add it.
thanks

[2022-04-27 15:33] erotser opened #5273 "Webp support for Jet Engine gallery."
If you select webp files on your gallery meta you do not see thumbnails at the backend. The rest works fine but it looks like a small oversight.

[2022-04-27 16:08] Floydtm commented on #5271
This was added in one of the updates https://prnt.sc/EF1_4V8q3gHD Let me know if this helped you.

[2022-04-27 16:14] Floydtm commented on #5272
Explore this tutorial https://crocoblock.com/knowledge-base/articles/jetsmartfilters-how-to-create-a-new-filter-and-apply-it-to-publications/ https://prnt.sc/vTP1Fe-nvu_Z

[2022-04-27 16:14] #5272 closed, assigned to nobody

[2022-04-27 16:17] maumo-cn opened #5274 "JetTabs - Mobile functionality for opening and closing tabs"
Hello!

We are using Jet Tabs Classic Accordion on our website ( https://astridsg.eu/work/ ) and we have a functionality request.

For mobile, we are using the Collapsible option. We like to enable this option since a user can **only open 1 accordion tab at a time**. The problem we are facing with the Collapsible option is that **you can't close an open tab by touching again on it**, it stays open

[2022-04-27 16:19] wexdan commented on #5271
Thanks for getting back to me.

Unfortunately, I do not see that...

<img width="294" alt="Screenshot 2022-04-27 at 17 16 26" src="https://user-images.githubusercontent.com/65738884/165565055-d3158e3a-6758-42aa-ad71-953dff81b20c.png">

And when I asked support, they said it was not possible, and I should ad it as a feature request.

I wonder what I am doing wrong - can you point me in the right di

[2022-04-27 16:26] Floydtm commented on #5271
Update jetengine and jetappointment plugins to latest versions https://prnt.sc/s6l0NbuXLVsP

[2022-04-27 16:30] wexdan commented on #5271
Sad to say, I have:

<img width="1056" alt="Screenshot 2022-04-27 at 17 29 15" src="https://user-images.githubusercontent.com/65738884/165567554-62f10f4e-cc64-4009-bf54-904b87825c40.png">

Anything else I can try?

[2022-04-27 16:44] Floydtm commented on #5271
Looks like we missed something in the latest jetengine update. We will check everything and fix it in the next update.

[2022-04-27 16:46] wexdan commented on #5271
Fantastic news! I look forward to it!

Thanks for checking it out.

[2022-04-27 17:06] ignaciosantiago opened #5275 "Custom Code with Dynamic fields (JetEngine)"
Hi,

I am creating a listing site (for properties), and I have an external booking engine to let my users book the houses.

For example, for 1 of my properties is:

<div id="apartmentIframe1080262">
<br />
BookingToolIframe.initialize({"url": "https://login.smoobu.com/en/booking-tool/iframe/269035/1080262", "baseUrl": "https://login.smoobu.com/", "target": "#apartmentIframe1080262"})
</div>

I had

[2022-04-27 17:38] Floydtm commented on #5274
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-27 17:38] #5274 closed, assigned to nobody

[2022-04-27 20:38] DaniloRie opened #5276 "Count number of posts in a relation between CPTs"
I wanna count the number of posts in a relationship between 2 custom post types.
Sample:
I have a custom post type called films and another called actors, i want to output the number of films in relation to an especific actor.
Like Brad Pitt (Actor) have 3 posts (films) related in the actor -> film relationship. And autput the number 3 in a dynamic field or header.

Thanks!

[2022-04-27 22:11] Michaelgimii opened #5277 "Coding with react js to speed up plugins (jet woobuilder & other)"
elementor uses react in its recent updates. This speeds up the user experience. It would be great if crocoblock could rewrite its plugins using react. thanks

[2022-04-27 23:54] wandersonce commented on #1381
+1

[2022-04-28 01:55] futureyoon commented on #430
Any update on this?

[2022-04-28 05:11] GaribayMarketing commented on #1246
Any update?

[2022-04-28 08:12] rodolphebertozzo opened #5278 "Jetwoobuilder - Login widget"
When wrong values are entered in the login widget, there is no notice message indicating that the fields are wrong, just a refresh of the page. Can you fix this problem and add an error notice to this widget

[2022-04-28 08:31] UraraReika commented on #5264
You should add this code to your child theme, then this code will not be deleted or rewritten. And don't forget to use this macros in proper field `%on_sale_products_list%`. Yes this will be usable for all users.

[2022-04-28 08:35] Smalyleinchen commented on #2252
+1

[2022-04-28 08:52] Lonsdale201 opened #5279 "Attachment file link by ID - Open new window (code example added)"
In a future possible to add a little extra function, to allow the link to open in a new window?

At the moment you can use the following jQuery code to do this manually

// for the dynamic field widget add your custom css and replace the "kattints2"

    jQuery(document).ready(function( $ ){
      $('.kattints2').on('click', function(){
          event.preventDefault();
    var clickRef2 = $(this)

[2022-04-28 08:53] edgBlw opened #5280 "Fix for JetBooking or purchase plugins etc - Protect purchase end value"
do i even have to say something?

https://user-images.githubusercontent.com/101653721/165715454-0794816c-2ec4-4383-92ac-b09cde0f8989.mp4

[2022-04-28 08:58] edgBlw opened #5281 "JetForm Builder - Allow multiple not 100% width fields under each other with no relation"
https://user-images.githubusercontent.com/101653721/165716559-17764254-0ce3-412e-a253-51a9bc5144dd.mov

Currently if you have multiple fields in one line then you have a small field with maybe only 50% width and unert that row you want again 2 50% width fields. this is not possible because the rows are trying to always fit the 100% which kind of limitates you

[2022-04-28 12:22] fulloken commented on #1703
+1 Please! An "All" option should be standard with the filter function.

[2022-04-28 12:49] Floydtm commented on #5271
We've checked everything and it looks like your request hasn't made it into the plugin release yet and will be added later. You can wait for the appointments plugin update or contact our support team. The guys will update the plugin for you. Thank you!

[2022-04-28 12:49] #5271 closed, assigned to nobody

[2022-04-28 13:16] #5277 closed, assigned to nobody

[2022-04-28 13:48] kaskad88 commented on #5260
@raabmar You can use the dynamic field widget and the set the filter field output callback option to "Add paragraph tags (wpautop)" https://tppr.me/lzkh

[2022-04-28 13:48] #5260 closed, assigned to kaskad88

[2022-04-28 14:25] satomiao commented on #5265
+1

[2022-04-28 15:05] perks98 commented on #5252
Yes would be good to have a warning and maybe a converter/transfer tool so it moves the data to the new name maybe?

[2022-04-28 15:06] girafffee commented on #5280
Hi, the problem is already fixed in Foreo dynamic template and JetFormBuilder. You can check the fix on the same page

[2022-04-28 15:54] maurocarreraok opened #5282 "Dynamic Image Size (same as Elementor) (Height, Width, Fill-Cover-Contain-Auto)"
Hi,

Please add more Dynamic Images Properties so we can play around with more functions such us

Height px/%
Width px/%
Fill : Cover, Auto, Contain, etc.

[2022-04-28 16:07] 79ho3ein opened #5283 ""show if empty " option & Custom icon for jet woobuilder product grid/list star rating."
**Please, describe the feature request, making it clear to understand.**

Please add this feature to the product grid widget if possible, so that it is still displayed even if the [star rating](https://prnt.sc/7u9zMjvnonSX) are empty. (This feature is very useful in ui)

It would also be great if you could add a custom icon to display the Star rating in this widget. (Custom Icons for  Star rating)

[2022-04-28 18:29] vmavrikios opened #5284 "Add variations swatches widget for JetWooBuilder"
Hi Crocoblock

A nice feature missing is to be able to add dynamic variation swatches in product loop.
[Your article](https://crocoblock.com/troubleshooting/articles/fail-to-add-attractive-variation-swatches-to-woocommerce-archive-page/) on this is nice to have but not easy to implement out of the box + you need to buy another premium plugin (that who knows for how long it will be compatible with

[2022-04-28 20:15] edgBlw opened #5285 "JetEngine - Admin menu bug "Edit with crocoblock plugins""
The logo is aligned properly within the kava theme, but if you use the hello theme, the logo alignment looks like this:

![logo](https://user-images.githubusercontent.com/101653721/165837950-7042d51a-3300-4542-9c53-f337cd699e9f.jpg)

[2022-04-28 20:16] edgBlw opened #5286 "JetEngine - Allow rearrangement of glossaries"
Currently we can rearrange datastores (like meta fields), but we can't do that with glossaries. please give us the ability to do so

https://user-images.githubusercontent.com/101653721/165838198-af4cad8b-9212-44b3-8515-e67e4b903025.mov

[2022-04-28 20:22] edgBlw opened #5287 "JetEngine Settings page - Admin menu cut off"
Again, if you use kava everything works fine,
but if you have the hello theme installed and you are clicking on certain tabs on the settings page, the admin menu get cutt off sometimes or is laggy

https://user-images.githubusercontent.com/101653721/165838904-aa12bf5d-8b07-4222-b023-fe74994b0f3d.mov

.

[2022-04-28 21:44] remygfx commented on #4983
FYI the correct macro is %queried_term% , thanks to Taisia at crocoblock

[2022-04-28 21:44] #4983 closed, assigned to nobody

[2022-04-29 00:11] Joliamendi opened #5288 "New move in autoplay option - jet woobuilder product grid"
In the product grid widget, if we enable the autoplay option, it will quickly return to the starting point when the carousel is finished.
Please add a new option, that if the autoplay option is enabled, we can control the speed of return.
If you see the carousel on this website, when the carousel ends, it slowly returns to the starting point. Finally, it would be great if we could control the caro

[2022-04-29 02:54] DomDomonom commented on #2066
Also coming across this issue in testing

[2022-04-29 08:38] #3683 closed, assigned to kaskad88

[2022-04-29 08:39] #5182 closed, assigned to MjHead

[2022-04-29 08:47] Floydtm commented on #5281
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-29 08:47] #5281 closed, assigned to nobody

[2022-04-29 08:57] UraraReika commented on #5284
I merged this issue with [#361](https://github.com/Crocoblock/suggestions/issues/361), which is on the same subject so we could deal with it more efficiently.

[2022-04-29 08:57] #5284 closed, assigned to nobody

[2022-04-29 08:59] UraraReika commented on #5283
I merged this issue with #4781, which is on the same subject so we could deal with it more efficiently.

[2022-04-29 08:59] #5283 closed, assigned to nobody

[2022-04-29 09:00] Floydtm commented on #1703
https://prnt.sc/v5WYgwaanqwg

[2022-04-29 09:02] #1703 closed, assigned to SargasTM

[2022-04-29 09:08] Floydtm commented on #5282
#5078

[2022-04-29 09:14] 79ho3ein commented on #5283
hi
I'm sorry, I did not remember at all that I had a similar request before. Of course, the custom icon was not a duplicate.

Anyway, thank you

[2022-04-29 09:34] MjHead commented on #5276
You can do this with Query Builder and Query Count dynamic tag - just create a query to get related films for actor and than use this query for Query Count dynamic tag

[2022-04-29 09:34] #5276 closed, assigned to kaskad88

[2022-04-29 09:36] kaskad88 commented on #3841
Added in JetEngine v2.11.8

[2022-04-29 09:36] #3841 closed, assigned to kaskad88

[2022-04-29 09:36] kaskad88 commented on #3752
Added in JetEngine v2.11.8

[2022-04-29 09:36] #3752 closed, assigned to nobody

[2022-04-29 09:36] kaskad88 commented on #3751
Added in JetEngine v2.11.8

[2022-04-29 09:36] #3751 closed, assigned to kaskad88

[2022-04-29 09:36] kaskad88 commented on #2991
Added in JetEngine v2.11.8

[2022-04-29 09:36] #2991 closed, assigned to kaskad88

[2022-04-29 09:38] #5219 closed, assigned to kaskad88

[2022-04-29 09:38] #4907 closed, assigned to kaskad88

[2022-04-29 09:38] #4883 closed, assigned to kaskad88

[2022-04-29 09:45] MjHead commented on #5198
You can use Query Var macros for such purposes

[2022-04-29 09:45] #5198 closed, assigned to nobody

[2022-04-29 10:00] Gustavoglez opened #5289 "JetTabs - Image Accordion Widget Tittles"
In the JetTabs "Image Accordion" widget, the title is always formatted as H5 and there is no possibility to change this.

As a suggestion, I would add a selector to be able to change the H5 to other values as needed.

[2022-04-29 11:48] valmirselmani opened #5290 "JetEngine - Posts Meta Field Type (Improvements, Bugfix)"
I would like to customize the posts meta field type to show only certain posts. Right now you can only restrict it by custom post types. A way to sort and customize the formatting of the selected posts would also be much appreciated.

**Feature Requests**
- [ ] Add the possibility to restrict the selectable posts, e.g. by setting WP_Query arguments.
**Example:** https://docs.metabox.io/fields/post

[2022-04-29 14:34] Clicktoweb commented on #5170
With this option you enable the last day booked but not the first..
The suggestion of peterloran is essential for all hotel, B&B.. without this option there is always a free night between 2 stays

[2022-04-29 16:31] kaskad88 commented on #5092
I merged this issue with [#5273](https://github.com/CrocoBlock/suggestions/issues/5273), which is on the same subject so we could deal with it more efficiently.

[2022-04-29 16:31] #5092 closed, assigned to kaskad88

[2022-04-29 16:41] kay742 commented on #1225
Hey @uiliw, @Semonxue and @primozkosta, maybe you saw this already, also leaving this for others. You can do this with the custom Query builder. You can choose to order by [string|numeric|clause] meta value. Then pick the custom query as your source when adding the listing grid.

[2022-04-29 18:07] ofmarconi opened #5291 "Modal/Popup inline editor (similar to Tooltip)"
It would be wonderful if we could create Popups/Modals right in the editor of the current page.

JetTrick already has the Tooltip that helps a lot!

My suggestion is to improve the Tooltip so that we can create simple popups.

something similar to this: https://www.dynamic.ooo/widget/modals/

[2022-04-29 18:23] deepwaterpixel commented on #5273
In the meantime, if you check the issue I raised, I was able to fix it by adding one line to the mime_type switch statement.  Hopefully this will be rolled into the next update so I don't have to edit the file anymore.  I already have this on live sites so it's important that it remain working until it's officially fixed.

Edit: I just tested the most recent update and WebP images appear to be sho

[2022-04-29 20:42] catherinewiltshire opened #5292 "JetEngine Repeater Field Dynamic Function Count"
I couldn't find this requested elsewhere but it's a bit of a weird search term.

I'd like to be able to show a count for how many repeater items there are within a CPT.

Example: I have a CPT of **Bands** which contains information about the band such as description, links to social media etc, and repeater fields for **Members** which contains their name and instruments they play.

I have made a *

[2022-04-29 22:13] edgBlw opened #5293 "JetEngine Forms - Allow shortcode from field value option list"
Currently we have these four points as "source". It'd be great if we also have a fifth option to render own shortcodes.

https://user-images.githubusercontent.com/101653721/166075376-8f8f7b2f-124e-444f-96cc-a19ac02fd2c6.mov

[2022-04-30 06:15] kaskad88 commented on #5273
@deepwaterpixel Fix will be in v2.11.9

[2022-04-30 07:33] mremreacar opened #5294 "JetAppointment : Update or cancel appointment in front-end for doctors"
**
I have a Medcenter theme.

I made profile page for doctors. But doctors need to be able to schedule their appointments. Cancel or update

[2022-04-30 17:29] WebisseTech commented on #5294
Absolutely I agree. The same situation is quite annoying and makes me grapple with wpamelia. If doctors or service providers can edit on the front screen, the plugin will have fully functioned. Not to mention that a system needs a system administrator just because this feature is missing. I saw that the same request was mentioned many times in other threads in Git, but I guess there is still no st

[2022-04-30 21:08] dbarrientosm opened #5295 "Block specific days"
Hello, is there a way to manage the availability for each room? Since many times there are days or times when there will be no attention, there is a similar option in jet appointment in which you establish days off

[2022-05-01 05:41] Ruudolfs commented on #878
+1

[2022-05-01 11:22] bbua97 commented on #5059
I have the same problem, I have to join different tables without an compare to base table. I need to create/join a "chain" of tables first until I can compare to the base table.

[2022-05-01 16:43] primozkosta commented on #1225
Hey @kay742, thanks for the info. Very valuable! Will try it out.

[2022-05-01 21:47] Michaelgimii commented on #4948
hello @UraraReika , Will this be added in the next update?

[2022-05-01 22:25] stapolin commented on #878
Just to add to my last comment..

Being able to choose a maximum number of items would be handy.. especially for directory sites where you may only allow a listing in up to 3 categories.

[2022-05-02 06:54] Micheldebo commented on #2436
Need this!!

[2022-05-02 07:25] wpraiz commented on #988
Please, add this feature guys.

[2022-05-02 08:15] Floydtm commented on #5291
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-02 08:15] #5291 closed, assigned to nobody

[2022-05-02 08:18] p-ranjan commented on #4886
Is there an option to set this function on or off? In my case, when I don't put any search terms, I get all the posts for all terms. That's a wanted feature on my side.

[2022-05-02 08:22] rp07Dome opened #5296 "Testimonial Single Slide Bug | Jet Elements Version 2.6.2 -> 2.6.4"
Update Jet Elements Version 2.6.4

The testimonial widget has a bug now. Rolling back to 2.6.2 fixed it. Don´t know about 2.6.3!

If you only have "Slides to Show" at 1, the widget only shows one slide at all. Theres also only one slick-dot in the code. There are other slides though in the code, but you can't reach them with the arrow navigation. So there seems to be something wrong with this. If

[2022-05-02 09:58] UraraReika commented on #5232
This issue has been closed due to inactivity. If this issue is still actual, please, create the new one.

[2022-05-02 09:58] #5232 closed, assigned to UraraReika

[2022-05-02 09:58] UraraReika commented on #5184
This issue has been closed due to inactivity. If this issue is still actual, please, create the new one.

[2022-05-02 09:58] #5184 closed, assigned to UraraReika

[2022-05-02 11:17] UraraReika commented on #5012
At the moment, we do not plan to include such functionality into our plugin. Now our team is working on more priority tasks.But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-02 11:17] #5012 closed, assigned to UraraReika

[2022-05-02 11:42] UraraReika commented on #5035
Hello @s5t5n !

Products Grid and Products Loop two different widgets that is why they are different and has it own features, otherwise it would be one widget. In any case all this features will be implemented in our plugins set.

[2022-05-02 11:42] #5035 closed, assigned to UraraReika

[2022-05-02 11:49] UraraReika commented on #5047
Hello @79ho3ein !

You can connected load more click functionality basically to every element you want so just connect this to presented in video functionality and that is all.

[2022-05-02 11:49] #5047 closed, assigned to UraraReika

[2022-05-02 12:00] 79ho3ein commented on #5047
hi @UraraReika, thank you. Maybe I did not understand what you mean ...
Was your solution for button action? Or spinner loading after clicking?

[2022-05-02 15:29] JuanCar29 opened #5297 "Sort by computed column SQL query"
Have created a query of the type sql query with a column that adds data to me. But you can't sort by that column in descending amounts. I have done it with the sort widget, but it would be nice if it could be done in the same query.
![Captura de pantalla 2022-05-02 a las 17 20 37](https://user-images.githubusercontent.com/90837626/166261510-4fed6f07-9e44-4f61-8977-d8598d6cf4ed.png)
![Captura de pa

[2022-05-02 18:23] Michaelgimii commented on #5240
@UraraReika , I just found out that elementor uses this feature in its slides widget : https://prnt.sc/OexoAwqVOGwF
Am I wrong?

[2022-05-02 20:54] albacerdeira commented on #3593
também preciso dessa funcionalidade!

[2022-05-03 02:02] LuckeeAl commented on #2394
+1

[2022-05-03 06:42] vingchung opened #5298 "JetWooBuilder Feature Request: add the masonry display mode option in products loop"
Currently, if the image of the product is of a different size, the product list with products loop template looks bad, please consider adding the masonry display mode option in products loop, thanks so much!

![masonry](https://user-images.githubusercontent.com/91175303/166413712-eba20053-f30f-4da1-85dc-232a6a3458f7.jpg)

[2022-05-03 06:59] UraraReika commented on #5240
@Michaelgimii they use custom written code not built in property.

[2022-05-03 10:47] datatime-sk commented on #346
+1. Please :)

[2022-05-03 12:57] diogui opened #5299 "Hamburger Panel Menu Visual Bug"
On my site https://whaaat.pt/ I have designed a hamburger menu with a hamburger panel. When you click on the Menu button (present on every page on the left top corner) slides from right to left a hamburger panel. It works good the problem is that when you navigate on the website the menu shows and hides without being clicked. I have posted this problem over a month ago and still no solution. When

[2022-05-03 17:25] moha1486 opened #5300 "Comatibility With Divi"
Hello Dear Communuty
Divi Theam (Elegent Team) is populair theam builder is good if Jet Element (crocoblock) in futur is compatible i suggest you works in this issue many people have Divi Theam.
thanks nice day

[2022-05-03 20:10] kimradford commented on #2009
Any updates on this issue?

[2022-05-03 23:42] satomiao commented on #878
+1

[2022-05-03 23:55] koke2801 opened #5301 "Create a button with a dynamic link to recover deleted posts - JetEngine"
I'm creating a project, product catalog mode, and just like you can add a button with a dynamic link to delete or edit the post type, it would be great if you could add the feature to retrieve a deleted post type.

please consider it, thank you!!

[2022-05-03 23:58] nreljed opened #5302 "[Jetsmartfilters] Export / Import filters set"
This option becomes essential to help us Import, export filters.
Very useful for projects With the same filters to repeat each time.
it's a lot of time consumed if we have more than 10 filters.

[2022-05-04 02:02] AcuriosNab opened #5303 "Users relation in different roles"
I need the company user to have a password and be able to register their employed users. I need each company to be able to add its logo and articles that will be included in the list of articles that only employees of that company will be able to see.

Is it already possible to relate 2 user roles? I didn't find a way to do this.
If not, could you implement this in the future?

[2022-05-04 05:41] unstopp commented on #2009
I have the same issue in May 2022. Worked before some updates. Not sure what happened but I will soon change the widget, this is unusable

[2022-05-04 10:03] rtpHarry opened #5304 "JetElements Testimonials Widget Only Showing First Slide"
**Describe the bug**
Site is running Jet Elements 2.6.4.

The testimonial slide has started acting strangely. It is only showing the first slide.

As an experiment I turned on dots navigation and it thinks there is only one dot, but the markup for the slides is showing in source.

As a further experiment I started a new page, with a default Testimonials element dropped onto the page, and then even

[2022-05-04 11:00] Floydtm commented on #5300
#4379

[2022-05-04 11:00] #5300 closed, assigned to nobody

[2022-05-04 11:01] Floydtm commented on #5301
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-04 11:01] #5301 closed, assigned to nobody

[2022-05-04 11:44] Floydtm commented on #5304
Update the plugin to version 2.6.5 Thank you!

[2022-05-04 11:44] #5304 closed, assigned to nobody

[2022-05-04 13:27] rtpHarry commented on #5304
Thanks, for some reason the plugins hadn't registered that new versions were available. I manually clicked the check for updates and it came through. Fixed on the site now.

[2022-05-04 15:57] girafffee commented on #5068
Added this functionality in latest versions of JetFormBuilder.

[2022-05-04 15:57] #5068 closed, assigned to girafffee

[2022-05-04 16:13] nreljed opened #5305 "[Jetformbuilder] Search in select"
search and visual hierarchy inside select
ideal for selecting from a large number of choices
like country or a very long list imported by glossary

![select search](https://user-images.githubusercontent.com/82481592/166724563-46d2c962-94fc-49a6-82d4-c89f2069663a.gif)

[2022-05-04 17:09] stickypages commented on #1040
I created a small tweak to their code to implement this hover issue!
jet-menu-public-scripts.js

Line 72: let debounceTimer, mouseOverEntryTimer,
Line 79: mouseOverEntryTimer = setTimeout(() => {
/// ....
Line 94: }, 250);
Line 143: clearTimeout( mouseOverEntryTimer );
<details>
Here is the entire file, as of today:
`( function( $ ) {
	'use strict';

	/**
	 * JetMegaMenuClass
	 */
	class JetMegaMe

[2022-05-04 19:08] damianrivadulla commented on #1775
Hi! Any news on this feature?

[2022-05-04 20:03] maurocarreraok opened #5306 "Add Off Canvas Slider"
Add the posibillity to add OFF-CANVAS Slider option on th e Listing widget.
https://youtu.be/QteosgBNe9Q?t=759

[2022-05-04 20:04] maurocarreraok commented on #5078
Yes. Please add this. Working with Dynamic Images and Repeater Images it's very complicated.

[2022-05-04 20:09] aminjabari opened #5307 "Range filter does not update min and max price dynamically according to selected products - woocommerce"
**Describe the bug**
Range filter derives min and max amount of products price according to ALL woocommerce available products.
**To Reproduce**
Steps to reproduce the behavior:
1. Create a range filter for woocommerce product price
2. Create a new page with elementor
3. Add elementor products widget
4. Select few low-price products
5. Add range filter to the page and select the created filter in

[2022-05-04 20:39] maurocarreraok opened #5308 "Listing "Make listing item clickable" from Repeater Field"
When using a Repeter field and creating a Custom Field called URL to link that specific post to an external URL, i cant use a Repeater Field as Clicleable.

[2022-05-05 05:18] cmolinah86 opened #5309 "Jet Engine integration proposal with the Divi builder"
Hello,

I wanted to request the possibility of evaluating a Crocoblock Jet Engine integration with the Divi builder.

I have been able to use it quite a bit and some of the functions are working fine but others are giving me problems.

For example:

I have created an options page for slider data.

Options created:
- Image
- Title
- Description
- Text Button
- Link button

The problem is that when

[2022-05-05 05:19] cmolinah86 opened #5310 "Jet Engine Options Page issue with Divi builder"
Hello good day.

I'm experiencing an issue that I've been trying to resolve for weeks.

I have created an options page for slider data.

For example:
- Image
- Title
- Description
- Text Button
- Link button

The problem is that when I try to load the data of the options page in the Slide of the home of my website, it does not work.

[2022-05-05 06:32] Floydtm commented on #5306
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-05 06:32] #5306 closed, assigned to nobody

[2022-05-05 06:39] Floydtm commented on #5309
#4379

[2022-05-05 06:39] #5309 closed, assigned to nobody

[2022-05-05 06:40] Floydtm commented on #5310
#4379

[2022-05-05 06:40] #5310 closed, assigned to nobody

[2022-05-05 10:45] 79ho3ein commented on #5307
If I understand what you mean, I do not see a similar problem on my website. This may be related to your website.

[2022-05-05 12:32] mbaierl commented on #4725
According to the support they will only make it compatible when Elementor officially releases the feature. Since containers are now in Alpha this will take a while :-(

[2022-05-05 12:34] mbaierl commented on #5239
Won't be fixed according to the support until Elementor officially releases the feature. Since containers are in Alpha now this will take some time :-(

[2022-05-05 14:30] 79ho3ein opened #5311 "Simple bug in price range بwidget"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-05-05 14:30] #5311 closed, assigned to nobody

[2022-05-05 14:42] 79ho3ein opened #5312 "Simple bug in price range filter widget"
**Describe the bug**
I use elementor pop-up to display filters. When I look at the website using the iPhone (Safari browser), the left handle of the price range filter is half visible : https://prnt.sc/dsQK-S_ksdPz

**To Reproduce**
1- Put the price range filter on the elementor pop-up.
2- Set the pop-up width to 300
3- For filter handles, consider the box shadow price range
4- Now view the filter

[2022-05-05 15:46] manashjyotix opened #5313 "Feature request for Jet Booking Plugin"
Hello, Crocoblock I want to make a booking site for myself. There are too many CPT for each CPT I want to add booking system. But there is one down side sorry but Jet Booking is now support only 1 CPT. Please do the above features to Jet Booking plugin.

[2022-05-05 15:50] manashjyotix opened #5314 "Feature request for Jet Booking Plugin"
Hello, Crocoblock I want to make a booking site for myself. There are too many CPT for each CPT I want to add a booking system. But there is one down site sorry but Jet Booking is now supporting only 1 CPT. Please do the above features to the Jet Booking plugin.

[2022-05-05 18:23] Floydtm commented on #5313
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-05 18:23] #5313 closed, assigned to nobody

[2022-05-05 18:25] Floydtm commented on #5314
#5313

[2022-05-05 18:25] #5314 closed, assigned to nobody

[2022-05-06 11:43] rp07Dome commented on #5296
This got fixed in 2.6.5.

[2022-05-06 11:43] #5296 closed, assigned to Gawuww

[2022-05-06 13:31] brjmichael commented on #5089
+1

[2022-05-06 13:37] brjmichael commented on #5221
+1 excellent

[2022-05-06 15:03] edgBlw commented on #5305
Yeah, that would be great. I know you have such a similar addon in the jetformbuilder account. But the styling then is just too bad. also, i think, you can't see all options from the select field with that addon. You only get the available ones that are matching the search query which is kind of bad for the user, because you can't get an impression which fields and how many of them are available f

[2022-05-06 15:22] liiakerosene commented on #3182
https://crocoblock.com/troubleshooting/articles/cannot-update-crocoblock-plugins-license-error/

[2022-05-06 17:35] getsaiful commented on #4316
I am using Query Builder Custom SQL Query, to implement a few charts.

I know there are some macros I can use it like I am using '%current_user_id%' to find the Current user ID.

Now I need to take input from user like calendar based date and have to use those dates in that Custom SQL.

Is there any way to use custom input from client end in Custom SQL Query? I know there are some macros like : %t

[2022-05-06 17:48] ihslimn commented on #4686
Query Variable macro is exactly what you need https://prnt.sc/57YeYf7GdhGd (it will try to get WP query variable before getting a GET parameter, although in your case it must work just fine, as there is no "a" WP query variable)

[2022-05-06 18:21] pamanseau commented on #5170
This feature is not only important for Hotels, B&B but also for many other but the CAR RENTAL template RENTGO from Crocoblock doesn't have the time of pickup and time of drop so as it is right now it's not usable for a car rental company.

[2022-05-06 18:24] kino89 opened #5315 "Query builder - Add the possible to set AND OR operators in query clauses"
It would be great if the query builder as the possibility to set the operator type (AND , OR) in "Where (query clauses)" panel.
This is a simple setting that will add an infinity more possibilities to the builder!
<img width="1883" alt="Schermata 2022-05-06 alle 13 30 36" src="https://user-images.githubusercontent.com/72086516/167196380-d440c329-1e55-4c69-ab03-4f76ff81be61.png">

[2022-05-06 22:23] vladvaleanu commented on #2196
That would help a lot 🙏

[2022-05-07 06:52] hamed-azimi commented on #1040
@stickypages I literally told them in my chats that all it takes to fix this annoying bug is a few lines of js codes (5 or 6 lines, considering implementing a condition as well), and as you see it only took 4 half-lines (we call it 4 lines, but the actual amount of codes won't be even a half a line)

Assuming they are so kind as to fully extend this feature by adding options to the plugin's settin

[2022-05-07 07:57] usblsb opened #5316 "[JetformBuilder] Button Action Type -> Field Visibility"
Hello, good morning.

All the form fields have a visibility setting **(Field Visibility)**.

The field button (Action Button) field has no visibility setting.

Can you put the visibility setting **(Field Visibility)** for the button field **(Action Button)**?

**Thanks**

![Action Button](https://user-images.githubusercontent.com/105101643/167244804-0f60d5e4-7e47-445f-94e1-5bf7ee79c799.jpg)

[2022-05-07 12:00] simonst commented on #3121
Count is always '0' for me as well when using multiple post types in a listing grid.

[2022-05-07 13:44] aminjabari commented on #5307
**Range filter setting screenshot** (https://snipboard.io/fkRzTc.jpg)

**Edit page screenshot** (https://snipboard.io/aeEGY5.jpg)

**Jetsmartsfilter setting screenshot:** (https://snipboard.io/v3DjkB.jpg)

I deactivated all plugins, except Elementor, Elementor Pro, JetsmartsFilter and Woocommerce.  (All of them updated to the newest version)

You can check live version of described issue in **[thi

[2022-05-07 17:08] 79ho3ein opened #5317 "box shadow for the Add to Favorites button - jet compare & wishlist"
**Please, describe the feature request, making it clear to understand.**

Please add the box shadow option to this button if possible. For hover and active mode : https://prnt.sc/fxwbtZcTc5yy

thank you!

[2022-05-07 20:23] Cosirax commented on #2005
I run into the same need aswell! Would be awesome to get this!

[2022-05-08 08:18] guenfood commented on #2749
Hello,
Is there any news about this issue ?

[2022-05-08 08:34] mehdimoradi1500 opened #5318 "PLEASE: Add variable/downloadable products from frontend forms with jetformbuilder"
Right now we are able to add simple products from frontend posts and we have to use acf frontend forms to do that
The problem is that we have to install acf plugin to use acf frontend forms
So many plugins...
If we be able to update/Insert all kind of products from front end it will be nice

[2022-05-08 13:04] petrovui opened #5319 "How can i achive this layout in JetWooBuilder Products Grid Carousel?"
Default view / Autoplay - off / Loop - off / Free mode - off / Centered Slides - ON
![products-grid](https://user-images.githubusercontent.com/29761044/167297033-7a379442-aa56-4a89-9163-5937549cdd56.png)

I want this simple view:
![carousel](https://user-images.githubusercontent.com/29761044/167296804-f0ca1cad-558a-451c-944b-d63b4e52d6ac.png)

and i want to control width of centered slide. by defa

[2022-05-08 14:03] 79ho3ein commented on #5319
That's right, I don't think the center mode feature works properly. In fact, the center mode creates an [empty space](https://prnt.sc/VTo9HTe7sSX9) that completely corrupts the ui. I have never seen a website that has used such a carousel.

I think [this](https://prnt.sc/o2TG9sFmeIZg) is a good example of a central mode feature. Therefore, the function of the center mode option should be such that

[2022-05-08 14:21] petrovui commented on #5319
The problem is that in Products Grid swiper.j is used. In Advanced Carousel slick,js is used. But the feature we spoke of called 'stage padding' and owl carousel got it (https://owlcarousel2.github.io/OwlCarousel2/demos/stagepadding.html).
The true problem is, that SWIPER.JS which is used in Products Grid widget got decimal slidesPerView e.g slidesPerView: 2.5. But in the widget carousel items can

[2022-05-08 17:00] catherinewiltshire commented on #3593
+1

[2022-05-08 17:00] catherinewiltshire commented on #2310
+1
same thing requested in #3593

[2022-05-08 17:20] petrovui commented on #5319
https://www.figma.com/file/BoKig8oGLucGciWOmswjIh/Carousel-(Community)?node-id=101%3A83

[2022-05-09 06:18] erubianes1 commented on #5103
I agree! This is one of the most important needs for JetBooking. It could be good something like in JetAppointment.

Very urgent!!!

[2022-05-09 07:29] Floydtm commented on #5316
Read this tutorial https://jetformbuilder.com/features/conditional-visibility/

[2022-05-09 07:29] #5316 closed, assigned to nobody

[2022-05-09 07:32] mehdimoradi1500 commented on #5319
+1

[2022-05-09 07:34] mehdimoradi1500 commented on #5305
+1

[2022-05-09 07:34] mehdimoradi1500 commented on #5302
So necessary

[2022-05-09 07:41] UraraReika commented on #5319
You can use option https://tppr.me/iH7jv to make this.

[2022-05-09 08:19] MjHead commented on #5275
For such case will be better to create custom shortcode to print this data in page content. Because implementing such functionality directly in Dynamic Field could cause security issues in the future

[2022-05-09 08:19] #5275 closed, assigned to nobody

[2022-05-09 09:14] petrovui commented on #5319
https://user-images.githubusercontent.com/29761044/167377571-b82f137b-7fd8-44f3-b12c-a274157f9924.mp4

Centered mode creates an empty space at the start and at the end of "stage" (swiper wrapper) if the "loop" is OFF.
Slide Overflow works great but it overflows only on the right side of swiper wrapper. And swiper wrapper becomes not really centered. It makes wrapper align to start. It s not right

[2022-05-09 09:18] mehdimoradi1500 opened #5320 "User Page Rewrite BUG!"
Hi
I have a front-end dashboard made by profile builder and a single user page, when I set the User Page Rewrite on nickname
The URL will not change!

Actually I want to use custom field to be used in the user single page link, but right now it's not possible to achieve it by jet engine so I map the specific field to nick name
1- please fix this issue if its a bug
2- being able to select custom fi

[2022-05-09 09:24] 79ho3ein commented on #5320
+1

[2022-05-09 09:50] Floydtm commented on #5320
Everything works correctly. You should have noticed that this is a different meaning. nicEname and nicKname https://prnt.sc/Cl7vUY48u62q https://prnt.sc/LTmwqLIZmSo_
the nicename value is taken from the database https://prnt.sc/0jMskPn0kFJ8

[2022-05-09 09:50] #5320 closed, assigned to nobody

[2022-05-09 09:59] mehdimoradi1500 commented on #5320
Thank you, so can i map any custom field to user_nicEname?
The second link doesn't show any content (https://prnt.sc/LTmwqLIZmSo)

Is it possible to consider this issue 👇
*being able to select custom field to use in User Page Rewrite*

[2022-05-09 10:26] Floydtm commented on #5320
"being able to select custom field to use in User Page Rewrite"
At the moment, we do not plan to introduce such functionality into our plugin.

[2022-05-09 11:53] MjHead commented on #4964
With new JetFormBuilder udpdate you can store Payment orders in separate DB tables without additional actons to store orders

[2022-05-09 11:53] #4964 closed, assigned to nobody

[2022-05-09 12:00] MjHead commented on #4834
Its to specific functionality. It shoud be implemented as separate plugin, not part of JetEngine

[2022-05-09 12:00] #4834 closed, assigned to nobody

[2022-05-09 12:15] MjHead commented on #4462
Unfortunately at the moment this in not possible due to UI limitations. For your case the best way will be to register custom condition and check all required data inside this condition. Here is example how to register custom condition - https://github.com/MjHead/jet-engine-custom-visibility-conditions/

[2022-05-09 12:15] #4462 closed, assigned to kaskad88

[2022-05-09 12:43] #5280 closed, assigned to girafffee

[2022-05-09 13:33] fabricioventura opened #5321 "Separate Ids and instruction fields and have on and off control in Admin"
There is something that bothers me in the administration of posts on jetengine.

It should have a single field to put instructions in the fields, but the description is loaded along with the field id, which gets really bad in admin.
Who likes an organized administration, must hate that in the jet, lol. Jet team, is it possible to separate this in the jet view in the administration? And put a confi

[2022-05-09 15:19] lennertdaniels opened #5322 "JetEngine Meta Field value not retrieved when setting Popup background color with Dynamic Tag"
**Describe the bug**
When you set the background color of a Popup to a JetEngine custom field using Elementors Dynamic Tags, the background stays white. Even the fallback value is not honoured.

At first, I thought the issue was with Elementor Pro, but a similar bug report for ACF custom fields makes me think it might be a JetEngine issue. ([https://github.com/elementor/elementor/issues/11525](htt

[2022-05-09 15:22] antoinelbch commented on #2312
+1

[2022-05-09 15:32] frederickdenis opened #5323 "Individually activate Hotspot item's tooltip"
It would be nice to be able to activate each hotspot items tooltips individually, so that I would be able to bring attention right away to the most important elements of the map.

[2022-05-09 18:06] stijns96 commented on #518
Can you show how?

[2022-05-09 20:42] finidev opened #5324 "Dynamic Colors"
I find it strange that you are able to add a color type meta on a custom post type but are not able to apply it anywhere, specifically as a slider color overlay, in the system when using Gutenberg. I think this would be a fantastic upgrade!

[2022-05-10 08:38] Zegklitz commented on #1900
+1

[2022-05-10 09:06] jimhuds opened #5325 "JetBlocks Login Form Error Not Disappearing"
When an incorrect login is entered, the error message is shown below the form but does not disappear and is shown for all users.

I'm not that knowledgeable on this sort of thing so I've pasted the response from my hosting support

Using latest plugin versions and also have the new Elementor Containers enabled if that helps.

Thanks

[2022-05-10 09:16] ghost commented on #5236
This would be a great addition to the booking plugin

[2022-05-10 09:16] ghost commented on #2701
This would be a great addition to the booking plugin

[2022-05-10 09:30] Floydtm commented on #5324
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-05-10 09:33] sonnesworld opened #5326 "JetWoo Builder can't translate "You may be interested in …""
**Describe the bug**
I want to change the text You may be interested in... for upsell products with Loco translate and can find the string but the change is not visible in frontend.

I use JetWoo Single Template and Upsells widget.

**Screenshots**
Widget
![screenshot-eskimo-shop ch-2022 05 10-11_32_36](https://user-images.githubusercontent.com/57396134/167597774-ae4e251a-e475-44cb-b951-978eab601e

[2022-05-10 09:37] sonnesworld opened #5327 "JetPopup visible when draft"
**Describe the bug**
When I set a popup as draft it is still visible

**To Reproduce**
Steps to reproduce the behavior:
1. Open a popup created with JetPopup plugin
2. Set popup as draft and set conditions e.g. visible for all pages on website
3. Logout from WP backend and test the popup. It's still visible even as draft because of the conditions.
4. When you remove all conditions it's not longer

[2022-05-10 11:07] ronjabaum opened #5328 "Instagram Widget - JetElements - Dynamic Token"
Hello, I would like if the Instagram Widget would work with a dynamically added Token. Actually this already seems to be possible, as the field of the token has the "add dynamic content" icon enabled and you are able to make a dynamic text field to enter this token as a metafield, but I tried these and it did not work out. When asking the support for help, they told me this is not working at the m

[2022-05-10 15:31] GDUpson opened #5329 "JetSmartFilters multi-level horizontal radio filter with child categories listed below parent categories when the parent category is selected"
Please add the ability to be able to create a horizontal radio filters with child categories listed below parent categories when the parent category is selected.

Here is a quick and dirty visual as an example for your understanding.

![Horazontal-radio-filter-with-child-categories-](https://user-images.githubusercontent.com/88692162/167665313-1a5ac451-9ead-45b5-a5c2-4e3dfeaad6ec.png)

I was surpr

[2022-05-10 18:18] catherinewiltshire commented on #3654
+1
also mentioned in this thread #2192

[2022-05-10 18:32] Michaelgimii opened #5330 "bug in sorting "recently viewed" query - jet woobuilder"
I wanted to display "recently viewed" products by time. That is, the products are displayed in exactly the order that the user has visited.
Unfortunately, sorting does not work properly for this query : https://prnt.sc/2vjwoFFPRU7z
Of course, it only shows the products correctly up to 4 times, but more than 4, irregular products are displayed.
Please resolve this issue.

[2022-05-10 18:55] biodunbills opened #5331 "Car dealer theme should have paid priority listing feature"
People will keep listing cars on the website and filling up our server with images and data but there's no way to make money to pay for the server. At least if you visit this website - www.jiji.ng they make money from priority listing and thats how they keep the website running.

[2022-05-10 23:15] GaribayMarketing commented on #2632
+1

[2022-05-11 07:06] LaxusCroco opened #5332 "The ability to set a custom input format for the QR-code callback"
**Please, describe the feature request, making it clear to understand.**

I would like to have the ability to set a custom input format for the QR-code callback. We currently have a custom field output option, but it does not allow us to set a custom callback input where you can use %s as a value placeholder.
Then I would use the following format: https://customurl.com/?_u=%s

**Add an example of

[2022-05-11 09:04] webpandadev commented on #5104
+100
Please remove **Review title** useless for users, haven't any sense or add possibility autofill by post name. Will be better to remove or make optional for old users.

[2022-05-11 09:38] w3b-beweb commented on #2216
Same here, email notifications run anyway, other actions like Redirect don't, as expected. This is a BIG problem for a registration form.

[2022-05-11 09:47] arcaswebdesign opened #5333 "Enhanced SEO features for JetFilters"
I'd love to see some extra SEO-related features added to JetFilters, similar to the Premmerce WC Product Filters plugin (https://premmerce.com/premmerce-woocommerce-product-filter/)

In essence, we can create SEO rules which target specific filter combinations and adjust certain vital SEO data within those pages. So, for example, if the page is https://www.mystore.co.uk/toys and a filter of "8-10

[2022-05-11 11:03] giacozama commented on #2822
the addon works but right after activation suggests updating it. Updates results in an error that deletes the addon

[2022-05-11 12:05] UraraReika commented on #5319
At the moment, we do not plan to introduce such functionality into our plugin.  For now this is not built in to library functionality that is why we avoid to use some custom code.But in the future we do not exclude the possibility of adding this functionality.

[2022-05-11 12:05] #5319 closed, assigned to UraraReika

[2022-05-11 12:21] UraraReika commented on #5330
In this case this is not a bug, because sorting works correct due to option that you choose. Date sorting takes publish date and sort the products grit to it. There is no specific option to sort recently viewed products by time or any other option.

[2022-05-11 16:05] itsmakmirza opened #5334 "Section Parallex support for Elementor Container"
Section Parallex Effect does not work with Elementor flexbox container introduced with Elementor v3.6. I am currently migrating away from the section-column model to flexbox. It would be beneficial if it was made compatible with it.
![image](https://user-images.githubusercontent.com/75839921/167895992-70e47d1d-e28a-484e-a62b-0286cf7e876e.png)

[2022-05-11 18:41] Michaelgimii commented on #5330
tnx @UraraReika , Will this feature be added?

[2022-05-11 18:48] Floydtm commented on #5329
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-11 18:48] #5329 closed, assigned to nobody

[2022-05-11 20:20] Michaelgimii opened #5335 "bug in ajax add to cart - jet woobuilder"
I try to customize WooCommerce notice using elementor and display them on the product page. But there is a very important problem. The problem is that if Ajax Add to cart is enabled in Jet WooBuilder, after adding to cart on the product page, the WooCommerce notice will not be displayed!
Therefore, the page must be reloaded after adding to the cart, to display the WooCommerce notice. Please fix th

[2022-05-11 23:12] giacozama commented on #2463
+1

[2022-05-12 04:37] crislome opened #5336 "jetAppointment: Users can edit their own schedules"
So here is my suggestion... I was studying jetAppointments to see the possibility of using it for Online Classes, where the student could schedule a single class or several classes through the MultiBooking feature. But for me to be completely satisfied, the student when scheduling the class, there should be the option to register the student and he himself could change the day and time of the clas

[2022-05-12 09:32] 79ho3ein opened #5337 "hover effect for category grid widget - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

hi

Currently, the category grid widget does not have a suitable hover effect. In fact, only some of them, such as shadows, can be controlled.
Please watch the video below :

https://user-images.githubusercontent.com/77163248/168039347-48afdd3a-53ea-4638-b56a-970e1c06451e.mp4

These effects are present in elementor : https:/

[2022-05-12 10:26] Floydtm commented on #5337
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-12 10:26] #5337 closed, assigned to nobody

[2022-05-12 11:05] rtpHarry commented on #4671
In theory you should be able to enable ESI in your cache plugin (Edge Side Includes). LiteSpeed Cache supports it and it has a list of nonces which it auto wraps for you, including `wp_rest` which the public api in JetMenu uses.

However, I'm not seeming to have much success with this, as I thought it was solved but I've just found the cache has expired again and it's broken again.

Very difficult

[2022-05-12 11:08] rtpHarry commented on #3215
Yeah, I'm seeing this as well, in theory there should be a solution with the caching plugin called ESI.

I have not managed to get it working yet though:

#4671

[2022-05-12 11:27] rtpHarry opened #5338 "typo `licese` renewal notice"
Just logged into the website and saw this:

<img width="717" alt="image" src="https://user-images.githubusercontent.com/1038062/168064132-86531a59-d524-4ac4-898a-7abf817e9e95.png">

Typo: `licese`

[2022-05-12 12:06] hamed-azimi commented on #1040
@stickypages you know one issue about the provided solution? is that let's say you have 5 dropdowns on your menu, and you set the delay to 800ms. The expected behavior is that when you first hover the mouse over one of them, it takes 800ms to register the hover and open it, but then if you move your mouse over other dropdowns it should immediately open them, but now it takes 800ms for each of them

[2022-05-12 12:42] Floydtm commented on #5307
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-05-12 12:42] #5307 closed, assigned to nobody

[2022-05-12 14:07] Gidsa opened #5339 "JetReviews: Review List in dashboard not showing related post info"
I have a site with reviews on products which was set up using your JetReviews plugin. I would like to request the following: see which _exact post_ has a review assigned to it in the backend? At the moment all I can see is 'Post' and 'Product' which is too vague. This would be very useful for clients to know that the review refers to their eg. Blue Shoes product.

At the moment, the exact post can

[2022-05-12 15:11] stickypages commented on #1040
@Dadparvar Hey, i didn't look too closely, but i understand what your saying. All you should need to do to adjust it for just top-level-nav options, is just move your closing tag Up.
}, 250);

To where it's not including the SUB nav items.
At the same time, 800ms is quite a long time to delay a menu from opening up.

[2022-05-12 15:51] MjHead commented on #5079
1. You can't set Canvas mode only for specific template. For the Content template mode - template of specific profile page rendered inside main page, wich selected as Account or User base page. For the Rewrite template mode - template rendered inside custom template which oriented on base page layout anyway. We can't change this behaviour, because all currently set up profile page will be broken.

[2022-05-12 15:51] #5079 closed, assigned to MjHead

[2022-05-12 15:59] taidang26 commented on #2675
Looks like Dynamic Visibility doesn't support Woocommerce right now. I have tried a few cases but no results with product categories.

[2022-05-12 16:44] w3b-beweb commented on #2216
Coded a workaround, using "Call Hook" Notification type and removing any email notification.

Briefly, check "Add User ID to form data:" in the "Register User" notification, and add a "Call hook" notification to form; then in the corresponding action hook, check both $data['user_id'] and $notification['specific_status'] to know if the user has been registered with no errors.
In this case, create a

[2022-05-12 18:58] WPCastle opened #5340 "Dynamic Token/Dynamic Icon in listing grid widget"
Hi,

the listing grid widget solves a unique problem with placing loops within loops in Elementor, which is normally not possible.

However, I think it could be much more powerful if the widget would get many more dynamic icons - the ability to dynamically place stuff in the configuration of the widget. Example:

I have 20 houses (custom post type) to sell in 12 cities (custom taxonomy). With the

[2022-05-13 12:08] Paul1x opened #5341 "JetFormBuilder: Record audio"
It would be awesome if you can record audio as mp3 within the jetform. Simple and easy record button and a button to listen the recording or to redo the recording. This would make it truly next level.

[2022-05-13 12:11] erotser opened #5342 "Jet Engine repeater support for the image comparison widget"
It would be nice to have the jet elements image gomparison widget (aka before after) to support repeater fields.
There is no way to crate an unknown number of before after scenarios in a custom post type right now.

[2022-05-13 12:14] Paul1x opened #5343 "JetEngine: Audio Player Waveform Upgrade"
A option to activate the audio waveform instead of the boring progress bar. I attached an example:
![ezgif-5-835aeee782](https://user-images.githubusercontent.com/105491414/168280878-d465a21f-cdf9-4425-a7ad-7d4e3418abe0.jpeg)

[2022-05-13 12:32] Floydtm commented on #5342
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-13 12:32] #5342 closed, assigned to nobody

[2022-05-13 12:33] Floydtm commented on #5343
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-13 12:33] #5343 closed, assigned to nobody

[2022-05-13 16:17] LevelUpGit commented on #3336
Hi, we are still experiencing this issue in latest version, it simply doesn't work.
In listing grid this works "tomorrow, tomorrow + 1 day" in query editor it doesn't.
Or 2 days ...

[2022-05-13 16:33] One8co opened #5344 "When saving a new taxonomy return to Taxonomies page"
After you click save when creating a new taxonomy, system returns to Edit Taxonomy. Would be better to return to the Taxonomies main page where you can add another. Current flow requires the user to click back to JetEngine > Taxonomies > Add New to get there.

[2022-05-13 17:41] petrovui opened #5345 "Better Carousel/Slider for widgets (Products Grid/Advanced Carousel) etc."
Hi there. There is a bunch of widgets with Carousel/Slider options. Products Grid uses swiper, Advanced Grid uses slick. Both of them (js plugins) are very hard to customize with css and uses data attributes for all customizations. There is no reason at all to use diffrent js plugins in diffrent widgets. Swiper and Slick really not so good at all. There is a top notch plugin which used in Salient

[2022-05-13 22:52] giacozama commented on #4474
+1

[2022-05-13 22:54] giacozama commented on #4474
@ALPSIT how did you manage to maintain a membership expiry user meta using JetFormbuilder?

[2022-05-14 02:58] ALPSIT commented on #4474
Hi There,

All of this is possible if you make numeric calculations with Timestamp.

eg. 1 month in Unix Timestamp is 2592000

![image](https://user-images.githubusercontent.com/85008592/168408261-af7127a7-1ff6-40de-aaa3-90c4865a5ea0.png)

See below for the different variables you need to consider and how to handle them.

- New Registration
- Current Renewal
- Expired Renewal

Make sure to create

[2022-05-14 03:17] ALPSIT commented on #4474
I might just add, this membership_expiry user meta field you can then use in dynamic visibility etc when you want to display content accordingly.

eg. if membership_expiry is greater than today > this means they are a current member and you can show Current Member content accordingly.

 if membership_expiry is less than today < this means they are expired and you can show Expired Member content ac

[2022-05-14 03:22] ALPSIT commented on #4474
you an also show a progress circle with this data, you can use query builder to run the calculation and then grab this query result in dynamic tags.

you can do a calculation like the below to get remaining days amount and show in progress circle on their dashboard.

Dynamic Visibility condition to show progress circle:
if membership_expiry is greater than today
OR
you can just check the below que

[2022-05-14 03:34] ALPSIT commented on #4474
@Crocoblock this might actually be worthy of a knowledge base/How-to article article or video - because I am sure this is a very big extension of the offering of JetFormbuilder and was a huge component left out of the original how-to video.

[2022-05-14 03:34] ALPSIT commented on #4474
maybe I can help record it and present it to you to use? haha. get me some exposure.

[2022-05-14 03:37] ALPSIT commented on #4474
i also succesfully managed to implement a package/credits based booking system using similar theory where the user will have credit user meta and will update certain amount of credits and use certain amount of credits on purchase or booking form.

[2022-05-14 07:43] avdstelt opened #5346 "Datepicker specific checkin days"
Hi,

Is it possible to only activate specific days on the datepicker to checkin like for example on Monday and Friday?

Greetings Arjan

![image](https://user-images.githubusercontent.com/851114/168416233-3bd3fcdf-5988-40a1-b2fd-e4cd49349188.jpeg)

[2022-05-14 08:38] MichielWolvers opened #5347 "Jetsmartfilter Range filter: Only minimim or maximum, not both"
**Please, describe the feature request, making it clear to understand.** I would like to have the ability with Jetsmartfilter Range filter to only select the Maximum or Minimum, instead of both.

While having the ability to have both minimim AND maximum filter is sometimes useful, it may lead to customer drop-off because a too specific range is selected. When the selected range is too specific, no

[2022-05-14 09:14] 79ho3ein opened #5348 "jet woobuilder cart page"
**Describe the bug**

hi

If we disable the [display of coupons](https://prnt.sc/s7b5yCYk3zb3) in the shopping cart, some [empty space](https://prnt.sc/nYq8VXLhNcvi) will remain. So its empty space will remain : https://prnt.sc/ItFE6ybPYBA8

thank you

[2022-05-14 11:46] secondsky commented on #1470
@Floydtm
Unbelievable  that this is open TWO YEARS!?

The Listing Grid is not really usable on any project which has more then a like 200-300 posts, its fucking slow.
Instead of adding useless bloat junk to your plugins, MAYBE GET THE BASE RIGHT!!!

And honestly, the same goes for JetSmartFilters
Used both in past, but as it comes evidently that its useless underperforming junk, it gets no longer

[2022-05-14 16:56] bbua97 commented on #4111
+1

[2022-05-14 18:19] vmavrikios opened #5349 "Order Listing Grid posts by WooCommerce product attributes"
Hi Crocoblock..

From my research, experimentation, enquiry and replies from your tech support ..apparently it is not possible yet to order posts by product attributes.
One is limited to order WooCommerce products by date, price, author and other meta ..but not by custom fields added like product attributes.

I am currently working on an ecommerce project ..that focuses a lot on product attributes

[2022-05-14 20:32] ssoronid commented on #3411
+1 we need this!

[2022-05-14 21:54] bruno0114 commented on #1471
Would be good to have this feature

[2022-05-15 08:08] jakobmayerhofer opened #5350 "jetAppointments multi vendor frontend"
Dear Crocoblock team,

first of all I want to say that I absolutely love your plugins. They are powerful, provide a lot of room for customization and are very well integrated. I use them for nearly all of my sites and I have rarely been disappointed.

Now for the feature request:
Once you announced jetappointment plugin I was absolutely thrilled to finally have a good alternative to woocommerce bo

[2022-05-15 10:48] tomaski opened #5351 "JetFormBuilder: use multiple calculated fields"
**Describe the bug**
When adding more than one calculated field to a form, only the last one gets executed.

**To Reproduce**
Build any kind of form where multiple calculations need to be performed. For example:
add field 1
add field 2
add field 3
add calculated field 1 to sum up field 1 and 2
add calculated field 2 to calculate field 3 * any value

**Expected behavior**
Both calculated fields sho

[2022-05-15 13:20] arekuki opened #5352 "JetAppointment: Couldn't add a new appointment after submitting the form"
I did a Set Up in the plugin JetAppointments v.1.6.9 (Elementor v.3.6.5, Wordpress v.5.9.3)
Problems:
- not selected "Provider" https://prnt.sc/AH_4VoVn8wcO
- also not selected "Services " in the "Static Page Booking Form" (jetEngine) https://prnt.sc/1J-DGfyNtCmb

I configured in JetAppointments and forms (jetEngine)
I filled out the form Appointment in the page.
Problems:
- empty in Appointments

[2022-05-15 17:58] bbua97 commented on #5026
+1

[2022-05-15 19:20] tamir1947 commented on #2463
I would love your help, how did you solve it
Thanks

[2022-05-15 19:33] tomaski opened #5353 "JetFormBuilder: ability to dynamically set fields values"
## the problem
I have a client that is a financial advisor and he tasked me with implementing an income calculator for his business clients.
The values for calculating the outcome change, depending on a tax year, but the formula to calculate it is always the same.

So the first form field needs to be year and based on the chosen year, the (hidden) fileds containing the specific values to calculate

[2022-05-16 01:42] dekock opened #5354 "JetAppointment Feature Request - Ability to set open hours a week ahead without affecting current week calender"
My client, a dentist would like to have the ability to update the open hours for a specific service or provider a week ahead, or the ability to set the open hours per day basis. For example, today they would like to set the open hours from 8am to 11am, tomorrow they would like to set it for 9am to 12am. Reason for this, is if their schedule for provider changes next week, they can easily update th

[2022-05-16 05:38] kelvintai commented on #2574
how do i customize my-account/edit-address/billing/ and/shipping? as there are no editor or template for them. anyone has any idea?

[2022-05-16 05:53] ClearianDev commented on #2574
Crocoblock WooBuilderSent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: kelvintai ***@***.***> Date: 5/15/22  10:39 PM  (GMT-08:00) To: Crocoblock/suggestions ***@***.***> Cc: ClearianDev ***@***.***>, Comment ***@***.***> Subject: Re: [Crocoblock/suggestions] JetWoo: issues with custom my account
  page endpoints (#2574)
how do i customize my-account/edit-addr

[2022-05-16 06:54] Floydtm commented on #5345
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-16 06:54] #5345 closed, assigned to nobody

[2022-05-16 06:55] Floydtm commented on #5346
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-05-16 06:56] ALPSIT opened #5355 "JetAppointment - Dates Excluded from Calendar"
Hi Team,

The issue I have is with the dates that are blocked out from the front-end booking calendar.

As I have been testing booking / re-scheduling / deleting appointments, the front end calendar has been inaccurately showing dates as available/unavailable.

I've noticed if I delete all test appointments and use the Clear excluded dates Cache tool, it will reset to new, but only hoping that app

[2022-05-16 07:16] Floydtm commented on #5347
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-16 07:16] #5347 closed, assigned to nobody

[2022-05-16 07:34] kelvintai commented on #2574
This is a blank reply right?

[2022-05-16 09:10] avdstelt commented on #5346
Hi,

I have a customer and the only days to checkin/checkout are on Friday and Monday.

Is it possible to only be able to select these days in the datepicker and the other days are blocked for selecting?

See the image in the first post as an example.

Greetings Arjan

[2022-05-16 09:42] Floydtm commented on #5351
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-05-16 09:42] #5351 closed, assigned to nobody

[2022-05-16 11:07] Floydtm commented on #5352
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-05-16 11:07] #5352 closed, assigned to nobody

[2022-05-16 11:56] Floydtm commented on #5346
I understand you, but this is not possible now. And while we can not add it. Thank you!

[2022-05-16 11:56] #5346 closed, assigned to nobody

[2022-05-16 12:00] #5273 closed, assigned to kaskad88

[2022-05-16 12:00] #5261 closed, assigned to kaskad88

[2022-05-16 12:02] kaskad88 commented on #5261
Fix for the next version 2.11.9. Thanks for your report!

[2022-05-16 12:51] x3mp opened #5356 "Data Stores "Added to store text" not translatable"
**Describe the bug**
The "Added to store text" text for the Dynamic Link "Add to source" source is not translatable. It does not show up in the WPML translation.

**To Reproduce**
1. make a data store
2. add a dynamic link to the frontend
3. enter added to store text
4. translate
5. see that it doesn't pop up

**Expected behavior**
It should be translatable.

**Screenshots**
Frontend: https://i.im

[2022-05-16 14:19] triloculina opened #5357 "hierarchical filter for data out of CustomContentType Database"
Hi there,
I use the Custom Content Type Database as one of my data source in my site.
to display the data I use filter. But the filter function is limited, as it is not possible to construct hierachical filter, as it is possible for data out of posts and woocommerce.
So thats my question and my strongest wish to the croco jetengine developers: please open/create the possibilty to build hierarchica

[2022-05-16 15:52] x3mp opened #5358 "JetSmartFilter - Filters "Additional Settings" not translatable"
**Describe the bug**
The labels under "Additional Settings" on JetSmartFilter widgets are not translatable and do not show up in the WPML translator.

**To Reproduce**
Steps to reproduce the behavior:
1. add a jetsmartfilter and enable some additional settings.
2. translate that jetsmartfilter with wpml
3. add the jetsmartfilter to a page
4. go to that page
5. see that its not translated the addit

[2022-05-16 16:20] ssoronid commented on #3885
+1

Someone could format input files box with css or jQ?

Trying to add FilePond style and some features but not working yet.

[2022-05-16 17:14] HBiSoft opened #5359 "Column count not changing on Mobile/Tablet - Woo Categories Grid"
**Describe the bug**
I'm using the Woo Categories Grid.
The issue I have is that I want to set the column count to 2 when viewing on a mobile device and 4 columns when viewing on a desktop.

It works fine on a desktop, 4 columns are shown as expected. I switch to mobile and set the column count to 2, but it doesn't change anything. When I view it on a mobile device, only one column is shown.

**To

[2022-05-16 17:25] Floydtm commented on #5359
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-05-16 17:25] #5359 closed, assigned to nobody

[2022-05-16 21:42] 79ho3ein opened #5360 "2 BUG in jet smart filters - Indexed filters"
**Describe the bug**

hi

In a few recent updates, this bug has been added to jet smart filters. It's strange that this bug has not been fixed yet.I have reported this bug before, but this time I will address it in detail. Please let me know if you were successful in producing this bug If possible @Floydtm.

1- counters are not vertically centered : https://prnt.sc/fIB_u0_JBUzy     In fact, they s

[2022-05-16 21:58] ClearianDev commented on #2574
Hey,

Sorry about that.  I just replied to the email - which is a no-go with Git.

To modify pages within the "Account" group, you can use Crocoblock WooBuilder - which has a number of additional custom template options like Cart and Checkout, etc.  I believe WooBuilder is included with the Jet Engine app.  There are great YouTube videos from Crocoblock and a guy named Paul from WPTuts.  E.g. http

[2022-05-16 22:01] ClearianDev commented on #2574
P.S. To find WooBuilder, mouse over the Crocoblock menu item in the WP Admin dashboard.  You'll see it there.  No idea why they put it there.  P.S. Crocoblock apps work primarily with Elementor Page Builder - although some work with Gutenberg.

[2022-05-16 22:25] Michaelgimii opened #5361 "Ability to control Border and Border radius , in normal and hover mode / jet woobuilder product grid widget"
Now we can not control the Border and Border radius in normal and hover mode. This creates limitations in some cases.
Please move the Border and Border radius options to the Normal and Hover subset so that we can control these two values ​​in both normal and normal modes. https://prnt.sc/typ08HVo4lkw

[2022-05-16 22:53] bbua97 opened #5362 "JetEnginge [HIGH PRIORITY] - Update listing grid widget to the latest UI/UX standards"
As this is a mix of bug report and freature request I added it as a bug because I guess you handle bugs with higher priority.

**Describe the bug**
If you want to design the listing grid widget to the latest standards of UI/UX you maybe experience the following issue:

![Screenshot_6](https://user-images.githubusercontent.com/85588537/168693819-987503d3-8df4-4c97-92ea-27e92e6384b8.jpg)

**To Repro

[2022-05-17 03:29] jossruica commented on #1979
hello, I have the same problem and I'm looking for how to disable all thumbnails to prevent them from being generating

[2022-05-17 05:12] kelvintai commented on #2574
Yes, am currently using Woo Page Builder. Everything is fine with it except under My Account >  "Edit" Address > Address (Billing & Shipping) Form. I can't seem to find anywhere to customize this particular form.

[2022-05-17 05:24] ClearianDev commented on #2574
Oh... that...

That's a task that has to be hand-coded via the functions.php file - and ideally within a child theme functions.php file.  Otherwise updating your theme/Wordpress version can/will overwrite/delete your customization.

https://stackoverflow.com/questions/42341548/add-a-custom-field-to-woocommerce-billing-form

[2022-05-17 07:23] Floydtm commented on #5361
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-17 07:23] #5361 closed, assigned to nobody

[2022-05-17 07:46] antoinelbch opened #5363 "[JetWooBuilder] Show Visual Feedback when an item has been added to cart"
Currently, when using AJAX Add to Cart instead of page reload on the product single page, there is no visual feedback an item has been added to the cart.

Please **add visual feedback when an item has been added to the cart**.

Visual feedback can be:

- **Checkmark** on Add-to-cart-button
- Show **View cart button** once item has been added to the cart

Once an item has been added, the JetWooBuil

[2022-05-17 09:01] Lonsdale201 commented on #1470
+1

[2022-05-17 09:09] hansf71 commented on #1470
Please!

[2022-05-17 10:14] Lonsdale201 commented on #2956
Little updated. The Timeout start after ajaxStop.

jQuery(document).ready(function ($) {
    $(".myfavorite").click(function (e) {
			$(document).ajaxStop(function(){
  setTimeout(function () {
            jQuery(window).trigger({
                type: "jet-popup-close-trigger",
                popupData: {
                    popupId: "jet-popup-5019",
                },
            });
        }

[2022-05-17 10:29] 79ho3ein commented on #5363
+1
I think [this](https://prnt.sc/XUSZfTjSVXHu) is the best option. If this feature is to be added, we'd better be able to disable or disable [this option](https://prnt.sc/vOmG_SY9BzsT) (optional). In fact, it is better to display only one tick icon in the add to cart button. This is great visual feedback.
The reason we can disable the view cart option is that some websites use the elementor menu

[2022-05-17 11:06] Michaelgimii opened #5364 "Automatically align for to add to cart buttons / jet woobuilder"
In the product grid widget, if the items in this widget are not equal, the Add to Cart button in the product grid widget will not be aligned, and this will severely damage ux. So, please add the Automatically align feature for the buttons to add to cart product grid widget. This feature has been added in version elementor pro 3.7 and works great. https://prnt.sc/NDF88Znr4OFY

[2022-05-17 11:44] #4686 closed, assigned to kaskad88

[2022-05-17 12:28] perinbaselvan commented on #1657
+1 this feature is very important, Still looking for this, please let us know if there is any way to achieve it via custom developments

[2022-05-17 12:55] rodolphebertozzo opened #5365 "Woocommerce subscriptions"
Take into account the Woocommerce subscriptions plugin and customize the display on subscriptions in general and the display of the details of a subscription

[2022-05-17 15:01] RoldanAncajas opened #5366 "Commenting Widget"
Hey Crocoblock Peeps!

I hope this finds you well, despite the adversities you have.

I would like to suggest COMMENTING WIDGET or however, you may call it. All the commenting widget/plugins out there are just pretty darn ugly - including Elementor Comment widget.

Thanks in advance!

[2022-05-17 15:31] felixthen00b opened #5367 "Make separate filters work as union"
I have created several checkbox filters for a JetEngine Listing. Now when I use them one after another, it will only display the intersection of all of them. However, in my case, I want the results to show up as union.

On the website of one of my customers, they want people to find clubs and organizations in accordance to their interests. Now there are filters for sports categories, art categorie

[2022-05-17 15:40] apounds825 opened #5368 "Login plugin features needed"
To the great development team at Crocoblock...
I love the crocoblock login plugin instead of using the WordPress login but one feature that's missing is if the username or password isn't correct it will jump out of the crocoblock login plugin page to the default WordPress login screen. Also, it would be of great value that if the username doesn't exist it would tell the user that it doesn't exist

[2022-05-17 15:44] JackobStuard opened #5369 "JetThemeCore gutenberg function to save content as template"
Hi there,

It will be great to plugin JetThemeCore gutenberg have option to save content from page/post as a template and after that template import to new page/post. Function like what have elementor but will be good to croco team make function for gutenberg.

[2022-05-17 16:05] Ollie9T7 opened #5370 "Booking Rules for Jet Booking"
There needs to be a way to specify rules for the JetBooking calendar. EG: To only allow bookings on certain days for set durations such as: Only allow bookings on Monday for 4 nights and on Friday for 3 nights.

This is a feature in many hotel/ apartment booking services to maximise booking potential and allow room changeovers on a single day rather than spaced randomly throughout the week.

This

[2022-05-17 17:47] Akfree1st commented on #1470
+1

[2022-05-17 18:17] Floydtm commented on #5365
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-17 18:17] #5365 closed, assigned to nobody

[2022-05-17 18:42] Floydtm commented on #5349
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-17 18:42] #5349 closed, assigned to nobody

[2022-05-17 18:45] Floydtm commented on #5370
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-17 18:45] #5370 closed, assigned to nobody

[2022-05-17 19:47] kwsim539 commented on #1657
+1 This is the most requested feature from clients when doing a filtered search.

[2022-05-17 19:52] websightsrus commented on #1657
I would love to see this feature available asap. If it's not added, it would be nice if the Address, Lat and Long info was stored differently in the database so one of the many plugins that can filter by proximity could read it / function with it.

I have a Lifetime license but would happily sponsor the advancement of this feature if I could

[2022-05-17 21:04] neylwalecki commented on #1470
Please @Crocoblock do this! We really need it!!!!!!

[2022-05-18 06:59] YoavBco opened #5371 "CCT Relations and Form Notifications"
It will be awesome if there was an option on JetEngine Form post-submit action: "Insert/Update Custom Content Type" to pull "inserted_item_ID" just like on CPT "inserted_post_id"-
That way you'll have an option to connect relation on new created CCT child from form to already existing CCT parent ON CREATION.

[2022-05-18 07:54] WebTechPT commented on #2811
Hi @Floydtm any Update? I need this solution to my clients...

[2022-05-18 09:00] MichaelaKubasova opened #5372 "Users meta glossaries dont show different markers on map"
I created, pages where are companies and self employed. This two categories /glossaries/ should have different markers on map. But dont work, I tried with crocoblock support. I need this feature in jetengine, because now is one slovakia map and all blue marks.

[2022-05-18 09:47] satomiao opened #5373 "Gutenberg Block for JetFormBuilder success/error message notification"
JetFormBuilder the success and error message notification should be a Gutenberg block to let users decide where it should be located and displayed.

very useful when the form submit type is set to reload, users no need to scroll all the way down to the bottom to check whether their form is submitted successfully.

[2022-05-18 10:16] MjHead commented on #1449
Will be added with JetEngine 3.0.0. Beta will be available in a few weeks

[2022-05-18 10:28] Ollie9T7 commented on #5236
+1 This would be a very valuable addition to the plugin. It should have been in there as default.

[2022-05-18 10:31] bombarda-rpd opened #5374 "Slider Widget motion effects"
It will be nice to have the possibility to set different text motion effects on the slider widget, instead of to all the content.
Right now this widget is pretty similar with the one that comes by default on elementor.

[2022-05-18 10:34] RobertLloyd45 commented on #5236
Please implement this asap, anyone who manages bookings in the real world knows how useful this functionality is!

[2022-05-18 10:38] RobertLloyd45 commented on #5174
This would be a great addition to the plug-in.

[2022-05-18 10:41] layzlayz opened #5375 "Zapier Wordpress integration does not work"
Zapier wordpress integration does not work with jetengine custom post type.

It can find the post type but it does not find the custom fields within.

I am using zapier to import orders from their emailparser, but i cant connect the fields.

[2022-05-18 11:07] Ollie9T7 opened #5376 "Group days together for JetBooking"
The ability to group days together so users can only make bookings that fit within the booking rules. IE: Grouping (Monday - Friday) and (Saturday - Sunday) so users can only book those two groups.

This is commonly used by hotels/ vacation rentals to maximise booking potential. For example, an available week in summer is very valuable to a hotel, they want to book out the whole week and not just

[2022-05-18 11:13] Ollie9T7 commented on #5174
Please add this functionality to the plugin

[2022-05-18 11:49] Floydtm commented on #5372
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-05-18 11:59] Floydtm commented on #5374
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-18 11:59] #5374 closed, assigned to nobody

[2022-05-18 12:14] 79ho3ein opened #5377 "Small bug in jet woobuilder > Single meta widget"
**Describe the bug**
In this widget, the alignment option does not work : https://prnt.sc/5vMfNOCZ9RHB

[2022-05-18 12:16] Floydtm commented on #5375
Hi, did you contact Zapier support before posting here?

[2022-05-18 13:58] edgBllw opened #5378 "[JetEngine Profile Builder] Redirect to original entered URL after authorization"
So if you enter for example /members-area/account-settings/ you'll be redirected to /members-area/ if you aren't logged in. But if you authorize yourself with a successful login, you still will not be redirected to the before desired entered url. That can be very annoying. Lots of online services have this. For example if you want to go to cloudflare's dashboard dash.cloudflare.com/example/nghUBsd

[2022-05-18 15:30] Duuble-U commented on #1246
I need it often ! It would be very cool :-)

[2022-05-18 16:04] catherinewiltshire commented on #5181
+1

[2022-05-18 16:20] 79ho3ein opened #5379 "Bug in the checkout page > country field - jet woobuilder"
**Describe the bug**
If we delete the country field in the checkout fields, the calculation of WooCommerce shipping cost will be disrupted. In fact, if we delete the country field, the user will encounter [this](https://prnt.sc/2vYsXH1BUjqx) error when paying.
But when I add the country field again, the problem goes away.

**To Reproduce**
1. Create a flat rate in WooCommerce
2. remove the country

[2022-05-18 20:12] Gliucha opened #5380 "JetReviews - Reviews slider option (same as in Listing grid)"
Hello,

It would be nice if you could add **slider option** to the **Reviews listing widget**. I can see that you have the same option in listing grid widget, so maybe it is not difficult to add slider option to reviews listing widget?
I need to create reviews design like this:
![image](https://user-images.githubusercontent.com/103131243/169123385-73b6c404-865a-454a-8433-9417a5be1bd9.png)

Also it

[2022-05-18 20:13] Joker2099 commented on #2389
+1

[2022-05-18 20:14] Joker2099 commented on #2603
+1

[2022-05-19 07:28] MichaelaKubasova commented on #5372
Hi, I created user meta boxes and glossaries with company or self-employed. In map -> markers type -> use different markers by conditions -> field value "firma" and doesnt work. I tried with crocoblock support, she tried too but she figure that doesnt work. Here are screenshots -> [https://drive.google.com/drive/folders/18vyUGSEG3YEGIBdmJG8Tjn-PbLP5vckh?usp=sharing](url)

[2022-05-19 10:20] nickbeus commented on #1597
We need this also. A pickup and return time + car cleaning time (buffer) = new rental pickup time (instead next day)

[2022-05-19 11:05] #5379 closed, assigned to nobody

[2022-05-19 11:45] samirhp commented on #2436
+1 this is so needed and urgent, please consider add this as soon as possible 🙏🏻

[2022-05-19 11:50] 79ho3ein opened #5381 "jet woo builder billing & shiping form > Customize Fields"
**Describe the bug**

hi
There are two topics about Customize Fields that I will address below. Please review them if possible.

1- If the Columns Gap option is the default, a small amount of free space is created on both sides : https://prnt.sc/cC2OvJrmANoF
While in the elementor form, if it is the default, there is no empty space : https://prnt.sc/mOju-0kdhVOY

2- Even if we set the Columns Gap

[2022-05-19 11:58] tomaski opened #5382 "Installation Wizard stuck"
fresh WP install with just Elementor, Elementor Pro and Crocoblock Wizard.

Chose the Car Dealer demo and installed all required and recommended plugins. Also opted to replace existing data, overwriting everything with demo content.

Installation stuck at 98% due to terms progress not being ticked.

Here a screenshot:

![firefox_2022-05-19_13-56-57](https://user-images.githubusercontent.com/246360

[2022-05-19 13:04] Floydtm commented on #5382
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-05-19 13:04] #5382 closed, assigned to nobody

[2022-05-19 13:34] Alphecca38 commented on #1528
Yep, same here, it's been driving me crazy. Also on iphone with safari browser.

[2022-05-19 13:40] Joliamendi opened #5383 "Automatic creation of cart and checkout page in jet woobuilder"
In Jet woobuilder, when we design the cart and checkout page, we have to manually put the shortcode of these two pages on the page, and this is really annoying. But in elementor, all the steps are done automatically and we do not need to put the desired code shortcode on the page.
Therefore, it is great if after selecting the desired template for the cart and checkout page, the desired shortcodes

[2022-05-19 14:00] Joliamendi opened #5384 "checkout page fields in jet woobuilder"
For the first time, I used the elementor checkout widget, which has just been added to elementor. In this widget, when we change the style of the fields, all the fields change seamlessly. Even the country field is not a text field : https://prnt.sc/r7BwACwMZDKE

But unfortunately in jet woobuilder the situation is not good and when we change the style of the fields, only the style of the text fiel

[2022-05-19 14:00] robfaulkner75 commented on #1528
Hi @Alphecca38 are you using Siteground?  I found it was siteground optimiser that had the conflict.  I disabled and moved to WP Rocket and no more issues, it works really well now.  Hope this helps - it took me days to work this out :-)

[2022-05-19 14:06] Joliamendi opened #5385 "Box shadows for checkout fields"
Please add the box shadow option to the checkout fields. This feature is now available in the Element payment widget. https://prnt.sc/Ka8EuZHDCgr-
So please if you add this feature, please add the ability to customize the fields in normal and active mode. So that we can customize things like: border, border radious, background color, box shadow in both normal and active mode. This is really great.

[2022-05-19 14:09] Ollie9T7 commented on #5236
https://github.com/Crocoblock/suggestions/issues/5376 Take a look at this and see if it is the same/ similar functionality you are looking for. Hopefully thins will get enough people behind to be implemented asap.

[2022-05-19 14:19] Joliamendi opened #5386 "The list field (country field) is not displayed well in the backend."
The list of countries on the Frontend end is well displayed : https://prnt.sc/WBfSfjNBdCmV
But something else is displayed in the backend. As if css is not loaded for it. https://prnt.sc/3klj4S-EB539
Therefore, it will not be possible to customize this section. Please fix it

[2022-05-19 14:26] Alphecca38 commented on #1528
@robfaulkner75 Hi, no, I'm currently building the site (woocommerce store) on websupport.sk hosting (a good local hosting company in Slovakia), and I don't use any caching whatsoever (precisely to avoid such problems while building).

What does the siteground optimiser do? Maybe my hosting provider has a similar feature I'm not aware of.

[2022-05-19 14:51] robfaulkner75 commented on #1528
@Alphecca38 it optimises performance, speed, caching, image optimisation etc.  The issue was a plugin / cache conflict with jet menu and SG Optimizer.  I cleared my cache on SGround and then locally (after installing WP Rocket).  WP Rocket enabled me to have separate cache files for desktop and mobile.  This fixed my issue - although it did take 24 hrs after cleaning the cache to resolve.   Hope t

[2022-05-19 14:51] Kytab commented on #4638
Agree....
My customers aske me that feature all the time !

[2022-05-19 14:53] Kytab commented on #2646
PLEEAAASSEEE DO IT !

[2022-05-19 14:54] Kytab commented on #1967
want it !!!

[2022-05-19 14:55] Kytab commented on #474
+1

[2022-05-19 15:04] UraraReika commented on #5295
I merged this issue with [#5236](https://github.com/Crocoblock/suggestions/issues/5236), which is on the same subject so we could deal with it more efficiently.

[2022-05-19 15:04] #5295 closed, assigned to MakhonkoDenis, UraraReika

[2022-05-19 15:55] Alphecca38 commented on #1528
@robfaulkner75 Thanks for sharing! I'll look into it, maybe there's something similar causing the issue in my case.

[2022-05-19 17:51] 79ho3ein commented on #5385
Good idea👌🏻

[2022-05-19 18:24] brunacarolinar opened #5387 "Equal columns height NOT WORKING - JetEngine"
In JetEngine, when we use a listing grid on a page and clicking on the "Equal columns height" option, it no longer works.

It used to work and the columns were the same size of the box, regardless of the text, currently this functionality that is very important is no longer working.

[2022-05-19 20:46] aleebalari commented on #4093
definitely would like to plus one this! Seems like a pretty standard feature for ensuring less spam accounts and adds another layer of security for potential users

[2022-05-19 21:02] aleebalari opened #5388 "JetEngine Bidding/Auction widget for CPTs & CCTs"
Overview: With JetEngine we have the ability to create CPTs and CCTs like Ads, Products, or Services. With the various payment gateways, those items can be purchased. It would be a cool if users can **bid** on those ads, or products rather than paying a fixed cost.

Important features:

[2022-05-20 03:52] AcuriosNab commented on #3654
+1

[2022-05-20 07:41] Gliucha commented on #3938
+1

[2022-05-20 07:54] otomasz opened #5389 "JetEngine - Listing grid - More possibilities in column styles"
Hi,

I am writing with a request to introduce more custom column settings in the listing grid.
There is currently no choice.

![Zrzut ekranu 2022-05-20 o 09 46 30](https://user-images.githubusercontent.com/23310832/169480277-60a737ed-afb0-453b-95e9-2d2acaa623ca.png)

**It is very good if it was possible to set horizontal and vertical by%, px and em.**

[2022-05-20 09:37] jimhuds commented on #1127
This would be great. Currently the reset password form on my site is stretched out across the screen.

[2022-05-20 10:28] Joliamendi commented on #361
Dear developers of jet woobuilder. Is there any news of this request? Please if you have any news

[2022-05-20 12:26] giacozama commented on #4760
From mobile it happens the same thing when selecting .pdf. From desktop works from mobile it says "File type is not allowed".
I didn't test it from mobile before launching my website, my bad, but now i don't know what to do, this bug is making me lose many users.

[2022-05-20 13:03] ValeriiaLashchyonova commented on #5267
Example: We put Jet Elements for the sake of one widget https://prnt.sc/A5KtIKVTf53W on just one page of the site.
In most cases there is a download for every two pages of a 227KB + 17KB CSS file (not compressed) and one 70KB JS file https://prnt.sc/DP406bpQBAB3 and this is in a situation where all widgets are disabled and the lever editor is set to none https://prnt.sc/nEk3XgIOkNJC

Please consid

[2022-05-20 13:51] Floydtm commented on #5387
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-05-20 13:51] #5387 closed, assigned to nobody

[2022-05-20 14:00] Floydtm commented on #5388
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-20 14:00] #5388 closed, assigned to nobody

[2022-05-20 15:04] giacozama opened #5390 "JetEngine Forms - Media field does now allow to upload pdf or doc files from mobile"
Media field does now allow to upload pdf or doc files from mobile. Doesn't matter if application/pdf is selected or all is clear. It shows error "You are not allowed to upload this file" or "Type file not allowed". From desktop, all good.

[2022-05-20 15:36] #5390 closed, assigned to nobody

[2022-05-20 19:51] neurohost opened #5391 "jetengine + jetappointment two forms on the same page"
if you try to create 2 forms with jetengine + jetappointment and then insert them on one page, the second form stops working, the calendar to select the reservation is not shown

**To Reproduce**
Steps to reproduce the behavior:

1- create 2 form with jetengine + jetappointment
2- insert the 2 forms on the same page
3- check the calendars of each form

**Expected behavior**
Ideally, both calendars

[2022-05-21 05:11] rithvikpodduturi opened #5392 "Swatch for Woobuilder"
Woobuilder is already powerful but I would like to have swatches inbuilt instead of using an additional plugin.

[2022-05-21 07:44] ALPSIT commented on #1449
Yes please! This would be very handy for my clients who have Property Listings. I am working on a current project and this was a client request.

They would like to be able to auto complete address when adding a new property CPT.

I wish I could say Yes to my client.

[2022-05-21 07:48] ALPSIT commented on #1449
Another client example I might add - this can be a second phase perhaps.

Maybe more for JetFormbuilder, to be able to measure distance between two locations in km or mile and use that value in calculated field to provide price.

This would be good for quoting and booking travel.

A number of my clients currently need to use seperate software which allows this, but would be good if I could do with

[2022-05-21 09:46] kwsim539 commented on #1449
Doesn't Google already have this as part of one of their APIs?

[https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform](url)

[2022-05-21 10:56] rtpHarry opened #5393 "JetEngine - Listing Grid - Missing Spinner Feature In Infinite Scroll Load"
I was initially trying to figure out what class was added to the infinite scroll which dims it as I wanted to change its colour.

While looking into this further, I found out that there is an unimplemented feature which exists in the lazy load, but not in the infinite scroll feature.

When you set a listing grid `Load more type` to `Infinite scroll`:

<img width="304" alt="image" src="https://user

[2022-05-21 11:38] rtpHarry commented on #5362
Wouldn't this work if you just turned off center mode? The point of that is to position the current slide in the middle, which is what it's doing.

[2022-05-21 15:51] saltkinmedia opened #5394 "JETENGINE - Query Builder - Add titles to added tables"
Hello!

Can we have the titles of the joined tables on the tabs/accordions?

![image](https://user-images.githubusercontent.com/67977248/169659320-8e7b5045-2f90-4ca3-ab29-5c2a6684632f.png)

[2022-05-22 04:05] ALPSIT commented on #2229
Also agree, I pretty much purchase Elementor Pro for Custom Fonts feature.

[2022-05-22 11:25] Elsteck commented on #2229
@Floydtm can you please reopen this issue? Now with the update JTC 2.x and Gutenberg support it has become more important to be able to use a custom font. Also in light of GDPR legislation.

[2022-05-22 13:34] 79ho3ein opened #5395 "shimmer loading to load filters (Loader filter) - jet smart filters"
**Please, describe the feature request, making it clear to understand.**

hi crocoblock team!
Currently, no preloader is displayed when the user's filters are loaded. So, I wanted to request please add the [shimmer loading](https://raw.githubusercontent.com/hnvn/flutter_shimmer/master/screenshots/loading_list.gif) feature to this plugin. You are definitely aware of the use of this feature. But thi

[2022-05-22 13:37] 79ho3ein opened #5396 "inline and block mode for discount coupon form - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

If possible, please add inline and block mode to the checkout page discount coupon form. Currently, it is only possible to display the form inline.

thank you

[2022-05-22 13:40] Joliamendi commented on #5395
+1

[2022-05-22 13:44] Joliamendi opened #5397 "Custom icon for pagination widget in jet smart filters plugin"
In the pagination widget, it is not possible to insert a custom icon. So we can only put the prev and next text. This is a big limitation that we can not insert the desired icon (previous and next arrow). Please add this feature, tanks

[2022-05-22 13:53] Joliamendi opened #5398 "Automatic length for product title in product grid widget"
There is an annoying problem with the product grid widget. The titles of the products I sell on my website are usually long. On the desktop, I set the length of the product titles to 55 words and so far there is no problem. But if the user sees the website with the tablet or mobile, the product title is displayed in 3 or even 4 lines, and this completely disrupts the order of the page.
So it is po

[2022-05-22 14:23] Joliamendi opened #5399 "Switcher filter for jet smart filters"
Please add a switcher filter to this plugin. This type of filter is present in almost all websites that use filters.

![button-switch-toggle-slider-ui-slide-off-or-turn-vector-25373131](https://user-images.githubusercontent.com/103376243/169700039-2c07647a-d559-419a-b498-6319dff8d104.jpg)

Some applications of this filter :
1- Only display products that are in stock.
2- only Show sale products
And

[2022-05-22 19:00] #5396 closed, assigned to nobody

[2022-05-23 03:07] tizum commented on #5363
Guys, I've been trying to customize this situation for two days, please add the loading functionality by clicking the add button, thanks

I found that after the click activates a .single_add_to_cart_button.button.alt.loading class, I already tried to add the effect with css and font awesome, but I can't, because it applies to the entire button, the most I could do was use a gif as a background , b

[2022-05-23 06:40] UraraReika commented on #5398
I merged this issue with [#4948](https://github.com/Crocoblock/suggestions/issues/4948), which is on the same subject so we could deal with it more efficiently.

[2022-05-23 06:40] #5398 closed, assigned to nobody

[2022-05-23 06:40] UraraReika commented on #5392
I merged this issue with #361, which is on the same subject so we could deal with it more efficiently.

[2022-05-23 06:40] #5392 closed, assigned to nobody

[2022-05-23 06:44] UraraReika commented on #5384
We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team. Thank you!

[2022-05-23 06:44] #5384 closed, assigned to nobody

[2022-05-23 06:47] UraraReika commented on #5383
Hello @Joliamendi !

After you install and setup WooCommerce plugins this pages automatically created with proper shortcodes. If not you can go to WooCommerce > Status, Tools tab and press this [button](https://tppr.me/mRgnv).

[2022-05-23 06:47] #5383 closed, assigned to nobody

[2022-05-23 07:47] Joliamendi commented on #5384
@UraraReika
When I customize the billing firm checkout page, the country field (or any field that opens as a drop-down list) does not change, and the changes are only to text fields such as name, company name, and zip code. Similar fields apply. Isn't that so for you?

[2022-05-23 07:53] 79ho3ein commented on #5363
hi @tizum
If you want to add a custom icon to the Add to Cart button, download [this plugin](https://prnt.sc/IFqhitVZVHUp) at [this link](https://crocoblock.com/freemium/tools/) to add this feature to jet woobuilder.
Anyway, I hope this feature will be officially added to the jet woobuilder core so that all users can use this feature. Many users are not aware of it at all.

[2022-05-23 08:04] LaxusCroco opened #5400 "Hide error messages in the Instagram widget for non-admins"
**Please, describe the feature request, making it clear to understand.**

I would like to have a feature that would allow hiding the error message that the Instagram feed isn't working so that only admins can see it.

**Add an example of where this feature is already implemented. **

For example, when my client changed their password it broke the connection to the Instagram feed widget and then di

[2022-05-23 08:09] Joliamendi commented on #5384
https://prnt.sc/qdNCk9Avecv6

If you look closely at the screenshot above, list fields have less padding than text fields. Therefore, list fields are thinner. This is not the case in elementor, and all fields will be exactly the same. Is this issue solvable on your part?

[2022-05-23 08:32] Joliamendi opened #5401 "The coupon is open by default - can be displayed next to the checkout form"
Please add a feature so that we can open the coupon form by default (Always be open).
Another thing that is very important is why do we have to have another format to place coupon form? Why can't we put the payment coupon next to checkout form?
If you look at the elementor pro checkout page, the payment coupon form is used next to the checkout form. On the other hand, this form is active by defaul

[2022-05-23 09:10] David-Heigl commented on #2252
+1

[2022-05-23 09:30] NilsDannemann opened #5402 "Video-Widget: Play on hover"
Hi Team,

just wanted to alert you that there aren't many Elementor-Video players out there that offer a "play-on-hover" feature. It's a pattern that's used by a lot of big companies (e.g. netflix). We needed a solution for this as well and found a ["hacky" way](https://www.youtube.com/watch?v=vHJYHZPKrUw) to solve this.

I thought it could be good for the Crocoblock team to implement this for the

[2022-05-23 10:49] yeswycan commented on #4819
So true we need Leaflet and OSM !

[2022-05-23 11:18] klwdp commented on #3517
This is needed badly. Is there any plan to add this as it is a deal breaker for my clients?

[2022-05-23 12:40] tizum commented on #5363
@79ho3ein Hello, I tried this plugin, however it adds the icon only, in my case I want the icon to appear only when the user adds a product to the cart, thanks anyway :)

[2022-05-23 13:51] MichaelaKubasova opened #5403 "New approval users"
Hi, if we created a website with users where need approval to login after registration. Will be awesome if we can use someting in crocoblock because I use plugin, but in map and lists showing this users on website.

[2022-05-23 14:24] catherinewiltshire commented on #5135
+1

[2022-05-23 19:18] andretoldo commented on #2009
It works at some older sites but I can't configure it into new ones =(

[2022-05-23 20:24] The-Friendly-Ghost opened #5404 "Optimization Jet Engine Listing Grid"
When I try to optimize my website, I get a message from Lighthouse saying that the carousel dots of the Listing Grid Widget are not optimized. I tried to fix this optimization error myself, but it doesn't seem to be possible from within the widget.

![image](https://user-images.githubusercontent.com/89775408/169899837-afb07685-dc00-4fa8-81e6-802dd78b0e52.png)

[2022-05-23 22:57] thedaniel1998 commented on #2031
Man, it was sugested on october 2020. We are in 2022 and this simple option is not available yet...

[2022-05-24 01:43] tealou commented on #3759
Following up on progress with this -- ability to choose the same icons/animations as Elementor page transitions would be better (too much replication as it is), but as a minimum, the ability to upload a GIF or SVG (or even Lottie) file for that feedback would be good on all Listings with Infinite Scroll.

[2022-05-24 02:36] RobertCastro commented on #2632
it worked for me, thanks

[2022-05-24 06:12] ALPSIT commented on #1714
+1

[2022-05-24 07:47] Lonsdale201 commented on #5393
+1 :)

[2022-05-24 08:56] 79ho3ein commented on #4589
hi @UraraReika , good time!
I had a question about free mode ...

Do you use the elementor swiper library for free mode?
Because freemode is not working properly at the moment and does not work well on various devices and browsers. Of course, I had already explained about it. So I wanted to ask if you are using swiper library for free mode, if the elementor updates this library, will the current p

[2022-05-24 09:53] Lonsdale201 commented on #4801
+1

[2022-05-24 12:33] carlton-riffel commented on #1782
Another Vote. Seems like an important feature.

[2022-05-24 12:44] Elsteck commented on #931
+1

[2022-05-24 13:05] hb81010 opened #5405 "JetSmartFilters - Check Range Filter - Labels for Option List Entries"
Would it be possible to add an individual label for each entry in the check range filter. For example, for ratings as in the following example, this possibility would be great.

![Original](https://user-images.githubusercontent.com/54399588/170041609-e9cd3d5c-842a-4b59-8899-5075feb02b41.jpg)

[2022-05-24 16:12] maxie71 opened #5406 "Jet Appointment display available services & slots for a given day"
Hi,
The ability to display a roster of available service and time slots for a given day would be very useful.
currently you have a form where someone can choose a service and a provide of that service and availability is displayed. However you would get more impulse bookings if a visitor can see the information in this way.
A typical use case might be you are using jet appointments to sell booking

[2022-05-24 19:10] Willitbang commented on #2263
+1

[2022-05-25 11:11] hb81010 commented on #5399
+1

[2022-05-25 11:41] sara-kariv opened #5407 "CCT - Custome content type - Add an option to reorder items"
Hello Crocoblock team :)

There is no way to change the order of cct items - this is a very important feature.

like in posts - you can change the order by editing the post date, but on cct there is no option to do that.

so i'm stuck with the order I can't change... i need to delete an item and add it again to move it to the top of the list :(

this will be very helpful

thanks!

[2022-05-25 11:58] OrangeAdmin opened #5408 "Jet Appointment Feature request - Client side"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work; No
- if the feature is missing from the products. Yes

**Please, describe the feature request, making it clear to understand.**

The ability to include the appointment URL in Jet Forms so that the Client can click to approve or deny a user's appointment without l

[2022-05-25 13:01] Qubadi opened #5409 "Smartfilters , Is hierarchical then Exclude Or Include Items"
**Before adding a new feature request, please, make sure you’ve checked:**
Hi

I use Smartfilters from Crocoblocks, there are some things I think should be improved.

1. When you choose to create New Filter and when you try to select (SELECT) then select Is hierarchical then Exclude Or Include Items disappears.

It is not possible to choose a specific Taxonomy or Categories.

I really hope you add

[2022-05-25 13:31] 79ho3ein opened #5410 "Custom svg for unit price - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

It would be great if you add custom Svg to the price unit. I saw this feature on [one of the websites](https://prnt.sc/6U0RSp2hMl22) and it was really great. Using this method, we can choose to display the default price unit, or display a custom unit. In fact, showing a custom price unit does not mean a new price unit. It is

[2022-05-25 13:38] x3mp commented on #1183
Why is this closed? It's not added? Its not possible to search through Product Attributes and tags.
This is a serious lack of attention on the developers part!

[2022-05-25 13:39] x3mp commented on #1183
@Floydtm this is still not possible, why is this closed?

[2022-05-25 13:51] stasonua0 opened #5411 "Testimonial Widget edit edit tag title"
Hello, consider giving H1-H6 heading tag selection in the Testimonial Widget https://prnt.sc/tMVgIcFfITar.
The default is H5, which usually breaks the header structure https://prnt.sc/cqwEvWva1jnT and there are no options to fix it.

[2022-05-25 13:52] x3mp commented on #4873
Seems like its never gonna happen... #1183 was closed 2 years ago despite it still not being possible.

[2022-05-25 13:54] ishnechmad opened #5412 "Add "query_var" to the profile builder's rewrite"
Hello, I need to allow the representatives of my organization to edit the details of the customers. I created an account page for all users using the rewrite building of the profile builder.
I set rewrite by user ID, as follows: [https://example.com/edit-user/19](https://example.com/edit-user/19).
My problem is that forms cannot get the user ID from the URL.

In the end I had to write the rewrite

[2022-05-25 15:07] julienaflalo commented on #2529
+1

[2022-05-25 16:30] DavidAky commented on #3819
The issue is still there. When redirecting the filter results to  another page the filters are always doubled. So when I try to filter again on the redirected page, the initial filter stays put and only one of the filters changes. So the filtering system tries to filter posts that have (old filter category) AND (New filter Category). So it give 0 results. Its like the filter tries finding real est

[2022-05-25 16:57] sharkyh2o opened #5413 "Jet Menu Pre Set Templates"
Looking to see if there is a way to download a preset for mega menu instead of styling something from scratch? Are there any templates out there that aren't part of a theme already?

[2022-05-25 19:44] LTimerr opened #5414 "JetSmartFilters extension"
Hi! I am currently working a lot with glossaries and have to enter a lot there to make my website perfect. I think you should add the function in JetSamrtFilter that if someone enters something on the front end via a normal text field, that we take a name "Test" then you can also select a checkbox on the front end, for example . The whole thing is then saved in a kind of category, where you can th

[2022-05-25 22:25] satomiao opened #5415 "Add Query Arguments for Dynamic Image (Linked image) URL"
At this moment, there is no way to add query arguments for dynamic image link URL.
It is very weird that you can add a prefix but not a query variable.

Please consider to standardize the link options in the Dynamic Image widget with the one in Dynamic Link widget by adding:
1. Query Arguments
2. URL Anchor

![linked-image](https://user-images.githubusercontent.com/55849033/170379233-a156e131-92f7

[2022-05-25 22:29] satomiao commented on #5305
+1 up

[2022-05-26 09:19] UraraReika commented on #5384
In my case everything is good, that is why i asked you to contact our support team.

We test this in several WordPress installation with different versions and i should say that Elementor Pro and JetWooBuilder templates have same behaviour. For now this is the most optimal way to handle this.

[2022-05-26 11:08] UraraReika commented on #4589
Yes we use Swiper library from Elementor. May be after they update this library to some newest versions some problems will gone.

[2022-05-26 11:36] salahalldhabi commented on #3654
It would be very nice to have this feature available
I hope it will be added as soon as possible

[2022-05-26 12:19] #4587 closed, assigned to Gawuww

[2022-05-26 13:21] UraraReika commented on #5410
Unfortunately, we do not plan to introduce such functionality into our plugin. You can use this https://woocommerce.com/document/change-a-currency-symbol/ solution.

[2022-05-26 13:21] #5410 closed, assigned to nobody

[2022-05-26 13:23] antoinelbch opened #5416 "[JetWooBuilder] "A password will be sent to your email address." is not translated when setting a different locale."
Plugin: JetWooBuilder
Widget: Registration Form
Issue: string `A password will be sent to your email address.` is not translated when setting a different locale.
Reason: incorrect string referenced in JetWooBuilder
JetWooBuilder file: /wp-content/plugins/jet-woo-builder/templates/widgets/myaccount/registration-form.php
Line: 40
`<p><?php esc_html_e( 'A password will be sent to your email address.'

[2022-05-26 13:31] 79ho3ein commented on #5410
thank you

[2022-05-26 13:35] kaskad88 commented on #5285
Fix for the next version ( 2.11.10 ). Thanks for your report!

[2022-05-26 13:35] #5285 closed, assigned to kaskad88

[2022-05-26 13:56] frussane commented on #2660
+1

[2022-05-26 16:05] Joliamendi commented on #4948
hello @UraraReika , Will a new update be released? Will this feature be added in the new update?

[2022-05-26 17:14] tizum commented on #5265
+1

[2022-05-26 17:24] tizum commented on #5394
+1

[2022-05-26 19:22] devyncocreative commented on #1151
+1 for OpenStreet Map

[2022-05-26 19:23] devyncocreative commented on #2173
+1 OpenStreetMap for privacy concerns with Google Maps

[2022-05-26 19:31] MjHead opened #5417 "JetEngine v3.0.0 Beta"
Hi,

We are almost getting ready to release JetEngine v2.11.0 and we would like to ask you to help us test JetEngine v2.11.0 Beta.

You can download beta version from your Crocoblock account.

**Please note that is a beta version, not stable release, so its not ready to use on production websites!**

## New field “Map” for Meta boxes (post, taxonomy, user), option pages, and CCT

You can add a map

[2022-05-26 19:39] Ruslan1714 opened #5418 "please add the ability to add photos for the jetReviews pluginAdd a clear and fitting title for the feature request"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2022-05-26 20:11] Avram-Baskin commented on #2438
I strongly support this request. I'm using JetReviews to create a commenting system for my blog posts.  It is highly likely that some people pay want to submit two or more comments for a post.

[2022-05-26 23:29] madmaxpowermx commented on #5417
when using the user geolocation filter, the browser ask permission to access your location, yo click on allow and then all the listings on the map dissapear

[2022-05-26 23:38] rtpHarry commented on #2009
Woohoo

<img width="732" alt="image" src="https://user-images.githubusercontent.com/1038062/170598442-0aff182e-cba5-4713-8104-5f0ce36a2a83.png">

#5417

[2022-05-26 23:39] rtpHarry commented on #2577
Woohoo!

<img width="732" alt="image" src="https://user-images.githubusercontent.com/1038062/170598939-4a27ea62-79b7-409c-ba72-00a0f2eb16b3.png">

#5417

[2022-05-26 23:41] rtpHarry commented on #2765
#5417

<img width="910" alt="image" src="https://user-images.githubusercontent.com/1038062/170599660-1a3e739f-3263-424b-a009-f0da50003e36.png">

[2022-05-26 23:42] rtpHarry commented on #18
Looks like this is coming now #5417

<img width="910" alt="image" src="https://user-images.githubusercontent.com/1038062/170599972-de3c6fb5-f895-43f3-83b0-12d3fc932ee4.png">

[2022-05-27 05:05] AcuriosNab commented on #3236
+1, for terms.

[2022-05-27 05:08] rajhussainkanani opened #5419 "[JetBooking] - price in calendar"
Hi,

It would be really helpful to many users who want to have price in the availability calendar below the date in jet bookings.

[2022-05-27 05:15] AcuriosNab opened #5420 "Some way to query terms by custom/meta fields for radio/checkbox/selection fields in form."
Hello. I have a website with different users. Each user can publish their articles and create their categories, however each user can only publish in the categories they created or in public categories (created by the site administrator).
There is an author_cat meta field in which the id of the author of the category is entered when creating each category.
I can filter the categories with querybui

[2022-05-27 06:53] UraraReika commented on #5416
Hello @antoinelubach !

This issue already fixed, please wait a bit for release.

[2022-05-27 07:28] NeoAcla opened #5421 "More Table preset template please!"
Hello guys,

Just wondering if the dev's team are working on creating a template for table? Especially on product table with woocommerce.

I saw this another 3rd party plugin offering a crazy tables with so much templates and demos.
https://demo.wooproducttable.com/?_gl=1%2A14xa9fr%2A_ga%2AMTA4MzkyNzE4Ni4xNjUzNjMxMTIy%2A_ga_4768F4PBJ1%2AMTY1MzYzMTEyMi4xLjEuMTY1MzYzMjI5Mi4w&_ga=2.125304652.77743972

[2022-05-27 08:28] Floydtm commented on #5409
At the moment this is not a bug. You must understand that some things work as they were intended and it is not always possible to make big changes. Thank you!

[2022-05-27 08:28] #5409 closed, assigned to nobody

[2022-05-27 08:33] MjHead commented on #5417
Hi! Thanks for the feedback. Could you please share the link to website with the problem, because can't reproduce it locally?
And could you please check one more thing from your side -
![image](https://user-images.githubusercontent.com/4987981/170662273-b7ade129-1f4a-4716-b205-983c2923a7f9.png)
Geolocation filter sends your coordinates with AJAX request Could you please select some coordinates sim

[2022-05-27 09:26] Floydtm commented on #5407
Describe your request in more detail, if possible, add screenshots or video. Thank you! Do you need this option for the admin panel or for the frontend?

[2022-05-27 09:45] Floydtm commented on #5405
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-27 09:45] #5405 closed, assigned to nobody

[2022-05-27 10:41] Floydtm commented on #4819
#5417

[2022-05-27 10:41] #4819 closed, assigned to nobody

[2022-05-27 10:46] Floydtm commented on #5400
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-27 10:46] #5400 closed, assigned to nobody

[2022-05-27 12:03] 79ho3ein opened #5422 "A small bug about the checkout page > form fileds."
**Describe the bug**

hi
Not sure if this is a bug or not. I'm also not sure if this is a jet woo issue. But anyway ...

In the billing form & shipping form, the size of the list fields (such as country) is different from the other fields. There is no difference in the editor and everything is fine. But in the frontend, the country field (list fields) is a little thinner than the other fields.
Cou

[2022-05-27 12:21] UraraReika commented on #5422
Please take a note at this issue https://github.com/Crocoblock/suggestions/issues/5384.

[2022-05-27 12:21] #5422 closed, assigned to nobody

[2022-05-27 12:56] MichaelaKubasova commented on #5417
Hi, markers doesn't work with user meta boxes, I try use glossaries and set field value and than I try, create a metaboxes different for company check and different for self-employed and doesn't work. I have slovakia map with only one markers but I need different markers for company and self-empolyed.

[2022-05-27 13:17] 79ho3ein commented on #5422
thank you . So, is it solvable in the future, or is it naturally so?

[2022-05-27 13:21] mehmettuz opened #5423 "Woocommerce Sorting Product > Attributes Titles"
Hi, I need to sorting attributes titles. What I mean I sharing screen shot with you. Anybody helps?

https://prnt.sc/pbxGStpnmzrw

[2022-05-27 13:54] dibeja opened #5424 "Jet Engine Listing Call To Action Bug"
Hello;
I noticed that when i use the Elementor CTA widget inside a Listing, style are messed up in the description, button and ribbon elements.

[2022-05-27 14:32] AzizbekJumanazarov commented on #1856
@jacktaffa Thanks. It works with Relevansssi plugin.

[2022-05-27 15:03] MjHead commented on #5417
@MikaelaDeCub

Hi! You mean markers not shown at all? Or the problem is it shows the same marker but you need different?

[2022-05-27 15:59] Floydtm commented on #5418
#3658

[2022-05-27 15:59] #5418 closed, assigned to nobody

[2022-05-27 16:33] 79ho3ein commented on #5422
hi again @UraraReika
After updating WordPress to version 6, the crocoblock icon in wordpress dashboard will not be displayed. https://prnt.sc/ytlxcWWGWzfx

[2022-05-27 16:38] vovkasolovev commented on #2785
With the JetEngine 2.11 update it is now possible to add Meta Fields to Relations. I think this issue can be closed. Video about it (5:51): https://youtu.be/4ZNF_BTBQ8M?t=351

Thank you, Crocoblock Team!

[2022-05-27 16:53] #2785 closed, assigned to nobody

[2022-05-27 17:06] Zegklitz commented on #1127
+1

[2022-05-27 18:14] findatutor commented on #3517
+1, Could we al least know if this is being considered? Cause if not I might have to switch to another system of plugins.

[2022-05-27 18:39] findatutor commented on #4208
+1

[2022-05-27 19:49] MichaelaKubasova commented on #5417
Hi, I need different markers on users metaboxies or glossaries which is set in users metaboxes

[2022-05-27 19:54] Soheilafsha opened #5425 "ادغام و همفکری در جذب و اموزش روش های نوین اموزشی"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-05-27 19:56] jwamsterdam opened #5426 "Link canonical URL misformat in Profile Builder"
Related to issue https://github.com/Crocoblock/suggestions/issues/4883
A new canonical path has been added.

The path is missing a forward slash after the domain name though:
<link rel="canonical" href="https://www.mydomain.nudentist-andrew-mcconory/single-user/" />

it should be:
<link rel="canonical" href="https://www.mydomain.nu/dentist-andrew-mcconory/single-user/" />

[2022-05-27 20:00] jwamsterdam opened #5427 "Additional custom %wpseo_title% field to Profile Builder title macro's"
Related to https://github.com/Crocoblock/suggestions/issues/4883,

please add to the macro list the custom field %wpseo_title%, which is the custom Yoast field for a title based on the author (user) page.

This way, the title can be manually added.

[2022-05-27 21:28] 79ho3ein opened #5428 "auto Align for product grid price"
**Please, describe the feature request, making it clear to understand.**

hi

If you'm up to date, in elementor pro 3.7, the [auto Align](https://prnt.sc/A6SHjNr0gSM7) for read more feature has been added, which improves the UI in the posts widget.
So, if you add such a feature to the price of the Product grid widget, it would be great.
In the product grid widget, if the product is for sale, the o

[2022-05-28 07:22] brupao commented on #5417
I know what he mean. Here a example. It's a old bug, I tried for 6 month to assign different marker but not working.
As example:
User metaboxis (sittering) is a checkboxes field (petsitter and babysitter). All work fine, map listening, filtering but different marker have some issue, not display.
![image](https://user-images.githubusercontent.com/99042394/170815206-57391792-acc5-449f-a0b3-a6b38e0d5

[2022-05-28 07:24] brupao commented on #5417
I know what he mean. Here a example. It's a old bug, I tried for 6 month to assign different marker but not working.
As example:
User metaboxis (sittering) is a checkboxes field (petsitter and babysitter). All work fine, map listening, filtering but different marker have some issue, not display.
![Untitled](https://user-images.githubusercontent.com/99042394/170815284-23575635-09dd-4343-b29f-e35194

[2022-05-29 09:58] sara-kariv commented on #5407
for the admin panel...
like in posts - you can change the order by editing the post date, but on cct there is no option to do that.

[2022-05-30 07:54] UraraReika commented on #5428
I merged this issue with [#5364](https://github.com/Crocoblock/suggestions/issues/5364), which is on the same subject so we could deal with it more efficiently.

[2022-05-30 07:54] #5428 closed, assigned to nobody

[2022-05-30 07:56] #5425 closed

[2022-05-30 07:57] UraraReika commented on #5423
Please contact official WooCommerce support.

[2022-05-30 07:57] #5423 closed, assigned to nobody

[2022-05-30 10:20] Floydtm commented on #5421
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-30 10:20] #5421 closed, assigned to nobody

[2022-05-30 12:38] CodeByFlo commented on #3890
Yes this is essential! Please make sure the profile builder can be translated with WPML, because without it the profile builder is almost useless to us. Thank you so much for prioritizing this 👍

[2022-05-30 12:58] SchneiderSam opened #5429 "Allow DXF Files for Forms"
**Please, describe the feature request, making it clear to understand.**

It would be great to be able to upload DXF files: https://de.wikipedia.org/wiki/Drawing_Interchange_Format This is very often used for technical draftsmen and architects (Autodesk). Wordpress does not allow this by default, but this could be allowed individually: https://stackoverflow.com/questions/61119932/support-dxf-file-

[2022-05-30 14:44] LevelUpGit opened #5430 "JetEngine Listing - add access to fields from "SQL query" in elementor widgets"
Plugin: JetEngine
Options in use: Listing, Query builder

Issue: Can't access fields from "SQL query" in Elementor widgets, like we can in dynamic field widget, when creating listing.

Steps:
1. Create SQL query on custom table
2. Create listing for  SQL query
3. Create a new "Heading" and try to pull a dynamic field from an SQL query.

Solution: Add access to fields in Elementor widget, as well i

[2022-05-30 16:54] 79ho3ein opened #5431 "Solar (jalali) calendar for jet booking"
hi crocoblock team

In our country, because we have a different calendar, we can not use this plugin. So is it possible to add solar date support (jalali) to this plugin?
Now [this plugin](https://wordpress.org/plugins/wp-parsidate/) adds jalali calendar to wordpress, but only converts WordPress and WooCommerce calendars to jalali...

thank you

[2022-05-30 17:25] Michaelgimii opened #5432 "elementor popup action for jet engine form"
I wanted the elementor pop-up to open after users submitted the form. Unfortunately, the jet engine does not currently support elementor pop up.
Please add elementor popup support. Many users do not want to use jet popup for any reason. Please make this choice available to your users.

[2022-05-30 17:56] Floydtm commented on #5432
https://crocoblock.com/freemium/tools/ https://prnt.sc/CJH9faLu-h3r

[2022-05-30 17:56] #5432 closed, assigned to nobody

[2022-05-31 00:31] Joliamendi opened #5433 "A better way to select a category in the Categories Grid widget"
This method is very bad for selecting categories. Because finding the desired category ID is very time consuming. https://prnt.sc/CqAZrtHbpvji
This method : https://prnt.sc/uFTyit5YpVFA        is much better and more principled than the current method for selecting the desired category. Correct this if possible

[2022-05-31 06:45] kaskad88 commented on #5150
In the next version ( 2.11.10 ):
- 1 case - fixed
- 2 case - added order and order by options https://tppr.me/iQrab
- 3 case - WP_Query does not allow sorting by terms

Thanks for your report!

[2022-05-31 06:45] #5150 closed, assigned to kaskad88

[2022-05-31 06:48] Floydtm commented on #5433
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-05-31 06:48] #5433 closed, assigned to nobody

[2022-05-31 06:53] ALPSIT commented on #5150
Awesome! thank you!

[2022-05-31 09:26] jacktaffa opened #5434 "JETFORM BUILDER Cannot Relate items to New Posts"
If you use Insert Notification and after "relate items Notification" you cannot use it because it missing created post id

[2022-05-31 09:31] #5434 closed, assigned to nobody

[2022-05-31 12:39] CavenMzero opened #5435 "Smart Filter Targeting"
Hi, sorry if this has been requested, but couldn't find it the list.

For **JetSmartFilter** when selecting _"This filter for"_ dropdown.
The dropdown list is very limited.

With the current setup of filters, you can not have filters target different widgets.
From my experience and what I am struggling with right now, I need to have a filter for each product loop widget I have onb my page, however

[2022-05-31 12:49] CavenMzero opened #5436 "Product Grid/List Template"
Hi,

So for this one, it rather straight forward.
Much like with Listing Grid, I would like it if we can select a custom template/listing for these widgets.

No offence to you guys, but super limiting style wise with what you currently have, I think you should rather cut down your Presets to like 5 and allow for custom templates instead.
Shouldn't be that hard as you already have it setup for List

[2022-05-31 13:02] Floydtm commented on #5435
Hi, at the moment we do not plan to extend filters to other widgets

[2022-05-31 13:02] #5435 closed, assigned to nobody

[2022-05-31 13:09] Floydtm commented on #5436
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
Right now you can use the product loop or build a custom listing with jetengine plugin

[2022-05-31 13:09] #5436 closed, assigned to nobody

[2022-05-31 14:03] jwamsterdam opened #5437 "Issues in Yoast header (crocoblock profile builder)"
Hi,

I am using crocoblock profile builder including Yoast SEO.
In the header of my user account page, I see the following errors:

[code]

Thank you!

[2022-05-31 14:09] StevenVanWingerden opened #5438 "Ability to order Listing Grid by Term menu_order"
Please make an option to order listing grid items by the menu_order of the term:

![image](https://user-images.githubusercontent.com/39831934/171193585-56cb59e5-e2db-421f-9535-cf6d4a8406e0.png)

[2022-05-31 14:33] dbruddy opened #5439 "Add filter by my location in JetSmartFilters"
Hello! I am using JetSmartFilters in a listing website, but I think that is a good idea to add FILTER BY MY LOCATION FUNCTIONALITY in the plugin.

Something like this:
https://www.demoapus-wp1.com/findus/

You can see in the search form that you have an option that you can filter by your location
![Screen Shot 2022-05-31 at 10 12 35 AM](https://user-images.githubusercontent.com/38367035/171199210-

[2022-05-31 17:19] ssoronid commented on #3505
+1

[2022-05-31 17:33] ssoronid commented on #3372
+1

[2022-05-31 20:16] brentcopeland commented on #346
+1. Wow, just spent an hour trying to figure out how to get them to show up and found this.  This is such an obvious need that it kinda worries me that it's not already in the plugin. Especially when people have been asking for it for almost 3 years now.

[2022-06-01 00:58] ssoronid commented on #1151
+1

[2022-06-01 01:26] LiamX2 opened #5440 "Jet Engine - Allow Custom Value to be added under Radio Option, Select Option and Radio / Select Option in Repeater Field"
Hi there,

Two features requested.
1. Allow custom value to be added to Radio Field and Select Field, currently it only has this feature in Checkbox Field.
2. Allow custom value to be added to Repeater Field.

Thanks

[2022-06-01 08:49] diickens commented on #2282
Is there any news regarding this issue? Because the availability is great but the speed makes the plugins of croco a nightmare. I had to disable the full stack of the croco plugins to make my site load normal.

Best regards
Marc

[2022-06-01 10:15] phofstetter commented on #1635
Do you have implemented that feature now?

[2022-06-01 12:18] tusharttyagi commented on #2307
Lets goooooo + 10000000^257856
Need this.
I'm desperate.

[2022-06-01 13:41] Zegklitz commented on #2307
+1

[2022-06-01 14:59] mbaierl commented on #3435
The bug is in jet-menu/includes/rest-api/endpoints/get-menu-items.php
`function callback($request)`

The function stores the result in a transient, but does NOT include the language when doing that:
`$transient_key = md5( sprintf( 'jet_menu_remote_items_data_%s', $menu_id ) );`

Thus on another request the cached menu in the wrong language is loaded.

Easy to fix by including the language in the a

[2022-06-01 15:00] mbaierl commented on #4788
Duplicate of bug 3435.

[2022-06-01 15:00] mbaierl commented on #3466
Duplicate of bug 3435.

[2022-06-01 19:02] dburke-ux commented on #5439
+1 on this. The map listings are so great, and do most of what I need, but I've needed to use another plugin for a few clients that needed a "Find Near Me" button.

[2022-06-01 19:17] dburke-ux opened #5441 "UI for manually selecting posts to show in a Listing Grid"
Currently, for a content manager to specify posts to show in a listing grid, they need to enter IDs, which requires them to open the Posts admin in a new tab and copy the ID numbers - https://www.screencast.com/t/XjsZR7hws

Elementor's Posts Widget searches by title, which is a nicer experience as users don't need a second tab and copy+paste - https://www.screencast.com/t/VCBCAPChg4V

JetGridBuild

[2022-06-01 19:28] inigo104 commented on #941
A bit late  too, you could do it this way in posts query

![Captura de pantalla 2022-06-01 212655](https://user-images.githubusercontent.com/2894924/171486047-5d552d0d-815d-4ba6-a9e5-46b44a92b276.jpg)

[2022-06-02 01:06] petrovui opened #5442 "JetWooBuilder Single Product Template - Template Layout Settings is missed"
In JetWooBuilder Templates in a dashboard you can create a diffrent templates such as Shop page template/Arhive Template/Single product template etc. If a shop page template is chosen, there will be this option in elementor page settings, so you can choose a wordpress template for shop page, but in jetwoobuilder single product page template this setting is missed. Can it be resolved?
![screenshot-

[2022-06-02 08:46] jsxsj opened #5443 "Allow the owner of the website to book custom duration appointments in jet appointment"
Hi,
I'm using jet appointment for a dentist website where visitors can book an appointment slot with a duration of 30 min.
Let's say that the dentist wanted from one of the patients to come again to do an operation that can take at least one hour.
The issue is that there no option for the dentist to book an appointment with a custom duration of 1 hour for his patient in order to not allow other vi

[2022-06-02 09:49] UraraReika commented on #5442
I merged this issue with [#4450](https://github.com/Crocoblock/suggestions/issues/4450), which is on the same subject so we could deal with it more efficiently.

[2022-06-02 09:49] #5442 closed, assigned to nobody

[2022-06-02 10:03] CptSlow2000 commented on #1470
+1
Somehow sth gets cached. But every time you add a post or change sth, you have to clear the Redis cache. Not optimal.

[2022-06-02 10:11] jwamsterdam opened #5444 "Open Graph data of Profile Builder accoutn pages incorrect"
I am using front end account pages based on the Crocoblock Profile builder functionality.

On my account pages, I have the following issues:

[code]

[2022-06-02 10:31] petrovui commented on #4450
Can it be solved with temporary changes in child theme?

[2022-06-02 10:47] UraraReika commented on #4450
This issue already solved, release will be soon.

[2022-06-02 11:51] Saranichev commented on #760
Подскажите как сделать чтобы записывался в таком формате времени xx.xx.xxxx
подойдет даже вариант через function.php

Tell me how to make it recorded in this time format xx.xx.xxxx
even the option via is suitable function.php

![image](https://user-images.githubusercontent.com/89551820/171622396-086562ea-c6a4-4f3b-acef-1869d4866716.png)
![image](https://user-images.githubusercontent.com/89551820/1

[2022-06-02 14:25] ALPSIT commented on #4208
Hi Team,

Can we please try and get this one assigned?

I have many clients wanting to limit their available bookings to only a certain amount of time in future.

In particular, those who are running membership type setup where user should not be able to book a date and time past their current user meta membership_expiry date

[2022-06-02 14:26] ALPSIT commented on #4208
This bit here would be the most handy!

[2022-06-02 14:30] brancommu commented on #4208
We also need such a function urgently!

[2022-06-02 14:38] Floydtm commented on #5444
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-02 14:38] #5444 closed, assigned to nobody

[2022-06-02 14:45] Michaelgimii commented on #4450
Great, thank you very much @UraraReika . When will the update be released?

[2022-06-02 14:51] yokirahmada opened #5445 "Jetsmartfilters "Date Range" start from today and cant select previous date?"
Hello,
Can jetsmartfilters "Date Range"  start from today and cant select previous date?
![inbound4537092628627328093](https://user-images.githubusercontent.com/91268568/171657583-1e1d56da-8b61-4447-8be9-993ead54073c.jpg)

[2022-06-02 16:03] ofmarconi commented on #3654
+1

[2022-06-02 16:08] tizum commented on #3654
+1

[2022-06-02 16:49] WonderJay94 opened #5446 "SmartFilters: Allow the option to search user's default meta fields like user_login"
I was creating a table to be able to search all the users with certain roles in the front-end. For front users it is kind of like a directory.

This is the checklist for that:
- Users query: exists and I was able to implement it
- The Table: possible to create and shows all the data like user_login, which in my case is the ID of the person I'm looking for in the directory
- The search: NOT possibl

[2022-06-02 16:51] woofyoso opened #5447 "Jet Carousel border radius"
Hi everyone, I hope you are doing well. :)
I would love to propose a feature for the Jet Carousel widget.
It should be nice if you add an option to change the border radius of the cards.
[https://imgur.com/a/ZKMpqaX](url)

Many thanks for considering my request.
Igor

[2022-06-02 17:00] gutorocher commented on #3654
Very much needed. Please dev this.

[2022-06-02 20:50] dbruddy commented on #5439
What other plugin did you used, bro?

[2022-06-02 20:52] dburke-ux commented on #5439
https://wordpress.org/plugins/wp-store-locator/

The featureset is decent, but you definitely need more front end skills to use it compared to JE Maps.

[2022-06-02 20:59] dbruddy commented on #5439
Thank you I will check it.

[2022-06-02 21:23] cmw1990 opened #5448 "Failure to list the meta field of a relation in the form (or through macro), or is it not a feature yet?"
I fail to list the meta field of a relation in the form (or through macro), is it my problem or is it not currently possible?

For instance, a tour(child post) is related to a country(parent post) under the type of a boat trip or a road trip(relation meta field), how do I let users change this meta field through a frontend form?

If it's not currently possible, please add it in a future update, ot

[2022-06-02 21:44] cmw1990 opened #5449 "Add logic condition combos to dynamic visibility"
Currently the dynamic visibility widget can only choose and/or logic for all the conditions(correct me if I'm wrong), it would be much more useful if we can add logic condition combos.

For instance, I want to display an item if condition A and condition B(combo 1), or condition A and condition C(combo 2), or condition D and condition E(combo 3) is met.

[2022-06-03 06:07] Rikardo01 commented on #5376
How I see many users have this request in past year and nothing for me without this minimum stay , conect to booking com and multilanguage is nothing bcz will have only problems with clients and always say that will be and have priority my opinion that hi never will do this and is better to move to another plugin for this that have sorry for this but is true

[2022-06-03 08:25] kaskad88 commented on #5437
Hello @jwamsterdam
We tried to reproduce your issue based on the information you provided, but without success.
Please contact our support https://crocoblock.com/help-center/ for guidance in resolving this issue (and mention that you were directed by me and reference this issue.)

Thanks.

[2022-06-03 09:06] alfredo49 opened #5450 "JetElements Testimonial Widget , random order items feature"
Hi:

It is a pity that in the Testimonial Widget in JetElements it is not possible to show the testimonials items in random order (as Jet Elements Slider), it is a very important feature and it would be very good if it were incorporated

[2022-06-03 09:21] Floydtm commented on #5445
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-03 09:21] #5445 closed, assigned to nobody

[2022-06-03 09:56] LevelUpGit opened #5451 "Issue with pagination and load more in listings with custom sql query"
Hi,

**Describe the bug**
Pagination and load more don't work with custom-made "SQL Query" in advanced mode.

But when not using Advanced mode and creating the same query with the same limitations, pagination will work.

Image 1 is an SQL query made without advanced mode, and below is generated query, when using the same query in advanced mode pagination and load more are not working.
Image 2 is a

[2022-06-03 09:57] molnarbalazs950817 commented on #4457
+1

[2022-06-03 12:15] EDR1EN opened #5452 "[JetAppointment] "Appointment details:" (below calendar in form) is not translated to the language of the site"
Hi,

I don't exactly know when this was introduced but at some point there was this "Appointment details:" area added below the calendar in the booking forms.

<img width="366" alt="Bildschirmfoto 2022-06-03 um 13 58 47" src="https://user-images.githubusercontent.com/89973927/171850665-bf1bbdd5-19c7-4b13-950f-06361295cc57.png">

The issue is that without a plugin or custom css this area is not tra

[2022-06-03 13:07] UraraReika commented on #5326
Hello @sonnesworld !

You use Upsells widget but in translate file if you look attentive you will notice Cross Sell widget. As for Upsells widget we use WooCommerce template so if you want to translate it file this you would translate WooCommerce plugin.

[2022-06-03 13:07] #5326 closed, assigned to UraraReika

[2022-06-03 13:10] UraraReika commented on #5330
No it won't.

[2022-06-03 13:10] #5330 closed, assigned to nobody

[2022-06-03 13:30] UraraReika commented on #4802
Hello @mdesignweb !

You can contact our support team so they will help you with solution.

[2022-06-03 13:43] UraraReika commented on #2540
Hello everyone!

This functionality was added to JetThemeCore in 2.0.1 version. So if you use it in combination with JetWooBuilder you will get needed result.

Thank you!

[2022-06-03 13:43] #2540 closed, assigned to UraraReika

[2022-06-03 13:48] #5216 closed, assigned to kaskad88, girafffee

[2022-06-03 13:59] mdesignweb commented on #4802
They told me to submit it here. And how do you solve this? @UraraReika
If you refer to this https://github.com/UraraReika/jet-woo-builder-custom-product-badges this is not a solution because this is so not user friendly, and doesn't have some basic options like most of the Badges plugins.

[2022-06-03 14:53] sara-kariv opened #5453 "meta fields in JetGridBuilder"
Hello,
please add an option to use meta fields in JetGridBuilder

thank you

[2022-06-03 15:28] antkoukou88 opened #5454 "Accordion widget: Scroll to Content option for all devices"
Hi there! Hope you are doing well.

This is gonna be short. We need "Scroll to Content" option (on\off) for Accordion widget to be available for larger devices like pc, laptop and tablet and not only mobiles. Maybe with a second on/off option. This is a huge problem when the accordion is at the bottom of the screen. You open it and... nothing. The content appears underneath and the visitor needs t

[2022-06-03 15:56] kaskad88 commented on #3964
https://github.com/ZemezLab/jet-engine/tree/dev/cct-check-radio-custom-values

[2022-06-04 09:55] majoross opened #5455 "JetBooking Can book without selecting dates. Required checkbox not working."
It is also not working properly on the Telephone field, if it has a mask on it.

[2022-06-04 19:36] ssoronid commented on #3922
+1

[2022-06-04 23:26] secondsky commented on #1470
Hey @Floydtm
are you alive? Can you get us an answer when this is going to be implemented?

[2022-06-04 23:28] secondsky commented on #430
Hey @MjHead
Any news when this will be finally be implemenrted?!

[2022-06-05 14:03] MjHead commented on #5417
@MikaelaDeCub @brupao Thanks for the clarification and sorry for the delay. I’ve got your point, we’ll fix this

[2022-06-05 16:17] vitfreelancer commented on #2400
Yes, that would really be great.

[2022-06-05 21:01] zahnd commented on #389
Hi. This doesn't seem to work for me. My query is https://monosnap.com/file/HMrTfgP16F7GyxNUalPtOsJu6OxvWx but it always shows the same items. Same when no query is set. Any hint is much appreciated :). Thank you

[2022-06-06 06:10] Floydtm commented on #5453
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-06 06:10] #5453 closed, assigned to nobody

[2022-06-06 07:12] UraraReika commented on #5455
Hello @majoross !

Please use this [template](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) to post correct bug report, so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests.

 Thank you for your understanding.

[2022-06-06 07:42] #3964 closed, assigned to kaskad88

[2022-06-06 07:55] lolirado commented on #3964
**We had it ?**

[2022-06-06 07:57] MichaelaKubasova commented on #5417
Thank you :)

[2022-06-06 08:07] sonnesworld commented on #5326
Hi Urara, now it works, sorry for that. The first time I tried everything out nothing worked.

[2022-06-06 09:48] Floydtm commented on #3964
Will be added in the next updates

[2022-06-06 09:54] #5356 closed, assigned to kaskad88

[2022-06-06 10:10] kaskad88 commented on #5404
Fix for the next version (2.11.10). Thanks for your report!

[2022-06-06 10:10] #5404 closed, assigned to kaskad88

[2022-06-06 10:11] kaskad88 commented on #5389
Add for the next version 2.11.10

[2022-06-06 10:11] #5389 closed, assigned to kaskad88

[2022-06-06 12:41] madhukarchopra commented on #1157
+1,
When I am using repeater images I cannot use image widget and dynamic image should have all options of image widget including custom size.

[2022-06-06 14:12] Duuble-U commented on #499
Hello,

Jet appointment needs to be more open to multilingual sites :
https://crocoblock.com/knowledge-base/articles/jetengine-how-to-make-jetengine-website-multilingual/#forms

1/ It works but lot of strings inside are not translatable.
2/ Services select field display all translations of each post : If I have 2 languages, each service appears 2 times, instead of appear only in the current langua

[2022-06-06 14:25] kaskad88 commented on #5279
Add for the next version 1.1.3

[2022-06-06 14:26] kaskad88 commented on #5279
https://github.com/MjHead/jet-engine-attachment-link-callback - @Lonsdale201  you can update manually from this repository

[2022-06-06 14:26] #5279 closed, assigned to kaskad88

[2022-06-06 14:29] #5414 closed, assigned to nobody

[2022-06-06 14:34] LTimerr opened #5456 "JetSmartFilters: Extension that would save a lot of time"
Hello, I work a lot with Crocoblock plugins in general, but one thing bothers me a bit about the whole thing. I have to use a lot of glossaries because I want to create a very large website, which would be much faster and less time-consuming if someone submits something from a form, for example a city name, and someone else then wants via Select or Search checkbox filter for this city name so that

[2022-06-06 14:50] Duuble-U opened #5457 "Ability to manage "ressources" in JetAppointment"
It would be very useful to be able to manage ressources in JetAppointment.
Lot of places have more services and providers than room.

For example a small massage center can have 3 providers, 2 services each, but only 1 room.

So when :
Client 1 : Book service 1 with provider 1 the 09/06/22 at 14:00 : OK
Client 2 : Book service 2 with provider 2. Jetappointment must not show slot 09/06/22 at 14:00

[2022-06-06 15:17] edgBllw opened #5458 "JetEngine - Profile Builder: `?redirect_to` auth redirection bug"
many sites have the feature that if i call a url to which i have no access and i log in afterwards, i will be redirected to the first url i entered.

[2022-06-06 15:17] #5458 closed, assigned to nobody

[2022-06-06 15:22] edgBllw opened #5459 "JetEngine - Profile Builder: `?redirect_to` auth redirection bug"
many sites have the feature that if i call a url to which i have no access and i log in afterwards, i will be redirected to the first url i entered. Like on Elementor:

https://user-images.githubusercontent.com/105508226/172190992-c54f388d-eb5a-44ce-9872-52bdb727a663.mov

however, the profile builder has the error that it does not include the additional pages after the main account page in the red

[2022-06-06 19:38] nreljed opened #5460 "Jetengine your role 🚀"
![depositphotos_74579135-stock-photo-roles-word-pulled-by-a](https://user-images.githubusercontent.com/82481592/172231824-b1aac1a9-aed1-4bc2-8ba9-db292c2f92e7.jpg)

[code]

I use this code snippet to maintain control and hide some jetengine elements especially **wysiwyg elements**
it will be so productive and simple if this possibility to hide them directly in the settings here

![Capture d’écran

[2022-06-07 03:35] pixallusdev commented on #2352
no movement on this huh?

[2022-06-07 05:54] nosh03 opened #5461 "Ability to import and export all the data captured in the custom meta fields and custom taxonomies for CPTs."
Whenever we create new meta fields and new taxonomies for existing post types (example products), WooCommerce does not support exporting the custom taxonomies.

Whenever we create a new CPT and assign custom meta fields and custom taxonomies, we have to rely on paid third-party plugins to export and import data into these fields.

The very purpose of these fields is to offer premium functionality

[2022-06-07 09:36] Duuble-U opened #5462 "Divide "custom schedule" in 2 parts for Services in JetAppointment"
I don't want to set working hours for each services, but i need to change duration of each services.

When i change duration, working hours from provider doesn't work anymore.

Provider has always the same time schedule from his post provider.
Service from this provider could have a different duration.

It's not good when provider need to update days off and working time in each service juste beca

[2022-06-07 12:17] proactivemel commented on #2252
+1

Very glitchy when window resizing is in play. Any advice on improving it, much appreciated.

[2022-06-07 13:47] jimhuds opened #5463 "JetSmartFilters Elasticsearch/ElasticPress compatibility (AJAX)"
The AJAX product filters on my web store take quite a while to load products. It would be great to have the option to integrate Elasticsearch/ElasticPress.

[2022-06-07 13:48] martinjakse opened #5464 "JetWooBuilder Custom Product Badges"
Hello Oleksandr Rudyi "UraraReika",

Is it possible to access Product Custom Badges information in some way via the REST API. The problem I have is that products with all the data and custom metaboxes and taxonomies are synced across the POS platform. The only thing I can't sync is Product Custom Badges. I really ask for your help, Martin

[2022-06-07 14:09] edgBllw commented on #5404
f

[2022-06-07 14:19] LTimerr opened #5465 "JetAuction: A completely new plugin"
A completely new plugin where users can create ads where they can choose whether it is an auction or not. You can also set what the starting bid is and how long the period should be.
Other users can then bid on the ad.

I hope this is possible because the whole thing takes Crocoblock to another level.

Although Crocoblock is already at a very high level.

Kind regards!

[2022-06-07 14:24] LTimerr opened #5466 "JetChat: A private messaging plugin"
A user can send messages to another user, for example to agree on a meeting place and time. The whole plugin would be pretty helpful for that. Also, since there is no good PM plugin, I think. I think the whole thing would be worthwhile for the whole Crocoblock and JetPlugin concept.

Kind regards

[2022-06-07 14:28] David-Heigl commented on #2252
+1

[2022-06-07 14:42] #4278 closed, assigned to nobody

[2022-06-07 14:54] maurocarreraok opened #5467 "Listing Grid ' More Options"
<img width="305" alt="Screen Shot 2022-06-07 at 11 51 45" src="https://user-images.githubusercontent.com/68023943/172411686-b6a41f1e-b42a-476f-9e27-20e23998cd16.png">

So right now, we have only this options.

Will be great that instead of columns horizontal or vertical gap to have
Margins instead.

Most of the time the Vertical gap, is added as well to the FIRST LINE (top) and this generate an sp

[2022-06-07 15:57] dburke-ux commented on #5467
Yes, I've run into the same issues as you, as well as some addition UX concerns:

- As you mentioned, padding is added to the top which interferes with pixel-perfect
- Setting spacing in the listing grid widget means if you want to adjust spacing later, you need to edit every listing grid on every page
- Adding padding in the listing item template allows spacing to be controlled globally, but it a

[2022-06-07 16:23] dburke-ux commented on #5441
Just wanted to add: the Include/Exclude Posts by IDs fields are useful when filling with dynamic data from a Jet Engine Posts Field. So, these should remain as options with an additional field for the improved search UI shown above.

[2022-06-07 22:14] Lonsdale201 commented on #5417
@MjHead  Maybe an extra suggestion if the focus is on the map anyway. It would be preferable to have a focus, highlighting when the pin is highlighted, a kind of focus-like animation for example. When there are already a lot of markers on the map, a small mini popup is quite obvious, but if there are several markers relatively close to each other, a continuous animation for the current pin would b

[2022-06-07 22:43] Still-InFrame commented on #2304
Interested in this as well. Any updates?

[2022-06-08 06:39] Floydtm commented on #5463
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-08 06:39] #5463 closed, assigned to nobody

[2022-06-08 06:43] Floydtm commented on #5465
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-08 06:43] #5465 closed, assigned to nobody

[2022-06-08 06:44] Floydtm commented on #5466
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-08 06:44] #5466 closed, assigned to nobody

[2022-06-08 07:10] #3181 closed, assigned to Gawuww

[2022-06-08 07:15] Gawuww commented on #5411
Added in JetElements v2.6.6

[2022-06-08 07:15] #5411 closed, assigned to Gawuww

[2022-06-08 07:15] Gawuww commented on #3181
Added in JetElements v2.6.6

[2022-06-08 07:31] Gawuww commented on #4959
Added in JetElements v2.6.4

[2022-06-08 07:31] #4959 closed, assigned to MjHead, Gawuww

[2022-06-08 07:32] Gawuww commented on #4296
Added in JetElements v2.6.4

[2022-06-08 07:32] #4296 closed, assigned to MjHead, Gawuww

[2022-06-08 07:34] Gawuww commented on #5154
Added in JetElements v2.6.4

[2022-06-08 07:34] #5154 closed, assigned to Gawuww

[2022-06-08 07:37] Gawuww commented on #3941
Added in JetTabs v2.1.17

[2022-06-08 07:37] #3941 closed, assigned to MjHead, Gawuww

[2022-06-08 07:39] Gawuww commented on #3923
Added in JetBlocks v1.3.2

[2022-06-08 07:39] #3923 closed, assigned to MjHead, Gawuww

[2022-06-08 07:40] Gawuww commented on #2333
Added in JetBlog v2.2.17

[2022-06-08 07:40] #2333 closed, assigned to MjHead, kaskad88, Gawuww

[2022-06-08 08:29] nreljed opened #5468 "[Jetsmartfilters] elementor popup , first major results bug 🐛"
here attached the bug

https://user-images.githubusercontent.com/82481592/172569387-886cfba4-6486-4be4-b7aa-44912e7dee38.mp4

and my show button parameters

![button](https://user-images.githubusercontent.com/82481592/172569574-702bc4e5-491c-4d20-b8cc-d860937d81e5.gif)

if I understood correctly the popup detected the query "archive" and the results change "show 3" (3 posts with wifi) in my exampl

[2022-06-08 08:40] UraraReika commented on #5464
Hello @martinjakse !

For current version of the plugins you can't do that. But next version will have some Rest API functionalities and if you specify what exact info you need to get we will try to implement it.

[2022-06-08 09:12] vaccinemedia opened #5469 "Add a clear and fitting title for the feature request"
There is a type of website I have been working on now using Drupal for over 10 years. Every time a new version of Drupal comes out I  re-build the website using the new version to keep it secure, supported and current. For the last year or so now I have been looking at ways in which I can re-build it using Wordpress instead of Drupal because Wordpress is now my platform of choice for "brochure" we

[2022-06-08 09:15] vaccinemedia commented on #5469
A third party example may be here: https://www.youtube.com/watch?v=GOQXarmzRdI but I'm yet to try it out.

[2022-06-08 09:19] LevelUpGit opened #5470 "Improve JetSmartFilters search widget to have an option to disable apply filter button"
Pretty much the title says it all.

So we can use it alongside other widgets in chained filtering (with one apply filter), we can now also disable it via css, but it would be nice to have those options unified across widgets, just like in "Select filter".

Also for the search widget, it would be nice to have "Apply Redirect", to have an option to redirect search to a dedicated page.

Thank you

[2022-06-08 09:59] borjacachan commented on #2355
any update? We need Google Calendar Sync with AirBnB and Booking.com
It is not usable tu make reservation manually if we have another reservation in other plattorms. Has no sense. How can we integrate it?

[2022-06-08 11:31] kaskad88 commented on #5438
Order by `menu_order` in Term sQuery is not available https://developer.wordpress.org/reference/classes/wp_term_query/__construct/#parameters

If you meant `term_order` then use Query Builder https://tppr.me/9d2lb

[2022-06-08 11:31] #5438 closed, assigned to nobody

[2022-06-08 11:50] OrangeAdmin commented on #2526
Hi I cannot find this option as per your prnt.cs image

[2022-06-08 13:46] brupao commented on #5417
I'm not sure it's a JetEngine v.3.0.0 Beta issue but after JetEngine upgrade I'm having issue with Listing clickable Item. I'm sure it's a clickable item (the cursor change) but If I click on Listing Item, nothing happen. I have the issue for all link source (not permalink only).
![image](https://user-images.githubusercontent.com/99042394/172631859-f5bd250d-b14a-4525-826e-83b592540955.png).
Can so

[2022-06-08 14:20] LevelUpGit opened #5471 "Improve JetSmartFilters select filter in backend so it can use macros"
Improve JetSmartFilters select filter in the backend to be able to parse JetEngine macros, for example, %str_to_time|tomorrow%, could be useful for filtering listing for tomorrow or any specific day without needing to use date picker, ranges, or something else.

![Screenshot_3](https://user-images.githubusercontent.com/69863985/172639869-0dc74b51-05cf-42ce-a726-1c12fd77a32b.jpg)

[2022-06-08 14:22] petrovui opened #5472 "JetWooBuilder widgets are missing in Single Product Template"
![screenshot-artelperelygina com-2022 06 08-17_19_17](https://user-images.githubusercontent.com/29761044/172640335-6adbf7ae-58c3-4fe5-b25e-1c97c42baf38.png)

In theme constructor then choosing Single Product Template JetWooBuilder widgets are missing. They works only in JetWooBuilder Template Builder templates.

[2022-06-08 14:52] madmaxpowermx commented on #5417
When you try to create or edit a CCT, the metafields are not saving the information. This only happens on v3

[2022-06-08 14:54] madmaxpowermx commented on #5417
I had misconfiguration, sorry it works like it should be

[2022-06-08 15:01] LevelUpGit commented on #5469
Have a look at wpdatatables, it could suit your needs. Haven't fiddle with JetEngine tables yet to know what they are capable of.

Basically wpdatatables are an extension of datatables shown in yt video you posted.

[2022-06-08 15:22] #1992 closed, assigned to nobody

[2022-06-08 20:32] acaballerop commented on #5452
Totally agree with you, sometimes that generates distrust in the client.  or that he directly does not understand what says there.

[2022-06-08 20:35] acaballerop commented on #5294
I have to generate custom roles for the "providers" so they are able to enter to the dashboard to edit the appointment. Will be useful as well that the user will be able to also edit the appointment himself

[2022-06-08 20:42] acaballerop opened #5473 "Option to set different prices for specifics days."
A few months ago I created a site for a client.  He recently asked me to change the price of the appointments for one of his services over the weekend.  In other words, if the appointment use to cost 10€ on Friday, on Saturdays it should cost 20€. That functionality does not currently exist in jet appointment it would be great to be able to modify the prices on specific days or times for each serv

[2022-06-08 21:26] WEBLOTI commented on #2667
Any updates on this integration of this functionality? I think this is extremely relevant for businesses that offer personalized digital services or consultancies...

[2022-06-08 21:29] 79ho3ein opened #5474 "Ability to close poup, for apply button widget - jet smart filters."
The pop-up closes automatically after the user clicks the Apply Filters button. This is a very important feature that does not currently exist. Another important feature for this feature is its compatibility with elemental pop up. Please add this feature if possible.

thank you!

[2022-06-08 21:32] rquirola commented on #2621
+1

[2022-06-08 21:55] mehdimoradi1500 commented on #5474
👍👍👍

[2022-06-08 22:09] websightsrus commented on #1657
Would love if the ability to show the distance from the searched address to the result was possible.

Thank you!

[2022-06-09 08:32] Floydtm commented on #5472
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-06-09 08:32] #5472 closed, assigned to nobody

[2022-06-09 08:54] MjHead commented on #4420
Implemented with addon - https://github.com/RagnarLodbrok94/jet-engine-list-counter-callback

[2022-06-09 08:54] #4420 closed, assigned to nobody

[2022-06-09 14:16] BlueteraLLC commented on #2701
I agree.  This should be an option.

[2022-06-09 14:17] BlueteraLLC commented on #2452
I would like to see this too.

[2022-06-09 14:29] BlueteraLLC opened #5475 "JetBooking: Advanced Prices should not be overridden by Weekend Prices"
It has come to my attention that in JetBooking, the Advanced Pricing settings are being overridden by the Weekend Prices.  In other words, I have set up multi-day discounts in Advanced Prices (7 days = $140 per night).  I have Weekend Rates set as Mon - Th $175 and Fr - Sun $200.  So if someone books a 2 night weekend, it would be $400.  If they book 7 nights it should be $980.

This is a common s

[2022-06-09 14:30] Matthew-Hillhouse commented on #1770
This is the ONE feature I absolutely would love. I use relations for clients ALL the time, but always run into a problem with clients wanting wanting to order items in a specific way that falls outside of the normal options. Being able to drag&drop order them in the relations field and then being able to show listing grid in that order would be a game changer for most of the sites I build. ACF has

[2022-06-09 14:34] BlueteraLLC opened #5476 "JetBooking: Simple option to require a booking deposit"
In JetBooking, it would be great if there was a simple option to set an amount for a required deposit.  One that can vary per unit rented.  I had to find a way to work around this feature not existing.  I had to create a second Woo product just for the rental deposit, then buy and install the Woo plugin "Force Sell".  That forces the rental deposit to be sold with each booking and allows it to app

[2022-06-09 14:39] blb48 commented on #4284
We're also using a hacky JS solution to fix SmartFilters (similar to #4514). These really need to be accessible out of the box.

[2022-06-09 14:40] BlueteraLLC opened #5477 "JetBooking: Allow percentage discounts on total booking order"
It would be great if we could set percentage discounts.  So if a customer books 7 days, we can set a 10% discount on the total booking amount.  Right now, we are forced to specify a dollar amount in the Advanced Pricing section.  Then every day has to have the same price.  Example: 7 days is $140 per night.  How about instead:  7 days is 10% off the pricing set for the Weekend Rates?  That would b

[2022-06-09 14:41] mbaierl commented on #3435
The same applies to JetTabs
File: jet-tabs/includes/rest-api/endpoints/elementor-template.php
Function: callback
The caching happens independent from the language.

[2022-06-09 15:25] MjHead commented on #5417
@madmaxpowermx Hi! We just uploaded beta3 version into account. Could you please check saving CCT with this version? We fixed similar issue in this version

[2022-06-09 15:26] MjHead commented on #5417
@MikaelaDeCub @brupao Hi! We just uploaded beta3 version into account. Could you please check markers applying?

[2022-06-09 15:27] MjHead commented on #5417
We'll check this

[2022-06-09 15:29] MjHead commented on #5417
You mean just animate an active marker while it in the active state?

[2022-06-09 15:48] Lonsdale201 commented on #5474
jQuery(document).ready(function ($) {
    $("#myclose").click(function (e) {

            jQuery(window).trigger({
                type: "jet-popup-close-trigger",
                popupData: {
                    popupId: "jet-popup-3475",
                },
            });
        });
    });

   Give an ID for your apply filter widget, or you can use css class of course too, and replace the popu

[2022-06-09 15:49] brupao commented on #5417
Eureka!! it's working now! :)
![image](https://user-images.githubusercontent.com/99042394/172890138-524c40f1-dd5e-4a67-8bf6-0da2b3f625c6.png)

[2022-06-09 15:59] Lonsdale201 commented on #5417
I checked on an inspect basis to see if I could make an example, but since I can't find any active classes for markers I can't make a sample. It would be similar to the hotspots (hotspot widgets). The active marker could be made more pronounced with a stronger animation to show exactly which one it is. This is really beneficial when there are quite a few close together within a given point. Since

[2022-06-09 16:01] MichaelaKubasova commented on #5417
Its working but it will be perfect if we can change color on different markers. But it working with user meta :)

[2022-06-09 16:12] blb48 commented on #4018
JetTab controls still don't seem to be keyboard accessible as of 2.1.17

[2022-06-09 16:49] petrovui commented on #5472
Solve this issue by installing back JetThemeCore. It resolves the problem. Maybe someone will find dat info usefull.

[2022-06-10 00:38] vladvaleanu commented on #1677
+1

[2022-06-10 00:40] vladvaleanu commented on #3420
+1

[2022-06-10 01:18] llucasramao commented on #2211
Up

[2022-06-10 03:30] JacobWonder opened #5478 "Twilio Integration (Appointments & Booking)"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2022-06-10 05:40] nreljed opened #5479 "[Jetengine Listing Grid] loading state + infinitescroll with scrollreveal"
![scroll](https://user-images.githubusercontent.com/82481592/172997756-d086c37c-1925-4cb3-b601-0478b6d4843f.gif)

[demo here](https://impreza12.us-themes.com/)

if only we could have a similar ["scrollreveal"](https://scrollrevealjs.org/) effect for our listing cards under jetengine and
a loading state for infinite scroll / loading more

[2022-06-10 08:46] Kettners opened #5480 "JetSmartFilter search in repeater meta field"
I can see there have been requeats like this 1½ year ago, with the reply that it has not high priority.

Therefor i will ask again, since 1½ year has gone, and we really could use this function, for JetEngine to fulfill our needs.

Make it posible for a JetmartFilter search to be able to search in a repeater text field.

Best regards
Karina, Denmark

[2022-06-10 09:07] LaxusCroco opened #5481 "Change the priority between advanced rates and weekend prices"
*Current problem*

I am using JetBooking. I have set up weekend rates and also the Advanced Rates for multiple-day discounts.  My expectation was that the Advanced Rates for multiple days should override the weekend rates, but that is not happening.  The weekend rates are overriding the Advanced Rates.

*What I expect*

Currently, we cannot use both weekend rates and multi-day discounts, which is

[2022-06-10 11:08] 79ho3ein opened #5482 "Order display price and sale price - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

hi

the sale price is above the original price by default : https://prnt.sc/-jy0GMmt9vlI
But it's great if you add a feature so we can change the sale price display location. [Up](https://prnt.sc/5rDSXQqYwQQS) or [down](https://prnt.sc/MYERDpBtV9ib).

**Also, if possible, please add the [margin](https://prnt.sc/9eLvSpwgQFpJ)

[2022-06-10 11:16] vladvaleanu commented on #1040
+1 it would be really helpful!

[2022-06-10 11:25] 79ho3ein opened #5483 "bug in product list widget - jet woobuilder"
**Describe the bug**
hi
I have reported this bug before. You checked this and apparently there was no problem for you. But it is strange that I experience this bug in all circumstances. Even by disabling all plugins (except elementor, jet woobuilder, wooCommerce)
So I will show this bug again with a video, please check it if possible. In fact, the problem is that there is a lot of empty space next

[2022-06-10 11:32] 79ho3ein opened #5484 "badges for product list widget - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

Badges cannot be displayed in the product list widget. This feature is very important. Please add it if possible. Just like the product grid widget : https://prnt.sc/44xKWWdyjpYx

thank you

[2022-06-10 11:55] #5236 closed, assigned to MakhonkoDenis, UraraReika

[2022-06-10 11:56] Crocoblock commented on #5236
Will be available in future updates

[2022-06-10 14:23] drumanshoo commented on #1775
I, too, would appreciate this feature. I do not know if the standard WordPress hooks still work with JetReviews. I found an article from Smashing Magazine (https://www.smashingmagazine.com/2012/05/adding-custom-fields-in-wordpress-comment-form/) which makes adding comments fields and storing comment meta pretty straight forward. I suspect that Crocoblock is storing data as comment meta but deviati

[2022-06-10 14:27] MjHead commented on #5246
Will be added with 2.11.11 update