[2022-03-16 11:49] ghost commented on #5020
I think you want to remove the Section Tab from the Theme Parts so as to be consistent with The Theme Content Type dropdown?

[2022-03-16 14:54] ahmedawais opened #5024 "Jetengine caught an error"
CRITICAL] : Uncaught Error: Class 'Jet_Engine_Dynamic_Tags_Module' not found in /home/website/html/wp-content/plugins/jet-engine/includes/modules/dynamic-visibility/inc/settings.php:168
The plugin can not be update because of this issue. Could you please help

[2022-03-16 15:49] UraraReika commented on #5000
This result ([link](https://tppr.me/RPImp)) on clean setup. If you have some orders list and you can check woocomerce reports about sells it's good, but this query took data from `total_sales` product meta field. So if you didn't delete any order or some kind modify orders or reports then `total_sales` = to reports and order data.

Although you should notice that each product has this meta data. T

[2022-03-16 18:59] asmarove commented on #2586
Hi all,

all you need to do is to add this code in your functions.php or using snippets: https://wordpress.org/plugins/code-snippets/

add_filter( 'wp_editor_settings', function($settings) {
  $settings['media_buttons']=true;
  return $settings;
});

[2022-03-16 19:16] 79ho3ein commented on #5000
oh , thank you alexander, It finally worked. I had two questions ...

As you said, I removed [this meta](https://prnt.sc/EJAhXtgL_Mo_) from all the products and it made this query work(Of course, I did this individually for all products).

1- Is there a way to remove total_sales from all products at once? So that it is not even created in new products? Because when we add a product in WooCommerce,

[2022-03-16 20:39] edgBlw opened #5025 "Please: Ban following symbols for user front end inputs"
the users are theoretically able to do things that they shouldn't be able to do...
I'd suggest, to disallow these guys: `<` `>` `[` `]` `%`
So that no html or shortcode will be rendered on places they don't belong to.

https://user-images.githubusercontent.com/101653721/158686624-605538da-aa8f-4430-8cf8-3f7861f72a41.mp4

[2022-03-17 03:09] ALPSIT commented on #221
Is there any progress on this issue @Crocoblock @Floydtm ?

Although I have lifetime license to your suite of plugins, let me tell you what my experience is like before I install your plugins and decide to use them.

I think twice before I install your plugins because I know it's going to cause alot of unwanted bloat. Example, I purchased Pro Elementor to use whatever I can of their widgets before

[2022-03-17 04:35] taidang26 opened #5026 "[JetEngine] Add icon field to Dynamic Repeater"
I see the dynamic repeater widget field is missing the icon field like other dynamic widgets. It's really inconvenient when other fields have it built in but dynamic repeater doesn't.
Can you add the icon field to the dynamic repeater in the next update?
Thank you.
![image](https://user-images.githubusercontent.com/89138954/158737645-d04006a1-176a-4951-bc90-292eed21f85e.png)
![image](https://user-

[2022-03-17 07:00] xtofr commented on #2586
Hi Salah, and thanks a thousand for the sharing !
May I ask a little bit more if possible ?
Now that I can insert an image, would it be possible to wrap text around ?
I tried to add more buttons with the same method but I'm definitely not good at php, actions and filters...
Merci encore et g'd day !

[2022-03-17 07:06] xtofr commented on #2586
example :
![wrap text](https://user-images.githubusercontent.com/24694134/158754972-a487744a-baed-4873-81de-b180f2f2ceef.png)

[2022-03-17 07:46] UraraReika commented on #5000
1 - Find some code that loops through the products and update this meta data.
2 - Everything should be fine.

[2022-03-17 08:01] aperojo commented on #4950
Yes please, we need this. The flexbox container is already present as experiment in Elementor Core Beta 3.6

[2022-03-17 08:02] 79ho3ein commented on #5000
thank you❤

[2022-03-17 08:26] asmarove commented on #2586
I will take another try

[2022-03-17 10:06] edgBlw opened #5027 "Remove filters button doesn't work properly"
If only the sorting filter is active, the remove all filters button currently don't shot up in this situation.
Please fix that.

[2022-03-17 10:49] Floydtm commented on #4851
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-17 10:49] #4851 closed, assigned to nobody

[2022-03-17 11:01] Floydtm commented on #4870
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-17 11:01] #4870 closed, assigned to nobody

[2022-03-17 12:23] Floydtm commented on #4841
At the moment, we do not plan to introduce such functionality into our plugin. Everything you see is custom made.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-17 12:23] #4841 closed, assigned to nobody

[2022-03-17 12:38] Floydtm commented on #4877
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-17 12:38] #4877 closed, assigned to nobody

[2022-03-17 12:43] Floydtm commented on #4879
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-17 12:43] #4879 closed, assigned to nobody

[2022-03-17 12:47] Floydtm commented on #4880
We checked everything and it seems that we do not see such a problem. https://prnt.sc/AcnCB4IS5SCV

[2022-03-17 12:47] #4880 closed, assigned to nobody

[2022-03-17 13:56] Floydtm commented on #4887
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-17 13:56] #4887 closed, assigned to nobody

[2022-03-17 13:59] Floydtm commented on #4890
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-17 13:59] #4890 closed, assigned to nobody

[2022-03-17 14:17] Fdiversos opened #5028 "At the moment, we do not plan to introduce such functionality into our plugin."
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

_Originally posted by @Floydtm in https://github.com/Crocoblock/suggestions/issues/4890#issuecomment-1070957132_

Hi Floyd,
Many Thanks for the reply at this hard ti

[2022-03-17 14:47] Floydtm commented on #4897
We've [checked](https://prnt.sc/IzR8YmtYNo7i) your request and can't get the bug. Please contact our support team to resolve this issue.

[2022-03-17 14:47] #4897 closed, assigned to nobody

[2022-03-17 17:40] JackobStuard opened #5029 "Jet Blog - Text Ticker widget style issue"
Hi

I have an issue with Jet Blog Text Ticker widget, on load have a very strange loading style, is possible to devs improve on load style?
On croco template demo there is also same issue https://crocoblock.com/design-templates/powedris/

![Screen Shot 2022-03-17 at 18 41 50](https://user-images.githubusercontent.com/40763985/158863116-3baa6621-af13-42b8-a695-b396177ef516.png)

[2022-03-17 20:38] damianrivadulla commented on #2181
Hi! I need that hook after the content is rendered. Is there some documentation?
This doesn't work, because don't inclue the search results.
Thanks

[2022-03-18 00:47] frussane commented on #1466
+1

[2022-03-18 04:45] kodeexii commented on #3654
Wondering if this has been dealt with.
A Tag Field block/widget that behaves like the Tag field in WP Post Editor would be nice.

Thank You.
:D :D :D

[2022-03-18 05:05] taidang26 opened #5030 "[JetSmartFilter] Date Range filter, Date Period Filter, Sorting Filter for Repeater Field Date"
I have created 1 Meta Field for "Event" CPT. It has a Repeater Field of type Date for events that can happen over several days and I'm having problems with the filter and sort.

Currently, JetSmartFilter is supporting Meta Date, but not yet supporting Date Repeater Field.

Please update it in the future.
![image](https://user-images.githubusercontent.com/89138954/158939224-b8a957e2-5539-49da-a66e-

[2022-03-18 07:43] #4900 closed, assigned to nobody

[2022-03-18 09:39] nolabelstudios commented on #2632
@rtpHarry I couldn't get your plugin to work. I didn't have any items in a repeater, set the display conditions to hide if nothing exists and it still showed up. What are the correct settings to set to hide a section if no items exist in a repeater field?

[2022-03-18 10:09] felixstuermer commented on #2676
Any update on that? Can we maybe help here in any way? @Crocoblock

[2022-03-18 10:22] Clicktoweb commented on #5020
Hi everyone.. testing your beta version of Themecore was a pleasure, and I think many people wish they could do more to help you in this difficult time.
Here are my feedbacks : I think you should resize the pop-up for conditions, as you can see in the screenshot  it goes under left sidebar.
<img width="1412" alt="Capture d’écran 2022-03-18 à 10 56 35" src="https://user-images.githubusercontent.c

[2022-03-18 10:25] Floydtm commented on #4916
What you described is the usual behavior of WordPress. Try using Query Builder

[2022-03-18 10:25] #4916 closed, assigned to nobody

[2022-03-18 11:27] Floydtm commented on #4091
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-18 11:27] #4091 closed, assigned to nobody

[2022-03-18 11:37] Floydtm commented on #4919
We are working on it, stay tuned

[2022-03-18 11:37] #4919 closed, assigned to nobody

[2022-03-18 11:45] #4920 closed, assigned to nobody

[2022-03-18 11:52] Floydtm commented on #4929
Set border width to 0

[2022-03-18 11:52] #4929 closed, assigned to nobody

[2022-03-18 12:46] Floydtm commented on #4938
All this can be implemented in forms right now using mathematical formulas. Contact our support team, they will help you with this

[2022-03-18 12:46] #4938 closed, assigned to nobody

[2022-03-18 12:56] Floydtm commented on #4939
Set up your search filter like this https://prnt.sc/qzYJPmXReltj

[2022-03-18 13:04] 79ho3ein commented on #5000
Another item about prev & next arrows. Of course, if I am not mistaken, I had reported it before ...
Anyway, there is no border color option in the prev & next arrows section : https://prnt.sc/nb-2_DCCrg_6
This is not related to this version. I just wanted to report.

[2022-03-18 13:13] Floydtm commented on #4942
Use Customize field output for this case https://prnt.sc/PfxA0MeMghdk

[2022-03-18 13:13] #4942 closed, assigned to nobody

[2022-03-18 13:17] Floydtm commented on #4944
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-18 13:17] #4944 closed, assigned to nobody

[2022-03-18 13:18] #4361 closed, assigned to Gawuww

[2022-03-18 13:19] Floydtm commented on #4947
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-18 13:19] #4947 closed, assigned to nobody

[2022-03-18 13:21] Floydtm commented on #4949
This is not a bug

[2022-03-18 13:21] #4949 closed, assigned to nobody

[2022-03-18 13:36] 79ho3ein commented on #4337
duplicate of #3926

[2022-03-18 13:36] #4337 closed, assigned to SargasTM

[2022-03-18 13:53] Floydtm commented on #4951
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-18 13:53] #4951 closed, assigned to nobody

[2022-03-18 13:54] Floydtm commented on #4953
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-18 13:54] #4953 closed, assigned to nobody

[2022-03-18 13:54] Floydtm commented on #4954
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-18 13:54] #4954 closed, assigned to nobody

[2022-03-18 14:06] Floydtm commented on #4956
Perhaps your filters are configured differently. Please contact our support team to resolve this issue.

[2022-03-18 14:06] #4956 closed, assigned to nobody

[2022-03-18 14:10] Floydtm commented on #4957
Use the following options, for example  https://prnt.sc/oxD8p9Ni_4CM

[2022-03-18 14:10] #4957 closed, assigned to nobody

[2022-03-18 15:24] rtpHarry commented on #2632
Sorry, that's not what my plugin does.

My plugin is for when you are building JetEngine "listings" templates.

When you want to display the contents of a repeater, you set up a listing template for it.

So the concept is that when you are building that single template, which is repeated once for every "row" of the repeater, you could only the Dynamic user controls to display the repeater data. Fo

[2022-03-18 15:28] Floydtm commented on #4960
https://demo.crocoblock.com/balirento/properties/ocean-star-luxury-cottage/ You can do it all with forms.

[2022-03-18 15:28] #4960 closed, assigned to nobody

[2022-03-18 15:31] Floydtm commented on #4962
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-18 15:31] #4962 closed, assigned to nobody

[2022-03-18 15:48] rtpHarry commented on #2632
I just looked into this a bit further. Couldn't you just use this option on the Listing Grid if you are trying to display a repeater that is empty?

<img width="315" alt="image" src="https://user-images.githubusercontent.com/1038062/159036287-978204b8-4dd3-4a9c-9672-286cdf13875a.png">

[2022-03-18 16:11] Nelmedia commented on #4939
Well, I have created a ticket to Crocoblock about that and the solution you propose doesn't work...

I have already tried title, the_title, post_title and so on and nothing worked. So I wrote to support that told me THERE IS NO WAY currently of doing it, hence why they told me to ask it here as a new feature to be able to do it. So, please check your solution before submitting a solution that we a

[2022-03-18 18:07] EscaleCommunication commented on #1657
+1

[2022-03-18 19:26] Floydtm commented on #4967
Thanks for the support. We will consider your proposal, however, you should understand that this cannot be implemented in a short time. Thank you!

[2022-03-18 19:46] Floydtm commented on #4973
Thank you!

[2022-03-18 19:46] #4973 closed, assigned to nobody

[2022-03-18 20:03] Floydtm commented on #4976
Please, note, that the feature requests can be accepted and processed only if they’re written in English.

[2022-03-18 20:03] #4976 closed, assigned to nobody

[2022-03-18 20:10] Floydtm commented on #4848
I understand that this may cause you inconvenience. However, please understand that there are some things that we cannot fix. Our edits may affect backward compatibility.

[2022-03-18 20:19] 79ho3ein commented on #4848
Yes, I fully understand. thanks for your response.

[2022-03-18 20:43] Floydtm commented on #4970
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-18 20:43] #4970 closed, assigned to nobody

[2022-03-19 01:36] CarrnellTech commented on #2647
+1

[2022-03-19 10:06] Lonsdale201 opened #5031 "Data Store button bug"
Looks like, the Data Store button not working with the Reload listing grid on success function, when removing item.
Store type: Cookie

JE: 2.11.5

[2022-03-19 10:26] mikraxx commented on #1953
Thanks @uriklar that just solved my problem too. But I keep wondering why is happening, I might open a ticket in Crocoblock support forum and let you know :)

[2022-03-19 14:39] Michaelgimii opened #5032 "Ability to disable the navigation display in the product grid widget"
I use the product network widget to display the carousel of my products. This widget is powerful in every way, but I have a problem with it.
I do not want the navigation points to be displayed on the desktop. But be displayed on tablets and mobiles. Unfortunately, I can not have such a thing now. Because if I turn off the navigation option, it will also turn off for tablets and mobiles. I think ad

[2022-03-19 15:23] xC4M opened #5033 "Disable not used Widgets"
Hi Team,

It'd awesome if you add a feature which detect used widgets and disable those that aren't being used on the website in order to avoid the website overload. https://prnt.sc/NVjL5AABtVyg

[2022-03-19 16:03] xC4M commented on #3854
@rtpHarry It works for me, but the zero (0) appears while the website is loading at the beginning https://prnt.sc/U0BoMCKJSdBV , but after some seconds it hides. Did you find a way to avoid this situation?, I tried setting it to <head>, but it doesn't work.

[2022-03-19 16:43] 79ho3ein commented on #5033
For which plugin?

[2022-03-19 16:47] xC4M commented on #5033
@79ho3ein I meant... in the JetPlugins Settings section every Plugin that have Widgets & Extensions you can disable them manually, but it'd be great if they could be disabled automatically if there aren't being used in the website design.

[2022-03-19 16:54] 79ho3ein commented on #5033
It's a good idea, but I think it's a bit irrational. Suppose you are installing the plugin for the first time, no widget will be enabled. Because we have not used them. Why didn't we use them? Because we have just installed the plugin. I am wrong?

[2022-03-19 17:47] xC4M commented on #5033
@79ho3ein Well, taking this situation that you're referring... It could be a button which we could enable to autodetect those unused widgets on the website and then being disabled automatically. It's not irrational... because the plugin can be installed and its options as a normal, but the feature that I'm requesting can be added as a optional's button in the JetPlugins Settings.

[2022-03-19 19:04] glorpyz opened #5034 "Set background-image-size"
I would love if Crocoblock would make a function so you can set image size on background images.
Example:

- We upload image, it get copied in different sizes.
- We start create a loop template in Elementor Pro.
- And make a 250x250px column and choose an dynamic background-image and set it center center, cover.
= It will display the full size image in a 250x250 column.

This is unnecessary file t

[2022-03-19 19:28] 79ho3ein commented on #5000
hi again
I'm still in version 1.11.4 and there is a problem displaying shadows in the Categories Grid widget. If we shade the category tumbnail in the Categories Grid widget, the shadow will not be displayed properly. In fact, no shadows are displayed from the top, bottom, left and right of the image : https://prnt.sc/ohBXQ8pNPtIE

[2022-03-20 10:12] petrovui opened #5035 "JetWooBuilder Products Grid Switcher / Product Loop Load More"
Pruducts Grid widget got many settings, Product Loop got none. But in Product Loop widget there is a view Switcher, which can switch product view from grid to list. Products Grid widget must have same functions. And same goes to Product Loop widget which have no Load More Add-on.

In modern webstores there is a Switcher / Pagination / Load More / Filters always. Can we make it happen with only one

[2022-03-20 10:44] Floydtm commented on #4995
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-20 10:44] #4995 closed, assigned to nobody

[2022-03-20 10:47] Floydtm commented on #4997
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-20 10:47] #4997 closed, assigned to nobody

[2022-03-20 11:21] Floydtm commented on #5001
To resolve this issue, please contact our support team and provide details to the site admin panel

[2022-03-20 11:21] #5001 closed, assigned to nobody

[2022-03-20 11:51] Floydtm commented on #5011
At the moment you can use this [plugin](https://wordpress.org/plugins/intuitive-custom-post-order/)

[2022-03-20 11:51] #5011 closed, assigned to nobody

[2022-03-20 12:16] Floydtm commented on #5013
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-20 12:16] #5013 closed, assigned to nobody

[2022-03-20 12:21] Floydtm commented on #5016
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-20 12:21] #5016 closed, assigned to nobody

[2022-03-20 12:22] Floydtm commented on #5018
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-20 12:22] #5018 closed, assigned to nobody

[2022-03-20 12:27] Floydtm commented on #5019
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-20 12:27] #5019 closed, assigned to nobody

[2022-03-20 12:37] Floydtm commented on #5024
Contact our support team, the guys will help you solve the problem. Thank you!

[2022-03-20 12:37] #5024 closed, assigned to nobody

[2022-03-20 12:40] Floydtm commented on #5025
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-20 12:40] #5025 closed, assigned to nobody

[2022-03-20 15:28] rtpHarry commented on #3854
Hmm, I'm not sure.

You could try finding the css class that is controlled by the script, and setting that to `display: none;` as the script will override its display at page load.

I'm not sure about the exact class, you would need to track down what I was referencing when I wrote the `$valNode.parent()` - just look at the parent of the `.jet-blocks-cart__count-val` in your site.

Or you could en

[2022-03-20 17:41] wdcampbell3 opened #5036 "Popup Action button dynamic link"
I am surprised that Popup Action Button widget doesn't give the opportunity to add a DYNAMIC link option - only static links. It would be nice to be able to select a dynamic value from the page's custom meta fields, or meta from an options page field :)
THANKS!

[2022-03-20 18:56] PDA77HU opened #5037 "NaN value, JetSmartFilters problem"
**Describe the bug**

Hi, I am using WPML + Elementor Pro + Crocoblock plugins and I have an issue. With the original language everything works fine, but when I try to change the language, I can see that it download the products, but also applies a filter which was not requested by me. It makes a JetSmartFilter Action, and set the price rage to NaN _ NaN so it will show only the product without pr

[2022-03-20 19:06] PDA77HU opened #5038 "JetSmartFilters cant query the second currency"
**Describe the bug**

I am using JetSmartFilters and _price tag to query the price of the products. And I am trying to use a language switcher plugin, I tried WPML, and other multi-currency switching plugins but all was the same at the end.

The problem is: the jetsmartfilters can only query and show the default price, and even when the page language and currency change, the price range filter sta

[2022-03-20 19:47] brupao commented on #2833
+1

[2022-03-21 07:36] UraraReika commented on #5032
Hello @Michaelgimii !

This is not the case in this situation. Most slider options handle in JS with Swiper Carousel Library and we can't put some options to breakpoint system. So in this case you can just make font of point `0` in [desktop](https://tppr.me/mkmvD) and actual size in [tablet](https://tppr.me/vpMbT) and mobile.

[2022-03-21 07:36] #5032 closed, assigned to nobody

[2022-03-21 09:43] 79ho3ein commented on #5000
If you install the jet compare & wishlist plugin, a small problem will occur in the product grid widget settings UI. https://prnt.sc/GW7dTi4d-kQ-

[2022-03-21 10:20] UraraReika commented on #5000
This issue exist in 1.11.4 plugin version as well. This is basically not an issue because it was like this always in case of presets functionality. To avoid this behaviour use [margin control](https://tppr.me/y6sIH).

We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team.

Thank you!

[2022-03-21 11:40] 79ho3ein commented on #5000
oh thank you. I'm still in 1.11.4 and that's why I experienced this problem.

In this case, it is strange that this problem does not exist for you. Of course, this is not a special case. The only thing is that the two controls for the jet compre plugin are attached to their top separator.https://prnt.sc/eVEwsGQcdb9E
While it should not stick : https://prnt.sc/W6sLWS0IyMqI

**active plugins**
eleme

[2022-03-21 12:01] 79ho3ein opened #5039 "shimmer loading for product grid / list & category grid widget - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

Today I was working for the first time with the load mode plugin (jet woobuilder) which had a great feature. Before more products were loaded, there was a beautiful preview of them : https://prnt.sc/5B71yb3A0Skd
This feature is really great. **Please add this feature to product grid / list & category grid widgets if possible

[2022-03-21 12:14] 79ho3ein commented on #3421
hi @Floydtm

I had a suggestion for this. It will definitely be difficult and even difficult to implement a spinner to load the products. But there is a much easier and even more beautiful way. I think it is better to use [shimmer](https://prnt.sc/LDb0B2F4RNMD) to load products after selecting filters. Please watch the video below :

https://user-images.githubusercontent.com/77163248/159258387-97a

[2022-03-21 12:51] Floydtm commented on #5030
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-21 12:51] #5030 closed, assigned to nobody

[2022-03-21 12:51] pegujurado opened #5040 "JetFormBuilder Default Value CCT other user"
The Default Value of a current CCT from a different author does not work in JetFormBuilder. In form (Legacy) it worked. This function is very important since I am creating a multi-user platform and I need different users to be able to modify the same CCT via form. Thanks

[2022-03-21 15:16] LaxusCroco opened #5041 "Data Stores: Working with posts saved by not logged-in users"
I would like to pull the post titles from the Data Stores of the not logged-in users into the form. With this also the visitors would be able to send their "Favorites" list in a contact form to us.
But visitors shouldn't log in (register) for sending their list.

[2022-03-21 15:30] ghost opened #5042 "Jetengine not working with new Elementor 3.6"
Hi guys

Elementor 3.6 just came out https://github.com/elementor/elementor/releases/tag/v3.6.0 and if you use the new flexbox container it doesn't work with Jetengine.

[2022-03-21 15:42] schndr-cdn commented on #5041
<3 it's a key feature for the Data Stores! +1

[2022-03-21 16:30] Floydtm commented on #5027
This is not a bug, this filter behavior is correct. If any other filter is still active, then when reset, it will work

[2022-03-21 16:30] #5027 closed, assigned to nobody

[2022-03-21 17:16] Floydtm commented on #4939
You are right, I confused with CCT

[2022-03-21 17:57] hamed-azimi opened #5043 "Translate Form Fields of JetFormBuilder by WPML"
Currently, we can make the Forms created by JetFormBuilder translatable from WPML's settings.

When we do that, we will have the option to add translations to all the languages of the website.

The problem is: when you start to translate a form, you can only translate the form's title, and literally nothing else (fields, headings, fields' title and placeholder and description and anything else add

[2022-03-21 19:02] Floydtm commented on #5034
I think you'd better leave it [here](https://github.com/elementor/elementor/issues)

[2022-03-21 19:02] #5034 closed, assigned to nobody

[2022-03-21 19:41] Floydtm commented on #2833
Let's discuss this question again. You must understand that WordPress has a default search results page. And all search queries will be redirected to this page. I can suggest you to make a custom search results page using jetthemecore plugin. You can place whatever you want on it. Let me know if this helps you. Thank you!

[2022-03-21 20:20] Floydtm commented on #5042
We will definitely make compatibility with the new version of the plugin. However, you should have noticed that the [alpha](https://prnt.sc/Qb_mVQ3d7Pgu) status, there will still be edits from the very developers of the elementor

[2022-03-21 20:20] #5042 closed, assigned to nobody

[2022-03-21 20:24] Floydtm commented on #5040
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-03-21 20:35] petrovui opened #5044 "JetWooBuilder Products Grid / Product Loop Lazy Loading"
Products Grid & Product Loop must have lazy loading feature. Not for the images. For products.

Best illustration for how it must work is a GridBuilderWP Plugin (https://demos.wpgridbuilder.com/, https://demos.wpgridbuilder.com/portfolio/), it would be really cool if products can be loaded with different animations depending of screen position same as any elementor widget can be configured in "adv

[2022-03-21 20:45] Floydtm commented on #5042
I understand you. This is your choice

[2022-03-21 20:46] mindingear commented on #837
Definitely +1 for that.

[2022-03-21 21:21] heisenberg0924 opened #5045 "Capability Type other than post in JetEngine Custom post type bug"
If I set any Capability Type other than post, in JetEngine Custom post type, I can't publish any post in that CPT.
![1](https://user-images.githubusercontent.com/79441248/159365801-fd31d28e-018d-45ab-b07b-4f7d8eba844f.png)
![2](https://user-images.githubusercontent.com/79441248/159365803-13af2b92-5691-4d6f-bbb0-75322ba3018e.png)

[2022-03-22 01:13] futureyoon commented on #2745
+1

[2022-03-22 01:16] futureyoon commented on #2841
+1 experiencing the same issue. it doesnt adjust to local time

[2022-03-22 02:59] nreljed opened #5046 "[🐛Jetformbuilder] `select` impossible to select the placeholder after the first click"
By correctly placing 3  Select Field> Terms (status , type and city)

and despite having checked and placed a placeholder text (select...)
I can't select them (placeholder) by default after the first click.

something is forcing me to do only the available choices.

![select](https://user-images.githubusercontent.com/82481592/159398380-bed897e7-5216-40b3-b1f6-d8f36eff66fa.gif)

**Jetengine forms**

[2022-03-22 03:42] taidang26 commented on #5026
Please add the icon adjustment before or after the label too. For all other dynamic field widgets
![image](https://user-images.githubusercontent.com/89138954/159403264-67f18f01-81c1-471e-9596-35ea28055135.png)

[2022-03-22 06:24] ebatycki commented on #2418
Just curious if this happened or is it still in the works?

[2022-03-22 06:50] UraraReika commented on #5044
I merged this issue with [#4987](https://github.com/Crocoblock/suggestions/issues/4987), which is on the same subject so we could deal with it more efficiently.

[2022-03-22 06:50] #5044 closed, assigned to nobody

[2022-03-22 08:48] Floydtm commented on #5045
Please study these tutorials https://crocoblock.com/knowledge-base/articles/how-to-create-a-custom-post-type-based-on-jetengine-plugin/#title5 https://wordpress.org/support/article/roles-and-capabilities/

[2022-03-22 08:48] #5045 closed, assigned to nobody

[2022-03-22 08:48] SargasTM commented on #2181
After rendering content hook

$(document).on( 'jet-filter-content-rendered', function ( evt, $provider, filterData, providerName, queryId ) {  } );

Arguments
evt - is just an event
$provider - jQuery provider select
filterData - provider group filter object
providerName - provider name
queryId - provider ID

[2022-03-22 08:48] #2181 closed, assigned to nobody

[2022-03-22 09:59] 79ho3ein opened #5047 "jet woobuilder load more plugin."
**Please, describe the feature request, making it clear to understand.**

The load more plugin is great. You mentioned earlier that it will be added to the jet woobuilder core soon. So I had a suggestion for this great feature, please check if possible ...

in jet woobuilder Load more , When we click the button to load more products, there is no [loading](https://prnt.sc/76OBJWLfMWzj) on the butto

[2022-03-22 13:05] LaxusCroco opened #5048 "Circle Progress Not Recognizing Query Results Count"
As of now, the Circle Progress widget does not work with the Query Results Count dynamic tag (https://prnt.sc/DoBZfuxjEzpI).
Would be great to have that query count work in all kinds of progress bars.

[2022-03-22 14:22] x3mp opened #5049 "Allowing Step by Step filtering with JetFormBuilder and JetSmartFilters"
I'd love to see support for JetSmartFilters added in the JetFormBuilder. This would allow people to create step by step filtering options. This is already partly possible with the current state of the plugin, only when it comes to filtering things don't go as planned.

You can see an exampIe of what I mean here:
https://dev.pctoppers.nl/keuzehulp/

This is a feature that could be used on many diff

[2022-03-22 14:30] brjmichael commented on #4942
Perfect!  Is there a possibility to display more than one variable in a Dynamic Field (or otherwise) and display in Custom Field Output?  Example: `%s%`, `%field2%`, `%field3%`.

 Thank you!

[2022-03-22 15:43] Lonsdale201 commented on #2956
Temporary solution(working example only if you have popup opening trigger element:

Give a class name, which button, or element trigger your popup to open it. In my case i using a data store button with popup to make a simple notification
![image](https://user-images.githubusercontent.com/23199033/159521242-760f7ea9-7800-4a2b-933d-8fbdd9784810.png)

Search your popup id
![image](https://user-image

[2022-03-22 16:12] Floydtm commented on #4942
You can display several dynamic fields and create your own design

[2022-03-22 16:35] ghost commented on #2418
same here

[2022-03-22 16:36] 79ho3ein opened #5050 "search filter bug - jet smart filters."
**Describe the bug**

If we enable the search feature in visual filters, checkboxes and radio filters, there is a bug.

The problem is that we have two buttons to clear the text written in the search box, which has completely destroyed the UI. Please see this image : https://prnt.sc/GeEd4Ia2CKdu

In fact, the delete button (blue) should be removed because its color and size can not be customized.

[2022-03-22 16:40] brjmichael commented on #4942
I understand.  How is it possible to define multiple variables from different Meta Fields in a single custom output?

I use the term `%s` to display a specific Meta Field.  How can I set several different variables in a single output?

Thank you for your dedication. **:)**

[2022-03-22 16:59] 79ho3ein opened #5051 "Custom icon and push mode for filters > Additional settings > DropDown."
**Please, describe the feature request, making it clear to understand.**

**Custom icon**
Please add the ability to insert a custom icon to the filters > Additional settings >  DopDown  section. https://prnt.sc/fA58pgUwRNfp
This is really great and important and greatly improves the user interface. In fact, there is a need to insert 2 icons. Before Drop Down opens, after Drop Down opens.

**push m

[2022-03-22 17:54] nreljed opened #5052 "[Jetengine] hide wp-login from bots 🤖🤖🤖"
![login](https://user-images.githubusercontent.com/82481592/159544008-a7220966-77cb-4efb-87b6-5a7decfba2f9.png)

maybe [I explain it](https://github.com/Crocoblock/suggestions/issues/4097) badly or I did not understand how to deactivate it ?

but I would really like to regain control of my wordpress and hide **wp-login and wp-admin** with the Security plugins that allow it.
If only I have a way to

[2022-03-22 18:10] Floydtm commented on #4942
You cannot use multiple variables

[2022-03-22 18:42] stavroscha commented on #5008
Just wondering why the specific tickets are never been looked no matter if i updated them or included some more information. I can totally understand the situation in your country and the war that is going on but i can see that you are active with other tickets. But from what i realize, you are going by preference. You are choosing things you want to add in your plugins and not what works for cust

[2022-03-22 18:44] stavroscha commented on #5007
And yes as i suggested many times up till now, you better look at what Bookly plugin does and all the extensions they are releasing to get ideas of what functionalities you need to add to bring more customers and mainly companies in as well as individual users.

[2022-03-22 18:44] stavroscha commented on #5008
And yes as i suggested many times up till now, you better look at what Bookly plugin does and all the extensions they are releasing to get ideas of what functionalities you need to add to bring more customers and mainly companies in as well as individual users.

[2022-03-22 19:07] x3mp opened #5053 "Show the discounted percentage using a simple calculation."
After contacting the support I found out that this is something currently not in CrocoBlock. When using the Dynamic Field you're presented with the option to pull the Regular Price and the Sale price but not the amount of % saved.

This can be easily achieved by a calculation, but this too is not possible so its currently a dead end.

Let's say the regular price of an article is 20 euros. The sale

[2022-03-22 20:20] Michaelgimii opened #5054 "Problem choosing template for jet woobuilder products"
https://prnt.sc/mSHvcJPVnMfT
Every time I add a product to the website, I have to select the jet woobuilder template from the product page section. This is really painful. Why should it be like this? We have to do this for each product. If we do not, the product page will be displayed completely corrupted. Is it possible to correct this? In such a way that we only once determine in what template t

[2022-03-22 20:22] Michaelgimii commented on #3146
@Floydtm , Are you aware of this?

[2022-03-22 22:54] petrovui commented on #4987
Just to make it clear. There must be lazy loading of products, not widget or images.

[2022-03-23 02:29] nreljed opened #5055 "[Jetformbuilder] Media Field no longer possible to change the order of the images"
I use preciously this code given by kaskad88

[code]

I use it to define the first image in the gallery as a featured image.
with jetengine forms it works fine.

but now i'm using jetformbuilder and i lost this ability for some reason i don't know.

![154083181-fefd2084-5f4b-41ad-94f5-5e085893d15f](https://user-images.githubusercontent.com/82481592/159611166-c11f716a-bfdc-4de1-9bff-443c507eae3f.gi

[2022-03-23 03:17] flymotion opened #5056 "Export Jet Engine CCT"
Please provide features to export and import Jet Engine CCT, such as Export and Import JetEngine Skin.

[2022-03-23 03:27] flymotion opened #5057 "Generate JetFrom to PDF"
Please provide a feature to generate from from JetFrom to PDF, just like fluentfrom. I hope my request is accepted.

[2022-03-23 04:41] hamed-azimi opened #5058 "Checking Related Item's Custom Fields in Dynamic Visibility Conditions"
I created a CPT called "Shipping Restrictions" and added a Relation between that and the Products.

Each "Shipping Restriction" has many Meta Fields one of which is Countries.

On the product page, I want to display the "Add to cart" and the "Price" if the Product's Related Shipping Restriction's Country Field contains the User's Shipping Country.

Currently, this is not possible, because Dynamic

[2022-03-23 07:06] UraraReika commented on #5054
I merged this issue with [#4450](https://github.com/Crocoblock/suggestions/issues/4450), which is on the same subject so we could deal with it more efficiently.

[2022-03-23 07:06] #5054 closed, assigned to nobody

[2022-03-23 08:07] Floydtm commented on #3146
as far as I know this bug is written in another issue and will be fixed

[2022-03-23 08:37] 79ho3ein commented on #5039
Hi @UraraReika, Please check this if possible. Thank you!

[2022-03-23 09:39] Floydtm commented on #5057
#3545

[2022-03-23 09:39] #5057 closed, assigned to nobody

[2022-03-23 10:28] brupao commented on #1151
+1

[2022-03-23 13:37] Paul-Heron opened #5059 "Jet Engine - Query builder allow SQL query joins on joined tables not just base table"
The SQL query builder allows you to add multiple joins on tables, but the join table condition must use a value from 'Is equal to base table column' which, unless I'm missing something, does not allow for more complex relationships to be queried properly.

Ideally, you should be able to choose a value from the previous join not just the base table so that you can correctly join the tables using th

[2022-03-23 15:29] ghost commented on #764
So is this still "pending" since 2019? JetMenu now has this revamped version, and still can't select from the ton of icons that are ALREADY included in Elementor?

[2022-03-23 15:42] 79ho3ein commented on #5000
hi
Version 3.6 elementor has been released and there is little interference with jet woobuilder. (product grid widget)
Of course, this bug manifests itself when the elementor flex box is active and we use the product grid widget in a container. If we disable the flex box, there is no problem. (I have not seen any problems so far)
It should be noted that the elementor flex box is in trial mode (but

[2022-03-23 16:24] DJAZZDESIGN opened #5060 "Jet Engine map doesn't work"
When we click on an icon on the map, the boxes linked with Listing don't open. We see only [object Object] and the icon to close the box and the black arrow.

To Reproduce
1. Go to https://microbrasserie.stpancrace.com/en/production/our-beers/beer-finder/
2. Click on an icon on the map to open any Sale point on the map to see normaly the information about Sale point
3. See error, the box linked to

[2022-03-23 16:32] UraraReika commented on #5000
Watch this issue https://github.com/Crocoblock/suggestions/issues/4725.

[2022-03-23 16:38] 79ho3ein commented on #5000
Another case ...

I display the product archive using the product grid widget. In addition, with the jet smart filters plugin, I filter products in the archive.
I tried to use the [code](https://prnt.sc/WlF_TFreZNUC) in product archive. So that if no product is found based on the desired filters, a custom "Product not found" message will be displayed. But it does not work and the desired template

[2022-03-23 16:41] UraraReika commented on #5000
Does it connected to this issue? If not please create new issue.

[2022-03-23 16:52] 79ho3ein commented on #5000
Oh right, I'm sorry. This had nothing to do with 1.12.1

[2022-03-23 16:57] DJAZZDESIGN commented on #5060
Finally, it's all the Crocoblock plugins that cause problems for the site. When I uninstall all Jet plugins, Elementor works again. Do you have any idea what is in conflict? Thanks for your help

[2022-03-23 17:05] Floydtm commented on #5060
It's hard for me to answer this. We checked everything on the latest versions of the plugins and everything seems to be working correctly https://prnt.sc/wpCAOlBD2ser Contact our support team to resolve your issue

[2022-03-23 17:12] Mrakhil299 commented on #1151
Is it available open street map like snap chat on crocoblock . I want a feature where all user of my website profile can be visiable live location like travel app on map. Is it possible to create

[2022-03-23 17:17] 79ho3ein opened #5061 "Bug in variable selection - jet woobuilder & elementor pro."
**Describe the bug**
After the release of pro 3.6 by elementor, a bug was created that when we open the tab or Accordion, the page jumps down a bit. This bug would occur if the header was sticky. This bug also affected the selection of the jet woobuilder variable. If you remember, it was mentioned earlier in [this issue](#4853) by another user.

https://user-images.githubusercontent.com/77163248/1

[2022-03-23 17:22] 79ho3ein opened #5062 "jet woobuilder Custom "not found message" bug."
**Describe the bug**

I display the product archive using the product grid widget. In addition, with the jet smart filters plugin, I filter products in the archive.
I tried to use the [code](https://prnt.sc/WlF_TFreZNUC) in product archive. So that if no product is found based on the desired filters, a custom "Product not found" message will be displayed. But it does not work and the desired templ

[2022-03-23 17:50] MikeLikesThat commented on #2599
Looks to have been added to V2.11.6 today but how I did this was to create another list with just the image and then add that listing grid inside of the main list. I was stumped too till I found I could "listception" data.

[2022-03-23 18:12] 79ho3ein commented on #5000
This bug is still present in 1.12.1 : https://prnt.sc/rrIcSYH0-c-J

[2022-03-23 18:14] otomasz commented on #2469
I would also need such a function. Consider this change

[2022-03-23 19:17] skhamilton opened #5063 "JetSmartFilters - Union lost when more than filter used (converts all to intersections)"
The wp-query between two filters with multiple tags selected does not follow the logic defined by the system.

Filter Setup:
1. Filter 1: Field
    Filter Type: Checkboxes list
    Data Source: Taxonomies
    Taxonomy: Tags
    Relational Operator: Union
2. Filter 2: Resource Type
    Filter Type: Checkboxes list
    Data Source: Taxonomies
    Taxonomy: Tags
    Relational Operator: Union

Steps

[2022-03-23 19:45] nreljed opened #5064 "` Jetsmartfilter` limit visible choices & accept parent and child"
![elements selected](https://user-images.githubusercontent.com/82481592/159780973-2c9887d5-694d-4b8f-af8d-03ac7a5da721.gif)
[source](https://demo04.houzez.co/)

As on the example of houzez we are really very close to doing the same thing
with jetsmartfilters we can already create a dropdown (radio or checkbox filter only) with a search and adjust some options.

it just lacks an option (limit choic

[2022-03-23 19:57] #5060 closed, assigned to nobody

[2022-03-24 00:04] jacktaffa opened #5065 "jet smart filters - DATA SOURCE META FIELD DOESN'T WORK"
Checkbox, select field etc doesn't work with this configuration for any meta field (with index filter or not)
![Schermata 2022-03-24 alle 00 58 37](https://user-images.githubusercontent.com/2649534/159815895-61371e3c-49f4-447d-8c63-301c08ef7c32.png)

THE ERROR FROM ERROR LOG
` WordPress errore sul database You have an error in your SQL syntax; check the manual that corresponds to your MariaDB serv

[2022-03-24 00:08] jacktaffa opened #5066 "Jetsmart filter "Has Meta" filter"
Add on checkbox  filter "has meta" as compare that allow to filter post that has a certain meta field key

[2022-03-24 02:57] petrovui opened #5067 "JetWooBuilder Product Grid how many products are shown switcher"
There must be an option to switch how many products are shown in grid. Sample: 15 / 30 / 45. And it must be customizable, such as 12 / 18 / 24 etc. And it must have settings to switch view from links (ajax) to dropdown. TY

[2022-03-24 06:54] emakx opened #5068 "Show JetEngine Forms Submissions in the Backend e.g. In Option Page"
Hello,

Thank you so much for the huge and amazing work you are doing, But I am quite surprised why you don't have to feature to show the form submissions in the WP Back end, something similar to Elementor Submissions.

Are there any plans to add this feature in the near future?

[2022-03-24 07:29] UraraReika commented on #5067
I merged this issue with [#4680](https://github.com/Crocoblock/suggestions/issues/4680), which is on the same subject so we could deal with it more efficiently.

[2022-03-24 07:29] #5067 closed, assigned to nobody

[2022-03-24 07:32] UraraReika commented on #5000
Forgot to change my comment. You need to handle this differently. With the help of WooCommerce options or with the help of JetEngine dynamic visibility. Please contact our support team they will help you. Thank you!

[2022-03-24 08:16] Floydtm commented on #5065
Duplicate the key in the Queri settings. Let me know if it helped you or not https://prnt.sc/LvW8ElFcC5Tf

[2022-03-24 08:26] #3724 closed, assigned to nobody

[2022-03-24 08:26] stavroscha commented on #3724
Issue has been resolved

[2022-03-24 10:17] stefanradu9 commented on #878
Amazing work, thank you!!

[2022-03-24 10:44] 79ho3ein commented on #5000
Is there no way to act like before? Because many users do not use conditional features at all. So they can not hide this section. I hope there is a way to solve it completely in the future. The bug is very annoying.
As for contacting support, I prefer not to disturb them in the current Ukrainian situation.
Anyway, thank you

[2022-03-24 11:41] jacktaffa commented on #5065
Nope.

![Schermata 2022-03-24 alle 12 13 34](https://user-images.githubusercontent.com/2649534/159904964-2dc05e5c-9527-4b6d-913f-b2984b5e3ad4.png)
![Schermata 2022-03-24 alle 12 13 49](https://user-images.githubusercontent.com/2649534/159904984-3077dc92-4873-48da-9660-93c8ff69ac06.png)
![Schermata 2022-03-24 alle 12 14 03](https://user-images.githubusercontent.com/2649534/159905003-c97e973e-9823-4

[2022-03-24 12:13] jacktaffa commented on #5065
This is the phpmyadmin window @Floydtm
![Schermata 2022-03-24 alle 13 13 01](https://user-images.githubusercontent.com/2649534/159913773-a2629594-f4b5-49a6-b02f-ddb835eeba91.png)

[2022-03-24 12:29] SargasTM commented on #4762
Я не понимаю, почему мы должны добавляться стилизацию состояния фокус для кнопок, если даже в стандартной кнопке елементора такого нету ???
![image](https://user-images.githubusercontent.com/5094971/159916337-9022a9b5-19db-4463-a7f0-a5f3c9b05d48.png)

[2022-03-24 12:30] #4762 closed, assigned to SargasTM

[2022-03-24 12:32] laurencealbano12 opened #5069 "JetEngine: Be able to also include current post from Listing Grid Post Query using the Related Siblings Child Object"
Can't include the current post when using Post Query Related Siblings > Child Object.

The behavior is it displays the related post types connected with one parent post but it will exclude the current post. Ideally, there should also be an option to also include the current post. Because right now, when I used the Query > related siblings. It will remove the current post on the listing grid.

![11

[2022-03-24 14:18] 79ho3ein opened #5070 "shimmer loading for product grid / list & category grid widget - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

Today I was working for the first time with the load mode plugin (jet woobuilder) which had a great feature. Before more products were loaded, there was a beautiful preview of them : https://prnt.sc/5B71yb3A0Skd
This feature is really great. **Please add this feature to product grid / list & category grid widgets if possible

[2022-03-24 14:18] #5039 closed, assigned to nobody

[2022-03-24 14:26] Floydtm commented on #5065
I understand that this is important to you, however, you need to contact our support team so that we can study this issue in detail and resolve it.

[2022-03-24 15:20] x3mp opened #5071 "JetBlocks Cart Widget style breaks on multiple pages."
**Describe the bug**
The style of the Cart widget completely breaks when on the My Account, Checkout or Cart page.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a product to the cart
2. Go to any of the said pages above.
3. Open the cart.

**Expected behavior**
The style should not break.

**Screenshots**
In this image the cart is working fine:
![image](https://user-images.githubuserco

[2022-03-24 16:00] #4875 closed, assigned to SargasTM

[2022-03-24 16:11] #4921 closed, assigned to MjHead, Gawuww

[2022-03-24 18:46] Floydtm commented on #5071
What theme are you using?

[2022-03-24 19:40] #4950 closed, assigned to kaskad88

[2022-03-24 19:40] #2599 closed, assigned to MjHead

[2022-03-25 01:19] nreljed opened #5072 "🐛🐛JetFormbuilder big bug after switching to elementor 3.6.1"
Confirmed Bug
JetFormbuilder lost ability to post and edit (insert/update post)

testing conditions :
- clean install Wordpress 5.9.2
- jetformbuilder 1.5.5
-  jetengine  2.11.6
- elementor 3.6.1
- elementor pro 3.6.4

open jetformbuilder create a simple post form
send

![Capture d’écran 2022-03-25 020900](https://user-images.githubusercontent.com/82481592/160035575-7e352b60-57be-4385-83b4-93168e6

[2022-03-25 08:11] x3mp commented on #5071
I'm using the Hello Theme for Elementor.

[2022-03-25 10:08] Michaelgimii commented on #4875
Excuse me, why did this issue close?

[2022-03-25 10:17] Michaelgimii commented on #4762
@SargasTM , I did not say add focus mode! Focus mode is now available on the Filler Search widget button and is very annoying.
I just asked you to delete it.
please See this image : https://prnt.sc/CuJJt91hdp5K

[2022-03-25 11:03] trofimartya commented on #941
+1

[2022-03-25 12:25] Floydtm commented on #4875
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-03-25 12:48] 79ho3ein commented on #4949
hi @Floydtm , That's right- this is not a bug. But is it normal to generate long links in search results?
I tested this in the elementor search widget and even on other websites but none of them created such a long link!
Am I wrong?

[2022-03-25 13:00] AnadarPro opened #5073 "JetFormBuilder: Add hooks/filters for dynamically populating select/radio/checklist"
It would be really helpful to be able to dynamically populate a dropdown when the form is loaded.  I've used this capability several times with other form builders, generally when the population is contextual (would have a WHERE clause in the query.)  A simple example might be to populate with Post Titles created by the current user but there are numerous use cases.

[2022-03-25 13:08] 79ho3ein commented on #5062
I had a suggestion regarding this issue ...

Currently, we only have [this section](https://prnt.sc/a-orUE1kJpRR) in the product grid widget, where the message "product not found" is displayed if there is no product.
But for example, if users want to write another message after using filters if there is no product. For example, the desired filter was not found!
But such a thing is not possible now

[2022-03-25 13:17] Floydtm commented on #5071
We checked everything again and can't get a bug on our side. Could you contact our support team to resolve this issue

[2022-03-25 13:17] #5071 closed, assigned to nobody

[2022-03-25 13:18] Floydtm commented on #5072
We checked everything again and can't get a bug on our side. Could you contact our support team to resolve this issue

[2022-03-25 13:18] #5072 closed, assigned to nobody

[2022-03-25 13:27] Michaelgimii opened #5074 "Possibility of alignment for counters in jet smart filters"
Counters now create very bad UI. https://prnt.sc/MWppqhKK3CPV
But there is no option to align them.
I want to move them to the other side. So that they are completely in one column. https://prnt.sc/fvbWfdccyneg
It is also great to apply background color & border radius to counters : https://prnt.sc/XAIQAx9ceXa9

These images are on the Crocoblock site, but not in the plugin! Please add this featur

[2022-03-25 13:37] Michaelgimii opened #5075 "Ability to insert a custom icon (tick) after selecting filters"
Please add the ability to insert a custom icon for the tick icon : https://prnt.sc/35X_OlQNS6bu
This symbol is required in checkbox, radio and visual filters.
Also in the visual widget > Color, if users select a filter, only the border will be colored. But there really should be no difference between a visual widget and a checkbox and radio. Please add a feature, which will check the desired filte

[2022-03-25 13:48] GoncaloSaMKT opened #5076 "Implement User Geolocation for things like Store Locator"
Hi everyone,

I've been building a website for a client of mine that owns a Franchise. As the business is expanding there are more and more locations opening.

I've been able to create a Map Listing that shows the various different locations added to the backend, but apparently there is currently no way for a user to filter the locations showing first the one that is closest to them, as any store

[2022-03-25 15:19] SargasTM commented on #4903
Перепроверьте

[2022-03-25 15:19] #4903 closed, assigned to SargasTM

[2022-03-25 15:24] edgBlw opened #5077 "JetEngine - Listing grid injections missing option"
It would be very helpful if we have a new option for the listing grid ijections extension settings. currently we oly can output a different template it its the Nth number of something or if the corresponding post has certain meta value. I miss the option that we can set shot this template is this post has certain terms/taxonomy(ies)

[2022-03-25 15:31] edgBlw opened #5078 "JetEngine - Custom Image size option"
Currently I use the elementor image module for displaying also dynamic media fields even if ifid the image module from you guys much more cooler and with more settings. but one big option is  missing. you should give us the option to set custom width, height and an object ratio/fit. This setting i really miss.

https://user-images.githubusercontent.com/101653721/160151695-ec326fb9-04ba-4c36-9f43-0

[2022-03-25 15:35] edgBlw opened #5079 "JetEngine - Profile Builder bugs"
I figured to little bug inside the profile builder system:

1. If you set templates that you connecteded to profile pages to canvas mode, it doesnt work. Heade rand footer on the live result still are visible.

2. 404 Errors aren't properly displayed. If you typing in an endpoint that doesnt exist, you don't get a 404 page but just an empty page.
Please fix these two things very soon.

Sincerely :

[2022-03-25 15:53] edgBlw opened #5080 "JetEngine Profile Builder Custom menu links"
Also currently we cant enter custom links inside the profile menu. It'd be great if can do so.
That in the profile option istead of a page, we can add our custom liks in the menu, like logout, external website...

[2022-03-25 16:06] SargasTM commented on #4912
In this situation scroll within scroll
Filters and popups use standard scrolls, how they behave depends only on the browser and device

[2022-03-25 16:06] #4912 closed, assigned to SargasTM

[2022-03-25 16:20] LevelUpGit opened #5081 "Extend JetEngine dynamic widget sources"
Extend JetEngine widget options:
Dynamic image, Dynamic link, and "Listing settings -> Link source" to use same source as in "Dynamic field" widget, "Post/Term/User/Object data" (see image 2). This is needed in order to fully utilize custom queries.

![Screenshot_6](https://user-images.githubusercontent.com/69863985/160160170-0288ad0b-8a5b-4471-b3e1-1111028b478f.jpg)
![Screenshot_7](https://user-i

[2022-03-25 17:28] Floydtm commented on #5050
Same problem with hello, blocksy, generate press, ocean wp themes https://prnt.sc/sKyXMq9K4zjH there is a suggestion replace this with svg load control

[2022-03-25 17:33] 79ho3ein commented on #5050
Thank you for your attention @Floydtm.
Will this be fixed in future versions?

[2022-03-25 17:34] Floydtm commented on #5075
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-25 17:34] #5075 closed, assigned to nobody

[2022-03-25 17:38] nreljed opened #5082 "🐛Jetformbuilder bug when redirect to page"
Hello ,
I Found the source of the bug
despite that @Floydtm said everything is fine 😅
here is how to reproduce the bug

a new wordpress installation all plugins up to date

- jetformbuilder 1.5.5
- jetengine 2.11.6
- elementor 3.6.1
- elementor pro 3.6.4
- make sure before that php_errors.log is empty

create from scratch

- an account page and new post form
- Use redirect to page in the form (to

[2022-03-25 17:51] Floydtm commented on #5082
I suggested that you contact the support to resolve your request. And I don't see anything wrong with that.

[2022-03-25 18:13] Floydtm commented on #5050
just stay tuned

[2022-03-25 18:15] 79ho3ein commented on #5050
Thank you @Floydtm

[2022-03-25 18:22] girafffee commented on #5082
Hi @nreljed!
Can you show the settings of your Redirect to Page action?

[2022-03-25 18:28] girafffee commented on #5073
Hi @SOCPilot , maybe you need these filters
- `jet-form-builder/render-choice/query-options/posts` for to edit arguments to the `get_posts` function
- `jet-form-builder/render-choice/query-options/terms` for to edit arguments to the `get_terms` function

[2022-03-25 18:32] girafffee commented on #5068
Hi @emakx, I will notify you when this feature is released. You can expect it soon ☺️

[2022-03-25 18:39] nreljed commented on #5082
@girafffee

Content redirect

![redirect](https://user-images.githubusercontent.com/82481592/160181025-624cc9da-56c5-4759-b34d-46b4dccbca0a.png)

Content account page

![elementor account](https://user-images.githubusercontent.com/82481592/160181066-32fc6a35-8f50-468f-a90e-7238bde91f52.png)

if it can help the content profile builder but nothing abnormal here

![account](https://user-images.github

[2022-03-25 19:39] girafffee commented on #5082
`add_filter( 'jet-form-builder/dev-mode/activate', '__return_true' );`

Place this filter in your theme's functions.php file. Next the requested form to submit via Ajax and once the request is done show all the contents of `__logger`

![image](https://user-images.githubusercontent.com/46720998/160189803-3f3cef27-c98e-4946-935e-e21fd9d2f8a6.png)

P.S. The error in my case is the absence of any acti

[2022-03-25 20:41] nreljed commented on #5082
I see that you are under Twenty Twenty-One I deleted hello theme to stay in the same test environment

![jetfom gif](https://user-images.githubusercontent.com/82481592/160197938-dee01f46-5d04-4e31-b2be-6dc49a5d57a6.gif)

all the contents of __logger

[code]

[2022-03-25 20:42] Michaelgimii opened #5083 "center mode for jet element slider widget & new navigation dots style."
Please add center mode to the slider widget. Really nice : https://prnt.sc/rnsz8C0ADAcU

It will also be great to be able to display navigation points centrally : https://prnt.sc/Tpf54sdXsQhn thanks.

[2022-03-25 20:46] edgBlw opened #5084 "JetEngine Dynamic visibility - proper implemetation/difference of not-exist and value="0""
I have following situation:
I have a meta field (type: number) where the users can enter how many employees they have.
I tried to have different widgets for different values, so that the word after it makes sence and has correct grammar.

**If nothing was chosen: (the user didn't filled in this particular information/data)**
I created a notice that has static text in it with "Not speficied" with d

[2022-03-25 20:49] edgBlw opened #5085 "JetEngine Profile builder - icons for nav link menu items"

[2022-03-25 22:33] nreljed commented on #5055
@girafffee
additional data
this ability exists if you create a post and while filling it (first upload of images)

![drag and drop](https://user-images.githubusercontent.com/82481592/160210465-13226f63-df41-44d5-ac6e-efae2f5745fc.gif)

once form saved and I try to edit form I lose this ability

![drag and drop fail](https://user-images.githubusercontent.com/82481592/160210586-4d1d8182-3665-4944-87

[2022-03-25 22:54] mehdimoradi1500 commented on #5015
+1
I have requested this feature with more details several months ago #4390
Its totally necessary for JetEngine, being able to add all kind of products from front-end forms
Please add these cool features soon @kaskad88  @Floydtm

[2022-03-26 08:30] mehdimoradi1500 commented on #5078
Yes exactly
That's why i use elementor image widget, it should be added

[2022-03-27 00:06] stapolin commented on #878
This is something I would love to see added too. I build directory websites, and being able to choose multiple categories/taxonomies in a select dropdown while adding or editing a listing from the frontend would be amazing.

[2022-03-27 02:33] Michaelgimii opened #5086 "Better performance for carousel in jet engine plugin"
The jet engine plugin is one of the most powerful menu element plugins. There is no doubt about it. But there is a very big weakness in the listing widget and it is strange that it has never been noticed ...
In the Listing widget, carousel performance is extremely poor. In general, there is a very high limit to the carousel of this widget.
If I want to point out a few things quickly: custom icons

[2022-03-27 02:42] Michaelgimii opened #5087 "better ui for jet smart filters - select filter."
The UI in this Widget is very weak : https://prnt.sc/0AkISj5zI8Hp
Please add a feature so we can customize the content of this widget. The current situation is not really good.

[2022-03-27 03:34] Michaelgimii opened #5088 "jet woobuilder title count"
In the product grid widget, I consider the title length on the desktop to be 15 words. In this case, the title is displayed in two lines. https://prnt.sc/8WMPV3uEz0s5
But if you see the mobile mode, the title is written in 3 lines or even 4 lines. (15 words have been inherited from the desktop) This is a big problem that I am facing ...
Can you add a responsive option to this section? To be able t

[2022-03-27 04:15] nreljed commented on #5080
the best example of what is possible with links and custom icons
here in example rankmath account page (it's just a WooCommerce account) but note the possibility of putting links and adjusting icons in a precise way

![demo](https://user-images.githubusercontent.com/82481592/160266288-88129237-89fc-4a68-aa2c-b8d086779984.gif)

Regarding the logout it is perhaps preferable to include it as an "add

[2022-03-27 10:05] fabio323ti commented on #2360
Please add that on Jetengine legacy form feature

[2022-03-27 14:53] 79ho3ein opened #5089 "shimmer loading for product grid / list & category grid widget - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

Today I was working for the first time with the load mode plugin (jet woobuilder) which had a great feature. Before more products were loaded, there was a beautiful preview of them : https://prnt.sc/5B71yb3A0Skd
This feature is really great. **Please add this feature to product grid / list & category grid widgets if possible

[2022-03-27 14:53] #5070 closed, assigned to nobody

[2022-03-27 17:52] azkalex commented on #4360
This is unreal, almost 6 months

[2022-03-27 19:31] alican532 commented on #5088
"Or, for example, a method that we can determine, the length of the title should not exceed two lines or one lines."
It would be great.

[2022-03-27 21:03] mehdimoradi1500 commented on #5089
+1 it will be great 😍

[2022-03-27 21:03] mehdimoradi1500 commented on #5086
+1

[2022-03-27 22:20] kellyrenee814 commented on #5026
Adding the icon capability be a dream come true :)

[2022-03-27 22:54] Michaelgimii opened #5090 "Ability to customize the clear text button in the Jet search plugin"
Please add the possibility of customizing the delete text button. https://prnt.sc/J7Mw3S1BVagV
There is currently no option to customize it. thanks

[2022-03-28 04:20] kalqlate opened #5091 "JetAppointment: Multiple Separate Calendars requested feature"
Firstly, SUPER GREAT JOB on ALL of your products AND support. Simply amazing! Kudos to ALL!

Regarding JetAppointment Plugin and the need for Multiple Separate Calendars:

I see that JetAppointment supports multiple providers, but chatting with your online support agent, I understand that it doesn't currently support multiple separate calendars.

My application is to have users reserve time for di

[2022-03-28 05:01] deepwaterpixel opened #5092 "Add WebP support to Media Control in JetEngine Interface Builder"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work; **No**
- if the feature is missing from the products. **Yes**

**Please, describe the feature request, making it clear to understand.**

WebP image previews in JetEngine's image and gallery fields currently show a blank because of a case statement miss and no def

[2022-03-28 07:42] UraraReika commented on #4986
Hello @martinjakse !

This issue is fixed. please update this [plugin](https://github.com/UraraReika/jet-woo-builder-products-grid-custom-fields).

[2022-03-28 07:42] #4986 closed, assigned to UraraReika

[2022-03-28 10:15] Michaelgimii commented on #3793
Is there any news about this feature?

[2022-03-28 11:04] #4936 closed, assigned to SargasTM

[2022-03-28 11:25] Michaelgimii commented on #4936
excuse me , Why did this issue close?

[2022-03-28 11:46] Floydtm commented on #5090
Same problem with hello, blocksy, generate press themes, there is a suggestion replace this with svg load control

[2022-03-28 11:55] SargasTM commented on #5037
Перепроверьте

[2022-03-28 11:55] #5037 closed, assigned to SargasTM

[2022-03-28 12:34] Michaelgimii opened #5093 "Automatic display of filters does not work well (jet smart filters)"
**Describe the bug**

If there is no product according to a filter in the product archive, the filter will be hidden. But in jet smart filters, the filter is not completely hidden!
I have a top border for each filter on my website : https://prnt.sc/dORdKbL0Ret8 **(In the advanced tab)**
But when the filters are automatically hidden, this border remains : https://prnt.sc/0hWOmIbZl9UH

**If you do n

[2022-03-28 12:47] Floydtm commented on #4903
@yxknmyo, We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-03-28 12:51] LaxusCroco opened #5094 "JetReviews: blocking users"
I would like to see the following features in the next updates of the JetReviews plugin:
1) The ability to blacklist/block reviews that contain specific words or phrases.
2) The ability to block multiple review submissions from the same IP.

[2022-03-28 14:03] Floydtm commented on #4936
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-03-28 15:08] arleenwebs opened #5095 "Remove ability to delete relations from control box."
Hi all,

I started working with the new relations introduced in JetEngine version 2.11.

I would like to be able to hide the delete button in the control box. Or only have it available on the parent. Or just get rid of it altogether.

![image](https://user-images.githubusercontent.com/93146954/160427799-012ba983-328e-4437-8b08-360fa4ed282d.png)

I know it can be hidden by assigning users lower per

[2022-03-28 15:11] 79ho3ein commented on #5088
#4948

[2022-03-28 15:51] GerardoZenteno opened #5096 "Prevent double click on Data Store Button"
Double clicking on a Jet Engine Data Store Button can increase the number of likes infinitely. This happens on both desktop and mobile devices. I have also noticed that several users have taken advantage of this bug to increase the likes of some posts and I really like to know how to fix it.

Note: I have set all my Data Stores as "Store Type = User Metadata".

https://user-images.githubuserconten

[2022-03-28 16:42] Michaelgimii commented on #4936
But I tested this bug in the new version (2.3.11) and it still exists!

[2022-03-28 16:48] UraraReika commented on #5088
I merged this issue with [#4948](https://github.com/Crocoblock/suggestions/issues/4948), which is on the same subject so we could deal with it more efficiently.

[2022-03-28 16:48] #5088 closed, assigned to UraraReika

[2022-03-28 17:17] Topicimes opened #5097 "JetSearch - Search with CPT metadata"
Hello,

It would be great if JetSearch could display results related to some meta data that come from post type: CPT.

Indeed, currently the search by meta data is not possible, but it uses the title of CPT.

For example, in my case this is a problem.

I explain: I have a title of any activity, for example: "Discovering the fauna of the Vanoise". This CPT is linked to a taxonomy: "Hiking".

Someon

[2022-03-28 17:24] zhapes commented on #2232
This it’s needed a long time ago, the date picker it’s horrible planned. the date pickers of the form and elementor widget search don’t match each with other, talking about User experience this is a complete mess. I buyed this plugin thinking after two years of begin launch it was to be better but not it’s a total mess omg.

[2022-03-28 17:54] mehdimoradi1500 commented on #5097
+1

[2022-03-28 18:20] #4776 closed, assigned to MakhonkoDenis

[2022-03-28 19:18] vogelmy commented on #3264
+1

[2022-03-28 21:47] SpaRexDz opened #5098 "[JetEngine] How to display child posts related to another child using listing grid?"
Hello, guys.

I'm trying to display child posts related to another child. I've tried everything I could but nothing.
I'm using a "many to many" relation. To make my question clear, I'm not trying to show child posts on the parent post, but child on child.

I appreciate any help.

[2022-03-29 00:58] 79ho3ein opened #5099 "bug in visual filter (select color), Jet smart filters plugin."
**Please, describe the feature request, making it clear to understand.**

When we select a color for the color filter, after opening the color panel, it is moved to the bottom row (does not remain in the third column) Please watch the video below :

https://user-images.githubusercontent.com/77163248/160511244-97142e6e-507e-4297-96ea-fce87b6ba091.mp4

In general, when choosing a name and color code

[2022-03-29 01:16] ghost commented on #4903
Appears to be working on my end now, too. Thank you both!

[2022-03-29 01:29] 79ho3ein opened #5100 "A suggestion for the color selection section of the filter - jet smart filters."
**Before adding a new feature request, please, make sure you’ve checked:**

when we want to add a color to the visual filter> color, all the colors in WooCommerce are displayed in [this section](https://prnt.sc/hcQXOUOHSCBt).
But if the number of colors of products is high, we will definitely get into trouble. We may never import many colors, or we may import duplicate colors.
The reason for this

[2022-03-29 02:05] Michaelgimii opened #5101 "Custom icon for variable selection section in jet woobuilder"
The ability to insert custom icons to select variables is really great as well as essential. https://prnt.sc/hOYFTu9KgAWg
Of course, 2 icons are needed. Icon before and after opening the list.
Similar to the elementor accordion widget : https://prnt.sc/xdYKMDFuRgQ9

[2022-03-29 02:18] 79ho3ein commented on #4743
#2996

[2022-03-29 02:38] 79ho3ein commented on #4860
Another thing in this section is that the variable selection arrow is almost [stuck to the margin](https://prnt.sc/C1QwVvGxSw4c) and there is no option to apply a space.

It would also be great to add an option to control the [distance between variables](https://prnt.sc/JYn7lgce3H74).

**Finally I had a suggestion for the variables section ...**

When the variable list opens, it has a very old use

[2022-03-29 02:54] 79ho3ein commented on #4860
It would also be great if we could move the title of the variable into the field. like this : https://prnt.sc/MzFBNsvPt4Hx
These are really great...

[2022-03-29 03:18] Michaelgimii opened #5102 "PRODUCT STATUS - new filter for jet smart filters."
One of the most widely used filters on any website is the PRODUCT STATUS filter. This feature is even available in woodmart theme.
https://prnt.sc/A1kUZ_hmxJ6Y

Of course, for this type of filter, it is better to use the filter switcher widget. Unfortunately, there are no switcher filter in jet smart filters right now. I hope it will be added to the plugin.

[2022-03-29 07:05] aaronfevah69 opened #5103 "Jet Booking Manual Booking function on the back end of the site"
**Jet Booking Manual Booking function on the back end of the site**

where the admin can manually add a booking for either telephone bookings, email bookings, walk in bookings and others

there is no function for this according to your helpdesk staff

without this function the website cannot be your master booking engine, most clients like to have one central up to date source for bookings, the we

[2022-03-29 07:58] Honganh2609 opened #5104 "Update feature Plugin JetReview"
Dear CrocoBlock team,
I’m looking for the Review feature in e-commerce.I appreciate Review widget provided by the team, but, the built-in features seems not practical for users.Based on user research, I’d like to recommend vital points to upgrade as below:
🔥 Add ‘Overall rating’ by star and percentage
🔥 Add instant review tags (great product, nice service, speedy delivery,...) for users to select

[2022-03-29 08:39] 79ho3ein commented on #5101
+1

[2022-03-29 09:48] mehdimoradi1500 commented on #5104
+1
They are so cool features, in my country people use phone numbers instead of email

[2022-03-29 10:05] LaxusCroco opened #5105 "JetCompareWishlist - Compare widget"
Our site would like to use your JetCompareWishlish functionality. On the Compare page, we would like to show customers a comparison of attributes, but not every attribute. But when I add attributes to the Compare widget, it pulls every single product attribute into the widget. I would like to show only certain attributes.

For example, I would like to not show the "form" and "variations" attribute

[2022-03-29 13:25] Floydtm commented on #4936
This will be added in the next updates

[2022-03-29 13:42] 79ho3ein opened #5106 "Ability to display sale price in the cart page - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

hi

Please add this feature if possible so that the products that are on special sale have their [previous prices displayed in the cart](https://prnt.sc/hdGGzClvNUa9). There is a reason to add this feature ...
If we create a discount code and enable [this option](https://prnt.sc/qKnAKRmg4lfX), if the user has a special sale

[2022-03-29 13:43] Floydtm commented on #5096
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-03-29 13:43] #5096 closed, assigned to nobody

[2022-03-29 13:59] 79ho3ein commented on #5093
+1
This is really one of my biggest troubles.

[2022-03-29 14:12] Floydtm commented on #5097
Please study this [tutorial](https://crocoblock.com/knowledge-base/articles/jetsearch-how-to-set-a-field-key-to-search-in-custom-fields/)

[2022-03-29 14:22] Floydtm commented on #5099
Hello, what device are you getting the bug on?

[2022-03-29 14:36] Floydtm commented on #5100
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-29 14:36] #5100 closed, assigned to nobody

[2022-03-29 15:00] brjmichael opened #5107 "Jet Engine: Make a Meta Field unique to the system"
Hello everyone!

It should be very useful to be able to make a Meta Field unique within a system, just like the default WordPress '**user**'.

Example: I have a system for registering teachers and courses, and I would like to make the '`user_teacher`' unique, so that it is not possible to create more than one teacher with the same user ID `(user_teacher)`.

Note: _teachers are in a Post Type creat

[2022-03-29 15:40] Topicimes commented on #5097
Hello,

This does not answer my problem, unless I am mistaken.

Indeed, it allows to retrieve a meta data of the CPT, but I want to retrieve a meta data of a taxonomy which is linked to the CPT.

Thanks for your feedback

[2022-03-29 16:01] evcircle commented on #1967
Is this not out yet? I want it as well for my auto listing website. so +1 for this suggestion.

[2022-03-29 16:11] evcircle commented on #1967
Reiterating: Can we have this feature where it auto-detects the user's location and shows listings/Map with multiple listings nearby

[2022-03-29 16:26] 79ho3ein commented on #5099
hi, Also, if we [reduce the browser width](https://prnt.sc/MwMKEfckm9c2) a bit, it breaks 3 rows and the colors are displayed in [two rows](https://prnt.sc/cvbqrCHDCO-j).

**necessary information**

wordpress : 5.9.2
elementor : 3.6.1
e pro : 3.6.4
hello elementor : 2.5.0
jet smart filters : 2.3.11

windows - browser : chrome, Version 99.0.4844.84 (Official Build) (64-bit)

Do you need more inform

[2022-03-29 16:35] Floydtm commented on #5102
https://prnt.sc/JNcbjTeVIwfB https://prnt.sc/DwWIVyVG4AK6 https://prnt.sc/f7sZP4kR-2eU https://prnt.sc/FhjpzygNt71z

[2022-03-29 16:35] #5102 closed, assigned to nobody

[2022-03-29 17:51] kaskad88 commented on #4675
Added for the next version ( v2.11.7 ).
Thanks for your report!

[2022-03-29 17:51] #4675 closed, assigned to kaskad88

[2022-03-29 18:08] nreljed opened #5108 "[Jetsmartfilter] Folding"
[code]

it's just a small reworking of the code seen [here](https://crocoblock.com/troubleshooting/articles/making-jetsmartfilters-expandable/)
I just making some small customization improvements
such as being able to use font-family icons: Font Awesome.
but there are some problems to solve like `.apply-filters `of slider filter which separates from slideToggle

PS: the slider has been hidden beca

[2022-03-29 18:45] Floydtm commented on #5099
"if we [reduce the browser width](https://prnt.sc/MwMKEfckm9c2) a bit" Don't do it again) At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.

[2022-03-29 18:45] #5099 closed, assigned to nobody

[2022-03-29 19:03] 79ho3ein commented on #5099
But this request was not a new feature! It was a bug report.

[2022-03-29 19:06] Lonsdale201 commented on #5108
+1 :)

[2022-03-29 21:03] alican532 commented on #1159
After enabling the "Use auto re-indexing" feature, the filtering feature does not work. I turned off "Use auto re-indexing" but everything broke. Filters are not working now. No indexes are visible.

[2022-03-29 21:54] petrovui commented on #2956
+ need autoclose for product added to card popup

[2022-03-30 01:12] rgbashok opened #5109 "Jet Engine: Query Builder : Query filter based on current datetime"
In the Jetengine query builder, meta query can be created based on today date, but it would be good to create it based on current time.

This will be useful for the timer based posts.

[2022-03-30 02:59] yepyeh commented on #474
This would be amazing

[2022-03-30 03:51] liammaurer opened #5110 "Allow JetCompareWishlist to work with any post rather than just products"
Essentially the title. Thought the plugin would work with any post for a directory site I am using other Crocoblock products on the site but wanted to implement some kind of wishlist and compare features for posts but was unable to do so because the plugin only works with WooCommerce products.

[2022-03-30 07:54] CptSlow2000 opened #5111 "[JetElements] Instagram Widget: Cache images locally (GDPR)"
I have tried to use the Instagram Widget GDPR compliant but no matter what I do. It always loads in the pictures directly from the Instagram servers. In EU countries that makes this feature useless, unfortunately.

An option that caches the images in Wordpress on the server would be very useful.

Also an increased compatibility with GDPR plugins like "Borlabs Cookie" would be nice.

A good example

[2022-03-30 08:08] #5000 closed, assigned to UraraReika

[2022-03-30 08:17] UraraReika commented on #5110
Hello @liammaurer !

You can use Data Store module in JetEngine plugin. Learn more about it [here](https://crocoblock.com/knowledge-base/articles/jetengine-data-stores-module-overview/). Unfortunately Data Store doesn't give you opportunities to create compare list but it gives you more flexibility in CPT and favourites lists.

As for JetCompareWishlist we will not implement such functionality to

[2022-03-30 08:17] #5110 closed, assigned to nobody

[2022-03-30 08:37] nreljed commented on #5109
this code should activate the missing options
tell me if you managed to make your idea work and if possible explain why

[code]

then
%format_date|n% - will display the month
%format_date|Y% - will display the year (4 numbers)

[2022-03-30 08:44] UraraReika commented on #5106
Hello @79ho3ein !

This is specific functionality that is why we will not implement this in our plugin. Because the price already show you what you got to pay with all taxes if it included.

But if you need this functionality this much then you can use this snippet:
[code]

[2022-03-30 08:44] #5106 closed, assigned to nobody

[2022-03-30 10:11] Lonsdale201 commented on #2956
While we wait for the actual function, the solution posted above can be applied temporarily. :)

[2022-03-30 10:12] Lonsdale201 commented on #5103
+1

[2022-03-30 10:14] Lonsdale201 commented on #5087
The idea is good so +1. By the way, you can add select2 jquery and you'll have a lot of stylistic possibilities. (css away), if you need, i can paste a short code, how can you apply it, and using.

[2022-03-30 10:28] Lonsdale201 opened #5112 "JetEngine - Dynamic field & Terms improvments"
May in a future possible the following improvments?

Dynamic field:

**Switcher field values callback:**

Icon input for enable, and for diasble

**Checked values list callback**
output with li tags for better ui and customizations

**Checkbox fields values callback**
Separate style controls for checked, and non checked. + icon input

**Dynamic terms widget**
Add rollup function - If show all term

[2022-03-30 10:35] kaskad88 commented on #4811
Fixed in JetEngine v2.11.6

[2022-03-30 10:35] #4811 closed, assigned to kaskad88

[2022-03-30 10:37] petrovui commented on #2956
It's not right. Product grid generates unique ID for every "add to cart"
button of any product in grid. And after i've tried this solution, i've
noticed, that it works only once. So if i add to cart same product twice it
works only once.

ср, 30 мар. 2022 г., 13:11 Lonsdale201 ***@***.***>:

[2022-03-30 10:46] 79ho3ein commented on #5106
thank you

[2022-03-30 11:03] #5038 closed, assigned to SargasTM

[2022-03-30 11:06] Lonsdale201 commented on #2956
Not need ID With the jetwoobuilder produt grid, just replace, the "$(".myfavorite").click(function (e) {" .myfavorite - to .button

Mine is working. = $(".button").click(function (e) {

Or: .jet-woo-product-button

[2022-03-30 12:21] Floydtm commented on #5098
Contact our support team, the guys will help you solve this problem.

[2022-03-30 12:21] #5098 closed, assigned to nobody

[2022-03-30 12:23] nreljed commented on #5112
![Capture d’écran 2022-03-30 131510](https://user-images.githubusercontent.com/82481592/160833511-98f8d162-953c-4640-ba18-18393e5a1dc3.png)

Concerning the terms dynamic terms has not evolved concerning the question display parent - child
Very useful for displaying city type taxonomies
parent - child as for example Ukraine - mykolaiv
as the competition already does [seen here](https://www.dynamic.

[2022-03-30 13:01] morosmo opened #5113 "Jet engine Profile builder post limits by status"
Hi,
I am just testing crocoblock jet engine post restriction rules.
I see that we can restrict post by post types and roles. The problem is post can only be restrict by publish status.
If user has created one post then they can also be able to create one more and so onn because if we save post from frontend forms and make deafult status od submitted post to pending review then user is able to subm

[2022-03-30 13:32] Topicimes commented on #5113
+1

But I found a solution. You just have to use the plugin : https://wordpress.org/plugins/user-posts-limit/

This way, you can easily configure restrictions regardless of the publication status of the post.

I can also sell you lines of code that allow you to automatically change the role of the user depending on a subscription, etc.

[2022-03-30 13:34] Topicimes commented on #5108
+1

[2022-03-30 13:34] petrovui commented on #2956
So how it must looks if i don't need an ID?

[code]

What about this lines:

[code]

[2022-03-30 13:35] Topicimes commented on #5104
+1

It is certain that the title field is useless, but nevertheless mandatory. If anyone has a code to disable it, and not just hide it on the fro

[2022-03-30 13:37] Lonsdale201 commented on #2956
The Popup ID not change, if you are using this method:
https://crocoblock.com/knowledge-base/articles/jetwoobuilder-how-to-display-a-products-cart-in-a-popup-based-on-jetpopup/

I mean, every popup have their own unique ID, but one product grid have  only one popup.

[2022-03-30 13:37] Topicimes commented on #5091
:+1:

This ties in a bit with my idea that is in high demand: https://github.com/Crocoblock/suggestions/issues/3460

[2022-03-30 13:39] Topicimes commented on #5076
+1

This is a feature that is in high demand. There are already many requests for it.

[2022-03-30 13:41] Lonsdale201 commented on #2956
Just simple open your popup, search the popup ID, and replace with mine.

[2022-03-30 13:41] Topicimes commented on #4943
+1

I can give you solutions to remedy it manually if you want

[2022-03-30 13:43] nreljed opened #5114 "[Jetsmartfilters] N Selected"
It was while trying to imitate a `select with search ` that I decided to use the checkbox or radio filters.

These two have the advantage of offering a lot of customizations that cover a wide range of possibilities 🎊
But when you try to imitate the Select type there are 3 omissions

everything is there or almost we will see the 3 final details that are missing. don't worry, I was very careful to d

[2022-03-30 13:49] petrovui commented on #2956
Dat works! Thank You BRO! Respect!

[2022-03-30 13:55] SargasTM commented on #4969
JetSmartFilters currently don't filter terms

[2022-03-30 13:55] #4969 closed, assigned to SargasTM

[2022-03-30 14:43] rgbashok commented on #5109
@nreljed, My intent is different, I have a datetime(Local) custom meta,  I am building an query in Jet engine to filter the post based on the current time.

i.e. let say if the time I have mentioned in the custom meta is past current time then the post should not show on the query result.

[2022-03-30 16:13] #4915 closed, assigned to Gawuww

[2022-03-30 16:13] robleigh1991 commented on #941
bit late but you could do it this way with a query in the query builder

![image](https://user-images.githubusercontent.com/27848999/160881777-bb4a2e06-b8ac-4338-88d9-2ea735cd273a.png)

[2022-03-30 19:55] D3663 commented on #4811
Thanks, I just tested and everything worked fine.

From: Dmytro Bartoshchak ***@***.***>
Sent: Wednesday, March 30, 2022 3:36 AM
To: Crocoblock/suggestions ***@***.***>
Cc: D3663 ***@***.***>; Author ***@***.***>
Subject: Re: [Crocoblock/suggestions] JetEngine CCT csv export does not delimit double-quotation marks in a text field (Issue #4811)

Fixed in JetEngine v2.11.6

—
Reply to this email dir

[2022-03-30 20:35] Michaelgimii opened #5115 "jet woobuilder add to cart button notice"
There are 3 types of WooCommerce notice in the Add to Cart button. 1- Out of stock   2- Only 1 left in stock or in stock   3- Available on backorder.

We can only customize Out of stock and in stock notice colors. :  https://prnt.sc/XlTxmuFvB06E      So we can not customize the Available on backorder notice color. Please add this feature.

It would be great if you could add text editing to these 3

[2022-03-30 20:43] Michaelgimii opened #5116 "content , style and advanced tab in jet woobuilder Template"
I want the background color on single product page to be different from other sections of the website. But there is a big hurdle for jet woobuilder here. In jet woobuilder, we do not have three items: content, style and advanced. Whether on a single product page, in a shopping cart or even a checkout page : https://prnt.sc/t4X5-9DzJ2-g      Please add this section.

[2022-03-30 22:12] mehdimoradi1500 commented on #5116
+1

[2022-03-30 22:13] mehdimoradi1500 commented on #5115
+1

[2022-03-30 22:17] 79ho3ein commented on #5115
+1

[2022-03-30 22:36] tizum commented on #4969
we're just going to treat the case like this, it doesn't filter and close, any action, do you have plans to add this functionality?

[2022-03-30 23:53] kalqlate commented on #5091
Yes, I see that. Thanks for letting me know. Separate calendars would be great for many reasons.

[2022-03-31 00:18] Michaelgimii opened #5117 "copy to clibord widget for jet engine plugin."
I did not find any plugin to add such a widget to elementor.Great if you add this widget to jet elements.

[2022-03-31 00:34] ofmarconi opened #5118 "Make "JetSmartFilters" compatible with "Query Builder""
Hi,

Today I was surprised by the incompatibility of Query Buider with JetSmartFilters!

The benefit of having this compatibility is great:

I can already create complex queries and the visitor just clicks on a button and it would already update his entire list, and he could still refine more with the standard controls.

Is this too complicated to implement?

A Button, Radios or Checkbox that imme

[2022-03-31 00:34] ofmarconi commented on #5118
**My support Ticket:**
https://support.crocoblock.com/support/tickets/60222

With more details and a real case.

[2022-03-31 03:08] 79ho3ein commented on #4860
hi again
Also, after adding the Add to Cart button, there is a lot of [extra space at the bottom of the button](https://prnt.sc/FD78Wg_H3r6H).
https://prnt.sc/GTS90RYWbPrc

[2022-03-31 06:33] shahinshenavary commented on #2548
https://crocoblock.com/knowledge-base/articles/jetsmartfilters-create-predefined-filter-results-with-dynamic-tag/

[2022-03-31 09:04] torsten3d opened #5119 "Jet SmartFilters: Conpatibility wit Blocksy Archive postgrid/cards"
Would be cool, if the Smartfilter could be applied to the native Blocksy Grid you can create for Archives there. So you don't have to build the cards with JetEngine from scratch...

Best,
Torsten

[2022-03-31 09:18] Floydtm commented on #5117
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin
Right now you can find the solution [here](https://wordpress.org/plugins/search/clipboard/)

[2022-03-31 09:18] #5117 closed, assigned to nobody

[2022-03-31 09:24] SargasTM commented on #5050
Пофиксил

[2022-03-31 09:24] #5050 closed, assigned to SargasTM

[2022-03-31 09:37] hschk commented on #4272
+1

[2022-03-31 09:48] Floydtm commented on #5119
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-31 09:48] #5119 closed, assigned to nobody

[2022-03-31 10:15] Michaelgimii commented on #5093
hi @SargasTM & @Floydtm , I understand that you are going through difficult days in Ukraine.But instead you are more powerful these days than ever and I really appreciate you. I also thank you for paying attention to our opinions during these difficult days.
But I ask you to please fix this in the new version if possible. I really understand the difficulty of your work, I also really understand th

[2022-03-31 14:41] UraraReika commented on #4426
Hello @79ho3ein !

Unfortunately this is not possible in this situation.  In our widgets we try to keep default WooCommerce structure for better compatibility. But you can achieve this by rewriting WooCommerce template and change the text manually. You need to find this file `wp-content/plugins/woocommerce/templates/single-product/meta.php` and using instructions in the header of this file or use

[2022-03-31 14:41] #4426 closed, assigned to UraraReika

[2022-03-31 15:01] pegujurado opened #5120 "Access API Rest Jetengine relations"
Access API Rest Jetengine relations

[2022-03-31 16:53] UraraReika commented on #4487
Hello @GuiWP !

In situation with Products Grid widget we cant provide such an option because of presets and orders functionality. It's hard to calculate depending all options in which moment we need to implement this functionality. So in your situation I can suggest you to add some styles for this layout.

[code]

[2022-03-31 16:53] #4487 closed, assigned to UraraReika

[2022-03-31 16:58] bluemoonpda opened #5121 "Custom Content Types - Backend Options"
I recently worked with CCTs for the first time and they are a great tool. I am using them to collect data from potential customers to provide them with a quote for services. Data is collected via a Form on the website.

The issues I had related to:

1. When the form is submitted, I wanted to use the item ID as a reference, add it to a specific meta field in the CCT and add it to the email that is

[2022-03-31 17:30] breakerh opened #5122 "JetAppointment - Multiple instances setup"
Make it possible to initialise multiple jet appointments on a single page.

For example we have a page which has 2 choices. Both choices use a jet form builder instance which loads a Jet Appointment calendar.
Without altering your `appointments-init.js`  this isn't possible since it checks if calendar is not null.

If you work with custom (generated) classes or ID's this could be resolved.

For no

[2022-03-31 18:41] Michaelgimii commented on #4603
Great idea. We now have this functionality in elementor and can use it in jet woobuilder. https://prnt.sc/t40d74YQW7Yp
@UraraReika , Please consider this. thanks

[2022-03-31 19:07] Floydtm commented on #5122
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-03-31 19:07] #5122 closed, assigned to nobody

[2022-03-31 19:56] jeffmankini opened #5123 "2 way sync with google cal"
I really need availability based on two-way sync with google calendar. That would make Crocoblock unstoppable. For now I think I will have to use Amelia booking for this specific client's needs unfortunately.

[2022-03-31 20:19] imaxenio commented on #1151
+1 for Leaflet OpenStreetMap and MapBox.

[2022-03-31 20:20] breakerh commented on #5122
@Floydtm Honest and fair response. It's a small edit I have to make to make it work so not an issue at all :)

For those who also have this issue.
Change the content op `bookingFormIinit` in `appointments-init.js` to:
[code]

ps. if not allowed, sorry and please let me know or remove the comment.

[2022-03-31 21:52] nreljed opened #5124 "🐛[Jetsmartfilters] remove filters disappears if not result"
I just noticed with a negative result (No Data Was Found)
The Range and Seach type filters do not disappear

![Capture d’écran 2022-03-31 223534](https://user-images.githubusercontent.com/82481592/161154334-ab5b8e5f-dfcb-49ec-8d58-1907767597e7.png)

all widgets are well configured with id and we can see that remove filters exists well

![Capture d’écran 2022-03-31 223436](https://user-images.githu

[2022-04-01 00:51] Vickystha opened #5125 "JetSmart Filters conflicting with Elementor v 3.6.1"
Hi,

I recently updated Elementor from v. 3.5.4 to the latest one v. 3.6.1. After the update, one of the web page that uses JetSmart Filters is broken. It looks like these plugins are conflicting with one another. Here is the error message:

`Fatal error: Uncaught Error: Class 'Elementor\Scheme_Typography' not found in ~/wp-content/plugins/jet-smart-filters/includes/widgets/base.php:316 Stack trac

[2022-04-01 05:46] ArkeyWave commented on #2307
+1 for this

[2022-04-01 07:53] 79ho3ein commented on #5125
hi
No problem for me, of course I disabled the flex box and use elementor pro 3.5.4.

[2022-04-01 08:20] UraraReika commented on #4860
Hello @79ho3ein !

We added some margin and pudding controls to our widget that can control space between variations select and add to cart button.

This is standard select input field and not much we can do about it. But in your case there is some trick with [transparent](https://tppr.me/37HEC) border.

Solved with adding additional controls.

Video - is custom styled and script to achieve this s

[2022-04-01 10:18] UraraReika commented on #4850
1, 2, 3, case - done
4 - There is no possibility to add such functionality.

[2022-04-01 10:32] 79ho3ein commented on #4860
hi, thanks for your response alexander

If you mean that these controls are now available in version 1.12.2, no. I tested all the options but it is not possible to eliminate these gaps.

<hr>

one question...
I am not a coder yet and I do not have a good understanding of coding. But I wanted to ask if Je woobuilder should always be based on the structure of WooCommerce? WooCommerce standards are v

[2022-04-01 10:38] 79ho3ein commented on #4850
thanks

[2022-04-01 11:03] 79ho3ein commented on #5000
hi again @UraraReika

Thanks for this update. There is a case from version 1.12 which of course is not a important thing, but maybe it is not bad to know about it ...

After updating to versions 1.12.0 - 1.12.1 and even 1.12.2, some buttons style were reset. For example, the cart update button lost its border and border radious. Also, the buttons on the cart and checkout page lose their border-rad

[2022-04-01 13:20] 79ho3ein opened #5126 "A simple bug in jet woobuilder 1.12.2"
**Describe the bug**

(I use RTL)

In the product grid widget, the amount of Space Between Slides Does not follow the inheritance feature. As you know, the default value of Space Between Slides is 10 pixels. I put it on tablet 0 to make [this control](https://prnt.sc/IKoELZ-_cStb) work properly.
When I consider Space Between Slides on a 0px tablet, it should naturally be 0px on a mobile phone as w

[2022-04-01 13:31] UraraReika commented on #4993
Fixed in the latest release.

[2022-04-01 13:31] #4993 closed, assigned to MakhonkoDenis

[2022-04-01 13:36] UraraReika commented on #1905
Yes this problem already solved.

[2022-04-01 13:36] #1905 closed, assigned to MakhonkoDenis

[2022-04-01 13:47] Floydtm commented on #5125
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-04-01 13:47] #5125 closed, assigned to nobody

[2022-04-01 14:50] valmirselmani commented on #3819
@Floydtm I think there is still an issue with setting active filters with mixed url (plain).

I have 3 checkbox filters on a page. When I reload the page, the results are correct, but they are not showing properly in the UI. Only one filter is showing in the UI, even if I select all 3 filters.

**Edit:** It seems like items with the value 0 are not being set in the UI.

[2022-04-01 15:24] deniro83 opened #5127 "Scroll Snap on Listing Item"
A Scroll Snap feature for Listing would be nice, something like this.

https://codepen.io/team/css-tricks/full/yLLqqgP

so that the listing items scroll across entire sections

and add the option of mouse scrolling to the slider

[2022-04-01 15:27] Wapozon11 opened #5128 "Reviews Listing is not displayed correctly in the popup"
**Describe the bug**
The "Reviews Listing" widget added in the popup is displayed only when the popup is displayed for the first time. Closing and re-displaying the popup means that "Reviews Listing" does not display the content.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new popup and add "Reviews Listing" to it
2. Add a button on any subpage (e.g. a WooCommerce product page)

[2022-04-01 16:02] evolvenl commented on #2355
Any updates on this?
If u really want to be taken seriously in the booking market, sync with the major players like booking.com and Airbnb is an absolute must!

[2022-04-01 22:15] 79ho3ein commented on #5126
Another bug in this version is related to overflow. In the overflow, if we decrease or increase the value using [these two buttons](https://prnt.sc/NBdgHhGrEeaJ), no change will be applied unless we enter the number manually.

Another thing about overflows is that overflows, like Space Between Slides, do not support hereditary value. I do not know, maybe there is a reason for it, anyway hereditary

[2022-04-01 23:49] Androidiawebsites commented on #1842
it's 2022 and so far no solution

[2022-04-01 23:50] Androidiawebsites commented on #1744
it's 2022 and so far no solution

[2022-04-02 08:13] rezafariborzi opened #5129 "how can save query count result in user meta? ( jet engine)"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2022-04-02 08:16] rezafariborzi commented on #5129
hi
i made query in jet engine  and i can show result count in elementor ( when user login )
but i need to save this number in user meta ( great with jet engine )

 i need each time user login and this feild show query result also save number in user meta
plz help

[2022-04-02 08:55] jtdissing commented on #1466
+1

[2022-04-02 15:01] noncoderever commented on #1466
+1. new to crocoblock, please investigate this feature for Jet Search Crocoblock team. Specifically the ability to choose how the search bar is displayed
- Search icon only with popup to full screen
- search with the bar and input text

[2022-04-02 16:31] pgjdh commented on #2647
+1

[2022-04-02 22:17] 79ho3ein opened #5130 "jet woobuilder carousel pagination."
hi

This is not a bug, but there is a problem anyway...

**Describe the bug**

As you know, in version 1.12.0, the possibility of [custom positioning carousel pagination](https://prnt.sc/yffXRClT6gX7) was added. If you remember, I said before that the problem with this feature is that it causes the navigation points to go out of the widget ...
**(In previous versions, it was only possible to apply

[2022-04-03 03:52] gurdiny opened #5131 "Jetsmartfilter heretical search relation"
Hello everyone, I hope you can help me with the following.
My client asked me for a filter on the home page, according to several taxonomies, I made a heretical filter, with taxonomies made with jetengine and the filter works well, the problem is that the last two taxonomies are related to a relation, for that when the penultimate filter is reached, only those related to that taxonomy appear in th

[2022-04-03 12:10] rgbashok opened #5132 "Listing Grid: Vertical Scroll / Slider"
Listing grid has function for slider but it can be enabled only horizontally, but no function for vertical scroll

[2022-04-03 12:18] 79ho3ein opened #5133 "2 simple bug in jet woobuilder > cart page > remove product from cart button."
**Describe the bug**

There are 2 bugs in the button to remove the product from the cart > Hover mode, please check if possible.

1- Button color in hover mode does not support elementor global colors : https://prnt.sc/KRhena0zv8h0

2- The background color of this button is red by default. So if we leave the background color by [default](https://prnt.sc/1LPjmaBzwqvE), after the hover the backgroun

[2022-04-03 14:10] #5020 closed, assigned to nobody

[2022-04-03 15:35] mateitudor commented on #852
I am having another issue with the lack of autocomplete. On Chrome the search input gets populated automatically by a username from a user's password manager (Chrome password manager, 1Password, etc.), making the "results" disappear.

I'd like an "autocomplete=no" option...

[2022-04-03 15:40] gurdiny commented on #770
I have the same problem :c

[2022-04-03 15:54] 79ho3ein opened #5134 "Fade mode (gradient) for the overflow attribute - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

It would be great if a gradient could be added to the overflow feature. Using this gradient, we can display the last product that is not fully displayed as a gradient. Of course, I do not know if this can be implemented in jet woo! But if it is added, it will be great.

Current status : https://prnt.sc/iAZmJz6om6J2
the gradi

[2022-04-03 22:35] fabio323ti opened #5135 "[Jetengine] CPT slug with post_ID"
I wish to use Post_Id as post_slug, really nosense why these setting are hidden or unavailable?

In my form i choose don't use "post_title" as input field, so the form submit data automatically using "post title #post_id" as title, this is pretty good but post slug have only "post_title" without any id..

for ex. for CPT called "Events"... form submit save for title automatically "Events #123456"

[2022-04-03 23:48] Vickystha commented on #5125
@Floydtm Can you tell me which versions (both Elementor and JetSmart Filters) did you check? Please note the issue happens when updated to Elementor 3.6.1. The issue does not occur in Elementor 3.5.4.

Looks like JetSmart Filters is still using deprecated Class 'Elementor\Scheme_Typography'. So, using the correct class in JetSmart Filters would likely resolve the issue.

[2022-04-04 00:04] timtamb commented on #770
Unfortunately, the solution for me was to move away from Crocoblock and WordPress entirely. Instead, I used Python and Django with the Wagtail CMS to implement what I needed with the magic of OOP. From the sounds of things, the Crocoblock team are yet to implement the highlighted feature in my original post that could potentially solve the problem you're all facing.

[2022-04-04 06:14] taidang26 commented on #2266
Please add a Fallback field in case no information is filled in.
![image](https://user-images.githubusercontent.com/89138954/161484065-c2396ea6-be90-4722-aaf0-1f0f3368d108.png)
![image](https://user-images.githubusercontent.com/89138954/161484143-0b75ad82-11b8-4a2a-9fea-fa5f2db8e7b4.png)

[2022-04-04 12:01] Floydtm commented on #5132
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-04 12:01] #5132 closed, assigned to nobody

[2022-04-04 12:21] incheon-kim opened #5136 "JetMenu disappears at search result page."
**Describe the bug**
Mega menu with JetMenu disappears whenever search something. Sepearte Mobile hamburger menu doesn't but only JetMenu.

**To Reproduce**
Steps to reproduce the behavior:
1. search anything. (/?s=keyword)
2. JetMenu disappears. Only wrapper div remains.

**Expected behavior**
1. Present normal heading nav menu.

**Screenshots**
If applicable, add screenshots to help explain your

[2022-04-04 15:15] Floydtm commented on #5125
Elementor 3.6.1
JetSmart Filters 2.3.11

[2022-04-04 15:47] schndr-cdn commented on #2288
+1

[2022-04-04 18:29] Michaelgimii opened #5137 "Custom icon for jet search plugin category list."
Please add the ability to insert a custom icon to this great plugin : https://prnt.sc/rWYTo_2uOZJR

[2022-04-04 18:33] AdamPZeno commented on #5038
Has this been fixed guys?

[2022-04-04 19:25] rodolphebertozzo opened #5138 "Jet Woo builder - My Account"
it is possible with this wonderful plugin to customize the endpoints for each part of the account, except the "forgotten password" part, which poses a problem since there is no possibility to modify the style of the element, it would be necessary to create a widget and an endpoint

[2022-04-04 19:26] rodolphebertozzo commented on #5009
+1000

[2022-04-04 19:27] rodolphebertozzo commented on #4368
+1000

[2022-04-05 00:00] Vickystha commented on #5125
Alright so looks like our website is using older version of JetSmart Filters v. 1.8.3. We need to purchase one for the latest version. I hope upgrading it will fix the issue?

[2022-04-05 02:37] adr9901 opened #5139 "Option to remove the relationship descriptor from label of relationship box"
The word "children" appears in the label of the custom content type box that is a child on the parent content type page.

This looks silly and unprofessional. It will confuse clients - they don't need to know this detail.

![image](https://user-images.githubusercontent.com/66973432/161668045-8f6be694-1ffa-4f76-b569-b85b556af42c.png)

[2022-04-05 04:16] sergiolucianojr commented on #4316
I still have to change manually this, every update.

Do you have an idea of a possible approach to solve this?

[2022-04-05 06:58] plolock opened #5140 "Replace default spinner for loading AJAX content with lottie SVG/JSON animation"
When loading content via the ajax widgets, for example JetSearch with Ajax or lazy loading content, a default spinner is shown.

It would be great if one could replace the spinner with something more fitting and onbrand, to create a slightly better UX.
I suppose this would be applied on a theme level as the ajax loading is present in multiple widgets and places.

My best use case would be to go to

[2022-04-05 07:10] Floydtm commented on #5137
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-05 07:10] #5137 closed, assigned to nobody

[2022-04-05 07:16] Floydtm commented on #5038
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-04-05 10:30] Michaelgimii opened #5141 "more mobile friendly for je woobuilder cart table widget."
cart table does not have a good mobile UI right now and is very extensive. While it can be much simpler and more beautiful. I think it's not bad if in this year the UI of this important widget is slightly improved. Great on desktops, but very bad on tablets and mobiles. The image below is a great example of a cart table on mobile and tablet.

![Screenshot (448)](https://user-images.githubuserconte

[2022-04-05 10:48] Lonsdale201 opened #5142 "Hide Empty items with filter + Indexer"
With this addons works everything prefect except this scenario:
https://github.com/MjHead/jet-hide-empty-items

We are using Jettabs,  with jetsmartflters + this extension. If i set the indexer hide, for the filters, the filter disappears, but unfortunately the tab remains. The filter is attached to the tab as a template.

[2022-04-05 10:58] #5142 closed, assigned to nobody

[2022-04-05 12:32] mehdimoradi1500 commented on #5141
+1

[2022-04-05 13:11] timo-mediad commented on #2307
+1

[2022-04-05 13:11] hb81010 opened #5143 "JetEngine Meta-Fields of type "switcher" to be filtered with SmartFilters"
Unfortunately, I can't get it to work or I suspect that it is currently not possible to filter the JetEngine Meta-Field "Switcher" with Smart Filters.

As a workaround I tried to use Radio instead of Switcher and to set "Yes" and "No" as selection options. However, this does not work quite satisfactorily as a radio filter, because at another point the type Switcher would make sense. At another pla

[2022-04-05 13:35] rikedyp commented on #1040
+1

[2022-04-05 13:42] nreljed commented on #5055
@girafffee

I found a third behavior regarding drag in drop

state 1 - We saw earlier that opening and uploading the images for the first time lets us change the order

state 2 - once the "send" action is done, changing the order locks.

state 3 - this is when I add an image , changing the order reactivates and locks with the "send" action

![new state](https://user-images.githubusercontent.com/82

[2022-04-05 13:49] hb81010 opened #5144 "JetCompare & Wishlist - Compare Widget - More output customizations"
Compared to the JetEngine Dynamic Field widget, the Compare Widget unfortunately has limited options when it comes to output customization.

Here are a few examples:

### **Example 1**
When a meta field of type "**Number**" is output, unfortunately you don't have a field where you can enter a suffix or prefix.
Unfortunately, you can only set a fallback in the Compare widget

![grafik](https://user

[2022-04-05 14:12] rentaterry opened #5145 "Relate CCT Image field to CPT featured Image"
Hello support team!

I really love the CCT fuctionality. Currently I am working on a project to deal with thousands of post with "Has Single Page". However, when a related CPT is established, only Title and Content field are linked, resulting:

1. No featured image in related post;
2. No more social images (featured image fetched automatically to the whatsapp, facebook, etc.)

It is so important f

[2022-04-05 14:30] 79ho3ein commented on #5141
+1

[2022-04-05 17:36] hamed-azimi opened #5146 "Attach the Media files to Post-Submit Emails instead of sending them as Link [in JetFormBuilder]"
Currently, when a JetFormBuilder Form has a Media field, and you also have an Email Post-Submit Action, you can use Macros to insert the URL of the uploaded Media into the text of the email.

This might be better the nothing, but the issue is, that Microsoft Exchange considers emails with only links as spam.

We used our own company's email as the sender, and the email server is a dedicated mail s

[2022-04-05 18:01] hb81010 commented on #5108
+1

[2022-04-06 08:03] hb81010 commented on #5108
Btw: How did you create the switcher filters? I am failing with that at the moment
![smartfilter-switcher](https://user-images.githubusercontent.com/54399588/161925753-fb671d8b-9789-4125-b860-5acc8015c1c2.png)

I do not have the selection when creating
![grafik](https://user-images.githubusercontent.com/54399588/161925936-7383e155-9637-4d1e-ae94-c8383ea2164c.png)

Thank you

[2022-04-06 08:09] kaskad88 commented on #4767
@imsadhappy Unfortunately, we can't add your solution to the release version as it would break backward compatibility with our components and other third-party plugins.

[2022-04-06 08:09] #4767 closed, assigned to kaskad88

[2022-04-06 08:23] hb81010 commented on #4000
Btw: How did you create the switcher filters? I am failing with that at the moment
![smartfilter-switcher](https://user-images.githubusercontent.com/54399588/161929872-86c9b029-40f8-466c-bd67-19f65f59929b.png)

I do not have the selection when creating
![grafik](https://user-images.githubusercontent.com/54399588/161930012-5856dfb2-1911-4212-aad7-a9d6904f42c4.png)

Thanks

[2022-04-06 10:28] Michaelgimii opened #5147 "Custom endpoint for jet woobuilder my account page."
The custom endpoint is an extremely important and useful feature that unfortunately we do not currently have in jet woobuilder. Now on my account page, we are limited to a few tabs like dashboard, orders, URLs, etc. and we can not add a custom tab to the above.
For example, I want to add two new tabs. 1- wishlist 2- Sending a ticket Or any other tab. Please add this feature. It will be very, very

[2022-04-06 12:14] Floydtm commented on #5143
Try setting it up like this. Add a meta field to the post https://prnt.sc/Ldm5YUV1II63 Then create a filter https://prnt.sc/7Zod45_azcpZ https://prnt.sc/HdEpKpLi14my https://prnt.sc/3mrPN5F5Yolk Let me know if this helped you.

[2022-04-06 12:36] Floydtm commented on #5147
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-06 12:36] #5147 closed, assigned to nobody

[2022-04-06 13:13] hb81010 commented on #5143
It works great! Thank you very much for the quick solution!

[2022-04-06 13:13] #5143 closed, assigned to nobody

[2022-04-06 17:08] pixlexmedia opened #5148 "Query Arguments for New Jet Engine Relations"
Hello Crocoblock Team!

The new Jet Engine relations have been a game changer for me. I am able to create complex relations and query them and show them on a listing with out issue.

I ask that macros be added that can be used for the new relations. This is for use while creating a query argument in dynamic link.

This would open up many possibilities with Jet Form Builder.

My use case:
I have a

[2022-04-06 19:28] nafiul12345 opened #5149 "Need a custom label option for subkeys - Crocoblock account"
Hello Crocoblock team,

About Us:
This is Nafiul Islam a web designer and developer. So We are working with you guys since last year and this is one of the issues that I really notice. We design 2-3 websites every 2 months you can say and for these 2 - 3 websites we create 2-3 staging areas (especially from Cloudways - I think you guys understand what I mean here). So after a couple of months, we

[2022-04-06 23:05] johnstonisaac99 commented on #2612
Radius search would be awesome

[2022-04-07 02:05] ALPSIT opened #5150 "CPT Admin Columns and Filters"
Hi There,

I have added some Admin Columns and Filters to a CPT, but I have two issues:

1. In Admin Column, the Taxonomy Hierarchy is not showing in Parent > Child order
 - It needs to Show in correct Parent > Child order
- eg. Mercedes (parent), C63S AMG (child).
- At the moment it seems to be sorting by Term ID and this is not any uniform presentation to try and sort by this column
- Sometimes

[2022-04-07 06:43] petranca commented on #4842
+1 Yes please

[2022-04-07 09:26] Floydtm commented on #4886
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-04-07 09:26] #4886 closed, assigned to Gawuww

[2022-04-07 09:38] x3mp opened #5151 "JetReview Dashboards widget"
It would be super amazing to have a JetReviews widget on the Wordpress dashboard that quickly lists the following:
- Recent reviews
- Reviews the admin still has to approve
- Review Comments that still need approval

Pretty much like the default WooCommerce review system but then for JetReviews :)

[2022-04-07 12:31] hb81010 opened #5152 "JetReview - Review Types for Admins"
I have some websites where I test and review some products myself. Now unfortunately JetReview only allows you to create "Review Types" as review templates for website visitors.

It would be nice if the created review types could also be made available to the admin in the dashboard (similar to the meta fields), so that they could be rated there and inserted as a widget in the template for the prod

[2022-04-07 17:39] hex324 opened #5153 "Jetappointment does not leave the correct time frames"
Hello,

When I have an appointment from 9:00-9:30 for a 30 mins treatment, the system  blockes all kind of other treatments, but not just for the 30 minutes, but for 45, 60, 80 or 90 minutes depending on the length o the other treatmentds.

So, when I try to book an other 30 mnute treatment, everything is okay, I can book the next from 9:45 (because of the time break after).
But, when I try to boo

[2022-04-07 19:03] antoinelbch opened #5154 "[JetElements] Video Player is missing 'playsinline' attribute: plays in mediaplayer on iOS"
**Describe the bug**
Video Player does not play inline but opens in mediaplayer on iOS

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Video Player
2. Select Video Type = Self Hosted
3. Select Player = Default HTML5
4. Choose Video Source from Media Library
5. Set Video Options > Autoplay to off

**Expected behavior**
On iOS the video should play inline. Instead it opens in the mediapl

[2022-04-07 22:31] ishnechmad commented on #4275
I was very disappointed to see that JET does not have this feature. My client needed it and I built him a table with the bootstrap-table library

[2022-04-07 23:48] 79ho3ein commented on #4850
hi again

There is another case related to the product image widget ...
If there are thumbnails, there is plenty of [extra space](https://prnt.sc/0UGQfN92We_M) at the bottom of the widget.

[2022-04-08 00:40] PrinceJelly opened #5155 "JetAppointments prevent redirect?"
Hi there!

I was hoping someone could help me with a solution for this.

To explain what I'm trying to achieve...
My client would like a booking and local pick-up delivery times.
The client does not want overlap between appointments. Thus, we decided to only use a single plugin for the site that handles all types of appointments.
For clarification one form is used for "Booking your visit" and the

[2022-04-08 05:10] mindingear commented on #1515
+1

[2022-04-08 08:42] aksamitnaya opened #5156 "compatibility with gumlet image scaling plugin"
Using jet elements portfolio widget with gumlet image scaling plugin produces masonry display issues : https://prnt.sc/Ac1mIrJEOhOz

https://wordpress.org/plugins/gumlet/

[2022-04-08 08:50] Heavyl opened #5157 "Built in methods to easily access data in PHP and extended documentation"
Hello, I worked with JetEngine for a year now. Jet Engine is great cause it speed up the process of creating CPT and meta fields. But as the website I working on grows, it need a more advanced and detailled approach and I'm at a point where I have to manipulate data from meta fields in PHP. The problem is that manipulating datas from fields created with JetEngine seems to be a bit more complicated

[2022-04-08 09:40] danicalouwe commented on #5048
I hope this will be included in your future updates. Thanks!

[2022-04-08 12:10] Michaelgimii opened #5158 "jet woobuilder best sellers query not working"
In recent updates, this query has been added which is really useful for our websites. But I still could not understand this query. It does not work at all. When I place the query on the best sellers, it displays the products. While no products are sold on the website. On the other hand, a large number of store website employers want us to display the best-selling products. But I have not been able

[2022-04-08 12:36] Michaelgimii commented on #5158
thanks @UraraReika , Will this issue be resolved in the next update? I'm really stressed

[2022-04-08 12:59] #4892 closed, assigned to UraraReika

[2022-04-08 13:29] x3mp commented on #5158
As a quick workaround you can create a query fetching products and ordering them by "total_sales".

You can use the Listing Grid to list a custom listing.

Hopefully this helps for the time being!

[2022-04-08 13:32] Michaelgimii commented on #5158
thanks @UnrealPixel
Like many other users of this plugin, I do not know how to code. I hope this problem in jet woobuilder is solved once and for all.

[2022-04-08 13:34] x3mp commented on #5158
I understand. If you want I can help you through the steps. You can send me a message on Facebook. I'm in the group.
[Here is my facebook profile](https://www.facebook.com/roel.petra.942/)

[2022-04-08 13:37] Michaelgimii commented on #5158
thanks❤

[2022-04-08 15:10] sandymakruf commented on #3661
@dreamzspl have you make image choice?

[2022-04-08 15:26] robfaulkner75 commented on #1528
Hi, did anyone find a fix for this?  I am having this issue

[2022-04-08 18:49] Lance2j commented on #2529
Please!

[2022-04-08 18:50] Lance2j commented on #2440
Please!

[2022-04-08 18:50] Lance2j commented on #2438
Please!

[2022-04-08 18:51] Lance2j commented on #2437
Please, super please!

[2022-04-08 18:54] Lance2j commented on #2432
Please!

[2022-04-08 18:57] Lance2j commented on #2427
Here's another really good product to check out: https://www.wppluginexperts.com/wp-plugin/jumble-woocommerce-wordpress-wishlist-collection-bookmark/

[2022-04-09 03:44] jzaite opened #5159 "CCT list for form dropdowns"
When building forms in JetFormBuilder and SmartFilters etc., I would like to be able to select a specific CCT to generate a drop-down / checkbox / etc. list.  When creating relationships with CCTs we are able to specify a specific 'Title' field. Could that 'Title' field selection (maybe moved into the CCT itself instead of at the relationship level?) function in the same way a CPT does - where I a

[2022-04-09 07:39] Michaelgimii opened #5160 "Quick view using elementor pop up does not work for jet engine."
I wanted to design a professional Quick view using the elementor and jet engine, until the user clicks on the eye icon, the listing image will pop up so the user can see it better. But unfortunately it did not work.

**How to implement**

I made a listing and put an eye icon inside it. Then I made a pop-up and put an image widget in it. I put the image inside the pop-up dynamically, to display the

[2022-04-09 07:45] 79ho3ein commented on #5130
Another example of this problem ...
I have created a custom product message not found using [this feature](https://github.com/Crocoblock/suggestions/issues/4386).
Therefore, [this gap](https://prnt.sc/6uLkpR8Kwv8y) is created when this product grid has no products to display. The only reason for this problem is that in the new version, we use [this control](https://prnt.sc/0UPeS_ptA3mW).

thank yo

[2022-04-09 09:21] drewbclark commented on #3751
I also have same issue! I find the repeater field to be useless without this. Please please add CCT Repeater Field Listing Support!

[2022-04-09 09:22] drewbclark commented on #3752
I also have same issue! I find the repeater field to be useless without this. Please please add CCT Repeater Field Listing Support!

[2022-04-09 12:38] x3mp commented on #5009
+1

[2022-04-10 12:20] glorpyz opened #5161 "Request: Advanced date option"
Lets say I make a Listing for lots of Posts.

I add '**Dynamic Field**' and set
- Source:  **Post/Term/User/Object Data**
- Object Field: **Date**
- Filter field output: **Yes**
- **Human readable time difference.**

This will display how old the post is, like: "**2 minutes**" or "**1 day**".
(I don't know how it looks when it becomes weeks, month and year.)

**But I would like be able to choose t

[2022-04-10 13:32] mennybe commented on #2312
+1 for this thing

I'll be more than happy to have the ability of choosing the field order

[2022-04-10 14:42] tommy83 opened #5162 "Request: Massive issues with jetpopup"
The plugin https://crocoblock.com/plugins/jetpopup/ missing most simple options. Please improve the basics, before stuffing more functions.

For example:

1. We cant set custom position for popup, we only can select left, centered, right. This is possible in many free popup & banner maker.

2. All popups have transparent background layer, so the website in background is "deactivated" and you need

[2022-04-10 14:44] tommy83 commented on #5036
Yes issue here. Still hanging with basics. :-(

[2022-04-10 16:12] Joliamendi commented on #5158
+1
I have this problem too. Please solve this bug

[2022-04-10 20:58] Joliamendi opened #5163 "Responsive control for jet woobuilder checkout field."
I've been using this great plugin lately. Please add Responsive Control for the width of the checkout fields.

[2022-04-10 21:01] Joliamendi opened #5164 "Ability to edit shipping and billing fields on my account page."
We can now edit the fields only on the checkout page, but it is not possible to edit the billing and shiping fields on my account page. Please add.

[2022-04-10 21:05] Joliamendi opened #5165 "More customization for the jet woobuilder checkout page."
Strange, but there is no option to customize selected fields such as country and state. We can now only customize simple fields such as name, company name, and so on. Please develop this feature.

[2022-04-10 21:32] Joliamendi opened #5166 "Jet woobuilder quick view compatibility with elemental popup"
Please make the quick view feature of this plugin compatible with elementor popup. This will be a great feature. Please give this option to your users so that they can choose between jet popup and elemental popup.

[2022-04-11 00:16] madmaxpowermx commented on #3751
Joining to this petition too. Hope CCT will get an important update, it feels like an abandoned feature

[2022-04-11 06:44] UraraReika commented on #5158
Please take a close look at this issue https://github.com/Crocoblock/suggestions/issues/4473.

We as well have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team.

Thank you!

[2022-04-11 06:52] UraraReika commented on #5165
I merged this issue with [#3793](https://github.com/Crocoblock/suggestions/issues/3793), which is on the same subject so we could deal with it more efficiently.

[2022-04-11 06:52] #5165 closed, assigned to nobody

[2022-04-11 06:53] UraraReika commented on #5164
You can edit them. Please contact our support team for more information.

[2022-04-11 06:53] #5164 closed, assigned to nobody

[2022-04-11 06:54] UraraReika commented on #5163
I merged this issue with #4889, which is on the same subject so we could deal with it more efficiently.

[2022-04-11 06:54] #5163 closed, assigned to nobody

[2022-04-11 07:52] Joliamendi commented on #5164
@UraraReika , Can we delete or rename some fields like checkout fields????

[2022-04-11 07:58] Joliamendi commented on #5158
Thanks @UraraReika ,I did my best, but to no avail ...
Is there any more detailed training for it? And is it possible that this problem will be fixed in a future update?
All WooCommerce products have total_sales by default and will be added again if deleted. Strange, but at woodmart this was not a problem

[2022-04-11 08:12] 79ho3ein commented on #5166
+1

[2022-04-11 08:24] 79ho3ein commented on #5061
hi @UraraReika. Despite the previous elementor update to fix this bug, [this bug](https://github.com/elementor/elementor/issues/17767) is still not completely fixed and occurs in certain circumstances. For this reason, I disabled all the sticky sections on the website and the problem I reported above (Bug in variable selection) was fixed.
So I think there is no problem with jet woobuilder and it w

[2022-04-11 08:25] #5061 closed, assigned to UraraReika

[2022-04-11 12:10] Floydtm commented on #5160
To resolve your request, you need to use jetpopup

[2022-04-11 12:10] #5160 closed, assigned to nobody

[2022-04-11 13:02] wearefluid opened #5167 "Reload listing on click function"
**Please, describe the feature request, making it clear to understand.**

I wish there to be a function that allows a visitor to, by clicking a button, reload a listing so that a new set of posts/items are fetched to the listing. This is useful for randomized listing content, as a user could generate e new set of posts with a simple click. This is one way to encourage discovery of content, to reco

[2022-04-11 13:21] UraraReika commented on #5164
No you can't.

[2022-04-11 13:22] UraraReika commented on #5158
We will take closer look at this.

[2022-04-11 13:34] x3mp opened #5168 "Adding the function to reorder JetReview input fields"
Please add a function to change the order of the input fields of reviews. Currently, the Review is above the Review title which is very confusing for people.

Adding an option to reorder these fields would make this plugin much better.

[2022-04-11 14:21] UraraReika commented on #4306
Hello @dazdazslk !

Did you try to use JetReviews plugin? This can be the thing you need. You will have full control on your review system and a lot of styles possibilities.

[Here](https://crocoblock.com/knowledge-base/article-category/jetreviews/) you can find some knowledge about it.
[Here](https://crocoblock.com/knowledge-base/articles/jetreviews-how-to-add-reviews-to-the-post/) specific one.

[2022-04-11 15:03] hamed-azimi commented on #4716
Adding a single option to let us set a delay on hover-in and hover-out can solve a huge problem. Not sure why you close this easy feature request and leave us to deal with an annoying issue that we constantly receiving complaints about.

[2022-04-11 15:42] Joliamendi commented on #5164
Will this not be added?

[2022-04-11 16:16] PPharma commented on #4716
Please implement this. Its critical for us. This functionality should never have been removed. I'd say this is a bug report rather than a feature request.

The problem here is that the menu opens even if the user is quickly hovering over the menu and never intended to open the menu. We have a big menu that fills up a lot of screenspace. So without meaning to do so the user has blocked their screen

[2022-04-11 16:37] SINFOUND commented on #4716
We need this issue resolved! Please crocoblock address this and solve our headache.

[2022-04-11 17:18] UraraReika commented on #5164
Maybe.

[2022-04-11 17:39] knireis opened #5169 "Give Read more widget a option for read less button"
When clicking the 'read more' button in the read more widget, the hidden section shows up and the butoon disappears.
Sometimes there is a need for 'read less' button which hides the section again.

Is it possible to make an option so the button does not disappear but stays visible and changes the text on the button to 'read less'? And when clicking the button it hides the section again and shows t

[2022-04-11 18:51] peterloran commented on #3943
Would be nice to have certain date ranged packages for certain rooms/products.

[2022-04-11 19:00] peterloran opened #5170 "JetBooking - Add half days for calender for check-in & check-out times."
I've seen a bookingsystem where they can put specific check-in and check-out times so a day can be booked half/half.

For example Family "A" books from monday to friday. (check-out time set: 11h for example).
Family "B" wants to book the same room from friday to sunday. (check-in date 13h for example).

How to show it in the availability calender. Make the friday a triangle shaped day. This isn't

[2022-04-11 22:35] 79ho3ein opened #5171 "The open in new tab option is not displayed by right-clicking. jet woobuilder"
hi

In the product network widget, **if the Make Product Item Clickable option is enabled**, there is no open in new tab option when the user clicks right on the product. https://prnt.sc/6iRhxQtphTTz
[This option](https://prnt.sc/cM4idJBsDx6f) can be enabled to resolve this issue, but it is better if opening a new window is not mandatory. for many reasons...
Also, by enabling the application of th

[2022-04-12 06:22] #4306 closed, assigned to UraraReika

[2022-04-12 08:06] UraraReika commented on #4780
1 - This widget doesn’t has any hover effects do this option is pointless.
2, 5, 6, 7 - done.
3 - This option in this case more about layout so it will stay here.
4 - Due to widgets wrapper this style section is useful.
8 - Widget has space between option.

We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support te

[2022-04-12 08:20] 79ho3ein commented on #4780
thank you @UraraReika

[2022-04-12 08:40] Floydtm commented on #5169
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin.
Right now you can use the Unfold widget.

[2022-04-12 08:40] #5169 closed, assigned to nobody

[2022-04-12 09:41] Floydtm commented on #5170
We have an option Booking Period Maybe this will work for you https://prnt.sc/l8Wp-DTXQdCy

[2022-04-12 10:17] ziblow commented on #5104
+1

Great features. I also noticed that there are no notification for new reviews. I believe a counter for "new reviews" would be handy too (Same as Wordpress' default comments counter and Woocomemrce orders).  Then some kind of email notification that we can enable could be nice.

[2022-04-12 11:05] knireis commented on #5169
Ok thanks, i realize there is the unfold widget, but then the 'hidden' content has to be in the same widget/column. It has no option to show a separate section. That is a big difference.

[2022-04-12 12:47] #4992 closed, assigned to UraraReika

[2022-04-12 13:19] Michaelgimii opened #5172 "jet woobuilder color swatches"
hello
#361
I and many users of this plugin are looking forward to adding this great feature to the plugin core. I may not have asked this question in the right place, but have you started working on this feature? Could we see that in 2022? thanks

[2022-04-12 14:10] UraraReika commented on #4981
1, 3, 5, 9 - done
2, 4 - Track this issue https://github.com/Crocoblock/suggestions/issues/4569.
6 - If you think so then don’t use them.
7 - Track this issue https://github.com/Crocoblock/suggestions/issues/4603.
8 - This options already exist.

[2022-04-12 14:34] jojopa opened #5173 "A feature request is to allow people to only choose from some of the taxonomies in JetForms"
Hello,
A feature request is to put only some of the taxonomies on the form for the user to choose from, rather than all of the taxonomies every time.

Example being: I have 50 taxonomies in one set, but only want to have users choose from 6 on a form.

[2022-04-12 14:56] UraraReika commented on #4864
In the[ admin area ](https://tppr.me/j8R6C)of Single Product template you can choose what product will be previewed in the editor.

It is clear that the widget is slightly out of margin.Even after customization, it is clear that the widget is not exactly in place : https://prnt.sc/26vlila
While it should be like this : https://prnt.sc/26vljpr Fully inside the border. Like other widgets.

We have c

[2022-04-12 14:56] #4864 closed, assigned to UraraReika

[2022-04-12 15:39] DamianMIS opened #5174 "A feature request for booking duration - JetBooking"
Would be great to have an option to set the booking durations for example minimum amount of days, or types of bookings weekdays (Mon-Fri), weekends (Fri-Mon), full weeks( Fri-Fri and Mon to Mon) and no other custom dates.

[2022-04-12 16:11] WebToStep opened #5175 "JetBlocks Site logo"
please add please adjust the size of the logo

it would be better to work

because now you have to do everything with styles

[2022-04-12 16:12] WebToStep opened #5176 "JetTabs / Accordion"
I would like to have a toggle listener instead of click in the accordion, like elementor by default

[2022-04-12 19:44] 79ho3ein commented on #4981
thank you dear @UraraReika. Please check the #4948 & #5089 for the new version if possible. thanks again

[2022-04-12 21:20] Zach-Toth commented on #1967
+1 really need this feature for a client site!

[2022-04-12 22:16] peterloran commented on #5170
No that doesn't really help. It's not the same thing. But thanks for the suggestion. Appreciate the thought.

[2022-04-13 03:22] migueacastro opened #5177 "JetAppointment and JetEngine: shows "Select..." on provider_id field"
When I set (My custom provider post "Jeeps") as the Provider Post Type, as I did with (My custom Services post "Services") as Service Post Type,

![Screenshot 2022-04-12 231217](https://user-images.githubusercontent.com/54249734/163092970-ab1f9259-d882-4cfb-9fde-daa94183cb0b.png)

![Screenshot 2022-04-12 232041](https://user-images.githubusercontent.com/54249734/163093570-48f35cc0-3460-486c-9d20-1

[2022-04-13 06:01] #5177 closed, assigned to nobody

[2022-04-13 06:02] DrumFishDigital opened #5178 "JetAppointments: Add more time to the "Locked Time Before" Feature"
I want to take appointments for my web design agency. I want prospects to be able to book a time with me but only be able to book a week in advance. I can currently only block off 24 hours.

Thanks
Christian Van Noort
![OBwG4H3uBN](https://user-images.githubusercontent.com/103557537/163110540-fb44ee65-122d-49e9-be14-78fd8c0deb70.png)

[2022-04-13 06:28] shinTM commented on #5168
you always can use custom css, in particular order css property. Separate option as new feature is а bad idea and difficult setup will be
https://tppr.me/JBeQo

[2022-04-13 06:28] #5168 closed, assigned to shinTM

[2022-04-13 06:31] shinTM commented on #5152
if I understood you correctly https://tppr.me/TBcZF

[2022-04-13 07:03] UraraReika commented on #5171
While the `<a>` tag is not allowed to contain `<div>` element, so in this case we created structure that imitate same behaviour as `<a>` tag does, for parent `<div>`. So in this case in can't be done.

[2022-04-13 07:03] #5171 closed, assigned to UraraReika

[2022-04-13 08:40] 79ho3ein commented on #5171
Thank you

[2022-04-13 09:46] Floydtm commented on #5178
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-13 09:46] #5178 closed, assigned to nobody

[2022-04-13 11:38] trofimartya commented on #3755
Facing the same issue. Can't book dates even if they are available.

[2022-04-13 11:54] UraraReika commented on #5126
Control option that we use in this case need to get proper parameters in the frontend so then we can handle this parameters in our script. This option doesn't get data from Elementor inheritance. You need to put value manually. The same thing with overflow control.

Done

[2022-04-13 12:03] scharj opened #5179 "Being able to use custom meta fields for building permalinks ..."
... would be an awesome feature :)

[2022-04-13 12:16] Michaelgimii opened #5180 "An important problem in Dynamic field widget - jet Engine"
I have created a cpt with a radio field in it On the other hand, I used a dynamic field widget at the front to display the desired option.
For example, the radio meta field has 3 options. I select one of them and I want the name of the radio field I selected to be displayed on the front. But it does not and only value is displayed. I checked all the settings but could not find a solution. I did no

[2022-04-13 13:21] 79ho3ein commented on #5126
thank you
I forgot to mention the other two...

1-There seems to be a small bug in these [two parts](https://prnt.sc/ee_AGsDreG6z). Please watch the video below :

https://user-images.githubusercontent.com/77163248/163188639-66ea4046-2443-4597-9032-1619d02af4dc.mp4

As you can see in the video above, after renaming the shopping cart update button to (bug), I enabled the automatic update and then r

[2022-04-13 13:21] Floydtm commented on #5179
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-13 13:21] #5179 closed, assigned to nobody

[2022-04-13 13:59] Tony-Baker opened #5181 "Feature Request: JetFormBuilder File Upload Field - this is a critical one..."
Currently, with JetFormBuilder there is a media upload field that replaced the standard file upload field you would expect to see with a form builder. It works great for media files such as images, but it does not work for anything else such as documents or standard files. A few reasons why:

- It does not display the name of the file once uploaded so the website visitor/user makes a mistake with

[2022-04-13 14:08] UraraReika commented on #5126
1 - done
2 - This is the issue of carousel library how the script loads and render.

[2022-04-13 14:40] UraraReika commented on #5130
Use [column pudding control](https://tppr.me/72W0J) for creating extra space inside widget that will disappear with products grid and you will not have this issue.

[2022-04-13 14:40] #5130 closed, assigned to UraraReika

[2022-04-13 15:00] Floydtm commented on #5180
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin.
Right now you can use glossaries and it will solve your issues

[2022-04-13 15:00] #5180 closed, assigned to nobody

[2022-04-13 15:08] 79ho3ein commented on #5130
This was a great solution. thanks alexander🌹

[2022-04-13 16:11] nreljed commented on #5181
it is a global problem that must be solved in two directions as soon as we talk about "uploading" a lot of problems arise
especially if the type of project is
[Real Estate Marketplace](https://crocoblock.com/dynamic-templates/findero/)
[Car Dealer Marketplace](https://crocoblock.com/dynamic-templates/cardealer/)
it's just two examples

the solution on **jetformbuilder** and **jetengine** is a sing

[2022-04-13 16:22] UraraReika commented on #5062
Please track this [issue](https://github.com/Crocoblock/suggestions/issues/4386) when it will be done all this things will be fixed.

[2022-04-13 16:22] #5062 closed, assigned to UraraReika

[2022-04-13 16:30] 79ho3ein commented on #5062
thanks

[2022-04-13 19:47] mehdimoradi1500 commented on #4450
Hi @UraraReika will u please fix this issue? I have to upload 20 products each day and its difficult to select the single template for each product
🌷

[2022-04-13 23:18] carlpolson commented on #2676
+1

[2022-04-14 06:06] UraraReika commented on #4450
This issue in progress and will be available in a few updates.

[2022-04-14 09:07] Medienor opened #5182 "Spam attack on ?jet_engine_action=book"
Hi! Today my ISP provider shut down my site due to spam attack on ?jet_engine_action=book

Spam sample:
1nerOx-005WiE-7E-H
MYID 1009 990
<EXAMPLE@cpanel96.proisp.no>
1649911695 0
-received_time_usec .224458
-ident MYID
-received_protocol local
-body_linecount 161
-max_received_linelength 522
-auth_id MYID
-auth_sender MYID@cpanel96.proisp.no
-allow_unqualified_recipient
-allow_unqualified_sender
-

[2022-04-14 09:53] mehdimoradi1500 commented on #4450
Thank you 😍

[2022-04-14 10:25] Michaelgimii opened #5183 "Ability to display products on backorder - jet woobuilder"
On one customer's website, there are many products that are sold in advance. So their situation in woocommerce is https://prnt.sc/vsfBqg6Ljpzm

The customer asked me to display the pre-sold products on a separate tab so that users can access them more easily. As far as I checked jet woobuilder queries, there were no queries to display pre-sold products https://prnt.sc/8pJPs0ZrM-PX
Please add this

[2022-04-14 12:10] LaxusCroco opened #5184 "JetWooBuilder - add infimite scroll to the widgets"
It would be great if JetWooBuilder widgets (Products Grid or Products Loop) could use the Infinite Scroll feature. The same feature is already available [for JetEngine](https://crocoblock.com/knowledge-base/articles/jetengine-listing-grid-widget-overview/#title1.1). Can we have it for JetWooBuilder too?

[2022-04-14 12:24] UraraReika commented on #5184
Watch this https://crocoblock.com/freemium/tools/ https://tppr.me/dACAu

[2022-04-14 12:59] Floydtm commented on #5183
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
Right now you can implement this using the jetengine plugin. You need to create a custom query request https://prnt.sc/6zCdMSXPIIDj https://prnt.sc/L0xhj2Oxhoz3 https://prnt.sc/HUP5ZQ99Ci7t

[2022-04-14 12:59] #5183 closed, assigned to nobody

[2022-04-14 13:13] #5172 closed, assigned to nobody

[2022-04-14 13:46] two-colours opened #5185 "Reset date in Date Range Filter"
Scenario:

1. Select from date
2. Select to date
3. Try to select different "From date" after "To date" - impossible

How it could work:
If I select new From Date, To Date should reset. Like in Jet Appointment form.

This feature would be great for all hospitality websites and it would improve UX of filtering available rooms.

[2022-04-14 14:32] MjHead commented on #5182
Hi! We'll check this and make appropriate changes to make this more secure

[2022-04-14 14:45] Medienor commented on #5182
@MjHead let me know if you want entire log, they access Wordpress email from jetengine and push emails through PHPmailer with admin email. We blocked new user signups at the moment and run everything v3 captcha now.. let me know if I can help with log

[2022-04-14 14:57] MjHead commented on #5182
Thanks @Medienor We'll rewrite a bit logic of form submitting to avoid promatically sending data directly with ?jet_engine_action=book, its all we can do from our side at the moment, To protect from spamming with bot directly from the page with form, you need to use captcha. In the future we'll add own addon to additional spam protecting from the bots. Also you can migrate to JetFormBuilder, it al

[2022-04-14 15:13] bbua97 opened #5186 "JetMenu - Icon library missing in Revamp Mode"
**Describe the bug**
Once the Revamp Menu is toggled on, there is no possibility to select a menu item anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Crocoblock>JetPlugin Settings>JetMenu>General'
2. Click on 'Revamp Menu - On'
3. Go to 'Design-Menus'
4. Try to select an Icon for any Menu-Item -> no icon library

**Expected behavior**
I expected to go to my Menu Settings and

[2022-04-14 15:49] JLAcostaEC opened #5187 "JetBlocks - Sticky Section: Add support for new flex box container"
**Describe the bug**
When using Elementor Flexbox Container, the sticky option disappear from the advanced config of container.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Experiment: Flexbox Container
2. Go to edit one page with Elementor
3. open Advanced options
4. The JetBlocks Sticky options is missing.

[2022-04-14 16:41] simplicity17 commented on #2621
+1

[2022-04-14 18:02] ofmarconi opened #5188 "Slider in Listingrid - Make it responsive by disabling it for mobile devices, making it the default listing."
I need to disable the Slider on mobile devices, I can do it with 2 listingrids and Dynamic Visibilit, but it's not ideal.

It would be very interesting if you could insert this option "Disable Slider in Mobile" + "Post Number in Mobile"
<img width="362" alt="image" src="https://user-images.githubusercontent.com/6594795/163449991-9326f06b-4a61-4d28-b4bf-34e74ec1a104.png">

That would be amazing, be

[2022-04-14 20:28] bbua97 commented on #968
+1

[2022-04-14 21:18] bbua97 opened #5189 "JetWooBuilder - Add my acount endpoints for the full official WooCommerce range (membership, subscriptions)"
***Please, describe the feature request, making it clear to understand.**

Add custom endpoints from official WooCommerce extensions to the JetWooBuilder to get the #1 choice as WooCommerce customizing plugin.

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you want to achieve as a result.

E-Learning and Membe

[2022-04-14 23:50] 79ho3ein opened #5190 "Add to cart button in simple products - jet woobuilder"
In variable products, if a product is not available, the message "out of stock" is displayed and there is an add to cart button, but it is disabled : https://prnt.sc/Ngp89rpNTsS0
There is no problem here.

But in simple products, if the product is not available, the Add to Cart button is hidden : https://prnt.sc/pZhC-OIiuXlc
This severely damages the user interface...
Please add this feature if po

[2022-04-15 06:22] UraraReika commented on #5190
Hello @79ho3ein !

Please contact WooCommerce devs.

[2022-04-15 06:22] #5190 closed, assigned to nobody

[2022-04-15 06:47] kaskad88 commented on #2851
This feature is available from version 2.9.3

[2022-04-15 06:47] #2851 closed, assigned to MjHead

[2022-04-15 06:49] kaskad88 commented on #5056
I merged this issue with [#3683](https://github.com/CrocoBlock/suggestions/issues/3683), which is on the same subject so we could deal with it more efficiently.

[2022-04-15 06:49] #5056 closed, assigned to MjHead

[2022-04-15 06:49] kaskad88 commented on #2124
I merged this issue with [#3683](https://github.com/CrocoBlock/suggestions/issues/3683), which is on the same subject so we could deal with it more efficiently.

[2022-04-15 06:49] #2124 closed, assigned to MjHead

[2022-04-15 06:53] UraraReika commented on #5189
I merged this issue with [#2721](https://github.com/Crocoblock/suggestions/issues/2721), which is on the same subject so we could deal with it more efficiently.

[2022-04-15 06:53] #5189 closed, assigned to nobody

[2022-04-15 07:16] Floydtm commented on #5186
We will not be adding this to the revamp menu. You can always use the old menu. Or use svg instead of icons

[2022-04-15 07:16] #5186 closed, assigned to nobody

[2022-04-15 10:12] #5158 closed, assigned to UraraReika

[2022-04-15 10:13] UraraReika commented on #5126
release 1.12.3

[2022-04-15 10:13] #5126 closed, assigned to UraraReika

[2022-04-15 11:24] kaskad88 commented on #4846
Thanks for your feedback.

We tried to reproduce your issue based on the information you provided, but without success.

Please contact our support https://crocoblock.com/help-center/ for guidance in resolving this issue (and mention that you were directed by me and reference this issue.)

Thanks.

[2022-04-15 11:24] #4846 closed, assigned to kaskad88

[2022-04-15 14:17] jonasdaouani opened #5191 "JetAppointment - Blocking custom time slots in next days based on selection today"
Use case:
A wellness with working days of 09:00 to 24:00 every day of the week and time slots of 3 hours each for 3 different wellness arrangements.
1) sauna
2) sauna and food
3) sauna and overnight stay

User can select 1 of the 3 different arrangements and then select either 09:00-12:00 or 21:00-24:00. If user selects the overnight stay, then automatically the time slot of 21-24 of the selected

[2022-04-15 15:12] Joliamendi opened #5192 "Filters are not automatically displayed in the desired category"
**Describe the bug**

I have just migrated to this great plugin. But I encountered a very important bug. In this plugin, if there is no product according to the filter in the archive, that filter will not be displayed. So far there is no problem. But if we consider a border for each filter ( filter widgets > Advanced tab > border ), this border will not be hidden with the widget, but will remain.

[2022-04-15 15:13] jonasdaouani opened #5193 "Jetappointment - When selecting a date without selecting a service - translate "Please, select the service first" - make customizable"
When selecting a date without selecting service the message "Please, select the service first".
This message should be customizable and thus translatable.

[2022-04-15 15:31] Floydtm commented on #5192
same #5093

[2022-04-15 15:31] #5192 closed, assigned to nobody

[2022-04-15 15:33] Joliamendi commented on #5158
thanks @UraraReika, Will this be resolved in the new version?

[2022-04-15 15:34] Joliamendi commented on #5192
thanks @Floydtm , Is it clear when this problem will be solved?

[2022-04-15 15:39] 79ho3ein commented on #5126
thank you

[2022-04-15 15:40] jacktaffa opened #5194 "Query Builder doesn't work with new relationship"
Hi, I see that "Related Items" doesn't work on query builder

# Relation Config
![Schermata 2022-04-15 alle 17 35 42](https://user-images.githubusercontent.com/2649534/163590682-c953c0d6-9c54-4bb3-971a-25439de0e06e.png)

# Child element example
![Schermata 2022-04-15 alle 17 35 17](https://user-images.githubusercontent.com/2649534/163590710-35f705fc-1d33-4b5d-9251-9abfea51582e.png)

# Parent Eleme

[2022-04-15 15:50] #5194 closed, assigned to nobody

[2022-04-15 16:46] Floydtm commented on #5192
Keep for updates

[2022-04-15 17:08] bbua97 opened #5195 "JetTabs & JetWooBuilder - Add an integration between the my-account endpoints and tabs"
**Please, describe the feature request, making it clear to understand.**

I guess every website visitor wants to reload the page as less as possible. There's already an old tutorial from WPTuts where he did some workaround for the endpoint-templates to be shown in JetTabs but this is not working (anymore). It would be great if you could make the JetTabs and JetWooBuilder work together.

An example

[2022-04-15 19:45] unitedonline opened #5196 "Feature Request: JetFormBuilder - Multiple user role functionality when registering"
JetFormBuilder functionality to assign multiple user roles during the registration process for a new user.
And also the ability to assign multiple roles to an existing single user via a form located in the profile page of a user.

This would be accomplished by creating a totally new plugin to accommodate multiple user roles with custom privileges (Permission Management) per user and be compatible

[2022-04-15 21:06] nreljed opened #5197 "🔀Jetengine dynamic visibility improve compatibility with jetsmartfilters"
![Web 1920 – 1](https://user-images.githubusercontent.com/82481592/163630384-d46699a1-7792-4c4e-8b27-45ebb4614017.png)

in order to offer a better user experience in the case that the listing grid displays 0 results ( no data was found )

The idea of inserting a custom template can partially solve the problem but offers no solution to hide and display other objects external to the listing grid (el

[2022-04-15 21:06] #5124 closed, assigned to nobody

[2022-04-16 04:03] toxickim24 opened #5198 "Query Builder Needs to have Request Parameters"
In my "Search Result Page" elementor, I wanted to create a query builder but I cannot find "request parameter" in the settings

![Screenshot_1](https://user-images.githubusercontent.com/22664183/163660651-3470706b-dee2-4b1f-9dcb-f0ac8067443b.png)
![image](https://user-images.githubusercontent.com/22664183/163660680-5a1d9ea4-a346-40da-9bb8-d3d61dea6c48.png)

[2022-04-16 08:14] wolfamri opened #5199 "Copy To Clipboard"
Hey Crocoblockers,
I could really use a copy to clipboard widget. I have seen there are a few requests in this regard, so let me renew that.

I think it would be useful for many, many things.
So far there only seems to be one competitor that is offering that solution, but I don't want to buy another plugin tbh ;).

It could be really simple: A text field for what you want to copy, and a button tex

[2022-04-16 09:06] Elsteck commented on #2229
@Floydtm with the recently new functionality of JetThemeCore you may consider reopening this issue, also in light of GDPR problems with Google fonts that makes being able to locally source (custom) fonts a necessary feature

[2022-04-16 09:23] Elsteck commented on #3085
Plus 1, with the recently new functionality of JetThemeCore you may consider adding this, also in light of GDPR problems with Google fonts that makes being able to locally source (custom) fonts a necessary feature

[2022-04-16 09:30] Elsteck commented on #5198
Does this help? https://crocoblock.com/knowledge-base/articles/jetthemecore-how-to-create-wordpress-page-template-for-certain-request/

[2022-04-16 17:23] edgBlw opened #5200 "URGENT BUG DETECTED: JetEngine components behaviour on delete"
I found a huge bug, that needs to be fixed as soon as possible. please, i inadvertantly messed up my website with this :(
So if you delete a TAX or a CPT and then recreate it with the exact name and permalink, you'll have a big problem, because if you've done that, JetEngine still pretends there is no TAX or CPT with this name/permalink.

I don't know why this is happening, but I think it can be v

[2022-04-16 17:26] edgBlw opened #5201 "JetEngine Foms - Integration for google recaptcha v2 and hcaptcha"

[2022-04-16 17:30] edgBlw opened #5202 "JetEngine Forms - Separate Radio and checkboxes layout options."
Currently we only can set a horizontal/vertical alignment for both radio and checkbox input fields in one particular form.
but if would be much better, if we could set a horizontal/vertical align option for each individual checkbox and radio field instead of the entire form. (Maybe a setting in the backend for each checkbox/radio input)

[2022-04-16 17:31] edgBlw opened #5203 "JetSmartFilters - Ability to connect search filter also to Taxonomy search"

[2022-04-16 17:39] edgBlw opened #5204 "JetEngine Forms - Ability to set custom atrributes"
Can we please have the possibility to set an input attr. for each individual field. (like autofocus, readonly, disabled, spellcheck, pattern)
It's really needed. I often use it, but currently i do a little workaround in my script.js in my child theme. but if the website has lots of forms and lots of wanted conditions for each form, it very easily become messy and overwhelming.

My little workaroun

[2022-04-16 17:51] edgBlw opened #5205 "JetEngine Forms - Options for the WYSWYG field"
Currently we can't really style the WYSWYG editor field. In this example i have installed the hello theme and sorry, but this looks just ugly. It would be great if there were styling options in the form module. and also functional options in the backend, because maybe i dont want that the user can edit heading tags, or links etc. Theoretically its possible ti hide them with css, but the user still

[2022-04-16 17:58] edgBlw opened #5206 "Jet search filter - Ability to search inside a listing that only lists posts from a a datastore"

[2022-04-16 18:10] edgBlw opened #5207 "Ability to set custom messages everywhere."
If  would be great to do so, because lots of sites dont have english as their langauge. So currently we can modify lots of textes, but some places extra would be very cool, for example:

Custom message for:
- File Limit in jet form file/gallery input field (Currently only in english: e.g. Max file size: 1MB)
- Data store max amount of posts added (Currently an alert only in english with something

[2022-04-16 18:12] edgBlw opened #5208 "JetBlocks - Anvanced login form dynamic options"
It would be amazing, if we could set custom conditions, like only this user role (e.g. admin) is able to login or redirections after login for different roles.

[2022-04-16 18:16] edgBlw opened #5209 "JetElements - Progress bar widget option for absolute values."
Until this moment, we only can set the value in percentages, but in a lot of cases, i need an option for absolute values. because many dynamic fields aren't based on percentages values but on absolute numbers. it would be very helpful.

[2022-04-16 18:23] edgBlw opened #5210 "Dynamic field - formatting option for phone number"
Currently we can't display a phone number nicely from a meta field. because if the user should enter the number with spaces it becomes impossible to link this data in a value (for a tel: link the number mustn't contain any spaces in my experience). But it is nicer to have the pretty number as label and the actual value as link. so this format option in the dynamic field would be cool.

e.g.
**User

[2022-04-16 18:30] edgBlw opened #5211 "Format options for query result count number"
Currently we can format a number with lots of settings within the dynamic field widget.
The query results count we can pull in from any text widget, so it would be very helpful, to have all those formatting number option in there also. I think many people really want this.

Ah and also, if you try to display the result count number inside an animated counter widget by elementor, instead of the num

[2022-04-16 18:35] edgBlw opened #5212 "JetEngine Forms media/gallery field - Ability to change order of/rearrange uploaded images"

[2022-04-16 18:40] edgBlw opened #5213 "What is the meaning of this widget?"
I asked the support, but they couldn't give me a clear answer what is this widget for. I don't understand the sense of the checked state. because if click on it, nothing happens? Can anyone explain it to me please?
![Bildschirmfoto 2022-04-16 um 20 36 14](https://user-images.githubusercontent.com/101653721/163687417-b3365af0-23d7-4d51-b36d-6827b30f2c9b.jpg)

[2022-04-16 18:47] edgBlw opened #5214 "Two new widgets for elementor - Code highlight and table of contents"
It would be really great if you could add a better version of these two widgets to elementor, because the built-in ones are really bad. the code highlight widget is missing some important features for example lots of styling options and a button that opens a new small window with the raw code inside of it. And the tables of content widget also doesnt have lots of styling options and doesnt has an

[2022-04-16 18:50] edgBlw opened #5215 "JetEngine Dynamic visiblity - more options"
I have a good idea for two more options inside the dynamic visibility module.
First show or hide an element based on own shortcode
Second show or hide element if user has %s amount of posts

[2022-04-16 19:10] edgBlw opened #5216 "JetEngine Forms - Bug inside html rendering"
If you want to provide a description for a particular field and you are using html. i don't know what is happening there, but it completely messes up everything. it doesn't recognize spaces anymore and also format things wrong somehow. My workaround for this is to put the needed description in the heading description, but its not very intuitive and user friendly if you have lots of fields.

e.g i

[2022-04-16 19:18] edgBlw opened #5217 "JetForms - Dynamic visiblity for select options"
I could be great if we could set up conditional rules to each individual option value for a select field. For example if we've chosen a particular value in a form before, then some particular options from the select list are disabled or hidden. This would be a gamechanger

[2022-04-16 19:19] edgBlw opened #5218 "JetEngine Forms - Ability to have a separate input field for post title and post slug"

[2022-04-16 20:49] SINFOUND commented on #1040
This is critical. please see the facebook discussion about this.

[2022-04-16 20:59] hamed-azimi commented on #1040
The standard in the industry is that mouseenter has a little delay on catching the hover, but mouseleave is immediate.

Just a few giant websites as an example to see how their menu's mouseenter and mouseleave work:
https://www.walmart.com/
https://www.costco.com/
https://www.macys.com/

But in JetMenu it is actually the opposite. The menu catches the hover immediately but closes the menu with del

[2022-04-17 02:17] machachen opened #5219 "SEO Title for user page"
Hello,

JetEngine Profile Builder is a great add-on which also provide user page support (Displaying dynamic page for each unique user)
The problem is, while each unique user get their unique url, but the SEO title always stay the same, which is not ideal for a website that are looking to rank their user page.

I have seen some settings with yoast seo or rankmath plugin but it didn't change anythi

[2022-04-17 13:13] maljassem commented on #1657
+1 this feature is very important, we rally need it.

[2022-04-17 15:47] bbua97 opened #5220 "JetWooBuilder - Doesn't work with overridden template files"
**Describe the bug**
I want to override some default WooCommerce myaccount templates, but with enabling custom my account page and my account page endpoints it doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the folder "woocommerce" in your child theme folder
2. Create the folder "myaccount" in the "woocommerce" folder
3. Copy the "dashboard.php" template from the woocom

[2022-04-17 20:54] jofori commented on #1119
Even though the Topic is closed I desperately need the ability of a Dynamic accordion especially now their a New relationshp Workflow :-)

[2022-04-17 22:55] Joliamendi commented on #5158
excuse me @UraraReika , Why was this issue closed?

[2022-04-17 23:05] Joliamendi opened #5221 "Stock Progress Bar for jet woobuilder"
This is a great feature so we can display the details of a product on its single page.
For example, I want to display the number of products left and sold as a progress bar on a single product page as a progress bar.
This feature is available in the woolentor plugin and I hope it will be added to the jet woobuilder as well.

https://woolentor.com/demo/product/stock-progress-bar/

[2022-04-17 23:16] Joliamendi opened #5222 "Call for price in jet woobuilder"
Another important feature in the world of e-commerce is the call for price feature. Please add this feature. This great feature is also available in the woolentor plugin.

https://woolentor.com/demo/product/call-for-price/

This feature in this plugin is such that the add to cart button becomes the call button for price. If the user clicks on the button, the desired number will be called directly.

[2022-04-17 23:23] Joliamendi opened #5223 "+ - Buttons To add to cart button"
Please update the product number buttons in this plugin. The current buttons are very old. Few websites use such buttons.
This is why customers object to this type of button on their websites.
https://woolentor.com/demo/product/woo-logo-3/
Please consider this.

[2022-04-18 04:49] jrlopezd commented on #1273
Guys this function is super interesting, I hope you can implement it as soon as possible

[2022-04-18 07:40] 79ho3ein commented on #5130
hi @UraraReika
How did you add [custom text](https://prnt.sc/oFPFSkW-bya9) to the product grid widget?
Did you use [this plugin](https://github.com/UraraReika/jet-woo-builder-products-grid-custom-fields)?

[2022-04-18 08:24] Michaelgimii opened #5224 "Custom Icon for Add to Cart Button - jet woobuilder"
Please add the ability to insert a custom icon to the Add to Cart button. This feature is currently available in elementor, but unfortunately this is not possible in jet woobuilder. https://prnt.sc/Zlc7zkqnMQzE

[2022-04-18 08:39] Floydtm commented on #5199
#3378

[2022-04-18 08:39] #5199 closed, assigned to nobody

[2022-04-18 08:45] UraraReika commented on #5130
This is product short description.

[2022-04-18 08:52] 79ho3ein commented on #5130
oh, ok. thank you

[2022-04-18 08:56] wolfamri commented on #5199
Thank you, I saw that there have been a few requests, that's why I said I wanted to renew it.
The ones that show up when you search for copy to clipboard aren't really useful for most uses.
The only one that seems universal is from one of your competitors that I don't want to name here. I can send you a pm if you are interested ;).

[2022-04-18 09:12] Floydtm commented on #5200
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-04-18 09:12] #5200 closed, assigned to nobody

[2022-04-18 09:20] Floydtm commented on #5201
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
Use this solution https://prnt.sc/37esKvCfrncC

[2022-04-18 09:20] #5201 closed, assigned to nobody

[2022-04-18 10:24] bormotovva opened #5225 "JetSearch integration with the Google Site Search"
JetSearch integration with the Google Site Search

https://www.facebook.com/groups/CrocoblockCommunity/permalink/5359418470816197

[2022-04-18 10:26] bormotovva opened #5226 "JetSearch - search data"
history search data , and also global history search data

https://www.facebook.com/groups/CrocoblockCommunity/permalink/5359418470816197

[2022-04-18 10:27] bormotovva commented on #2046
https://www.facebook.com/groups/CrocoblockCommunity/permalink/5359418470816197

[2022-04-18 10:41] UraraReika commented on #5133
1 - Fixed.
2 - In this case the WooCommerce plugin add this default styles to your button and you can override this with our style controls so i don't see the problem.

[2022-04-18 10:48] EquilibriumTechx commented on #5226
History search, has its own storage, where we then can pull user specific history or the single user can see their search history and clear it if they want to and then we have global search history, meaning every user or overall search history, so we can see what history or keyword or search context all the user has done. It’s quite similar to google search, so we are able to determine what is tre

[2022-04-18 10:51] 79ho3ein commented on #5133
thank you

[2022-04-18 11:35] Floydtm commented on #5202
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
You can use this option to resolve your request https://prnt.sc/5THDADp32693

[2022-04-18 11:35] #5202 closed, assigned to nobody

[2022-04-18 11:36] Floydtm commented on #5203
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-18 11:36] #5203 closed, assigned to nobody

[2022-04-18 11:54] Floydtm commented on #5205
Check elementor settings please. https://prnt.sc/Q1hlZn36mlxT https://prnt.sc/ajjqykV3LqWy

[2022-04-18 11:54] #5205 closed, assigned to nobody

[2022-04-18 12:03] Floydtm commented on #5206
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-04-18 12:10] UraraReika commented on #5115
Done

This type of controls is complex and unnecessary for this purpose WooCommerce provide filter hooks witch you can use to change those labels.

Unfortunately this isn't possible to display both buttons at ones or while select disabled tab. In this case you can just use preview mode https://tppr.me/iLDmC.

You can select appropriate product in [admin area](https://tppr.me/6j1ST)  then in the ed

[2022-04-18 12:34] UraraReika commented on #5003
Unfortunately we do not plan to introduce such functionality into our plugin. You can use options that you provide in one of [screenshots](https://tppr.me/aw7Ma) above in combination with this [options](https://tppr.me/b0KUc) and this styles:

[code]

Witch you can put like [this](https://tppr.me/I4dVN). Please take a note number 4 in the code is number of [columns](https://tppr.me/iKC4n) .

[2022-04-18 12:34] #5003 closed, assigned to UraraReika

[2022-04-18 12:38] UraraReika commented on #5224
Hello @Michaelgimii !

Please check [this](https://crocoblock.com/freemium/tools/) out. This [one](https://tppr.me/T5QFM) JetWooBuilder tab.

[2022-04-18 12:38] #5224 closed, assigned to nobody

[2022-04-18 12:39] UraraReika commented on #5223
Hello @Michaelgimii !

Please check [this](https://crocoblock.com/freemium/tools/) out. This [one](https://tppr.me/XAfpL) JetWooBuilder tab.

[2022-04-18 12:39] #5223 closed, assigned to nobody

[2022-04-18 12:39] Floydtm commented on #5208
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-18 12:39] #5208 closed, assigned to nobody

[2022-04-18 12:42] UraraReika commented on #5222
Hello @Joliamendi. This is basically button with `tel:123456789` `href` attribute. You can easily recreate it with the help of simple Elementor Button widget.  Try it.

[2022-04-18 12:42] #5222 closed, assigned to nobody

[2022-04-18 12:51] UraraReika commented on #5195
I merged this issue with [#4415](https://github.com/Crocoblock/suggestions/issues/4415), which is on the same subject so we could deal with it more efficiently.

[2022-04-18 12:54] UraraReika commented on #4634
https://github.com/Crocoblock/suggestions/issues/5222

[2022-04-18 12:54] #4634 closed, assigned to UraraReika

[2022-04-18 13:06] Michaelgimii commented on #5224
Will not be added to the plugin core in the future? Many users are unaware of this

[2022-04-18 13:08] 79ho3ein commented on #5221
+1
good idea

[2022-04-18 13:17] SpaceGoal opened #5227 "CrocoBlock - WPML - Translate Booking systém"
**This is write me support Crocoblock, when i ask for translate Booking/Pop up in Spa Templates**

​As stated before JetBooking Plugin cannot be translated and use on multilingual sites.

As much as we'd love to assist further with this, it is not something that we can resolve
Unfortunately, this is not possible yet, we do not have such functionality

I will pass this issue to the devs, and they w

[2022-04-18 14:00] edgBlw commented on #5206
Hi, yes. So i have a button on a single post that adds this post to the user favorite data store. I've placed a search filter for this data store listing, but i have one problem. If the user types in some data that matches a post that is not in the data store, there is no error message. it just happens nothing. this can be very confusing i think. and the other thing is, when the user clicks on the

[2022-04-18 14:08] stasonua0 commented on #1119
Added an ability with JetTabs 2.1.6 and JetPlugins Dynamic Data Addon 1.3.0 ( https://github.com/ZemezLab/jet-elements-dynamic-data )

[2022-04-18 14:08] stasonua0 commented on #1119
Added an ability with JetTabs 2.1.6 and JetPlugins Dynamic Data Addon 1.3.0 ( https://github.com/ZemezLab/jet-elements-dynamic-data )

[2022-04-18 14:24] UraraReika commented on #4862
We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please [contact](https://support.crocoblock.com/support/home/ ) our support team.

Thank you!

[2022-04-18 14:24] #4862 closed, assigned to UraraReika

[2022-04-18 15:28] Floydtm commented on #5212
You can change the order of uploaded files right now. Just try drag and drop the file

[2022-04-18 15:28] #5212 closed, assigned to nobody

[2022-04-18 15:32] Floydtm commented on #5213
I'm sorry that support couldn't help you. Please study this tutorial https://crocoblock.com/knowledge-base/articles/jetappointment-how-to-set-custom-item-templates-for-providers-and-services-fields/

[2022-04-18 15:32] #5213 closed, assigned to nobody

[2022-04-18 15:43] Floydtm commented on #5214
You better leave it here https://github.com/elementor/elementor/issues

[2022-04-18 15:43] #5214 closed, assigned to nobody

[2022-04-18 16:00] 79ho3ein opened #5228 "jet woobuilder add to cart bug"
When you click the Add to Cart button, the text "Product added to cart" is not displayed properly. In fact, it only appears and hides again for 1 second (so that the user thinks she has not yet clicked the button)
**Please watch the video below :**

https://user-images.githubusercontent.com/77163248/163835067-851dd25c-32d9-4692-899e-4109d2bd9158.mp4

(In the video above, the language of the websit

[2022-04-18 17:14] #5090 closed, assigned to Gawuww

[2022-04-18 19:16] Msirprism2 commented on #3965
Up ?

[2022-04-18 19:17] Msirprism2 commented on #2771
Yes, much needed.

[2022-04-18 19:18] snehasisripples opened #5229 "Ajax search widget shall have option to select links from meta fields."
Hello team,
It will be great if we can redirect our users to a specific link which will be present in meta fields rather than the only CPT single post page link.
I am facing this problem and I will be really happy if we can bring this feature to ajax search widget.

[2022-04-18 21:20] bbua97 opened #5230 "JetEnginge/JetWooBuilder - all-in-one account page"
**Please, describe the feature request, making it clear to understand.**

Just experienced the amazing possibilities of The JetEnginge ProfileBuilder and did some experiments with it. What I wanted to achieve is an all-in-one account page for a listing website and a WooCommerce store. I wanted to integrate the WooCommerce my-account page in the ProfileBuilder account page. If that would be possibl

[2022-04-18 23:00] bbua97 commented on #5195
Hey Oleksandr Rudyi,

thanks for having a look at it but I’m just wondering because the thread you merged it with is a completely different usecase, isn’t it?

Best regards

bbua97

Von: Oleksandr Rudyi ***@***.***>
Gesendet: Montag, 18. April 2022 14:52
An: Crocoblock/suggestions ***@***.***>
Cc: bbua97 ***@***.***>; Author ***@***.***>
Betreff: Re: [Crocoblock/suggestions] JetTabs & JetWooBuilde

[2022-04-19 00:36] muzKore opened #5231 "Adding a width % for meta fields and repeater fields"
Hey Crocoblock Devs

I was working with the repeater field and noticed that it has a %width for the field but the other top level fields and even the fields in the repeater do not have the ability to choose a width. Being able to set a width would make the form not take up some much space and especially i na repeater where there would be multiple records.

For example, in the image below, it would

[2022-04-19 00:45] zahnd commented on #5209
In addition, to use fixed numbers, it would be helpful to be able to change the unit. Let's say a string like "days" instead of the percentage sign.

[2022-04-19 00:50] zahnd commented on #2108
Hi. Please also add the unit's prefix and suffix fields to the progress bar :). Thank you

[2022-04-19 02:15] dangerjules opened #5232 "Load more feature isn't loading the current query"
Hello! I use the load more infinite scroll on my product category page and it was working fine until I came across this bug today. When I scroll the page to load more products, the products grid widget loads products from all the categories, not respecting the current query.

1. For example, this page is for the "dolls" category: https://lojahappytoys.com.br/categoria-produto/bonecas/
2. Scroll to

[2022-04-19 03:21] ALPSIT commented on #988
Yes please! it would be great to be able to upload custom SVG icon and select Normal, Active and Hover colours for Visual Radio and Checkbox filters.

[2022-04-19 03:27] ALPSIT commented on #988
![image](https://user-images.githubusercontent.com/85008592/163914185-8a1826c4-3cdc-4015-a72c-61bbbe9851ba.png)
This screenshot above is a bit misleading. There is no Icon Picker. Only Color Picker or Image

[2022-04-19 07:22] Floydtm commented on #5229
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-19 07:22] #5229 closed, assigned to nobody

[2022-04-19 08:42] EliasAAA opened #5233 "JetEngine Nested Repeater (like in ACF)"
allow nested repeaters like they do in advanced custom fields. Create and Display Nested Repeater (Repeater Inside Repeater)

[2022-04-19 09:17] Floydtm commented on #5232
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue. https://crocoblock.com/freemium/tools/ Also update the addon, maybe it will solve the problem. Let me know if this helped you.

[2022-04-19 09:19] UraraReika commented on #3916
Hello @hempaware !

Unfortunately we do not plan to introduce such functionality into our plugin. But you can use one of third party plugin solution like [this](https://wordpress.org/plugins/back-in-stock-notifier-for-woocommerce/). Or from official site like [this](https://woocommerce.com/document/back-in-stock-notifications/). Our plugin has all the compatibility functionalities and everything s

[2022-04-19 09:19] #3916 closed, assigned to UraraReika

[2022-04-19 09:31] UraraReika commented on #4416
Hello @GOHA81177 !

Unfortunately we do not plan to introduce such functionality into our plugin. Now our team is working on more priority tasks.

Thank you!

[2022-04-19 09:31] #4416 closed, assigned to UraraReika

[2022-04-19 09:38] 79ho3ein commented on #5228
In fact, it should be so :

https://user-images.githubusercontent.com/77163248/163975584-38806de6-c73a-4814-8531-f0b219cabd16.mp4

[2022-04-19 09:46] 79ho3ein opened #5234 "Sticky Add to Cart for jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

Custom Sticky Add to Cart feature can be very useful.

https://user-images.githubusercontent.com/77163248/163976833-0d76e7bb-66c2-4935-8284-fcb04cf6f195.mp4

thank you

[2022-04-19 11:48] 79ho3ein opened #5235 "Ability to display variables in two columns - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

It would be great if we could display the selection of variables in [two columns](https://prnt.sc/0T6hc1o2Dp8M).
Another important point for this feature is that there is a responsive feature to specify the columns in this section. For example, on the desktop the option to select variable is displayed in two columns, but on

[2022-04-19 12:54] mojtababouraghi commented on #2229
Hello
I also agree with the addition of this feature
please check it
is very important
Thanks.

[2022-04-19 13:01] UraraReika commented on #4618
The position of this element will stay the same. Every preset of this widget contain this element inside thumbnail wrapper so you can't move out of it.

In new version of this plugin some new controls will be able. None of control will be removed.

[2022-04-19 13:13] UraraReika commented on #4582
We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please [contact](https://support.crocoblock.com/support/home/ ) our support team.

Thank you!

[2022-04-19 13:13] #4582 closed, assigned to UraraReika

[2022-04-19 13:14] 79ho3ein commented on #4618
thank you

[2022-04-19 13:17] UraraReika commented on #4674
Unfortunately we do not plan to introduce such functionality into our plugin. But you can use one of third party plugin solution like [this](https://wordpress.org/plugins/pre-orders-for-woocommerce/). Or from official site like [this](https://woocommerce.com/products/woocommerce-pre-orders/) or [this](https://yithemes.com/themes/plugins/yith-woocommerce-pre-order/). Our plugin has all the compatib

[2022-04-19 13:17] #4674 closed, assigned to UraraReika

[2022-04-19 13:19] UraraReika commented on #4680
I merged this issue with [#4218](https://github.com/Crocoblock/suggestions/issues/4218), which is on the same subject so we could deal with it more efficiently.

[2022-04-19 13:19] #4680 closed, assigned to UraraReika

[2022-04-19 13:30] 79ho3ein commented on #4582
I will investigate more at the appropriate time. Thank you

[2022-04-19 15:23] josepn77 opened #5236 "JetBooking - Ability to Block Days/Dates Per Product/Room/Event."
I have some events that can be booked on Weekends only and some events on Weekdays only.
It would be great if we had the ability to block certain days (mondays, tuesdays, wednesdays, thursdays, etc) and dates (like April 30th or December 24th) per product.

This is needed because we have events that can be booked that are only hosted on Weekends (Saturday and Sunday) and events that are only hoste

[2022-04-19 15:42] josiase95 opened #5237 "External linking to Google drive"
Hi CB,

So instead of buying more space on your hosting provider, it would be nice if you could link your downloadable files back to Google drive and purchase space there instead. It's way cheaper 😊 Tried it with the audio player, but unfortunately that doesn't work at the moment.

[2022-04-19 18:13] Floydtm commented on #5237
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-19 18:13] #5237 closed, assigned to nobody

[2022-04-19 22:17] beamkiller commented on #1579
Hi @danielmachado77 . You can create a template override.

So for example in my case I wanted to add a second price which is the wholesale price to the grid.
So I did an overwrite in my child theme for this file:
`/wp-content/plugins/jet-woo-builder/templates/widgets/global/products-grid/item-price.php`
`/wp-content/themes/astra-child/jet-woo-builder/widgets/global/products-grid/item-price.php`

[2022-04-20 05:08] #826 closed

[2022-04-20 06:37] sergiofh2s opened #5238 "JetEngine:being able to MAP CUSTOM woocommerce products TERMS in forms in order to add custom product types"
Hello,

Actually, there is no possibility to **map Woocommerce product types** in jetforms
As product categories are mapped in the same column in the database (picture 1), it couldn't be hard to implement this feature.
Another possibility and more reliable could be: to be able to **map custom post terms** (picture 2 in blue)

Please could you implement this?
ps: pictures are only an HTML edition

[2022-04-20 10:38] Lonsdale201 opened #5239 "JetPopup - Not working with the new Elementor flex container"
The jetpopup cant open if, the trigger element inside the new Elementor flex container.

[2022-04-20 11:39] Michaelgimii opened #5240 "stop on hover for jet woobuilder Carousel (auto play)"
Please add this option, so that if the mouse is on the carousel, the carousel will not move automatically and stop.

[2022-04-20 12:56] 79ho3ein opened #5241 "Enable Woocommerce Templates Styles - jet woobuilder"
**Describe the bug**

hi

When I disable this option in the jet woobuilder settings, several interferences occur on the cart & checkout page. I wanted to ask if this interference is normal and must this option be enabled?
If there is a bug, i explain the interference.

[2022-04-20 13:02] UraraReika commented on #5144
Example 1 - Done.
Example 2:
[code]

For custom value output we provide filter hook `'jet-cw/template-functions/compare-custom-field/' . $field_key`. When you call this hook you need to replace `$field_key` with actual key like this `'jet-cw/template-functions/compare-custom-field/switcher-field'` `switcher-field` the key of switcher field. Take a note that this filter hook takes 1 parameter - val

[2022-04-20 13:14] mehdimoradi1500 commented on #4221
Thank you @UraraReika
I'm designing a website with JetWooBuilder and i need extra form to get some additional info, i wanted to use JetEngine or acf but...
We will be so thankful if a custom fields widget be added so we can make radio, select, check box and... Fields

[2022-04-20 14:21] tony-keller commented on #1314
+1 we face this issue too. Always keeps loading with no results, have to reload and hope..
@Crocoblock can we have a working update ?

[2022-04-20 14:26] tony-keller opened #5242 "Jet menu loader keeps loading with no result"
The bug was described in https://github.com/Crocoblock/suggestions/issues/1314
but no one seems to take care of it for a couple years.
This renders Jet menu unusable for my clients work.

What could be the reason ?

[2022-04-20 15:39] scott7414 opened #5243 "Populate Map Listing with Rest API Response Data"
Currently, they said this can only be done with Custom Post Types but I am pulling a list of addresses from a Rest API Call and want to populate the map listings based on that data.  I do not need a bunch of posts so it would be great if this could be implemented.

[2022-04-20 15:49] Rubendj1 commented on #4801
True! A few more operators to choose from would be handy too! for example "not equal to".

[2022-04-20 16:09] Rubendj1 opened #5244 "JetFormBuilder - Rounding up/down calculated values."
Hi Guys!

I'm kinda missing the ability to round up or down calculated values, could this be implemented?

Also, when choosing a stepsize for my formfields it is still possible to manualy input a number that is not a multiple of the stepsize I have chosen.

Thanks again and have a nice day.
Ruben

[2022-04-20 19:01] glorpyz opened #5245 "Feature request: responsive charts & easy styling."
Hi.
I have just started to explore JetEngine - Chart Builder.

It works but it uses fixed size which means that I either have to make the chart very small to make it readable on mobile,
or accept horizontal scroll, which looks bad with my design since the chart breaks out out from my windows.

My feature request is responsive charts.
And easier styling settings.

I think FitBit (health watches) ha

[2022-04-20 21:47] scott7414 opened #5246 "Ability to use Jet shortcodes or ACF's in Rest API plugin settings"
I have a membership site where the users enter their API keys and we store them on an ACF on the user profile.
We'd like to display dashboard analytics using the dynamic charts and tables for each specific user.

As of now you can only hard code in one API Key for and endpoints URL., We need that API key to be dynamic to the user so it displays only their data to them. If we could have a drop-down

[2022-04-21 02:16] nickhubhub opened #5247 "Show primary taxonomy in Dynamic Terms widget"
I choose more than one category/taxonomy
Can you add an option button for select primary category/taxonomy in Dynamic Terms widget?

[2022-04-21 07:25] UraraReika commented on #5240
Hello @Michaelgimii !

We use the same carousel library `Swiper` as Elementor. Elementor use not the last version of this library and this version doesn't have this option yet. When Elementor update this library we will make this option.

[2022-04-21 07:25] #5240 closed, assigned to nobody

[2022-04-21 07:26] UraraReika commented on #5241
What option?

[2022-04-21 07:50] Floydtm commented on #5247
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-04-21 07:50] #5247 closed, assigned to nobody

[2022-04-21 08:10] 79ho3ein commented on #5241
[This](https://prnt.sc/hcWCXrLnsyoD). I mentioned in the title

[2022-04-21 08:24] 79ho3ein commented on #5241
If we disable this option, the following bugs will occur :

- In the shopping cart, [borders become thicker](https://prnt.sc/dcqLIl_3PHQC).
- The apply coupon button is [moved to the opposite side](https://prnt.sc/Cy9iyY-0AS0x). (RTL)
- If we enable auto-update for the shopping cart, [the update button will appear again](https://prnt.sc/RZameKGq0R-s).
- On the payment page, only the border in the

[2022-04-21 08:45] UraraReika commented on #5241
We recommend keep this option enable. So if it enable then plugin enqueue styles to make custom pages widgets look more  consistently.

[2022-04-21 08:45] fostira commented on #2307
How can we make this happen? ++100000