[2021-06-28 12:51] #3549 closed, assigned to nobody

[2021-06-28 12:58] Floydtm commented on #3550
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-06-28 12:58] #3550 closed, assigned to nobody

[2021-06-28 13:01] mrhossein opened #3564 "JetWooBuilder - Add to cart floating sticky"
Hello.
A great feature for creating product pages is the Add to Cart button that sticks to the bottom or top edge of the product page all the time while scrolling the page, and whenever the user is satisfied with the description, he can click on the Add to Cart button.

[2021-06-28 13:12] Floydtm commented on #3551
We've checked your request and everything seems to be working well. If you still have a problem, we recommend that you go to our support team to solve it

[2021-06-28 13:12] #3551 closed, assigned to nobody

[2021-06-28 13:21] Floydtm commented on #3552
Right now you can add custom meta boxes for products using the jetengine plugin. Thank you!

[2021-06-28 13:21] #3552 closed, assigned to nobody

[2021-06-28 13:29] 79ho3ein commented on #3551
Thank you

[2021-06-28 14:16] Floydtm commented on #3556
You need to set up a rest api query https://prnt.sc/17ak1z0 Also check out this tutorial https://crocoblock.com/knowledge-base/articles/jetengine-how-to-display-custom-content-type-items-using-rest-api/ https://prnt.sc/17ak9f4

[2021-06-28 14:16] #3556 closed, assigned to nobody

[2021-06-28 16:57] perks98 commented on #3556
Hi @Floydtm,
Unfortunately that doesn't work, the JSON feed mentioned isn't created with your CCP, it is a supplier JSON feed. I guess your plugin can't work with it... I was hoping to create a feed without having to import data.

[2021-06-28 17:22] nreljed opened #3565 "🔥[Jetengine] Advanced Shortcode Generator"
hello friends,

I still have difficulty in solving this enigma since it includes a price and its currency and period

Jetengine Shortcode Generator saves my life but ... something is missing ...
term field shortcode

Demonstration

Until now I had to use two widgets which I find not very optimized and no longer suit me..

![before](https://user-images.githubusercontent.com/82481592/123675674-ea90e

[2021-06-28 19:00] juanisidoro commented on #1084
Looking forward to seeing this!

It is very important to remember if we make forms for the front end and use Checkbox:

- If we send variables using a checkbox form (in frontend). All variables must be submitted.
- If we use a checkbox we cannot activate each option independently.
- If we only send one. The checkbox will fail.

In other words, we cannot send some "option-value" of the checkbox and

[2021-06-28 19:46] danielemuscia commented on #2135
+1

[2021-06-28 19:48] danielemuscia commented on #2151
+1

[2021-06-28 22:38] developernerds commented on #2061
PLEASE add a choice to show only the current user's posts in a dynamically populated select or checkbox field where you can show posts! I am trying to let users relate posts themselves and they can relate them to anyone's posts and that is NOT what I want. Or just tell us how to add a filter or function to force it to do that. I tried one of the add-ons that I thought was for that, but it didn't w

[2021-06-28 23:54] 4elementsme opened #3566 "Adding pictures of the Author in Jetblog listing"
Hi there,

In the regular blog listing of elementor, we can add the picture of the author of any post in the blog listing.

Right now in Jetblog, we can only see the name and a generic user icon.

I'd really like the option to add the picture of the author for blogs with lots of collaborators.

example: https://snipboard.io/tUFgQ9.jpg

Thank you

[2021-06-29 02:29] TomEbeyer opened #3567 "JetEngine Form: Image crop and resize on upload"
It would be wonderful if JetEngine Forms had the ability to crop and resize images upon front-end user upload.

**Reason:** we use the JE form so users can edit their profile, built by JetEngine. Users upload their images but they are often the wrong aspect ratio. I would love to force a 1:1 crop in a lightbox (similar to how FB or Twitter would force a crop) and then resize the file to save bandw

[2021-06-29 07:06] MaryGr opened #3568 "Show description(option) in portfolio lightbox"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2021-06-29 07:09] MaryGr commented on #3568
While gallerys show descriptions (text below image) in lightbox by default, it isn't the case in portfolio lightbox. I would like to have that option too, since portfolio makes mote beautiful galleries. So that would be my request.

[2021-06-29 08:12] aboutalexg opened #3569 "Post Carousel without post link in the thumbnail and title"
I'would like to have a post carousel and disable the link that goes to the post.
(the link is on the feature image and on the title) is it possible to disable this functionality ?
Let me know how to do it

[2021-06-29 08:19] 79ho3ein commented on #3559
Thank you🙏🏻🌹
The product features section (except for the title) has italic code by default. https://prnt.sc/15q4ffx
Please fix this problem if possible.
Thanks

[2021-06-29 08:42] Floydtm commented on #3557
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-06-29 08:42] #3557 closed, assigned to nobody

[2021-06-29 09:00] 79ho3ein commented on #3557
thank you

[2021-06-29 09:04] Floydtm commented on #3561
You can use it right now https://prnt.sc/17fo1jh

[2021-06-29 09:04] #3561 closed, assigned to nobody

[2021-06-29 09:08] 79ho3ein opened #3570 "Several requests to improve the interface of variable product selection, in the jet woobuilder plugin. Please check"
hello
I think jet woobuilder is the most powerful plugin for editing and building WooCommerce pages. But it also has its drawbacks, and it is better to work on improving it. One area that desperately needs improvement is the variable selection section.
Currently, the variable selection section in this plugin is extremely simple and does not have a suitable user interface.
I have a few requests to

[2021-06-29 09:08] #3516 closed, assigned to nobody

[2021-06-29 09:25] Floydtm commented on #3556
Now I understand you, unfortunately we cannot guarantee that this will work. Alternatively, you can contact our support team to send your request to the developers. However, I cannot guarantee that this will work. Thank you!

[2021-06-29 09:35] perks98 commented on #3556
No problem, thanks for looking at the request anyways. Maybe as a feature request if your plugin could accept external feeds like REST API, JSON, XML, CSV from URL/HTTP request and FTP file access that would be superb for some of my advanced customer basis.

Thanks 👍.

[2021-06-29 11:16] lifeact commented on #3565
follow

[2021-06-29 12:23] Jackal-un commented on #3414
The only way to fix this now is to change the notification file in modules>CCT>forms. Change that file with a file from an older version 2.8.0. for example.

[2021-06-29 12:54] Labona opened #3571 "JetForms, attach file and URL generation should be only for admins"
I created form by using JetForms and there is 'attach file' feature so you can attach there example your CV.
The system will generate the URL for the file and send it through email.

I tryed to click this URL on incognito browser (so I am not logged in as admin) and I could see the file.

I feel this is security risk, usually the files we attach are not meant to be for everyone. Even for search en

[2021-06-29 13:41] Floydtm commented on #3570
Dear @79ho3ein Stop duplicating your requests, you already wrote about this earlier. What the developers can do, but understand that not everything depends on us. Thank you!

[2021-06-29 13:41] #3570 closed, assigned to UraraReika

[2021-06-29 14:15] ihslimn commented on #3414
This behavior is not a bug, but a bugfix.
Prior to the update anyone - for example - could edit CCT items through the form with pre-set from the query variable.
This was reported and fixed, as this was a security issue.

You may contact support and explain in more details why is there a need to let users edit others' CCT items.
Maybe there is some workaround, or it is possible to change the way yo

[2021-06-29 14:20] Gitmarcc commented on #2361
+1

[2021-06-29 14:22] neoset opened #3572 "🔥 [Jet Engine] Woocommerce fields in CPT Support"
Hello guys, my recommendation is a functionality that does not exist in any other plugin, a real need that will allow to extend the functions of Jet Engine much further.
My idea is regarding Jet Engine / Post Types / Add New Post Type / Advanced Settings / Supports.
In Supports the Woocommerce fields would be added and thus support would also be offered to these fields: Product Data, Product Image

[2021-06-29 15:38] 79ho3ein commented on #3570
@Floydtm
I'm sorry...  I apologize for sometimes duplicating. I understand your answers with translation and that is why sometimes duplicate is created.
But anyway, I have a question for you dear developers. This is a question that many users of this plugin ask.
Does jet woobuilder have a plan to improve the user interface of the variable part of the product?

[2021-06-29 17:32] wbrobston opened #3573 "onClick actions not working when lazy loading listing grid"
I have an onClick JQuery action triggering on click of a class contained in a lazy-loaded listing grid. the onclick action works when not lazy-loaded, but fails when lazy-loaded.

Steps to reproduce the behavior:
1. apply jquery onclick action to a button inside a listing
2. display listing grid
3. lazy load listing grid
4. onclick action fails

**Expected behavior**
onclick should work weather la

[2021-06-29 18:20] johannbt opened #3574 "Smart filter, calendar translation into different languages"
Hello Crocoblock and the github community
![screenshot_271](https://user-images.githubusercontent.com/86682493/123847732-3749f100-d917-11eb-9a95-a5a4594495be.png)

it's about the calendar, day names and month names
Filter Type "Date Range" and "Date Period"

I made a screenshot for a "Date Range" calendar, for example.

Thank you and I would be happy if you give us the opportunity to translate the

[2021-06-29 22:27] mamierdo opened #3575 "Smart Filters - Conditional Display"
Hey, can I create taxonomy filters in relation. First I need to show the cities, then I need to show the counties that are associated with the city the user has selected. (Note: I have cities, counties and neighborhoods taxonomies) Basically I need conditional rules and relations in filters. Is there any way to do that with jet-sf? Code or any other plugin?

[2021-06-29 22:46] 79ho3ein opened #3576 "Ability to "Show more" in the single content & Single Excerpt widget.(jet woobuilder plugin)"
hello
I once had this request in # 3559 for another widget. But I forgot to request this for the single content & Single Excerpt
 widget there as well.

Similar example:
before clicking : https://prnt.sc/17jcoid
After clicking : https://prnt.sc/17jcvum
Single Excerpt : https://prnt.sc/17mw4a0
In the images above, users are set to see only 7 lines of content as a preview. If they want to read more,

[2021-06-29 23:05] 79ho3ein opened #3577 "Request to increase the performance of single meta widget.(jet woobuilder plugin)"
hello
The single meta widget is one of the most important widgets on the product page.I have two suggestions for improving this widget. Please add it to the plugin if you wish.

1- Ability to edit meta title text : This feature is very important. The feature is now available in the Meta WooCommerce widget. Great if you add it to the plugin : https://prnt.sc/17jfxnj

2- It will be great if you add

[2021-06-29 23:23] Hammer-ger opened #3578 "Add sql to Post-submit Action in Forms"
Hello,

it would be great to have the opportunity to edit, create and delete sql data via post-submit actions in forms, like insert/update post.

Best regards,

Maximilian

[2021-06-29 23:27] Hammer-ger commented on #1833
@KHRifat

it is possible via logical conditions. you can hide the submit button, if a booking is smaler then 2 days.

[2021-06-29 23:41] GerardoZenteno commented on #2822
+1

[2021-06-29 23:44] GerardoZenteno commented on #2735
+1

[2021-06-30 06:24] uriklar commented on #1953
@petranca Hi! Do you remember what the solution for this was? I'm using jet engine gallery and my icon doesn't appear. I tried putting an icon box on the page with the same icon but it still won't appear inside the jet plugin.
Thanks!

[2021-06-30 06:42] uriklar commented on #1953
For anyone getting here, this is how I solved it (jet engine was using the wrong font family)
[code]

[2021-06-30 06:57] kaskad88 commented on #3573
Hi @wbrobston, try to use the following code:
[code]

[2021-06-30 09:05] mehdimoradi1500 commented on #3552
Hi
Unfortunately, there is no option to achieve it. i want to add a field
(meta box) in front end of single product page
I attached the picture,
It will be so good if u add this option to jetwoo or jet engine

On Mon, Jun 28, 2021, 5:51 PM Floyd ***@***.***> wrote:

[2021-06-30 09:14] #3414 closed, assigned to nobody

[2021-06-30 09:36] UraraReika commented on #3577
1 - It can be style separately
2 We will not add this feature.

In nearest update with the help of JetEngine and dynamic tags functionality you will be to achieve needed results.

[2021-06-30 09:36] #3577 closed, assigned to nobody

[2021-06-30 10:13] 79ho3ein commented on #3577
thank you

[2021-06-30 12:16] coversil commented on #2683
Were you able to work with jet filter or any other ajax filter?
When I use the filter and then scroll down it reloads all the products :(

[2021-06-30 12:17] coversil commented on #3316
I would love to know if you have found a solution ..
Were you able to work with jet filter or any other ajax filter?
When I use the filter and then scroll down it reloads all the products :(

[2021-06-30 12:56] UraraReika commented on #3576
Use this widget https://crocoblock.com/widgets/unfold/ in combination with dynamic tags functionality.

[2021-06-30 12:56] #3576 closed, assigned to nobody

[2021-06-30 13:21] P-happiness commented on #3316
Hi, unfortunately nope!
I have the same problem, and I'm still waiting for an update...
For now I removed filters in my shop pages rather than use classic pagination, witch really sucks to me...
I'm no happy with that (so to speak!!!)
They added this topic to Milestone but It seems there's no roadmap for this feature yet...

[2021-06-30 13:28] 79ho3ein commented on #3576
thank you dear @UraraReika
excuse me... I have already made two suggestions for improving the jet woobuilder plugin, these requests are still open.
#3077 & #3078
May you review it again? Will you add them to jet woobuilder in the future?

thank you 🌹

[2021-06-30 13:36] 79ho3ein commented on #3316
I do not think we will see this possibility soon in the jet smart filters plugin. But apparently the developers of jet woobuilder plugin are trying to add this feature to their plugin. See in this issue. 3436

[2021-06-30 13:47] kaskad88 commented on #2916
Added to the JetBlocks 1.2.9

[2021-06-30 13:47] #2916 closed, assigned to Gawuww

[2021-06-30 13:47] kaskad88 commented on #3049
Added to the JetBlocks 1.2.9

[2021-06-30 13:47] #3049 closed, assigned to Gawuww

[2021-06-30 15:38] #2935 closed, assigned to nobody

[2021-06-30 16:47] xtofr commented on #3470
Plus + 1
very interested in adding the possibility to export/import glossaries.
2 aspects :
between dev & live site
I'm declining the same scheme of site in several fiels of  a university, so it is of particular interest to re-use glossaries
Thanks and congrats :)

[2021-06-30 16:52] damenvaz31 commented on #1818
I'm trying to replicate your example but i can't make it work it out, i don't now why some times it worked and some times it doesn't write the additional service variable. Where did you put your script?

[2021-06-30 17:39] Willitbang commented on #1354
+1

[2021-06-30 18:27] DrPine opened #3579 "Support for Brizy Page Builder - Trying to use JetAppointment Form through the provided shortcode"
I really want to be using Brizy as my page editor.  I do like it a bit more than Elementor, I know Elementor can do more I just don't need everything Elementor has to offer and I already have a lifetime license for Brizy.

The main functionality that I'm currently missing is with JetForms.  I used the JetAppointment plugin and it created a template form for me.  I went to use the shortcode within

[2021-06-30 18:58] slobodandzebo commented on #1818
Put script in html element under Booking Form.

[2021-06-30 19:12] damenvaz31 commented on #1818
No luck either. I'll be continue trying!!!!

[2021-06-30 22:13] damenvaz31 commented on #1818
It works! Thanks a lot! Just to the community knowledge check first your elementor ID for the price, in my case it was different from @slobodandzebo ID.
Just inspect your element to get the ID:
<img width="238" alt="Captura de Pantalla 2021-06-30 a la(s) 17 09 59" src="https://user-images.githubusercontent.com/4359850/124038016-17253b00-d9c6-11eb-8ccc-37144376715f.png">
So, after this my variable

[2021-07-01 00:19] pixallusdev opened #3580 "Jetengine user registration doesn't respect Limited Email Registrations in multisite"
HI,

I have added one domain to the Limited Email Registrations in multisite settings. When I try to create a new user in Wordpress dashboard, it only allows users who's email address matches that domain. This is desired. However, when using Jetengine user registration form, any email address is accepted and the user is created. We would like Jetengine user registration to respect Limited Email Re

[2021-07-01 00:43] pixallusdev opened #3581 "Jetengine - Dynamic Color on Checkbox Smart Filter"
I’ve created taxonomy, added color picker meta field to it, assigned some colors to categories, created checkbox filter, and tried to assign dynamic color to the filter but it seems it doesn’t work.

I was able to set dynamic color on the listing item titles and custom fields. But it’s not working on smart filter.
Here’s a short video
https://www.berrycast.com/conversations/25837b58-0878-5bfa-a02b

[2021-07-01 02:48] nickhubhub opened #3582 "Import csv to Glossaries"
I suggest supporting CSV and import that to glossaries.

[2021-07-01 08:05] serg-pervushin opened #3583 "JetEngine: creating shared options pages for a multisite"
I'm deploying a multisite. All subdomains will be a copy of the main site, but for different cities. When creating option pages, I would like to make them common for all subdomains, so that the correction on one page corrects the data on all domains.

I don't think that this is often necessary for someone, but still...

[2021-07-01 08:55] mehdimoradi1500 opened #3584 "product adds on (jet woo builder or jet engine)"
hi Unfortunately, there is no option to add notes while buying (advanced paid or free options in our products page using field types including radio buttons, checkboxes, drop-down fields, custom text inputs and more)

- It will be so great to add these options:
1. https://woocommerce.com/products/product-add-ons/
2. https://yithemes.com/themes/plugins/yith-woocommerce-product-add-ons/

- I have at

[2021-07-01 10:01] IgorDark opened #3585 "JetBlocks: Add custom url option to Cart widget"
Currently there are only 2 options.

- show slide in offcanvas cart
- dropdown list

Can you add simple option to insert any custom url. When user clicks on cart icon he will be redirected to specific page you've inserted.

[2021-07-01 11:23] mamierdo opened #3586 "Query Builder Results Count doesn't work on Charts Widget"
**Describe the bug**
![Screenshot_1](https://user-images.githubusercontent.com/85243705/124115642-b86bca00-da76-11eb-8634-1636d098e485.png)
I have a query that pulling all published posts. On elementor I can display Query Results dynamically with title, icon-list or text-editor etc. But if want to display it as a chart data, it's not showing up.

![Screenshot_2](https://user-images.githubuserconte

[2021-07-01 11:58] Haim6130 opened #3587 "Adding "Avoid Duplicates" feature to Listing Grid widget"
Hi,

Can you please add "Avoid Duplicates" feature for Listing Grid widget?
I have multiple listing grids in the same page and I need them to show posts only one time.
This feature is existing the the Elementor Pro Posts widget, and it must to have also in a Listing Grid.

Related issues:
https://github.com/Crocoblock/suggestions/issues/1495
https://github.com/Crocoblock/suggestions/issues/2789

T

[2021-07-01 13:10] ZemezLab commented on #2584
Added in the JetTabs 2.1.13

[2021-07-01 13:11] #2584 closed, assigned to Gawuww

[2021-07-01 14:03] kaskad88 commented on #3282
Added in the JetTricks 1.3.8

[2021-07-01 14:03] #3282 closed, assigned to Gawuww

[2021-07-01 15:43] Medeon-68 opened #3588 "Sort option in JetSmartFilters"
It is definitely necessary to add a sorting option in the appropriate JetSmartFilters filters, by name, number, ascending and descending ... I don't think it would be a problem to add it to one of the new versions of the plugin.

[2021-07-01 15:44] wbrobston commented on #3573
thanks @kaskad88 successfully resolved

[2021-07-01 15:44] #3573 closed, assigned to nobody

[2021-07-01 16:17] Medeon-68 opened #3589 "JerSmartFilters - Sorting filter - Sort list"
By default, the Sorting Filter sorts the Listing grid by name. It would be a good idea to allow one of the options we add to the Sorting list to be selected for the default sort. Just a simple check box, quite enough.

[2021-07-01 16:25] wbrobston opened #3590 "JetPopups preloading in the background causing significant page load delay"
I have a page with 3 JetPopups that are triggered on click of different listing buttons/elements. Each popup is set to force load with ajax each time the element is clicked, because there are multiple listings on the page. One of the dynamic fields contained in the popups is "post content", which in the case of clicking the listing, is just a small amount of text.

These popups are preloading at t

[2021-07-01 18:00] ghostdragon546 opened #3591 "Make Tabs Have Links"
I have a client who really wanted the tab control to also have links attached to them. I currently have the tab controls on the left side, displaying a template on the right side on hover. However, they want to have the tab control also link to other pages on click, which is currently not an option.

[2021-07-01 21:20] sciam-digitalmedien commented on #3471
Well the only reason I posted this issue here is the support team: I tried to explain the issue twice and both times they asked me to post it here ....

[2021-07-01 21:31] sciam-digitalmedien commented on #3471
Thank you Marius for your input. Well as far as I understand/checked the bestcarwash.de might not be the best example, because resources from google are loaded even before I pressed the accept-button in borlabs. The map was blocked (with the boralbs overlay) but - at least in my tests - google showed up in the chrome developer tools as a ressource.

Nevertheless the wp-google-map-plugin might be a

[2021-07-01 21:58] MolyMalon opened #3592 "JetTabs - Essential function that other plugins have and this one does not."
Hi, I've been using JetTabs for a while.
I have created a "My Account" page with this plugin, and I see that I have to pull other plugins to perform an essential function that JetTabs is missing.
It would be great if each tab could be assigned to one or more user roles. Example:
Tab 1 = Subscriber
Tab 2 = Author, Editor
Tab 3 = Author, Publisher and Subscriber

Yith has the Custom my Acount plugin

[2021-07-01 22:01] MolyMalon commented on #3592
It would be great if conditional logic was added to each tab, starting with user roles. If you are not an author you cannot see this tab, if you are not a subscriber you cannot see this other tab, etc ...

[2021-07-02 00:00] breakused commented on #1833
Good idea. What value do you take for days? Thank you!

![1](https://user-images.githubusercontent.com/37920259/124201267-dfa6b380-dad7-11eb-86f4-95d48ba40a2c.png)

[2021-07-02 06:00] keet789 opened #3593 "JetEngine - Save post as draft or submit draft post to pending in one click"
Hi Crocoblock,

As one of the strongest features, the front-end submission form is THE reason why I bought Crocoblock plugins. It's very powerful, but I think there's a quite basic feature that needs to be improved.
Users need the option to **save a draft**. It's crucial to posting online.

It's possible to build this option with what we have right now, but it's too much work.
First, in the post-s

[2021-07-02 06:07] AT4MO opened #3594 "Dynamic Field - Responsive Columns"
I would like that in the dynamic field widget, the number of columns could be responsive
![dynamic](https://user-images.githubusercontent.com/69142071/124228230-e59d9400-dad9-11eb-8426-014c63a68c51.png)

[2021-07-02 06:19] keet789 commented on #3593
Plus, sometimes users may want to submit the post right away, so it's necessary to have both "save draft" and " submit post" buttons in the "add new post" form.

[2021-07-02 08:58] PatriceFo commented on #3489
Hello,
What information do you need ?
the problem come from the fact that when using the "Media field" i cannot add a media from URL. It is a default wordpress capability that we can retriew on another filed you've got : the "Wysiwyg filed", if i click on add media in it, i will  have, this time, the capcity to add form url the media (pointing on a url like youtube video or else).
Why there is suc

[2021-07-02 11:15] VinT08 commented on #2991
+1 I am looking for the same functionality too.

[2021-07-02 14:46] sk117 commented on #2216
I have the same problem, still no update or workaround?

[2021-07-02 20:04] restre commented on #931
I support this too, it's needed!

[2021-07-02 20:06] restre commented on #1195
Same here, very interested in having this feature!

[2021-07-02 21:45] Nedo90 commented on #2632
I have the same problem. On several websites I have media-downloads with a headline over each, which should be hidden with dynamic visability if no content is included. This would definitely be an important option to dynamically show and hide all dynamic content fields including dynamic repeater fields.

[2021-07-03 01:59] cbwstudios commented on #1492
+1

A color picker is essential for things like web intake forms.  In my case, a web designer who automates a project intake Jetform that captures the client's website details, images, logos, media, and **>brand colors<**. Then sends it along to a webhook that captures/creates/updates the data back into my CRM and Projects apps. Please add a JetForm color picker field.

[2021-07-03 02:56] Lonsdale201 commented on #3592
+1

[2021-07-03 05:09] Fuquan999 opened #3595 "How to Guide Multi Vendor Store Using Crocobloc Tools"
**Before adding a new feature request, please, make sure you’ve checked:**

Dear Customer Service,

Although I can guess you are probably inundated with feature requests if in the near future something such as a guide on how to put Crocobloc tools to some serious use in designing a Multi Vendor Store where customers can manage their own storefront  from scratch that would be one heck of an appreci

[2021-07-03 07:47] SchneiderSam commented on #968
+1 oh yes. Would be a game changer

[2021-07-03 11:19] ConsultMePL opened #3596 "JetEngine + Grid Gallery => Lack of possibility to set ratio for images"
Hi,

With JetGridGallery follows pretty much a default's Elementor gallery, apart from one crucial function: ability to set different ratio for images.

If I create w CPT with galleries and want to display them on the front end, the only way to keep same ratio for images is to you Post Thumbnail 300x300. The issue with this one is that its 300x300 so very low quality. When you have a gallery with

[2021-07-03 12:45] 79ho3ein opened #3597 "Custom width for single attributes widget title. (jet woobuilder plugin)"
https://prnt.sc/189dxoy
If possible, please add a feature to the single attributes widget title section so that we can customize it.
Because in the current situation, if the title is a little long, the title is displayed in two lines, which does not look interesting.

Also, if possible, please add a feature so that we can put space between rows and columns. Just like the image above where there is

[2021-07-04 13:46] hepto7 opened #3598 "JetSmartFilters - Ability to have dynamically calculated fields in results, with ability to sort on that dynamic field"
Hi,

A client of mine has following request which - for the moment - I cannot realize with Crocoblock (JetEngine + JetSmartFilters).

Situation: the client has a site where he offers vacation home rentals. For each house, there is a price per night, depending on the period of the year. For example:
Rental 1: 120 from 1/1 to 30/6, 180 from 1/7 to 30/9, 130 from 1/10 to 31/12
Rental 2: 90  from 1/1

[2021-07-04 14:39] henriq-rolim opened #3599 "Select field display cct table information"
In the form, have the option in a select field to list information from a custom content type table

[2021-07-04 16:12] MarshallWJY opened #3600 "Adding colour picker as a Field Type in Jet Engine Form"
**Adding colour picker as a Field Type in Jet Engine Form**

For users that is trying to create a front-end form to update the color picker in CPT.

[2021-07-04 16:13] MarshallWJY commented on #1492
+1

[2021-07-04 17:59] #3513 closed, assigned to nobody

[2021-07-04 18:01] #3379 closed, assigned to nobody

[2021-07-04 18:06] danielhoegel opened #3601 "JetEngine: List all users from a Data Store for a specific post"
**Describe the bug**
If I want to display all users from a data store for a specific post I get for every post only a list of those users who added the first post to the data store.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Data Store (store type: User Metadata)
2. Create a Listing for a user (e.g. with a username field)
3. Create a Listing for a Custom Post Type with a Dynami

[2021-07-05 06:39] honlapdavid commented on #2660
+1

[2021-07-05 09:20] aksamitnaya opened #3602 "JetWooBuilder: Stock Status for Single Product"
В блоке с кнопкой корзины надо сделать возможность отключения элемента Stock Status. В этом блоке/виджете идут вместе очень много элементов. Было бы неплохо их разделить на отдельные виджеты для более гибкой настройки макета карточки товара.

В стандартном шаблоне WC элемент Stock Status выводится немного странным образом. Через хук его не отключишь - можно только закомментировать, хотя, может я ч

[2021-07-05 09:22] 79ho3ein commented on #3597
Thank you🌹

[2021-07-05 09:37] MathiasVignes commented on #2401
+1 stripe payment gateway or woocommerce

[2021-07-05 09:52] MathiasVignes commented on #3465
+1

[2021-07-05 12:14] mehdimoradi1500 opened #3603 "Verifying code for phone number/ email login and registration"
Hi crocoblock team,

I want to design a login/register form for my website and use OTP verifying code by entering phone number or email.
But unfortunately i did not see such a functionality in jet form builder or other Jet Plugins
It will be so great to add this  option yo jet form builder? Yes?

[2021-07-05 12:53] #3217 closed, assigned to SargasTM

[2021-07-05 13:45] 79ho3ein opened #3604 "Preload WooCommerce images in the jet woobuilder plugin."
It would be great if we could preload all the WooCommerce related images using jet woobuilder. This dramatically improves the performance of the website.
It would be great if the WooCommerce image preload feature could be added to the general settings of the jet woobuilder.
I tested it and it worked great.
For a better understanding, please check the code below.

function lcp_wc_preload_product_im

[2021-07-05 15:15] ombres-et-lumieres opened #3605 "Jetformbuilder and paypal"
Yesterday, i saw a YouTube demo by wptuts about the new possibility: the connection with paypal.
To do that, he uses as example a membership payment. But, the new option allows just single payments and not recurring payments, as it should be on a membership site.

The actual option is useful if I have a few things to sell, but most of the time people will use woocommerce, as it is free.

I think a

[2021-07-05 20:40] osamaaminaziz opened #3606 "New product grid preset (Jet Woo Builder)"
hello,

I need to request new product grid preset that use the wishlist & compare with the product content
https://share.getcloudapp.com/7KuoWYbZ
& adding the order feature to it so I can order it like the title and button.. etc
https://share.getcloudapp.com/eDuyENjQ
this will help us making other designs like this
https://share.getcloudapp.com/nOuPLqoq

Thanks

[2021-07-05 20:56] tizum opened #3607 "Show widgets in use in JetPlugin settings for All JetPlugins"
I would like to have the possibility to identify which widgets were used after developing the project, so that in the next optimization step, this information could be checked on the Panel and the widgets that were not used would be disabled.

![image](https://user-images.githubusercontent.com/6773491/124517395-3d7a1a80-ddba-11eb-8ad0-b770c8d789bd.png)

[2021-07-05 21:16] tizum commented on #107
This is a suggestion to improve performance when clicking on an action where the popup content will be dynamic...

For example:

If it is a woocommerce product, the loading of information is very slow.

If it is a dynamic content made with CPT the same problem also occurs.

Thanks, JetPopup is awesome, keep improving this plugin.

[2021-07-05 21:19] tizum commented on #3564
Very good this suggestion, it will be a great resource.

[2021-07-05 21:24] #3604 closed, assigned to nobody

[2021-07-05 21:57] 79ho3ein opened #3608 "Jet woobuilder compatibility with elementor tab widget."
hello
Great if you make the Jet woobuilder plugin compatible with the elementor tab widget. If you add this feature, we can design a much more attractive single page with jet woobuilder. In this case, we can display single page content, such as comments, features and product descriptions in the tabs(Then we can have a much better personalization.), and this would be great. Like this picture : http

[2021-07-06 02:14] its4youb opened #3609 "Jet Engine Form - ability to get the IP address"
Hello Crocoblock team.
My suggestion is to create a new field option in the forms to get the IP address from those who are filling out the form, or even create a new field in the forms to be possible a HTML command.

[2021-07-06 02:17] its4youb commented on #3582
+1

[2021-07-06 06:58] Kimantu opened #3610 "Add feature to add dynamic icon or svg file in all dynamic fields"
Add a feature to add a dynamic icon or SVG file in all dynamic fields.

![Untitled](https://user-images.githubusercontent.com/22232346/124556153-92b73a00-de55-11eb-9710-0617a54f9649.png)

[2021-07-06 09:35] 79ho3ein opened #3611 "Ability to preload all WooCommerce images in the jet woobuilder plugin."
Please add a feature to jet woobuilder so we can preload all WooCommerce images. This great feature has a positive effect on the performance of the website. I tested it using a plugin and it worked extremely well.
This will be a very important feature for sites where all WooCommerce pages are built with Jet woobuilder.
If this feature is added to the woobuilder jet, it would be great. If it needs

[2021-07-06 10:07] razkoko1 commented on #3605
Hey!
Same need here... Its awesome option, but when combined with the option to make recurring payments its open new world of opportunities!!

[2021-07-06 11:58] NicolNekesa opened #3612 "Jet Engine (listing) - Jet Booking seasonal prices + half days"
It would be more than great to have the option of seasonal prices at Jet Booking/ Jet Engine (listing). A basic and key feature for accommodation or car rentals + the possibility of booking not a whole day but a half-day (for example booking from Friday noon a Wednesday noon).

Thank you.

[2021-07-06 12:59] wbrobston opened #3613 "Meta Boxes missing from Meta Box List"
**Describe the bug**
I have 5 meta boxes configured and have been tinkering with them over the last few months. In the past week they are not longer listed in the Meta Box List for editing. I am running WP 5.7.2 and JetEngine 2.8.5.

How can I get them listed back here for editing?

**Screenshots**
<img width="1280" alt="Screen Shot 2021-07-06 at 8 55 03 AM" src="https://user-images.githubusercont

[2021-07-06 15:03] zonerap commented on #346
+1

[2021-07-06 15:33] WebStudioNW commented on #3547
Definitely a much needed option, also should be simple to implement too on the date selector

[2021-07-06 15:38] Technoh commented on #2436
I would also like to have this feature.

[2021-07-06 15:50] WebStudioNW commented on #3612
This is a basic feature that is required for any booking system, some dates are more expensive that others, in the UK we have Bank Holidays and weekends which are always more expensive than regular mid week bookings

[2021-07-06 15:58] shafqatkhan60 commented on #220
Any update on this? @kaskad88

[2021-07-06 16:14] NicolNekesa commented on #3612
You are right. I just received an email, that this feature is not possible with Jet Engine/Booking so I made this post. Hopefully, they will work on it. Because otherwise, it is one of the best features (Jet plugins) for Elementor.

[2021-07-06 22:31] 79ho3ein opened #3614 "Issuance of purchase invoice, in Jet woobuilder plugin."
hello
Invoice issuance is one of the most important services of a website. If it is added to the jet woobuilder, it will be extremely great and practical.
There are several plugins for Issuance of purchase invoice. But due to the increasing development of elementor and jet woobuilder, many sites use elementor. If jet woobuilder adds this feature, it will easily beat all competitors.
Example of Woo

[2021-07-07 00:53] bjc999 commented on #1970
+1

[2021-07-07 04:49] Surgeonito opened #3615 "Multiple tags for Smart Posts List"
wp-content/plugins/jet-blog/includes/addons/jet-blog-smart-listing.php:6494 in \Elementor\Jet_Blog_Smart_Listing::_post_terms

[code]

This code prevent from showing all the terms from a taxonomy user picked.
Suggestion: add a control to set the number (or a maximum number) of terms being displayed.

[2021-07-07 05:52] peepersqueaker commented on #775
+ 1 : super widescreen is becoming prolific and checkboxes look teeny weeny

[2021-07-07 07:07] tobisalami commented on #1609
Hi. Can we pleaseeeeee include the option to clear or append a meta field after expiration. That way, Jet engine will be able to work for me as a solution to help users pay to sponsor their posts and then have it expire after sometime. The expiration will either clear or append a meta field that they had previously filled. Thus making querying sponsored and non-sponsored posts easy.

Once this fea

[2021-07-07 07:33] UraraReika commented on #1422
Hello @promocot !

Our gallery builds differently from this functionality and we don't have in plans to add this at all. You can use one of variation swatches plugins from org.

[2021-07-07 07:33] #1422 closed

[2021-07-07 07:35] UraraReika commented on #3608
We have JetTabs widget than can contains templates. And you can use it with JetWooBuilder if you have some problems please contact our support team.

[2021-07-07 07:35] #3608 closed, assigned to nobody

[2021-07-07 07:37] UraraReika commented on #3606
Hello @devosamaamin !

You can create your own preset by rewriting one of existing. If you have difficulties with this please contact our support team.

[2021-07-07 07:37] #3606 closed, assigned to nobody

[2021-07-07 07:50] 79ho3ein commented on #3608
thanks

[2021-07-07 08:06] osamaaminaziz commented on #3606
Hello @UraraReika, thanks for your reply.
is there any documentation for this?

[2021-07-07 08:08] UraraReika commented on #3614
This feature has nothing to do with page building so in this case we will not implement it. There are a lot of plugins in org so you can use one of them and then display it in the template. Although you can watch this issue https://github.com/Crocoblock/suggestions/issues/476

[2021-07-07 08:08] #3614 closed, assigned to nobody

[2021-07-07 08:22] 79ho3ein commented on #3614
thank you @UraraReika
Yes, #476 is exactly that. Will it be #476 added to jet woobuilder?

[2021-07-07 08:24] UraraReika commented on #3611
Just use plugin that you tested.

[2021-07-07 08:24] #3611 closed, assigned to nobody

[2021-07-07 08:27] UraraReika commented on #3606
Template can be overridden by copying it to yourtheme/jet-woo-builder/jet-woo-products/global/presets/archive-product.php. There isn't documentation on our knowledge base it's just wp basics. More info gives our support

[2021-07-07 08:48] stavroscha opened #3616 "Time Slots for JetBooking and Jet Appointment"
Have the ability to choose either choose the starting time of the booking and the duration of the booking or have a starting and ending time of each booking.

As a scenario to explain this better, for example when there is a service that runs every day in three slots (10:00-13:00, 14:00-17:00 and 17:00-20:00). Customers can choose the specific timeslot they want to book and when the maximum amount

[2021-07-07 09:01] stavroscha opened #3617 "Number of Adults/Children Option for JetBooking/JetAppointment"
Have the option to allow users to be able to have the option to have a number of adults and a number of children who are going to be attending the booking/appointment.

An example scenario, when you are going to attend an event and you want to provide tickets and have different prices for adults and different prices for children. Also, that will require for you to be able to choose the number of a

[2021-07-07 09:50] talentzweb opened #3618 "Assign different prices to different time slots"
Hi, I need the following solution for my booking system:
- visitor picks a date (reguired)
- visitor picks a time slot (required)

--> there are 6 different time slot each day with different prices:
Time slot 1: € 350
Time slot 2: € 350
Time slot 3: € 400

But it should also be possible to book:

Time slot 1 + 2: € 550
Time slot 2 + 3: € 600
3 time slots: € 850

I've tried the plugin JetAppointmen

[2021-07-07 11:31] breakused commented on #3289
That does not work for me. Any ideas why?

<img width="935" alt="1" src="https://user-images.githubusercontent.com/37920259/124752044-a29f4e80-df27-11eb-8c26-17626e31422a.png">

[2021-07-07 14:10] Matan3838 opened #3619 "Product label compatibilities from other plugins"
Hey,
Product Item archive with Woobuilder can't add Label with Product Label Plugins, it's doesn't show up on the product,
 This product item doesn't compatibilities with any plugins, that give the ability to add Label/Sticker to the product

The only badge that can possible to add is the Sale Badge.

Example plugin that I am using is: advanced-woo-labels

[2021-07-07 14:13] xtofr commented on #2586
** Update !
:)
This tutorial by WpTuts has been viewed about 86,000 times, which shows the high demand.
https://youtu.be/06owBb23UiQ
+1 here : "I prefer Crocoblock to ACF, so I use Crocoblock to create front-end forms for my customers."

- +1 here also : 1. Media form field
- +1 there as well : 2. WYSIWYG form field

Thanks

[2021-07-07 16:40] lidocaine commented on #346
+1

[2021-07-07 17:24] mapsiter opened #3620 "Only display one popup at a time"
I'm bringing up popups by clicking on custom CSS class a tags set within the popups setting. These links are in the header of the site. The preferred way would be if I click on one of the links the popup pops up and when I'm clicking on the other link the other popup comes up which it does but on top of the the other popup because clicking in links in the header doesn't act as clicking away from t

[2021-07-08 11:37] TheBigBanik opened #3621 "Woo pagination for complex listing layouts with multiple widgets"
Hi, since your plugins do almost everything, I have a new suggestion concerning the woo templates and the pagination.
Pagination at the moment, works only with one listing widget. So, we are stuck with one design layout for shop or product archives. If we create different listings with different design and use the offset to create a more complex layout with multiple widgets on the same page, it wo

[2021-07-08 12:39] About2git commented on #3471
Yes, the bestcarwash and Elementor are only examples for the developer, where Blocking and Loading is working.

@kaskad88 maybe this is helpful as a resource  (Documentation in english): [https://borlabs.io/kbtopic/borlabs-cookie/](https://borlabs.io/kbtopic/borlabs-cookie/)

[2021-07-08 13:34] 79ho3ein opened #3622 "Report a bug in the jet woobuilder plugin"
hello
If we put the product grid widget in the section and give the background color to the column, a bug will be created if we activate the carousel for the product grid widget. The problem is that the product grid widget moves slightly to the left, causing the horizontal scrolling to.
Please pay attention to these pictures : https://prnt.sc/19hmtal
In the image above, everything is working prope

[2021-07-08 14:10] Willitbang commented on #2632
+1

[2021-07-08 14:11] UraraReika commented on #3619
Please follow guidelines for opening a new [feature request,](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests. Thank you for your understanding.

[2021-07-08 14:22] kvokocom commented on #2559
Hello!
did you add button add to cart?

[2021-07-08 14:30] Matan3838 commented on #3619
Hey,

Screenshot with example is attached:

The product looks like when using on the regular **products** widget, same for the appearance in the categories,
![With](https://user-images.githubusercontent.com/87079922/124939414-c048e280-e011-11eb-8cc4-338e656d2631.JPG)

Here you can see the plugins works when we are using in the **product grid** widget
![Without](https://user-images.githubuserconten

[2021-07-08 14:50] kvokocom opened #3623 "Add to cart button Jet Search"
This Plugin really need the add to cart button

[2021-07-08 15:12] xitromedia opened #3624 "JetElements: Video Widget - Custom URL for self hosted video cannot be specified"
Currently a self hosted video can only be chosen from media library but i cannot specify/enter a custom URL. With the elementor video-widget instead i can specify such a custom URL. This should also be implemented in the jetelement widget.

[2021-07-08 16:46] 79ho3ein commented on #3619
@Matan3838
If I am not mistaken, this offer has already been made. # 2680

[2021-07-08 17:05] 79ho3ein commented on #3622
thank you @UraraReika ,I hope I have conveyed the problem well.

[2021-07-08 19:13] jefferyto opened #3625 "JetTricks causes extra placeholder image to be added when importing an Elementor template"
**Describe the bug**
When exporting an Elementor template from a site that has JetTricks installed, when the template is imported into another site, an extra placeholder image (placeholder.png, not explicitly added to the template) is also added. (Not sure if the importing site must also have JetTricks installed, I have only tested the case where both sites have the plugin installed.)

This is bec

[2021-07-09 07:13] xitromedia opened #3626 "JetEngine - Protected/unaccessible media files on membership pages"
For the use case of membership sites with media files for download, viewing and listening:

Currently jetengine offers a lot of and very flexible possibilities to create membership pages and content. But if i want to offer in the members area not only paid text content on pages but also files, videos and audios that should not be visible and accessible to non-members, the plugin may get useless fo

[2021-07-09 08:56] 79ho3ein opened #3627 "Report a bug in "Make Product Item Clickable " ( jet woobuilder plugin )"
hello
In the previous update of the Jet woobuilder plugin, the "Make Product Item Clickable" feature
Added that is very useful. But unfortunately, it is not working properly and its use creates problems.

**Describe the bug**
1-When we enable the "Make Product Item Clickable" feature, the product box loses its hovering property. This means that nothing happens when the mouse is on the product box.

[2021-07-09 09:41] Lonsdale201 commented on #361
Any news about it? :)

[2021-07-09 10:10] k4znIm commented on #361
I cant wait to see thta in croco.. I really need that :D

[2021-07-09 10:14] 79ho3ein commented on #361
@Lonsdale201
I do not think they will add this feature. Because they have already suggested using a third party plugin.
This means that in order to have the "Color swatches" feature, we have to install 2 other plugins in addition to the jet woobuilder. And this does not make sense at all.
In any case, I hope to add this feature to the jet woobuilder core. This feature is extremely useful and requi

[2021-07-09 10:19] k4znIm commented on #361
@79ho3ein

I know they told they will not be adding features what u can add by another plugin. But this doesnt make sense.. Why i have to install 2 more plugins, if this can be part of jetWooBuilder? I have crocoblock best licence.. but i think more people will decide to buy crocoblock if they have all these functionalities in one plugin.

[2021-07-09 10:33] 79ho3ein commented on #361
@k4znIm
Exactly. jet woobuilder is a very large plugin, but it is very surprising that its developers delegate such an important feature to a third-party plugin.
I can boldly say that 99% of users of this plugin want this important feature to be added to the plugin. But it does not really make sense to install 2 plugins to install this feature. **Because everyone knows that the most important thin

[2021-07-09 10:39] 79ho3ein opened #3628 "In the new update of Jet woobuilder plugin, it is not possible to edit a single product page."
hello @UraraReika
In the new update, when we try to edit single product page, the following error is displayed :

![images](https://user-images.githubusercontent.com/77163248/125065692-60147800-e0c7-11eb-86f4-af2e496c56c7.jpg)

This problem only occurs when editing a single product page. There is no problem for the payment page, shopping cart, etc. Single product page only.

thank you

[2021-07-09 10:44] k4znIm commented on #361
@79ho3ein

"Because everyone knows that the most important thing in maintaining an optimal site is to reduce the number of plugins."

Yes, this it exactly what i mean. I hope the will add this.. Its weird if they will not add it and styll have it in plugin promo image..

[2021-07-09 11:01] 79ho3ein commented on #361
@k4znIm
Surely they will add this feature soon. Of course I hope!
Of course The fact that developers do not respond to this request does not mean that they ignore the request of their users.
Incidentally, in my opinion, jet woobuilder has the best and most powerful developers. They pay more attention to their users' requests than any other developer. This is quite clear and I thank them.
Finally,

[2021-07-09 11:23] k4znIm commented on #361
@79ho3ein
Thats true, all crocoblock team members are really helpfull and they are listening theyrs users!

[2021-07-09 14:03] needlestack-sc commented on #2625
Yes, I second. This would be very helpful! Thank you!

[2021-07-09 16:00] amororov opened #3629 "Webhooks for JetFormBuilder"
Please add the ability to send form data via webhooks.
I am currently using this plugin — https://wordpress.org/plugins/forms-to-zapier/
It allows you to send form data (in my case, CF7) to one of the automation services and then link it to any CRM, google spreadsheets and anything else.
Unfortunately, without this I will not be able to use this plugin 90% of the time. Because it cannot be linked

[2021-07-09 19:30] Lonsdale201 commented on #3623
+1

[2021-07-10 01:02] yuuk-issei commented on #1349
Espero se realice pronto

[2021-07-10 07:58] 79ho3ein commented on #3623
+1

[2021-07-10 10:18] hitsgee opened #3630 "Dynamically Hide Empty Filters & Labels - JetSmart Filters"
Not sure if this is a bug or a feature request either way it would be great to see.

Currently, if you have a Jet Smart filter with a label but no options match that filter just the label is shown. Could we not have the option that if the filter is empty (no options/values) this completely hides the filter rather than just showing a random label.

This would be great for Ecommerce where a category

[2021-07-10 15:49] 79ho3ein commented on #3630
You mentioned a very good case. Yes, this is definitely a bug in the jet smart filters plugin.
I have already submitted a request in this regard (#3366). I hope this problem will be resolved

[2021-07-10 20:33] AT4MO opened #3631 "Jetengine form - Auto Resize Media"
it would be great if there was an auto resize option in the form to upload images

![resize](https://user-images.githubusercontent.com/69142071/125175805-93750680-e19c-11eb-84a4-3fcf3c472e1e.png)

[2021-07-10 21:07] mehdimoradi1500 opened #3632 "Color swatches and images based selection for colors (jet woobuilder)"
Hi crocoblock team
Is there any plan to add a great option to jet woo builder in which, we can add a "colors pallet" to the single product page?
And even add a brilliant feature; to use product's images as the colors of the product, So customers can choose the images as the colors

First option:
![IMG_20210711_022349_522](https://user-images.githubusercontent.com/86493591/125177225-3bb3bb00-e1ef-1

[2021-07-10 21:17] mehdimoradi1500 commented on #361
+1 and also images based selection for colors

[2021-07-10 21:29] yapofire commented on #3255
Hi there, is there any news on this?

[2021-07-10 22:45] 79ho3ein opened #3633 "Request to add "Incomplete mode" feature to the jet woobuilder plugin carousel widget."
hello
I have made this proposal before. But because the request was not made clear, it was rejected. I hope I can make my request clear to you. And also hope you add this feature.😃

**Request Description :**
It would be great if you could add a feature so that we can display product sliders in a more up-to-date way. (In addition to free mode and normal mode)
This feature, which I will describe, is

[2021-07-11 14:41] StevenVanWingerden opened #3634 "Different custom fields for different kind of products"
Hi,

I am creating a webshop with a lot of different kind of products. I want to save metadeta to a lot of them. I think it would be very useful if it would be possible to save different kind of metadeta to different kind of products, instead of saving all metadeta to all of them.

Kind regards

[2021-07-11 18:34] hootansharifian opened #3635 "Be able to change post number when "use as archive" is selected"
Would be great if you could change the amount of posts that shows on first load before the load more function kicks in when "use as archive" is selected. The default is 10 but it would be great if you could change that the same you can do it when you haven't selected "use as archive"

[2021-07-12 07:14] UraraReika commented on #3619
@Matan3838, in our widgets we use custom function to handle products images so there can be some issues with thirs party plugins. Plugin that you use can have shortcode or function to display badge. So in first case (shortcode) you can with the help of Shortcode widget output it in the product item card. Second case - hook the filter.

[2021-07-12 07:22] UraraReika commented on #3628
Hello @79ho3ein !

We test different scenario of this case but everything seems to work. Please contact our support team so we can check your sire.

[2021-07-12 07:22] #3628 closed, assigned to nobody

[2021-07-12 07:23] UraraReika commented on #3255
Hi @yapofire ! Work in progress.

[2021-07-12 07:41] 79ho3ein commented on #3619
@UraraReika
Will the possibility of inserting a custom label for the product grid widget be added in the future?

[2021-07-12 07:42] 79ho3ein commented on #3628
thank you @UraraReika
But it's really weird. This problem only exists on a single product page and cannot be edited.
In any case, thank you. I hope it is solved.

[2021-07-12 07:51] yapofire commented on #3255
@UraraReika Great, thanks!

[2021-07-12 08:29] 79ho3ein commented on #3628
But there is definitely a problem. Because when I go back to the previous version, the problem is solved.

[2021-07-12 09:02] UraraReika commented on #3628
Ones again we check and all works proper. Contact our support team or use this [template](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) to give us more information

[2021-07-12 09:12] 79ho3ein commented on #3628
thank you

[2021-07-12 11:17] UraraReika commented on #3633
Hello @79ho3ein !

In our carousel we use [Swiper Slider](https://swiperjs.com/swiper-api) and with it you cant make this functionality.

[2021-07-12 11:17] #3633 closed, assigned to nobody

[2021-07-12 11:21] #3597 closed, assigned to nobody

[2021-07-12 11:21] UraraReika commented on #3632
I merged this issue with #361, which is on the same subject so we could deal with it more efficiently.

[2021-07-12 11:21] #3632 closed, assigned to nobody

[2021-07-12 11:42] UraraReika commented on #3077
Hello @79ho3ein !

Sorry but we will not implement this feature to our core! There a lot op plugin with that kind of functionality and you can easelly use it and put whatever you want by rewritten one of products grid templates.

[2021-07-12 11:42] #3077 closed, assigned to UraraReika

[2021-07-12 11:43] UraraReika commented on #3078
Hello @79ho3ein !

Sorry but we will not implement this feature to our core! There a lot op plugin with that kind of functionality and you can easelly use it and put whatever you want by rewritten one of products grid templates.

[2021-07-12 11:43] #3078 closed, assigned to UraraReika

[2021-07-12 12:12] UraraReika commented on #3429
This issue has been closed due to inactivity. If this issue is still actual, please, create the new one.

[2021-07-12 12:12] #3429 closed, assigned to UraraReika

[2021-07-12 12:13] UraraReika commented on #3436
I merged this issue with #2683, which is on the same subject so we could deal with it more efficiently.

[2021-07-12 12:13] #3436 closed, assigned to UraraReika

[2021-07-12 12:27] alexgauvin opened #3636 "Add a clear and fitting title for the feature request"
Hi,

I'm trying to work out a specific operation that involves WooCommerce, JetEngine, and Extra Product Option for WC (EPO) from ThemeHigh.

The results expected is to impact the price of a product by multiplying a JetEngine custom field value by a fixed price from EPO from inside

Please have a look at : https://www.loom.com/share/5986ccf27a3949b6bf75662f4eb864e9 for visual info about my request

[2021-07-12 12:42] reganmcgregor opened #3637 "Hide or Offset Scroll Navigation"
It would be great if you could set a scroll offset that fixes the bullet nav menu in order to push it below a hero section or have it stop before a CTA or footer.

Either this is or the ability to add a CSS class the hides the Scroll Navigation. on certain sections of the page.

In fullpage.js for example you can add a CSS class "fp-noscroll" the prevents the nav menu from begin created/displayed

[2021-07-12 12:58] blb48 commented on #2381
This x1000. There's no excuse for this lack of basic accessibility in 2021. Thank you for the gist, @cirkut; JetMenu has since updated their class names but it wasn't difficult to update the script to match.

[2021-07-12 13:50] UraraReika commented on #3468
Hello @zaheen !

We will not implement 'Buy Now' button functionality. There are a lot of plugins in org that can be used. For example this https://wordpress.org/plugins/buy-now-button-for-woocommerce/. Make sure you disable this option https://i.gyazo.com/ba3e174976fdff663cc8b55fac0895f0.png.

As for Swatches than watch this issue #361, which is on the same subject so we could deal with it more e

[2021-07-12 13:50] #3468 closed, assigned to UraraReika

[2021-07-12 13:50] 79ho3ein commented on #3461
Thank you very much for your efforts.

[2021-07-12 13:52] xC4M opened #3638 "Ability to add style on Recent/Featured/Top Rated/Sale/Best Sellers JetElements WooCommerce Widgets Products"
Right now when you use all Recent Products, Featured Products, Top Rated Products, Sale Products, Best Seller Products widgets that are added in JetElements (https://prnt.sc/1ajbevw) you aren't able to add style form Elementor, for example, WooCommerce Recent Products https://prnt.sc/1ajatif

Or could you add all those widgets' queries to JetEngine, so we can create/design ours?, because I could a

[2021-07-12 14:12] UraraReika commented on #3475
Hello @79ho3ein !

Sorry but we will not implement this feature to our core! There a lot of plugin with that kind of functionality and you can easelly use it and put whatever you want by rewritten one of products grid templates.

[2021-07-12 14:12] #3475 closed, assigned to UraraReika

[2021-07-12 14:23] UraraReika commented on #3478
https://i.gyazo.com/f38ed71942702e9ae69b861458231287.png this option https://i.gyazo.com/9bbf9fe815d705931944ed5e41cd2a06.png. Then

[code]

[2021-07-12 14:23] #3478 closed, assigned to UraraReika

[2021-07-12 16:37] 79ho3ein commented on #3628
Hi again @UraraReika
I realized exactly where the problem was. Of course, I also called support, but due to the end of working hours, the conversation remained unfinished. So I decided to explain the problem in more detail here.

The problem is: when using the product grid widget on a single product page, everything is fine...
**But when we set the product grid widget query to "related" or "cross

[2021-07-12 18:10] lcgitrdone opened #3639 "Lottie widget: allow number of times to loop to be specified"
I like the Crocoblock Lottie widget better than the Elementor widget.  But, sometimes I have to use the Elementor version because it allows me to specify a set number of times to loop.  Some Lotties becomes annoying if they play infinitely.  See screenshot.  Thank you!

<img width="555" alt="Screenshot 2021-07-12 at 14-04-42 JetElements Lottie Widget Full Overview Crocoblock" src="https://user-ima

[2021-07-12 20:39] shopakr commented on #2683
I purchased JetPlugins to develop custom Product Archives and Shop Templates. And I also feel that JetWooBuilder should offer a LoadMore feature. Almost all well built sites with a lot of products are using the LoadMore or Infinite Scroll Feature. Why only offer it for Listing Grid. But I need the Load More Feature to work with the Product Loop not just the Products Grid, since my e-commerce templ

[2021-07-12 21:05] Lonsdale201 commented on #3637
+1. Usefull feature :)

[2021-07-13 01:53] FknBestBrain opened #3640 "Glossary Making Completed Fields "Untitled" after Save"
Glossary is scrambling up my  Data fields and switching them to other fields as New Glossaries. Not only that, it is making Entire Glossary inputs Untitled Glossary" and Erasing all of the information that was input. I have spent a large amount of time putting together rather large glossaries only for the Glossary to do what it has done when it first released for me.

**To Reproduce**
Steps to rep

[2021-07-13 01:59] rammyleeds commented on #2672
Thank you Dmitriy, can you tell me what is the element called within jet elements

From: Dmitriy Bartoshchak ***@***.***>
Sent: 23 June 2021 15:13
To: Crocoblock/suggestions ***@***.***>
Cc: rammyleeds ***@***.***>; Author ***@***.***>
Subject: Re: [Crocoblock/suggestions] Post Info Widget - why only display the date created and not the date last modified or updated? (#2672)

Added in JetElements

[2021-07-13 06:23] UraraReika commented on #3487
Hello @DutchDane !

We will not implement this functionality. You can easelly manipulate optional and style controls to achieve clean output, as for caching plugin it can be setup to ignore certain parts of your site. If you feel problems the you can contact our support team.

[2021-07-13 06:23] #3487 closed, assigned to UraraReika

[2021-07-13 06:47] UraraReika commented on #3507
Use Query ID option https://i.gyazo.com/c63d9da5d756a893a2e4caeb1202f673.png. And code below as example to achieve needed result. (You can put to Query ID option whatever you want name but then put it here 'jet-woo-builder/query/{your-name}')

[code]

[2021-07-13 06:47] #3507 closed, assigned to UraraReika

[2021-07-13 07:17] UraraReika commented on #3531
This issue has been closed due to inactivity. If this issue is still actual, please, create the new one.

[2021-07-13 07:17] #3531 closed, assigned to UraraReika

[2021-07-13 07:25] UraraReika commented on #3558
https://i.gyazo.com/67018de48d8a78991ff07158ff791378.png.
To prevent this behaviour you can rewrite single title widget template and remove entry-title class

[2021-07-13 07:25] #3558 closed, assigned to UraraReika

[2021-07-13 07:35] UraraReika commented on #3559
You can combine this widget with JetTabs or just use Single Tab Widget where attributes can be hide. The italic default styles can be changed with style controls.

[2021-07-13 07:35] #3559 closed, assigned to UraraReika

[2021-07-13 07:37] marc-xap247 commented on #2667
I would think a Zoom integration is important for setting online meeting appointments.

[2021-07-13 07:40] Floydtm commented on #3579
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-07-13 07:40] #3579 closed, assigned to nobody

[2021-07-13 07:46] UraraReika commented on #3602
This template has description 'This template can be overridden by copying it to yourtheme/woocommerce/single-product/add-to-cart/simple.php'. So just do it and comment or remove unnecessary code.

[2021-07-13 07:46] #3602 closed, assigned to UraraReika

[2021-07-13 07:46] marc-xap247 opened #3641 "Add Microsoft Outlook calendar integration to Appointments"
As a genuine WordPress alternative to Calendly, the Appointment plugin should integrate with Microsoft 365 (and Zoom).

The 2 best plugins I found are Amelia and Crocoblock Appointments, but unlike Amelia, there is no Outlook or Zoom integration, only Google/Gmail.

[2021-07-13 07:48] UraraReika commented on #3619
Follow this issue https://github.com/Crocoblock/suggestions/issues/2680.

[2021-07-13 07:48] #3619 closed, assigned to UraraReika

[2021-07-13 07:50] Matan3838 commented on #3619
I tried to hook this, but still because it's not with the same structure i can't to hook this.

[2021-07-13 08:01] UraraReika commented on #3622
The problem can be caused with settings in the widget. Please try to recreate this problem from scratch.

[2021-07-13 09:09] P-happiness opened #3642 "** Bug on Products Grid Widget if Query by "Custom Taxonomy" created with the plugin "Perfect Brands for WooCommerce" **"
**Describe the bug**
Hi there,
I want to report a Bug on Products Grid Widget (JetWooBuilder).
It seems that the option Query by "Custom Taxonomy" doesn't work for Taxonomy created with the help of the Plugin: Perfect Brands for WooCommerce.
I'm trying to create a carousel on my Homepage and I want to Query for Brands created with this plugin, but I keep getting "Products not found" message.

1) H

[2021-07-13 09:12] Floydtm commented on #3581
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-07-13 09:12] #3581 closed, assigned to nobody

[2021-07-13 09:28] UraraReika commented on #3642
Hello @P-happiness !

You need to fill all fields correct https://i.gyazo.com/851e12f0d01132238ef420c531133d8f.png.
Tax slug taken here https://i.gyazo.com/f446082022c29e3bbe96c186a9dcb495.png URL line.
Id from tax https://i.gyazo.com/f872055ac9c9e9542bb9f63ac1b6cbf7.png.

result https://i.gyazo.com/833b655367c70039fc06a9a5f8e49343.png

[2021-07-13 09:28] #3642 closed, assigned to nobody

[2021-07-13 09:29] UraraReika commented on #3638
You can use query builder to build you custom query and use it in the Listing grid. Or use JetWoobuilder plugin with Products Grid widget where this query exist .

[2021-07-13 09:31] Floydtm commented on #3585
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-07-13 09:31] #3585 closed, assigned to nobody

[2021-07-13 09:42] Floydtm commented on #3588
https://crocoblock.com/knowledge-base/articles/jetsmartfilters-how-to-sort-posts-and-products-with-sorting-filter-widget/

[2021-07-13 09:42] #3588 closed, assigned to nobody

[2021-07-13 09:45] Floydtm commented on #3589
https://crocoblock.com/knowledge-base/articles/jetsmartfilters-how-to-sort-posts-and-products-with-sorting-filter-widget/

[2021-07-13 09:45] #3589 closed, assigned to nobody

[2021-07-13 10:03] 79ho3ein commented on #3628
It should be noted that I am using the latest hello theme update.

[2021-07-13 10:29] Floydtm commented on #3591
Hey! I understand that this is important for you, but we cannot do this, otherwise it will turn tabs into a menu.

[2021-07-13 10:29] #3591 closed, assigned to nobody

[2021-07-13 11:15] FAYNAX opened #3643 "Add the feature for deselect radio fields"
In my website (Multivendor Ecommerce) I have a lot of Radio Fields and it could be cool if you could deselect it like the Radio fields in Jet Engine Smart Filters...

Right now I added manual input with no value so if the user select this option he will reset the field!

[2021-07-13 11:31] UraraReika commented on #2820
This issue has been closed due to inactivity. If this issue is still actual, please, create the new one.

[2021-07-13 11:31] #2820 closed, assigned to nobody

[2021-07-13 11:35] Floydtm commented on #3603
We're not going to add this right now, but you can find a solution [here](https://wordpress.org/plugins/search/otp/).

[2021-07-13 11:35] #3603 closed, assigned to nobody

[2021-07-13 11:54] Floydtm commented on #3609
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-07-13 11:54] #3609 closed, assigned to nobody

[2021-07-13 11:57] UraraReika commented on #3172
We use Swiper Slider for our carousel gallery widget and by default this library use true for allowTouchMove. This option gives ability move slider by grabbing it with mouse or by touching it with finger (on touch screens). And this option triggers your issue. You can disable it by using this `filter jet-woo-product-gallery/slider/thumb-options` heres example

[code]

[2021-07-13 11:57] #3172 closed, assigned to UraraReika

[2021-07-13 12:00] Floydtm commented on #3610
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-07-13 12:00] #3610 closed, assigned to nobody

[2021-07-13 12:21] Floydtm commented on #3613
We have checked everything and do not experience such a problem on our side. Please contact our support team. Thank you!

[2021-07-13 12:21] #3613 closed, assigned to nobody

[2021-07-13 13:15] Floydtm commented on #3616
Anything you ask for can be implemented right now. Explore the documentation or contact our support team https://prnt.sc/1astpzh Thank you!

[2021-07-13 13:15] #3616 closed, assigned to nobody

[2021-07-13 13:50] Floydtm commented on #3617
https://prnt.sc/1at1q67 https://prnt.sc/1at1uuw You can set it up right now, you just need a little trick. If you have any problems with this, please contact our support team. Thank you!

[2021-07-13 13:50] #3617 closed, assigned to nobody

[2021-07-13 13:53] julianderyk commented on #1657
+100

[2021-07-13 14:28] petrovui commented on #282
Still waiting fo Center Mode in Listing Grid Slider!!!

[2021-07-13 17:20] skilldrops opened #3644 "Extremely valuable for big sites: Extend Jet Search and Jet Smart Filters with Algolia functionality"
There is a SAAS-Platform called Algolia:
https://www.algolia.com/

This plugin is valuable to users, which have to handle thousands or millions of data / documents. With Algolia searching millions of posts is just a fingertip. Searching is amazingly fast.

There is a possibility to integrate Algolia in your two plugins (JetSearch + Jet Smart Filters)?

Algolia have some basic information about int

[2021-07-13 20:34] stavroscha commented on #3617
I have posted a ticket for the specific functionality but i got a reply that it cannot be achieved at the specific time. I believe there is a big misunderstanding between the queries sent to the support and the actual replies that are sent over since i have mentioned this specific functionality several times and the answer i got back was that is not possible at the moment....and I will try and imp

[2021-07-13 20:51] tizum opened #3645 "Single Add to Cart - Bug in ordering button and quantity"
**The bug**

When adding the Single Add to Cart Widget the amount is displayed to the right of the Add to Cart button, and I can't adjust the amount to the left side, what do I need to do to correct it?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'JetWooBuilder Templates'
2. Click on 'Add New Template'
3. Select 'Single' and Creat a New template
4. Add Single Add to Cart Widget

![

[2021-07-14 01:33] jpfrancois2021 commented on #3503
+1

[2021-07-14 02:38] delas-soap opened #3646 "pie chart legend vertical align"
This should be a pretty obvious function for the pie chart. However, I don't think anyone thought about it.

![image](https://user-images.githubusercontent.com/57832551/125551864-00a78aa2-7fff-4115-a9d0-4a2984b0c265.png)
![image](https://user-images.githubusercontent.com/57832551/125551898-45f50d2b-c3d3-414a-ab6a-e288051bd04c.png)

[2021-07-14 09:57] 79ho3ein opened #3647 "Font problem in Jet woobuilder plugin"
I have customized my website font using elementor custom fonts. But today I noticed that in the jet woobuilder plugin, the values ​​of 100 and 400 fonts are not displayed.
I checked the problem in elementor widgets but there was no problem and they were displayed. I do not know if this problem exists for you or not.
![Screenshot (75)](https://user-images.githubusercontent.com/77163248/125603130-02

[2021-07-14 10:45] futureyoon commented on #450
+1
Can you please add 'timezone' feature too?

[2021-07-14 10:58] ATSFNL commented on #2586
Hello people, I desperate need the option for my frontend users to add their local pictures (media) to their post content. Not separate form the post text but IN their post text content.

### **Add media into WYSIWYG form field**

Here an example how it is done in WP USER FRONTEND plugin:

![AddImageIntoPostContent](https://user-images.githubusercontent.com/84065382/125611085-c59c6dbe-f2b5-482f-88

[2021-07-14 11:12] ATSFNL commented on #2265
Yes! Need this functionality also.
See also recent posts here: https://github.com/Crocoblock/suggestions/issues/2586#issuecomment-879796065

[2021-07-14 11:19] ATSFNL commented on #3168
### Need this option also,
WP USER FRONTEND pugin has this option. I switched to Crocoblock and then find out that this option is missing!
See other posts with same issue: https://github.com/Crocoblock/suggestions/issues/2586#issuecomment-879796065

[2021-07-14 11:21] Floydtm commented on #3621
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-07-14 11:21] #3621 closed, assigned to nobody

[2021-07-14 11:23] ATSFNL commented on #2791
You are not making friends!
See how its is done by WP USER FRONTEND plugin.
Also see this post: https://github.com/Crocoblock/suggestions/issues/2586#issuecomment-879796065

[2021-07-14 11:29] ATSFNL commented on #2201
See also post: https://github.com/Crocoblock/suggestions/issues/2586#issuecomment-879796065
WP USER FRONTEND plugin has this functionality. I switched to Crocoblock and then find out they do not have this option!

[2021-07-14 11:29] Gabrymi93 commented on #2586
The weird thing is that CrocoBlock has this feature when you open a support ticket on their website... I'm wondering if they use JetEngine..
![image](https://user-images.githubusercontent.com/78922322/125614639-06d899d0-6ed6-4858-a7c4-3bd3698ed9e8.png)

[2021-07-14 13:18] UraraReika commented on #3647
We didnt face this problem so please contact our support team.

[2021-07-14 13:18] #3647 closed, assigned to nobody

[2021-07-14 14:36] iamdanbarrett opened #3648 "JetSmart Filters: Dynamic Range Filters"
I have discovered that all filters will dynamically change upon selection (AJAX method) yet the dynamic ranges where we set the min/max values dynamically from the Custom Post Types do not change when performing the filtering options from other filters such as checkboxes, selects, and so on.

the user is left with the range filter still making available the min/max values from the entire set of po

[2021-07-14 14:50] slipknot147 opened #3649 "Jet element - Flex direction not work"
The flex direction option of the jet element does not work correctly, you must update the css selectors to match the latest version of elementor pro.

![image](https://user-images.githubusercontent.com/33726000/125643031-7d1aa704-71af-4fd7-bd7d-2115818f07fc.png)

[2021-07-14 15:14] 79ho3ein commented on #3648
+1
Yes, exactly.
This is an excellent and vital feature.

[2021-07-14 15:43] iamdanbarrett commented on #3253
Is there anything on this at all? It seems like a logical thing to implement

[2021-07-14 15:44] 79ho3ein commented on #3622
No special settings have been created.
Number of products to display : 4
The slider can be scrolled.
Total number of products to display: 10

I tested everything. This problem occurs when the carousel is active.
Resolving this bug means that most designers do not need to use the interior. And this helps to optimize the website. thank you

[2021-07-14 15:47] 79ho3ein commented on #3622
may you tell me when the next update will be released? If I have time, I will investigate the problem further.

[2021-07-14 15:53] Medienor commented on #3253
They havent done it for 2 years, doubt it will be fixed.. They be sleeping over at dev office

[2021-07-14 16:00] 79ho3ein commented on #3253
I hope it will be added soon. It is very much needed.

[2021-07-14 17:20] DoubleSixDigital commented on #3648
+1 here too.

We're building a Motorhome/Caravan listing site, and this is such a necessary and expected feature of a filter system that I'm astonished that it's not even possible. As @iamdanbarrett says, the FacetWP filter plugin does this as standard, and I'm tempted to switch.

[2021-07-14 17:45] 79ho3ein commented on #3648
This feature will definitely be on their roadmap. We have to be patient. There are many features that jet smart filters lack. I hope future updates will be useful, unlike recent updates.

[2021-07-14 19:52] amororov opened #3650 "Show part of the previous and next slide"
I've been looking forward to making such sliders for a very long time. Very convenient on mobile. The user immediately understands that this is a slider, and not a static image.

![Screen Shot 2021-07-14 at 22 49 35](https://user-images.githubusercontent.com/75663345/125683965-857ca058-68c3-4cf9-98ac-493737b00418.png)

![Screenshot at Jul 14 22-47-42](https://user-images.githubusercontent.com/7566

[2021-07-14 20:03] dayoherrera commented on #1577
Buenas tardes, yo estoy utilizando jetpopup y jetblocks para realizar el login, pero cuando agrego credenciales invalidas se cierra el popup y es cuando lo vuelvo abrir que veo el mensaje, como podría solucionar esto que no se me cierre el popup para cuando las credenciales son invalidas?

[2021-07-14 20:07] amororov commented on #3650
I ask you to do this not for images, but for the block. So that you can put text, links, images in it. For example, for the «team member» widget.

[2021-07-14 21:02] Medeon-68 commented on #3588
You just didn't read my text carefully ... The link you sent has absolutely nothing to do with the question asked.

[2021-07-14 21:05] Medeon-68 commented on #3589
You just didn't read my text carefully ... The link you sent has absolutely nothing to do with the question asked. I just suggested that the assigned sort can be determined by one which would be the default. This way the first sort is always based on the name.

[2021-07-15 03:25] realstephenzhao opened #3651 "JetFormBuilder - A Form Entries Module aka Database to Save Submitted Forms"
Please implement a form entries module (sometimes called database plugin) to save form submissions.

Even Elementor had released such an feature, but I will ditch Elementor and fully switch to Gutenberg after WP5.9.

[2021-07-15 05:50] lifeact commented on #1657
are there any deadlines?  waiting for this functionality in the project

[2021-07-15 06:48] 79ho3ein opened #3652 "Improved thumbnails in a single product image widget"
hello
In the single image widget, if we give border to thumbnails, this border will be attached to the images. Because we can not padding to images. https://prnt.sc/1bchstp
If you add this feature, we can create such a distance from inside the thumbnails. https://prnt.sc/1bckuc8

Also at the moment, we can only put spaces between small images with the percentage circuit, and this creates limitatio

[2021-07-15 09:04] morosmo opened #3653 "IS there is a way to display post title instead of post id in jet engine frontend form crocoblock"
I have created frontend form using jet engine by crocoblock. I added 5 fields 4 are simple fields like : Name Email Phone Number Message

The 5th field is a checkbox fields and I get checkbox options dynamically by selecting the custom post type created by jet engine. The problem is when I submit form in frontend all the other fields looks good but the checkbox fields are sending me post ID instea

[2021-07-15 09:25] Grassmedia opened #3654 "Ability to add custom taxonomy via form"
Currently, it is not possible to add a custom taxonomy to a post (standard post or CPT) via a form.  The use case is that a checkbox list of available categories is shown to the user which they can select BUT there is no ability to allow them to add their own.  In another example, it _is_ possible to map a text field to a taxonomy but while doing so doesn't produce an error, the taxonomy is NOT cr

[2021-07-15 10:04] iamdanbarrett commented on #3648
I do agree, but it feels like this one may have been overlooked somewhat...

[2021-07-15 10:05] iamdanbarrett opened #3655 "JetEngine: Ability to password protect custom posts"
Is it possible that when creating a Custom Post Type within JetEngine that the native 'Password' protect option works on these pages? I have spoken to you over live chat to confirm that it currently does not work after much testing on my end.

[2021-07-15 10:44] iamdanbarrett commented on #3253
It should be added

[2021-07-15 11:04] 79ho3ein commented on #3253
I suggest you follow this issue here #3421
thank you

[2021-07-15 11:20] nedboox commented on #2014
Me too, I have the same question.
Is it possible to set up recurring appointments with the plugin jetappointment from crocoblock?

[2021-07-15 12:50] futureyoon commented on #2014
Appointment module is one of the slowest one in development compared to all other modules in my opinion.

[2021-07-15 12:56] futureyoon commented on #3460
+1
#450 (2yrs ago) :-)

[2021-07-15 14:11] BaronVonDerpsalot commented on #1349
Also hoping to see this. 2 associates of mine would be willing to buy lifetime unlimited deals for this feature.

[2021-07-15 14:24] jpcayman opened #3656 "PLEASE! JetBooking/JetEngine - Ability to change price based on dates"
As plugins that were built with accommodations in mind, I don't understand why seasonal rates aren't an option using JetBooking/JetEngine. The ability to change the price for specific nights/dates/seasons is very important in the accommodations/hospitality industry. There are high and low seasons and rates change within these times so JetBookings/JetEngine are quite useless for this industry. I'd

[2021-07-15 14:27] AliceNatali259 opened #3657 "'Portfolio' widget hover images + 'Inline SVG' widget images (JetElements) translatable into other languages"
I am writing this suggestion as instructed by Crocoblock support.

Currently, the HOVER IMAGES (either SVG or other, such as PNG or JPEG) of the JetElements 'Portfolio' widget are not recognised by translation plug-ins, such as Translate Press, so they cannot be replaced in the case of a translation into another language. Translate Press allows you to select only the image, but NOT the hover image

[2021-07-15 14:33] Rale379 opened #3658 "JetReview: Enable users to add images when writing a review"
It is often necessary for a user to add an image to a review.

A good plugin that I've used for shops is Photo Reviews for WooCommerce, By VillaTheme.
https://wordpress.org/plugins/woo-photo-reviews

Now, I need to have that functionality on a listing website.
Please, add it to your JetReview plugin.

[2021-07-15 14:35] developernerds opened #3659 "Add option to sort taxonomy filters by menu order"
I have a taxonomy for the experience level a user needs for a tutorial. For example, the levels range from very easy to expert. When I set up the checkbox filter, the levels are put in alphabetical order, which is NOT what I want because instead of looking like this:
Very Easy
Easy
Medium
Hard
Very Hard
Expert

They look like this:
Easy
Expert
Hard
Medium
Very Easy
Very Hard

So, it would be great

[2021-07-15 20:36] kochhase commented on #3179
when are we able to test JetEngine 2.9 beta?

[2021-07-15 23:30] Lonsdale201 commented on #3503
+1

[2021-07-16 01:00] mazdaak opened #3660 "JetAppointment - choose multiple services for booking at once"
Hello,

Please add ability to choose multiple services for booking at once in JetAppointment and show the total price in the confirmation page.

Thanks

[2021-07-16 02:45] 3wfdev commented on #2632
Yes, I really need this too. On a related note, would be great if the switchers and conditional fields work in repeaters on the Admin side too (similar to ACF)

[2021-07-16 04:56] 93petter93 commented on #2660
+1

[2021-07-16 04:58] 93petter93 commented on #243
+1

[2021-07-16 05:02] potentstudios commented on #3143
+1

[2021-07-16 07:22] dreamzspl opened #3661 "JetFormBuilder - Feature Request - Image Choices, Chained Selects, WooCommerce"
Hello, I would like to post a couple of feature requests for jetformbuilder-
1) ability to create image choices selections **_(Please see eg. https://www.scratchpetfood.com.au/onboarding/_** and **_https://jetsloth.com/gravity-forms-image-choices/_** and _**_https://qanvast.com/sg/renovation-calculator_**

2) chained selects form style _**(Please see eg. https://www.fwd.com.sg/car-insurance/compre

[2021-07-16 10:28] WaBaX commented on #968
+1,

I need this function very urgently and would therefore also contribute to a limited extent to the development costs.

Are there other interested parties for this function,
who would contribute to the development costs to speed it up?

Should this function actually be implemented,
do I need a REST API / webhook option, to connect my accounting system,
which can generate then the invoices autom

[2021-07-16 12:23] KremerWebdesign opened #3662 "Selection date-tool JetAppointment"
Is it possible to get a ‘select' type for all existing appointment dates of a certain service? Like the screenshot below.

<img width="475" alt="Schermafbeelding 2021-07-15 om 22 30 19" src="https://user-images.githubusercontent.com/87529913/125946544-138d79e6-da5d-4ef6-8416-d0afc4d29378.png">

The dates should be related to the dates in screenshots' right corner below.

<img width="1146" alt="Sch

[2021-07-16 13:28] xC4M opened #3663 "Display a badge on "New products""
I've been trying to show a "New!" badge on each new product in an ecommerce, but I haven't achieved it yet.
I was using Query Builder to display in a listing grid all new products with a "New!" badge, but when the product is on the Archive Shop Page (where all products are in), there is no way to display the "New!" badge on those new products. Likewise, I tried setting the dynamic visibility for i

[2021-07-16 13:37] stasonua0 opened #3664 "JetCompareWishlist - remove the item from favorites when you click it again"
Hello, consider adding the ability to choose in the plugin settings what to do when you click the Favorites icon again https://prnt.sc/1bsd7fg - Remove from favorites or go to the Favorites page. Thank you!

/*Оригинал*/
Здравствуйте, рассмотрите возможность добавить возможность выбирать в настройках плагина, что делать при повторном нажатии на иконку Избранное https://prnt.sc/1bsd7fg - Убрать из

[2021-07-16 13:39] #3664 closed, assigned to nobody

[2021-07-16 13:57] Medeon-68 commented on #3380
My Workaround:

https://prnt.sc/1bsi8iz
https://prnt.sc/1bsij99

		<?php

			if(is_singular('knjiga')){
				$views = get_field('pregledi');
				$views++;
				update_field('pregledi', $views);
			}
		?>

So if this can be done with Advanced Custom Fields then, I’m sure, it can be done with the much more powerful JetEngine! Only if you have the will to do it.

[2021-07-16 14:45] Willitbang commented on #1246
+1

[2021-07-16 14:47] Willitbang commented on #1035
+1

[2021-07-16 14:47] Willitbang commented on #2092
+1

[2021-07-16 14:54] Floydtm commented on #3635
I understand that this is important for you, but these settings are available in the settings of WordPress. Thank you!

[2021-07-16 14:54] #3635 closed, assigned to nobody

[2021-07-16 14:59] Floydtm commented on #3636
Your link is not working. Re-create the request

[2021-07-16 14:59] #3636 closed, assigned to nobody

[2021-07-16 17:57] 79ho3ein commented on #3663
If I am not mistaken, a request similar to your request has already been submitted : #2680

Yes, this feature is really needed. Of course for the jet woobuilder plugin. I hope this feature will be added to the plugin soon. It is very practical.

[2021-07-16 19:01] 79ho3ein commented on #3622
hi @UraraReika
I tested the problem by all means. Just like video, it creates a problem.

[2021-07-16 20:31] dennzo commented on #2307
+1 please

[2021-07-16 23:57] nreljed commented on #3663
I have encountered this problem in the past and I have long thought about all the possibilities
I did not find better than this snippet-based solution
you can already start with that and modify it to your needs

[code]
![Capture d’écran 2021-07-17 005055](https://user-images.githubusercontent.com/82481592/126018619-84860a38-884b-4e4a-a14b-6756a29e2564.png)

it displays new badge if the post or pro

[2021-07-17 01:10] FknBestBrain opened #3665 "Paid Listing Feature"
I am requesting a "Paid Listing" option to charge for Post Listings. I saw a competitor that had this option in a $69 theme and package, and thought to myself, would be great to have this ability under the unlimited package, (no shade as i am not certain the complexity that goes into this type of thing) However it seems that this company has made a MAGNIFICENT theme with stand alone features, no a

[2021-07-17 01:20] FknBestBrain opened #3666 "Auto Delete Post at Indicated Time Frame."
Hopefully you add the "Paid Listings" request, and if you do or don't, I would like to be able to have the listing expire on a certain date. I do not want to have posts siting on my server forever, it would be easier to have them autodelete or go into a folder for deletion, or go back into a draft state if it cannot be deleted that admin only has access to to request whether user wants to update p

[2021-07-17 06:56] jtas01 commented on #2492
I tried running your code, but it gives me a blank page. Maybe this will help.

    add_shortcode( 'parent', 'taxonomy_parent' );
    function taxonomy_parent(){
	    $taxonomies = get_terms( array(
		    'taxonomy' => 'property_type',
		    //'parent'   => 0, //you can show parent from here as well - no need for the below if conditions then.
		    'hide_empty' => false
	    ));

	if ( !empty($tax

[2021-07-17 13:06] jtas01 commented on #1138
Yes, elementor's custom query is great. And would love to have the same in JetEngine as well.

[2021-07-17 13:42] BaronVonDerpsalot commented on #968
+1

[2021-07-17 13:42] BaronVonDerpsalot commented on #3143
+1

[2021-07-17 13:43] BaronVonDerpsalot commented on #3503
+1

[2021-07-17 13:46] BaronVonDerpsalot commented on #349
+1

[2021-07-17 13:46] BaronVonDerpsalot commented on #266
+1

[2021-07-17 13:49] BaronVonDerpsalot commented on #221
+1... Google is seriously cracking down on poor pagespeed in 2021. Elementor themselves have started implementing lean file delivery.

[2021-07-17 13:49] BaronVonDerpsalot commented on #110
+1

[2021-07-17 17:31] P-happiness opened #3667 "Fatal Error on Single Product Template (JetWooBuilder)"
Hi there,
I'm getting a Fatal Error on Single Product Template.
I can't edit it.

https://prnt.sc/1c9mu1x
https://prnt.sc/1c9nbs4

Since I updated to the latest version of JetProductGallery I started noticing problems on the frontend.

https://prnt.sc/1c9p3ep

The Gallery is gone. I keep getting Gallery not found message.

Could you helpe me please?

[2021-07-17 18:56] 79ho3ein commented on #3146
hello
excuse me @Floydtm
Will this feature be added in 2021?

[2021-07-17 19:08] rotsburg opened #3668 "Timeslot not showing properly through the different services"
**Describe the bug**
When I have services with different slot durations (half hour and hour in my current case), it doesn't display this it displays the service provider's slot durations instead. So If I picked a service that's a half an hour long and the service provider's slot duration is in hour increments, it shows up as hour increments instead of half hour increments as it should based on the

[2021-07-17 19:24] rotsburg opened #3669 "Put the slot duration only under the service so it shows the proper slot duration on the calendar when people are making a choice."
Currently when I set the slot duration of a service it is over written by the slot duration of the service provider. this makes no sense to me since the service provider should just have the hours they work filled in throughout the week and the different slots should change based upon the services assigned to them. For example, if you have two services, one for an hour and one for a half an hour,

[2021-07-17 20:48] 79ho3ein commented on #3667
hi @P-happiness
This problem only exists for a single product page, right? checkout page, shopping cart, etc. work properly?
This problem has also occurred to me in a recent update. (1.9.0 version)
I reported it to the developers. And I explained the problem.(In #3628)
That's why I'm still in version 1.8.2 ...
I hope the problem is solved in the new version.

[2021-07-17 21:21] DenoBeno1 opened #3670 "Create customised search results pages for each search form"
With Elementor Pro you can modify the appeareance of a search results page using the Theme Builder. Problem is, it looks the same for every search performed on your website. Let’s assume you need a different page when visitors search for products than the one visitors use to search you blog posts.

I've seen this plugin which would solves this issue and i think this may be pretty easy to implement

[2021-07-17 22:23] bsjelin commented on #2349
Agreed - I'm in the same boat.

[2021-07-18 00:33] P-happiness commented on #3667
Hi @79ho3ein,
yes this problem only exists for single product page...

On Query Monitor I get a PHP Error to JetWooBuilder plugin.

`wp-content/plugins/jet-woo-builder/includes/shortcodes/jet-woo-products-shortcode.php:534
Jet_Woo_Products_Shortcode->query()
wp-content/plugins/jet-woo-builder/includes/shortcodes/jet-woo-products-shortcode.php:813
Jet_Woo_Products_Shortcode->_shortcode()
wp-content

[2021-07-18 01:00] 79ho3ein commented on #3667
@P-happiness
The problem is definitely with the jet woobuilder plugin. **To test, please do what I say below and let me know the result**

You have used the product grid widget on a single product page. Please change all queries to "all" in the product grid widget.
For example, if the product grid query was on related products, cross sell, etc., set them to "all". And then save the settings.
Has t

[2021-07-18 14:04] Topicimes commented on #3460
I have indeed seen many requests similar to mine. This one should arrive soon!

[2021-07-18 21:35] 79ho3ein opened #3671 "New mode in pagination jet smart filters plugin (Return to top after changing page)"
hello
Currently, the pagination widget settings of this plugin are limited. In this widget, there is an item that needs improvement.
In the pagination widget, when we enter a new page, we move to the top of the page as soon as we click on the page number. While the page may not be fully loaded yet.
My suggestion is to please add a feature, that **when we click on another page, the full page will l

[2021-07-19 06:01] UraraReika commented on #3667
@P-happiness The problem with fatal error is solved, release soon. After product gallery update please select gallery source

[2021-07-19 06:01] #3667 closed, assigned to nobody

[2021-07-19 06:05] UraraReika commented on #3667
@P-happiness you can contact our support team to solve this issue

[2021-07-19 06:13] UraraReika commented on #3663
Hello @xC4M and @nreljed !

You can use this code snippet as an example https://gist.github.com/UraraReika/5e944f13d166ec9457698922272197ce and add your custom macros to all badges widgets in JetWooBuilder like this https://i.gyazo.com/85c3b91b9e384043075225a5e50b34d8.png.

[2021-07-19 06:40] CommerceMax opened #3672 "Add a clear and fitting title for the feature request"
Meta fields for product variations in Woocommerce are currently not supported, though I can select variations while creating a meta field. The field will not show up on the product variation. Simple feature, that your users will love. It will give you an advantage over your competitors and save us messing around with crooked code snippets and additional plugins.

[2021-07-19 07:34] harryriegel opened #3673 "Checkbox field supporting terms AND additional manual input of terms from Frontend Dashboard"
User roles, who can publish posts, need to define the correct terms of a given taxonomy for a custom post type. Therefore, they need check-boxes with the matching terms. Many times terms are missing/do not fit the post-content. Therefore, the user can MANUALLY INPUT the terms she/he requires for his post.

Maybe this new term(s) will also get available to other users. So the list of available term

[2021-07-19 07:52] harryriegel commented on #3333
Absolutely correct! For a site which has many terms, it would be better to have a search field. Corresponding to what is typed inside the search field, the adjacent terms show up underneath, loaded with AJAX.

[2021-07-19 07:59] harryriegel commented on #3654
Totally agree! The same applies to terms, which is our main issue. Otherwise, JetElements is great, but this is a real problem.

[2021-07-19 08:54] UraraReika commented on #3622
Hello @79ho3ein !

We deeply tested this issue and came to the next conclusion. This is not a problem of our widget but its here. This behaviour is caused by Swiper slider library and the way how sliders works and render themselves. We although recreate this issue with other not only our widgets. You can avoid this by using paddings on columns or margins directly on widget.

[2021-07-19 08:54] #3622 closed, assigned to UraraReika

[2021-07-19 09:03] UraraReika commented on #3672
Thanks for the feedback.
 Please follow guidelines for opening a new [feature request](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/feature_request.md), so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests. Thank you for your understanding.

[2021-07-19 09:03] #3672 closed, assigned to nobody

[2021-07-19 10:20] 79ho3ein commented on #3622
Thank you very much @UraraReika

[2021-07-19 11:24] CommerceMax opened #3674 "Meta fields (Custom Fields) for product variations in Woocommerce with Jet Engine"
I would like to see support for Jet Engine Custom Meta Fields for Woocommerce Product Variations.

After contacting support this feature is currently not supported.

While configuring Custom Meta Fields under the current options, i'm able to select "Variations" under the "Enable For Post Types" option. In the image below you can see the Meta Field "Info" is set to display on "product_variations",

[2021-07-19 11:26] CommerceMax commented on #3672
Reopend here https://github.com/Crocoblock/suggestions/issues/3674#issue-947553716

[2021-07-19 12:41] maxteria commented on #1616
Hi Guys, I'm facing the same point. I need to show an Elementor single template with a **QR Code based on current post URL** using Dynamic Field and QR Code filter output. Thanks in advance

[2021-07-19 12:46] leppisretep opened #3675 "Search Functionality to include Comments to the search"
Hi.
The JetEngine search functionality (like Ajax Search) is currently not searching in the comments. I want site members to discuss the posts and this text or information should be included in the search results.
Thanks.

[2021-07-19 13:15] KavabangaTeam opened #3676 "Functionality for displaying terms in a taxonomy template"
Made 2 templates, 1 for post type, 1 for taxonomies. Created a listing with titles on both templates. I made a dynamic title for the taxonomy template (term + post title), but when I switch to the taxonomy template, all taxonomies that belong to the post are displayed in the title. Request: please make the functionality so that only the term that belongs to the taxonomy is displayed.

[2021-07-19 13:37] ConsultMePL opened #3677 "Improve JetTabs functionality - it has great potential"
Hi,

I have used JetTabs along with JetEngine and found it extremely useful to build restaurant menus, galleries, and now even woocommerce shop page. But there are way more used cases, but in order to fully utilize JetTabs potential, I'd love to certain improvements:

- ability to "enable slider" so it could be mobile friendly (for now I have to use custom css)
- ability to query elements directly

[2021-07-19 16:26] SaidBahaDev commented on #2227
@Floydtm any update ? i think this is more important to have for CPT then to have for CCT ?? toolset , metabox, pods ... already have this option but not jetengin so sad

[2021-07-19 16:27] SaidBahaDev commented on #2227
@juustcrnt i am on the same situation , did you find a solution ? thnks

[2021-07-19 17:03] SalVirji opened #3678 "Dynamic visibility based on Geolocation."
Not sure if this is something the team is already considering at crocoblock.

Dynamic visibility based on Geolocation shows or hades an entire section based on the visitor's Geolocation. I have seen other plugins do this.

The plugins that are already using this function are If-So-Dynamic content and Dynamic coo.

Thanks.
Sal

[2021-07-19 17:37] jaikangam opened #3679 "Feature request to have select timezone on Jet Appointment like Calendly"
Hi Dev Team,

Will be great if this feature is feasible on Jet Appointment.

It will be added a lot of value for the worldwide targeting business,
*Screenshot from calendly*: https://prnt.sc/1bxwoky

[2021-07-19 23:09] chunterb commented on #2227
I am facing a similar issue at the moment. I am looking to create CPT's externally with an API (preferably the WP API).

Are there any alternate approaches that someone can suggest for now?

I know of CCTs, but I've learned that it is not really possible to make standalone pages for each CCT. Please correct me if I am wrong about this.

Thank you.

[2021-07-20 01:11] SaidBahaDev commented on #2227
@chunterb you can use toolset or pods or metabox they all support rest api, only jetengine that instead of adding it first to CPT they are doing it for CCT !

[2021-07-20 10:21] marlokessler commented on #2632
+1

[2021-07-20 11:50] cadentic opened #3680 "jetwoo is untested and incompatable with elementor pro"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-07-20 11:59] Lonsdale201 opened #3681 "JetProduct Gallery - Issue on mobile"
**Describe the bug**
Widget Type: Gallery Grid. The widgent does not respect the grid number in different breakpoints. (mobile, desktop).

**To Reproduce**
Steps to reproduce the behavior:
1, Place a Gallery widget (in my case, in the product single template), set a col number 1 in desktop.
2, Now switch example Mobile, and set, the columns number 3.
3, See the result:
When you switch different co

[2021-07-20 12:34] CaseFixedWebdesign commented on #3656
+1

[2021-07-20 12:34] CaseFixedWebdesign commented on #3455
+1

[2021-07-20 12:35] CaseFixedWebdesign commented on #3036
+1

[2021-07-20 13:06] mjerkov opened #3682 "JetEngine - display of CCT items with metafields from lists (glossaries, posts etc)"
Is it possible to correct a WP list of CCT items that have meta fields selected from lists (glossaries, posts etc)?

![display](https://user-images.githubusercontent.com/47100526/126329091-9d3d215c-2b8d-479f-a882-d53689854757.jpg)

[2021-07-20 14:09] UraraReika commented on #3680
Hello @cadentic !

Latest JetWooBuilder version has this compatibility tags:
 * Elementor tested up to: 3.2
 * Elementor Pro tested up to: 3.3

There wastn any release after Elementors updates. Next release will be soon and already tested with latest versions of Elementor and Pro version.

[2021-07-20 14:09] #3680 closed, assigned to nobody

[2021-07-20 15:57] drawesome commented on #2031
+1.   This is a major oversight.  I want to open dynamic popup but making the entire Listing item clickable... however it doesn't seem to work this way.

The workaround i found was to fill up the listing item with a transparent image that is set to absolute position and floating above the item with the jetpopup attached to it.   not really elegant.

[2021-07-20 17:05] About2git commented on #3471
Hi Martin,

the Elementor Maps Widget has a Dynamic Option. This should work as long as you get the whole address in one field from your CRM.
see here: [https://imgur.com/a/j4TdQZ5](https://imgur.com/a/j4TdQZ5)

BUT I still need this to work. Ben from Borlabs Cookie said it should work:

Ben from Borlabs Cookies (wrote to me).

------

[2021-07-20 20:19] BaronVonDerpsalot commented on #2010
This would be an absolute GAME CHANGER.
I'm managing pretty much this functionality with the listing builder, but, of course, there's no customisation available for my clients, and it's a slow, limited process for me.
A decent widget builder would set Crocoblock leagues apart from the competition, and I should imagine make it really rather popular.
+1000 on this one, please.

[2021-07-20 21:54] deepwaterpixel commented on #1159
It has been 133 days since I found this thread and commented with a solution that could be implemented quickly by the developers.  It has been 452 days since this thread was reported on Apr 24, 2020.  Can we tag a dev and get this fixed?

Edit: I came back here because I noticed another build of mine was not indexing filters automatically and I thought "surely they haven't sat on the solution for

[2021-07-20 23:56] andrewpros commented on #2227
@chunterb Only by some code additions, but, there is no documentation how to do it, i needed to know this only cuz my client is using this plug-in, but overall it seem it is not created for devs, so no technical php docs, no way to know what and how to change to at least connect things, the only way is to wait for updates, due to this and wp api being slow in my case, i will not use it for the ori

[2021-07-21 01:13] jamsheehan opened #3683 "JetEngine: Option to Export & Import JetEngine CPT & CCT Meta Fields"
Right now if you have 2 websites that are basically using the same details there's no quick method to export / import meta fields for the various data types.

It would be phenomenal to have the option to export the Meta Fields for the Custom Post Type and Custom Content Types but could also be extended to some of the others:

- jet-engine-meta
- jet-engine-cpt-tax
- jet-engine-options-pages

This

[2021-07-21 05:01] ALPSIT commented on #221
This is ridiculous - there is so much unused CSS being loaded!! need a fix to unload CSS not being used for widgets that aren't enabled.

After learning more about Optimisation, Unused & Render Blocking CSS & JS, seeing how badly Crocoblock bloats CSS & JS on unused widgets - i'm looking for other options. Such a shame after putting in over a year of time to learn their suite.

It's just really ba

[2021-07-21 11:00] coolsatinder opened #3684 "Use Shortcodes Inside Custom Fields Created via JetEngine"
I create custom fields using JetEngine for woocommerce products.

These are text fields and I'm adding shortcodes inside them. Now I want to render these shortcodes via Elementor dynamic fields. Currently these custom fields are just printing the shortcode instead of rendering shortcode values. There must be a filter to render shortcodes from custom fields.

Like ACF provides a filter - `add_filte

[2021-07-21 11:10] Lonsdale201 commented on #3684
With the Dynamic field widget, you can set, the shortcode option.

[2021-07-21 11:22] 79ho3ein opened #3685 "Problem with Single Sale Badge Widget (jet woobuilder plugin)"
hello
in Single Sale Badge Widget, The field is not in the right place and is not in a good position. https://prnt.sc/1alenp4
As you can see in the image above, the highlighted field is out of the box by default. And this makes it difficult to align with other widgets. Now, I'm aligning this part using the margin. Please fix this problem if possible.

thank you

[2021-07-21 11:30] coolsatinder commented on #3684
Yes Dynamic Field has an option to do_shortcode via Filter Field Output but how to do this inside Elementor Pro dynamic fields?

Suppose I want to add a dynamic data inside Elementor Pro Icon Box then there is no option to do_shortcode.
![shortcodes-inside-custom-field](https://user-images.githubusercontent.com/26760823/126482035-344597da-bb54-4655-aa69-576bcee44906.jpg)

[2021-07-21 12:54] jtrzeff commented on #3517
Yes, I am using WPBase https://wp-base.com/ and the 2-way sync with Google Calendar is essential for our business coaches. We would much rather use JetAppointment since we've invested into the JetEngine environment

<img width="1339" alt="image" src="https://user-images.githubusercontent.com/87763995/126491665-d63e03cf-df5a-4d29-8caa-59dbb2bb011f.png">

[2021-07-21 12:55] jtrzeff commented on #3503
2 way Calendar sync!!

[2021-07-21 13:40] About2git commented on #1119
Yeah, this is nice, but seems not to work with Terms Metadata. So in Term as Archive Templates Repeater Fields are still not possible with this addon :-(

[2021-07-21 14:37] vinhxomdoi opened #3686 "Get Repeater Field as Number Format"
I try make repeater field with "name" and "price", then make a pricing table like : https://honda-oto-binhduong.net/bang-gia-xe/ . I have problem that I can get Repeater as number format(like 1000000--> 1.000.000), and it's kind of hard to read.
I add some css class to repeater field and  use some js I found in the internet(  I don't even remember where).
It's work fine, but in safari, when number

[2021-07-21 15:11] alexgauvin opened #3687 "Visual cue of unused widgets in all JetPlugins settings for deactivation"
My suggestion would be to have a visual cue on each Widgets & Extensions page settings for every JetPlugins installed that indicates which widgets and/or extensions are in use (or not) on the website.

This to be able to deactivate them when dev project is done, for efficiency and speed purposes.

A short clip to be more precise : https://www.loom.com/share/d5dad5e85aa54c48bb967d7871797cd1

[2021-07-21 15:23] Gabrymi93 opened #3688 "JetReviews - Add "Recipe" type as structured data"
WPTuts shows how to create a Food blog using JetEngine CPTs and JetReviews, I think he didn't keep in consideration there are no structured data for Recipes and Google Rich Results display error message. You should add Recipe type with all the other structured data you've added

**Add an example of where this feature is already implemented. **

Please, check which type Yasr has https://wordpress.o

[2021-07-21 15:40] maurocarreraok commented on #2308
+1

[2021-07-21 15:48] #3682 closed, assigned to nobody

[2021-07-22 01:33] MejCom opened #3689 "Highlight Search Results With Smart Filters"
Using a custom Smart Filter, we are being requested to highlight the found word.

Example:

User searches for "dolphin" in the custom search. The Smart Filter finds the word "dolphin" and it appears in several places. Instead of having to read through every place to find "dolphin", the word "dolphin" is highlighted in the search results making it easy for the user to find the specific instance of

[2021-07-22 02:48] frankwarwick opened #3690 "Adding a map to forms to provide a location #JetEngine"
Adding a map to forms to provide a location using drag n drop pin location that also shows the address in adjacent input fields.

As an event manager I want to provide the country, State, city/town and post code/Zip
As a rental agent I want to show the country, State, city/town and post code/Zip
I live in a location that has not street name or property numbers

[2021-07-22 07:46] saltkinmedia opened #3691 "[JETENGINE] [FORM] Add query parameters when pulling posts from the checkbox, radio, select.."
Add the possibility to pull posts from taxonomies or query builder on the checkbox, radio, select....  fields.

So we can avoid pulling all the posts in the post type selected

https://www.facebook.com/groups/CrocoblockCommunity/permalink/4493482434076476/?comment_id=4493586894066030&reply_comment_id=4493614214063298&notif_id=1626938953165023&notif_t=group_comment&ref=notif

[2021-07-22 07:50] About2git opened #3692 "Dynamic Data Addon: Support Term Meta Fields to be selected for building Term Templates"
The Dynamic Data Add-on is a good solution to work with Repeater Fields and Dynamic Tabs / Accordions.

However, at the moment it does only work in Post templates and Elementor Pages. But it does not work within Term  Templates with Term Meta Fields.

For example, I have a repeater Field for FAQs in the terms. At the moment I cannot select Term Meta in Dynamic Add-on, only Post Meta…

Would be gre

[2021-07-22 07:54] hNilsen90s opened #3693 "JetWooBuilder releated products 500 internal server error crash"
**JetWooBuilder 500 error crash**
If you create a single product page template, and add a product grid listing and set query to "related" products on a single products page/template you will ruin/break your template. You are not able to revert this, you'll keep getting an error 500 until you create a new single product template.

**Reproduce crash**
Steps to reproduce the behavior:
1. Setup a sing

[2021-07-22 08:24] flyartcom opened #3694 "Using word count instead of height for unfold widget"
Hello everyone

I strongly believe it would make a lot of sense to add to option of word count to specify the "height" of unfold widget. With only height it is nearly impossible to show an exact part of a plain text as the amount of lines change when resizesing the browser wind which results in revealing parts of the text that should be hidden.

Using word count you can be sure to only show the am

[2021-07-22 09:05] UraraReika commented on #3685
Please contact our support team with this request

[2021-07-22 09:05] #3685 closed, assigned to UraraReika

[2021-07-22 09:54] MrJoshFisher commented on #1314
Having an issue where some shortcodes aren't loading on the mobile sub menus but are working fine on Desktop (Jet Menu V 2.0.9 With Elementor Pro)

[2021-07-22 10:15] 79ho3ein commented on #3693
hello @UraraReika
When will this update be released? may you tell?

[2021-07-22 10:40] fafchook opened #3695 "Add a link field to the Dropbar element"
The Dropbar element does not have a link field, and the only option to add a link is by using an <a> tag.
However, if you only want to use an icon or using an image instead of button, than it's impossible to insert a link (only possible to the tooltip using an <a> tag).
This will be very useful for cases like the one I've created on this link: [Dropbar demo page](https://danielm163.sg-host.com/cou

[2021-07-22 11:03] UraraReika commented on #3693
This week

[2021-07-22 11:15] 79ho3ein commented on #3693
thank you

[2021-07-22 12:02] gaga82 opened #3696 "set font size and space in desktop menu items to avoid ... (hidden elements)"
Hi
could you make something to use mega menu with the adaptive % screen size of the first level of item in a mega menu without displaying "..." that indicates some hidden items?
![Schermata 2021-07-20 alle 13 50 22](https://user-images.githubusercontent.com/87811570/126636058-b0fe1783-4630-4a7b-a762-6ffa3d2887bd.png)
 Thank you!!

[2021-07-22 12:10] Brink67 commented on #2342
Hello, how do we reactivate the license key?

[2021-07-22 12:30] UraraReika commented on #2342
@Brink67 please contact our support team they will help you.

[2021-07-22 12:48] cadentic opened #3697 "ajax jetsearch"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2021-07-22 13:05] #2556 closed, assigned to kaskad88

[2021-07-22 13:25] enuzzo commented on #3041
I endorse this feature!
Example: in a shoes e-commerce I will use "brand" as an attribute for the product. I would then like to use that attribute to show up over the product name and stylize it. That would be super useful.

[2021-07-22 13:32] enuzzo opened #3698 "Navigate images within "Crocoblock Gallery Grid Widget" Lightbox"
In "Crocoblock Gallery Grid Widget" if you enable the "Gallery" ticker, you'll be able to open a lightbox and if you click on the search icon, you'll get a scrollable lightbox gallery.

It would be useful to get the scrollable gallery clicking on the whole image, not only the icon.

Since we already have the ability to disable "Gallery" and click every single image without browsing, it would be su

[2021-07-22 13:33] cbsa100 commented on #3388
+1

[2021-07-22 14:36] Zegklitz opened #3699 "Files browser widget + Files meta field"
Hello,

I am repeatedly experiencing the inability to easily view the list of files to download associated with a page or post.
 I know I can use a repeater field with a listing template to do this, BUT there are many disadvantages (I can only upload files individually, the solution is not user friendly, the template settings have their limitations ...).
 It would be great if I could select the "F

[2021-07-22 15:38] Brink67 commented on #2342
Actually, I already figured it out. Jet-Engine alone is not enough to "reactivate" a license. I installed the Jet-Theme-Core and realized immediately how the license worked. It has just been a couple years since I originally installed and I forgot about the theme core because I only use the Jet-Engine portion on this particular site. Thanks

[2021-07-22 15:39] jamieburchell commented on #346
+1. How is this not a thing? I moved from PODS and am surprised this isn't part of JetEngine.

[2021-07-22 16:05] nedboox opened #3700 "JetEngine - Import functionality for CSV files that also contain repeater fields"
It is not possible to import data that contain repeater field types.

For example, I have about 10,000 company addresses that contain information of company employees in addition to the standard company fields. This information from company employees is stored in repeater fields.

The data I want to import is stored in a normal Excel spreadsheet (Microsoft 365, version 2021) or CSV file.

There is

[2021-07-22 16:33] Medienor opened #3701 "🔥 JetEngine: Urgent! Let logged in users see own "reviews" they have left on website at profile bio section 🔥"
Hello,

We are working on comparison website. All comparison websites like Tripadvisor, USwitch and many more let their own users leave reviews. Then you can logg in into your account, and see the reviews you have left on the website. This is a very good feature to have, especially if profile builder are important, this function can be important over many different company genres. Hotell, Comparis

[2021-07-22 17:12] Blandzia commented on #252
2021 there and nothing changed, could you maybe write a css for transition? please

[2021-07-22 21:34] Blandzia opened #3702 "JetMenu transition"
I would like to propose that finally the possibility of setting the duration of the animation of the appearing submenu in JetMenu should be introduced. It can even be in the form of a custom css for beginning. I am asking for any response as this topic is over 2 years old.

[2021-07-22 22:07] jpfrancois2021 commented on #450
+1

[2021-07-23 00:21] chaser32419 opened #3703 "JetSmartFilters dropdown alphabetical order"
I did check I even asked support it isn't a thing yet.

It seems like it would be a basic feature for something like a smart filter to have the ability to organize the dropdown in alphabetical order to make it easier for users to find what they are looking for when a website is large and has a lot of options in it.

The feature, when a user creates a dropdown with the smart filter you give then th

[2021-07-23 03:33] Nalbah opened #3704 "Jet Appointment plugin"
**Jet Appointment:** It would be great if one could allow Users/Sellers/Businesses (in a marketplace) to set their own availability for appointments in the front-end from their account page. Could you do the world this favor to add this Feature? 8-)

Thank you in advance!

[2021-07-23 05:20] ghost opened #3705 "Jet Appointment Remembering Email"
It would be great if any client, who booked an appointment receive any remembering text on his phone or email before the appointment. Could you do the world this favor to add this Feature? 8-)

Thank you in advance!

[2021-07-23 06:25] 93petter93 opened #3706 "JetEngine - Dynamic Visibility - Product age / publish date as condition"
Hi! Could you please add product age / publish date as a condition for Dynamic Visibility?

In my case i'm trying to make "New Product" sticker / badge witch is going to be displayed for all products older than 30 days or something.

Example:
![image](https://user-images.githubusercontent.com/58670859/126744536-d373c132-218a-4438-881b-2ae2e4b08e75.png)

[2021-07-23 06:34] hNilsen90s commented on #3693
@UraraReika was this issue fixed in the JetWooBuilder 1.9.2 release? Found nothing releated to the bug in the changelog.

[2021-07-23 06:38] 93petter93 opened #3707 "JetSmartFilters - SEO friendly permalinks for product categories"
Hi! Could there be a way to make the permalinks when using JetSmartFilters more clean and SEO friendly?

**Examples**
Now the links looks something like this:
http://mystore/shop/jsf/jet-engine/tax/product_cat:28/

Ideally the links should look like this:
http://mystore/shop/jeans/

[2021-07-23 06:51] 93petter93 opened #3708 "JetWooBuilder settings - Use AJAX remove from cart instead of reload page"
Hi! Could you add functionality to use AJAX to remove products from cart instead of reload page?

This could be a checkbox inside JetWooBuilder settings next to "Force use AJAX add to cart instead of page reload on the singe products page".

[2021-07-23 07:01] 93petter93 opened #3709 "JetSmartFilters - Filter product categories descending by index count"
Hi! Could you add a way to filter product categories descending by index count?

Example:
![image](https://user-images.githubusercontent.com/58670859/126747572-fa12ac94-0cde-40c8-ac48-4874082ac5ea.png)

[2021-07-23 07:11] 93petter93 commented on #361
+ 1

[2021-07-23 07:11] 93petter93 commented on #361
Color swatches and product size swatches would be amazing.

[2021-07-23 07:13] DevDietheR opened #3710 "Product Grid Use Current Query must be able to set Order by and Order in Jetwoobuilder"
Hi, Recently my client asked me if they can set the product grid order, I said yes but the problem is if it is a category page, the product grid must be set to "Use Current Query" in order to display the products for the current categories/tags, the problem is when this is activated the Order by and Order option dissapears.
This is very important to have, not just a-z order

![image](https://user-

[2021-07-23 07:21] 93petter93 commented on #3706
It would also be great to have "best sellers" as a condition. That way we could add a "HOT" badge for the best selling products.

[2021-07-23 07:30] 93petter93 opened #3711 "JetBlocks - WooCommerce Shopping Cart Widget - Slide out when product added"
Hi! It would look really good if the mini-cart could slide/pop out when a product is added. In Shopify this is done by default.

This could be a checkbox inside the settings of the "WooCommerce Shopping Cart Widget".

[2021-07-23 07:48] #3461 closed, assigned to UraraReika

[2021-07-23 07:48] #3472 closed, assigned to UraraReika

[2021-07-23 07:48] #3528 closed, assigned to UraraReika

[2021-07-23 07:48] #3627 closed, assigned to UraraReika

[2021-07-23 07:48] #3645 closed, assigned to UraraReika

[2021-07-23 07:48] #3693 closed, assigned to UraraReika

[2021-07-23 07:51] UraraReika commented on #3710
Hello @DevDietheR !

Appearance > Customizer > WooCommerce > Product Catalog > https://i.gyazo.com/276104d73334805673a508c3ae879cc6.png. You cant although expand this list with hooks.

[2021-07-23 07:51] #3710 closed, assigned to nobody

[2021-07-23 07:55] enuzzo commented on #3698
I noticed another issue: while in the Elementor Lightbox settings you can also increase the control icon sizes and colors, in Crocoblock you still can't. This way, if you set your PhotoSwipe background to be light or white, the controls won't change their colour, therefore remain mostly invisible.

TL;DR
- Ability to change size and colour of controls of PhotoSwipe
- Nice to have: a trigger to "Us

[2021-07-23 08:13] UraraReika commented on #3708
Hello @93petter93 !

If you enable this option https://i.gyazo.com/25917457f8acf59497e5eeec3e9d5b4a.png then you can remove products from the cart (JetBlocks - WooCommerce Shopping Cart, and module in kava theme header) via ajax.

[2021-07-23 08:51] nedboox opened #3712 "Jet Engine - Select field type - Add selections with copy and paste from TXT file."
Jet Engine - Select field type - Add selections with copy and paste from TXT file.

Example: A city directory
In ACF Pro in the Select field Type, you can copy-and-paste 90 districts of a city from a TXT file into the Choice field.
**Duration 30 seconds.**

The current effort to add 90 city districts in a select field Type in Jet Engine **is about 1.5 to 2 hours** because you have to add each fiel

[2021-07-23 08:53] dev-antony opened #3713 "Jet Engine: Calculated fields doesn't support date"
Hi,
I was building a project and happened to find out that I cant calculate dates.

I was working on a hotel reservation system and trying to calculate the 'checkout date' from the 'check-in date' and 'days staying'.
checkout day = check-in date + days staying

also, it would be helpful if you can add a method to find out the difference between the two dates. its for an another project and wants t

[2021-07-23 08:58] nedboox opened #3714 "Jet Appointments - Add recurring appointments"
Jet Appointments - Add recurring appointments

This is one of the most important functions in the service industry.
It must be possible to add recurring daily, weekly, monthly.... appointments to be booked.

[2021-07-23 09:53] Medienor opened #3715 "JetReviews: Can't fetch Quiered user ID for users to see their own reviews"
Hello,

We are making a website where logged in users can see their own reviews.
We followed a guide given by your support, but it dosent work.

We made a new listing in jetenginge (JetReviews)
We made a custom Query in JetEnginge,
We also gave the listing builder a custom query in elementor, but it seems like it can't fetch User Query ID.

![Screenshot_43](https://user-images.githubusercontent.co

[2021-07-23 10:58] ellemck opened #3716 "Facebook for WordPress Plugin Integration for JetEngine Forms"
Please can I request that JetEngine Form builder aims for integration with the Facebook for WordPress plugin?

https://github.com/facebookincubator/Facebook-Pixel-for-Wordpress
https://wordpress.org/plugins/official-facebook-pixel/

I understand that the reviews of this are terrible, however it is an incredibly important plugin for Facebook marketing to ensure that form submissions can be tracked

[2021-07-23 11:21] julianohammerle commented on #3574
great idea.

[2021-07-23 11:41] julianohammerle commented on #1865
Hello good day.
Has this feature been removed? Because I can't find how to adjust the Date Format.

[2021-07-23 11:41] julianohammerle commented on #1865
Hello good day.
Has this feature been removed? Because I can't find how to adjust the Date Format.

[2021-07-23 11:55] tizum commented on #3069
@UraraReika thanks, this issue has been resolved, preloader is a great option!

[2021-07-23 11:55] #3069 closed, assigned to nobody

[2021-07-23 13:25] dariogalleno opened #3717 "Smertfilter for repeater fields"
Hi there,
it will be helpfull add the possibility to create a Smart filter for repeater field items.
F.e. if exist a repeater meta includig 3 field (product name, price per day, brand.) it will be nice filter all the repeater list by "brand" or "price per day" range.
Hope this request make sense.

tks  Dario

https://downloads.intercomcdn.com/i/o/366677728/c79706fd3307db5d45242f12/image.png?expire

[2021-07-23 13:27] coolsatinder opened #3718 "Icons in Carousel & Portfolio Widgets of JetElements"
Provide feature to select icons and adjust their position in portfolio and carousel widgets of JetElements.

[2021-07-23 16:03] prodrigocostavieira opened #3719 "Jetpopup - CSS error (It is not displayed in the front-end of the elementor (editor) and also in the preview of the page)"
I have a problem with Jetpopup.

When I create a new popup, when I make any changes to the style settings, inside the elementor editor, nothing changes. The same problem occurs in the page preview, the css is broken all over and no style settings are displayed.

I've tried absolutely EVERYTHING!

Update plugins, disable all plugins and leave only jetpopup and elementor, change theme, reload css st

[2021-07-23 18:18] dbfischer commented on #2173
I agree. Many customers don't like Google Maps because of privacy issues.
OpenStreetMap would be the ideal solution.

Kind regards
Dirk

[2021-07-23 18:25] dbfischer commented on #1151
+1 for OpenStreetMap ... please.

[2021-07-23 19:32] mehdimoradi1500 commented on #361
Hi crocoblock team
Why it takes so long to add a "new necessary feature" to jet woo builder?
There are so many requests for these necessary features that every simple theme has them, but unfortunately jet woo builder doesn't?
So please respect customers and make these widgets faster
Thank you

[2021-07-23 20:46] alexandra9941 opened #3720 "Display the remaining special sale time in the jet woobuilder plugin"
hi😊
It's amazing to add the "Sales Countdown Timer" feature to jet woobuilder. I recently installed the jet woobuilder plugin but surprisingly did not find this feature.
. Lack of this feature and the like in jet woobuilder can cause users to distance themselves from this plugin. This feature is available in most store theme. Of course, there are plugins for this, but why shouldn't jet woobuilder

[2021-07-23 20:53] 79ho3ein opened #3721 "Ability to display product images in 3D in the jet product gallery."
hello
Recently, I saw the feature of displaying products in 3D, which was very interesting to me. A similar example is implemented in the Woodmart format, but it is not complete and can only be moved left and right. https://woodmart.xtemos.com/shop/furniture/eames-plastic-side-chair/
**In principle, this feature is such that the products can be moved in all directions and all parts can be seen.**

[2021-07-23 20:57] 79ho3ein commented on #361
Yes, this feature is amazing. But unfortunately I do not think they have any plans to add this feature to the jet woobuilder core.
**It is very strange ...**

[2021-07-24 07:20] Hammer-ger commented on #3713
highly recommend that

[2021-07-24 16:40] owong commented on #2360
+1

[2021-07-24 17:55] rquirola commented on #2292
+1

[2021-07-24 22:41] edgaraccount opened #3722 "A new Module in JetElements - A Copy-To-Clipboard-Button"
Hi,
i am creating a more complex site and i want that when you click on an icon, a popup opens with a copy to clipboard button that copies the link from the current post to the clipboard. i have been looking for a solution on the internet for ages, but i haven't found anything. and it would be cool if you could add a dynamic input function like in all other modules.

https://user-images.githubuser

[2021-07-24 22:52] edgaraccount opened #3723 "more options for a select dropdown list - at jetengine"
Hello,
it would be cool if you could add the function to have more options for a select dropdown list in jetengine - when creating a meta field on a post type. I mean for example empty and unclickable lines to clean up and structure the design a bit. Because if you have over 100 entries in such a list, without a subdivision it is very overwhelming and messy for the user.

Kind regards, Edgar

[2021-07-25 08:11] stavroscha opened #3724 "Cannot reset JetAppointments settings"
After updating the plugins to the latest versions i was not able to reset the setup of the JetAppointments by going to Set Up menu and pressing the Reset button.

I was getting an error about vue.js file.

[2021-07-25 08:24] mehdimoradi1500 commented on #1415
Yes its so needed
I actually need to send my customers from "JetEngine forms" to woocommerce

[2021-07-25 12:05] wordpressman commented on #955
Yes, that would be a great improvement !

[2021-07-25 19:30] cfpotel opened #3725 "[Feature] Dynamically populate fields with data from metafields of a selected post in a selected field"
I know that it is possible to create a select field in the jetformbuilder or JetEngine Form that is filled with data from a Post, however, I would like to know if it is possible to create a resource where in this same form, when selecting a certain value from this select field, the other fields of the form can receive values from the metafields of the Post selected in this Select!?

Currently it i

[2021-07-25 19:41] cfpotel commented on #2388
+1

[2021-07-25 19:53] BaronVonDerpsalot commented on #3722
Hey Edgar!

I managed to write some javascript that works well with listings popups using this StackOverflow: https://stackoverflow.com/questions/48370896/how-to-copy-the-value-of-variable-in-javascript

Just set the id of the field you want to get the value from (your link field) and attach to the button.
So long as you set the popup to load via AJAX, and force load, it will only load 1 variable

[2021-07-25 19:56] BaronVonDerpsalot commented on #3722
If you really do only want to copy the current URL, instead of a post variable, then you can use this as the variable:
window.location.href;

[2021-07-26 00:50] Lonsdale201 commented on #3692
+1

[2021-07-26 00:55] Lonsdale201 commented on #3690
May this help https://jetformbuilder.com/addons/address-autocomplete/? :)

[2021-07-26 04:09] 93petter93 opened #3726 "Mobile - Horizontal scrolling for products"
Hi! I would love to see a way to display products on mobile with horizontal scrolling. It looks so clean and makes a great UX.

Examples:
![image](https://user-images.githubusercontent.com/58670859/126931646-760be397-94fe-41cf-8a4b-408967d4a513.png)
![image](https://user-images.githubusercontent.com/58670859/126931656-ea38110b-beb1-472d-958f-6b7aa60042a2.png)
![1](https://user-images.githubusercon

[2021-07-26 05:20] james-the opened #3727 "Listing Grid Load More pull the wrong post when using Custom Query"
**Describe the bug**
When using Custom Query (Query Builder) in jet engine, then put that custom query into the listing grid, when we try to "Load More" to the Listing Grid, it pulls the default post instead of pulling the continuation of that query

**To Reproduce**
Steps to reproduce the behavior:
1. Create Query for CPT
2. Create a Page and put Listing Grid on it
3. set the listing grid to use

[2021-07-26 05:27] james-the opened #3728 "Jet Smart Filter Page Reload Method & Query ID Doesn't work if Listing Grid is using Custom Query"
**Describe the bug**
When Using Listing Grid with Custom Query & using Jet Smart Filter widget (e.g : pagination, search filter), if the filter is targeting the listing grid using Query ID, the listing grid won't respond to the filter.

**To Reproduce**
Steps to reproduce the behavior:
1. Put a listing grid and set the source to use Custom Query (Query Builder)
2. set the CSS ID of the listing gri

[2021-07-26 07:11] cfpotel opened #3729 "JetFormBuilder does not calculate checkbox values with decimals"
JetFormBuilder does not calculate checkbox values with decimal. When the checkbox is selected it ignores anything after the point!

![Screenshot_1](https://user-images.githubusercontent.com/865690/126947541-45794353-8969-485d-85f9-006cb1833599.png)
![Screenshot_2](https://user-images.githubusercontent.com/865690/126947557-e047b5bd-4922-474f-8667-9b4c0b92953e.png)

[2021-07-26 10:38] razkoko1 commented on #1204
have you found some way to work around this issue?

[2021-07-26 11:36] 79ho3ein commented on #3726
hello @UraraReika
This is exactly what I wrote about in issue #3633 ....

But there is one point about this great feature. That this feature can be both free mode and normal. For example, in the video above that @93petter93  showed, it was displayed in free mode.
This feature is excellent. I hope it will be added to the plugin soon.

thank you

[2021-07-26 12:08] techiebraj commented on #1579
@eybel Same situation here. I want to show a shortcode below the PRODUCT GRID ITEM, e.g. https://prnt.sc/1g56wrp but Jet WooBuilder doesn't allow custom fields. Isn't there any solution yet? @Floydtm

[2021-07-26 12:19] edgaraccount commented on #3722
hello, thank you first of all for the quick help, however, I don't have a lot of experience in this topic. I'm already quite advanced with custom css and child themes, but with java script i have no idea. i don't know at all what and where i have to insert any code and how i connect it to my button in the popup. my goal is as i said that in the popup is a button that copies the link from the curre

[2021-07-26 12:26] enricgomez opened #3730 "Show meta field only if a term taxonomy is choosen like ACF"
I'm creating a meta field with JetEngine.
I want that meta field to show only if a specific category is choosen.
I don't see that conditional.
ACF has it.

[2021-07-26 12:27] razkoko1 commented on #3055
+1

[2021-07-26 12:34] Mindaugasmitras opened #3731 "Jet form few fields for one post meta not working"
**Form fields don't shows up after post published.**
I have few form fields for one post meta field, only one field can by chosen but anyway nothing shows in published post. Can you please fix this.
 in form I made like this:

_model_acura               Post Meta    model
_model_alfa_romeo      Post Meta   model
_model_audi                 Post Meta   model

[2021-07-26 13:01] binaire01 commented on #1151
+1 for OpenStreetMap and MapBox

[2021-07-26 13:11] 79ho3ein opened #3732 "Problem displaying single product page in Safari browser (jet woobuilder plugin)"
The variable product selection section, as well as the number of products, is displayed in a very bad way in Safari browser and has a very inappropriate user interface. While in Android browsers it is completely different.
![IMG_20210725_210327_695](https://user-images.githubusercontent.com/77163248/126994226-da1a9ba9-3023-41fb-9731-e66618954c66.jpg)

Please check. Thank you

[2021-07-26 13:17] 79ho3ein commented on #3721
We see the full example of this feature in this video :
https://user-images.githubusercontent.com/77163248/126994480-d17c7791-e43c-45a4-afd1-bfc142fea25a.mp4

[2021-07-26 13:25] eybel commented on #1579
Try with jet listing ítem in Jet Engine. I made my look cards there.

El lun., 26 jul. 2021 09:08, Brajmohan Kumar ***@***.***>
escribió:

[2021-07-26 13:38] UraraReika commented on #3720
Hello @alexandra9941 !

You can use JetElements widget Countdown timer in combination with elementor dynamic tags functionality.

[2021-07-26 13:40] Mindaugasmitras commented on #3582
++

[2021-07-26 13:46] Mindaugasmitras opened #3733 "Paysera integration in jet form"
Paysera integration in jet form

[2021-07-26 14:47] wordpressman opened #3734 "Possibility to Show / Hide an element, based on the value of a Custom Field from another Post type."
Wouldn't it be nice to be able to hide/show a section, or a widget, depending on a value from another Post Type ?

As an example, recently, I needed to show a widget IF the Author of the Book had more than 1 Book.
In the Author Post, I had created a Radio Field, with Yes or No, and in my Listing Grid watching the Post Type "Books", I tried to show a widget only IF the Radio Field from the Author p

[2021-07-26 15:10] Jonathlee commented on #2632
+1

Important to have "conditional" for repeater field + columns in repeater field.

I need it to show "if have item have value" = "show this item with link
`<a href="%item_link%">%item_name%</a>`

else just show item name

`%item_name%`

[2021-07-26 16:01] thiagosouzafx commented on #2586
it seems that only Crocoblock refuses to add this functionality to the forms.

I just finished building an entire news blog for a client, and naturally thought it was a **fundamental part of "WYSIWYG" forms**, to now realise that for Crocoblock it is not. :( i think i'll have to go back to AFC or use other solution

[2021-07-26 16:05] thiagosouzafx commented on #2201
Not only this one, ACF does aswell and even gives you the option to enable it in the back-end.

I really need this functionality as i'm creating a news blog that often need to add images in the body of the post.
![image](https://user-images.githubusercontent.com/25484147/127021674-a0639ff7-a623-4e2f-bbfe-719f18df506c.png)

[2021-07-26 17:21] michaelsburgess opened #3735 "Jet Appointments - select multiple people/options per service"
It would be extremely useful if an appointment could be set for more than one person per time slot. Currently appointments can be set for one person per time slot per booking.  It would be far more versatile and for a broader range of applications if user was presented with a drop down to select number of people per time slot - or system allows for multiple options on one service post page.

In ou

[2021-07-26 19:02] 79ho3ein commented on #3720
hello @UraraReika
Wouldn't it be better to have this feature directly in the jet woobuilder?
It really does not make sense to install an additional plugin for just one feature. This is one of the most important features that jet woobuilder lacks. Every store site has this feature. Because this is a feature that is very important for users, because with it users see when there is a product discount

[2021-07-27 06:27] techiebraj commented on #1579
@eybel Yes, Jet listing Grid does the job. But this should also be in Jet woo Builder where we could add a custom field. And in Jet WooBuilder there should also be an option to use LOAD MORE if someone wants LOAD MORE instead of Pagination. Anyway, thanks!

[2021-07-27 08:57] harryriegel opened #3736 "JetEngine: Audio recording inside forms"
A simple record button, for people to record speech (wav. or mp3). A replay button gives an option to listen to the recorded voice. If not satisfied, they can make a new recording - that simple!

The recording needs to be shown on the new frontend-post created with help of the form.

Website get more and more voice driven.

Gravity Forms for example had a recording plugin for their forms doing exa

[2021-07-27 09:47] pietrondo commented on #2443
I don't understood. I need to have in my calendar multiple listing but, how can i do? thx

[2021-07-27 10:06] fouadhousni opened #3737 "Conditional logic on taxonomies"
Hello Crocoteam,
I am creating a directory-based website using what subscribers will submit through a form and I would like them to be able to choose from predefined taxonomies (location, type of activity, etc...) so that I can then use hierarchical filters on the homepage.
Could you please plan this feature in a further release ? thank you.

[2021-07-27 10:12] pietrondo opened #3738 "multiple Listing in calendar"
Hello, I have a question, can i put different list in calendar?
I have two list, but in the calendar widget i can choose only one list. I need two ( i have two type of events in two different list)
how is possible?
thx

[2021-07-27 10:57] 79ho3ein opened #3739 "Absolute length and width, in the jet search plugin pagination"
hello
It would be great if you add a feature to this plugin so that we can design the pagination of this plugin more beautifully. In such a way that we can give the pagination boxes absolute length and width.
Please see an example of this feature in the figure below :
![Screenshot (84)](https://user-images.githubusercontent.com/77163248/127142600-29da7d06-0e14-4b3f-acc3-7ddd798b5f32.png)
As you ca

[2021-07-27 11:28] Michaelgimii opened #3740 "There are no bestsellers in the product grid widget"
jet woobuilder...
In the product grid widget, there is no query to display best sellers products. And this is disappointing
![Screenshot (95)](https://user-images.githubusercontent.com/88034902/127145719-8e0e1fa7-b344-4687-90e4-ca933d241b89.png)
In this plugin we can display the products that the user has recently visited, but we can not display the best sellers products.
Many customers ask us to

[2021-07-27 11:58] swigwe opened #3741 "Reviews feature should include photo uploads, radio, checkboxes and other forms of leaving reviews"
I really enjoy using this plugin!

I would love to see the review feature have an option for people to add pictures and fill out a radio question like 'would you recommend ?'  when they are leaving a review.

Thanks!

[2021-07-27 12:48] UraraReika commented on #3740
Same subject here #3058.

[2021-07-27 12:48] #3740 closed, assigned to nobody

[2021-07-27 13:36] stavroscha commented on #3617
@Floydtm if you have a solution for it you can mention it here because the support mentions that this is not possible. I have created more than one ticket for the same reason and spend way too many days on this. I had enough. If you are willing to mention the solution that will be great, but your answer above does not really help. Here is the answer from the staff member about the specific functio

[2021-07-27 13:51] 79ho3ein commented on #2974
Hi there, is there any news on this?

[2021-07-27 14:29] Michaelgimii commented on #3740
thank you
After inserting the code, what should I put the product grid query widget on? all?

[2021-07-27 21:40] mehdimoradi1500 opened #3742 "Link "JetEngine forms" to woocommerce (gateway payment)"
Hi

I have searched a lot about how to link JetEngine's forms or jetformbuilder to woocommerce for making a payment, Because payment's systems are not all the same in different countries (PayPal is not supported in my country)! but there are some Plugins for woocommerce so we can make a payment.

![Screenshot_20210728-015957_Chrome](https://user-images.githubusercontent.com/86493591/127231069-39c1

[2021-07-28 03:27] 6ixinteractive commented on #3508
this can be done by editing the rapidapi.php in jet-engine/includes/modules/rest-api-listings/inc/auth-types

[2021-07-28 06:24] alisanie commented on #2632
+1

[2021-07-28 06:56] ghost commented on #2307
+1

[2021-07-28 12:07] SreeNaveen1 opened #3743 "Hierarchy filter for category and sub category"
WordPress and WooCommerce has the hierarchy support for taxonomies for years, it would be great if CrocoBlock JetFilters can provide an individual filter for category and subcategory which works hierarchically.

[2021-07-28 12:36] #3003 closed, assigned to SargasTM

[2021-07-28 14:23] edgaraccount commented on #3722
--------------------------

hello, thank you first of all for the quick help, however, I don't have a lot of experience in this topic. I'm already quite advanced with custom css and child themes, but with java script i have no idea. i don't know at all what and where i have to insert any code and how i connect it to my button in the popup. my goal is as i said that in the popup is a button that co

[2021-07-28 15:37] Floydtm commented on #3660
https://crocoblock.com/knowledge-base/articles/jetappointment-multi-booking/

[2021-07-28 15:37] #3660 closed, assigned to nobody

[2021-07-28 15:48] Floydtm commented on #3666
It looks like we have one [solution](https://crocoblock.com/freemium/tools/) https://prnt.sc/1h4b63n. As for your other ones, we can easily consider them and establish their status. Stay tuned!

[2021-07-28 15:57] Floydtm commented on #3719
To quickly resolve your request, you need to contact our support team

[2021-07-28 15:57] #3719 closed, assigned to nobody

[2021-07-28 16:26] Medienor opened #3744 "JetEngine: Can we add social logins with Gmail or Facebook?"
Hello,

Since profile builder is here, more and more clients want users to sign up.
Easy way for customers to log inn is with social logins, can we add sign up with facebook or gmail button?

[2021-07-28 17:00] FknBestBrain commented on #3666
Thanks. What were the "others"? I'd like to keep track in one email
response. Please provide the "other" suggestions to stay tuned for.

On Wed, Jul 28, 2021, 10:48 AM Floyd ***@***.***> wrote:

[2021-07-28 17:39] utsabsgit commented on #955
Had the same problem. You can use this till they add official support.
[code]

[2021-07-28 20:04] xBromsson opened #3745 "RECURRING EVENTS - FOR JET ENGINE CPT/META FIELDS/DATE PICKER"
Description:

Add the ability to set a recurring event within jet engine meta field/ field type/date picker. This will allow our users to set up an event that displays on the front end that will populate on the dynamic calendar (daily, weekly, monthly, or yearly as needed) without the user needing to manually input the same event over and over since it is a recurring event.

Why:

Adding this will

[2021-07-28 21:33] youlikeitcp commented on #2308
+1

[2021-07-28 22:31] BaronVonDerpsalot commented on #775
+1 You already have the checkbox code working on JetEngine options pages on the backend (Green checkboxes everywhere).. Just have to bring this to front-end please!

[2021-07-29 01:06] itsinalis opened #3746 "Jet Elements Review Listing"
This is a really nice feature combined with Jet Reviews, but it needs improvement in responsive design.

For Example, the header and the footer sections of the widget are not responsive, and it's really difficult to change their structure with additional CSS.

[2021-07-29 01:29] rodger-jolly opened #3747 "multiple calculated fields for repeater"
now the calculated field outside repeater is using the repeater start formula，so only ONE calculated field can be set for repeater.

but there is a very common scenario, total qty and qty amount of a repeater need to be calculated. multiple calculated fields are needed.

just confirmed with support of crocsblock, so rise a feature request here.

[2021-07-29 09:46] perks98 opened #3748 "JetEngine BUG - Woocommerce Meta Data Not Working With Gutenburg Listing"
Hi, When creating a listing grid item and you add a dynamic field widget and try to use any woocommerce field, it doesn't work, which with Elementor it does.

Gutenburg View:
![Screenshot_2](https://user-images.githubusercontent.com/55829113/127470286-93fb9918-e817-42ae-8bab-769d7d06dd17.png)

Product Category Page View:
![Screenshot_3](https://user-images.githubusercontent.com/55829113/127470363-

[2021-07-29 10:11] Lonsdale201 commented on #3744
+1

[2021-07-29 10:37] harryriegel opened #3749 "JetEngine: Conditions to page break in forms **Feature**"
The situation: A JetEngine form with page breaks after each field. So each field can be seen as a single step.

The idea: Imagine a standard Elementor widgets can be shown in relation to the step/page break reached.

- This would make it possible, for example, to show in a column next to it, an Elementor-video widget with video instruction just on the current step/field or an image relating to the

[2021-07-29 10:40] erturkuner opened #3750 "After update (2.8.7) Gallery and Grid Dynamic Field Widget Doesn't Work"
Slider and grid widget, which worked fine before the update, do not work after the update. When I look at network, the images show as 404 and it tries to pull the images by id.

[2021-07-29 11:22] 79ho3ein commented on #2974
thank you so much @UraraReika 🌹

[2021-07-29 11:55] kaskad88 commented on #3750
Fix for the next version. Thanks for your report!

[2021-07-29 11:55] #3750 closed, assigned to kaskad88

[2021-07-29 13:13] IFTTD opened #3751 "Add ability to display CCT Repeater Fields"
Currently I have not found a way to use repeater fields in Custom Content Types. One can add the repeater fields as usual but when it comes to displaying them. There is no functionality to do so both in the Dynamic Repeater Widget or in creating a Listing where only Post is an option.

[2021-07-29 13:24] IFTTD opened #3752 "No way to Display CCT Repeater fields"
Currently I have not found a way to use repeater fields in Custom Content Types. One can add the repeater fields as usual but when it comes to displaying them. There is no functionality to do so both in the Dynamic Repeater Widget or in creating a Listing where only Post is an option.

**To Reproduce**
1. In Dynamic Widget Can not select a CCT
2. When creating a Listing a choosing Repeater field t

[2021-07-29 13:27] IFTTD commented on #2991
I can't believe this was missed. I need this for a project I'm working on now.

[2021-07-29 17:08] 79ho3ein commented on #3742
+1

[2021-07-29 17:54] milwagh commented on #3441
+1 for this 'user' field availability in JetEngine

[2021-07-29 17:54] milwagh commented on #2131
+1 for this 'user' field availability in JetEngine

[2021-07-29 17:57] milwagh commented on #3441
+1 for this 'user' field availability in JetEngine

[2021-07-29 18:31] 79ho3ein opened #3753 "Ability to apply shadows to any carousel flash box product of Jet woobuilder plugin"
hello
It would be great if you could add a feature, so that we can shade each product carousel flash box separately. There is a reason for this feature, which I will explain below :
![Screenshot (99)](https://user-images.githubusercontent.com/77163248/127545530-b91f3362-56d7-40f6-8db8-0093668a176d.png)
As you can see in the figure above, the shadows are more in the red areas than in the green area

[2021-07-29 19:11] xC4M commented on #980
@Floydtm  Is there any way that we can add the product's image, title, and so on in the Cart Popup and show them in there?
Something like this: http://i.prntscr.com/56Yqd45JSS299-2i1ND3rA.png

[2021-07-29 19:12] Medienor commented on #3741
+1 !

[2021-07-29 19:49] jamsheehan commented on #3752
Dupe of #2991

[2021-07-29 20:08] jamsheehan opened #3754 "JetEngine: 2.8.7 - Unable to create new or edit existing Forms"
**Describe the bug**

One of my sites has this issue when attempting to create a new form

jet-engine-booking/{{ currentItem.hook_name }} - WP action. Perform a hook without an ability to validate form,
jet-engine-booking/filter/{{ currentItem.hook_name }} - WP filter. Perform a hook with an ability to validate form. Allows to return error message.

The site is a multisite. I haven't been able to

[2021-07-29 21:04] dariogalleno opened #3755 "Jetbooking problem on checkout dates"
Good day, I'm experiencing a problem on bookings where the check out date of booking A is the same of the checking date of booking B .
the problem I have consist in the available booking dates. In my case I booked a room for 1 night. Checkin aug5 check out aug 6. As the booking setting is per night is is correct that the 5th is marked as not available. The room still be available in4th out 5th I s

[2021-07-29 22:57] mehdimoradi1500 commented on #3744
Yes its a so good feature
Also let clients to sign up with phone number and otp vertification code

[2021-07-30 00:39] xC4M commented on #2956
Same situation here.

Add this feature please!! 👍

[2021-07-30 02:36] xC4M opened #3756 "Display product's variation options after click on "Select options" button at Shop Page - JetWooBuilder / JetPopup"
Popup allows giving customers a great experience while they are visiting our website; they can do things in less steps.
So, It'd be awesome if you please add the feature to display in a popup the product's options or variations to select.

Example in the next link:

https://gifyu.com/image/O8Nh

[2021-07-30 03:18] cfpotel commented on #3729
Fixed issue in Jetformbuilder Update 1.2.5! Tks!

[2021-07-30 03:18] #3729 closed, assigned to nobody

[2021-07-30 06:11] kaskad88 commented on #3754
Fix for the next version. Thanks for your report!

[2021-07-30 06:11] #3754 closed, assigned to nobody

[2021-07-30 07:42] UraraReika commented on #3756
This is basic quick view functionality. Please contact our support team they will help you.

[2021-07-30 07:42] #3756 closed, assigned to nobody

[2021-07-30 08:08] UraraReika commented on #3753
https://gyazo.com/29922cd97423322a6c68dcf89b206440 and https://i.gyazo.com/0edc5a5129ef4d96a033f99debd7f02e.png

[2021-07-30 08:08] #3753 closed, assigned to nobody

[2021-07-30 08:09] UraraReika commented on #3748
Hello @perks98 !

This options works when you use WC Product Query only.

[2021-07-30 08:26] perks98 commented on #3748
Hi @UraraReika,

It's an odd one, it works with Elementor without needing WC Produc Query, just Gutenburg for the same field it is needed like you said. I've found a way around it without the query builder. That is by using '_price' with Source: Meta Data then use the Custom Meta field. Just thought I would flag it for review.

[2021-07-30 08:39] perks98 opened #3757 "JetEngine BUG - Listing Item Elementor Editor Broken"
Hi,
When editing a listing item with Elementor the sidebar widget editor doesn't work right. E.g. when you try to select a widget it doesn't select the right item sometimes and the style tab doesn't load when editing . Video below of what I mean - this doesn't really happen most of the time when editing pages just JetEngine. I also have this issue with other sites when editing listing items with E

[2021-07-30 08:40] #3757 closed, assigned to nobody

[2021-07-30 08:43] perks98 opened #3758 "JetEngine BUG - Listing Item Elementor Editor Broken"
Hi,
When editing a listing item with Elementor the sidebar widget editor doesn't work right. E.g. when you try to select a widget it doesn't select the right item sometimes and the style tab doesn't load when editing. Video below of what I mean - this doesn't really happen most of the time when editing pages just JetEngine. I also have this issue with other sites when editing listing items with El

[2021-07-30 09:38] hNilsen90s opened #3759 "UX Listing grid load more infinite scroll feedback"
**Please, describe the feature request, making it clear to understand.**

Load more with infinite scroll needs better feedback to the visitor/customer of the site. When you are loading more content, nothing is displayed until the items are fully loaded. The grid from the Listing grid goes into a gray color, and suddenly there are more items loaded.

There should be feedback with text or icons lett

[2021-07-30 11:12] 79ho3ein commented on #3753
thank you @UraraReika
But I did not mean the movement of the carousel flash box. Rather, the shadow movement of the carousel box was the product:
http://i.prntscr.com/3DFykFB7SXesNZhwPvvWTg.png
Currently, we can only apply border type and border radious. (For netx & prev box).
It would be great if you could add shadows as well. I meant exactly the shadow. this part : http://i.prntscr.com/JnEhZnqUS

[2021-07-30 13:17] UraraReika commented on #786
Hello @satomiao !

You can use Query Builder from JetWngine plugin and with the help of Listing Grid widget output orders on frontened.

[2021-07-30 13:17] #786 closed

[2021-07-30 13:18] UraraReika commented on #1002
This issue has been closed due to inactivity. If this issue is still actual, please, create the new one.

[2021-07-30 13:18] #1002 closed

[2021-07-30 13:21] UraraReika commented on #3016
It can be already complete with combination of JetWooBuilder and JetTabs plugin.

[2021-07-30 13:31] UraraReika commented on #3564
You can already achieve this by using add to cart widget is separate section in combination with motion effects by Elementor.

[2021-07-30 15:41] ghost opened #3760 "Add the option to hide empty rows in JetElements Table"
In the JetElements Table with dynamic content, add an option to hide rows with empty cells. If we don't add the dynamic content to any of the cells of the row, the row should not be shown on the front-end.
<img width="1440" alt="Screenshot 2021-07-30 at 9 05 55 PM" src="https://user-images.githubusercontent.com/88202146/127677129-c2831553-ec73-4843-99d5-2e02f8a24119.png">

The table in the above t

[2021-07-30 16:02] Hans-101 opened #3761 "Hide WooCommer Cart if empty"
Most themes/WC plugins have the option to hide the cart when it's empty. It's not nice to have the people think about spending _even before they add anything to the cart_.

Even WC native cart feature has this, it just lacks styling and ALL other options Crocoblock has to offer.

Hope this will be considered.

[2021-07-30 16:29] Hans-101 commented on #3420
+10 @Crocoblock

[2021-07-30 16:31] Hans-101 commented on #3744
+1

Also, it's suggested here: https://github.com/Crocoblock/suggestions/issues/3420

[2021-07-30 16:37] Hans-101 commented on #3420
The issue with Ultimate Addons for Elementor is that they have a bunch of PHP errors, warnings and depreciations, they cause conflicts with Elementor, but they are very hard to pinpoint, as all errors seem to come from Elementor. Once UAE is disabled, the errors disappear, but, also UAE's plugin. Kind of sucks. I'd prefer someone more backend responsible (@Crocoblock ) to add this functionality. S

[2021-07-30 17:11] dantetesta commented on #2768
Please create a way to filter users in the listing grid.

I can list users, but I need to filter then!

[2021-07-30 17:13] dantetesta commented on #3654
All advanced forms Piotnet, Fluent Forms and WP Forms can be add the taxonomy by front form!

Lets do this with JetEngine Please!! and with this feature no more use the others forms plugins to solve this problem!

[2021-07-30 17:15] mehdimoradi1500 commented on #3739
+1

[2021-07-30 17:16] dantetesta commented on #2755
yes! this features we are need very much!

[2021-07-30 18:00] BaronVonDerpsalot commented on #3722
Hey Edgar,

I've made a quick video for you, which shows how to get this set up on your installation:
https://www.berrycast.com/conversations/adb4ab24-40cb-58a4-affd-52eca3346fd5

The code you need is here:
`<script>
   document.getElementById("mybutton").addEventListener("click", async () => {
  var copyText = document.querySelector("#myLinkID").innerText;
  var promise = navigator.clipboard.writ

[2021-07-30 18:05] Jaymz4103 commented on #2667
This would be a great feature to really compete with booking addons like amelia

[2021-07-30 18:12] dstaper opened #3762 "JetEngine gallery needs a description"
The image gallery in JetEngine needs to have a description field for each image that is also displayed in the lightbox.  I created a gallery using the repeater field as instructed by tech support but that does not have a lightbox so it can't be used (I added a separate request for that).

![jetengine-gallery](https://user-images.githubusercontent.com/88207807/127694739-9aa1c091-1b6e-4526-9592-7e2a

[2021-07-30 18:16] dstaper opened #3763 "Image repeater needs a lightbox"
I needed an image gallery in JetEngine but it does not have a description field for each image so I created a gallery using the repeater field as instructed by tech support.  That shows the description but does not have a lightbox so it cannot be used as a normal gallery.  Please add a lightbox that can also display the description.

![jetengine-gallery](https://user-images.githubusercontent.com/8

[2021-07-30 21:31] mehdimoradi1500 commented on #3742
Hi @UraraReika
will u please check this feature
I have just watched YouTube tuts for JetEngine forms and jet form builder
So many users have the same problem

[2021-07-31 00:30] robertagallo commented on #2381
Thank you both!

Would you please consider sharing those code changes on here for everyone including myself to benefit from, @blb48?

The accessibility community (us actually working and pushing on this) need to work together to make these companies include a focus on important matters like these. Literally, the way it seems to be, every single website built with Elementor, Oxy, etc. is not compli

[2021-07-31 02:00] egnteam commented on #2206
Hello, Any plans to add this function in the plugin?

[2021-07-31 05:05] cirkut commented on #2381
@blb48 Are you sure the class names have been updated? The site this is running on is fully up to date with JetMenu and Elementor and the script in my gist still works as intended.

Of course there's still a ton of work that can be done for greater accessibility, but basic keyboard navigation gets us 90% of the way there (for JetMenu anyways).

[2021-07-31 08:44] ipoweb opened #3764 "JetSmartFilters : add new filter Multiselect Dropdown"
Please add possibility to create filter with Multiselect dropdown to select multiples choices inside dropdown for JetSmartFilters

[2021-07-31 12:05] egnteam commented on #3460
#450  + 1

[2021-07-31 12:48] ipoweb commented on #2451
need this with select dropdown +1

[2021-07-31 13:28] 79ho3ein commented on #2249
hello, is there any news on this?

[2021-08-01 09:25] razkoko1 commented on #3744
+1

[2021-08-01 09:25] razkoko1 commented on #3742
+1

[2021-08-01 10:29] razkoko1 commented on #3055
+1

[2021-08-01 10:39] razkoko1 commented on #2394
+1

[2021-08-01 18:16] 79ho3ein opened #3765 "Bug in flash product navigation widget product grid (jet woobuilder)"
hello
In the product grid widget, if we put the product carousel arrows in **svg** format, it is not possible to change their color. Both normal and inactive.
https://prnt.sc/1i3rnn0

[2021-08-01 22:47] Lonsdale201 opened #3766 "JetSmartFilters - Additional settings - Dropdown function with Click on apply button"
**Describe the bug**
When we using one of the following filter type whis is support the additional settings, the dropdown function  not working properly, if the fillter apply on settinged 'Click on Apply button'.
If, using value change, the dropdown show the selected results inside the filter(perfect for ui/ux), but, with the 'Click on Apply button' apply mod, only show in a sec, until filtering.

[2021-08-02 04:06] frankwarwick commented on #3690
Thanks @Lonsdale201, that exactly what I am looking for

[2021-08-02 04:06] #3690 closed, assigned to nobody

[2021-08-02 04:12] frankwarwick opened #3767 "JetEngine Post types 'Allow Custom' in checkbox/radio added to JetEngine Forms and JetFormBuilder"
JetEngine post types - when choosing checkbox/radio there is an option called 'Allow Custom' that lets users add custom fields.
This option should be included in JetEngine Forms
<img width="1081" alt="Screen Shot 2021-08-02 at 10 29 44 am" src="https://user-images.githubusercontent.com/2086978/127803316-3f83a0ff-3c30-4386-a14d-1f56e4313ff0.png">

[2021-08-02 08:07] UraraReika commented on #3765
We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team. Thank you!

[2021-08-02 08:07] #3765 closed, assigned to nobody

[2021-08-02 09:30] cbsa100 commented on #3262
is there any update on that?
i really need that feature
is there a snippet that can change the current upload field to open the media library and then add the code in the request?

[2021-08-02 09:52] UraraReika commented on #3726
Hello @93petter93 !

Our widget has Center Mode controls which is pretty mush the same. With some small difference. You may although use this lines of code to achieve your results.

[code]

[2021-08-02 09:52] #3726 closed, assigned to UraraReika

[2021-08-02 10:45] UraraReika commented on #3720
This issue has been closed due to inactivity. If this issue is still actual, please, create the new one.

[2021-08-02 10:45] #3720 closed, assigned to UraraReika

[2021-08-02 10:45] UraraReika commented on #3708
This issue has been closed due to inactivity. If this issue is still actual, please, create the new one.

[2021-08-02 10:45] #3708 closed, assigned to UraraReika

[2021-08-02 11:09] 79ho3ein opened #3768 "Thanks page in elementor canvas mode (no header or footer) jet woobuilder plugin."
hello
If we set the thanks page mode to elementor canvas, there is a header and footer in the editor, but it is correct on the site.
Please correct it if possible.
It should be such that if we select the canvas mode, there is no header and footer in the editor.

thank you

[2021-08-02 11:29] 79ho3ein commented on #3768
**There is also no style tab for this tab (to apply background color)**

To better understand the request, I compare the jet woobuilder thank you sheet with the 404 elementor plugin sheet ...

Thank you page in jet woobuilder :
![Screenshot (105)](https://user-images.githubusercontent.com/77163248/127854526-2be1e719-fa95-4302-9cb3-f781a620b700.png)

page 404 in elementor :
![Screenshot (106)](http

[2021-08-02 12:06] 79ho3ein commented on #3768
Thank you very much @UraraReika 🌹

[2021-08-02 12:58] Dinorexasia opened #3769 "Multistep form with result matching function in JetBuilderForm."
Hi guys, I would like to request to update features on the Jetformbuilder to achieve the following conditions:

I would like to create a multi-step form that has the ability to allow users to select the relevant option. Then, after submitting the form, the site will pull the relevant data and redirect the user to the result page. The data can be listed on a results page, like a normal search funct

[2021-08-02 14:11] Floydtm commented on #3675
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-08-02 14:11] #3675 closed, assigned to nobody

[2021-08-02 16:31] Lucycontigo commented on #2683
Still impossible to add infinite srocll to grid products template?
I have made the product template with the listing jet engine, but it has been impossible for me to place it dynamically as they come by presentation in products grid.
please help!!!

[2021-08-02 20:56] neoset opened #3770 "⏰[Jet Engine - Forms] Stripe payment gateway and Paypal payment gateway and Woocommerce integration"
Although I have not tested it, I know that there is a Paypal payment gateway hidden in the Jet engine forms code and it has been there for months but for some reason it has not been released.
When will we have Integration with Woocommerce, Stripe and Paypal payment gateway in the Jet Engine forms?
This would open the doors to the creation of membership sites.

Thanks for your great work.

[2021-08-02 20:58] Theo789595 commented on #2683
I am trying to make load more work too and i still struggle. I tried using the BeRocket load more plugin, it worked (you can make it work only if you display products list using woocommerce shortcode) but when i filter products using jetsmartfilters the load more button disappears so it is basically incompatible with crocoblock.

It sounds like a really usefull function to add load more button in

[2021-08-02 21:27] Theo789595 opened #3771 "Load More / Infinite Scrolling for products in JetWooBuilder"
**Ajax Load More** and **Infinite Scrolling** functions are a must for modern ecommerce sites.

After trying plugins and code customization for weeks i still **haven't found a way to make the function work** properly with or without jetwoobuilder/crocoblock.

The only decent plugin available for this kind of option is **BeRocket Load More** and only works if you display your products without the u

[2021-08-02 21:59] 79ho3ein commented on #3771
hello @Theo789595
Yes, "Load more" is a very important feature of the product grid widget. This request was previously registered in #2683.
This is definitely on the developers' roadmap. I hope this feature will be added to the plugin soon, Many users are looking for this feature.

[2021-08-03 04:42] writesync opened #3772 "Ability To Include/Exclude Specific Product Categories/Tags in Select Hierarchical Filter (JetSmartFilters)"
Hello: we would like to see the ability to include/exclude items from the taxonomies (for example, product categories/tags) in the Select Hierarchical Filter (JetSmartFilters). This would further advance the already great use of this widget on the shop page.

It could be used, for example, in a scenario like this: on the shop page I want the user to be able to filter products by categories and tag

[2021-08-03 06:16] UraraReika commented on #3771
I merged this issue with #2683, which is on the same subject so we could deal with it more efficiently.

[2021-08-03 06:16] #3771 closed, assigned to nobody

[2021-08-03 07:24] SoonPK opened #3773 "Ability To Search Custom Content Type At Frontend [JetEngine, JetSmartFilter]"
Custom content type can only search from admin column at the moment. Had try to add ssmart filter for custom content type, however it can only add the filter with type of checkbox / radio / select, hope you may consider to add the ability to search at frontend, thanks...

[2021-08-03 08:08] julianderyk commented on #3770
Its not right that paypal payment haven't been released

Here are only two example
 https://crocoblock.com/blog/best-ways-to-set-up-the-payment-gateway-system/

https://crocoblock.com/blog/building-membership-site-with-jetengine/

[2021-08-03 09:49] 79ho3ein opened #3774 "Report a bug and a suggestion for the jet woobuilder plugin. please check"
hello
First I report a bug that occurs after applying the discount code to the cart. **The problem is that when we activate the discount code in the shopping cart, the price units are transferred to the right of the price.**
To better understand the problem, please watch the video below :
https://drive.google.com/file/d/132iq3NaXfMDmkkou7A7bloGdOqp9TCK0/view?usp=sharing
I do not know if this probl

[2021-08-03 10:09] serg-pervushin commented on #2307
+1

[2021-08-03 12:08] Crownedpride opened #3775 "JetEngine: More URL/slug options"
I'd like to suggest a feature for custom post-type URLs.

Currently, when you've created a custom post type and added content to that post type, then the URL will look like this:
https://domain.com/custom-post-type/single-post/

However, what if we add some taxonomies with a hierarchy? The URL then remains the same, even though when you add breadcrumbs on that single post, it'll show the custom po

[2021-08-03 12:22] Floydtm commented on #3683
You can do it all right now. Have a look at the jetengine plugin options https://prnt.sc/1iootcd

[2021-08-03 12:44] Floydtm commented on #3607
#3687

[2021-08-03 12:44] Floydtm commented on #3687
merge with #3607

[2021-08-03 12:44] #3687 closed, assigned to nobody

[2021-08-03 14:24] Floydtm commented on #3709
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-08-03 14:24] #3709 closed, assigned to nobody

[2021-08-03 15:19] gruppoegeo opened #3776 "Set max date on Date Range widget in Smartfilters"
On Smartfilters Is it possible set the max date on calendar picker on data-range widget?

[2021-08-03 17:12] BaronVonDerpsalot commented on #2031
@UraraReika @lukepatrickillustrations @MakhonkoDenis @AnyoneWho'sListening

Please assign someone to this. It's just a case of adding JetPopup functionality to section and columsn, and optionally, to 'make listing item clickable'. Considering JetPopup has a 'JetEngine listing popup' option, it seems like a mistake to have this missing from the listing options.

@drawesome Thanks for the fix!

[2021-08-03 18:09] jamarsloss opened #3777 "Please add a multivendor plugin"
I'm requesting that Crocoblock adds a multivendor plugin to allow us to create a marketplace that allows members to create & sell their own products while the admin / site owner gets a commission. This functionality would work perfectly with your membership plugin because it will allow us to create membership vendor websites like onlyfans. Also add a affiliate features so we can grow our marketpla

[2021-08-03 18:18] BaronVonDerpsalot commented on #3777
@jamarsloss
I think this is already achievable.
Crocoblock show 3 examples on their homepage, under the 'solutions' tab
https://crocoblock.com/dynamic-templates/cardealer/
https://crocoblock.com/dynamic-templates/findero/
https://crocoblock.com/dynamic-templates/balirento/

Best idea is to install one of these, and take a look at how it's put together.

Best of luck!

[2021-08-03 18:21] BaronVonDerpsalot commented on #3769
+1 this would be very cool :)

[2021-08-03 18:24] jamarsloss commented on #3777
I'm checking those out now. My goal is to create a multi vendor marketplace for memberships with the membership plugin like onlyfans so if I can figure out how to create that I will buy the lifetime plan today.

[2021-08-03 18:33] BaronVonDerpsalot commented on #3767
Hey @frankwarwick
Pretty sure this is already achievable, albeit with a slight restriction. I've made a video for you here, on how to get this function working: https://screencast.headsmartmedia.com/conversations/d87098aa-9eae-596d-8196-e852f5308ac7

Best of luck!

[2021-08-03 18:37] BaronVonDerpsalot commented on #3777
I think you should be able to do something like that. The only issue you might run into is the commision function. This should be pretty easily achievable via a little custom PHP (if not via vanilla CrocoBlock) which you can usually get done pretty cheaply on sites like Fiverr and People per hour.

[2021-08-03 19:01] jamarsloss commented on #3777
I asked a agent & from what she said it's not possible to build a multi vendor marketplace with vendors so Ima have to search for other multivendor platforms.

[2021-08-03 22:58] bznsolution opened #3778 "Please make current logged in users be appeared."
Hi, may I ask to make current logged in users be shown on Listing Grid as attached capture?

What I mean is I would like to show the users in the listing grid not all users but currently logged in users.

![image](https://user-images.githubusercontent.com/80373656/128096733-368f45dc-974a-4cdc-8b45-b9146c4e3fc9.png)

[2021-08-03 23:38] Lucky5111 opened #3779 "Custom Post status for jet engine"
### Custom Post Status

Works in sync with the new post-expiration feature coming up. So say if a user pays for a listing and it expires after 30 days, it changes the post status to expired and they can repay to get it re-listed

`Expired` `Promoted` `Against TOS`

Scenario 2

Say you are a writing agency. You can keep track of all the work you have done with custom post status.

`In writing` `rev

[2021-08-03 23:40] Lucky5111 commented on #3742
+1

[2021-08-04 01:59] frankwarwick commented on #3767
Thanks Baron, I get it but I am referring to checkbox/radio fields where you can add an additional checkbox/radio field to and existing group. You can do it in the backend but not in forms.

[2021-08-04 01:59] gomad68 opened #3780 "Let guests leave reviews without leaving email"
Hi,

I don't want to store people's email addresses but I want to have guest reviews/ratings, but I've been informed that is not possible with the current version of crocoblock reviews.

**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the featu

[2021-08-04 02:06] frankwarwick commented on #3777
@jamarsloss  FYI - I have build several multi vendor marketplaces and found the best is with Crocoblock. You can use their existing pre-build dynamic templates as a base. Way more control than other options but it also involves a lot more effort.

[2021-08-04 02:17] jamarsloss commented on #3777
I spoke to support and they said it doesn't have multi vendor marketplace
functionality

On Tue, Aug 3, 2021, 10:07 PM Frank Warwick ***@***.***>
wrote:

[2021-08-04 02:33] frankwarwick commented on #3777
did you look at https://crocoblock.com/dynamic-templates/balirento/
Even though its for accomodation, its multivendor ..

[2021-08-04 06:02] frankwarwick opened #3781 "JetFormBuilder features Issues and requests"
As we move from JetEngine Forms to JetFormBuilder there are things that have not been included in the new JetFormBuilder that are in JetEngine Forms and there are things that are included in the CPT that the Forms can not create ... here goes.

**Style**
All the things missing from JetFormBuilder that are in JetEngine Forms

- <strike>Header - The is not in JetFormBuilder .. so you cant style your

[2021-08-04 07:30] johannbt commented on #3574
Hello Crocoblock team,
can you please give us the opportunity to translate the calendar days and months into different languages.

I am therefore writing again because it is a very important matter for me and maybe for others as well.

Thank you
Johann

[2021-08-04 09:20] bramokki opened #3782 "Adding Gutenberg to more plugins like woobuilder"
With elementor being really slow with page optimization, and gutenberg adding templates to their newest version.
It would be nice if we could use gutenberg instead of elementor. (been using elementor pro for a while but the speed is just really bad)

[2021-08-04 10:04] Gabrymi93 commented on #2308
+1 please this is a must

[2021-08-04 11:52] 79ho3ein commented on #3768
hello dear @UraraReika, Is it possible to publish this in the next update? Please

[2021-08-04 11:57] 79ho3ein commented on #3782
hello
I use all crocoblock plugins along with elementor and there were no speed issues.
elementor is heavily optimizing itself. Elementor and crocoblock will definitely have a bright future together. The problem can be with other plugins, hosting and many more.

[2021-08-04 12:29] julianohammerle commented on #3574
this is very important to me too

[2021-08-04 13:36] Topicimes opened #3783 "Display the number of available results"
Hello to all,

I am currently developing a website such as Cardealer, for activities. I would like to display a text on the catalog page (eg: https://demo.crocoblock.com/cardealer/catalog/) like this for example: 23 results available according to your filters.

Thank you in advance for your feedback and good luck.

[2021-08-04 14:12] mrfabian7 commented on #110
+1

[2021-08-04 14:48] razkoko1 commented on #1150
+1

[2021-08-04 15:03] Crownedpride commented on #3783
Go to your JetFilter settings, go to "Indexer Settings" and enable the post types you are trying to filter. Next, you go to your filter widget, underneath "Content" there's now a new tab called "Indexer Options" where you can apply the indexer and show a counter.  https://prnt.sc/1j1x0id.

[2021-08-04 15:54] Topicimes commented on #3783
Hello,

We have misunderstood each other. I have indeed already applied indexing to my filters. I am talking about a global message, which does not concern any specific filter, but only according to all the selected filters, the number of list still available.

Is it clearer for you?

[2021-08-04 18:48] MjHead commented on #3783
@Louisjdv Hi! If you build query for cars listing with new Query Builder, you can use `Query Results Count` dynamic tag

[2021-08-04 19:16] ACTx22 commented on #1028
https://crocoblock.com/knowledge-base/articles/how-to-synchronize-the-jetbooking-with-the-3rd-party-services-on-the-example-of-google-calendar/

[2021-08-04 20:24] jamsheehan commented on #3783
Here is how you achieve this:

https://crocoblock.com/knowledge-base/articles/jetengine-query-builder-sql-query-type/

Once you build your query, you can then select it (note I'm using a button here, but any element that supports dynamic text can utilise this):

![image](https://user-images.githubusercontent.com/223342/128248951-c62f409b-da7b-4398-9701-6532c4d9485f.png)
![image](https://user-image

[2021-08-05 01:49] Lucky5111 commented on #3770
Seriously they need to add this. This is the thing stopping most people from buying jet engine.

[2021-08-05 01:50] Lucky5111 opened #3784 "Jet engine/Jet formbuilder + woocommerce"
This will be a godsend for directory sites with the post-expiration plugin from crocoblock dev.

[2021-08-05 08:29] aksamitnaya opened #3785 "JetEngine: add layout switcher to the Listing Grid"
need layout switcher functionality as in the Products Loop widget

[2021-08-05 09:18] Relvinalo opened #3786 "Crocoblock we want to have an automatic generate qr code in form submissions."
Hello Crocoblock can we request that to put an Auto Generate QR Code in form submissions? A form setting that can save data and when scanning the QR code all data will be record in Admin of the site?

[2021-08-05 09:56] bramokki commented on #3782
I am only using only woocommerce and elementor pro and croco block plugins. And i am getting a 20/100 with wp-rocket and siteground hosting on mobile and a cdn. Elementor is bloated for mobile, switched with other website to gutenberg and it improved alot speed wise. https://www.youtube.com/watch?v=uVkCgJvguIo&t=612s&ab_channel=JackCao check this. Mobile is 80% of the people visiting websites.  Ou

[2021-08-05 11:08] ghost opened #3787 "Add a clear and fitting title for the feature request"
Add option to duplicate whole Meta Box in Jet Engine Plugin

[2021-08-05 11:41] #1865 closed, assigned to nobody

[2021-08-05 12:15] Topicimes commented on #3783
Thank you very much for all these precisions. So I tried to build my Query but I have a lot of trouble.

Could you provide me with screenshots of your back end, especially to know which table to select, etc.?

[2021-08-05 13:11] AnadarPro opened #3788 "Add First and Last Name to User Fields"
In dynamic fields, there is no options for first name or last name for user objects.  These are common fields that could be very helpful.

Thank you.

[2021-08-05 13:29] Topicimes commented on #3783
With the help of one of their agents, I finally succeeded. Thank you very much for your answers.

Have a good day, and above all, take care of yourself

[2021-08-05 14:07] enuzzo commented on #2056
I endorse this request. That's fundamental to be able to search custom attributes and not terms of attributes.
Example: we're setting up a shoes store. Product name is "Air Jordan", product attribute "Brand" will be "Adidas" > a lot of people will search "Adidas" in the Ajax Search field. The missing of this feature makes the whole widget pointless, although is a great and fast search plugin.

[2021-08-05 14:11] Floydtm commented on #3724
Hi. We checked it out and everything seems to be working correctly. Tell me if you are still experiencing the problem. If so, then you better contact our support team. Thank you!

[2021-08-05 18:39] neoset commented on #3770
They should put the integration with Woocommerce in the forms of Jet engine, it is something really necessary.

[2021-08-05 21:11] dayoherrera opened #3789 "JetElements Table for JetEngine CustomContentType"
Hello, I am using the JetElements “Table” widget to show JetEngine “custom-content-type” DATA, but I cannot get the table body to take dynamic data even when I choose the Custom Content Type Field.

If I write text, it works. Also, it worked when I added the Table element in a Listing, but it repeats the header for each record.

![Screen Shot 2021-08-05 at 3 09 56 PM](https://user-images.githubuse

[2021-08-06 09:44] tfrank7 commented on #3656
+1 I really need this function.

[2021-08-06 12:14] Theo789595 commented on #3316
I have the same issue boys,

I just need a load more button to work with jetsmartfilters/jetwoobuilder.

Berocket is not compatible with jetsmartfilters. When i filter items they reaload and the BeRocket load more button stops showing.

[2021-08-06 12:23] vmavrikios opened #3790 "Add 'Filter field output' in Map Listing widget - JetEngine"
In short ..there is no option in Map Listing widget to display eg. the price of a real estate property in the following format dynamically:
100,000€
The best you get is this format:
100,000.00€ ..but these 2 zeros at the end are not needed and never used in big numbers, so they just take up more space in a marker that displays the price.

In the contrary ..in Dynamic Field widget there is such an

[2021-08-06 12:47] coversil commented on #3316
After some getting involved and burning for hours trying to solve this I decided to purchase from berocket their filters as well.  I had to use a lot of css to get to the design I did in jetfilter but the main thing is that everything works now.

[2021-08-06 12:56] bovornv opened #3791 "Suggest to have "social sharing" feature that can be integrated with CPT in Crocoblock"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2021-08-06 13:03] 79ho3ein commented on #3316
hello everyone
Please follow this request here (#2683). This feature is more likely to be added to the jet woobuilder. The developers of jet woobuilder pay attention to the suggestions of users. Unlike Jet smart ...

thank you

[2021-08-06 14:46] atomikweb commented on #1314
I have the same problem, but it is strange, the menu works correctly while I have the wordpress admin logged in but if I close the wordpress session the plugin stops working and the menu stays loading

[2021-08-06 15:36] ghost commented on #2617
+1 for this feature!

[2021-08-06 17:04] mehdimoradi1500 commented on #3770
I suggest this feature in #3742 but unfortunately no one pay attention 😢, its so important to integrate JetEngine's form with woocommerce
Please consider this issue
@UraraReika

[2021-08-06 18:54] 79ho3ein opened #3792 "Report bugs in the new feature "Fields manager for Checkout Billing & Shipping forms""
hello @UraraReika
Thank you for adding this important and useful feature to the plugin. This feature caused us to remove an additional plugin. (checkout fields editing plugin). But this feature has a simple drawback...
That when we assign sales to a specific country(In WooCommerce configuration), we can not delete the country field.It is actually removed, but there is a problem in calculating the

[2021-08-06 21:19] Lucky5111 commented on #3742
I am planning to use WSForms.

[2021-08-06 21:52] mehdimoradi1500 commented on #3742
Im in love with JetEngine 😂

[2021-08-06 22:10] Lucky5111 commented on #3742
Yeah, but their form builder are kind of lackluster compared to WSforms. You are able to do woocommerce integration if you use WSforms. PS. I am able to get you some crocoblock licenses keys!

[2021-08-06 22:10] jarahner commented on #12
+1

[2021-08-06 22:46] 79ho3ein opened #3793 "Suggestions for developing the "Fields manager for Checkout Billing & Shipping forms" feature"
hello
There are suggestions for developing this feature. Please pay attention to them, because they are very important.

1-This feature has been added to the plugin in the best possible way. **But it lacks a very important case.**
That we can only style text fields and customize them, And we can not customize list fields like province or city.

Please see the image below :
![Screenshot (112)](http

[2021-08-07 00:19] IngerGarrido opened #3794 "Error ajax jetfilter with yith request."
I have a site where I use jetsmart filter ajax and yith request, when loading the page everything perfect (image 1), but when selecting the ajax filter button yith request broken, it remains as text (image 2).

imagen 1
![image 1](https://user-images.githubusercontent.com/17303550/128581644-6b84c7c0-662f-4959-bcd9-29dc7fc639b1.jpg)

imagen 2
![image 2](https://user-images.githubusercontent.com/173

[2021-08-07 06:04] serg-pervushin opened #3795 "JetEngine: do_shortcode for the dynamic repeater widget"
Hello)

I output some data using the repeater field and the dynamic repeater widget. This data may contain shortcodes added by me. However, this widget does not handle them. The Dynamic Field widget has a do_shortcode, but what about here? Maybe there is some kind of hook, like `add_filter('dynamic_repeater_widget', 'do_shortcode');` ? I didn't find it on the web(

[2021-08-07 08:54] JMartinCollins opened #3796 "Add WP GraphQL support for Jet Engine"
Currently some of the biggest competitors for jet engine include acf, and other meta/cpt/custom tax plugins. As gql slowly becomes more popular for front end development you could take advantage of a niche in the market and cut out some competition. Wpgraphql has an extension which supports *querying* acf fields, but performing mutations on this data is not yet supported out of the box (and probab

[2021-08-07 10:45] dennzo commented on #2543
I would really need this functionality for a client which is using Google Calendars.
So from my side +1.

[2021-08-07 13:54] Theo789595 commented on #243
Do we have anything on this? Customizing url string to be simple and logical is important. Any solutions? Can we edit any plugin file to achieve this ourselves?

[2021-08-07 17:22] zivit-drori opened #3797 "infinite scroll for infinite scroll"
Hi,
I'm using JetWooBuilder with JetSmartFilters
and I'm trying to use the code that is in the attached file for infinite scroll
with no success
It's most important for my project to have this option
[for-elementor.txt](https://github.com/Crocoblock/suggestions/files/6949402/for-elementor.txt)

https://samplive.co.il/product-category/single-samples/

[2021-08-07 17:46] jarahner commented on #931
+1

[2021-08-08 02:20] xC4M opened #3798 "Overlay option to WooCommerce Shopping Cart Widget"
Could you please add in one of the next releases an overlay feature to the WooCommerce Shopping Cart  Widget slide out effect? , This overlay effect add a cool user experience on mobile while you have two off canvas menu (normal menu and mini cart slide out menu).

[2021-08-08 18:09] dbfischer commented on #1576
I'd like the same functions.
2. is available now "Dropdown Placement" at the bottom ...
but I still miss:

- Keep submenu open with active page
- show Top Level Item parent (from active submenu page) as active

[2021-08-09 06:30] UraraReika commented on #3793
We test it on theme Kava with enabled manage fields option and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team. Thank you!

[2021-08-09 08:24] erbteilung opened #3799 "Pagination for REST API Endpoints to get all Items"
In many APIs the results you get are limited to a specified number like 100 but of course you want all of the entries. Therefore many API have a so called "pagination" for the requests which is nothin more than telling the api where so start with the entries and how many you want.

This is not possible currentry with the features of jetEnging or smart filtert. We would need this to paginate thru A

[2021-08-09 09:01] dislokacia opened #3800 "Add conditions for the product taxonomies and custom taxonomies for CPT to JetPopup."
Please, add the conditions for the product taxonomies and custom taxonomies for CPT to JetPopup.
At the moment there are only default Wordpress Categories and Tags available https://prnt.sc/1llg3js
Also it would be great to add the possibillity to show the popup on the concrete post from the CPT.
At the moment we can add the popup to all posts of the CPT https://prnt.sc/1llgy8h

[2021-08-09 09:52] nbarlevav opened #3801 "Allow to open a Popup window using Advanced carousel plugin"
When pressing a button on a slide it will be great to allow to open the destination URL in a popup, rather then in a full window...
Thanks

[2021-08-09 09:54] 79ho3ein commented on #3793
Thank you @UraraReika
Yes, there is no problem in ready theme ...
But Unfortunately, "Fields manager" **is not compatible with the hello elementor theme**.  And that's why list fields have a problem.The image I posted above was related to the hello elementor theme.
It would be great if you could add a feature that allows us to customize the list fields.  So we will no longer have such a problem wi

[2021-08-09 10:06] 79ho3ein commented on #3793
In the second case (editing the list and active and inactive mode) there is a problem in hello elementor.  Because there are no settings to personalize the contents of the list field. And everything is by default.
**In general, there is no compatibility with the hello elementor theme**

[2021-08-09 10:43] idealabsSE commented on #897
+1

[2021-08-09 11:50] iamdanbarrett opened #3802 "JetEngine: CCT Import and Export Feature"
Are there any plans to be able to export the data from a CCT and import that data into a CCT onto another CCT either on another website?

It would be incredibly handy to be able o export a .json file and then import the same data up into another CCT instead of having to do this with the API feature as could be dealt with in 2 clicks.