[2022-11-17 15:52] UraraReika commented on #1537
Hello. Thanks for the feedback.

Sorry for the long delay but yes you can achieve this with our plugins.

Thank you!

[2022-11-17 15:52] #1537 closed

[2022-11-17 15:57] UraraReika commented on #2997
I merged this issue with https://github.com/Crocoblock/suggestions/issues/456, which is on the same subject so we could deal with it more efficiently.

[2022-11-17 15:57] #2997 closed, assigned to nobody

[2022-11-17 17:24] ofmarconi commented on #5140
+1

[2022-11-17 18:18] Picrold commented on #6177
+1

[2022-11-17 19:57] simonmilz commented on #5026
+1 makes totally sense

[2022-11-17 20:31] morosmo commented on #5140
+1

[2022-11-18 02:34] edgBllw opened #6180 "JetElements - Video Player - please add dynamic tags to "start time" and "end time" fields"

[2022-11-18 06:35] JorensM commented on #6175
Supposedly this was fixed (#5576), but I'm still experiencing the issue.

[2022-11-18 06:36] JorensM commented on #5576
@MjHead I'm still experiencing this issue

[2022-11-18 07:53] mirajadesign commented on #2650
Yes. This is basic functionality with Ninja Forms, Formidable Forms, Gravity Forms, etc. We need guest upload capability, please!

[2022-11-18 08:13] UraraReika commented on #4537
I merged this issue with #2573, which is on the same subject so we could deal with it more efficiently.

[2022-11-18 08:13] #4537 closed, assigned to MakhonkoDenis, UraraReika

[2022-11-18 08:28] UraraReika commented on #4250
Hello @nathannsc, thanks for the feedback.

If you setup your form actions like this https://tppr.me/4k7y then you definitely will not be able to call webhook after checkout. Because this webhook would works before you even get the checkout page.

You can setup google calendar integration with the help of Appartment booking action like this
- https://tppr.me/e6ERn
- https://tppr.me/JWxum
- https:/

[2022-11-18 08:28] #4250 closed, assigned to MakhonkoDenis

[2022-11-18 09:11] fotografica commented on #5452
Hi EDR1EN,
I have the same problem as you....
Sorry if I'm asking but have you any CSS code I can take to translate the appointment details in another language? (Italian in my case).
Or, do you have an alternative suggestion on how to translate?
Many thanks in advance for your time and help
Regards
Giancarlo

[2022-11-18 09:31] UraraReika commented on #6175
Hello @JorensM, thanks for the feedback.

We have checked your request and everything seems to be working correctly.
- Created meta fields for Products https://tppr.me/w3wPd
- Created query without modifications https://tppr.me/DgBdG
- Setup meta field in some products
- Created listing grid with source query where WC Product Query selected https://tppr.me/olUUI
- Display meta fields with the help

[2022-11-18 09:31] #6175 closed, assigned to nobody

[2022-11-18 09:43] JorensM commented on #6175
@UraraReika Thank you for your response. The issue was that I hadn't specified the correct listing source and query in the listing item's settings.

[2022-11-18 10:14] IreneDania commented on #5948
+1 https://support.crocoblock.com/a/tickets/125099

[2022-11-18 13:19] MjHead opened #6181 "JetEngine v3.1.0 Beta"
Hi,

We are almost getting ready to release JetEngine v3.1.0 and we would like to ask you to help us test JetEngine v3.1.0 Beta.

You can download beta version from your Crocoblock account.

**Please note that is a beta version, not stable release, so its not ready to use on production websites!**

### Bricks Builder сompatibility

Here is the thing: one of the main factors why users switch to Bri

[2022-11-18 14:29] Lonsdale201 commented on #6181
![image](https://user-images.githubusercontent.com/23199033/202727266-bb234c15-20bf-4993-bd72-2c4ebbaeb2aa.png)
Thanks this option too :P

Btw so at the moment, **Custom control for connecting query to any widget containing a repeater** Can't try it yet? :)
I'm just asking because I've thrown in some native Elementor widgets (e.g.  tab, or toggle), but I don't see the option.

[2022-11-18 15:41] MjHead commented on #6181
@Lonsdale201 It requires 2-way comaptibility, so at the moment we added it only for widgets from our plugins (JetElements and JetTabs) We'll release these plugins with apporopriate updates in a few days, than I'll add a comment here a full list of supported widgets

[2022-11-18 16:31] SINFOUND commented on #5693
Why is this taking so long? Please add this. its not trivial to have.

[2022-11-18 18:13] josecarlosestirado commented on #1466
It would be a great function, I have the same need and I don't understand why they have it in one, and in Jet Search, which is more advanced, they don't have those options. I hope you guys implement it.

[2022-11-18 18:20] camfil26 commented on #389
Go to Posts Query > choose the Order & Offset option > Order by: RANDOM.
It works for Custom Posts as well.

[2022-11-18 19:32] mehdimoradi1500 commented on #6181
Great job and thank you
I have some questions or suggestions
1- As long as bricks builder has its own  native loop builder and also css grid will be released soon, I think no one will use the listing grid widget of JE!
2- maybe its better to make jetsmartfilters adaptable with brick's loop builder, so its a good way to not waste the time on listing grid

[2022-11-18 20:41] petranca commented on #6181
If I create a listing grid for post there is no preview in the Bricks editor. I miss there the Bricks option for template settings to populate content.

Even though this might not be technically possible yet, it would be better to integrate all functions that can be used via listing grid (smart filter, cct, etc.) into the native Bricks query loop sooner or later. But hey, one thing at a time.

[2022-11-18 20:44] kaskad88 commented on #6124
@yorkshiredesigner the CPT interface also has the `Hide meta field names` option https://tppr.me/x80LX

[2022-11-18 20:44] #6124 closed, assigned to kaskad88

[2022-11-18 20:53] ConsultMePL commented on #6181
I agree with @mehdimoradi1500 hardly anyone gonna use Listing Grid, once someone understands how Bricks Loop Builder works - it's sooo efficient.

What I wish would work, would be macros along with regular loop builder. There was a custom integration available for JE Query Builder, while it worked at the Posts and Taxonomies level, macros didn't.

But I got a custom code for %queried_item% macro s

[2022-11-18 20:57] Floydtm commented on #6140
For each slide you can set up your own template https://prnt.sc/cYDhlFyVvUrk

[2022-11-18 20:57] #6140 closed, assigned to nobody

[2022-11-18 20:59] kaskad88 commented on #6148
@Soluna1989 Are you use the JetPlugins Dynamic Data Addon for this case ?

[2022-11-18 21:05] kaskad88 commented on #5286
Added with 3.0.5 update

[2022-11-18 21:05] #5286 closed, assigned to kaskad88

[2022-11-18 21:17] SolunaCG commented on #6148
Yes, that´s what I´m using.

[2022-11-19 07:19] kaskad88 commented on #6148
@Soluna1989 You can set global icon settings in the Dynamic settings section of the Accordion widget https://tppr.me/8GMG9

[2022-11-19 08:04] Hasib2525 opened #6182 "Developers forgot to add any option to change the hover color of the dropdown in the jet filter's select box."
We don't have any option to change the color of the dropdown in the jet filter's select box. We can't add this with custom code also. There is not any CSS class. I think The developers forgot to do this. You should solve it as soon as possible. It is necessary.

[2022-11-19 08:07] Mrgreen93 commented on #6181
Hi guys, thank you for ur hard works.
I have gathered some of the ideas about JetEngine and other CB plugins, hope it helps the progress of developing:

1- With Elementor, their Dynamic Field widget create a massive 5 DOM elements. It shouldn't be more than 2. So if you have a listing with with 60 elements (for example Pricing for services in a beauty salon or restaurant menu) and you need 3 dynam

[2022-11-19 08:33] yannicklmb commented on #6181
There is no way to set pagination. The Bricks pagination element does not work with the listing, not even with the "Use as archive template" option when in an archive template.

Any way to paginate the listing grid?

[2022-11-19 10:08] Mrgreen93 commented on #6126
Hi guys
I really appreciate what @79ho3ein suggested
Honesty JE, JSF and jet search are the most popular plugins of crocoblock
So they should improve the Ui and also the performance
We have asked for some small bugs and it take 9 months to be considered

[2022-11-19 10:08] NimaBakhtiyari opened #6183 "Add the "Is required" option to the number field & Media Field in the custom content type fields"
This Option There Is In JetEngine Froms But Miss In Custom Content Type
![image](https://user-images.githubusercontent.com/90132570/202845525-74014765-9125-44d4-9d6a-44288f9d2728.png)
![image](https://user-images.githubusercontent.com/90132570/202845862-2d7ded12-dc1a-45c9-8c98-fb7edae547fe.png)

[2022-11-19 11:08] NimaBakhtiyari opened #6184 "Changes to the label typography specified in the form widget are not applied"
label selected in "Fields label HTML tag"
I guess the problem is in selecting the desired element in css
![image](https://user-images.githubusercontent.com/90132570/202847535-1df5634a-1d59-4e02-a336-73392f07c5b4.png)

[2022-11-19 15:09] SolunaCG commented on #6148
omg thanks a lot! don´t know.. sometimes I think too complex when things can be done so easily...

[2022-11-19 15:10] #6148 closed, assigned to kaskad88

[2022-11-19 18:53] mangelcc commented on #1987
I agree, this Jet Engine function with Mailerlite. November 2022

[2022-11-19 21:58] Floydtm commented on #5187
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-11-19 21:58] #5187 closed, assigned to Gawuww

[2022-11-19 23:26] Lonsdale201 commented on #6182
In the case of JSf Select, this is the browser's default Select field and gives you about no customizability. It's not "The developers forgot", it's the default. If you want more customizability and aren't afraid to add a few lines of code, you can link it in half a minute: https://select2.org/

[2022-11-20 10:17] Michaelgimii commented on #6126
+1
crocoblock please...

[2022-11-20 10:44] murrinmedia opened #6185 "Wrapping a column in a table in the URL of the post for that line"
With the table builder in Jet Engine, it would be good if you could have a meta field (that isn't the post title) and wrap the link to the post around that.

For example, if you have an event date, and you want that to be the first column, there doesn't appear to be a way to wrap that in a link to the post on that line.

For example, a list of events that have been run

| Event Date | Even Locatio

[2022-11-20 11:15] hb81010 opened #6186 "JetCompare Table Widget - Hook filter outputs disappear when removing products"
JetCompareWishlist For Elementor: 1.5.2

If a visitor removes a product from the Compare table, all contents of custom fields (e.g. checkbox, switcher) where a filter hook is used are blanked out.
If you refresh the page, the fields appear correctly again.

Before removing
![Screenshot 2022-11-20 120945](https://user-images.githubusercontent.com/54399588/202898977-0fe0168d-d7b1-411e-8254-6ab8eddc4

[2022-11-20 11:34] 79ho3ein opened #6187 "Add new button in the filters page - jet smart filters"
**Please, describe the feature request, making it clear to understand.**

Hi @SargasTM , @Floydtm

It would be great if there was an add new button on the filter creation page. This allows us to create a new filter immediately after creating a filter.

Currently, if we create a filter, we can click the back to listing button to go to the filters dashboard and create a new filter there. But with th

[2022-11-20 11:47] 79ho3ein opened #6188 "only checkbox clickable option for checkbox and radio filters - jet smart filters."
**Please, describe the feature request, making it clear to understand.**

Hi crocoblock team!

In jet smart filters, if we add a check box or radio filter, in addition to the check box, the filter text can also be clicked. https://prnt.sc/Atdxn2TdtRun

But it would be great if you could add a new option so we can specify that the filter is only activated when the checkbox or radio is clicked. In f

[2022-11-21 05:57] edgBllw opened #6189 "JetFormBuilder - Ability to edit the usermeta option (for checkbox field)"
I want to make an online course website and therefore it'd be great and much easier if i just could create one meta field namely "courses"where i simply can check or uncheck a value with a gateway form. but currently you acnt do that. please give us the ability to do so..

[2022-11-21 07:44] UraraReika commented on #5693
Hello everyone, right now this task in the work and soon will be released.

Thank you for your understanding.

[2022-11-21 09:42] mic647 commented on #2515
+1

[2022-11-21 11:24] EDR1EN commented on #5452
Hi @fotografica, you could maybe use the plugin Loco Translate to translate it. Alternatively you can hide that entire section with this css code: .jet-apb-calendar-appointments-list-wrapper {display: none;}

[2022-11-21 12:38] SolunaCG commented on #3805
+1 I´d definitely love to have these options, too! I´m currently struggling setting up the Gallery Slider cause I don´t really have an option to set a height for the "main" image. And options for image ratio, image size and image position would be great to have, just like @GDUpson wrote!

[2022-11-21 13:22] danilomamedes opened #6190 "Jetengine > further optimize the Listing Grid loading, option to hide elements that you do not want to repeat in the listing grid"

[2022-11-21 14:21] vladikdx commented on #365
No news?

[2022-11-21 14:35] JorensM opened #6191 "Query Builder: how to query meta data date?"
I have products that have a date meta field. I want to hide products for which the date is today or tomorrow, using the Query Builder. I tried using the Datetime data type in the Meta Query section, but it didn't work. I'm not sure what I have to input as value.

[2022-11-21 14:58] fotografica commented on #5452
Hi,

first of all thanks for you reply, really appreciated.

Then, I did what you suggested but it appears that I still have the section – see below:

I tried on live site as well and the section still appears. Am I doing something wrong?

Regards

Giancarlo

Area Web | Fotografica SNC

Piazza Resistenza, 15
28883 Gravellona Toce (VB) – Italy

+39 348 1580245 | ***@***.*** ***@***.***>  | ***@***.

[2022-11-21 15:12] MjHead commented on #6181
We just released JetElements and JetTabs plugins. Now its compatible with JetEngine 3.1.0 Query conteol. Full list of compatible widgets:

**JetElements**
- Advanced Carousel
- Advanced Map
- Animated Text
- Bar Chart
- Horizontal Timeline
- Image Comparison
- Images Layout
- Line Chart
- Portfolio
- Price List
- Slider
- Testimonials
- Vertical Timeline

**JetTabs**
- Image Accordion
- Classic Ac

[2022-11-21 15:20] ConsultMePL commented on #6181
Will JetTabs albo have JetEngine Query support? When enabled, Tabs = Custom Taxonomies or Woo categories, Content to be loaded based on template. An ability to enable slider to scroll taxonomies when too many tabs or on mobile

Is this something in your backlog?

[2022-11-21 15:54] MjHead commented on #6181
@ConsultMePL
- yes, Tabs will support this option. Update JetTabs to version 2.1.20 and appropriate option will appear
- yes, you can setup tab content with template and on the front appropriate dynamic data will be applied for this template - https://i.imgur.com/fPermuc.png The only problems will be with data preview while you setting up template content, because Elementor editor not initially in

[2022-11-21 15:56] Lonsdale201 commented on #6181
What you mean scroll? Are you about horizontal scroll the tabs?

[2022-11-21 16:00] ConsultMePL commented on #6181
or vertical depending on placement.

Yes, I have a custom css code to have a vertical scroll bar. On mobile scroll is touch enabled, so it's intuitive. For desktop, it's better to have a slider with arrows with onclick or hover options. JetEngine listings already support it, so the core fucntionality is there, just a matter of integrating this into JetTabs

Andrey - So if someone adds a taxonomy a

[2022-11-21 18:31] MjHead commented on #6181
@ConsultMePL If I understand you correctly - yes, after you connecting tabs to Query from Query Builder it starts to work in the same way like Listing Grid. If user will add some term and this term will match query conditions - approprite tab will automatically appear in the connected Tabs widget. In the same way you can use query for Accordion and all other widgets listed there - https://github.c

[2022-11-21 19:47] morosmo opened #6192 "How to Edit background Color of Iframe (Wisiwig field) In Jet Engine Frontend Form?"
I create a frontend form and added wisiwig fiield on form.
When I want to change their background color no css is working there cna anyone explain that what is this "#document" in console?

![git](https://user-images.githubusercontent.com/87468744/203145232-54bd24a9-6d28-41cf-a0de-4946862e00ff.PNG)

Thanks in Advance

[2022-11-21 21:55] #6092 closed, assigned to kaskad88

[2022-11-21 21:56] #6125 closed, assigned to nobody

[2022-11-22 12:55] Michaelgimii commented on #6114
Hi, Is there a plan to fix this bug?

[2022-11-22 13:33] Lonsdale201 commented on #6188
As an optional feature it's good, but remember that on mobile, for LTR readers, it's a bad solution, because by default the checkbox and radio are on the left, followed by the label, so it's a strain for the user to stretch their finger until they reach the trigger button with great difficulty. (And count the right handers in the formula, who are in the majority.)  Keep an eye out for such small t

[2022-11-22 14:44] fostira commented on #5822
Did this request make it to the planned feature list? @girafffee :)

[2022-11-22 19:03] MiffedLyric559 opened #6193 "Add role to user via JetFormBuilder using update user module"
Hello!

I discussed this functionality with support and I was asked to create a suggestion here.

Basically, I miss the functionality of being able to add role to users as well as setting the role of the user. Currently you are only able to update the role of users as in replacing the current user role with another.

This works fine for "most" use cases but in the case where you want hierarchy bas

[2022-11-22 20:59] breakused commented on #60
+1

[2022-11-23 01:15] ConsultMePL commented on #6181
I can't test it for now, as I hade to do a Repeater First. It's actually quite complicated to display reperater fields. Basically I wanted to do a Slider for a client, which they could edit. In order to do so, I had to create:

1. CPT with a repeater field and two meta fields (name and image - and since it's not possible to load repeater fields with Elementor Dynamic Tags, I hade to use Dynamic Fi

[2022-11-23 06:46] MjHead commented on #6181
@ConsultMePL
1. Query, meta fields, CPT etc are required to simplify processing dynamic data. When you have for example 100 posts with gallery filled by repeater field in each of them. If you just need 4 images slider - just add slider widget into the page content and add 4 images into this slider.
2. If you want client edit these images not from the Elementor editor, but from some simplified UI -

[2022-11-23 08:38] SolunaCG commented on #2466
This is exactly what I´m looking for, too. Plus it´d be really handy to be able to toggle an actual template AND popup with it. "Unlimited Elements for Elementor" offers this functionality but I don´t like using so many different plugins on my website and the latest version of it broke our site. It´d be great if Crocoblock could offer that, too!

https://unlimited-elements.com/animated-hamburger-i

[2022-11-23 09:54] taidang26 commented on #5967
+1 I think it will be more suitable to integrate into JetTrick. Hopefully they will have an update soon.

[2022-11-23 10:24] 79ho3ein commented on #6188
I completely agree with you @Lonsdale201, But it wouldn't be bad if this option were optional.

[2022-11-23 10:27] Lonsdale201 commented on #6188
Yes of course. :)
The reason I wrote it down is that a lot of people don't really know about this kind of thing. What constitutes a grey area on a mobile and how to make it as efficient as possible, because many people focus on the layout and forget about the experience. ^^

[2022-11-23 10:38] UraraReika commented on #6171
https://github.com/Crocoblock/suggestions/issues/6175

[2022-11-23 10:38] #6171 closed, assigned to nobody

[2022-11-23 11:23] Lonsdale201 commented on #6181
Thank you for your reply. :) Which is related here as a question. Now that the **Query builder** handles repeater I assume for compatible widgets the repeater query will be usable in the same way, so, by default we don't need the "**Dynamic Data Addon**" addon anymore?

I assume these elements will not be filtered by JSF?

Related question, sorry, just now that Query Builder has become compatible

[2022-11-23 11:53] andrewpty commented on #1654
+1

[2022-11-23 12:19] tizum commented on #5967
that would be great, copy the names easily, without error, without space, and one click away.

[2022-11-23 13:09] antoinelbch opened #6194 "[Query Builder] Add description field to communicate what the query is for"
When creating queries I try and give them a clear and descriptive name. Nevertheless, when I come back at a later time or work in a team, it is not always clear from the title what is its goal or where it is/should be used.

Having a field, besides the title, where a longer description could be added would be very helpful to provide more information about the query to myself or team members.

[2022-11-23 13:16] santiagoscham commented on #711
Same issue!

[2022-11-23 14:21] dyonatandias commented on #5967
+1

[2022-11-23 15:55] ConsultMePL commented on #6181
1.  I'd like to have custom view, but most importantly, I'd like a client to be able to edit it.
2. Actually, Ive heard of Options Pages, but never really tried it. In fact it does solve some issues and makes client dashboard quite clean, though I'm still to check whether it would be possible to recreate in sort of profile builder - so create frontend dashboard outside of wp admin
3. OK
4. Problem

[2022-11-23 23:22] barttermorshuizen commented on #1040
+1 this breaks usability - angry clients, cannot blame them!

[2022-11-24 05:17] morosmo commented on #5967
+1

[2022-11-24 07:34] JorensM opened #6195 "Query Builder: How to query by search term?"
I want to use the Listing Grid with Query Builder on my search page. How do I pass the search value to the Query Builder so it queries the searched term?

[2022-11-24 07:59] JorensM opened #6196 "Ajax Search: pre_search hook?"
I want to know if there is a hook similar to `pre_get_posts` for the Ajax Search. I need to capture and alter the search query. It seems that `pre_get_posts` doesn't work for Ajax Search.

[2022-11-24 09:05] NimaBakhtiyari opened #6197 "Add the number and size of each file separately for accepted formats in the media field of Jet Engine forms"
For example, when we want to receive 2 files in jpeg format with a size of 2 MB and one file in ZIP format with a size of 50 MB, this feature is not available by this plugin and There is only one condition for the number and size of all received files.
![image](https://user-images.githubusercontent.com/90132570/203733509-ad26a8f9-0641-4f0a-8c38-2fe619d766af.png)

[2022-11-24 09:46] LaxusCroco opened #6198 "Integration of JetBooking with MMK"
JetBooking has iCal integration with Google Calendar. I would like to request the 2-way synchronization between JetBooking and MMK platform as well. That is, bookings from the JetBooking plugin should go to MMK, and bookings from MMK to JetBooking.

For your convenience, the MMK platform provides an API, which may be accessed via this URL.
https://app.swaggerhub.com/apis-docs/mmksystems/bm-api/2.0

[2022-11-24 09:59] LaxusCroco opened #6199 "Displaying user role through Dynamic Field"
I want to display the user role of the queried user through Dynamic Field https://prnt.sc/NPkiGhgLoNJ3 or Dynamic Tags https://prnt.sc/wbU0uvGJAGM1. Currently, I have achieved this with a custom solution. Please, see below.

[code]

[2022-11-24 10:33] MjHead commented on #6181
@Lonsdale201
- As for Dynamic Data Addon - yes, in fact you don't need it anymore, Repeater query replaces it
- Repeater query should be already filtered by JSF. It has some limitiations, for example pagination will not work at the moment, because paging navigtion not available for the Repeater query at the moment, but Query arguments already in, so you also can filter Repeater query items by some

[2022-11-24 10:35] Lonsdale201 commented on #6181
Ohh, okay, Thank your to the answer. :)

[2022-11-24 11:19] NimaBakhtiyari commented on #5898
It seems that it is still not implemented with version 3.0.6.1. If it is implemented, where can I find it?

[2022-11-24 18:59] morosmo opened #6200 "Only Login user can Leave Comments on Reviews (Jet Reviews)"
Hi @Crocoblock @MjHead
I just started using jet review by crocoblock in one of my project. I need to now Is its possible on jet reviews to do these things ?

**1. Add additonal field on review form:**
Currently we can add only number field . Is it possible to add "Text" or "Select ", chekcbox type fields?
![form field1](https://user-images.githubusercontent.com/87468744/203849910-4d0a91fb-5ba3-4c3

[2022-11-25 01:48] jodamo5 commented on #2515
+1
It would be very useful to be able to query repeater fields.  We have a number of "quick links" that are saved in global options as a repeater. However, when the links are shown, there is no way to exclude a link to the current page from being included, because we can't query the repeater.

[2022-11-25 07:22] JorensM opened #6201 "Listing Grid not showing search results on search page."
**Describe the bug**
The Listing Grid widget is not showing search results on my search page.

**To Reproduce**
Steps to reproduce the behavior:
1. Create some products
2. Add Listing Grid widget to search page, and enable "Use as Archive Template" option
3. Go to search page, and search for a product

**Expected behavior**
Should show search results

**Screenshots**
Here are my settings for the w

[2022-11-25 07:57] filwi opened #6202 "Feature Req: Add Query/Relationship name to Deletion Confirmation dialogue box"
When you're deleting a query from the query list or a relation from the relationship list, you get a deletion confirmation - but nowhere does it say **which** query/relation you're deleting.

It would be better to have the query/relation name in the deletion confirmation in case you click on the wrong one (which is easy to do when you've got a lot of them):

![QueryName](https://user-images.github

[2022-11-25 11:00] filwi commented on #2304
@MjHead +1 here, too.

Right now, we're using Duplicate This-plugin, which copies everything except relationships (meaning that we have to add relationships by hand - quite irritating when you've got a lot of department personnel that needs to be added every time).

Since there's already a copy function for CPT:s, would it be possible to add one for the posts themselves, too?

[2022-11-25 13:04] wolfbeast opened #6203 "JetTricks uses recursive MutationObserver loop, causing browser hangs"
**Describe the bug**
The JetTricks plugin uses a recursive MutationObserver construction which causes hangs in some browsers.
The issue is caused by having a MutationObserver on an element for a style, then in the callback of that observer, changing the style, causing a self-triggering observer and recursive loop. This is difficult to prevent on the web client side (as is any recursive issue) and

[2022-11-25 13:36] NimaBakhtiyari opened #6204 "Add Not found Template Option Next to the "Not found message" field for Listing Grid"
Added option to call a template instead of text for expression No data was found.
![image](https://user-images.githubusercontent.com/90132570/203996252-45b5fbba-86e4-41a9-bc6b-c14de2fd9cb5.png)

[2022-11-25 14:04] filwi opened #6205 "Bug: JetSmartFilter Filtering with No Results Found Returns All Results (with possible solution)"
**Describe the bug**
When I use a filter that would result in no results, it returns all posts instead.

I suspect that JetSmartFilters doesn't check if the results of the query are empty before passing them to the WP_Query for retrieval.

This is a known WP_Query issue and a wontfix at WP, with the recommendation to check if the array passed to WP_Query is empty before passing it, as per the note

[2022-11-25 14:16] scottybo commented on #2436
The problem I was facing: Custom Post Type posts were not being returned in alphabetical order. Building on @leftcoast1 suggestion, this simple snippet will get the sorting right:

[code]

[2022-11-25 14:45] Lonsdale201 commented on #6204
You should Try to insert shortcode

[2022-11-25 14:59] EDR1EN commented on #6205
+1 was about to open an issue for the same bug, would be great if this could be fixed asap

[2022-11-25 15:19] andre-xavier-berger opened #6206 "Add password field to the checkout billing form of JetWooBuilder"
There is a woocommerce option in settings / account that allow to define a password during checkout process.

Go to
1) "Accounts and Privacy Settings" tab
2) the last option of Account creation section
"When creating an account, automatically generate an account password"
![image](https://user-images.githubusercontent.com/78139211/204014616-ff5be5d5-3fe8-4481-be83-cd3fb22e4cd3.png)

Untick this op

[2022-11-25 19:20] tizum commented on #4695
+1 please add this feature together to make it work

I need to finalize a project, where I need the user to search for the Article title, and also for information in metafields such as Year, Magazine and Authors.

If there is a function for this, please leave it here!

@MjHead @kaskad88 @UraraReika @Floydtm

![image](https://user-images.githubusercontent.com/6773491/204044417-f99f2e59-b782-4a8e-81

[2022-11-26 01:35] Cosirax commented on #5639
Hey there, I really enjoy the crocblock "Univers" they have a  wide  functionallity but indeed.. the performance, especially for the listing grid is so poor. I have a production site setup which has now about 80 entries (not that much, normally...) who have 8 acf fields. This page is loading 16s (!) on a high performance server. Thats not usable. If there won't be an update in the close future I w

[2022-11-26 08:57] Floydtm commented on #6201
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-11-26 08:57] #6201 closed, assigned to nobody

[2022-11-26 11:43] ConsultMePL commented on #6181
@MjHead any chance to get a reply? I posted this here, on FB group, Croco chat - you have guys released this beta which is not compatible with repeater.... always getting 503 error

[2022-11-26 12:58] NimaBakhtiyari opened #6207 "Adding controls for assigning customize text and icon and style of the file select button in the form widget"
Create a way to customize this button like the image below
![image](https://user-images.githubusercontent.com/90132570/204089669-9c380749-8b58-464b-8f80-95dc15897c33.png)
standard button
![image](https://user-images.githubusercontent.com/90132570/204090048-3b535d79-adef-4e1a-b0e1-059026067306.png)

[2022-11-27 02:15] DanielShuster opened #6208 "Smart Filters Accordion"
Hello, please add Smart Filters to the accordions. It's a must-feature!

Thank you very much, be safe there!!

[2022-11-27 12:10] EDR1EN commented on #5452
Hi @fotografica , it doesnt show anything to me so cant tell, sorry

[2022-11-27 14:50] cazper57 opened #6209 "JetForm / Jet Engine quote or enquiry form"
Hey, is it possible
a quote or enquiry form in woocommerce. directly in a popup.

[2022-11-27 20:39] NimaBakhtiyari opened #6210 "[JetTricks] Create changes to unfold widget style and add a few style controls"
**add a style controller for button icon Direction**
.jet-unfold__button {
    display: flex;
   flex-direction: row;
or
   flex-direction: row-reverse;
or
   flex-direction: column;
or
   flex-direction: column-reverse;
}
**add a style controller for the icon to the button text distance and icon size.**
.jet-unfold__button-icon.jet-tricks-icon {
    margin: Xpx;
    font-size: Xpx;
}
**the remova

[2022-11-28 00:04] lucascostagyn commented on #4613
Também tenho o mesmo problema.

[2022-11-28 05:00] justdave007 commented on #5639
+1 on this request.  We used this for a client site, and it is soooo slow it's basically unusable. >10s for a filter to apply and refresh.  We'll have to recreate this feature, wasting a bunch of time, and this was the only reason we paid for crocoblock.

[2022-11-28 08:12] morosmo commented on #6202
+1

[2022-11-28 08:15] morosmo commented on #6204
Hi Lons,
I tried this using shortcode but everytimr templates are broken and alot of issue with designing.
May be if there isw any option to add ajac here so it get fixed same like we have on jet tabs.

[2022-11-28 08:23] girafffee commented on #1987
You must try this addon. It can be used both with JetEngine Forms and with JetFormBuilder
https://jetformbuilder.com/addons/mailerlite-action/

[2022-11-28 08:23] #1987 closed, assigned to kaskad88, girafffee

[2022-11-28 09:18] girafffee commented on #3651
This functionality has been added since version 2.0

https://jetformbuilder.com/features/wordpress-custom-form-records-page/

[2022-11-28 09:18] #3651 closed, assigned to girafffee

[2022-11-28 09:30] girafffee commented on #4760
Fixed in version 2.1.1

[2022-11-28 09:30] #4760 closed, assigned to girafffee

[2022-11-28 09:33] girafffee commented on #4909
Fixed in version 3.0.3 (JetEngine)

[2022-11-28 09:33] #4909 closed, assigned to kaskad88, girafffee

[2022-11-28 09:37] girafffee commented on #4839
Maybe this addon will suit you?

https://jetformbuilder.com/addons/woocommerce-cart-checkout-action/

[2022-11-28 09:41] girafffee commented on #5676
@nreljed Hi
This code snippet can fix it.

[code]

[2022-11-28 09:41] #5676 closed, assigned to girafffee

[2022-11-28 09:44] girafffee commented on #5530
Please try with the current version of Select Autocomplete

[2022-11-28 09:44] #5530 closed, assigned to girafffee

[2022-11-28 09:46] girafffee commented on #5548
Added in version 2.1.3

[2022-11-28 09:46] #5548 closed, assigned to girafffee

[2022-11-28 09:50] girafffee commented on #5589
Fixed in version 2.1.1

[2022-11-28 09:50] #5589 closed, assigned to girafffee

[2022-11-28 09:53] JonasHaouzi commented on #1470
FYI, the support has been totally useless and not able to understand anything. I'm even wondering if someone of their support team is actually a developer.

Given that these slownesses were killing our websites, we had to implement something quick (and dirty) until we get rid of this plugin.

We added some new lines within the function `render` of the file `jet-engine/includes/components/listings/

[2022-11-28 09:56] rlb222 commented on #5589
Thank you !For the fix and for this notification!Regards René —//—Op 28 nov. 2022 om 10:50 heeft Sasha Ivanenko ***@***.***> het volgende geschreven:﻿
Fixed in version 2.1.1

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you authored the thread.Message ID: ***@***.***>

[2022-11-28 12:38] Michaelgimii commented on #3366
Hi @SargasTM , @Floydtm. Is there any news to resolve this issue?

[2022-11-28 17:36] ghost opened #6211 "Jetformbuilder Stripe Recurring Payment"
Jetformbuilder Stripe Recurring Payment option is not there at the moment as addon but it's a very much needed feature. Any plan to start working on this?

[2022-11-28 19:42] Mancdim opened #6212 "Add a clear and fitting title for the feature request"
Hello,

I wanted to know is there a way that we can use to enable reading books through user accounts on the website with Crocoblock without allowing them to download the E-book?

[2022-11-28 22:09] Floydtm commented on #6209
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-11-29 05:09] morosmo commented on #6211
+100000

[2022-11-29 05:11] morosmo commented on #6200
Hi @Floydtm Thanks for assigning.
@shinTM Any update on this?

[2022-11-29 07:29] PhungTruong1997 opened #6213 "Add filter to compatible Multi currency plugin"
There is a problem that the Filter price to get min/max price for WooCommerce products is not supporting our plugin. .
I noticed that in this function "jet_smart_filters_woo_prices" you have a filter to support the WPML plugin, so I want you to put a similar filter to support other plugins as well. Don't know if you can help with this problem

[2022-11-29 09:28] morosmo opened #6214 "#JetReviews Review lisitng Widget not changing stars colors"
**Describe the bug**
When
I try to change color of stars in jet reviews (review lisitng widgets) and its not updating. see the below screenshot.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'jet reviews& place review rating widget '
2. Click on 'Rating tab'
3. Scroll down to 'colors and change them'
4. See error colors not changing.

**Screenshots**
![Screenshot (3)](https://user-ima

[2022-11-29 09:30] git-temak commented on #3651
@girafffee how about for Jet Forms itself, the module that comes with JetEngine, does that have this functionality? Only the JetFormBuilder seems to have it, or is JetEngine Forms going to be retired?

[2022-11-29 09:46] girafffee commented on #3651
@git-temak JetEngine forms are legacy now. We add all changes and improvements to the JetFormBuilder so it has many more functionalities than the JetEngine.
You can use the converter to transfer the form from the JetEngine to the JetFormBuilder. https://github.com/Crocoblock/jet-form-builder-converter

[2022-11-29 11:53] rkr1209 commented on #4441
I'd like to push this please. It's a very valuable addition to make the Add-on usable!

[2022-11-29 13:56] cazper57 commented on #6209
I want to display the selected variation on the product single page.
So a dynamic field, more precisely the Terms field should show only the selected attribute.

I want to display the selected variation on the product single page.
So a dynamic field, more precisely the Terms field should show only the selected attribute.

[https://bilderupload.org/bild/bd8534274-dnyamic-fields](url)

[2022-11-29 14:45] antoinelbch opened #6215 "[Query Builder] Make QB compatible with The Events Calendar"
Plugin: [The Events Calendar](https://theeventscalendar.com/support/)

**Make it possible to query past events from The Events Calendar with Query Builder**

I have created a [number of events](https://snipboard.io/2FIeTr.jpg) in The Events Calendar. All events take place on 1 January of that year:

- Event 2020 (1-1-2020)
- Event 2021 (1-1-2021)
- Event 2022 (1-1-2022)
- Event 2023 (1-1-2023)
- E

[2022-11-29 15:44] rtpHarry commented on #6131
Isn't this already possible with custom selector?

Go to the JetPopUp screen (Admin > Jet Pop Up > All) then click edit settings:

<img width="881" alt="image" src="https://user-images.githubusercontent.com/1038062/204575427-2267bfd2-0c83-49d3-85c3-00e94fc347ed.png">

Then assign that class to your element you want to be the trigger (and make sure the Conditions are including the popup on that pag

[2022-11-29 15:49] rtpHarry opened #6216 "JetPopup - Custom Trigger - Show after X page views"
The client wants the popup to show after 3 pages have been viewed and that is not possible with JetPopup.

It looks like I'll have to switch this back to the Elementor popup which has more advanced trigger conditions:

<img width="1332" alt="image" src="https://user-images.githubusercontent.com/1038062/204576432-406bf255-dd5a-49ae-b5bb-396e0a5a20ad.png">

It would be great to have this feature, bu

[2022-11-29 18:03] 79ho3ein opened #6217 "BUG : jet smart filters counter align - 3.0.2 version"
**Describe the bug**

Hi @Floydtm and @SargasTM , First of all, thank you for fixing the problem of filters in RTL.
In the new version, there is a bug related to counters. **This bug occurs in both RTL and RTL.**

In this version, if counters are enabled, the counters are not centered and are actually slightly higher than they should be. Please look at the image below :

![counters](https://user-i

[2022-11-29 22:18] Joliamendi opened #6218 "Removing products from favorites using Ajax in product grid widget."
**Please, describe the feature request, making it clear to understand.**

Hello crocoblock team.

We display the wishlist using the product grid widget. Therefore, in this widget, we activate the settings related to the jet CW plugin. In this widget, using [these settings](https://prnt.sc/BNE51HN7u-qI), if users click on the heart icon, the product will be removed from the wishlist. But there is a

[2022-11-29 22:46] 79ho3ein opened #6219 "ui bug in product grid widget - jet woobuilder 2.1.0"
**Describe the bug**

Hi

In the product grid widget, if the overflow option is enabled, if we enter the tablet mode, we will have a ui bug.

https://user-images.githubusercontent.com/88034902/204664508-1b587e80-fc99-4281-837c-5ee9e9396e08.mp4

Also, the default value of the Slides to Scroll field is not displayed in tablet mode.

[2022-11-30 06:01] morosmo commented on #6217
+1
Same for LTR (English versions)

[2022-11-30 07:59] SargasTM commented on #6217
thanks, i'll fix it

[2022-11-30 08:50] Michaelgimii commented on #6217
+1
same here

Hi @SargasTM , Please keep in mind the possibility of moving the counters to the opposite side as well as removing the parentheses from the counters. Below is the image on your official website that covers these two features. I don't know how hard it is for you to implement these two features, but please keep these two features in mind.

![download](https://user-images.githubusercont

[2022-11-30 09:05] #6114 closed, assigned to UraraReika

[2022-11-30 09:05] #5994 closed, assigned to UraraReika

[2022-11-30 09:09] SargasTM commented on #6217
@79ho3ein  I don't have margin-top, and I didn't find that it was added in the code. Try to recreate this filter, maybe the old css

[2022-11-30 09:13] #5984 closed, assigned to UraraReika

[2022-11-30 09:32] 79ho3ein commented on #6217
@SargasTM , I have added margin-top code in chrome inspect.

[2022-11-30 09:33] 79ho3ein commented on #5984
thank you @UraraReika 🥂

[2022-11-30 09:34] 79ho3ein commented on #6114
thank you @UraraReika 🥂

[2022-11-30 09:47] SolunaCG commented on #2603
+1

[2022-11-30 10:44] bombarda-rpd opened #6220 "Customize WP Login page with croco"
Hello!
It will be realy nice to have to possibility to customize WP login page with croco instead of using other plugins!

[2022-11-30 15:12] rtpHarry commented on #6154
I see this has been closed but I just want to point out that a more thorough check needs doing as it appears to depend what features are enabled as to what is reported in the woo status section.

I came to report this as I have the my-account section custom skinned and that is showing as out of date:

[code]

So all templates need checking not just the originally reported ones.

[2022-11-30 17:16] rtpHarry commented on #5009
I've just been trying to test a system that is almost ready to go live and found out that the Order Pay screen can't be styled

[2022-11-30 18:59] Lonsdale201 commented on #6220
What's the difference if you do it with an extension that doesn't fit the profile instead of another specialised extension?  :)

[2022-11-30 20:02] #5841 closed, assigned to UraraReika

[2022-11-30 20:02] #5730 closed, assigned to UraraReika

[2022-11-30 20:02] #5715 closed, assigned to UraraReika

[2022-11-30 20:02] #5659 closed, assigned to UraraReika

[2022-11-30 20:03] #5609 closed, assigned to UraraReika

[2022-11-30 20:03] #5484 closed, assigned to UraraReika

[2022-11-30 20:05] #5363 closed, assigned to UraraReika

[2022-11-30 20:05] #5348 closed, assigned to UraraReika

[2022-11-30 20:05] #5335 closed, assigned to UraraReika

[2022-11-30 20:05] #5288 closed, assigned to UraraReika

[2022-11-30 20:05] #4948 closed, assigned to UraraReika

[2022-11-30 20:06] #4386 closed, assigned to UraraReika

[2022-11-30 21:26] 79ho3ein commented on #6218
similar to #6111

[2022-11-30 21:29] 79ho3ein commented on #6031
This bug was fixed in the new version. thank you @UraraReika

[2022-11-30 21:29] #6031 closed, assigned to UraraReika

[2022-11-30 21:54] Joliamendi commented on #3793
Great crocoblock team, do you have any plans to release this feature? It has been almost a year since this request was filed. Even a news that you are working on it will be very happy.

[2022-11-30 22:12] rtpHarry opened #6221 "JetPopup - Not aware of order-pay endpoint"
**Describe the bug**
JetPopup isn't aware of the order-pay endpoint.

Its used with phone orders / unpaid orders, which are in a url like this:

https://example.com/checkout/order-pay/16849/?pay_for_order=true&key=wc_order_Ama6GsNSXf9Qb#

I've got a popup with "entire site" set up:

<img width="949" alt="image" src="https://user-images.githubusercontent.com/1038062/204918318-5e499cd5-4bd4-443a-9aa