[2021-08-09 12:00] UraraReika commented on #3793
what do you mean by personalization?

[2021-08-09 12:14] StevenVanWingerden commented on #3541
Support, I also need this!

[2021-08-09 12:17] jarahner commented on #1759
Any news? It's marked as ready for release for almost a year now and JetEngine is already on 2.8.8

[2021-08-09 12:19] 79ho3ein commented on #3793
excuse me... I meant Customization.

Because, as I said above, customizing text fields is different from listing fields such as country, city, or province. It would be great if you could add settings so that we could completely customize the list fields.

**The second very important thing that is necessary in customizing list fields is the ability to edit the contents of the list fields.**
These p

[2021-08-09 12:22] StevenVanWingerden commented on #1885
This would be awesome...

[2021-08-09 13:34] MjHead opened #3803 "JetEngine v2.9.0 Beta"
Hi,

We are almost getting ready to release JetEngine v2.9.0 and we would like to ask you to help us test JetEngine v2.9.0 Beta.

You can download beta version from your Crocoblock account.

### Import glossaries from the file

From now on, there’s no need to add all options to the glossary manually. This feature lets you import a file from which these options will be parsed. It is convenient when

[2021-08-09 13:50] MjHead commented on #3789
@dayoherrera Hi! This feature will be added as separate module with JetEngine 2.9.0. More details here - https://github.com/Crocoblock/suggestions/issues/3803

[2021-08-09 13:50] #3789 closed, assigned to nobody

[2021-08-09 13:54] #3783 closed, assigned to nobody

[2021-08-09 14:13] Theo789595 commented on #1269
Placing jetsmartfilters anywhere via shortcode would be great. Any updates on this?

[2021-08-09 15:24] jarahner opened #3804 "Dynamic Field Widget: Please add "Last updated / modified" date"
Currently it's only possible to display the date created in a dynamic field widget. Please also add the last updated / last modified date as well.

I guess it's already implemented in the post info widget but I need to display the human readable time difference between now and the last updated date which is only possible in the Dynamic Field widget

[2021-08-09 15:37] MjHead commented on #3795
Hi! We'll add some more advanced solution with one of the next updates. As for now you can try to do it in this way:

[code]

Please note, this code sample is only example to demonstrate how it could be implemented, so please try it in the dev environment before go live.

[2021-08-09 19:55] anderoav commented on #2237
Any updates?

[2021-08-09 21:17] neoset commented on #3742
I join the request for integration with woocommerce, I see it essential and it is not in Jet Engine forms.

[2021-08-10 00:19] GDUpson opened #3805 "JetEngine dynamic gallery slider and gallery grid image ratio, size (cover, contain) and position styling"
Please can you add the following styling options to the JetEngine dynamic gallery slider and the dynamic gallery grid as these features are quite limited without them:

Image ratio:
- 1:1
- 2:3,
- 3:4
- 16:9
- Custom

Image size:
- Default
- Cover
- Contain

Image position:
- Top left
- Top middle
- Top right
- Centre left
- Centre middle
- Centre right
- Bottom left
- Bottom middle
- Bottom right

[2021-08-10 00:33] GDUpson commented on #3596
Yes please this is a must! The gallery slider is useless without the ability justify the height of the images.

[2021-08-10 00:38] jamsheehan commented on #3803
Getting this when attempting to activate some of the external packages:

The package could not be installed. PCLZIP_ERR_BAD_FORMAT (-10) : Unable to find End of Central Dir Record signature

https://prnt.sc/1lz0b9q

- NGNIX server (running local copy of a client site)
- WP 5.8
- 256MB RAM

@MjHead same thing, so I created a new subkey licence and it didn't work. When I used the main account licenc

[2021-08-10 01:10] GDUpson opened #3806 "Add pagination to JetEngine dynamic gallery"
Add pagination options to the JetEngine dynamic gallery and/or make it compatible with JetSmartFilters.

[2021-08-10 02:01] GDUpson opened #3807 "Add multiple galleries into one JetEngine dynamic gallery grid with filter"
Add the ability to add multiple galleries to one JetEngine dynamic gallery grid with a filter to sort through individual galleries.

The user should easily be able to add, title (for filter) and remove galleries using a dynamic repeater.

This would work in the same way as Elementor Pro's gallery widget using the 'multiple' option but with the ability add and remove sub-galleries dynamically.

[2021-08-10 03:23] Dinorexasia opened #3808 "Enable Add More Custom Post Type in JetAppointment"
Hi, I would like to request the features on Jetappointment to allow add more custom post types. The Current setting only allows us to add services & providers only (Limited to 2 only)

If it is possible to allow us to add more custom post types it would be better & more flexible.
Example to add services, providers & branches, etc.

![image](https://user-images.githubusercontent.com/88306192/128803

[2021-08-10 03:30] Dinorexasia opened #3809 "Enable to add dynamic email in the "mail to" session in post action of JetAppointment"
Hi I would like to request to enable us to add dynamic email in the "mail to" session in post-action of JetAppointment form.

For example, we can put a dynamic email in the column mail to: "provider_email" instead of a specific email address. This can allow us to send the appointment email notification to the respective provider.

![image](https://user-images.githubusercontent.com/88306192/1288038

[2021-08-10 06:30] kaskad88 commented on #3804
Added for the next version. Thanks for your report!

[2021-08-10 06:30] #3804 closed, assigned to nobody

[2021-08-10 07:47] jarahner commented on #3785
There is already an open issue for this suggestion:
https://github.com/Crocoblock/suggestions/issues/2277

[2021-08-10 07:49] jarahner commented on #2531
There's already an open issue for this suggestion: https://github.com/Crocoblock/suggestions/issues/2277

[2021-08-10 08:06] serg-pervushin commented on #3795
Thanks!

[2021-08-10 09:20] MjHead commented on #3803
@jamsheehan Hi! Could you please try deactivate and than activate your Crocoblock license again?

[2021-08-10 10:46] tfrank7 commented on #3755
Hi Dario,
I think you looking for this setting:
Bookings > Settings > General tab
https://tinyurl.com/yk4bgjtv

[2021-08-10 10:49] tfrank7 commented on #3453
+1

[2021-08-10 12:34] DesignByFloor opened #3810 "Map distance"
Is it possible to filter the map listing of crocoblock by distance?
Visitors must be able to enter an address and then indicate the number of km via a range filter.

[2021-08-10 14:04] Thotti79 opened #3811 "Make Jet reviews compatible for Gutenberg"
In order to use Jet reviews also for Gutenberg, please make it compatible for the Gutenberg Editor, so we can use it for making for example product reviews directly in Gutenberg.

[2021-08-10 14:47] dariogalleno commented on #3755
Hi tfrank77,
tks for your reply. I already setted "per night" option, and it works fine for the price calculation.
the problem is that the check-in date results already booked trying to book the day before. I try to explain better sendig the availability calendar screenshot.

![image](https://user-images.githubusercontent.com/87863573/128887490-14aa1f2c-c702-4830-970b-cc2c72560b27.png)

for ex.: t

[2021-08-10 17:11] jamsheehan commented on #3788
It should be located here:

![image](https://user-images.githubusercontent.com/223342/128904132-b185a1dd-86f2-4915-a552-ce5e5e0c27fe.png)

[2021-08-10 17:26] AnadarPro commented on #3788
Thanks. I didn't see that on my list. Also, is there a good way to put them next to one another for a full name?  When I do two elements the spacing often ends up odd and I've resorted to creating a shortcode.
On Aug 10, 2021, 13:11 -0400, Jamie Sheehan ***@***.***>, wrote:

[2021-08-10 18:04] Highway596 commented on #2349
Definitely need this functionality +1

[2021-08-10 19:20] iamdanbarrett commented on #3802
@MjHead thanks for updating, this comes at the perfect time for a project we are workng on

[2021-08-10 19:29] iamdanbarrett commented on #3803
In the Charts Builder setup area, beneath the dropdown 'Data Query' it is missing the URL to go create a query, it is there on the Tables builder. It isn't obvious as to what to do either until I saw that link.

<img width="831" alt="Screenshot 2021-08-10 at 20 28 48" src="https://user-images.githubusercontent.com/3041238/128923008-24b9a115-c168-47ff-b0c1-c7002313aa02.png">
<img width="830" alt="S

[2021-08-10 19:33] iamdanbarrett commented on #3803
**Note!**
We not found any visible columns in the fetched data. You can process build the chart, but `Fetched columns` data source won`t be available for the chart columns

Should be written as...

**Note!**
We have not found any visible columns in the fetched data. You can process & build the chart, but the 'Fetched columns` data source won`t be available for the chart columns.

<img width="581"

[2021-08-10 19:37] jamsheehan commented on #3803
**Table Builder**
Not getting an error message if the output is invalid:

https://prnt.sc/1mc2589

Works fine if you filter the output:

https://prnt.sc/1mc6291

PHP Fatal error:  Uncaught Error: Object of class stdClass could not be converted to string in /www/wp-content/plugins/jet-engine-dynamic-tables-module/includes/render/table-renderer.php:121"

[2021-08-10 20:08] GDUpson opened #3812 "JetEngine dynamic gallery slider hover icon not displaying"
The image hover icon on the JetEngine gallery slider is not showing.

[2021-08-10 23:56] nelakay commented on #2950
Hi,

I saw that this feature has been added in the newest version of JetAppointments.
There is a 23:59 hour buffer now, which is awesome!

Is there a way to expand this to say 2-3 days, or maybe in the future even differentiate between natural days and business days?

That would be so helpful!
Thank you for the awesome job!

[2021-08-11 00:13] Michaelgimii commented on #3793
Yes, exactly ! I also use the hello elementor theme. Unfortunately, the selected fields do not look good.
We need to be able to customize the selected fields.
Please add it in the next version. I and many users are not coders and we need this feature. **Customize select fields such as city, province or country**Thanks to the crocoblock team

[2021-08-11 01:59] Theo789595 opened #3813 "Range Slider Filter for Attributes"
Right now the only option in Jetsmartfilters is price range filter.

Being able to have a slider for any attribute would be helpful and fancy.

For example if i was selling products with width/height attribute i could just use the slider to search the custom width/height i'm interested in. (Even having a slider to select cloth sizing would be cool too.)

Functionality:
Let's say that in my store i

[2021-08-11 03:14] angelitodiaz1 opened #3814 "Query Builder Enabled Distinct or Group By in Module Builder"
Hello, I need to integrate in a query made with Query Builder the ability to make a Distinct or a Group By Id. I made a query and it brings me duplicate data. I am taking the taxonomies of some Posts to show this data in a list. I did the whole walk building the query and I can't do the Distinct or Group By. Is there any solution?

For example replicate this query:

SELECT DISTINCT(B.meta_key)
FRO

[2021-08-11 03:45] ofmarconi opened #3815 "Add a clear and fitting title for the feature request"
Hello
Is it possible for the Rating to be the category and not of the product?
I work with unique products, each product is a piece (crystals).

But they are within categories, I would like the evaluations to be shared with all the products of that category.
thank you!

My site: https://itacrystals.com/product-category/crystals/faceted-gems/

[2021-08-11 07:59] kaskad88 commented on #3812
Hi @GDUpson. Try enable this option https://prnt.sc/1mq9ghg

[2021-08-11 10:52] yasirshabbirservices opened #3816 "Show content based on location"
 @Crocoblock 
I want to show any page or template base on location please make a video on it.
 here is a example https://youtu.be/53GWQ3tq3dw

[2021-08-11 13:08] BEKWL commented on #1967
Upvote please

[2021-08-11 13:19] #2974 closed, assigned to UraraReika

[2021-08-11 13:19] #3063 closed, assigned to UraraReika

[2021-08-11 13:22] UraraReika commented on #273
This feature will be added as separate module with JetEngine 2.9.0. More details here - #3803

[2021-08-11 13:22] #273 closed

[2021-08-11 14:16] iamdanbarrett opened #3817 "JetEngine: Dynamic List Grid Items and Columns"
It would be great to have the ability to have a truly dynamic listing grid, so for example:

Create listing grid to show product categories, if those categories are empty then do not show them in the listing grid but more importantly adjust the grid accordingly. So if I have 5 categories I can set the my listing grid widget to 5 columns, but it one becomes empty make the columns flexible so instea

[2021-08-11 15:17] MjHead commented on #3814
Hi! This feature will be added with JetEngine 2.9.0, more details here - https://github.com/Crocoblock/suggestions/issues/3803. Also with 2.9.0 will be added one more tiny feature which will can help you. Is `Advanced mode` for SQL query, in this mode you'll be able paste SQL query manually. You can test this functionality in 2.9.0 beta version (available for download in your account). If you'll h

[2021-08-11 15:17] #3814 closed, assigned to nobody

[2021-08-11 15:20] uiliw commented on #1968
Is there any fix for this? same problem here with jetpopup 1.5.5

[2021-08-11 16:33] creps commented on #2308
+1 It would be amazing

[2021-08-11 17:48] angelitodiaz1 commented on #3814
Thx. I don´t understand how to make SQL Queryin Mode Advance. Not Working.

My example:

SELECT DISTINCT(E.name)
FROM posts as A
INNER JOIN postmeta as B
ON A.ID = B.post_id
INNER JOIN term_relationships as C
ON C.object_id = A.ID
INNER JOIN term_taxonomy as D
ON D.term_taxonomy_id = C.term_taxonomy_id
INNER JOIN terms as E
ON D.term_id = E.term_id
WHERE A.post_type = 'profesionales'
AND B.meta_ke

[2021-08-11 19:45] angelitodiaz1 opened #3818 "Bug Query Builder - Custom SQL Query"
I don´t understand how to make SQL Query in Mode Advance. Not Working.

My example:

SELECT DISTINCT(E.name)
FROM posts as A
INNER JOIN postmeta as B
ON A.ID = B.post_id
INNER JOIN term_relationships as C
ON C.object_id = A.ID
INNER JOIN term_taxonomy as D
ON D.term_taxonomy_id = C.term_taxonomy_id
INNER JOIN terms as E
ON D.term_id = E.term_id
WHERE A.post_type = 'profesionales'
AND B.meta_key =

[2021-08-11 21:02] Lonsdale201 commented on #3813
Many time ask for this. Hope in a future will be developed. :)

[2021-08-11 22:05] Lonsdale201 commented on #3803
I played around the Dynamic table. When i selected the data (post/terms/user), and choose the title, and i enabled the filter field output - selected the get post title / linkable. Full broken the page where i used the Dynamic table.  At this page (home page), cant access the elementor, white blank in the frontend. Consolse didnt say anything.

[2021-08-11 22:17] Lonsdale201 commented on #3803
Btw, as always great job, this is an impressive update. :)

**My question about the dynamic table:**

1, What you think about to select Terms? (similar, like the meta data, but with dropdown with the terms) (like the dynamic terms widget)
2, In a future will be possible to select the post thumbnail directly? ( I know, _thumbnail_id with filter fied output get image by id work like a charm)

 Style

[2021-08-12 03:09] monchitoabdala commented on #1782
+1 Has anyone found a solution?

[2021-08-12 08:18] NobleLarry commented on #3540
+1 for this

[2021-08-12 08:22] MjHead commented on #3814
@angelitodiaz1 Tables in WP database goes with unique prefix (by default its wp_, but may be any other string) - http://prntscr.com/1nb0qil You need to put tables into query with this unique prefix, for example
`
SELECT DISTINCT(E.name)
FROM wp_posts as A
...
`

[2021-08-12 09:40] Lonsdale201 opened #3819 "JetSmartfilter Bug - Active tag, Active Filters widget - duplicated results after mixed url opening directly"
If we are opening the page ( which url contain filtered results), the active tag, or active filters widget show twice the results.
+ Price range filter active filter results also disappear, if again opening the filtered url.

**Tech Spec:**
JetWoo Shop page template
Url Structure settings - Permalink type

**Explain :**

So if we /jsf/woocommerce-archive/tax/pa_meret:25/ opening the mixed url, the

[2021-08-12 09:56] sixmanstone commented on #3803
Once again you did a good job.  The Dynamic Tables Module demonstrates this, but I suggest adding JetPopup compatibility for the Dynamic Tables Module so that we can add a popup for Dynamic Field links to see the single post, a Dynamic Fields to edit, and a Dynamic Fields for  delete a publication row in the Dynamic Tables Module.  And why not the possibility of adding in the columns of the table

[2021-08-12 09:59] Lonsdale201 commented on #3803
Jetpopup compability good idea btw, use the [deepl ](https://www.deepl.com/translator) instead of google translater. :)

[2021-08-12 10:28] 79ho3ein commented on #3793
hello @UraraReika , Will compatibility with hello theme be added?

[2021-08-12 11:13] UraraReika commented on #3815
Thanks for the feedback.
 Please follow guidelines for opening a new [feature request](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/feature_request.md), so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests. Thank you for your understanding.

[2021-08-12 11:38] MjHead commented on #3818
Replied here - https://github.com/Crocoblock/suggestions/issues/3814

[2021-08-12 11:38] #3818 closed, assigned to nobody

[2021-08-12 12:05] MjHead commented on #3803
@jamsheehan Hi! Can't reproduce the issue, could you please share a screen of your query config

[2021-08-12 12:18] MjHead commented on #3803
@Lonsdale201 Hi! Can't reproduce the issue, could you please share a screen of your query and table columns config?

[2021-08-12 12:19] Lonsdale201 commented on #3803
Deleted, when shoot down my site :D But i will try to reproduce, and i will make a video record for it. :)

[2021-08-12 13:12] lipob opened #3820 "Custom JS"
Hi.

I need to add some custom js code to limit the number of images shown in a gallery placed into a Listing. That listing is shown in a lightbox of the Map Listings.

I tried by adding the code into a custom js file, and also using an HTML widget inside the listing, but it's no making effect.

How can I achieve that? Is there a feature to do that?

Thanks and regards.

Leopoldo

**Before adding

[2021-08-12 13:16] andeeshmehdi opened #3821 "Using ACF or Custom Metafield from JetEngine for JetWooBuilder"
It is currently not possible to use a dynamic field from ACF or JetEngine in a JetWooBuilder template. I want to display some custom fields (product info) from my products on Product Archive / Shop / Single Product pages but it is currently not possible to do so. Elementor Pro supports dynamic content within it's WooCommerce pages but JetWoo doesn't.

[2021-08-12 14:06] angelitodiaz1 commented on #3814
Hi MjHead.

Uhmm. But not working.  I set my script query normally, and not working. See:

My Script:

SELECT DISTINCT(DDG4rge_terms.name)
FROM DDG4rge_posts
INNER JOIN DDG4rge_postmeta
ON DDG4rge_posts.ID = DDG4rge_postmeta.post_id
INNER JOIN DDG4rge_term_relationships
ON DDG4rge_term_relationships.object_id = DDG4rge_posts.ID
INNER JOIN DDG4rge_term_taxonomy
ON DDG4rge_term_taxonomy.term_taxonom

[2021-08-12 14:56] MjHead commented on #3814
I tested your query on my installation, just changed these values according my data:
![image](https://user-images.githubusercontent.com/4987981/129218733-9a8ceb5f-4a41-415e-a911-6e00b71ddcdc.png)
And all works fine for me:
![image](https://user-images.githubusercontent.com/4987981/129219113-0a3b2916-0bda-415b-a777-6889db40b921.png)
So please try to check your conditions, maybe use something simple

[2021-08-12 15:26] P258tiwari commented on #3803
(https://user-images.githubusercontent.com/64008801/129224003-5d1c6e7e-8585-410c-bd88-6f0b705f8c4f.png)
Does not active module showing same error

[2021-08-12 18:04] wordpressman commented on #760
This should really be fixed, nobody wants to hack the plugin code at each update !

[2021-08-12 21:47] yuleidyvdres commented on #878
+1 This feature will be really helpful

[2021-08-12 23:20] zalahmar opened #3822 "Apostrophes in Glossaries section cause a \ to be generated in Field Names"
**Describe the bug**
If you create a new field in a glossary that contains an apostrophe ' the field will get renamed after you save to include a \ before the '. Furthermore, if you make any changes to any field in a glossary that has a field entry that contains a ', additional \\\\\ will be added prior to the ' even though you are not editing the field with the apostrophe.

**To Reproduce**
Steps

[2021-08-13 01:20] angelitodiaz1 commented on #3814
Thx.

I check again but is not working.

I detect that the issue is when  I use clause with data type LONGTEXT  in the column´s database.  Without this line, all work well:

 AND DDG4rge_postmeta.meta_value LIKE '%a:1:{i:0;s:2:"Si";}%'.

Here my code:

SELECT DISTINCT(
    DDG4rge_terms.name
)
FROM DDG4rge_posts
INNER JOIN DDG4rge_postmeta ON DDG4rge_posts.ID = DDG4rge_postmeta.post_id
INNER JOIN

[2021-08-13 06:38] neylwalecki commented on #1103
WOW, impressed that this is not available yet.

[2021-08-13 06:55] UraraReika commented on #3821
Hello @andeeshmehdi !

JetWooBuilder templates support dynamic content functionality. If you have some difficulties please contact our support  team.

[2021-08-13 06:55] #3821 closed, assigned to nobody

[2021-08-13 07:23] UraraReika commented on #3663
I merged this issue with #2680, which is on the same subject so we could deal with it more efficiently.

[2021-08-13 07:23] #3663 closed, assigned to nobody

[2021-08-13 08:00] MjHead commented on #3814
@angelitodiaz1 Thanks for the detailed info, looks like I found the problem. Could you please download new beta version from your Crocoblock account, reinstall and try with it?

[2021-08-13 11:39] MjHead commented on #3582
Will be added with JetEngine 2.9.0, more detail here - https://github.com/Crocoblock/suggestions/issues/3803

[2021-08-13 11:39] #3582 closed, assigned to MjHead

[2021-08-13 11:40] #3483 closed, assigned to MjHead

[2021-08-13 11:42] MjHead commented on #2967
Will be added with JetEngine 2.9.0. More details here - https://github.com/Crocoblock/suggestions/issues/3803

[2021-08-13 11:42] #2967 closed, assigned to MjHead

[2021-08-13 12:05] P258tiwari commented on #2114
+1 any update

[2021-08-13 12:07] P258tiwari commented on #2110
+1

[2021-08-13 12:09] P258tiwari commented on #3441
+1

[2021-08-13 12:22] P258tiwari commented on #3803
![Web capture_13-8-2021_175051_example ampwake com](https://user-images.githubusercontent.com/64008801/129356274-da1cbb12-c6f6-4e7a-8009-27c02705e015.jpeg)

Please check I am not able to access the beta version and this screen shown when I activate the module

[2021-08-13 12:50] MjHead commented on #3803
@P258tiwari Did you tried deactivate and then activate your Crocoblock license again?

[2021-08-13 14:10] MjHead commented on #2327
As for now this could be done by changing Media field args:
![image](https://user-images.githubusercontent.com/4987981/129369640-3a886817-3d90-4f38-b971-fad7449fa39a.png)
Please note, if you changing Media field type after CCT created, you also need to change field name to ensure DB column type was changed correctly.

Also from JetEngien 2.8.9 will be available 2nd way, by applying filterng functi

[2021-08-13 14:10] #2327 closed, assigned to MjHead

[2021-08-13 15:21] MjHead commented on #2970
This feature will be added as separate module with JetEngine 2.9.0. More details here - https://github.com/Crocoblock/suggestions/issues/3803

[2021-08-13 15:21] #2970 closed, assigned to nobody

[2021-08-13 15:22] MjHead commented on #1168
This feature will be added as separate module with JetEngine 2.9.0. More details here - https://github.com/Crocoblock/suggestions/issues/3803

[2021-08-13 15:22] #1168 closed

[2021-08-13 16:43] angelitodiaz1 commented on #3814
Hi.

I download Beta3 and reinstall.  But, I check again and not working.

My tests:

Test A:
+++++
SELECT DISTINCT(
    DDG4rge_terms.name
)
FROM DDG4rge_posts
INNER JOIN DDG4rge_postmeta ON DDG4rge_posts.ID = DDG4rge_postmeta.post_id
INNER JOIN DDG4rge_term_relationships ON DDG4rge_term_relationships.object_id = DDG4rge_posts.ID
INNER JOIN DDG4rge_term_taxonomy ON DDG4rge_term_taxonomy.term_taxo

[2021-08-13 18:24] P258tiwari commented on #3803
Yes I tried deactivate and active and subsite license but still same problem

[2021-08-13 20:30] DIntriglia opened #3823 "Make listing item clickable - Jet Engine"
**Describe the bug**
There is no way to select a ACF field to use when trying to Make listing item clickable via the Listing settings panel. You can select ACF, but can not select a specific ACF field.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a listing
2. Click on setting in bottom left
3. Turn on Make listing item clickable
4. Select ACF
5. Observer there is no way to select an

[2021-08-14 07:38] GDUpson commented on #3812
@kaskad88 Unfortunately this didn't work :(

[2021-08-14 12:30] stasonua0 opened #3824 "Split Option Page Jet Engine"
Hello, I ask you to consider the possibility of separating data from the Options Page here https://prnt.sc/1ojwduo according to how it is displayed by tabs on the options page https://prnt.sc/1ojxeo0
It is advisable to write the name of the tab, and shift its values ​​a little to the left.

/*Оригинал*/
Здравствуйте, прошу рассмотреть возможность разделять данные из Options Page тут https://prnt.s

[2021-08-14 17:24] saltkinmedia opened #3825 "[JETENGINE] add the possibility to insert templates when no content exists/found"
add the possibility to insert templates when no content exists/found.

For example:
On the listings grid, when there's no content found or isn't exist. It could have the possibility of adding a template instead of only show a message.
![Captura de ecrã 2021-08-14 182339](https://user-images.githubusercontent.com/67977248/129455409-8c1d8999-6f87-4dd0-96fb-22a89b10bd0c.png)

[2021-08-14 18:47] manuelgraph opened #3826 "Adding additional page builder compatibility such as Brizy and Beaver Builder"
Elementor is well known by a lot of people. However, not everybody design and develop websites with Elementor in mind. Can Brizy and Beaver be added to the compatibility of Jet Plugins? Thank you

[2021-08-14 19:25] Lonsdale201 opened #3827 "JetElements Widgets features suggestion"
In my opinion the following idea, may useful in the future:

**Slider widget:**

Option to apply a "decoration" element, with the Title. (before, or after). Simple line(or other border styles)
The following image show how this looks like . (Created with jetelements slider + custom css)
https://prnt.sc/1oo6b3n

Button improvments: Icon, svg, and gradient color option.
+ enable the transition
Built

[2021-08-14 21:31] kervis commented on #2632
+1

[2021-08-15 01:53] opwolken commented on #1967
+1

[2021-08-15 02:01] opwolken commented on #1894
Hi, yes +1! It would be great to have the map function as a filter for the loop. I think it is an important feature. Booking.com has the same functionality and it is a becoming an common default map functionality.

I believe that you can properly code this because you have the map boundaries (min/Max lat. and long.) and you have the marker coordinates. If those coordinates are between the boundari

[2021-08-15 02:20] sixmanstone commented on #3803
Hi, consider adding a footer to the Dynamic Tables Module to insert columns to sum numeric data.

[2021-08-15 08:16] andre-xavier-berger commented on #1586
I would appreciate as well this feature to be included in a future release. In my case this is what is blocking me from using the JetBokking plugin.
My site is offering training sessions which are at specific dates, so I would like for the administrator to be able to hide the dates when the sessions are not planned.
In my opinion this is basic feature to have even for hotels, how would you do when

[2021-08-15 10:13] stasonua0 commented on #3810
+1

[2021-08-15 10:34] andre-xavier-berger commented on #3331
+1

[2021-08-15 10:36] andre-xavier-berger commented on #2664
+1

[2021-08-15 10:38] andre-xavier-berger commented on #2061
+1

[2021-08-15 13:03] adelapuentep commented on #3810
+1
Not only by entering an address but by the widget asking for permission to allow to access to location so it grabs it automatically.

[2021-08-15 18:05] mianrashid commented on #878
damn this feature should be there and this just stopped me from buying it.. I hope this feature was there with chosen js... saved me 750$

[2021-08-15 20:25] 79ho3ein opened #3828 "Add box shadow feature to next arrrow and prev arrow in jet woobuilder plugin"
hello
If possible, please add the box shadow (https://prnt.sc/1pb4i8a) feature to the next arrrow and prev arrow.
![Screenshot (122)](https://user-images.githubusercontent.com/77163248/129491643-5661a822-d1d2-4c97-840c-40e3c57260c2.png)
Currently, it is only possible to apply border and border radious. It would be great if you could add a box shadow for the next arrrow and prev arrow) as well.

th

[2021-08-15 23:13] Josh-PCD commented on #2413
+1

Migrating from Elementor to Oxygen due to performance improvements. Would love to keep using JetEngine et al instead of ACF, etc.

[2021-08-16 00:35] nreljed opened #3829 "🔥[Jetengine 2.9.x Gen] Probably the best update of the year?"
**Deleted old method to explain**

[code]

I have concerns about the efficiency and performance of jetengine listing grids.
let me explain and feel the difference with me..

once we have seen the [Grids demo here](https://demos.wpgridbuilder.com/), going back is very difficult to accept less.
speed, performance and style loaders, blurs etc.
everything is there

The idea today is to disse gridbuild

[2021-08-16 01:39] 79ho3ein commented on #3146
Is it clear when this feature will be added? may you answer?

[2021-08-16 06:55] derrrty opened #3830 "Color Picker field for JetEngine Forms"
Hi there! Wanted to submit this as it would be awesome to have a color picker field for Jet Engine Forms since we can use this field for meta fields and meta boxes so it would only make sense to have this for Jet Engine Forms.

[2021-08-16 06:56] derrrty commented on #3600
Would love this to be added too!

[2021-08-16 06:57] derrrty commented on #1492
+1 would love this to be added too!

[2021-08-16 07:28] kaskad88 commented on #3812
@GDUpson Please contact our support https://crocoblock.com/help-center/ for guidance in resolving this issue.
Thanks.

[2021-08-16 07:28] #3812 closed, assigned to nobody

[2021-08-16 08:03] MjHead commented on #3814
Sorry for the delay, I'll check it one more time

[2021-08-16 08:16] julianderyk commented on #3825
Use this free extension fir your purpose
https://e-addons.com/elementor/dynamic-tag-template/

[2021-08-16 09:34] MjHead commented on #3814
It was a small bug. Sorry for the inconvenience, could you please try to download and re-install beta 3 from your account

[2021-08-16 12:35] ColinHiom commented on #2540
I was surprised to see that JetWooBuilder doesn't have this feature (or something very similar) already. On the Flatsome (woo) them it's integrated into the category settings. New kid on the block Bricks Builder already has this ability too - which you apply through a robust set of display conditions (more similar to how Elementor Pro handles it and how you have conditions that we can apply to pag

[2021-08-16 14:01] kaskad88 commented on #3790
Added for the next version( 2.8.9 ). Thanks for your report!

[2021-08-16 14:01] #3790 closed, assigned to kaskad88

[2021-08-16 14:45] anybany commented on #2092
+1

[2021-08-16 15:26] angelitodiaz1 commented on #3814
Thx. I did already it, and working but only in side Query builder form. When I try to catch values in the front fail or I don´t know how to show it.

Here my screen.

![Screenshot_1](https://user-images.githubusercontent.com/6534435/129588491-2c45b3ea-dabc-43a8-ae21-dbba3e05bb76.jpg)

![Screenshot_4](https://user-images.githubusercontent.com/6534435/129588524-a87b9a93-d795-4bf0-af5e-82bffc184539.j

[2021-08-16 15:41] angelitodiaz1 commented on #3814
Sorry, I already it resolve.  Only change widget by Dynamic Field and I did use it option Post/Term with output Term Name.

Thanks.

+++++

By the way I detect that Module Query Builder in the backend form not support JOIN by other tables of database, working only with Current Table.  That feature is really important.  Please can you incorporated?... Jajaja. thansk so much.

![Screenshot_6](https:

[2021-08-16 17:08] jamsheehan opened #3831 "JetEngine: Listing Grid Columns do not support new responsive options in Elementor 3.4+"
**Describe the bug**
Elementor 3.4+ has added several new Responsive options

- Widescreen
- Laptop
- Tablet Extra
- Mobile Extra

JetEngine columns default to the standard (old) versions General (desktop), Tablet and Mobile.

**To Reproduce**
Steps to reproduce the behavior:

This is most easily reproducible with the Listing Grids

**Prerequisites**: You should have a listing grid prepped with mu

[2021-08-16 21:05] jototheweb opened #3832 "Mask for JetEngine Phone Number Output"
I have a phone number meta field within my CPT. The number gets inputed like this: 9999999999. I'd like to have it shown on the front end as (999) 999-9999. I was told by support it is not possible customize the output so it appears in that format.

It’s possible to change the mask for forms but not for JetEngine custom post types.

Please consider adding this ability. Thank you.

[2021-08-16 23:12] Lonsdale201 commented on #3803
@MjHead Today i tried to reproduce the issue, but did not succeed. :)

[2021-08-16 23:55] rubyviocom opened #3833 "Tags in Jet Forms"
Hello,
it would be nice if customers and user could have posibility to add tags via form, when they creating theyre own contant on our sites. It would be very welcome future for many similar projects i believe.

Currently we need to add hashtags manualy when we arpoving content, and you can imagine that that is veryy time consuming.

:-) Thanks, Joe @rubyvio

[2021-08-17 00:12] rubyviocom opened #3834 "Tags in custom post type"
Hello again,
in custom post type there is no tags metabox. So nobody can add tags to content created via jet engine, which have quite serious impact on SEO optimalization.

[2021-08-17 06:39] kaskad88 commented on #3831
The compatibility added to the next version ( 2.8.9 )

[2021-08-17 06:39] #3831 closed, assigned to nobody

[2021-08-17 06:40] keet789 opened #3835 "JetEngine: Add text color option in wysiwyg text field"
Hi, could you please add an option in the front-end Wysiwyg test editor letting users choose text color?
It's an essential feature demanded by my users. Thank you.

[2021-08-17 07:46] Hammer-ger opened #3836 "Build a real booking functionality"
Please change JetBooking to a real booking System.

As every booking System you need to have 3 types of days (not 2):

Free days
Booked days
Arrive/leave days (1/2 day)

Your developers are realy good so i think this is not to difficult for you.

And you will get a very powerful tool. In a now growing again marked.

Best regards,

Maximilian

[2021-08-17 09:23] neoset opened #3837 "🔥[Jet appointment] fields for check in and check out dates"
Like the plugins of the competition such as Woocommmerce Bookings that integrate both the appointments part and the reservations part, I do not understand why Jet shows 2 different plugins (Jet Booking and Jet Appointment), for me it is dividing a plugin into 2 parts To be honest, you will have to eventually merge the 2 plugins into one or put the check in and check out date fields in the Jet Engi

[2021-08-17 09:48] #3822 closed, assigned to MjHead

[2021-08-17 09:49] MjHead commented on #3822
Fixed with 2.8.9 update

[2021-08-17 09:49] #3336 closed, assigned to nobody

[2021-08-17 10:58] Noob86 commented on #2401
+1 (or as many as possible) for adding Mollie to Jet Formbuilder! 🙏🏼🙏🏼

[2021-08-17 11:04] Noob86 commented on #2220
+1 (or as many as possible) for adding recurring payments in Jet Formbuilder. I've been looking for a plugin to do this for a really long time now, but even other great form builders struggle with these payment subscriptions.

Also, we are just a group of volunteers working for a good cause; we don't have the financial room to invest big numbers for just small donations and a few (around 80 at the

[2021-08-17 11:17] bennybersier opened #3838 "JetEngine Form: Attached Media to email"
It would be very handy for CV Forms and in general custom forms for sending files to admins etc.

[2021-08-17 11:38] ofmarconi commented on #470
It would be too much!
I need much integration!

[2021-08-17 11:51] TRADEREXDE opened #3839 "[JetBlog] Incoporate RSS feeds in widgets"
Hello

it would be a total game changer if you would incorporate the ability to display RSS feeds in the jetblog widgets.

E.G. the news ticker could fetch dynamic rss data from CNN, CNBC, or whatever news source.

Additionally, it would make sense to create an RSS widget which lets us display the available content of the rss feed in the way we want (amount of words, headline yes/no, image yes/no)

[2021-08-17 14:12] nreljed commented on #3825
no need for a plugin
I tested the possibility of pasting the elementor template shortcode and
that works
now all that remains is to test and document this manipulation by crocoblock

![Capture d’écran 2021-08-17 150709](https://user-images.githubusercontent.com/82481592/129741829-20c18ae1-7671-4359-b803-404b49180db4.png)

[2021-08-17 14:21] iamdanbarrett opened #3840 "JetEngine: Custom Post Type Meta Field (Select)"
There needs to be the ability to add items in the select options that are non-selectable to break up large lists such as countries.

Example:

**Europe (non selectable)**
England
France
Italy
**Africa (non selectable)**
Kenya
Morrocco
Nigeria

And so on....

[2021-08-17 14:23] iamdanbarrett opened #3841 "JetEngine: CCT Dynamic Repeater Widget"
Can you please allow for the dynamic repeater field widget to work with the Custom Content Type metadata, please? It seems redundant to have the option to create this type of data within the CCT if it cant be output on the front end. I had to create an entire directory into a CPT discover that this wasn't possible with a CCT.

[2021-08-17 14:26] iamdanbarrett commented on #3829
How did you get an option for 'Profile Animation' on the jet engine listing grid?

[2021-08-17 14:40] saltkinmedia commented on #3825
thanks @nreljed

Elementor shortcodes work fine!

[2021-08-17 15:29] nreljed commented on #3840
It is a problem of jetengine scalability which will grow endlessly if nobody does anything, they will eternally make endless modifications.
unless they adopt... the only easy solution is fast and scalable
the Select2 open source library

[Select2 ](https://github.com/select2/select2)

look at the answer to your questions are there [Preview dropdown](https://select2.org/dropdown)

ACF does not worr

[2021-08-17 19:01] kochhase commented on #3840
+1

[2021-08-17 21:23] P258tiwari opened #3842 "Listing in Slider Not Work properly in new update 2.8.9"
**Describe the bug**
Listing Slider have more gap in new update please check I share 2 Screen shot before and after updates

![Web capture_18-8-2021_25044_ampwakelibrary com](https://user-images.githubusercontent.com/64008801/129802479-5017db40-a059-464e-8a15-ae88247c63e4.jpeg)
Before Update (2.8.8)

![Web capture_18-8-2021_25030_ampwakelibrary com](https://user-images.githubusercontent.com/640088

[2021-08-17 23:10] davejwnz commented on #2586
It should be using the default WordPress editor rather than just single icons added - then by adding the 'Advanced Editor Tools' plugin we can all define what icons we want shown on our sites.

Most sites I develop require the use of macrons - and the character icon is currently missing, which is an ongoing complaint by site users. Also when pasting it removes standard formatting, ie italics.

[2021-08-18 00:52] adelapuentep commented on #3264
+1

[2021-08-18 07:07] Artisans1982 opened #3843 "JetSmartFilters: Or operator between different filter groups"
At the time of writing (August 2021), when I select two filters in two different filter groups, the query result is an AND operator between them. The OR operator between different filter groups is a fundamental feature to control our website queries better.

[2021-08-18 08:36] UraraReika commented on #2540
@ColinHiom check this https://crocoblock.com/knowledge-base/articles/jetwoobuilder-how-to-set-up-a-custom-product-taxonomy-template/

[2021-08-18 08:49] ColinHiom commented on #2540
Thanks so much Oleksandr. I must admit I very surprised that you didn't
seem to have this requirement covered - but you may need to check that your
support staff understand this to as someone called Viktoria (or something
very similar) told me categorically that this feature wasn't supported.
I'll test this asap later today - but thanks again.

On Wed, 18 Aug 2021 at 09:37, Oleksandr Rudyi ***@***

[2021-08-18 11:51] kaskad88 commented on #3842
Thanks for your feedback.

We tried to reproduce your issue based on the information you provided, but without success.
Please contact our support https://crocoblock.com/help-center/ for guidance in resolving this issue (and mention that you were directed by me and reference this issue.)

Thanks.

[2021-08-18 12:15] UpDigital-Studio commented on #2252
+1 for this.

[2021-08-18 13:26] P258tiwari commented on #3842
ok

[2021-08-18 13:28] #3842 closed, assigned to nobody

[2021-08-18 13:31] P258tiwari commented on #3840
+1

[2021-08-18 14:10] UraraReika commented on #3016
Use this https://www.youtube.com/watch?v=ZpBTAYJ3vLA&ab_channel=Crocoblock

[2021-08-18 14:10] #3016 closed, assigned to UraraReika

[2021-08-18 14:56] ColinHiom commented on #2540
Hey Oleksanddri/Urara: I thought I'd better check this with you again (in case Viktoria was correct) but following the above link/tutorial I can't get a test Single product template to show in template selector (see image here). The tutorial doesn't go into quiet enough detail about this (template type required etc) but if you wouldn't mind confirming that this should be working I'll delve further

[2021-08-18 21:23] donnakat1 commented on #426
+1

[2021-08-18 21:27] petranca opened #3844 "JetEngine: Query Builder WC Product Sale Variation"
Until now it is still not possible to display product variations that are on sale in the listing grid. Only single products on sale are displayed.

It would be good to have the option in the query builder under "WC Product Query" to display all sales, including those of the variations.

Or at least that you could select a listing grid in the "WooCommerce Sale Products" widget.

[2021-08-19 05:33] hNilsen90s opened #3845 "JetReview email notification on pending reviews"
**Please, describe the feature request, making it clear to understand.**

There should be an option to get notified on email when there are new comments or comments that need approvals.

[2021-08-19 06:47] UraraReika commented on #3844
Hello @petranca !

Use this code https://gist.github.com/UraraReika/0944fd7706619f2876385422ec4d23f4 to add custom macros https://i.gyazo.com/68febb51ac3d27dd97bc9a0b1844bb82.png. And then use it here https://i.gyazo.com/932b38f960edcf166f59f4180226ecea.png.

[2021-08-19 06:47] #3844 closed, assigned to nobody

[2021-08-19 08:43] gem-design commented on #2955
Yes please, it's a very well written plugin and Elementor isn't cutting it anymore (they pretend to improve performance by cutting a few bites of JS/DOM while TTFB keeps going up and up). Also day after day Gutenberg is starting to show that it is a deadend project. Oxygen is failing too, seems like they gave up on it.

Bricks + JetEngine + (if possible) JetPopup = I'll move right away and willing

[2021-08-19 08:47] petranca commented on #3844
Hi @UraraReika and thank you, but is not really working. It does fetch the products with variation on sale, but all other widgets in the listing grid do not recognize the ID. Image, Wishilist, Title, Description...
https://prnt.sc/1qbn357

[2021-08-19 11:07] AlaplayaW commented on #1151
+1 for OpenStreetMap and MapBox.
Is there some news about it? Is it a planned feature?

[2021-08-19 12:16] aksamitnaya opened #3846 "JetBooking: show booking status on the frontend"
For example, in the Cars Listing, need to show booking status (free, on hold, will be free at...) http://prntscr.com/1qbtnwv

К примеру в листинге авто, в карточке надпись (занято, свободно или когда освободится)
Пример такой реализации на сайте - https://autoprokat24.ru/

[2021-08-19 12:20] UraraReika commented on #2540
@ColinHiom if i understand you correct you need for single product from some category separate template look?

[2021-08-19 12:29] hoffmannrobert opened #3847 "SmartFilters / DateRange / Have to filter multiple-daily events by date"
Dear CB Team,

My site shows a list with events (concerts / theatre shows / ... ) of our city.
My visitor should be able to filter events by date (SmartFilters / Date Range Widget).

I do it with JetEngine (custom post type "events") and SmartFilters.

The problem is that some events go about multiple days.
For each event I have a startdate and an enddate.

For example an event starts on August, 1

[2021-08-19 14:52] JensSwaenepoel opened #3848 "JetEngine: The possibility to combine two or more fields within one field."
instead of creating two dynamic fields with each value and messing around with the columns width or grid to have it as close of a fit possible. Would be helpfull to have the ability to ouput two seperate fields together. Because now when your first field is longer or shorter then normal you will end up with a lot of untidy whitespace or a layout that is broken.

**Example**
metafield 1 Colors: "re

[2021-08-19 15:14] ColinHiom commented on #2540
Yes, exactly Urara - thanks. So presumably a new JetWooBuilder single product template is what should be showing up in that Custom Template dropdown (previous grab)? IE It isn't but that what I was expecting...

[2021-08-19 16:27] rousarp commented on #3803
I have registered two problems with the forms:

a) form in the popup window is not initialized correctly, preset form values do not work for me - current_id is not transferred (CPT single part template,  button, popup with form, pre-set form field values, source: post, get post id from: current post). If I use JE 2.8.9, the value is transferred.

b) the calculation field does not work dynamically

[2021-08-19 17:17] jonny-davies opened #3849 "Add or Logic to jetsmart filters"
To have the ability to use several jetsmart filters on the same listing with OR logic, just spoke to Victoria Bormotova on FB and she said it is currently it is set to AND logic

[2021-08-19 18:25] iamdanbarrett commented on #3849
+1 would save lots of work with Dynamic Visibility on repeating multiple widgets. Possible dupe of [#3843](https://github.com/Crocoblock/suggestions/issues/3843) ?

[2021-08-19 18:56] TimeaRich opened #3850 "Email subscription - integration with drip.com"
Good afternoon,

I see that you have an integration with Mailchimp, but would it be possible to integrate with drip.com as well? Drip provides better marketing analytics than MailChimp.

Have a great day!

[2021-08-19 19:50] jabaco opened #3851 "Post slug with jet engine forms"
The post slug is automatically created with post title but it would be much better if the user has the power to choose his own post slug so he can better customize his post... This is very useful for ad, classified and similar sites...

Please add this in Jet Engine forms!

Thanks
Javier

[2021-08-19 21:02] smithbenites commented on #426
+1

[2021-08-19 21:23] zalahmar opened #3852 "Searching for Custom Content Types within the CCT listing is broken. No results yeilded."
**Describe the bug**
If you add Custom Content-Type fields to the Admin Column and try to search terms for anything displayed in the Admin Columns, the search results always come back as nothing found.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Custom Content Type, create a couple of fields and select "Show in the admin columns" checkmark
2. Populate a few entries for the Custo

[2021-08-19 21:30] Theo789595 opened #3853 "Jetsmartfilters with shortcode in entire site"
The ability to use a shortcode and show jetsmartfilters anywhere is essential for some developers.

I don't use elementor where it is not needed...therefore using elementor just to show jetsmartfilters adds up a lot of weight and i lose a lot in terms of performance. Unfortunately, jetsmartfilters works only with gutenberg and elementor...so if somebody wanted to add filters in raw html he wouldn'

[2021-08-19 21:37] Lonsdale201 opened #3854 "JetBlocks - Shopping cart, hide counter if empty"
Hi.

In a future could you add option, to hide the counter, if empty?

I writed a little Jquery to do this manually:

[code]

[2021-08-20 00:00] upsited opened #3855 "Geo proximity/distance filter and search for WooCommerce or custom post types"
Would it be possible to add a proximity/distance to the JetSearch plugin? Example: You could search by entering your zip code and choose from dropdown the range in miles/kilometers. Just like the categories dropdown is an option this could be another option in the search field.

This would also be great for the JetSmartFilters to allow to filter woocommerce/products by distance from your location.

[2021-08-20 01:28] adelapuentep opened #3856 "JetTabs: Allow to set a custom ID to tabs."
Problem:
When you want to link to a specific tab, you need to inspect the code, find the dynamic tab ID (#jet-tabs-control-1234) and add it to the URL. This gives you a final URL such as (https://www.example.com/#jet-tabs-control-1234). This isn't user nor SEO friendly.

Solution:
Allow to set a custom ID to each tab so that the url is SEO and user friendly.

[2021-08-20 05:47] cbwstudios commented on #1470
This is really needed.

[2021-08-20 08:27] bormotovva opened #3857 "JetAppointments: 1 service + 1 provider & post updates once the payment is completed"
I want to bring to your notice two issues with jet appointments that should be addressed and fixed by your team..
1. It should function well with one service and one provider too, as many of the professionals will just offer the consultation service and he or she is the only service provider. At present in this condition the customer is not able to proceed with the booking.
2. The appointment Post

[2021-08-20 10:26] MPHood commented on #1528
How is this not fixed yet?
Many people are using IOS devices ( iphones)

Please guys fix this issue.

Ive got a client that expects the mega menu to work on IOS as well as it does on android.

[2021-08-20 10:28] MPHood commented on #1528
Its not an astra specific problem

[2021-08-20 10:32] adalleus opened #3858 "Event Manager"
Event Name & Event Description
➡ Manage Event Ticket Type, Quantity, Prices, Category & Organizer.
➡ Event Extra Service with Price & Quantity Management.
➡ Show Event Venue Using Google Map.
➡ Option of Adding Event Start Date, End Date and Multi Date & Time.
➡ One Click Event Rest Option.
➡ View Registered Attendee from WooCommerce Order Details.
➡ Multiple Event Templates (You can select a diff

[2021-08-20 10:54] erturkuner opened #3859 "After update, profile builder feature is broken."
**Describe the bug**
After 2.8.9 and 2.8.10 update, profile builder feature is broken. When I want to update or add new custom post item, account page is deleting. Normal url is /mysite.com/account but after the update or add process it's returning to /mysite.com/properties/account and it's showing me the last property that I edit or add.

**Screenshots**
--> Before the update or add process
Accou

[2021-08-20 11:40] UraraReika commented on #3856
Hello @adelapuentep !

This functionality already exist https://i.gyazo.com/bd6dff0f7eeb6eee9bcb520dabe0d940.png. Control CSS ID.

[2021-08-20 11:40] #3856 closed, assigned to nobody

[2021-08-20 12:02] pegujurado commented on #3803
@MjHead, reading data from current meta user still doesn't work in query builder. This is critical functionality.
Is there any news? my project is waiting for this functionality and still not seen. th

[2021-08-20 13:51] SURYASWAROOP opened #3860 "Jet Appointments - Jet Engine - Insert Appointment"
Hi
Jet Appointments --> Jet Engine - Forms --> Static Page Booking Form --> Post Submit Action / Notifications Settings. --> Insert Appointment
In that I'm unable to remove or keep blank the User Email filed, if I kept blank or in the Field Setting if I remove the Email Filed the form submission was not working. actually for jet appointment many of the users or the shops dosent require email inste

[2021-08-20 14:12] MPHood commented on #1528
Its not related to Astra. I have the same issue and im using another theme

[2021-08-20 14:17] nreljed commented on #3853
this is not the only problem with jetsmartfilters
Currently this is not possible, as crocoblocks are expected to run a serious code rewrite to align with the competition.
to break away from dependence on elementor and his [curse](https://github.com/Crocoblock/suggestions/issues/3465)

for the shortcodes you have no choice but to wait with the two actors who share the scene of the Filters plugin
at

[2021-08-20 18:34] greyzusht commented on #1151
+1 Please add OpenStreetMap for map listing. thanks

[2021-08-20 19:35] johannbt commented on #3859
also got this bug, it is very annoying

[2021-08-21 00:32] Rubenzella opened #3861 "Jet Engine - Listing grid Random Option Archive Template"
**Describe the bug**
The Post Query > Order & Offset > Order By > Random doesn't work when "use as archive template" is active.

**Expected behavior**
If I refresh the archive page, the posts are not displayed in a random order, they keep remain ordered by date. If I disable the 'use as archive template' option, update the template, and refresh the page, posts are shown randomly as expected.

[2021-08-21 00:45] nreljed commented on #3803
I will show you a very confusing detail, which has been around for a long time

I created an account page with Profile builder and 4 other pages
dashboard, new post, profile, site settings..

Then I open them in a new tab one by one by

![menu](https://user-images.githubusercontent.com/82481592/130305054-fab8007a-6d40-485d-b243-3744997dbcf0.png)

![home](https://user-images.githubusercontent.com/8

[2021-08-21 07:26] eunicedhivya commented on #2292
+1

[2021-08-21 13:25] im-bot689 commented on #610
+1

[2021-08-21 14:51] xC4M opened #3862 "Add CrossSell, Upsell and Related Queries [Products Widget] on Cart Page JetWooBuilder"
Hi, while editing my Single Product Page I saw that I had Cross-sell, Upsell and Related queries' available to use inthere. But I'd like to use, for example, the Cross-sell query in the Cart Page using Product Widget, but it's not available. So, please add them to be use it in the Cart Page or even globally using the Product Widget in JetWooBuilder.

Cross-sell, Upsell and Related Queries appears

[2021-08-21 20:37] Arndt- opened #3863 "Fatal error: Uncaught Error: Call to a member function get_elements_raw_data()"
**Describe the bug**
Everytime a page with JetTabs is called following error is displayed:

Fatal error: Uncaught Error: Call to a member function get_elements_raw_data() on bool in /home/customer/www/my-test-site.com/public_html/wp-content/plugins/jet-tabs/includes/rest-api/endpoints/elementor-template.php:166

Stack Trace
1.
Jet_Tabs\Endpoints\Elementor_Template->get_elementor_template_scripts('

[2021-08-21 22:48] P258tiwari opened #3864 "Slider Preview not working in new update and listing show in center"
**Describe the bug**
When I update new version slider listing notworking properly for me
1. Equal Height function not work with slider and listing break
2. Slider on preview only show single image
3. Item in center in front view

I solve center item with adding custom CSS please check

MY CSS FOR CENTER LISTING IS

.jet-listing-grid .slick-track{
    margin: 0px;
}

I select 3 Item in a slider but

[2021-08-21 22:57] P258tiwari commented on #3861
@Rubenzella You can turn of your archive and set your multiple condition inside post query to achieve same expectation because if you select use as archive template no query work only it take archive query like category, terms, search and so on depending upon your archive.

My suggestion

1. Use custom post type for for different post listing or create proper one
2. use same post query of random o

[2021-08-22 00:13] nreljed opened #3865 "🐛[Jetsmartfilters] Filters on popups (elementor pro)"
![pop2](https://user-images.githubusercontent.com/82481592/130337613-08ce791d-32db-4d50-a001-89e9884644ab.png)

by accident..
I just realized that the use of filters on popups (elementor pro) is not possible with jetsmartfilters
[you have to go through jetpopup](https://crocoblock.com/troubleshooting/articles/cannot-display-smart-filters-in-popup/)

**This may seem normal** if I did not have anoth

[2021-08-22 06:26] 79ho3ein commented on #3865
hi @nreljed
I have requested this feature before in #3146. They add this feature, but it is not clear when!

[2021-08-22 16:44] neoset opened #3866 "🔥[Jet Booking] Hours for collection and delivery in calendar and work and rest hours"
Hello, Jet Booking in addition to the range of eligible days, you necessarily need the pick-up and delivery times in the calendar in the case of car reservations, the same as on the sixt.com website.
You also need the same system of work and rest schedules as jet appointment, a greeting.

<img src="https://i.ibb.co/zhXk9Y8/Sin-t-tulo.png" alt="Sin-t-tulo" border="0">
<img src="https://i.ibb.co/x27

[2021-08-23 00:03] zalahmar opened #3867 "Adding a " to a Glossary, Displays a \ before the " on the Front End."
**Describe the bug**
When adding an entry to a Glossary that contains ", a Preceding \ is displayed before the " on the front end.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Glossaries and create a new field under an existing Glossary or create a new glossary that contains " in it. For example, Natalia Alianovna "Natasha" Romanoff.
2. Save the Entry, it will look correct on the Gl

[2021-08-23 00:38] Rubenzella commented on #2663
Duplicate of https://github.com/Crocoblock/suggestions/issues/3182

[2021-08-23 00:40] zalahmar commented on #3867
I just realized the same behavior occurs when you use a ' in a glossary. The glossary term appears correct on the backend but adds a \ on the front end when the data is displayed.

[2021-08-23 02:13] johnnychanoi opened #3868 "[JetAppointments] Restrict booking after certain period of time (days, month)"
Prevent customers to book an appointment after a certain period of time from today's date whether it is months or days.

An example would be that the customer is not allowed to book an appointment that is passed 6 months from today's date. You can say this is similar to when booking a flight ticket online.

[2021-08-23 06:50] kaskad88 commented on #3864
@P258tiwari, Please update the JetEngine to version 2.8.10 and regenerate the CSS and data ( Elementor->Tools->Regenerate CSS & Data ).

[2021-08-23 06:57] ipoweb opened #3869 "SmartFilters : add new position as horizontal line for checkbox filter"
Please add possibility to select position for Grouped Filters when we use Checkbox Filter like Select Filter
I need to align as line but this function doesn't exist, actually i need to add custom css to fix this problem but it's not perfect.

![image](https://user-images.githubusercontent.com/1773161/130403320-c83676d7-a652-4d1e-85b0-44940ae44582.png)

[2021-08-23 07:05] serg-pervushin commented on #2609
+1

[2021-08-23 08:07] taidang26 commented on #3869
+1.
I was also similar errors. I have emailed the support team but have not received a reply yet

[2021-08-23 08:51] marowi85 commented on #2548
I miss that feature too. Would be a great addition.

[2021-08-23 10:03] kamyabnazari opened #3870 "Wishlist Functionality Enabled creates Active PHP session Warning"
**Describe the bug**
After activating the Wishlist functionality in the Crocoblock dashboard, i get in site health page the critical warning that an active php session was detected. and get the rest Api warning to.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Crocoblock -> JetPlugins settings -> JetCompareWishlist -> Wishlist Settings'
2. Click on 'Enable Wishlist'
3. Scroll down t

[2021-08-23 10:12] johannbt commented on #3859
Hi Kemal,

I have tested it with the beta version 2.9 and so far it works, that means that the version 2.8.10 has errors

Regards
Johann

[2021-08-23 10:23] baf139 commented on #221
are these types of optimizations going to be coming with 2.9.0?

[2021-08-23 10:57] setonm opened #3871 "WooBuilder Add to Cart pop up with dynamically added cross-sell items"
When a customer adds an item to the cart I would like to provide a pop-up that shows what the customer has added and gives some cross sell (you may also like) options that are dynamically generated from the cross-sell section of the product added to the cart.

You can see this live at https://www.thompson-morgan.com/ (screen shot attached)

At the moment I just get the normal text based confirmati

[2021-08-23 11:13] Floydtm commented on #3731
Hi. This will not work at the moment. You can write data from one form field to one meta field. I understand that this is important to you, but we cannot add it to the plugin yet. Thank you!

[2021-08-23 11:13] #3731 closed, assigned to nobody

[2021-08-23 11:27] DavidAky commented on #3819
I am facing the same issue but I believe the issue happens with any Page reload apply type related to the Apply button and not the filter widgets. This means if I am redirecting to another page to show the filter search results and try to apply a new filter on that page, Jetsmartfilters filters the results as the old/initial filter parameter AND the new filter parameters. Which leads to wrong resu

[2021-08-23 11:30] DavidAky commented on #3819
Another issue is that if there are multiple apply buttons (e.g. one for desktop and one hidden for mobile) and the apply type is Page reload, then the active tags/filters will have an additional active tag for every additional apply button on that page.

[2021-08-23 11:46] Floydtm commented on #3735
Hi. Almost everything you need can be done right now. If you have a problem with this, please contact our support team. Thank you!
[bandicam 2021-08-23 14-43-45-780.zip](https://github.com/Crocoblock/suggestions/files/7031555/bandicam.2021-08-23.14-43-45-780.zip)

[2021-08-23 11:46] #3735 closed, assigned to nobody

[2021-08-23 12:08] Floydtm commented on #3743
https://crocoblock.com/knowledge-base/articles/jetsmartfilters-how-to-create-a-hierarchical-filter-with-select-filter-type-based-on-jetengine/ Maybe this will help you

[2021-08-23 12:11] Floydtm commented on #3666
At the moment there is only one solution for your request

[2021-08-23 12:11] #3666 closed, assigned to nobody

[2021-08-23 12:46] P258tiwari commented on #3864
@kaskad88 OK Let me check

[2021-08-23 12:59] kaskad88 commented on #3639
Added to JetElements 2.5.9

[2021-08-23 12:59] #3639 closed, assigned to Gawuww

[2021-08-23 12:59] kaskad88 commented on #3624
Added to JetElements 2.5.9

[2021-08-23 12:59] #3624 closed, assigned to Gawuww

[2021-08-23 13:46] #3748 closed, assigned to nobody

[2021-08-23 13:49] Floydtm commented on #3758
Are you experiencing this problem after updating Elementor 3.4.2?

[2021-08-23 14:04] Floydtm commented on #3764
Check this options please https://prnt.sc/1qfqeqy

[2021-08-23 14:04] #3764 closed, assigned to nobody

[2021-08-23 14:06] ipoweb commented on #3764
Thanks it's solved my problem

[2021-08-23 14:30] Floydtm commented on #3775
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin
Now you can look for a custom solution for customizing [permalinks](https://wordpress.org/plugins/search/permalink/). Thanks!

[2021-08-23 14:30] #3775 closed, assigned to nobody

[2021-08-23 14:32] Floydtm commented on #3776
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin. Thanks!

[2021-08-23 14:32] #3776 closed, assigned to nobody

[2021-08-23 14:50] 79ho3ein commented on #3871
hello
This is almost similar to # 2249. I think the most important feature that jet woobuilder needs right now is pop-up display of WooCommerce notifications.

[2021-08-23 14:52] kirisutoweb opened #3872 "In the context of a marketplace, I would like to configure the ability to receive internal messages/LiveChat communication from a customer to a seller. The seller can see the messages from a customer when he is logged into his account ? Thank you. An example that come close to this feature is described here: https://docs.wclovers.com/live-chat/"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2021-08-23 20:46] rquirola commented on #2548
+1

[2021-08-23 23:58] nreljed commented on #3803
clean install wordpress
Test slider listing grid

for some unknown reason jet-slick-dots has 40px padding by default
the dots are not centered

![Capture d’écran 2021-08-24 004427](https://user-images.githubusercontent.com/82481592/130534132-a6cace2b-492f-48f1-b2bc-af44292d953d.png)

[2021-08-24 05:33] satomiao opened #3873 "Reload listing grid when new Form is submitted."
I am building a private messaging system using Jetengine CCT and Jetformbuilder and I would like the CCT listing grid which is the message content to reload when new form is submitted.

Reload Listing Grid feature has already been implemented on Dynamic Link Widget (Add to store) and I think Crocoblock team could take a step forward to implement it on Jetformbuilder/Jetengine Post Submit Actions.

[2021-08-24 06:25] computerfreak84 opened #3874 "JetSmartFilters Sorting Filter - usable for JetWooBuilder Products Loop?"
Any chance the Sorting Filter widget from JetSmartFilters can be used with the Products Loop widget from JetWooBuilder?

The help article only talks about JetWooBuilder Products List and Products Grid...
https://crocoblock.com/knowledge-base/articles/jetsmartfilters-how-to-sort-posts-and-products-with-sorting-filter-widget/

Thank you and best regards

[2021-08-24 07:25] Rubendj1 opened #3875 "Filterable output of admin culumn meta fields"
Hi,

I want to show date meta fields in the admin columns, however I saved them as timestamps causing the admin columns to be unreadable.

[2021-08-24 09:00] dislokacia opened #3876 "Please, make JetCompareWishlist plugin working with cookies to solve the caching issues."
Please, make JetCompareWishlist plugin working with cookies to solve the caching issues.

[2021-08-24 09:04] taidang26 opened #3877 "JetSmartFilter: Select filter positing line | column options not working"
I use hierarchical filter with Select filter type. When I choose to show on the same line it doesn't work. Defaults are columns and cannot be changed.
I have tried again with checkbox filter and it works fine. I think this is a bug I hope you guys can fix it soon.
![line - column](https://user-images.githubusercontent.com/89138954/130589128-adbc0d4c-65e1-476c-92ee-4c3929afc95e.jpg)

[2021-08-24 09:48] Rubendj1 opened #3878 "JetTabs - Active/Inactive tab styling and Close tab button"
Hi,

I would love to see the functionality added to style active and inactive tabs separately.
And I would like to be able to add a button that closes the active tab.

[2021-08-24 11:07] xC4M opened #3879 "Add Survey Form fields and more to JetReviews"
JetReview it’s a great plugin, and it could be more than a just a collect plain comments about an article or product, It has a awesome improvement opportunity. JetReview misses lots of features that could be added as part of it. One of those features could be “Survey forms” to collect informations from customers throughout a “customer survey” / “customer satisfaction”, or even Online Polls. JetRev

[2021-08-24 12:24] MjHead commented on #3803
Hi @pegujurado! If you mean using current meta values as dynamic argument for Query, could you please download JetEngine 2.9.0-beta4 from you account and try macros `Current user meta`
![image](https://user-images.githubusercontent.com/4987981/130615331-1ee2b482-bd79-4400-9a59-66da1715fb3d.png)

[2021-08-24 12:50] SreeNaveen1 commented on #3743
Rather than a checklist filter, I need a select box filter. Thanks for your reply.

[2021-08-24 13:40] marowi85 commented on #610
+1

@meksone

Would you be so kind and share your jQuery code with us? As default selection is still not possible.

[2021-08-24 14:16] meksone commented on #610
@marowi85
here's the code;
[code]
The value inside parenthesys (in the example, .eq(0) ) points to the menu element number; 0 is the first.

Cheers!

[2021-08-24 14:23] marowi85 commented on #610
Works great. Thank you so much! :)

[2021-08-24 14:36] TRADEREXDE opened #3880 "🔥 Mobile responsiveness of posts or listing grid"
Currently, you can't set the amount of posts shown for different screen sizes

example Desktop 4
Tablet 3
mobile 2

There is only one setting for all screen sizes which limits our ability to freely design the pages.

![Screenshot_20 (1)](https://user-images.githubusercontent.com/89079242/130636408-1e10e72b-35c0-4965-ac7f-dc1726a5820a.jpg)

[2021-08-24 16:28] ankit551 commented on #290
Add %queried_term% inside terms field and field should be term id under operator in
![image](https://user-images.githubusercontent.com/16338188/130654327-583cde0b-7404-49e2-96e8-9f6099aebc06.png)

[2021-08-24 19:40] cultweba commented on #631
+1 on this

[2021-08-24 23:49] im-bot689 commented on #610
@meksone

Where should I Paste this code?

[2021-08-25 00:47] RealtorNathan opened #3881 "Integrate MyCred with JetReviews"
Integrate MyCred with JetReviews. There are a few review plugins that already integrate with MyCred, but I can't display the rating on a listing.

[2021-08-25 03:04] zanga7 commented on #1662
What are the plans/timeframes for this?

[2021-08-25 05:29] cultweba commented on #2308
The implementation of this feature is very often needed. And if it could be done using JetEngine it would be great.

[2021-08-25 09:38] #3792 closed, assigned to UraraReika

[2021-08-25 09:38] #3862 closed, assigned to UraraReika

[2021-08-25 09:40] giilll commented on #897
+1

[2021-08-25 09:51] marowi85 commented on #610
I placed it in a html widget below the JetSmartFilter widget.

You may have to change the ".jet-color-image-list__label" class. In my case it's a radio filter, that's why I chose ".jet-radio-list__label". You will find the correct class name with the developer console by examining the label.

[2021-08-25 10:16] razkoko1 commented on #2360
+1

[2021-08-25 11:30] pegujurado commented on #3803
I have no words of thanks! I've already tried it and it works great. Impressive. You are incredible. @MjHead

[2021-08-25 11:30] simonkrogh10 opened #3882 "Support for Product Results Count + JetSmartFilters"
Make Product Results Count Widget work with JetSmartFiltering so that the Results Count can change based on AJAX instead of page reload only.

[2021-08-25 12:07] im-bot689 commented on #610
@marowi85 Can you share some screenshots, That would be a great help!

[2021-08-25 12:12] im-bot689 commented on #610
Thanks a lot @marowi85

[2021-08-25 12:16] im-bot689 commented on #610
It's working but if I click on other options its says "data is not found".

[2021-08-25 12:27] im-bot689 commented on #1703
+1

[2021-08-25 13:00] MB88621 opened #3883 "Duplicating templates in Jet Woo Builder."
I'm writing an idea for a feature for Woo Builder after talking to your support and realizing this feature doesn't exist in Jet Woo Builder.

When building a website with Elementor duplicating templates is a part of the job and it gets the work done faster.

I'm building a woo commerce website where I would need to build lots of templates for a "Single Product Page" - I have several artists and ea

[2021-08-25 13:22] xC4M commented on #3862
@UraraReika  Thanks for take my feature request.

After JetWooBuilder update, there's an error at the bottom of the Cart Page. https://prnt.sc/1qhwuzi
and also, there was a change in the quantity input field, the minus and plus buttons disappeared.

All those happened after updated.

[2021-08-25 13:50] xC4M opened #3884 "Error on Cart Page after JetWooBuilder last update"
After JetWooBuilder update, there's an error at the bottom of the Cart Page. https://prnt.sc/1qhwuzi
and also, there was a change in the quantity input field, the minus and plus buttons disappeared.

I don't have any related custom code.

All those happened after updated.

[2021-08-25 15:34] creativeart commented on #2711
+1

[2021-08-25 16:23] nreljed opened #3885 "📌[Jetengine & jetplugins] Open-Source The Forgotten Friend"
Hello ,

In this post we will try to list and provide real solutions provided by libraries to several problems and recurrent requests.
All that without too much effort
(apart from making the coffee and adapting the files and activating the customization options)

## ⚙️Select2
- [ ] [Select2  ](https://github.com/select2/select2)([demo](https://select2.org/))

I don't need to introduce you to selec

[2021-08-25 18:33] ciprianpentelescu opened #3886 "Add a installation date to the subkeys"
**At the moment, if you click on the subkeys you cant see the date the subkey was activated / generated.
This should be nice feature to have.**

[2021-08-25 18:54] WaBaX opened #3887 "Feature Request: JetFormbuilder // Anchor function for pagebreaks to scroll back to form top position of the new slides"
Hi,

had a discussion with Croco Chat Support right now.

My multi page form is showing checkboxes,
the quantity of checkboxes is variable from slide to slide / page to page.
Some of these form pages showing around 30 checkboxes,
to see the button for moving the slide,the customer has to scroll down the page.

By clicking on the button "next slide" the page view stays at the page bottom view
and t

[2021-08-25 20:15] ciprianpentelescu opened #3888 "Jet range filter doesnt show the variations price correctly"
**If i create a range filter based on the prices, and i have normal + variable products, the variable prices (min - max) are mixed together as you can see below:
`<span class="jet-range__values-max">21802415.00</span>`
instead of
`<span class="jet-range__values-max">2415.00</span>`
Basically, it shows the min and max prices of the variable products mixed together, instead of taking the min price a

[2021-08-25 20:35] #3888 closed, assigned to nobody

[2021-08-26 02:37] neylwalecki commented on #3885
🤭

[2021-08-26 07:21] Micheldebo opened #3889 "[JetBooking] Insert booking in WP-admin"
Hey guys,

A customer of mine runs a camping website. We created the Booking system with JetBooking plugin.

Some customers call them for a booking instead of through the website. Therefore, they would like to insert a booking into the Wordpress system themselves.

Would it be possible to do this somewhere in WP-admin?  I can't find such feature. Would be great!

[2021-08-26 07:53] JuliaKiselyova opened #3890 "Profile Menu and Profile Builder Translation"
Profile builder can't be translated at the moment

Unfortunately, there is no way to make the account in a few languages with the Profile builder.

**Perhaps it would be worthwhile to add this feature in future updates:)**

[2021-08-26 08:18] UraraReika commented on #3862
Fixed, release soon

[2021-08-26 08:26] Rotg20 opened #3891 "Front end form to have the same option as the back end form"
Hello,

The front-end form is lacking in compare to the back-end.
* You can't choose multipule "select" options like in the back.
* You can't freely write your taxonomies (only choose from existing one).
* you can't choose multiple taxonomies.

unfortunately It's makes the form completely unusable for a lot of purposes - how would a seller be able to put his own city as a taxonomy? how can someone

[2021-08-26 08:36] #3884 closed, assigned to nobody

[2021-08-26 08:45] UraraReika commented on #3883
Hello @MB88621 !

You can save it as a template. Like this https://gyazo.com/5ce0d6e4f9034016321eeb6334a96a32. Then in new template just find it in the list https://gyazo.com/ed96e2d8b8f53343b85484b650bbdfb4.

Or you can create one template and with the help of dynamic data output different info.

[2021-08-26 08:45] #3883 closed, assigned to nobody

[2021-08-26 08:46] Rotg20 commented on #3773
Yes please! it's so basic yet missing.

[2021-08-26 11:27] Rubendj1 opened #3892 ">= and<= JetEngine dynamic visibility conditions"
I would like to see some dynamic visibility condition options added, for example. Greater/Lesser than or equal to (>=, <=). At the moment only less than and greater than are supported.

[2021-08-26 12:08] minhz opened #3893 "Add email verification service integration to JetFormBuilder"
Please add email verification service integration like ClearOut, NeverBounce, TrueMail,...
to JetFormBuilder

[2021-08-26 12:57] #2205 closed, assigned to nobody

[2021-08-26 13:29] lukepatrickillustrations commented on #3473
Yes I agree, this doesn't seem like a feature request but more of a missing feature that a user would expect. You should be able to reorder taxonomies as you can with Woocommerce Product categories. They have 3 bars on the right side that allow you to reorder them quickly and the filters would reflect that order. A very important feature that would save people a lot of frustration.

[2021-08-26 13:52] karaburmication commented on #1040
+1

[2021-08-26 14:10] Akavantseva opened #3894 "Checked item in the filter"
An opportunity to make the item checked in the filter before filtering. For example, I want to make only the "All" option checked when open the page https://prnt.sc/1qjxjbh . But once someone clicks on the other option then it should change https://prnt.sc/1qjxkri

[2021-08-26 15:07] MB88621 commented on #3883
Your support could have explained this to me. I was told this functionality
doesn't exist.

On Thu, Aug 26, 2021, 11:45 Oleksandr Rudyi ***@***.***>
wrote:

[2021-08-26 17:18] osamaaminaziz opened #3895 "Jetformbuilder WooCommerce Cart & Checkout Action addon"
Hello,
I need to request a very helpful feature that will be helpful and increases the conversion rate for eCommerce stores.
The feature is to make the submit button of the form place the order directly without redirect to the checkout page.
thanks.

[2021-08-26 19:11] 79ho3ein commented on #3862
hello
Cross sales and ... has been added to the cart?
I updated but did not see the Upsell & CrossSell...

[2021-08-26 19:47] johannbt commented on #3859
Hi Kemal,

Julia Kiselyova from Crocoblock helped me and now everything works.
Can you write to her and say that you have the same problem as Johann and she will help you.

Many thanks to Julia Kiselyova, a very good support

[2021-08-26 19:51] xC4M commented on #3862
@79ho3ein  Yes, Cross-sell query was added into the Product Grid Widget in the Cart Page, but it doesn't really work. It doesn't display products even it has.

Also, quantity change buttons (plus and minus) disappeared after lastest update.

[2021-08-26 19:57] 79ho3ein commented on #3862
Such a thing has not been added at all.

quantity change buttons (plus and minus) ؟ What is your theme? The woobuilder has not added this feature yet ... I use the hello elementor template.

[2021-08-26 21:49] xC4M commented on #3862
@79ho3ein When I talk about quantity plus and minus buttons, it's jus in my case. After I upgrade JetWooBuilder, plus and minus buttons disappeared in the Cart Page; that's what I tried to explain you. I'm using ASTRA PRO as a Theme.

[2021-08-26 23:20] ACTx22 commented on #760
+1

[2021-08-27 03:48] hakankarar opened #3896 "woobuilder add dimensions"
it would be nice to see products dimensions on shop page

[2021-08-27 04:15] pacochin88 opened #3897 "Ability to create Taxanomy for User"
Hi,
I do not understand why wp can not create taxanomy for users. if Jetengine allows to do that, then it will be great. I run membership site, and i need to be able to categories members by professions...
thks

[2021-08-27 05:32] rajas91 opened #3898 "Expiration of membership level after a certain period"
Hi Crocoblock team, I would like to request you to add membership expiration after a certain period to your membership system. This is a must have feature for any membership system.

For example if a user subscribes to a paid membership, there should a feature to add validity period for it after which the user would have an option to pay again to continue or move back to the base membership.

simi

[2021-08-27 06:09] UraraReika commented on #3862
Only cross-sell query was added to cart page template. Other not supported directly by cart object but if you really want in you can code your own custom query. If you have some difficulties with this please contact our support team. As for plus minus buttons i cant tell you sure what happens but nothing really changes at that point.

[2021-08-27 07:16] benjamieson commented on #3889
I second this request.

It's pretty much essential for any company using bookings - they need to be able to add bookings from the back end.

[2021-08-27 07:34] UraraReika commented on #3896
Hello @hakankarar !

You can use Query Builder ( WC Product Query ) from JetEngine with this settings https://i.gyazo.com/3e2e6b68f6162af2845ae3a76319dc19.png. Then create listing and with the help of Dynamic Field widget output dimensions. The last step in use Listing Grid widget on single product template with Custom Query option where you choose query you created before.

[2021-08-27 07:34] #3896 closed, assigned to nobody

[2021-08-27 07:44] #3255 closed, assigned to UraraReika

[2021-08-27 07:44] #3681 closed, assigned to UraraReika

[2021-08-27 07:57] khandiz commented on #3898
I second this suggestion. Here's another competitor to look at examples: https://www.paidmembershipspro.com

[2021-08-27 08:03] khandiz commented on #3770
We also need Stripe integration for Crocoblocs. Both for WooCommerce and for membership

[2021-08-27 08:20] benjamieson commented on #3656
+1 - Essential!

[2021-08-27 08:39] UraraReika commented on #3774
First this isn't problem of our widget, tested on default template with default theme.
Added some additional link color controls.

[2021-08-27 08:58] 79ho3ein commented on #3774
thank you @UraraReika
The bug I reported in this issue is in hello elementor theme.

[2021-08-27 09:00] 79ho3ein commented on #3828
thank you @UraraReika 🌹
Please check the number #3768 if possible. thank you very much

[2021-08-27 09:26] sonnesworld opened #3899 "Add a clear and fitting title for the feature request"
Hi,

I have several shops where a product page is not necessary. So I want to show the "select variation" dropdown button on product overview/shop page. E.g. here I use the list grid from JetWoo Builder: https://hof.sonjablo.myhostpoint.ch/produkt-kategorie/fleisch-vom-hof/. This would be great. So clients can easy choose their favorite variation and don't have to visit every product page. E.g. li

[2021-08-27 09:38] benjamieson commented on #3612
This is the same as #3656

Gets a +5 from me - it's essential.

[2021-08-27 10:40] Sectionschef opened #3900 "Create a link or a pdf of the "favorite-page" to show it to other people"
Hi Crocoblock team,
is it possible to add a functionality on a "favorite-page" to send a link or a pdf of the fav-page to other people (clients). Or any other functionality to store the result of a fav-page.

[2021-08-27 12:09] Lonsdale201 commented on #3895
I guess add this request their jetformbuilder github page :)

https://github.com/Crocoblock/jetformbuilder/issues/

[2021-08-27 12:13] DorianSchlede opened #3901 "🔥 Jet Engine - Listing Grid - Slider Dot Navigation bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Listing Grid, enable settings just as on the picture
![image](https://user-images.githubusercontent.com/80420885/131124909-8b0648a1-e3e2-4f6f-a527-5cf648bff829.png)

The issue is seen here:

Desktop
![image](https://user-images.githubusercontent.com/80420885/131125046-27eab04

[2021-08-27 13:02] xC4M commented on #3862
@UraraReika
This is my case...

plus/minus buttons on version 1.10.0 which was BEFORE the update's 1.10.1 (also 1.10.2 version didn't solve the issue) https://prnt.sc/1qm1c64
At the bottom of the Cart Page BEFORE update to 1.10.1 version https://prnt.sc/1qm1hjv , all was good.

So, I updated JetWooBuilder to 1.10.1 and 1.10.2 version but still appearing the same issue on both version and Error sta

[2021-08-27 14:07] #3803 closed, assigned to MjHead

[2021-08-27 14:46] WebStudioNW commented on #3656
It's a bank holiday this weekend in the UK, I have setup a simple selector as a work around, but it's far from ideal.  It is a much needed feature to any booking system to be able to alter prices based on day or date.

[Touring Caravan Park North Wales Booking Form](https://penisarmynydd.co.uk/pitches/caravan-standard-pitch/)

It pains me to have to go on about it, the more I use Crocoblock the mo

[2021-08-27 15:48] HaroldChoung opened #3902 "table builders dynamic calculation"
tables builder can be based on option available and number of rows to generate data based on calculation.

 Example, everyday I save $5, after 4 day, I got a table

Day , Total Money Saved
1 , 4
2 , 8
3 , 12
4 , 16

[2021-08-27 17:31] wordpressman commented on #3864
Updated Jet Engine to 2.9.0 and regenerated CSS & Data, but I still see exactly that problem, just like @kaskad88 (same number of column, no dots....etc)

I notice also that if you choose 4 column, you get 3, if you choose 5, you get 4 and so on.

[2021-08-27 22:22] RonR-WebDesign commented on #2161
I'm also looking for this...  seems like an easy thing to add.

[2021-08-28 03:35] taidang26 opened #3903 "JetEngine - Custom Post Type - Admin Colunmn: Add a render image from media gallery"
I noticed the admin column section has the feature to get the image from the Gallery meta field to display on the admin column. But it only takes 1 image. Show from meta value then it only shows image ID.
To make it more convenient to display, I think it should appear all images in the meta field gallery or limit the number of images.

![image](https://user-images.githubusercontent.com/89138954/13

[2021-08-28 06:45] 79ho3ein opened #3904 "Problem displaying border in the jet woobuilder plugin cart page."
hello
In the "cart totals"widget  in shopping cart , there is a problem displaying the table border. This margin is displayed on the mobile in some 1px points and in some places 2px. And can not be controlled.  This problem only exists in the size of the mobile phone and is true on the desktop. **To better understand the problem, please see the image below.**
https://prnt.sc/1qnspxh

**theme : hel

[2021-08-28 11:43] Pixelharmonist commented on #2695
I´m interesting too...

[2021-08-28 12:50] P258tiwari commented on #3864
Crocoblock team help me to solve this issue  just off equal column option if you on it will help to resolve this problem

[2021-08-28 14:11] erturkuner commented on #3859
@johannbt Thanks your feedback. I think it's about elementor new version combability. I'm using older versions for now and if a solid comes out for this then I'll try to solve it.

[2021-08-28 16:13] johannbt commented on #3859
Hi Kemal,

it has nothing to do with Elementor, it is only about the update of JetEngine to version 2.8.10, this is somehow buggy, because version 2.9 works fine.

In spite of this, you should also use the following settings for version 2.9 and I have these screenshots from Julia from Crocoblock:

Wrong: https://prnt.sc/1qhsrgi
Correct: https://prnt.sc/1qhss2f

if you have a form to create a post,

[2021-08-28 18:18] lifeact commented on #3898
+1

[2021-08-28 20:35] juliovianadevs commented on #1890
Do you know how to make thousand separator ( . ) and decimal (,) after using jet-engine-calculated-callback plugin?

[2021-08-28 21:23] 79ho3ein opened #3905 "Absolute Height and width for the product grid widget flash box (jet woobuilder plugin)"
hello
It would be great if you add settings to the flash box of this widget, so that we can give it absolute height and width. https://prnt.sc/1qp78yl
Unfortunately for now, we can only change the overall size of the box and this makes the box  always square.
**In fact, it would be great if we could determine the size of the box like this :** https://prnt.sc/1qp7whi

please check. thank you🌹

[2021-08-29 17:35] Spacefunls commented on #426
+1

[2021-08-29 19:12] 79ho3ein commented on #3904
hello @UraraReika
I explored this problem further, apparently there is a problem displaying the table borders. I do not know exactly what the problem is, but it is there anyway.
In the message above, I reported the problem only on my mobile phone. But when I saw the website on the laptop, there was a problem with the laptop, while on my computer it was not!
This problem is present in the **Cart Ta

[2021-08-30 01:48] josinaldobezerra opened #3906 "Add a custom field for currency values"
Text fields are not optimized to work with currency values. A field with an option to inform the decimal places would be interesting, avoiding the need to format this type of value.

[2021-08-30 07:15] UraraReika commented on #3862
Hello @xC4M !

Perhaps this is related to your site. Please contact our support team. Thank you!

[2021-08-30 08:11] 79ho3ein commented on #3904
thank you very much @UraraReika

[2021-08-30 08:18] UraraReika commented on #3905
I merged this issue with #3102, which is on the same subject so we could deal with it more efficiently.

[2021-08-30 08:18] #3905 closed, assigned to nobody

[2021-08-30 09:05] UraraReika commented on #3768
Hello @79ho3ein !

Templates layout now applied in Elementor editor. We will not implement style tab to our template in case we insert template to page this in not actually a page. As for the preview option the content shows correct data i don't understand needed of this option in such kind of option.

[2021-08-30 09:55] WaBaX opened #3907 "JetFormbuilder - Conditional Logic - disable loading hidden content"
Hi,

i created a huge form for my frontend user to create new advertisements on my marketplace.
The marketplace compare between privat and business users.
Business users can choose the branche of their business.
That means i have many different user roles which the marketplace has to handle with.

While creating the new advertisement i have to show / hide content by the user role of the customer w

[2021-08-30 10:21] 79ho3ein commented on #3768
thank you @UraraReika🌹
Unfortunately, I did not understand exactly what you meant...
From now on, can we change the background color of the thanks page? At the moment this is not possible and we can only change the background color of the elementor section! This was a very big limitation

[2021-08-30 12:20] UraraReika commented on #3732
Select - fixed.
Input We have checked your request in latest Safari and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team. Thank you!

[2021-08-30 12:21] UraraReika commented on #3564
This issue has been closed due to inactivity. If this issue is still actual, please, create the new one.

[2021-08-30 12:21] #3564 closed, assigned to UraraReika

[2021-08-30 12:29] 79ho3ein commented on #3732
thank you @UraraReika
I use the hello elementor theme. All the bugs I report are about this theme. Most users of jet extensions use the hello elementor theme، I do not know if you are testing bugs in this theme or other theme. Please test the bugs in this theme. This is the formal element pattern.
In any case, thank you very much for your efforts🌹

[2021-08-30 12:34] 79ho3ein commented on #3905
thank you, But number 3102 is closed !

[2021-08-30 13:49] UraraReika commented on #3732
Still no any errors and you should notice it at the beginning.

[2021-08-30 13:49] UraraReika commented on #3905
Solution is there

[2021-08-30 14:11] 79ho3ein commented on #3732
ok, thank you

[2021-08-31 01:15] baf139 commented on #474
yes this would be great. Then you could basically recreate https://wpgeodirectory.com/

[2021-08-31 05:55] DevDietheR opened #3908 "JetSearch must be able to exclude the out of stock products in displaying on results area"
I've suddenly encountered this critical issue on jet search(ajax widget), when the woocommerce products are out of stock, it's still displaying in the results area. I hope the dev can fix this as soon as possible, this is very critical in the production
![image](https://user-images.githubusercontent.com/42364592/131449447-fbbb2a27-5c44-420d-a7ee-1e5e453b817d.png)

This feature of woocommerce doesn

[2021-08-31 06:58] UraraReika commented on #3221
Hello @79ho3ein !

You can use this solution https://github.com/UraraReika/jet-woo-builder-custom-add-to-cart-icon whitch in closest time will be added to [Crocoblock DevTools](https://crocoblock.com/freemium/tools/) .

[2021-08-31 06:58] #3221 closed, assigned to UraraReika

[2021-08-31 06:59] UraraReika commented on #2932
Hello @Putitontheground !

You can use this [solution](https://github.com/UraraReika/jet-woo-builder-products-grid-custom-fields) in closest time will be added to [Crocoblock DevTools](https://crocoblock.com/freemium/tools/) .

[2021-08-31 06:59] #2932 closed, assigned to UraraReika

[2021-08-31 07:00] UraraReika commented on #2680
Hello @Magn2871 !

You can use this [solution](https://github.com/UraraReika/jet-woo-builder-custom-product-badges) in closest time will be added to [Crocoblock DevTools ](https://crocoblock.com/freemium/tools/).

[2021-08-31 07:00] #2680 closed, assigned to UraraReika

[2021-08-31 08:13] Saultejera commented on #2955
Bricks is showing with each update that it is a serious project with a great future, and with the latest update, stable pages can be made with a certain complexity. I hope Crocoblock doesn't fall asleep and beat the competition. They must take advantage of the pull of the new visual constructors to position themselves as a reference. As @tole011 said, look at the movements of ACF and Meta Box.

[2021-08-31 08:44] harryriegel opened #3909 "AutomatorWP integration"
Besides web-based-solutions like Zapier, AutomatorWP is our favourite Automation plugin for Wordpress. (More native wp-hooks than Zapier). As JetFormBuilder from Croco is our preferred formbuilder, it would be an elevation in functionality, if it gets compatible with AutomatorWP.

That´s it... nothing more to write, as the idea is self-explainable. Disregarding the comparison of funtionality, othe

[2021-08-31 11:20] AlaplayaW commented on #1449
Same !

[2021-08-31 11:35] alexanderpankart commented on #1028
This would be a good addition to a project I am in the process of implementing. It is about a table reservation system with JetAppointments and JetEngine Forms.

If there is no "single" calendar here, then there can be messy double reservations (offline + online), which is something to avoid.

With Zapier this would be solved, but a built in feature for a 2 way sync would be great!

A big + from m

[2021-08-31 11:43] stasonua0 opened #3910 "New extension for Jet Elements (Lazy Load Widget)"
Hello, consider creating a new extension for Jet Elements called Lazy Load Widget similar to this widget
https://e-addons.com/elementor/lazy-element/

Two goals:
1. Speed ​​up page loading
2. Remove the need to reset the full-page cache in order for some dynamic widgets to display relevant content.

Здравствуйте, рассмотрите возможность создания нового расширения для Jet Elements под название Lazy

[2021-08-31 11:44] BasVoets commented on #3261
Hello Jamie, can you provide me the CSS you used to style the upload button? Thank you!

[2021-08-31 12:31] terracellc commented on #2632
+1

[2021-08-31 18:11] asiaryckobozenska commented on #2453
This might not be a major issue, but deleting the code or text without any previous warning is. I’ve been adding a lot of videos to a client’s website and they are all gone. I now have to try and search again for the links and recall what she wanted to have there, all because the editor doesn’t work as it should. If deleting a link or an iframe code is its “proper” behavior, that it should give a

[2021-08-31 18:19] kochhase commented on #3885
+1

[2021-08-31 19:15] Lonsdale201 commented on #3891
+1

[2021-09-01 00:26] nreljed commented on #3723
#3885

[2021-09-01 00:30] nreljed commented on #3333
#3885

[2021-09-01 00:31] nreljed commented on #3262
#3885

[2021-09-01 00:32] nreljed commented on #3055
#3885

[2021-09-01 00:33] nreljed commented on #2533
#3885

[2021-09-01 00:33] nreljed commented on #2755
#3885

[2021-09-01 00:34] nreljed commented on #2369
#3885

[2021-09-01 00:37] nreljed commented on #2182
#3885

[2021-09-01 00:38] nreljed commented on #1977
#3885

[2021-09-01 00:38] nreljed commented on #1621
#3885

[2021-09-01 00:42] nreljed commented on #895
#3885

[2021-09-01 00:42] nreljed commented on #878
#3885

[2021-09-01 00:48] nreljed commented on #3567
#3885

[2021-09-01 00:52] nreljed commented on #3631
#3885

[2021-09-01 00:52] nreljed commented on #3263
#3885

[2021-09-01 00:53] nreljed commented on #3261
#3885

[2021-09-01 00:53] nreljed commented on #3195
#3885

[2021-09-01 00:54] nreljed commented on #3043
#3885

[2021-09-01 00:54] nreljed commented on #2869
#3885

[2021-09-01 00:55] nreljed commented on #2193
#3885

[2021-09-01 00:55] nreljed commented on #1943
#3885

[2021-09-01 00:55] nreljed commented on #1638
#3885

[2021-09-01 00:56] nreljed commented on #1540
#3885

[2021-09-01 00:56] nreljed commented on #3712
#3885

[2021-09-01 00:57] nreljed commented on #3411
#3885

[2021-09-01 06:27] yeyujja commented on #2394
I think this could be very usefull!!

[2021-09-01 07:44] Sheena-Dhingra opened #3911 "Listing grid item be clickable itself when Map listing popup is enabled"
Hi, I have created a map listing using JetEngine Map listing. Link to the page: https://orioninnovationhomes.com.au/properties/. On my page, there are two listings (Map Listing on left and simple listing grid on right) And have used the functionality, when we hover over the listing item (on right), it pop-up in the map(on left). This is working but the listing itself has a link (A Dynamic link lin

[2021-09-01 08:26] raghuvirkonanki commented on #2543
+1 Please introduce this feature. Amelia and Bookly both have it and it's extremely helpful in bringing Suppliers onboard. Meanwhile, can we not use JetBooking to sync and JetAppointment to book the slot? Does this work?

[2021-09-01 08:28] raghuvirkonanki commented on #3134
Is this closed because the functionality is there or is it because its a duplicate?

[2021-09-01 09:28] ltaferner commented on #1554
I have the same issue - is there ANY solution?

[2021-09-01 09:57] radox73 commented on #3762
It is very important to have a description....

[2021-09-01 11:36] raghuvirkonanki commented on #2014
I've noticed this too. #JetAppointment is arguably one of the slowest in terms of new features additions.

[2021-09-01 11:54] zuhdi-in opened #3912 "crocoblock for easy digital download"
Hello
I was expecting crocoblock to also make plugins like "JetWooBuilder", but this time not for WooCommerce but for Easy Digital Download

[2021-09-01 12:41] StevenVanWingerden opened #3913 "[JetWooBuilder] Ability to apply a single product template to all single items within a product category"
Hi,

It would be great if we can apply single product templates to all products within a product category, instead of having to manually select the template within each product.

Kind regards,
Steven

[2021-09-01 12:57] ghost commented on #1795
plesase implement this or at least a manual way to mark some dates as unavailable

[2021-09-01 12:58] nreljed commented on #3910
this "Lazy Load Widget" request is adds to my big file
📁**" why are the listing grid / content generated by jetplugins are slow to display "**

Only a possible in-depth analysis of the situation to understand which components JavaScript Library competitors used and unlock all these benefits and performance to the jetplugins family not only elements..

we need a serious helping hand with analysis a

[2021-09-01 13:00] nreljed commented on #3830
#3885

[2021-09-01 13:00] nreljed commented on #3600
#3885

[2021-09-01 13:01] nreljed commented on #1492
#3885

[2021-09-01 13:04] nreljed commented on #3813
#3885

[2021-09-01 13:04] nreljed commented on #3027
#3885

[2021-09-01 13:05] nreljed commented on #2697
#3885

[2021-09-01 13:06] nreljed commented on #2140
#3885

[2021-09-01 13:24] StevenVanWingerden commented on #2540
Please add this feature!

[2021-09-01 13:41] adrianratajczak commented on #998
Hi, any updates about that?

[2021-09-01 13:43] raghuvirkonanki commented on #3460
+1

[2021-09-01 14:10] kaskad88 commented on #697
@pxmjc After JetEngine 2.9.1 release you can use the follow macros to display checkbox values in the Dynamic Repeater widget `%_repeater_key_|render_checkbox%`, where `_repeater_key_`- need replace to your repeater key

[2021-09-01 16:09] MrBentley commented on #1657
+1

[2021-09-01 18:29] StevenVanWingerden opened #3914 "Ability to manage Woocommerce orders in profile builder"
Hi,

I would really like a feature for us to be able to manage Woocommerce orders in the profile builder.
**Some desired features:**
-Create/edit/delete order
-Comment (as notes) on the order
-Edit the order status of the order
-Ability to create orders and order notes listing with JetEngine

Would appreciate any response or feedback on this topic!

Kind regards,
Steven

[2021-09-01 20:03] coryhubbell commented on #1314
+1 for what is going on here?

[2021-09-01 20:31] Lonsdale201 opened #3915 "JetEngine - Listing "make listing clickable" pointer is missing"
In the latest JE update, the Listing option **"make listing clickable"** dont show the pointer cursor in the listing grid. (btw the content clickable).

[2021-09-02 02:35] hempaware opened #3916 "Notify Me When Back in Stock for WooCommerce Products"
It would be great to have a feature where we can have a button/field that says NOTIFY ME WHEN BACK IN STOCK, for any products that are out of stock. And the person just enters in their email address and get's an automatic email once the product is back in stock. There are obviously other plugins that do this, but having more features in one place is always better as you know! Thank You!🙏👍

[2021-09-02 05:21] HushWorkDev opened #3917 "Responsive Tables and Charts Builders - When there are no results after filtering"
Responsive Tables and Charts Builders when there are no results after filtering.. feature request.

When there are no results (Product Table Demo) see below, there is just a scrollbar and no visual indication that there are no results.
There should be some kind of "No Results" visual in the chart where the results would normally be. Even if it's just plain text.

At Product Table demo, use a filte

[2021-09-02 06:18] UraraReika commented on #3913
I merged this issue with #2540, which is on the same subject so we could deal with it more efficiently.

[2021-09-02 06:18] #3913 closed, assigned to nobody

[2021-09-02 07:10] 79ho3ein opened #3918 "Compatibility of Fields manager feature for Checkout Billing & Shipping forms with hello elementor theme / jet woobuilder"
Hello @UraraReika  good time👋

The feature of managing payment fields is great, but unfortunately it is not compatible with the hello elementor format. This means that we have to write css in order to have list fields, such as city or province. While many users do not have the ability to write css.
https://prnt.sc/1r0m0pr
Most jet woobuilder users use the hello elementor template. Not being able t

[2021-09-02 09:48] EDR1EN commented on #2682
This would be great to have! Just stumbled across the exact same problem.

[2021-09-02 09:49] UraraReika commented on #3918
I merged this issue with #3793, which is on the same subject so we could deal with it more efficiently.

[2021-09-02 09:49] #3918 closed, assigned to nobody

[2021-09-02 09:58] 79ho3ein commented on #3918
Thank you

[2021-09-02 10:48] lifeact commented on #2745
Hi, any news?

[2021-09-02 12:41] deniro83 opened #3919 "Maps to forms"
The customer orders the goods, in an additional step (multi-stage forms) selects the place from the map where he wants to pick it up (on the spot)?

Just like here:

https://youtu.be/ESqt4EHqt1s?t=460

[2021-09-02 12:59] WeAreHaus opened #3920 "smart filters not sorting latin/swedish characters"
The swedish charachters ÅÄÖ are miss-read as A och O and therefor listed in the wrong order.
Is there any way to fix this?

[2021-09-02 13:32] nreljed commented on #3919
a task for Leaflet library can do with Leaflet Control Search integration ([demo](https://opengeo.tech/maps/leaflet-search/examples/geocoding-nominatim.html))

this site or the example you show didn't invent anything :)  they just used leaflet, if they can then so we can.
it's like playing lego, we get the same lego as the others and we assemble our great idea

if we look closely and see things di

[2021-09-02 14:14] kaskad88 commented on #3864
@P258tiwari We tried to reproduce your issue based on the information you provided, but without success.
Please contact our support https://crocoblock.com/help-center/ for guidance in resolving this issue (and mention that you were directed by me and reference this issue.)
Thanks.

[2021-09-02 14:26] kaskad88 commented on #3915
Hi @Lonsdale201. We tried to reproduce your issue based on the information you provided, but without success.
Please contact our support https://crocoblock.com/help-center/ for guidance in resolving this issue (and mention that you were directed by me and reference this issue.)

Thanks.

[2021-09-02 14:26] #3915 closed, assigned to nobody

[2021-09-02 17:56] CZEG-FIR opened #3921 "Add Strong Passord Creation In Password Recovery, Registration and Change Password"
JetBlock - It surprised me that this option is not available in the Login, Password Recovery and Register.

Put the functionality in to ensure a user uses strong passwords. Such as Number Of Characters, Upper Case, Lower Case, Numbers and &%#* etc. This should be selectable as part of the widget by the form creator. The user should be informed as to what is required and when the password is not st

[2021-09-02 20:32] Lonsdale201 commented on #3915
Ahh really, the problem cause my code. Sorry, i resolved :)

[2021-09-02 22:36] maurocarreraok commented on #1746
Nothing yet? Really.....

[2021-09-03 01:38] chervince commented on #760
+1

[2021-09-03 04:16] oceandiveloper opened #3922 "#JetSmartFilters: Add support to filter #JetEngine REST-API Listings"
I use REST API Listings to display content managed on website 1 to be displayed on website 2. On the original website I was able to use the JetSmartFilters plugin to filter the CCT listings in the front-end.

On the second website though I cannot filter the REST-API listings. It would be a great addition for the user-friendliness if we could filter the REST-API listings in the front-end via JetSma

[2021-09-03 06:48] UraraReika commented on #2818
Hello @Morgunov-Vitaly !

You can use this [plugin](https://github.com/UraraReika/jet-engine-custom-visibility-conditions) to add extra Dynamic Visibility options.

[2021-09-03 07:24] kaskad88 commented on #1746
Fix for the next version ( 2.9.3 ). Thanks for your report!

[2021-09-03 07:24] #1746 closed, assigned to kaskad88

[2021-09-03 07:40] Rubendj1 commented on #3829
It would also be nice to add a template instead of a spinner/loader icon to implement skeleton loading.

[2021-09-03 07:45] Ca-Ty opened #3923 "Deactivate "Custom-PostType-Link" in Breadcrumb"
Hi there at Crocoblock,
I wondered how to deactivate the "Custom-Post-Type-Link" in the Breadcrumbs: As "Default", the bradcrumb-Element diplays the Name of the CustomPost-Type.

I learned from the crockoblock-Support that this is impossible.

As you know, Breadcrumbs are both - an important component for navigation on page - and a really relevant part for onpage- SEO-optimization.

There is no re

[2021-09-03 08:53] DeBelserArne opened #3924 "Ability to select "Date range" in JetBooking Appointments"
**Please, describe the feature request, making it clear to understand.**
Right now you can only select one date to filter appointments. It would be usefull if you could select a date range.
![image](https://user-images.githubusercontent.com/32774303/131978459-bf0f499c-24c5-440b-9902-493f07edfdd3.png)

**Add an example of where this feature is already implemented. **
WP Amelia Booking plugin provid

[2021-09-03 10:21] UraraReika commented on #2818
Controls for hide empty counter will be added in feature release.

[2021-09-03 12:32] nreljed commented on #3924
it was predictable :)
it looks like it's a task for flatpickr [Range-calendar](https://flatpickr.js.org/examples/#range-calendar)

![Capture d’écran 2021-09-03 143239](https://user-images.githubusercontent.com/82481592/132014299-81d7cb73-4334-4353-8a09-75399f3ce456.png)

#3885

[2021-09-03 12:44] guizones commented on #2586
+1 here
I would love the ability for users to add media on the WYSIWYG field from frontend with JetEngine!!!
I realy miss that feature

[2021-09-03 12:48] kaskad88 commented on #3903
Added for the next version. Thanks for your report!

[2021-09-03 12:48] #3903 closed, assigned to nobody

[2021-09-03 13:34] nreljed commented on #3921
I observed this difficulty while trying to [recreate](https://github.com/Crocoblock/suggestions/issues/3080)
Add new user form wordpress with
the jetengine forms.

the idea is also to allow a predefined role
to access this special form and to be able to create users without going through wordpres backend. it just lacks the possibility of a select> choose roles.

as users are never careful with the

[2021-09-03 13:38] guizones commented on #2586
I also would love to have a WYSIWYG field for the email notification configuration on the submition of a form

[2021-09-03 14:24] GOHA81177 opened #3925 "The Center Mode function in the Listing grid"
Add the Center Mode function to the listinggrid for the carousel
This function is available in the Products Grid widget
It does what it adds half-formed pictures at the edges..
![222](https://user-images.githubusercontent.com/47380983/132021258-2034aa0d-b35c-4d65-b856-976187d0d11e.png)

[2021-09-03 14:45] bombarda-rpd commented on #282
What about the possibility to upload your own icon?

[2021-09-03 14:47] rgkeenan commented on #3909
I second this suggestion..

[2021-09-03 15:06] 79ho3ein opened #3926 "🔥BUG/ The space between the content in the jet smart filters plugin"
hello
Unfortunately in the last 4 updates, a bug has been added to jet smart filters which is very annoying. **This bug is in the visual filter so that the counters are slightly higher than the filter name :**  https://prnt.sc/1r4ngmf. This bug is much more evident on mobile phones.

**This bug is also present in the checkbox widget. In such a way that all the contents of the filter are stuck toge

[2021-09-03 15:37] #3911 closed, assigned to nobody

[2021-09-03 15:38] kaskad88 commented on #3911
Fix for the next version. Thanks for your report!

[2021-09-03 22:35] Dah19 opened #3927 "#3182 staging and development support"
Would it be possible to add

.sites
and/or
.qsandbox (popluar development Site)

to current list?

Thanks

[2021-09-04 00:45] Itax7 opened #3928 "update from the front end using CCT"
Hi, I can´t set a form to be update from the front end using CCT, I watched all the tutorials that I found on the web, all them used CPT to do that, I tried with CPT and works, but I need to do that using Custom Content Type.
I fallowed all the steps from this Crocoblock tutorial ( https://crocoblock.com/knowledge-base/articles/jetengine-how-to-update-posts-via-front-end-form-submission-option/ ),

[2021-09-04 07:20] erturkuner commented on #3859
Hi Johannbt,

Thanks for the information. Can you tell me the version of elementor plugin that currently working with jet engine 2.9. Elementor and Elementor pro plugin of course.

Thanks

[2021-09-04 09:48] deniro83 commented on #3919
This is just an example. I have a customer whose goods can only be picked up in a stationary store, but ordered online.

[2021-09-04 10:28] GinaHTC opened #3929 "JetForm Builder - OR operator for Conditional Logic"
Form field conditions are incredibly hard to deal with. We really need the option to use an OR operator. Is there any chance this will be added (soon preferably).

[2021-09-04 13:07] nreljed commented on #3829
@Rubendj1
I added the idea of skeleton / backbone loading :)
I hope we haven't exaggerated 😅 it seems hard to achieve .. this thing we can almost see only on facebook

[2021-09-04 13:28] johannbt commented on #3859
Hi Kemal,

it actually has nothing to do with Elementor, just update the Elementor and Elementor Pro to the latest version and everything will work with version 2.9.

If you have any questions, write to the support at Crocoblock, the people there are really very friendly, fast and competent.

Best regards
Johann

[2021-09-04 13:51] tavolucas commented on #1818
I tried all the time and it didn't work for me, I can't find the id anywhere @damenvaz31. It's frustrating I've been waiting for months for @Crocoblock  to fix this and nothing...

[2021-09-04 13:57] tavolucas commented on #3455
@Crocoblock  has not done anything and to solve this and it seems that they are not going to do it, I have been waiting for months ...

[2021-09-04 13:58] tavolucas commented on #1588
@Crocoblock  has not done anything and to solve this and it seems that they are not going to do it, I have been waiting for months ...

[2021-09-04 14:53] gurkanucar19 commented on #2360
+1000000000!!! This is a very important and basic action that needs to be done immediately. Easy to do for the Crocoblock team.
We are waiting...

[2021-09-04 19:14] nreljed commented on #3880
A problem that the idea
#3829
Could solve very well

[2021-09-05 13:28] E-Markers commented on #2308
+1

[2021-09-06 02:08] Josh-PCD commented on #2617
+1 JetEngine and JetSmartFilters integration please!

[2021-09-06 04:54] Scoots78 commented on #2646
Yeah, a 'Near Me' function search within a specified radius would be great

[2021-09-06 04:56] Scoots78 commented on #474
+1 This is needed to make the map listings far more usable

[2021-09-06 04:57] Scoots78 commented on #1967
I want this so so bad +1

[2021-09-06 05:00] Scoots78 commented on #2357
Exactly what i need too, users are used to this as it is available in google maps. Used with the Jet Engine maps would be very useful, i may have to switch to another plugin without it.. any idea if this will happen Crocoblock?

[2021-09-06 07:59] wernerdm opened #3930 "Order services in JetPop window"
There is no way to order services configured in JetAppointments using a JetEngine static page booking form.
It would be nice to have the possibility to order the list of services alphabetically.

![order services](https://user-images.githubusercontent.com/44156258/132181522-71f10f11-c765-491c-96d4-aa179c5e87e2.jpg)

[2021-09-06 08:00] ninmorfeo opened #3931 "Missing featured: limit the number of files sent depending on the user's role"
Frontend featured:
Ability to limit the number of uploaded files by users and to recall uploaded images in dynamic text areas ensuring the user access to their own file library (images and documents) not shared with other users. Think you can include the ability to limit the number of files sent depending on the user's role.

[2021-09-06 08:12] kaskad88 commented on #3925
Add for the next version ( 2.9.3 ). Thanks for your report!

[2021-09-06 08:12] #3925 closed, assigned to nobody

[2021-09-06 09:21] UraraReika commented on #3009
Hello @79ho3ein !

You already can achieve this functionality with our plugins. You can use this free [extention](https://github.com/UraraReika/jet-engine-custom-visibility-conditions) with compare and wishlist visibility conditions. Then add necessary buttons and labels to your template. Hide and show them when you need it and it can redirect whatever page you need.

[2021-09-06 09:21] #3009 closed, assigned to nobody

[2021-09-06 10:22] XavaDigital commented on #1134
Any progress on this?

[2021-09-06 10:54] pixelika commented on #3928
I would like that feature too

[2021-09-06 11:04] pixelika commented on #3545
I would like that feature too.

[2021-09-06 12:32] sbrenlla opened #3932 "Multiple values select form"
In the forms add the multiple selection option in the select type fields

[2021-09-06 12:53] anybany commented on #3851
+1
and additionally a auto-update function for the slug if the title changes ;)

[2021-09-06 13:46] Riethorstp opened #3933 "Custom width and heigth for the dynamic image widget"
Hi all!

I would like to make a feature request for the Dynamic image widget in JetEngine.

The normal Elementor image widget has the option to choose a **fixed width x height** for the image. This is great when a client uploads images himself to my listing and they are not all uploaded in the same width and height. I want to use this feature in my custom listing. The dynamic image has the great f

[2021-09-06 14:30] damenvaz31 commented on #1818
Hi @tavolucas , maybe this picture can help you to get the id.

<img width="1391" alt="Captura de Pantalla 2021-09-06 a la(s) 9 26 24" src="https://user-images.githubusercontent.com/4359850/132231856-00b0d7af-ab97-40a6-addf-6f5da32d4e5c.png">

On your reservation page, select your price, then right click over it and go to Inspect Element. Once the inspector open you could find your class ID.

[2021-09-06 14:32] Kushalparikh28oct opened #3934 "URL Shortening of Pagination"
Hello,

I have recently observed that when I create a non-Ajax version of the products page and put pagination on it, the URL looks something like the one I have attached in the image:

https://driedflowersdecor.co.uk/dried-flowers/jsf/jet-woo-products-grid/pagenum/2/
I simply want the URL with Page numbers at the end of the product.

[2021-09-06 15:41] mrroy119 opened #3935 "[JetBooking] - hourly basis rent"
**This is one of the biggest problems in rentgo, jet booking plugin**
that there is no feature to calculate the car rent on an hourly basis

and I don't know why this thing is still not in the booking plugin?????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????

[2021-09-06 20:46] stasonua0 commented on #3933
+1

[2021-09-06 20:58] anderoav commented on #2135
+1

[2021-09-07 03:07] emirefek opened #3936 "Spesific post-id to forms."
Hi. I created a "JetEngine Metabox" with a "JetEngine Form". In my situation I have 2 pages, one of them is my "Homepage" and other one is "Pseudo-Backend" which created with "Elementor My Templates" + "JetEngine Profile Builder"

I want to edit "MetaBoxes" defined to "Homepage"s "post_id", from a form added to "Pseuse-Backend"(not dynamic,another page). Means I wanna define exact "post_id" to a f

[2021-09-07 03:47] P258tiwari commented on #3864
I figure it out due to new elementor Accessibility Improvements and Improved CSS Loading cause this issue when I turn off it work perfectly for me.

Please check this way too

[2021-09-07 06:29] CptSugarFree opened #3937 "Add Support for the Divi Theme Builder"
Divi and Elementor are definitely in the top when it comes to theme builders and I know if your plugins were made available to the Divi market pretty much everyone would start using them. When it comes to divi plugins it's a bit of a scattered mess for things like bookings, events, etc. The power of your core Jet plugins mixed with appointments, bookings, reviews, woocommerce, etc. would be a mass

[2021-09-07 08:07] jtrenor opened #3938 "JetReviews Plugin - make the Review Title & Ratings optional on the frontend"
JetReviews is great, however, it would be great if reviewers didn't have to add a Review Title in addition to the actual Review content itself.

Similarly for ratings, it's another added extra that is mandatory, that may not necessarily be needed for every review type.

As a developer, I'd like just to have a simple comment / review text box for website visitors to write their reviews for the resp

[2021-09-07 09:47] 79ho3ein opened #3939 "Ability to transform the product item in the jet woobuilder plugin"
hello

It would be great if you could add the transform (x-y) feature in the hover mode to the product item (product grid widget).
![Screenshot (141)](https://user-images.githubusercontent.com/77163248/132321827-ce7ff6f7-8ec8-4fe1-a484-0420d4b9f3b7.png)

Using this feature, we can determine how much it moves up or down when the product item is **hovering**. (transform x-y)
Another thing that is im

[2021-09-07 10:40] jacktaffa opened #3940 "Fix Jet Engine Form on Listing grid"
Whene Listing forms and inster into listing a jetengine form:
Fix current form id -> current post id function show id of the first listing post on all elements
<img width="1381" alt="Schermata 2021-09-04 alle 19 24 59" src="https://user-images.githubusercontent.com/2649534/132331063-47df3045-0bbe-4a22-a6bd-5dfb6be4a183.png">

Fix on submit message -> when you click on submit button if the form is

[2021-09-07 10:45] simonmilz commented on #2599
Any updates on this? I am running into the same issue.

[2021-09-07 13:05] simplicity17 commented on #2599
I ended up using Dynamic.ooo plugin for areas where I needed this feature.

Emily McKenna
Owner, Simplicity Design and Marketing
***@***.***

https://simplicitydesign.business

[2021-09-07 13:46] ernsyn commented on #3420
+1

[2021-09-07 14:06] computerfreak84 commented on #2918
+1
please make this a priority!
customer account endpoint template for forgot password or something more complete for the whole login-register-forgot procedure for WooCommerce and other projects with user logins. I don't want my customers to see wordpress login forms.

[2021-09-07 14:24] Marc-Paul opened #3941 "Image Size Setting on JetImageAccordion"
Using the JetImageAccordion currently only allows for default sized images. The same image sizing option, that is available for other widgets using images, e.g. the default image widget, should be accessible to ensure persistent and optimized Image Sizing.

Additionally using Imagify doesnt work with the JetImageAccordion, as the Images dont have a size class, they arent visible at all.

Looks mor

[2021-09-07 16:12] alejandrogsumi commented on #3914
Really interested in this too!

[2021-09-07 18:08] anderoav commented on #2135
+1

[2021-09-07 18:28] tavolucas commented on #1818
@damenvaz31 Thank you very much I did everything correctly but it did not work for me, I had already lost many hours for this that I do not understand why Crocoblock does not solve it at once ... in order to finish by removing it jetBooking and installing WooCommerce Booking.

[2021-09-08 03:35] oliveandlake commented on #1159
I've just run across this problem. We have a client who has a real estate website an uploads multiple properties per day. It's a bit annoying that at the end of the day, we have to task one of our team to remember to click the button to index them. I mean surely, this should be automated via a cron job shouldn't it?

[2021-09-08 07:34] medusamarketing opened #3942 "Show categories and subcategories"
We want to make a page and in the page we want to have the parent categories, when you click in one category we want to display the subcategories that belong to the parent category, and then when you click in the subcategory, we want to display the posts.

Best regards,

MEDUSA TEAM.

[2021-09-08 08:20] Floydtm commented on #3797
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-08 08:20] #3797 closed, assigned to nobody

[2021-09-08 08:28] Floydtm commented on #3801
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-08 08:28] #3801 closed, assigned to nobody

[2021-09-08 10:13] ghost opened #3943 "Set an item booked for a certain date range in the admin panel (JetBooking)"
Hi, We're a car rental companty using JetBooking.

We've necessity to allow also booking form external sources (e.g. phone call)

So we're looking for an easy way to mark some dates unavailables form the JetBooking backend.

[2021-09-08 11:21] taidang26 commented on #1967
+1

[2021-09-08 11:34] MjHead commented on #3928
Hi! Where do you used this form? Its some single page or its inside each item of CCT items listing?

[2021-09-08 11:41] MjHead commented on #3936
Hi! At the moment this possible only by passing "Homepage" post ID with URL query variable. But it not the best way to do such thing. We'll add additional options to preset to cover such cases.

[2021-09-08 11:42] #3795 closed, assigned to MjHead

[2021-09-08 12:20] 79ho3ein opened #3944 "Bug in displaying the number of products (single product page of jet woobuilder plugin)"
hello

There is a problem in the product number section of the single product page. **

If the number of product inventories is more than 1, the number of products section is displayed, And everything is fine. :** https://prnt.sc/1rkkc7q
But if the inventory of products is 1, the number of products section is not displayed, but its place is empty : https://prnt.sc/1rkktyz

This problem severely af

[2021-09-08 12:29] mrroy119 commented on #1597
Yes, please implement this feature as soon as possible because it's completely useless without time functionality....................

[2021-09-08 14:12] kaskad88 commented on #3406
Fix for the next version (2.9.3). Thanks for your report!

[2021-09-08 14:12] #3406 closed, assigned to kaskad88

[2021-09-08 15:48] TRADEREXDE commented on #2955
any comment from croco? Bricks is the newcomer

[2021-09-08 15:51] leadingdesigns commented on #1609
+1

[2021-09-08 16:41] kochhase commented on #3897
+1 in jetengine 2.10 this all should happen. Hope before November 21.

[2021-09-09 02:11] Fjashaw opened #3945 "Jet Woo builder needs to be more mobile friendly"
Jet woo builder should have a lot more style options when we are making our website responsive on mobile and tablet. With a massive percentage of the population shopping on mobile, it is important that we make their shopping experience as seamless as possible. Currently, I am not able to do this with the styling limits of the Jet Woo Builder.

I am running into most of these limitations when build

[2021-09-09 08:01] kaskad88 commented on #3864
Hi @P258tiwari We tried to reproduce your issue based on the **new** information you provided, but without success.
Please contact our support https://crocoblock.com/help-center/ for guidance in resolving this issue (and mention that you were directed by me and reference this issue.)
Thanks.

[2021-09-09 08:05] #3859 closed, assigned to nobody

[2021-09-09 09:11] Floydtm commented on #3808
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-09 09:11] #3808 closed, assigned to nobody

[2021-09-09 09:36] Floydtm commented on #3809
Hi! Add a meta field for the single provider https://prnt.sc/1rloxsa Write your desired email address in this meta field https://prnt.sc/1rlp04g In the form, add a hidden field that will receive this email https://prnt.sc/1rlp5ux  Specify the form field in the notification https://prnt.sc/1rlp8i7

[2021-09-09 09:36] #3809 closed, assigned to nobody

[2021-09-09 09:44] 79ho3ein commented on #3945
+1
It is true. The user interface of the shopping cart page is very disappointing in mobile size. One of its biggest drawbacks is that the product image is not displayed in the cart. (On mobile and tablet)
**This is a good example of shopping cart development in this plugin :** https://prnt.sc/1rlqtou
Please check these items. The plugin of this plugin needs to be expanded.

thank you

[2021-09-09 11:24] #3815 closed, assigned to nobody

[2021-09-09 11:27] Floydtm commented on #3820
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-09 11:27] #3820 closed, assigned to nobody

[2021-09-09 11:34] kaskad88 commented on #3823
Fixed in JetEngine 2.9.0. Feel free to update!

[2021-09-09 11:34] #3823 closed, assigned to kaskad88

[2021-09-09 11:49] Floydtm commented on #3826
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-09 11:49] #3826 closed, assigned to nobody

[2021-09-09 12:01] MathiasBr opened #3946 "Connect JetFormBuilder to custom MySQL table"
I would like to use the JetFormBuilder to :
- show data from my own MySQL tables
- update data from my own MySQL tables
- insert data to my own MySQL tables
- delete data from my own MySQL tables

[2021-09-09 12:11] lipob commented on #3820
Hi Floyd. Thanks for your answer.
Fortunately I could resolve it with custom JS.
Crocoblock plugins are great! Thank you.

[2021-09-09 13:32] Floydtm commented on #3833
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-09 13:32] #3833 closed, assigned to nobody

[2021-09-09 13:38] Floydtm commented on #3834
Hi! Create another custom taxonomy, but do not enable this option https://prnt.sc/1rmak9w https://prnt.sc/1rmam17

[2021-09-09 13:38] #3834 closed, assigned to nobody

[2021-09-09 13:39] Floydtm commented on #3835
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-09 13:39] #3835 closed, assigned to nobody

[2021-09-09 13:49] Floydtm commented on #2401
https://crocoblock.com/knowledge-base/articles/jetengine-how-to-add-payment-gateway-to-the-form/

[2021-09-09 13:51] Floydtm commented on #3838
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-09 13:51] #3838 closed, assigned to nobody

[2021-09-09 13:54] #3825 closed, assigned to nobody

[2021-09-09 14:22] Floydtm commented on #3850
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-09 14:22] #3850 closed, assigned to nobody

[2021-09-09 14:40] Floydtm commented on #3855
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-09 14:40] #3855 closed, assigned to nobody

[2021-09-09 16:36] DIntriglia commented on #3823
Confirmed this issue is now fixed. Thank you!

[2021-09-09 17:06] MikeLikesThat commented on #22
If this feature could be added, it would be so helpful in figuring out customer issues. Please jump-start this feature. 😄

[2021-09-09 17:13] Matt-Finnegan commented on #2646
Is there a solution for this yet? Even with some Javascript...

[2021-09-09 18:22] ageandsee opened #3947 "JetEngine Relations: Programmatically setting values in Child post does not update Parent."
**Describe the bug**
When creating or updating CPT posts programmatically (form plugin / API via Integromat / API via Zapier) and setting the relation in the child post using relation_key:parent_post_id, the child post updates correctly but the relationship does not reflect in the parent.

**To Reproduce**
Steps to reproduce the behavior:
1. Create parent custom post type
2. Create child custom po

[2021-09-09 18:27] vmavrikios commented on #1150
Cluster color is indeed still overlooked ..and for no reason imposed to be blue for <10 markers clusters and orange for >10 markers clusters.
Definitely needed for coherent design.

[2021-09-09 20:29] Brockkdavies opened #3948 "Gauge charts for jet elements"
I think adding a gauge chart to jet elements would be a huge value add and set crocoblock even further ahead of other plugins that offer gauge charts.

here’s an example. There are lots of types of gauge charts and a number of packages
https://martin36.github.io/react-gauge-chart/

[2021-09-09 22:04] 93petter93 commented on #2263
+1

[2021-09-10 02:45] tizum opened #3949 "Jet Popup - Action to open Jetpop with dynamic tag"
I would like to suggest an option to attach popup's as a link when made with jet popup, so you don't need to use it by the elementor pro, in case I'm using a hotspot widget and would like to attach a popup to each item to make the design more attractive.

Thank you guys

![image](https://user-images.githubusercontent.com/6773491/132789522-e57882e7-3c56-481a-b6d5-7bb45df2ce17.png)

[2021-09-10 04:38] oliveandlake commented on #1159
I contacted support about this issue. They said that they would release a new version later this month to address this issue!

[2021-09-10 06:37] #3852 closed, assigned to nobody

[2021-09-10 06:38] kaskad88 commented on #3852
Fix for the next version (2.9.4). Thanks for your report!

[2021-09-10 09:59] #2663 closed, assigned to nobody

[2021-09-10 10:11] serg-pervushin opened #3950 "JetThemeCore: don't show the general page template for specific pages"
Hello.

How to use JetThemeCore to make a template common to all pages is clear. How to use it to make a template for a specific page is clear. But the problem is that there is no way to make an exception for certain pages, so that the template common to all pages is not applied to them. As far as I know, there is such a function in element or pro, but here we are lagging behind them).

We urgentl

[2021-09-10 10:17] Floydtm commented on #3872
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-10 10:17] #3872 closed, assigned to nobody

[2021-09-10 10:25] Floydtm commented on #3874
You can use this right now. Thank you!

[2021-09-10 10:25] #3874 closed, assigned to nobody

[2021-09-10 10:25] gdelfava opened #3951 "Dynamic Table Row Counter"
There needs to be a way to display the total number of rows in the table and output the value suing a Dynamic Field Widget or using Dynamic Functions. The table row value need to be dynamic so that if the table rows increase or decreases the count should also change.

[2021-09-10 10:58] kochhase commented on #3775
Hi Floyd,
do you have contact with
https://permalinkmanager.pro/docs/#faq
because, we are using WPML as well. And there is no solution right now.
thanks

[2021-09-10 11:07] Floydtm commented on #3877
I see that you have a group of filters, the desired setting is in a different control below. https://prnt.sc/1rpb0cv Thank you!

[2021-09-10 11:07] #3877 closed, assigned to nobody

[2021-09-10 11:08] Floydtm commented on #3878
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-10 11:08] #3878 closed, assigned to nobody

[2021-09-10 11:21] Floydtm commented on #3881
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-10 11:21] #3881 closed, assigned to nobody

[2021-09-10 12:42] Floydtm commented on #3882
Could you describe your problem in more detail? Attach screenshots if possible. Thank you!

[2021-09-10 12:58] Floydtm commented on #3773
Could you describe your problem in more detail? Attach screenshots if possible. As far as I know, this can be done right now

[2021-09-10 13:20] CtrlF5 opened #3952 "Ability to use related children and parents outside of the grid listings"
The usage of `%related_parents_from|post-type-slug%` and `%related_children_from|post-type-slug%` work well but only in the Listings Grid module.
Could it be made that requesting these Posts by a relationship can be done directly?

 A use case I have is I have a festival website I'm creating with the Venue being the parent to the Event as a child. In the search, I have the Listing Grid returning a

[2021-09-10 13:34] Tibi5 opened #3953 "Calculated field that adds repeater field values"
Hello!

I have a website where users add posts/products.
To add posts they complete a form on the home page. They need to fill all the details of that product/service in order for them to sell it. There is an optional "Extra Field" present on that form. That allows them to add additional services to their main one.

To do that, I chose to go with a repeater field, but the problem is that when they

[2021-09-11 06:44] oceandiveloper opened #3954 "JetStyleManager breaking Gutenberg editor"
I've just installed JetStyleManager to style me Gutenberg listings in JetEngine. First of all installing from Crocoblock Dashboard installs an old version 1.2.0 by default. I directly have to update to 1.3.0. Minor Issue but should be looked at.
Bigger issues: as soon as I activate the plugin and open the Gutenberg editor I get a criticial error. Only disabling the plugin helps to remedy the probl

[2021-09-11 07:15] g-as-win commented on #1103
Ya. I'm having a very hard time making a simple counter from the listing grid, query builder and jet smart filter. Very surprised its not yet implemented and couldnt found any reference for this even a simple hack

[2021-09-11 08:12] CtrlF5 commented on #418
+1

[2021-09-11 15:16] emirefek commented on #2307
Why isn't it added yet? It's very easy implementation. It's must thing it 2021. Please add it.

[2021-09-11 16:28] sixmanstone opened #3955 "jejpopup linked to a listing grid where I put an icon to modify a form in a tables list does not work."
Creation of an Icon in a listing grid, to link it with a jetpopup which has 3 Dynamic Links. One to edit, another to delete and finally the last to see the single post. All in order to be able to modify the data entered in a Tables List. This tables list was edited with dynamic tables builders. Unfortunately the Dynamic Link widget linked with the icon in the list does not work. when I modify in t

[2021-09-11 19:47] stasonua0 commented on #178
When can we expect this feature? I really need her

[2021-09-11 20:04] maurocarreraok opened #3956 "Link an specific Listing Grid Item to an Anchor?"
Hi there,

Can you add the functionality to Link an Specific Listing Grid Slide to a Button for example? for example if you set the slider to have 10 results. Add a # to a button like #jet-listing-gird-slide-2 so when you click this button the referenced slide change to that specific slide?

This will be very practical for example having

1 listing grid with categories
1 listing grid with categori

[2021-09-11 21:44] nreljed opened #3957 "🐛[Jetsmartfilters] checkboxes/radio filters widgets Columns mode and active default items"
Hi,
it's an old bug that I encountered during one of my tests a long time ago .. I see that it is still there today ..

this bug prevents the active status from remaining active on the checkboxes / radio filters widgets.

which inevitably prevents me from exploring my new possibilities.. as I illustrated in the following picture 👇

![jetsmarfilters active](https://user-images.githubusercontent.com

[2021-09-11 23:02] maljassem commented on #426
We Really need this feature.....

[2021-09-12 06:33] 79ho3ein commented on #2711
hello @UraraReika, excuse me...
What does the **pending** label mean? may you tell?

thank you

[2021-09-12 08:30] dorshiff opened #3958 "Add ability to hook before and after gallery callback in dynamic field"
Hello Crocoblock,

Module: JetEngine

I would like to customize the visualization of the gallery created by the dynamic field callback by adding additional HTML  the slider item element ("jet-engine-gallery-slider__item").

When checked the file responsible for the (), I notice that there are no actions I can hook into and there are no filters I can use to change existing behavior.

1. Will be nic

[2021-09-12 12:43] 79ho3ein opened #3959 "Proper placement of the special sale price in the product grid widget / jet woobuilder plugin"
hello

In the product grid widget, if we put the price on the left, only the original price is on the left, but the special sale price is not in the right place :
![Screenshot (147)](https://user-images.githubusercontent.com/77163248/132987763-cc50aa93-8053-4c93-bbf5-64b709d873d3.png)

At present, this problem can be solved by placing a gap between prices. But this way creates a problem in respons

[2021-09-12 12:48] ClearianDev opened #3960 "Jet Engine Forms - Text Fields: Characters/Remaining Counter"
Jet Engine Forms - Text Fields: Characters/Remaining Counter.

Currently, the text being typed stops abruptly without explanation when character limits are set on text fields.  Users should be able to see how much text space is remaining while typing.

Thanks for all you do Croco peeps.

[2021-09-12 14:59] nreljed opened #3961 "[Jetsmartfilters] keep calm it's an hierarchical select"
Most people click everywhere and do not understand that it is an hierarchical select ...
and leave as soon as something does not obey their logic ..
from this statement
the following improvements are obvious and do not need to be explained :)

![jetsmarfilters hiarchival](https://user-images.githubusercontent.com/82481592/132992541-c53883c8-df0a-4ba7-882c-eaf921ef9873.jpg)

[2021-09-12 15:15] nreljed commented on #3960
exemple
![exemple1](https://user-images.githubusercontent.com/82481592/132993071-64fd79f4-3969-4d0d-953d-30b02dbe819b.gif)

[2021-09-12 15:36] HushWorkDev opened #3962 "JetEngine - Global Options"
As a developer, having to enter credentials / data in over and over again is time consuming. It would be nice to be able to utilize an "Options" page (even if it is a native WP options page) or more ideal would be a JetEngine specific "Global Options" page.

This "Global Options" page would house **persistent** credentials / data that can be used throughout all of JetEngine and plugins.

An exampl

[2021-09-12 18:05] adimaster89 commented on #1874
Hi, is there any update on this issue? I am searching for an option to enable the same functionality for JetBookings.
Thanks in advance!

[2021-09-12 19:08] baf139 commented on #3651
yes, this would help greatly!

[2021-09-13 02:50] AT4MO commented on #3631
I am currently using Resize Image After Upload plugin for this, this plugin also has an image optimizer, I'm not saying they add it as well but think about it.

![imagen](https://user-images.githubusercontent.com/69142071/133016662-e564a381-9ca2-4efc-b440-a36153c9ded3.png)

[2021-09-13 04:13] ClearianDev commented on #3960
Neo,

Thanks for the visual example.  I couldn't locate one handily.  I appreciate it.

Patrick

[2021-09-13 06:45] sara-kariv commented on #3961
+1

[2021-09-13 07:12] sara-kariv commented on #3960
+1

[2021-09-13 07:16] sara-kariv commented on #3938
+++1

[2021-09-13 07:25] sara-kariv commented on #3840
+1

[2021-09-13 08:54] chrispx001 opened #3963 "JetEngine > Post Types - Import Export"
This is a simple request. It seems possible to import / export the CPT structures (JetEngine > Export Skins), however there doesn't appear to be any way to import / export the actual data within each of these. On sites where there is considerable data needed to be entered this causes a major issue and takes considerable time. A simple import and export option would make a huge difference.

[2021-09-13 09:11] Floydtm commented on #2161
https://crocoblock.com/widgets/alphabet-filter/ Can this help you?

[2021-09-13 09:47] Lonsdale201 commented on #3960
+1

[2021-09-13 10:31] lolirado opened #3964 "JetEngine: CCT checkbox field >Add custom + Save Custom"
In CCT we don't have the option to Add custom and Save Custom checkbox value just jet.
Please add this to the features. Otherwise It's a no no for the lower user role.
![image](https://user-images.githubusercontent.com/25382055/133068557-5a52b90a-c203-42f2-bf05-56417db5ca26.png)

[2021-09-13 12:31] Floydtm commented on #3912
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-13 12:31] #3912 closed

[2021-09-13 12:51] StevenVanWingerden commented on #3960
+1

[2021-09-13 12:55] StevenVanWingerden commented on #3921
+1

[2021-09-13 12:57] StevenVanWingerden commented on #3873
+1

[2021-09-13 13:08] #3470 closed, assigned to MjHead

[2021-09-13 13:12] kaskad88 commented on #3727
Fixed in JetEngine 2.8.9

[2021-09-13 13:12] #3727 closed, assigned to kaskad88

[2021-09-13 13:21] 79ho3ein commented on #3959
Thank you for your attention🌹

[2021-09-13 13:33] ewebtechsuk opened #3965 "Long term apartment booking rentals"
Just wandering if the crocoblock team can implement apartment booking for long term rentals like 3, 6,12 or 24 months and have the checkout field auto calculated when the user selects the rental term field. Also the pricing field to be calculated as monthly rental prices rather than nightly bookings

[2021-09-13 14:04] UraraReika commented on #3794
Hello @IngerGarrido !

This yith request and yith compare probably rendered with the help of js, so in this case you need to trigger it one again after ajax filtering using this document trigger `jet-filter-content-rendered` from JetSmartFilters.

[2021-09-13 14:05] Floydtm commented on #2617
https://www.facebook.com/groups/CrocoblockCommunity/posts/4533744080050311/

[2021-09-13 14:05] #2617 closed, assigned to nobody

[2021-09-13 14:15] Floydtm commented on #1134
https://crocoblock.com/knowledge-base/articles/jetengine-dynamic-link-widget-overview/

[2021-09-13 15:02] StevenVanWingerden commented on #3661
+1

[2021-09-13 15:32] Aysenprende opened #3966 "Comparative Pricing Table templates for JetThemeCore"
Hello,

There are many interesting and usefull pricing tables that are included by default in JetThemeCore, but they are basic if you want to make a complete comparison with icons, buttons, toltips and so on. So, more complex comparative pricing tables templates are needed to use the croco's potential.

Please, you should add templates to the JetThemeCore library like your example in: https://croc

[2021-09-13 18:16] estercg commented on #522
Hi, I detected this option (recently viewed products) not working correctly, someone else with that problem?

[2021-09-13 18:20] MrTyree opened #3967 "Display Available JetAppointment Dates via Custom Listing or Drop Down."
**Currently:**
Available days are displayed using the calendar/appointment form field, with non-available days making it messy if the service is only available on one day in a whole month.

**Solution:**
Having the ability to display dates in a custom way would be ideal, for example using a custom listing item to display time/day. Similar to service providers or even adding a new element like a dr

[2021-09-14 03:39] barrychapman commented on #1637
+2

[2021-09-14 05:37] UraraReika commented on #522
@estercg more details please.

[2021-09-14 05:44] Floydtm commented on #3937
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-14 05:44] #3937 closed, assigned to nobody

[2021-09-14 05:50] Floydtm commented on #3942
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-14 05:50] #3942 closed, assigned to nobody

[2021-09-14 05:57] Floydtm commented on #2955
"Sorry, guys, but we are not planning to integrate with Oxygen as well as Bricks, Divi, Brizy, Beaver, or other website builders.
Why?
Our team still has limited capacity, so right now we need to choose.
Ether we integrate our product with all popular builders out there and support those integrations till we die )) or we dedicate all our time and effort to our primary builder - which is Elementor

[2021-09-14 05:57] #2955 closed, assigned to nobody

[2021-09-14 05:59] #3864 closed, assigned to nobody

[2021-09-14 06:08] Floydtm commented on #3949
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-14 06:08] #3949 closed, assigned to nobody

[2021-09-14 06:18] estercg commented on #522
I put the grid product with the recently viewed option and while you are looking at several products there comes a time that it does not react, it does not show you the last seen, it is very strange and I have checked it in 3 more or less websites

[2021-09-14 07:30] UraraReika commented on #522
Check on our side and everything works proper.

[2021-09-14 07:45] FinurDK opened #3968 "CCT Export in Profile Builder"
With the **CCT export function** in backend is great and useful.

It would be nice to have this **CCT export function** also as a possibility to be added to a custom profile page when using **CCT** and **Profile Builder**  when having "Hide admin bar" activated. This will optimize the user experience and prevent making it more confusing for the user to switch between backend and custom profile pag

[2021-09-14 07:49] #3671 closed, assigned to nobody

[2021-09-14 07:49] 79ho3ein opened #3969 "New mode in pagination jet smart filters plugin (Return to top after changing page)"
hello
Currently, the pagination widget settings of this plugin are limited. In this widget, there is an item that needs improvement.
In the pagination widget, when we enter a new page, we move to the top of the page as soon as we click on the page number. While the page may not be fully loaded yet.
My suggestion is to please add a feature, that when we click on another page, the full page will loa

[2021-09-14 08:54] Floydtm commented on #3954
Hi, check for an update for the plugin. The problem should go away. Thank you!

[2021-09-14 08:54] #3954 closed, assigned to nobody

[2021-09-14 08:57] Floydtm commented on #3956
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-14 08:57] #3956 closed, assigned to nobody

[2021-09-14 09:56] 79ho3ein opened #3970 "Simultaneous use of color and image in the visual filter of the jet smart filters plugin."
hello
It would be great if we could use color and image for visual filtering at the same time. At the moment, we can only use one of these two, which puts limitations on us.
For example, I was importing a color filter for store watch straps. Some of the straps were in seven colors. But it was not possible to apply the image of seven colors next to the color. And that was a big limitation.
Of cours

[2021-09-14 09:58] #3312 closed, assigned to nobody

[2021-09-14 11:07] estercg commented on #522
with those steps going correctly? then there is something I do wrong: S

[2021-09-14 11:31] Dhaump opened #3971 "autoplay to the product gallery"
It would be great if you added an autoplay to the product gallery/gallery slider (for single product templates) so that the images move by themselves within the product itself

[2021-09-14 11:32] Dhaump opened #3972 "colors of terms and conditions in the checkout"
It would be great if you could change the colors of terms and conditions that appear in the checkout

[2021-09-14 11:38] Dhaump opened #3973 "custom fields in the single product / cart page template"
It would be great if you could add the option to create custom fields in the single product / cart page template.

- For example: imagine a personalized article, which needs to write something to specify it in the variant, for example a word that is going to be engraved, on a shirt or a jewel as is my case. Ideally, a field will appear that is "comments or write your personalization here" and the

[2021-09-14 11:41] Dhaump opened #3974 "custom fields to my account"
It would be great if they could add custom fields to my account, for example:

Field of tracking numbers that are filled in by the store where each client in my account> my orders can see their order with one more column where they see the tracking number of their order and then they can copy or click on it, or a button and go to track your order to see where it is at all times

[2021-09-14 12:10] olyaastep opened #3975 "Conditional logic and comparison for booking forms"
Hello!
It would be nice to add a feature for crocoblock Jet engine and booking plugins
when creating booking a booking form for the post type, add a feature to set amount of days available for booking. As there are different travel companies that offer packages for booking like (7, 10, 21 days options available)
for example, a user (client) can choose the duration of stay in a select field (option

[2021-09-14 12:35] UraraReika commented on #3972
Thanks for the feedback.
 Please follow guidelines for opening a new [feature request](https://github.com/Crocoblock/suggestions/tree/master/.github/ISSUE_TEMPLATE), so we can help you better. Without it - it is hard for us to filter and prioritize the requests. Thank you for your understanding.

[2021-09-14 12:35] #3972 closed, assigned to nobody

[2021-09-14 13:28] user-cr01 opened #3976 "Global colors and fonts in Crocoblock templates"
When do you plan to add the functionality of being able to **change Global colors and fonts in the Crocoblock templates** and having in instantly effect the entire site?

Right now this is not working. After installing a Crocoblock template (either a design or dynamic one) and changing Global colors or fonts (in Site settings of Elemenotor editor) nothing happens.

The problem is Crocoblock templa

[2021-09-14 15:09] ohonin01 opened #3977 "JetPopup - Add speed control to entry and closing animation"
Hi dear crocoblock team,
I reached out to your support, but they told me, that there is no such feature at the moment. It really would be helpful if you could control the speed of the entry and closing animation.  In on project I use JetPopup as offcanvas menu on mobile devices. The Slide-In animation is somehow slow. It really would be great if you have more control of it

[2021-09-14 15:53] siscanu commented on #1968
The same problem with Elemente 3.4.4 and JetPopup 1.5.5.

[2021-09-14 15:54] siscanu commented on #1968
If someone knows how to solve this proble, please let us now. Thanks.

[2021-09-14 16:44] Dhaump opened #3978 "Dynamic pricing option when selecting more than one product"
*It would be nice if they added the dynamic pricing option when selecting more than one product in the single product template.
For example, there is a product that costs $ 18. You select 2 units in the counter and the total price of the two shirts appears before adding to the cart (2 x $ 18 = $ 36)

[2021-09-14 16:46] Dhaump commented on #3882
I think it refers to this ... that the total products counter will change according to the selection you make in the filter. I was also going to request this upgrade, it seems essential ...

![1](https://user-images.githubusercontent.com/90693991/133299592-407c7312-3592-4a48-982f-c10053727629.JPG)

[2021-09-14 19:59] Poklos commented on #2263
@stapolin does it work that way??
I need to display button on posts older than 2 years but i cannot figure it out how...
I used similar settings as yours but no success.

'Show element if condition is met'
Condition 'Less Than'
Field > Post Date
Value > '-2 year'
Datatype > Datetime

[2021-09-15 00:43] Lucky5111 opened #3979 "WOOCOMMERCE PAY TO POST"
Jetformbuilder has already added woo-commerce, but why not a way to post something after woo-commerce payment?

[2021-09-15 01:36] fgodineza101 opened #3980 "JetEngine: Forms: Every page break doesn't go to the top of the fields list"
**Describe the bug**
When the form has page breaks and in each step there are a few of fields. The natural movement should be that when I click the next button, the form should go to the top of the form, to continue filling. Right now, the form doesn't do that.

**To Reproduce**
Steps to reproduce the behavior:
1. In the form we have 5 to 8 fields in the first step, and in the second step we have

[2021-09-15 10:36] taidang26 commented on #1402
+1
Let's add Jetblog to the Pagination widget of JetSmartFilters
![image](https://user-images.githubusercontent.com/89138954/133418437-ea11cfd7-eb85-4a01-9962-fa2d5fb172ae.png)

[2021-09-15 11:34] 79ho3ein opened #3981 "Problem displaying Product title in Chrome browser / jet woobuilder plugin."
hello
A strange problem occurred on some of the sites I checked, which is as follows ...
When the site is fully loaded, the product title in the carousel is displayed incompletely. Of course, this problem does not occur for all products. Rather, the products on the right side of the carousel have this problem. **As soon as the mouse hovers over that product, the hidden part of the product title is

[2021-09-15 12:54] UraraReika commented on #3981
We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team. Thank you!

[2021-09-15 12:54] #3981 closed, assigned to nobody

[2021-09-15 13:09] 79ho3ein commented on #3981
Thank you

[2021-09-15 14:22] Floydtm commented on #3970
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-15 14:22] #3970 closed, assigned to nobody

[2021-09-15 14:30] Floydtm commented on #3974
Hi! I understand that this is very important for you, but we cannot implement this because it depends not only on us

[2021-09-15 14:30] #3974 closed, assigned to nobody

[2021-09-15 14:31] Floydtm commented on #3973
Hi! I understand that this is very important for you, but we cannot implement this because it depends not only on us. Right now you can add custom fields for a single product. But we will not be able to display it on the woocommerce templates.

[2021-09-15 14:31] #3973 closed, assigned to nobody

[2021-09-15 14:39] Enter-GWD opened #3982 "Jetmenu breadcrumbs"
Is it possible to make Breadcrumbs clickable.

![image](https://user-images.githubusercontent.com/23224703/133452719-b2beec1c-d09a-47c1-8a45-95238b6f8805.png)

Thanks a lot

[2021-09-15 14:40] Floydtm commented on #3978
Hi! I understand that this is very important for you, but we cannot implement this because it depends not only on us.

[2021-09-15 14:40] #3978 closed, assigned to nobody

[2021-09-15 15:04] serg-pervushin opened #3983 "JetEngine Tables Builder: sorting columns"
First of all, thank you for your work. Your modules have saved me a lot of time for the development of various kinds of sites)

Now with a new feature - Tables Builder. As soon as he came out, he was immediately needed in work. But the trouble is I couldn't find an opportunity to sort a separate column. Is this not possible now? Then should think about it. Sorting inside the table is a very necess

[2021-09-15 15:10] siscanu commented on #1968
To fix this issue, you need to use widget only from Jet Plugin. If you use a form, use jet engine form.

[2021-09-15 17:48] shopakr opened #3984 "Jet MegaMenu add Mouse Over Transition Time on Hover"
The MegaMenu Drop Down on Hover is too sensitive and always drops down when you barely mouse by it. So the Mega Menus are constantly dropping in the way. You offer a transition time for mouse out, but not mouse in.  It would be great if you could add this setting below the mouse out option, or even just some code to target this would be fine.

[2021-09-15 17:52] kugcmadushan opened #3985 "Automatically set 'Featured Image' from Gallery"
JetEngine indeed a great plugin for directory and listing websites. The feature missing there is, we have to set featured image and gallery images separately. Most themes dedicated for listing websites allows users to set images in one go and featured image would be automatically set. I am aware this can be done with coding. But, better to implement this in benefit of users who are not capable of

[2021-09-15 17:58] shopakr commented on #2249
WooCommerce Pop Up Notification option would be amazing.  Hoping to see ability to control which notifications pop-up, and a timed exit of pop-up feature. I found a third party plugin that does all of this (https://wpfactory.com/item/popup-notices-for-woocommerce/) but who wants to manage another plugin.

[2021-09-15 18:03] kugcmadushan opened #3986 "Listing Grid with several types of Listings"
I would like to suggest the options to show several types of Listings in one Listing Grid.

As an example, in some real Estate websites lands are also considered as properties. Though we can showcase Houses and Apartments in a single listing template with Number of Bedrooms and Bathrooms, the same listing template cannot be used for lands where it has different meta fields.

If somebody wants to s

[2021-09-15 18:21] jacktaffa opened #3987 "JetSmart Search: Allow to use JetEngine Listing to display result"
Can be possible to enable customization  result items on JetSearch  with Listing Settings?
In particulary when you have a CPT or a CCT  with a lot of metas that probably should be better to show on search preview.

Also, Can be possible to enable to show realtime results on a  listing grid on the page? For example if I don't want to search using JetSmartFilters because it filter's my listing grid.

[2021-09-15 18:22] jacktaffa opened #3988 "JetSmartFilters: Enable to use Listing for display filters"
Can be possible to enable listing for Select, Checkboxes, Radios filters?
It could be help for generating cool UX

[2021-09-15 18:32] jacktaffa opened #3989 "Is missing for FAQ Schema on Classic Accordion with dynamic content"
In classic Elementor accordion Widget there is toggle button that enable FAQ schema which is not in your version

[2021-09-15 19:50] 79ho3ein commented on #2249
hi @shopakr
Yes, there is currently only one plugin for displaying WooCommerce notifications as a pop-up, which is highly inefficient. Unfortunately, I am currently using this plugin and for this reason I am facing many problems.
I just hope this feature is added to jet woobuilder soon to solve a big problem. This is really needed

[2021-09-15 20:00] Lonsdale201 commented on #3852
you mean 2.9.3? :P

[2021-09-15 21:28] Lonsdale201 opened #3990 "JetSmart Filter pagination additional provider option."
In a future possible to add the additional provider option for the pagination widget?
If you use the jettabs for make variations listing option, every filter can work together, thanks to additional provider option, but with the pagination can't combination.

![image](https://user-images.githubusercontent.com/23199033/133512012-4db841f5-4d3d-4dec-a394-830c420b7c97.png)

[2021-09-15 21:53] nreljed commented on #3985
The following code makes the first photo in the gallery the featured image of the post. I already use it actively
[code]

More than that, this question has been posted and seen and needs a more than a simple featured image or drag and drop uploader
it's about creating a real super smart uploader for forms, which takes over on basic wordpress upload way and understands what happens when the user ha

[2021-09-15 22:18] eSilverStrike opened #3991 "Make JetTricks Unfold Widget Accessible"
This issues is similar to #2381

With increased need for WCAG compliance worldwide, it is necessary that buttons be accessible from the keyboard like the one from the Unfold Widget. Currently I can hit tab on the keyboard and select other buttons, links, and menu items on my Elementor page but the unfold button is skipped and cannot be selected by hitting tab on the keyboard

There may also be oth

[2021-09-16 06:55] Floydtm commented on #3982
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-16 06:55] #3982 closed, assigned to nobody

[2021-09-16 07:15] Floydtm commented on #3983
Hi! There is no such function in tables right now. However, you can use the sorting widget from the jetsmartfilters. But this will apply to the whole table.

[2021-09-16 07:32] wpler opened #3992 "JetElements Line Chart - Min Scale Axis Range missing"
At the moment it is already possible to insert a "Scale Axis Range" - but it is only for the maximum number for the scale. It would be nice if it would be possible to split this field into two fields "Max Scale Axis Range" and "Min Scale Axis Range".

The new feature would make it possible to make small movements of the chart more visual. For example if a price develops from 63.000 Euro over 64.00

[2021-09-16 07:41] #3370 closed, assigned to nobody

[2021-09-16 07:48] comicscorner commented on #3179
the caching of query builder is very userful  but prevent the use of qb when "live" data are needed and object cache is in use (example, use for a custom content type the user can update not refresh cache in certain situation or when macros are used as where clause cause issues using Memcached)
i think the simplest solution is to let choose if the query results will be cached or not when the query

[2021-09-16 07:49] Michaelgimii opened #3993 "Jet smart filters plug-in filters do not work on elementor pop-up."
Please make the filters of this plugin compatible with elementor pop-up. This is extremely important. I hope this feature will be added soon.

[2021-09-16 08:23] lifeact commented on #852
Добрый день! Появилась такая же необходимость.  Будет ли добавлен функционал? Если да, то какие примерно сроки.

Спасибо

[2021-09-16 09:08] Floydtm commented on #3990
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-16 09:08] #3990 closed, assigned to nobody

[2021-09-16 09:18] Lonsdale201 commented on #3990
I completely understand.  And thank you if you will come back to this question later. ^^

[2021-09-16 09:36] Medeon-68 opened #3994 "JetFormBuilder - Not compatible with RankMath SEO"
Rank Math SEO is broken on a single Product page, WooCommerce.

https://ibb.co/2yTvgQh
https://ibb.co/LY9LjHY

[2021-09-16 10:34] JuanCar29 opened #3995 "jetwoobuilder compatible with individual elementor product"
### jetwoobuilder
When you create an individual product template in elementor, the jetwoobuilder widgets don't appear. They only show up if you create it with woo page builder. It would be nice if they added the possibility of working in individual product with elementor.

[2021-09-16 10:50] JuanCar29 opened #3996 "woo page builder, cart template"
In the woo page builder cart template. In the cart table widget, in the style of table cells. The update cart button is aligned with the content of the cells, if you change any alignment.
![Captura de pantalla 2021-09-16 a las 12 45 26](https://user-images.githubusercontent.com/90837626/133599478-4afa88d1-6e3a-459a-a64c-d25498ee1c6c.png)

[2021-09-16 11:43] Lonsdale201 opened #3997 "Elementor pro 3.4.1 (latest update) + JetSmartfilter bug"
**Describe the bug**

After update the Epro to the latest version (3.4.1), the JetSmartfilter label have a small bug.

**To Reproduce**
Steps to reproduce the behavior:
1, Create two, or more similar filter type, like checkbox, or select filter.
2, Add this filter in one type of widget :: sample image :: https://prnt.sc/1sfc27f

**Problem**

Now all of filter label show the same, (the first), and

[2021-09-16 12:25] Floydtm commented on #3995
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2021-09-16 12:25] #3995 closed, assigned to nobody

[2021-09-16 13:35] efrat-eyal commented on #2567
@nickkask did you find a solution for this?

[2021-09-16 13:40] efrat-eyal commented on #631
+1

[2021-09-16 13:47] #2818 closed, assigned to UraraReika

[2021-09-16 13:47] #3652 closed, assigned to UraraReika

[2021-09-16 13:47] #3732 closed, assigned to UraraReika

[2021-09-16 13:47] #3768 closed, assigned to UraraReika

[2021-09-16 13:47] #3774 closed, assigned to UraraReika

[2021-09-16 13:48] #3828 closed, assigned to UraraReika

[2021-09-16 13:48] #3876 closed, assigned to UraraReika

[2021-09-16 13:48] #3904 closed, assigned to UraraReika

[2021-09-16 14:15] 79ho3ein commented on #3996
+1

[2021-09-16 14:32] nreljed commented on #3993
#3865

[2021-09-16 14:42] JuanCar29 opened #3998 "widgets jetwoobuilder, elementor template single product"
### jetwoobuilder
It would be nice if the individual product jetwoobuilder widgets could be used in the elementor product template. I see that they can only be used on the individual page of woo page builder.

[2021-09-16 14:49] odaPuppy commented on #2745
This is also a vital functionality for me. Please realize it as soon as you can! Thank you!

[2021-09-16 14:54] odaPuppy commented on #1752
I also need this feature! To anyone else on this thread, have you found a workaround for now?

[2021-09-16 14:59] Floydtm commented on #3882
Unfortunately, we will not be able to implement this, since it depends not only on us, but also on the woocommerce. From our side, you can implement all this with the jetengine plugin. You can contact our support team, the guys will help you. Thank you!

[2021-09-16 14:59] #3882 closed, assigned to nobody

[2021-09-16 18:54] tizum opened #3999 "JetEngine - Taxonomy Search"
Hi I would like to suggest a feature for taxonomies, I would like to have an option to enable a search filter with ajax in the backend (WP Admin).

This custom category created with jetEngine has more than 70 entries, it's really bad to search without a filter, since I have to register several entries, and the system is updated every week.

![image](https://user-images.githubusercontent.com/677349

[2021-09-16 19:02] adimaster89 commented on #3914
+1

[2021-09-16 19:27] nreljed opened #4000 "✨[Jetsmartfilters] be smart.. be conditional filters"
before you start .. look at these animated gif

![dream home](https://user-images.githubusercontent.com/82481592/133658926-4dbaf598-42f6-45eb-b449-cd20946f9419.gif)

![remax](https://user-images.githubusercontent.com/82481592/133658957-fb4ad536-fbb0-4a46-bbd4-04901c322a40.gif)

![remax type ](https://user-images.githubusercontent.com/82481592/133659244-b88d6105-ed75-4c1b-b8ba-64aa77f3456a.gif)

[S

[2021-09-16 19:35] MrTyree commented on #4000
Can you not create 2 filters then use Jettabs to display them?

[2021-09-16 19:36] DmitryBychenko opened #4001 "Add JetEngine (Form Builder) - SendFox integration"
Please, add JetEngine (Form Builder) - SendFox integration.
SendFox is an email marketing service.

The idea is to create a subscription form with JetEngine Form Builder, and add subscribers to SendFox.

[2021-09-16 21:16] nreljed commented on #4000
@MrTyree
no it's not a simple story of Jettabs or any design
it about conditional filters and display result / no result
a condition or several precise conditions display other filters which themselves are linked to other conditions .. the possibilities are unlimited
This opens the door to several types of uses for more advanced projects
as in our example build a remax like website

[2021-09-16 22:10] 79ho3ein opened #4002 "Loading capability in the Add to Cart button / jet woobuilder plugin"
It would be great if you add the loading feature to the shopping cart button. This feature greatly enhances the user interface.
![20210917_022930](https://user-images.githubusercontent.com/77163248/133691898-8c59ee85-cdfd-4334-a79f-5da3d6c1efda.jpg)
Currently, when the user clicks on the Add to Cart button, he does not see a response to understand that his request is in progress.
This case is well

[2021-09-16 22:48] MrTyree commented on #4000
@nreljed i understand and I agree. I was really making mention of immediate semi-solution. Not too compared to the complex you’re talking about. I hope to see this feature added to this awesome setup of plug-ins. 👍🏽

[2021-09-16 23:52] jurijboni opened #4003 "Possibility to choose the aspect ratio of the dynamic image"
**Please, describe the feature request, making it clear to understand.**

Hello,
I would like to request a function that I think is very useful. When I create a listing with jet engine, it would be useful to be able to choose the aspect ratio of the dynamic image. This feature is present for posts and ensures that all images are the same size. This allows for a better layout. Now in order to have

[2021-09-17 00:30] nreljed opened #4004 "[Listing Grid 2.0] (Part 2) Elementor Route"
It's not fair to think of only one solution...
there may be a way to solve the problem otherwise ..
so here is the elementor route

![elementor way](https://user-images.githubusercontent.com/82481592/133705237-4848ecf7-e896-47c7-a4ae-852af841f688.jpg)

This route may be easier to set up.
it remains to be seen if it really improves fluidity, performance and efficiency in the display of listings on

[2021-09-17 07:34] chrispx001 opened #4005 "JetEngine > Forms > Notification Settings - Create / Select Template with Variables"
The Jetforms plugin / options are great, however the notification system is still similar to most others and does not allow for anything other than HTML or text only. Could you please consider adding functionality similar to this plugin: https://www.dynamic.ooo/widget/dynamic-email-for-elementor-pro-form/

It allows you to create a template within Elementor with any variables used within a form i.

[2021-09-17 07:38] Jackal-un opened #4006 "user_id feature (new computed fields) in JetFormBuilder also in CCT submit action"
When an unregistered or not logged in user sends a frontend form with both "register user" and "insert/update post" as submit action, his new user id is printed via user_id in the post as author.

Very handy, because now the new post is directly linked to the new author. Which makes it more friendly for the user to fill out and send only one form.

This is fine with a custom post type, but not yet

[2021-09-17 08:00] chrispx001 opened #4007 "JetEngine > Profile Builder > Advanced: Dynamic Limits to Post Qty"
I'm not sure if this "advanced" section is the correct place to implement this, but as its there now I thought best to reference it in this feature request.

In simple terms, it would be ideal to allow the quantity of posts allowed to be posted (for each CPT) to be on a "per user" basis instead of a "user role" basis if possible and also for those values to be dynamically set.

For example, for a

[2021-09-17 08:53] 79ho3ein commented on #3998
+1

[2021-09-17 09:23] xitromedia opened #4008 "JetFormBuilder - DOI double opt-in feature"
The JetFormBuilder plugin should have a double opt-in feature for registering and updating users, and maybe for other post submit actions too. To do a double opt-in check for some user actions with privacy related data is mandatory in many countries. Especially in germany the law concerning that is very strict.

Maybe it would be helpful to have this feature also for other post submit actions, to

[2021-09-17 14:10] StevenVanWingerden commented on #3983
+1 to sorting tables functionality

[2021-09-17 14:12] StevenVanWingerden opened #4009 "Ability to create submenu (Profile Builder Menu)"
Hi,

I would really like a feature for us to be able to create submenus within Profile Builder Menu. For example, right now I have created this menu, with Workshops, Locations and Organisators. I have created "Add workshop" but I would like it to be a submenu item of main menu item Workshops

![image](https://user-images.githubusercontent.com/39831934/133797059-3a0cadac-d5b2-4541-93e3-565e1bbec94a

[2021-09-17 14:25] gauravD3opa opened #4010 "Add current post to data store on form submission."
Hi there,
I would like to request a feature to the forms in Jet Engine so that it has a submit action to add the current post id to the user's data store.
For example, I have a custom post type 'Job', I want that whenever a user applies for a job using a form the job gets added to that user's data store 'Applied Jobs'.It would be awesome if it could be done through a form submit action.
Alternativ

[2021-09-17 15:07] yasirshabbirservices opened #4011 "Sale downloadable products using listing items checkout system with jetform builder"
I want to sale downloadable products using listing items and checkout system with jetform builder. Same like woo commerce downloadable products

[2021-09-17 21:44] azkalex opened #4012 "JetTabs - Tabs adaptive content height"
Make JetTabs' Tabs content height adaptive from one tab to another like the testimonials widget from JetElements. There are cases when templates are used for each tab and when a template has a bigger height than the other one in the other tab, it creates a double scrollbar because it keeps the height from the first tab template.

Thank you.

[2021-09-17 21:49] Michaelgimii commented on #3146
hello @Floydtm , Is there a time for the release of this feature?

[2021-09-18 07:25] pravinlpatel commented on #2109
still it is pending

[2021-09-18 08:35] zir4k opened #4013 "Set Jalali Calender On booking form"
hi every body,
in a project we want to use jalali calendar on booking form setup by jet plugins ,we trying to install & use many persian date plugins for translate date but that's not work & and just published date on posts & front has been changed to persian date not datepicker on form , please give us help for resolve this problem ❤

[2021-09-18 12:50] 79ho3ein commented on #4013
+1

[2021-09-18 16:58] uiliw commented on #1225
Any news?

[2021-09-18 22:18] 79ho3ein opened #4014 "Display discount percentage on variable products / jet woobuilder plugin."
hello dear @UraraReika, good time.
I apologize for making this request again.As you know, the discount percentage on variable products is displayed as a range.For example (10% - 3%). I called the support team and they said there is no way to solve this problem right now.
I saw a site whose variable products did not have this problem.
In this way, in the carousel of products, the lowest percentage

[2021-09-19 06:15] thoknuts commented on #389
kaskad88 - How is it possible to interpret this essential request of random POSTS into random Numbers of posts??
TS does not mention random numbers at all. ( And I can't think of a single use case where random post numbers has any use.)

Really need to display Random posts ( As Elementor Pro  has)

PLEASE OPEN THIS THREAD AGAIN - AND DO IMPLEMENT THIS

[2021-09-19 10:14] Allybie opened #4015 "Create a chat"
Hi,

I'm creating a website where users can communicate with each other. So It would be great if we can create a chat or direct messaging with JetEngine.

Thanks in advance

![chat-module](https://user-images.githubusercontent.com/90770436/133923714-e745d6df-4fb0-4b6e-b4b9-0a00e476f7f7.png)

[2021-09-19 11:24] kaskad88 commented on #389
@thoknuts to display random posts use this options https://prnt.sc/1000bu9 as mentioned above in the comment

[2021-09-19 11:27] kaskad88 commented on #389
@ALPSIT to display random CCT items use this options https://prnt.sc/1sthlg7

[2021-09-19 14:32] Ilyagurm commented on #2227
This would be super useful

[2021-09-19 16:09] JackobStuard commented on #2355
Hi devs, @Crocoblock @MakhonkoDenis

Is there any update for this feature? Status is "in work" for more than 8 months?
I see that is possible to use external API from big companies like Booking.com https://developers.booking.com/api/index.html, Airbnb https://www.airbnb.com/partner to make good sync between JetBooking and other calendars!
I hope that will be implemented soon, I think that all user

[2021-09-19 16:14] JackobStuard commented on #3455
Hi devs, @Crocoblock @MakhonkoDenis

Is there any update for this feature?
I hope that will be implemented soon, I think that all users want this feature to have on JetBooking :)

Thanks!

[2021-09-19 16:18] JackobStuard commented on #4015
+1

[2021-09-19 17:11] leo-ay opened #4016 "JetEngine Relationship + WPML - code suggestion"
**Describe the bug**
I'm experiencing an issue with the Relationship fields and WPML.
I have created a custom callback that solves the issue.

**To Reproduce**
I have 2 different setups for relationships.
In one, whenever a page is translated, all the translations are automatically added to the relationship field.
In front end, all the versions are displayed simultaneously, independent of the curr

[2021-09-19 20:40] azkalex opened #4017 "JetWooBuilder - Ability to hide JetWooBuilder widgets if there is no value"
Please add an option to hide the widgets used on Single product pages like the Dynamic Fields in JetEngine.

![image](https://user-images.githubusercontent.com/60075863/133942322-d4984474-0cb8-4f1a-b128-43c783131cec.png)

This would allow for more complex layouts where the widgets get displayed only if the user inputs values in the product details.

![image](https://user-images.githubusercontent.c

[2021-09-20 00:36] rmilani2001 commented on #1265
Trying out the release for the negative numbers and not seeing the filter work with negative numbers yet. Positive numbers are working within the same filter, but when sliding to negative the numbers aren't responding. Note I'm using JetEngine Metaboxes for the fields. Field Type is Number. Other ranges are working:

"By Turn"
https://dgdstage.wpengine.com/discs/

<img width="1578" alt="Screen Sho

[2021-09-20 05:28] adr9901 opened #4018 "JetTabs Tabindex attribute ruins accessibility"
The JetTabs widget pointlessly has a tabindex attribute placed in it. This ruins keyboard navigation accessibility because it causes the page to jump down to JetTabs when "tab" on the keyboard is used - instead of following the natural order of the page.

[2021-09-20 06:23] UraraReika commented on #4014
Hello @79ho3ein !

Use this snippet https://gist.github.com/UraraReika/5e944f13d166ec9457698922272197ce.

[2021-09-20 06:23] #4014 closed, assigned to nobody

[2021-09-20 07:14] 8verstudio-Chua opened #4019 "Add "Clear All" button in compare table (Jet CompareWishlist)"
Please help to add a "Clear All" button in the compare table. Instead of removing the added compare item one by one, a clear all button to remove all added items at once is more convenient
<img width="1405" alt="Screenshot 2021-09-16 at 10 40 52 AM" src="https://user-images.githubusercontent.com/75621599/133967441-a4c96865-dfc9-4ab5-94b9-1be9e0bba305.png">

[2021-09-20 08:12] MartyFly opened #4020 "Dynamic Table Builder - Responsive Headers"
My request is for table headers to have a responsive option to stack the table vertically on mobile. So a table becomes 2 columns on mobile, headers on left and data on right, repeated for each row. Screenshots attached
![desktop](https://user-images.githubusercontent.com/58514779/133973060-3574907e-94cc-4759-9e10-e67d97bce397.png)
![mobile](https://user-images.githubusercontent.com/58514779/13397

[2021-09-20 08:56] creativetoria commented on #1452
I would love to see this feature also. Recurring events.  I have the same issue.  I would like to use Jet Engine for events that happen all the time, like Classes.

[2021-09-20 10:08] slaakk commented on #12
+1

I'll pull the trigger on the refund; JetEngine is great but this kind of functionality is basic.

[2021-09-20 11:36] 3spirit commented on #1103
Hello Croco team! What can we do to make you implement this feature ? It is very commonly used and requested almost for every client project. Thank you!

[2021-09-20 11:44] kugcmadushan opened #4021 "JetEngine Post Expiration"
Appreciate anyone could assist on this !

JetEngine is an awesome plugin for listings. I am a non - developer and thanks to this awesome plugin I am creating listing websites so easily. Something I could not figure out is a way for post expirations.

There is a tool under Dev tool and I have no idea hot it should be setup. Unfortunately not a single video on this available. Further, I posted the i

[2021-09-20 12:13] JuliaKiselyova commented on #4021
The option will work for the newly-created posts. The old ones that were added before you uploaded the new version of the addon won't work. Example:
In the ADD new Post Form, you will have a new option https://prnt.sc/1syhko2. Here you can decide whether to move this post to trash or to draft.
So all you need to do is to create an Add Post form and check this option there:)

Let me know if you hav

[2021-09-20 12:14] esseffraw commented on #2543
I really really need this feature! I build a site for a doctor client, and he use Google Calendar to manage his time. Please add this function, and JetAppointment will be the most powerful appointment plugin in the market!

[2021-09-20 12:33] daniele77ba opened #4022 "JetBooking - Units Available or book 2 or more units at the same time"
Hi,
I'm working on a bike rental site, one of the JetBooking limits is that I can't rent 2 or more bike at the same time, so if a couple would like to have a tour they must use the form twice with the risk that the second one isn't available!

[2021-09-20 12:50] Lonsdale201 commented on #4008
+1

[2021-09-20 12:52] Lonsdale201 commented on #2269
#4009

[2021-09-20 13:48] lcm-9 opened #4023 "Aria Labels"
Have to ability to add an ARIA-Label to buttons in the JetEngine listings that pulls the post title or similar content.

[2021-09-20 14:07] conradnoah opened #4024 "Nested Repeater for jetengine"
It would be great if you could allow for nested repeaters like they do in advanced custom fields. There is many use cases I have looked for this solution and it will make the jetengine plugin much better.

[2021-09-20 14:55] DenoBeno1 commented on #2543
I don't understand how they didn't implement this from the beginning. This feature is fundamental, but sadly i don't see a lot of innovation in crocoblock and their plugins. They built a basic framework, but most of their functions aren't enough for professional business.

[2021-09-20 15:16] nreljed opened #4025 "[Jetengine] Dynamic tags >number field"
I regularly find myself in a situation where I am dependent on the dynamic field widget to display formatted fileds number..

This situation is not comfortable nor ideal,
Especially when you simply want to display formatted numbers in other widgets or solutions that support dynamic tags

in logic of things it is necessary to extend the support of jetengine dynamic tags and add the number field

as

[2021-09-20 15:22] nreljed commented on #4024
#3514

[2021-09-20 16:30] 79ho3ein opened #4026 "Normal , hover and disable mode, in the product grid widget / jet woobuilder plugin."
hello, Thank you for the new update.

Prev Arrow Position and Next Arrow Position are now excellent. **But it would be great if you add Normal , hover and disable mode to these two sections.**
![Screenshot (153)](https://user-images.githubusercontent.com/77163248/134038900-2cb79c1a-a5d8-4b8f-b5fa-ba32b8badc56.png)
Currently, if we use Prev Arrow Position and Next Arrow Position, we have no control

[2021-09-20 17:03] leo-ay commented on #1359
+1

[2021-09-20 17:35] jrtimms1278 opened #4027 "Add option to show Title on Image Accordion without having to hover"
![Screen-Shot-2021-09-20-at-12 31 49-PM](https://user-images.githubusercontent.com/63506521/134047859-24cd468e-9de3-477b-9543-dfb2b4f4d8f9.jpg)

Would it be possible to add the ability to include a Title overlay without having to hover over an item?

[2021-09-21 02:45] azkalex opened #4028 "JetWooBuilder - JetTabs - Pagination issue"
Hello, the pagination widget inside the JetTabs widget as a template doesn't work.

1. Create a page
2. Add the JetTabs Tabs widget
3. Create an Elementor template
4. Add the JetWooBuilder Product Grid widget
5. Add the Pagination widget below selecting the pagination for JetWooBuilder Product Grid and save it
6. Go back to the page where the tabs are, for one of the tabs select the newly created

[2021-09-21 05:44] UraraReika commented on #4026
Hello @79ho3ein !

This types of controls will not be added.

[2021-09-21 05:44] #4026 closed, assigned to nobody

[2021-09-21 06:24] UraraReika commented on #4028
We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team. Thank you!

[2021-09-21 06:24] #4028 closed, assigned to nobody

[2021-09-21 06:55] #4021 closed, assigned to nobody

[2021-09-21 07:53] 79ho3ein commented on #4026
thank you

[2021-09-21 08:52] mattyboy17 opened #4029 "Create a "Referrer" Form Field / Create a Macro for Referer HTTP in Emaill Notification"
It would be super helpful if (hidden) fields in Jet Engine forms could pre-populate (be pre-set) with the URL the user/lead came from before submitting the form.

Users can do this in WP Forms by adding a hidden field and inserting the "url_referrer" smart tag.

An alternative solution would be to create a Jet Engine macro that inserts the referrer HTTP URL into a form's email notification.

Hopin

[2021-09-21 10:08] JuanCar29 opened #4030 "Checkout billing form, jet woobuilder"
After installing the WC - APG plugin NIF / CIF / NIE field that adds a field to the checkout.
It only shows it if I deactivate the modify fields of the checkout billing form widget. If I activate it, I can't add it. I command the captures.
![Captura de pantalla 2021-09-21 a las 11 59 36](https://user-images.githubusercontent.com/90837626/134152649-6708330e-ae68-47d1-a96a-98d44f03737b.png)
![Captur

[2021-09-21 11:13] UraraReika commented on #4030
Please follow guidelines for opening a new [bug report request](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/bug_report.md), so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests. Thank you for your understanding.

[2021-09-21 11:13] #4030 closed, assigned to nobody

[2021-09-21 12:29] ghost commented on #3943
We solved with a custom ajax snippet, i can share it with those interested but it's very rudimental and in testing phase

[2021-09-21 12:32] UraraReika commented on #3794
This issue has been closed due to inactivity. If this issue is still actual, please, create the new one.

[2021-09-21 12:32] #3794 closed, assigned to SargasTM, UraraReika

[2021-09-21 13:05] azkalex commented on #4028
![image](https://user-images.githubusercontent.com/60075863/134174971-9e173922-a67f-4f93-a425-2a086deaae1e.png)

![image](https://user-images.githubusercontent.com/60075863/134175087-26713437-e6bd-4a4f-903f-5cfb382405d6.png)

Adding a query ID to widgets results in no pagination shown at all anywhere, not even in the ones that are not in tabs. Can you attach your working template?

[2021-09-21 13:13] UraraReika commented on #3971
Hello @Dhaump !

For additional options like slider autoplay we provide filter hook `jet-woo-product-gallery/slider/options` so you can add any option you want according to [official documentation](https://swiperjs.com/swiper-api) .

Here is example:

[code]

[2021-09-21 13:13] #3971 closed, assigned to UraraReika

[2021-09-21 13:46] ofmarconi commented on #3574
https://github.com/Crocoblock/suggestions/issues/2890

Here I request only the addition of tags as on the days of the week, so it would be possible to translate via CSS even.

Did you find any other solution?

[2021-09-21 14:24] AliSMT opened #4031 "Connected users to be able to register other users from a front-end form"
Hi,
I would like connected users to be able to register other users from a front-end form (accessible from my account space for example). I created a form and I configured the notification "Register new user" however it does not work when a user is connected, after several tests, it only works when no user is connected.

This is not possible because by default WordPress doesn’t allow registration

[2021-09-21 14:36] Micheldebo commented on #1967
I want this!

[2021-09-21 14:48] nreljed opened #4032 "[Listing Builder 2.0] Jetengine how to fix DOM eternal problem"
this post is part of the post series to explore new ways to work and optimize the rendering of jetengine listings which themselves are linked to other plugins like jetsmart and jetwoo and others. the profit will be 100% everywhere

the idea is to illustrate in a simple way globally what is wrong today with jetengine listing grid and listing with elementor,
and what are the possible ways to improve

[2021-09-21 16:26] Sayeed1440 commented on #1246
+1

[2021-09-21 16:46] ctnei opened #4033 "Hability to customize order of My Favorites data-stores lists"
Example to clarify my suggestion.

Imagine a DATA-STORE with My Favorites Songs from 80's & 90's. Now, the user has (for example) 10 songs previously added to "his Favorites" and now... he wants to organize the list setting his OWN LIST in a customized order (easily in a drag and drop way).

I invent it (the solution) thinking that... maybe... if data-store array could be reformatted to be as some

[2021-09-21 16:49] nreljed commented on #4031
[#3080](https://github.com/Crocoblock/suggestions/issues/3080)

[2021-09-21 18:35] Giulioski80 commented on #2726
I found out right now that this feature is missing making the plugin useless.
Would be great having it. I'm working on a project but without it I need to find different way to make it.

[2021-09-21 20:02] Giulioski80 opened #4034 "Seasonal prices per room"
I love Crocoblock plugins however while planning to build a rental apartments site I found out that the seasonal prices feature is missing that makes the plugin useless as I can't set the very same price 12 months per year. A room can't have the same price in low and high seasons. The one day or week option is not working for any of the sites I need to work for.

[2021-09-21 20:11] Giulioski80 commented on #1818
I have tried too, changed ID but it isn't working. How sad a plugin made for bookings missing such an important feature.

[2021-09-21 20:31] julianohammerle commented on #3384
Same problem around here.
If I apply the color directly to the element, it loads the style correctly. Otherwise, via custom field, it does not load.

[2021-09-22 00:32] jrtimms1278 commented on #4027
I've figured out a way to do this:

https://nine8seven.com/

[2021-09-22 06:35] slobodandzebo commented on #1818
Can you wrote your steps what you did, so I can help you. Also give me a link to website you are trying to do. Best regards

[2021-09-22 06:36] slobodandzebo commented on #1818
Can you wrote your steps what you did, so I can help you. Also give me a link to website you are trying to do. Best regards

[2021-09-22 08:40] Floydtm commented on #4031
It's available right now https://prnt.sc/1t7j7rz

[2021-09-22 08:40] #4031 closed, assigned to nobody

[2021-09-22 09:01] satomiao opened #4035 "Make Jetengine Listing Grid (Gutenberg Editor) compatible with JetPopUp"
Currently the popup can only be attached to the widgets inside the listing grid when Elementor Editor is used.

Please consider to make popup to be able to attached to the **blocks** and make the **Jet Engine Listing popup** feature is compatible with Gutenberg Editor.

[2021-09-22 09:14] UraraReika commented on #2919
I merged this issue with #2619, which is on the same subject so we could deal with it more efficiently.

[2021-09-22 09:14] #2919 closed, assigned to UraraReika

[2021-09-22 09:27] AliSMT opened #4036 "User can delete from the front another user"
Hi,
It would be great if it is possible for an Administrator user (or another role that could be chosen) to delete from the front (for example his account space) another user with the author role (or another role that could be chosen). This could be done in the same way that a CPT removed it from the front

[2021-09-22 10:17] heidi-fagerland opened #4037 "JetEngine Rest API sorting"
I devoloped a listing and used rest API to put it on two different pages. It worked smooth. Intil I realised that I can't sort/order it by terms.

It worked fine with CCT on the page. But not with the Rest API when I use it on another site.