[2022-06-10 14:31] MjHead commented on #5246
As for now you can do this from the codewith hook:
[code]

[2022-06-10 14:31] #5246 closed, assigned to MjHead

[2022-06-10 15:04] MjHead commented on #5287
Tested with Hello theme, Astra and GeneratePress in 3 different browsers - can't reproduce the issue

[2022-06-10 15:04] #5287 closed, assigned to MjHead

[2022-06-10 15:31] scott7414 commented on #5246
Awesome thanks.. Do you have a rough ETA n that update?

On Fri, Jun 10, 2022 at 9:27 AM Andrew Shevchenko ***@***.***>
wrote:

[2022-06-10 16:40] hamed-azimi opened #5485 "Ajax add-to-cart for Listing Grids"
I have the "Enable AJAX add to cart buttons on archives" option enabled in Woocommerce.

Then I created a listing using JetEngine for products, and then customized the Shop and Product Categories page using Elementor, and used Listing Grid to display the Archive of products.

Now, when I visit the /shop page or any product category page and I add a product to the cart, it still redirects to the pr

[2022-06-10 18:12] PPharma commented on #5485
Please add this.

[2022-06-10 19:17] EquilibriumTechx opened #5486 "Ability to Combine Two or more fields into One Field"
HI,

I would like to suggest this, to add a jet engine capability to combine 1 or more fields into one field with a separator of choice, for example " , / | or & + - " and to display them on another field example

text Field 1 = 12345
text field 2 = 90866
Seperator of choice = ,
text field 3 = 12345,90866

This is really helpful

[2022-06-10 21:28] simonvanoordt commented on #5485
This is essential for any JetEngine product listing

[2022-06-11 08:30] Bertnick1 opened #5487 "Single share icon widget"
I wanted to ask for the possibility of a widget to have a single share icon that would enclose all the other social share icons. I am attaching a screenshot of what I mean. In this way, more minimal layouts could be created.
This icon should then have the function of sharing the links of the inherent Custom Post Type.
![Cattura1](https://user-images.githubusercontent.com/72300193/173180164-b86e56c

[2022-06-11 09:52] lifeact commented on #5485
+1

[2022-06-11 09:56] machachen commented on #5486
Agree. It would be a really powerful. I now just do the calculation outside and add an extra custom field to the post type.

[2022-06-11 14:04] madhukarchopra commented on #2604
+1. This is really needed. I want to filter posts by custom met fields of custom taxonomy.

[2022-06-11 19:56] Lonsdale201 commented on #5486
https://crocoblock.com/knowledge-base/articles/jetengine-devtools-calculated-callback-addon/

[2022-06-11 21:30] davidwatkins2 commented on #4994
I agree and please add features like Modern event calendar, especially the bar code in email filter. https://webnus.net/modern-events-calendar/features/

[2022-06-11 22:10] Michaelgimii commented on #5485
+1

[2022-06-11 23:54] #5082 closed, assigned to girafffee

[2022-06-12 02:02] EquilibriumTechx commented on #5486
Yes this works for front end and it's to calculate and stuff, I'm referring to back end jet engine section and just to combine fields with a separator, not to calculate

[2022-06-12 08:29] robnicol opened #5488 "JetEngine - Calendar widget"
Looking at the possibility to utilise the Calendar widget to display a range of available days based on 2 User meta fields with start / end dates. A simple colour block on all days in the range would work - maybe displaying 3 months at a time, with a calendar widget on the individual User profile page so all dates would be dynamic, based on the user's own input.

Another option would be to have se

[2022-06-12 08:36] 79ho3ein commented on #5485
+1

[2022-06-12 11:21] zahnd opened #5489 "Change in CCT fields with "has single page" option enabled doesn't update related page/post"
**Describe the bug**
Changing the title field of a CCT with the option "has single page" enabled, doesn't update the title field of the related/connected post/page. It seems that after the initial creation of the connected post, the values of the post won't be updated if the CCT is changed afterwards.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a CCT with the option "has single pa

[2022-06-12 18:50] hamed-azimi opened #5490 "Submit the form by hitting Enter key on keyboard when the form uses Ajax"
Upon my communication with the agents/devs in Crocoblock, this was what I received:

----------
In JetFormsBuilder, Enter key won't work for forms with AJAX Submit type, because the action button has attribute type="button", but with "reload page" it has the type="submit". Button won't submit the form on its own. It is a simple button that is used to perform some operations by using javascript.
--

[2022-06-12 20:10] PPharma commented on #5490
+1

[2022-06-12 21:22] Michaelgimii opened #5491 "Custom icon for filters > search"
**Please, describe the feature request, making it clear to understand.**

In some filters, such as checkbox, visual, radio, etc., it is possible to display the search box : https://prnt.sc/HgJucurwD_eA
Everything is fine. Unfortunately, it is not possible to insert a custom icon for the delete icon : https://prnt.sc/6C0oBL-kpq_s

Please add this feature. is Very useful @Floydtm

[2022-06-12 21:33] 79ho3ein commented on #5360
hi @Floydtm. I apologize for bothering you ...

I wanted to ask, are you aware of this bug? Were you successful in reproducing it? Do you have a plan to fix them in the next version?

Let me just add one point to the above ...

[Counters](https://prnt.sc/cLGgtuZBqmx4) are out of alignment due to the [line height](https://prnt.sc/_X_-lbclJK4n) of the font. (While this was not the case before.)

Tha

[2022-06-13 06:58] Floydtm commented on #5483
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue. https://prnt.sc/q1R3YgPuOzov

[2022-06-13 06:58] #5483 closed, assigned to nobody

[2022-06-13 07:27] UraraReika commented on #5485
Hello @Dadparvar !

Please specify, what exact widget you use to add products to cart in Listing?

[2022-06-13 07:40] UraraReika commented on #5481
I merged this issue with [#5475](https://github.com/Crocoblock/suggestions/issues/5475), which is on the same subject so we could deal with it more efficiently.

[2022-06-13 07:40] #5481 closed, assigned to MakhonkoDenis, UraraReika

[2022-06-13 09:17] TheBigBanik opened #5492 "Jet smart fiters and ACF checkboxes"
Hi, after those years using the jet smart filters I am really dissapointed that there is no compatibility with the ACF checkboxes and radio meta fields. Unfortunately, there are many reasons to use ACF met fileds instead of Jet engine's. The first is the way that Jet engine handles the database, it can read only latin characters so I, that I am writting in greek, cannot use them to filter in the f

[2022-06-13 09:27] olpo24 commented on #2647
+1

[2022-06-13 10:22] martinsober commented on #4000
Did you figure it out? Want to know aswell!

[2022-06-13 11:09] Crocoblock commented on #5447
Will be available in future updates

[2022-06-13 11:09] #5447 closed, assigned to Gawuww

[2022-06-13 11:37] Crocoblock commented on #5450
Will be available in future updates

[2022-06-13 11:37] #5450 closed, assigned to Gawuww

[2022-06-13 12:01] MichaelaKubasova commented on #5417
Is it possible to create compatibility with a plugin that approves users? Because we will allow users to log in only after approval of the registration, but on the map and in the list they will appear immediately. Or is it possible to create it directly in Jetengine?

[2022-06-13 15:34] hamed-azimi commented on #5485
Hi @UraraReika

I'm using the default add-to-cart widget included in Elementor itself:
https://ibb.co/xhM6TKc
https://ibb.co/31H1Dn3

[2022-06-13 15:45] lifeact commented on #5485
Hi @Dadparvar   Elementor PRO is bloated.... + not FREE.... Why use this trash when there are powerful croco plugins?

[2022-06-13 15:55] hamed-azimi commented on #5485
@lifeact I found that so called trash to be a better fit for my needs atm.

[2022-06-13 16:06] Lonsdale201 commented on #5417
I think this question now belongs more to JetFormBuilder. However, I'm sure it will be included sooner or later, as this is a very frequent topic, and I think the form record option was an important development of this.

[2022-06-13 16:14] Lonsdale201 commented on #5479
What bothered me about scrollreveal the last time I used it is that it plays backwards, which is not very efficient. I don't know if there is an option to turn this off since then.

[2022-06-13 17:01] lifeact commented on #5485
@Dadparvar everyone chooses their own way
Good luck bro

[2022-06-13 18:50] mindingear commented on #1157
Definitely +1, I would use it in all my projects

[2022-06-13 21:38] woofyoso opened #5493 "Classic Accordion Content Item Link"
Hi my dear Crocos,
I hope you are doing well and thanks for accepting my suggestion #5447 👍

I have another nice suggestion for the Classic Accordion.
It would be lovely and useful if you can implement an option to be able to add links on the items in the content area of the accordions.

Please see the picture below for a better explanation.
https://imgur.com/a/rKAEDFo

Thanks in advance,
And plea

[2022-06-14 07:45] MjHead commented on #4873
Option `Search in taxonomy terms` added with 3.0.0 update

[2022-06-14 07:45] #4873 closed, assigned to kaskad88, Gawuww

[2022-06-14 07:45] MjHead commented on #1352
Option `Search in taxonomy terms` added with 3.0.0 update

[2022-06-14 07:45] #1352 closed

[2022-06-14 07:46] MjHead commented on #119
Option `Search in taxonomy terms` added with 3.0.0 update

[2022-06-14 07:46] #119 closed

[2022-06-14 07:46] MjHead commented on #1183
Option `Search in taxonomy terms` added with 3.0.0 update

[2022-06-14 07:46] #1183 closed

[2022-06-14 07:47] MjHead commented on #4631
Added with 3.0.0 update

[2022-06-14 07:47] #4631 closed, assigned to Gawuww

[2022-06-14 07:53] MjHead commented on #1954
- Search hightlight and search in terms added with 3.0.0 update.
- part related to change results output is possible from the code. At the moment there is no plans significantly change it bacause it related a lot of compatibility issues.
- the part related fro eCommerce improvements is in the roadmap for the 3.1 and 3.2 updates (maybe not exactlyy all the things but most of them)

[2022-06-14 07:53] #1954 closed, assigned to kaskad88

[2022-06-14 08:01] MjHead commented on #2679
At the moment implemented the ability to add into the search results posts which has terms with search query. We'll consider an adding taxonomy terms itself into the search results (instead of posts, optionally)

[2022-06-14 08:01] #2679 closed, assigned to kaskad88

[2022-06-14 08:35] HerbertVdP commented on #25
Hi all,

Why is this not available in the case of pulling meta data? This would be helpful to limit the amount of either words or lines of text based on a custom text field.

Kind regards, Herbert

[2022-06-14 09:05] Floydtm commented on #2705
Hi! It looks like this bug has been fixed for a long time. If you have a problem with this, please let us know.

[2022-06-14 09:05] #2705 closed, assigned to kaskad88

[2022-06-14 09:05] Floydtm commented on #2008
Hi! It looks like this bug has been fixed for a long time. If you have a problem with this, please let us know.

[2022-06-14 09:05] #2008 closed, assigned to nobody

[2022-06-14 09:05] Floydtm commented on #1969
Hi! It looks like this bug has been fixed for a long time. If you have a problem with this, please let us know.

[2022-06-14 09:05] #1969 closed, assigned to nobody

[2022-06-14 09:35] #3901 closed, assigned to kaskad88

[2022-06-14 10:05] Rikardo01 opened #5494 "JetBooking depozit"
Hello
So is possible to set in jetbooking depozit for reservation in percente or is posible to calculate I dont find it can help me some one with this I foung how set minimum days

thx

[2022-06-14 10:37] Floydtm commented on #2126
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-06-14 10:37] #2126 closed, assigned to kaskad88

[2022-06-14 10:37] Floydtm commented on #2329
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-06-14 10:37] #2329 closed, assigned to kaskad88

[2022-06-14 10:37] Floydtm commented on #3759
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-06-14 10:37] #3759 closed, assigned to kaskad88

[2022-06-14 10:38] Floydtm commented on #5393
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-06-14 10:38] #5393 closed, assigned to kaskad88

[2022-06-14 11:01] 79ho3ein opened #5495 "Custom "No results found" message in jet search plugin"
hi crocoblock team !

There is a very interesting feature in the jet woobuilder plugin. In this plugin, we can specify the following code to display a custom "Product not found" message if there is no product to display.
Just create a [section](https://prnt.sc/3KlbPaQScJyx) in the elementor theme builder first. Then copy the [shortcode](https://prnt.sc/ZS-uL-R6vl_l) of this section and paste it in

[2022-06-14 11:20] 79ho3ein opened #5496 "Ability to display search history in jet search plugin"
**Please, describe the feature request, making it clear to understand.**

It would be great if website users could see their search history. This feature is implemented in some websites and is very useful. With this feature, the user can see 5 (or X) of their recent searches, and if they want to go back to their previous search, they can do so quickly.

Something exactly like the one I simulated i

[2022-06-14 11:44] 79ho3ein opened #5497 "Custom search results navigation icon - jet search"
**Please, describe the feature request, making it clear to understand.**

Please add [custom icon](https://prnt.sc/I4JMBztJxllS) feature for search results navigation arrows if possible. This is much better than the [current situation](https://prnt.sc/EKkslXMTJ6Ii).

Thank you

[2022-06-14 11:45] 79ho3ein commented on #5483
thank you @Floydtm

[2022-06-14 12:02] UraraReika commented on #5485
Okey, i got you and need to tell you something about this widget. Basically this widget made for single product page and if you take a closer look on DOM structure of this element you can clearly see this https://tppr.me/zMxbj. But the listing item gives you an opportunity to use it in listings grid widget and doesn't broke any functionalities. That is why `Enable AJAX add to cart buttons on archi

[2022-06-14 12:23] mehdimoradi1500 commented on #5496
Great idea like always 👍👍

[2022-06-14 13:17] MichaelaKubasova opened #5498 "Translate stock status"
Ahoj, vytvoril som dvojjazyčný webshop, napísal som s podporou. Ale keď mám slovenskú verziu stránky a preložím stav zásob vo woo builderi, potrebujem upraviť anglickú verziu stránky. Ale s WPML sa nedá preložiť. Malo by to fungovať. Pretože musím vytvoriť webovú stránku s piatimi jazykmi a chcem mať jednu šablónu a upravovať tieto slová vo wpml.

[2022-06-14 13:19] Michaelgimii commented on #5496
+1

[2022-06-14 14:38] Radzio1615 opened #5499 "Metaboxes - Posts selection from own posts"
Hi! I created Meta Box with a "Posts" field. I want to create a frontend form where user can select one post from all posts created by that particular logged in user. Is it currently possible?

[2022-06-14 14:41] Floydtm commented on #5498
Please, note, that the feature requests can be accepted and processed only if they’re written in English.

[2022-06-14 14:41] #5498 closed, assigned to nobody

[2022-06-14 14:45] poiterdesign commented on #2488
+1

[2022-06-14 14:45] Radzio1615 commented on #4238
+1

[2022-06-14 15:20] 79ho3ein opened #5500 "Ability to display products in several columns - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

hi

If possible, please add this feature to the product network widget so that we can display products in multiple columns.
Exactly like this : https://prnt.sc/NeYVei9qQJOC

It would also be great if add the ability to activate Carousel (like the product grid widget)

https://user-images.githubusercontent.com/77163248/173613

[2022-06-14 15:24] MichaelaKubasova commented on #5498
Sorry, I try google translate and copy slovak version.

Hi, I created a bilingual webshop, I wrote with support. But when I have the Slovak version of the site and I translate the inventory in the woo builder, I need to edit the English version of the site. But it can't be translated with WPML. It should work. Because I have to create a website with five languages and I want to have one template a

[2022-06-14 16:42] edgBllw opened #5501 "JetEngine Forms - More password options"
Currently, if a user wants to edit his password, we can set up that he needs to input the new password and re-enters it. But it'd be great if we could have another field, that needs to be filled in before submitting the form. And that's the current password. Many websites have this, and its a great security level. Please give us the ability to do so.

And also, please add options for the password

[2022-06-14 20:04] tizum commented on #5485
+1 Please add this, Ajax add to cart work with listing grid only the page type is archive, i want to add listing grid for another pages

[2022-06-14 23:15] PPharma commented on #5485
Yes, this would be great to have. We don't use a theme. Just plain Elementor and JetEngine.

[2022-06-14 23:23] hamed-azimi commented on #5485
@UraraReika Thanks

But here is the thing: JetEngine offers Listing. What's the purpose of Listing? To create those Grid Items. What do you put on the grid item when it is for a product? Obviously, add-to-cart is a MUST.

JetEngine doesn't include a dedicated add-to-cart widget, nor does it extend the exiting widget to support the archive pages. We are forced to use a complete large plugin [JetWoo

[2022-06-15 01:44] tizum commented on #5485
@UraraReika

This option could be added to the Dynamic link when Woocommerce is installed, so we could have options to dynamically choose the product id, activate quantity of items, add to cart with ajax, and make a good customization in the button and quantity field, this functionality would be great for JetEngine just without having to use JetWooBuilder.

Please think about it, thank you!

[2022-06-15 01:47] dyonatandias commented on #5485
I stopped using it because I don't have this feature. what Anderson mentioned makes perfect sense. I hope to have these features soon so I can use them.

[2022-06-15 06:59] MichaelaKubasova opened #5502 "Translate stock status"
Hi, I created a bilingual webshop, I wrote with support. But when I have the Slovak version of the site and I translate the inventory in the woo builder, I need to edit the English version of the site. But it can't be translated with WPML. It should work. Because I have to create a website with five languages and I want to have one template and edit these words in wpml.

[2022-06-15 07:01] MichaelaKubasova opened #5503 "Advanced Woo Labels"
Hi, its possible to create a advance woo labels for products? Because crocoblock product grid doesnt work with
Advanced Woo Labels – Product Labels for WooCommerce by ILLID

[2022-06-15 07:29] Duuble-U opened #5504 "Preset settings in select field for CCT item in JetFormBuilder and JetEngineForm"
Hello,

We are dicussing and trying to display CCT item in preset field in a form with your live chat support agents.
They discussed with the tech agent and think it's not a bug, so I make a request :

Can you add the possibility to display CCT item preset settings in select field in JetFormBuilder and JetEngineForm.

Thank you

![Capture d’écran 2022-06-14 à 12 21 31](https://user-images.github

[2022-06-15 09:21] Casi800 opened #5505 "Add the same post ID to the POST IN field of the Query Builder multiple times"
Query Builder. Would it be a huge effort for you guys to allow in the POST & PAGE / POST IN section to allow ID multiple times? For example 1, 10, 25, 19, 25, 17, 25 - and so on... so that for example post-ID 25 would be displayed like in this sample 3 times and in the same order as it is?

[2022-06-15 12:04] nreljed commented on #5417
**1st problem:**

I created a "testimonial" type post, then I deleted it
then I changed my mind,
I recreated the same post type "testimonial"
surprise, jetengine is unable to display it! he has completely disappeared and impossible to see or find him
I do not understand what is happening...

**2nd problem:**

I created a post type "logo", then I only chose in register support "title" and in fields

[2022-06-15 12:58] filwi commented on #5486
A simple string concactenator would be very useful!

[2022-06-15 13:34] MjHead commented on #5417
@MikaelaDeCub As @Lonsdale201 correctly mentioned its a JetFormBuilder area and such functionality at the moment under development, will be added as separate addon for JetFormBuilder

[2022-06-15 13:50] MjHead commented on #5417
@MikaelaDeCub

We'll take a look into this and maybe add such option in the future. As for now you can upload SVG markers with different colors:

![image](https://user-images.githubusercontent.com/4987981/173843396-ea1e136e-ee0e-4fde-99f0-8766681f189a.png)

![image](https://user-images.githubusercontent.com/4987981/173843700-91009ad9-1605-4681-a68a-c7cd5e0eb209.png)

![image](https://user-images.g

[2022-06-15 14:03] UraraReika commented on #5503
Hello @MikaelaDeCub !

For now we don't have our own solution with such functionality. But if you okey with Advanced Woo Labels – Product Labels for WooCommerce by ILLID and you want to use it with our widgets then please contact our support team where you can provide your credits and we will help to integrate third party plugin to our environment.

Thank you!

[2022-06-15 14:07] UraraReika commented on #5502
Hello @MikaelaDeCub !

Thanks for the feedback.

 Please follow guidelines for opening a new [bug report](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/bug_report.md), so we can help you better. This report is missing key information. Without it - it is hard for us to filter and prioritize the requests. 

Thank you for your understanding.

[2022-06-15 14:09] UraraReika commented on #5500
I merged this issue with https://github.com/Crocoblock/suggestions/issues/4738, which is on the same subject so we could deal with it more efficiently.

[2022-06-15 14:09] #5500 closed, assigned to nobody

[2022-06-15 14:21] mbaierl commented on #5187
The so-called "support" told me that they won't support Elementor Flexbox Containers until it is an official feature and not longer an Elementor Experiment. So this might take another year until Crocoblock will work fine with Elementor Containers.

[2022-06-15 14:36] Manu-pardo opened #5506 "Adding a Discount function in Jet Appointment"
I have a client that sells tennis lessons, and I am using jet appointment alongside woocommerce to provide a lessons booking system. My client wants to give discounts if someone books several lessons at once, but that function is not available. I think it would be a great addition, as wocoommerce itself has certain options to apply discounts if someone adds several units of an item to the shop car

[2022-06-15 14:42] nreljed commented on #5417
@MjHead by doing tests on the post types
I created a post type "logo" and field media "logo_image"
I need only "title" in Registers support

![Capture d’écran 2022-06-15 152910](https://user-images.githubusercontent.com/82481592/173855246-2443fbe7-f626-49bf-871e-816bbc2d87da.png)

at the publication of the first post the "logo_image" upload are not attached in media

by adding "editor" in Register

[2022-06-15 14:58] leonelpaez opened #5507 "send jetappointment emails after checkout process"
Jet appointment just send confirmation (custom) email after click the submit the final button of the form, but if you have woocommerce integration it is suppose that the confirmation email have to be sent after the payment process, otherwise the user will recive the confirmation email without finis the entire process (the mos important step, the payment)
This ir a reallllly needed feature guys!

t

[2022-06-15 14:59] ua-stanislav opened #5508 "Send event-triggered Emails to listing's authors based on queries"
Hi guys, It would be awesome if we can get a feature of mailing users triggered by queries.

Scenario 1
We create new query that triggering users who submitted listing if the last update was more than 12 months ago,
We create template of email with notification to update the listing.
Once the event is triggered, the user get email notification to update the listing.

Scenario 2
We decided to mail

[2022-06-15 15:03] fabricioventura commented on #631
Nothing yet for this very important item?

You should not forget to adjust these pending issues, which seem small, but make a huge difference in the day to day of those who develop websites.

This solution request is from 2019, it's been 3 years :(

[2022-06-15 15:08] fabricioventura commented on #5321
No solution yet for this item?

You should not forget to adjust these pending issues, which seem small, but make a huge difference in the day to day of those who develop websites.

Thanks!

[2022-06-15 16:04] WinfieldsMedia opened #5509 "Ability to Export/Import Crocoblock Elements in Elementor Templates"
As someone who manages 8 different websites for the same business umbrella, to ensure continuity, it would be really good to have the ability to export/import certain pages/elements/sections which use Crocoblock Elements so that all websites appear to use the exact same bits without having to re-do everything manually.

[2022-06-15 16:50] fabricioventura commented on #2308
+1

[2022-06-15 18:02] nreljed opened #5510 "Jetformbuilder fails to outperform jetengine forms due to.. 2 🪲🪲bugs!"
In this post I will try to resurface two bug appeared with jetformbuilder
really very annoying as you will see in my example

The first is [impossible to select the placeholder](https://github.com/Crocoblock/suggestions/issues/5046) or allow null
the consequences of this little bug are nonsense information

if in the case where the user chooses For rent he has another conditional choice of duratio

[2022-06-15 18:51] nreljed opened #5511 "jetformbuilder submit button bug 🪲"
jetformbuilder lost the ability to do fullwidth on submit button

 **jetformbuilder 2.0.6**

![jetformbuilder bug1](https://user-images.githubusercontent.com/82481592/173902807-1bf6497c-c945-4c7f-9f31-2c0ff8ce35ba.gif)

**jetengine 2.11.10**

![jetengine](https://user-images.githubusercontent.com/82481592/173902824-59dae77f-d63e-4ba7-877b-f35615db03c7.gif)

[2022-06-16 00:05] Michaelgimii opened #5512 "Advanced display of products based on users' mobile models (jet woobuilder)"
**Please, describe the feature request, making it clear to understand.**

Many users are jet woobuilders who sell mobile accessories on their website. Like myself.
On one of the websites, I came across a great idea that was very interesting to me. This feature can only be used by those who sell mobile accessories on their website ...

**This feature works in such a way that when you enter the webs

[2022-06-16 05:10] cmw1990 opened #5513 "Please add the ability to edit relation meta field (relation meta data) in forms and the ability to disconnect relations in forms."
.

[2022-06-16 07:40] MichaelaKubasova opened #5514 "Translate stock status"
Hi, I created a bilingual webshop, I wrote with support. But when I have the Slovak version of the site and I translate the inventory in the woo builder, I need to edit the English version of the site. But it can't be translated with WPML. It should work. Because I have to create a website with five languages and I want to have one template and edit these words in wpml.

[2022-06-16 07:48] MjHead commented on #5417
Hi! @nreljed
Thanks for reporting, added this into the roadmap for the next update

[2022-06-16 07:50] kaskad88 commented on #631
The **WP_Query** does not allow sorting posts by terms.
Use the Admin Filters.
The ability to filter posts by terms is already available https://tppr.me/haMb4.

[2022-06-16 07:50] #631 closed

[2022-06-16 08:17] kochhase commented on #5449
+1

[2022-06-16 08:36] kochhase commented on #4462
Hi Andrew, you said:
For your case the best way will be to register custom condition and check all required data inside this condition. Here is example how to register custom condition. But there is no example how to do some conditions with AND or OR. This https://crocoblock.com/knowledge-base/articles/jetengine-devtools-custom-visibility-conditions-add-on/ will not help us as well. Is there somet

[2022-06-16 09:17] UraraReika commented on #5514
I merged this issue with [#5502](https://github.com/Crocoblock/suggestions/issues/5502), which is on the same subject so we could deal with it more efficiently.

[2022-06-16 09:17] #5514 closed, assigned to nobody

[2022-06-16 10:45] #1070 closed

[2022-06-16 10:47] LTimerr opened #5515 "JetEngine Glossary extension"
Hello, I use a lot of glossaries, and would be very happy for a more orderly listing if it were possible if you could just move the glossaries up or down like Meta Fields.
![Screenshot_13](https://user-images.githubusercontent.com/93724776/174054261-65d38f7c-fd8b-4335-9963-5fc8eb53f8ca.png)

[2022-06-16 12:41] Michaelgimii opened #5516 "new order for sorting filter widget (most visited)"
**Please, describe the feature request, making it clear to understand.**

hi @Floydtm , The jet smart filters plugin is incredibly powerful. But a new option would be great if it was added.
On some websites, we can sort the products by the number of hits. For example, by adding this feature, users can filter products based on the most visited. Of course in the sort widget.
Please add a new order (

[2022-06-16 13:11] UraraReika commented on #4719
This functionality will be available with next release. You can use [this](https://gist.github.com/UraraReika/e9f09e16c678e78a6f9bfc85fc0d765a) to handle empty message output for different widgets.

[2022-06-16 13:16] 79ho3ein commented on #4719
thank you

[2022-06-16 13:50] DaveKani commented on #2241
How would I change the PHP to count certain CCT's the user created?

[2022-06-16 14:09] Basilou38 opened #5517 "Smart Filters + JetWooBuilder => Display child categories of a specific category"
I am currently developing an e-commerce site for a client, he sells trailers, I have created a "trailers" category with associated child categories, it works well with your filter module, but my client also wants to sell trailer accessories. independently, i.e. in a page that is not part of the general "shop" page of wocommerce, this causes me problems because if I create a "Categories Grid" modul

[2022-06-16 14:11] 79ho3ein opened #5518 "Ability to display sorting options horizontally - jet smart filters"
**Please, describe the feature request, making it clear to understand.**

hi crocoblock team!

For now, we can only display sorting options as a [list](https://prnt.sc/pvwXMcDTY2Rg). But it would be great if we could display the sorting options [horizontally](https://prnt.sc/jpX3TItqW1fq). The only feature required for this feature is the active mode. In such a way that the color of the active fil

[2022-06-16 14:16] Floydtm commented on #5504
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-06-16 14:29] maurocarreraok commented on #5467
Thanks @dburke-ux ! I mean sure that i can use that snippet but is not ideal. I'm hoping that Croco solve this issue or add more flexible elements.

Another thing is creating "Layouts" using Listing Grids. Like 1 big post on the LEFT and 2 others on the right (same height as the left post) this is not possible using 1 listing...

I try to use Grid Builder, but is not useful because is not dynamic,

[2022-06-16 14:43] maurocarreraok opened #5519 "BUG | YouTube Thumbnails on Video Player and SEO Concerns"
**Describe the bug**
1. Video Player or Video Thumnails.
Is taking the thumnail from youtube without HTTPS. Generating Mixed Content.

<img width="505" alt="Screen Shot 2022-06-16 at 11 32 26" src="https://user-images.githubusercontent.com/68023943/174095910-efff4e26-747a-4d89-94ce-e7a5e224c396.png">

2. Talking about SEO, the Listing from JetEngine is generating a link without anchor. In the fron

[2022-06-16 15:17] nreljed opened #5520 "Jetengine dynamic field more control over content"
This example shows the limits of dynamic field against icon box
where I was able to do pretty much what I wanted
hover effects view and shape of the icon, Icon Position, content Alignment (vertical alignment)

![no icon](https://user-images.githubusercontent.com/82481592/174102584-787c8197-13fb-4c5b-9e00-25ceb46c01cd.gif)

![Web 1280 – 2](https://user-images.githubusercontent.com/82481592/17410261

[2022-06-16 15:32] nreljed commented on #5479
I'm sure the developers have understood the idea they can just reproduce the example in the demo and then the performance tests and other settings will be there to have the best rendering 🧑‍🚀🚀

for the moment I share this piece of magic css to set up a spinner animation for the SmartFilters + Listing grid
 it could be used and adapted on **loading more and infinite scroll**  state in listing grid

[2022-06-16 15:51] kaskad88 commented on #5078
Add for the next version 2.11.11

[2022-06-16 15:51] #5078 closed, assigned to kaskad88

[2022-06-16 15:51] kaskad88 commented on #1157
Add for the next version 2.11.11

[2022-06-16 15:52] kaskad88 commented on #5282
Add for the next version 2.11.11

[2022-06-16 15:52] #5282 closed, assigned to nobody

[2022-06-16 20:57] raoulprz commented on #44
+1

[2022-06-17 08:57] trofimartya commented on #1151
+1

[2022-06-17 09:12] LaxusCroco opened #5521 "Calculated duration of the slot in JetAppointments"
**Please, describe the feature request, making it clear to understand.**

Make the default slots or Time Picker pre-selected automatically, based on the Calculated field value or a Number field value.

**Add an example of where this feature is already implemented.**

I'm building a website for a pressure cleaning company. It charges per m2 cleaned. I'm looking to use JetAppointment for scheduling

[2022-06-17 13:04] 79ho3ein commented on #5512
This is a really great idea. But can it be implemented in jet woobuilder? How does this feature display products according to the user's phone? Does each mobile model have to be categorized separately, or does it operate based on product titles?

[2022-06-17 13:31] tizum opened #5522 "JetEngine Feature Request for Dynamic Image"
Hi guys, I had this idea saved to request here, after the last update that brought news to Dynamic Image Widget I can't leave it in the drawer anymore, let's go!

Guys, currently the dynamic image element DOM has an attribute called loading="lazy"

![image](https://user-images.githubusercontent.com/6773491/174308728-1d0e4c6e-63ed-482f-a114-95c23e25ecd4.png)

I believe that this makes the image loa

[2022-06-17 13:59] trofimartya commented on #5417
Hi! Thanks for such great update.
But I can't figure out how its working.
Here is my map with OpenStreetMap:
![image](https://user-images.githubusercontent.com/54772320/174311217-cdb6d610-5e1a-4aa2-94c7-b859351b4bd9.png)
And the settings:
![image](https://user-images.githubusercontent.com/54772320/174311814-cfc641e9-cd69-48fc-b828-709346dc158d.png)

Im using custom Query to get data from CPT 'Prop

[2022-06-17 14:26] Lonsdale201 commented on #5479
https://github.com/jlmakes/scrollreveal/issues/546

The question is given, we just need an off function, and it would be suitable for a wider range of uses. It could be easily implemented for JetEngine and Elementor (at least it didn't cause me any problems), but unfortunately I couldn't find what I needed for the filtering and scrolling triggers, so I could only use it one way (laziness is a fact

[2022-06-17 14:27] Lonsdale201 commented on #5522
+1 :)

[2022-06-17 14:31] Lonsdale201 commented on #5520
I'm so used to coding them manually that I wouldn't even notice if they were included. But it would be extremely useful, because the Dynamic field is a very powerful and functional, indispensable widget. It could do with some tweaking in this respect. :P

[2022-06-17 15:32] Bayron2304 opened #5523 "JetMenu Caching - Cloudflare & VUE"
So this is the issue I'm having; When I purge all my caches (Cloudflare, Varnish by Cloudways, Breeze caching plugin) and reload my homepage on desktop, that is the version of JetMenu that all my caches use. Meaning my mobile menu's layout isn't how it should be. Vice versa, if I purge all my caches and visit a page of my website on mobile first then JetMenu displays the mobile menu also on deskto

[2022-06-17 15:53] danjs74 commented on #1470
Hello - just to say same issue for me. The listings are slow - i only have 10 items in mine at the moment and when i filter / clear filters etc generally the behaviour is sluggish, close to unusable.

[2022-06-17 16:02] 79ho3ein commented on #5522
+1

[2022-06-17 17:30] purnendu92m opened #5524 "Issue with BuddyBoss theme"
Elementor is not opening Listing editor while creating single listing page.
Error: "You must call 'the_content' function in the current template.

It only works on the permalink - "default".

But BuddyBoss theme is not allowing the "default" permalink.

Using other theme, the issue is solved.

[2022-06-17 19:25] ecummingsjr commented on #1890
Hello, I know this post is a bit older, but I'm building a Dog platform, and besides the Year, we want to show months also; using your code @ihslimn, what we should add to it so that we can display  X years X months.

Thanks in advances

[2022-06-17 19:39] petrovui opened #5525 "JetBlocks breadcrumbs showing shop template name as PRODUCTS"
Can it be changed?

[2022-06-17 20:59] 79ho3ein opened #5526 "border radius control for Before and after displaying search results - jet search"
**Please, describe the feature request, making it clear to understand.**

hi crocoblock team!

A new and interesting design for this widget can be great ...
[This is](https://prnt.sc/SSZK9HSOtRTi) how my search box is designed, and [it changes](https://prnt.sc/Q1cPrX0WOk6y) when search results appear. (Please note the search box border radius and search results).
**In fact, my question is, is poss

[2022-06-17 22:44] petrovui opened #5527 "JetWooBuilder Load More affect Products Result Count"
There is a widget Products Result Count and then the Load More button is pushed it's not affect Products Result Count. So if on Products Archive page showing 1-15 products and Load More is pushed it's still showing 1-15 numbers but there is already more products on page.

[2022-06-18 00:12] brunoalbim commented on #2632
Worked perfectly! Congratulations

[2022-06-18 01:36] TipoSamuel commented on #4482
It would be great to address this request because through these URLs we can make use of buttons with links or parts of the menu to direct the user to the page with the filters defined as we wish.

A function that I consider super relevant but because the URL is not currently SEO-friendly and shows sensitive information such as the use of wordpress, name of plugins like "jet-smart-filters" and "jet

[2022-06-18 04:18] Michaelgimii opened #5528 "Remove the jet woobuilder link in the jet smart filters plugin url Ajax. (jet woobuilder & jet smart filters)"
I use the jet woobuilder and jet smart filters plugin and display the product archive using the product grid widget. My website filters run mixed (ajax + reload).
The problem is that when the filters are activated, the url does not look interesting and the name jet woobuilder and even the product grid appear (link below)

https://domain.com/product-category/Menswear/hat/?jsf=jet-woo-products-grid:

[2022-06-18 14:25] Duuble-U commented on #1284
Yes very useful improvement.

[2022-06-18 15:09] nreljed commented on #5417
🚨Last minute bug🚨

![Capture d’écran 2022-06-18 155305](https://user-images.githubusercontent.com/82481592/174444328-488e7359-31b3-49b9-9521-fac463d971ad.png)

Dynamic Link > delete current post link no longer works
it directly delete the post as soon as the link is clicked
the confirm choice box failed to block this action both choice = delete + redirecct
I did not find any error in php_errors.lo

[2022-06-18 15:17] purnendu92m commented on #5524
Issue resolved after deactivating and activating jetengine plugin.

[2022-06-18 15:17] #5524 closed, assigned to nobody

[2022-06-18 18:06] marreiradigital commented on #5522
+1

[2022-06-18 18:13] dyonatandias commented on #5522
+1

[2022-06-18 19:26] glorpyz opened #5529 "Poll & Vote with statistics and CSS"
Poll function would be great!   Displayed with shortcode.
Not so many nice-looking out there and WPForm costs to much for just getting their Poll.

[2022-06-18 19:36] hamed-azimi opened #5530 "JetFormBuilder Select Autocomplete doesn't work in Elementor Popup"
I created a form using JetFormBuilder and in some of the dropdowns, I enabled the "Use Autocomplete" feature which is added by "JetFormBuilder Select Autocomplete".

It works fine when we use the form in pages, but if we use the form in an Elementor Popup, it won't open the dropdowns that have "Use Autocomplete" but other dropdowns that don't use this feature open without an issue.

I hope you hav

[2022-06-19 05:08] sabujghosh708 commented on #2265
front-end form wysiwyg insert media is very important for Good UX/UI. Is there any alternative way?

[2022-06-19 10:23] Lonsdale201 opened #5531 "JetTricks Tooltip Dynamic tag bug"
Description

If i use the dynamic tag, in the description field (tooltip) pull the correct dynamic value. If i delete the default text in the description field ( "This is Tooltip!" ) , and again set the dynamic value, does not show anything.

[2022-06-19 12:27] Lonsdale201 opened #5532 "JetElements - Testimonials Slider bug with Elementor Flex container on Mobile"
The title speaks for itself.

[2022-06-19 15:09] Michaelgimii opened #5533 "Ability to display the correct search terms in the Jet Jet plugin (smart search)"
**Please, describe the feature request, making it clear to understand.**

In the jet search plugin, if the search term does not exist exactly like that, it will not show any results. For example, if we search for elementar instead of elementor, it will not show any results.
If you mistakenly search for a phrase on Amazon or Google, a phrase similar to the one on the web will be displayed to the us

[2022-06-19 15:40] tizum commented on #5528
+1

[2022-06-19 15:43] tizum commented on #5520
+1

[2022-06-19 15:47] 79ho3ein commented on #5528
+1

[2022-06-19 15:51] tizum commented on #5449
+1

I'm would like to see again insert shortcode to value to check field condition met, anda more options tô check Date and time to

[2022-06-19 17:31] edgBllw opened #5534 "JetEngine Forms - Ability for a switcher to either enable or disable a post submit action"
That'd be great, because if i wan't to test something out without a certain notification, then i would have to delete the entire action just to test it. a kind of switcher would be very useful

[2022-06-19 18:42] MichaelaKubasova commented on #1576
It's possible to have in vertical menu or in nav menu :

 - Keep submenu open with active page
 - show Top Level Item parent (from active submenu page) as active

[2022-06-19 18:51] rlb222 commented on #2646
+1 Very much need this! Thank you. First item for me could be simpler:

[2022-06-19 20:02] nreljed commented on #2632
the plugin no longer works under **Jetengine 2.11.11** maybe it's time for it to make its entry in jetengine 3.0.1?

[2022-06-19 21:56] secondsky opened #5535 "JetSmartFilters - Not working of ListingGrid uses Lazy Load and Filters are in a Elementor Popup"
**Describe the bug**
JetEngine Listing Grid being used. Lazy Load active. Using Elementor Popup for the Filters.
Query with Query Builder. But also the same result if just Listing Grid Widget Filters are used.

Filters dont work (Error 500 in ajax).
If Filters are set in Indexer Options "If Item Empty" - Hide --> No Filters are shown initially.

Probably a issue between Lazy Load and the Filters i

[2022-06-20 00:46] DaviAppelDuarte commented on #5522
+1

[2022-06-20 01:47] MogulChris commented on #2436
The filter `jet-smart-filters/filters/filter-options` allows you to modify the order of the options in PHP

[code]

[2022-06-20 03:53] pennycheng08 opened #5536 "Jetelements: Please add title html tag setting feature for post element"
The default html tag for the title of post element is H4.
This is not good for SEO

[2022-06-20 08:15] dbfischer commented on #1576
@MikaelaDeCub
Can you explain how to to this?
The submenu closes after selecting a menu item. The parent item is neutral and not activated. I find no setting to change this.

[2022-06-20 09:08] Cheizr commented on #3885
I'm literally using other form builder because i can't style the CHOOSE FILE button, it disrupts all the design...
I tried too many ways and none succeeded

[2022-06-20 09:10] Cheizr commented on #3261
Didn't find a solution at the moment

[2022-06-20 10:55] petrovui opened #5537 "JetMenu Hamburger Menu Container z-index"
I just cannot set z-index of Hamburger Menu container lower than Main Header container is. Hamburger menu container is always on top. How can i fix it?

[2022-06-20 11:24] UraraReika commented on #5527
Hello @s5t5n !

Please take a closer look on this issue https://github.com/Crocoblock/suggestions/issues/2592.

[2022-06-20 11:24] #5527 closed, assigned to nobody

[2022-06-20 12:09] 79ho3ein opened #5538 "jet woobuilder checkout fields"
**Please, describe the feature request, making it clear to understand.**

hello

In jet woobuilder payment fields, if we fill in the field using the words we [used before](https://prnt.sc/9iGSImhm3-3B), the background color of the field will [change](https://prnt.sc/DJF7HvjzK-pL) and this color can not be controlled.
This background color change occurs only in text fields such as name, company nam

[2022-06-20 14:23] petrovui commented on #2592
Please add an instruction how to create Dynamic Products Result Count with Query Builder/JetWooBuilder + Load More button

[2022-06-20 14:29] miguel-cravidao commented on #2848
We need its to fully replace other plugins for CPT. This is kind of core and makes no sense to delay it.

Rewrite with front is a must. Thanks.

[2022-06-20 15:08] ssoronid commented on #3885
I added a developer on my team to add the FilePond to JetEngine and it worked but it took a lot of time and tests.

We finally added FilePond via API and some custom js..

[2022-06-20 17:54] dantetesta commented on #5522
2 Possíveis Soluções

**1 - Remover de todas as paginas o atributo:**
[code]

**2 - Remover só da página HOME:**
[code]

[2022-06-20 18:51] tizum commented on #5522
It didn't work cool, because it removes the lazy from other images that I don't want to disable.

[2022-06-20 19:37] secondsky opened #5539 "JetEngine - New Loading Load more Indicator+Text not showing on iPhone"
**Describe the bug**
On Desktop the Loading Indicator for Load more which was introduced with JetEngine 2.11.11 is visible and working.
On iOS it doesnt show up at all.

**Desktop (please complete the following information):**
iOS 15.5

**Smartphone (please complete the following information):**
iPhone 13 Pro

[2022-06-21 06:52] MichaelaKubasova commented on #1576
@dbfischer Hi, something like in printscreen: https://snipboard.io/tN9jw8.jpg , red - is parent item, blue is submenu and orange is submenu after submenu. When you click on submenu item, it will be still open in menu.

[2022-06-21 06:53] Floydtm commented on #5526
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-21 06:53] #5526 closed, assigned to nobody

[2022-06-21 07:15] Floydtm commented on #5525
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-06-21 07:16] Floydtm commented on #5529
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-21 07:16] #5529 closed, assigned to nobody

[2022-06-21 07:40] Floydtm commented on #5521
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-21 07:40] #5521 closed, assigned to nobody

[2022-06-21 08:08] MjHead commented on #5417
@nreljed
Hi! Tested post deletion from single post and from listing - works fine - blocked until confirmed with popup. Maybe you have this bug reproduced somwhere on remote staging website to check it there?

[2022-06-21 08:15] MjHead commented on #5417
@trofimartya
Hi! In the JetEngine map settings there is an option to preload coordinates for locations - add your address meta field to this option an update some posts with (preloading works only on post update), to check if it added to map after this. Map listing adds markers by coordinates, so it need to geocode coordinates by address string. Deifferent geocoding providers has own usage restric

[2022-06-21 08:41] UraraReika commented on #2592
Sorry but for now JetWooBuilder Load more button doesn't work with this functionality. But you can use JetEngine listing grid to make it happen.

[2022-06-21 08:47] taidang26 commented on #931
+1

[2022-06-21 08:56] UraraReika commented on #5538
Hello @79ho3ein !

This is how your browser client handle autofill functionality. If you will use different browser from Chrome then you will face different behaviour. Although we will not add controls to our plugin for styling this feature.

Thank you for your understanding.

[2022-06-21 08:56] #5538 closed, assigned to nobody

[2022-06-21 09:06] 79ho3ein commented on #5538
ok, thank you @UraraReika

[2022-06-21 09:07] Michaelgimii commented on #5528
@UraraReika  Please check this issue.

[2022-06-21 09:16] jeremynachtegaele opened #5540 "Configure a maximum future day to take appointment"
PLUGIN : JETAPPOINTMENT in my case (but could be maybe integrated in JET BOOKING too).

Two of my customers that use my websites are requesting me to avoid that visitors can take new appointments too far in the future.
They would like to block all appointments 2 weeks after today (for example).

Examples :
Today = 01/06 --> visitor could only take appointment until the 16/06
Today = 05/06 --> visi

[2022-06-21 09:23] Radzio1615 opened #5541 "Parent Item ID is not set"
Hi! If user doesn't select connected related item, error message appear:
"Parent Item ID is not set. Please check your form settings"

I'm using the checkbox field in the form to generate post list.

I don't require selecting the parent item.

How to ignore connection if user doesn't pick any?

After editing the post via form user should be redirected to the post. If user doesn't pick connection r

[2022-06-21 09:40] Floydtm commented on #5516
I understand that this is important to you. However, this is not so simple. To implement your request, we need a mechanism that will collect information about the posts viewed. We don't plan to do that right now. Perhaps we will come back to this. Thank you!

[2022-06-21 09:40] #5516 closed, assigned to nobody

[2022-06-21 10:17] Floydtm commented on #5537
Hello! You are right there is no such option for the container. However, you can give the z-index to other widgets and that will solve your problem.

[2022-06-21 10:17] #5537 closed, assigned to nobody

[2022-06-21 10:43] Floydtm commented on #5539
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-06-21 10:43] #5539 closed, assigned to nobody

[2022-06-21 11:11] miguel-cravidao opened #5542 "Listing grid - Inject items - Starting position missing"
We need a starting position input.
Without it, since you only have the repeat each Nth post you start having template overlapping.

Demo and full explanation here: https://mc.dev.dwsi.pt/

Scenario:

Template 1
Repeat each 3rd item.
Start position 1

Template 2
Repeat each 3rd item.
Start position 2

Template 3
Repeat each 3rd item.
Start position 3

And the output becomes:

Template 1 positions:

[2022-06-21 11:19] miguel-cravidao opened #5543 "Listing grid - Create a grid with option not based on columns so we can stack items"
Hello,

I don't know if this is possible to achieve in another way but sometimes i need to render items in a way that i can't define a number columns because all the items need to be inserted from left to right, inlined.

![image](https://user-images.githubusercontent.com/8440771/174786559-a13df697-5bb5-4cd4-bd07-8309ea6df9be.png)

On this image, i have a room with comodities, represented with ico

[2022-06-21 11:33] Floydtm commented on #5541
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-06-21 12:14] Floydtm commented on #5543
We have reviewed your request and it appears that it is not related to improving the plugin or that it is a bug.

[2022-06-21 12:14] #5543 closed, assigned to nobody

[2022-06-21 12:26] Radzio1615 commented on #5541
I created edit video form with Checkboxes field:

![image](https://user-images.githubusercontent.com/40895581/174794360-3b570008-5a4e-466d-8d6e-58760f104631.png)

Form has an action: Connect Relation Items
![image](https://user-images.githubusercontent.com/40895581/174796135-d43f017c-7151-4a81-b006-6d7a8ee22524.png)

Also form has an action: Redirect to Page
![image](https://user-images.githubuser

[2022-06-21 12:36] mbaierl commented on #3435
In the file jet-menu/includes/rest-api/endpoints/get-menu-items.php, function "callback" (line 50) the following has to be added as well:
$menu_id = apply_filters('wpml_object_id', $menu_id, 'nav_menu', true);

[2022-06-21 13:16] MjHead commented on #5541
@Radzio1615
Yes, for your case this error should not thrown. We'll fix this with 3.0,1 update, because 3.0.0 at the moment on the final stage of testing

[2022-06-21 13:17] Radzio1615 commented on #5541
@MjHead Thank you! There is one more thing I noticed. After selecting the playlist and saving the changes, the user cannot uncheck the playlist when re-editing the video.

[2022-06-21 13:20] MjHead commented on #5541
Ok, thanks for reporting. I'll reproduce your case and check both issues

[2022-06-21 13:25] moxet commented on #2421
+1
Is there any updates on this issue.

[2022-06-22 07:26] Floydtm commented on #5523
We have studied your request and it seems that this is not a bug on our part. You need to set up caching properly. At the moment, I can offer you the [WP Fastest Cache plugin](https://wordpress.org/plugins/wp-fastest-cache/) which has the necessary [settings](https://www.wpfastestcache.com/premium/mobile-cache/)

[2022-06-22 07:26] #5523 closed, assigned to shinTM

[2022-06-22 09:50] VantageUAV commented on #534
Any updates? Still getting terms showing for empty taxonomies

[2022-06-22 11:27] saltkinmedia opened #5544 "[Smartfilters] - index attachment/media post type"
Hi,

I'm currently making an archive page for attachments and filter them by a custom meta field. They will be a lot of attachments and for that reason I went to index settings and there's no media/attachment post type to select.
Activating auto index or trying to manual index that smart filter didn't work.

Any idea how to index attachments? any dev tool?

[2022-06-22 12:26] nreljed opened #5545 "Jetsmartfilters Search posts by ID bug 🪲"
![Capture d’écran 2022-06-22 130825](https://user-images.githubusercontent.com/82481592/175026432-73faadfd-a28d-47c9-8225-ff9bc4b55be6.png)

I discovered that search post by ID doesn't work in redirect (apply button)
Yet as you will see the address of the filters and the page is the same

in my example we will look for a post that has the id 6155

## Archive properties

![Capture d’écran 2022-06-2

[2022-06-22 13:24] trofimartya commented on #5417
@MjHead
Unfortunately its doesn't work.
My meta field is not JetEngine meta field. Its from theme. Is this can be a problem?
*UPD*
I have used Custom Query but when querying info within Elementor widget show much more properties. This is a partial success but still a lot of data missing (200 is max request).
![image](https://user-images.githubusercontent.com/54772320/175051381-d64016e1-0385-4296-b

[2022-06-22 14:13] loucasl commented on #5543
Could you just add each icon as a separate widget, all of which are inline and have padding around them? Then you never have to worry about adding columns

You would just need to assign dynamic conditions to each one so that they show / hide depending on if the room has them

[2022-06-22 14:52] catchingclicks commented on #968
+1 asap!

[2022-06-22 15:39] #5437 closed, assigned to kaskad88

[2022-06-22 17:02] Paul1x commented on #4766
Wise gateway would be awesome for payments! Wise is an international banking system where you can transfer money the cheapest way possible

[2022-06-22 17:44] Vigar007 commented on #1470
This is over 2 years and still no fix, I just started using Crocoblock in March 2022 and all my sites have this issue, hoping for some kind of fix soon.

[2022-06-22 18:12] miguel-cravidao commented on #5543
Hello @loucasl, thanks for your reply.

That's a workaround but its not dynamic. If the client adds new comodities (icons) we would have to edit the interface each time.

Thanks for your time!

[2022-06-22 18:14] spingoo opened #5546 "Date support on calculated field in JetFormBuilder"
Calculations using date is of importance. For example: a product that is purchased with an expiration date. One field is the starting date, and it add the value of a numeric field, for example: months = 3, then the calculated expiration date shall be starting date + 3, and it will show the value with a date format.

[2022-06-22 18:16] miguel-cravidao commented on #5543
Hello @Floydtm, thanks for your reply.

Can you please explain me how this works? I was told by the Crocoblock chat to create tickets here for all feature suggestions i would like to make.

If its true, can you elaborate how this request doesn't improve the plugin? There is another approach for these situations? I don't see how, seems Crocoblock team always try to solve things through listing grid

[2022-06-22 18:21] spingoo opened #5547 "Value from Metafield on JetFormBuilder"
When using JetFormBuilder, many times the field is associated to the taxonomy post, and the name of the taxonomy is required instead of the default ID value. It is not clear what variable needs to be inserted in the **Value from Metafield** field. Maybe you should have a popup indicating what are the names of the variables that can be used in order to get the values.

What would be the variable to

[2022-06-22 18:25] spingoo commented on #4443
I agree. This is an important feature that can save a lot of work when dealing with sending emails.

[2022-06-22 18:37] spingoo commented on #3457
An option to use the term name instead of the ID should be provided. User Interface is about what the user sees, and they don't wan to see the default ID, but the name.

[2022-06-22 18:41] spingoo commented on #2301
I need this requested feature as well. It is a very important feature. Crocoblock devs, please put this request on your timeline.

[2022-06-22 23:02] lagethomas opened #5548 "Multi select in JetFormBuilder"
Is there a way to use a multiple selection in select? When we have too many terms and we use Box it pollutes the page.

[2022-06-23 08:24] MjHead commented on #4868
Added with 3.0.0 update

[2022-06-23 08:24] #4868 closed, assigned to MjHead

[2022-06-23 08:24] MjHead commented on #2227
Added with 3.0.0 update

[2022-06-23 08:24] #2227 closed, assigned to MjHead

[2022-06-23 08:24] MjHead commented on #1449
Added with 3.0.0 update

[2022-06-23 08:24] #1449 closed

[2022-06-23 08:25] MjHead commented on #1151
Added with 3.0.0 update (without Yandex. You understand why)

[2022-06-23 08:25] #1151 closed

[2022-06-23 08:26] MjHead commented on #346
Added with 3.0.0 update

[2022-06-23 08:26] #346 closed

[2022-06-23 08:28] MjHead commented on #5417
@trofimartya
Could you please contact me directly in FB - https://www.facebook.com/andremjhead/ need to take a look on it with you theme to check where is the problem

[2022-06-23 08:29] #5417 closed, assigned to MjHead

[2022-06-23 08:30] zorrobiwan commented on #2227
amazing, thx !

[2022-06-23 08:54] SEwebm commented on #563
Hey just wanted to ask, is there an option like this already?

Would be nice to _optionally_ enable scrolling on pagination in general.

[2022-06-23 10:27] Floydtm commented on #5547
By default, when you choose the Post Type or Term, the values of the options will be taken from post\term or page IDs. However, in this bar, you can specify the name of the concrete meta field from which the value will be pulled. Be aware that this will work with the custom meta fields only. This can be found in the plugin documentation.

[2022-06-23 10:27] #5547 closed, assigned to nobody

[2022-06-23 11:07] akramg478 commented on #1314
Is there any update on this ? Thanks
Or should I load that json from my own static file to put things faster ... any word on this will be helpful ?

[2022-06-23 11:29] Floydtm commented on #5543
You can contact the support and the guys will help you set everything up as suggested @loucasl Thank you!

[2022-06-23 11:30] 79ho3ein opened #5549 "box shadow for jet smart filters pagination widget"
**Please, describe the feature request, making it clear to understand.**

Please add the box shadow option for pagination widget items if possible. https://prnt.sc/IOx2WSZW6zpV
It is also great if we can control the shadow of the box in normal, hover and active modes.

thank you

[2022-06-23 11:39] UraraReika commented on #563
This option already in the widget. Each Pagination widget from JetSmartFilters has this [option](https://tppr.me/KD0q0).

[2022-06-23 13:03] ofmarconi commented on #5548
Hey @lagethomas, similar this?
https://harvesthq.github.io/chosen/#:~:text=Sloth%20Bear-,Multiple%20Select,Polar%20Bear,-Hide%20Search%20on

[2022-06-23 13:33] Floydtm commented on #5549
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-23 13:33] #5549 closed, assigned to nobody

[2022-06-23 14:51] SEwebm commented on #563
Oh I guess I missed that, still I can't seem to find an option to disable the scrolling because setting the offset to achieve no scrolling is only useful if I had a fixed height of the content, which in my case is depending on the screen width.

[2022-06-23 14:54] Radzio1615 commented on #2263
+1

[2022-06-23 15:51] edgBllw opened #5550 "JetEngine Profile Builder - Hide admin bar more options"
We can choose certain user roles, that can access the backend panel, but please also give us the ability to to that with the admin bar hiding. not only for admins. because in lots of cases you have another role that can access the backend but isn't an admin. then without the admin bar in the front end, it looks strange

[2022-06-23 18:38] Imageburst commented on #2660
+1! I can't believe it's been this long and still no solution to this issue or even an workaround solution for temporary measures.

[2022-06-23 19:01] Floydtm commented on #5550
You can use this [plugin](https://wordpress.org/plugins/user-role-editor/) to create a new role or customize the current one.

[2022-06-23 19:01] #5550 closed, assigned to nobody

[2022-06-23 21:33] mindingear opened #5551 "JetEngine: Add a field to dynamic image for ALT tag"
Adding a dynamic field to be able to write custom ALT text for images would be very valuable SEOwise.
Something similar to what they have done here: https://e-addons.com/elementor-addon/image-custom-alt/

[2022-06-24 03:23] ofmarconi commented on #3336
First time I'm using this
I may be configuring it wrong, but after reading the @LevelUpGit report I think it's a bug.

It didn't work for me either.

[2022-06-24 04:39] RANWT commented on #1900
Hi. Could you explain how exactly you set up the user to cancel the appointment with jetappointments now and wich tools do you use?
Thank you.

[2022-06-24 07:50] mehdimoradi1500 opened #5552 "Shortcode for jet smart filter/ jet search"
Being able to use the shortcode of jetsmart filters and jet search
I was thinking about styling the the filters and search widgets in Gutenberg (jet style manager) and then use the shortcode of the styled widgets in any where in the site
So it makes these plugins compatible with any theme
@Floydtm

[2022-06-24 08:25] LevelUpGit commented on #3336
Hi @ofmarconi , I made support ticket, thing is String to timestamp can parse only one thing at the time, so if you have "tomorrow, tomorrow + 1 day" like in my example you need to create one for "tomorrow" then another with "tomorrow + 1 day" using AND condition. This way it works. Hope this helps you.

[2022-06-24 08:35] lolomarchal commented on #1273
Hey. I, my clients and my partners need this functionality. But I see that since May 2020 there is no one to provide us with a solution.

[2022-06-24 08:57] simonheadfirst commented on #4111
+1

[2022-06-24 09:17] IreneDania opened #5553 "Add (+/-) Button Number Incrementers (Number field in forms)"
I would like to add plus and minus button for the booking form for adults and kids. Something like the screenshot attached.
![WhatsApp Image 2022-06-22 at 11 12 34 AM](https://user-images.githubusercontent.com/108114937/175505199-92590e03-c554-4cfa-bcec-2ed9388ed1fd.jpeg)

[2022-06-24 10:04] antkoukou88 commented on #5454
Follow up:

As a temporary fix, I would like to add this custom code that was provided by the Crocoblock team and it works perfectly for scrolling to content on all devices. Just add this JS Code in your website and use "scroll_to_content" (without " ") in the CSS Class field of your accordion and you are ready to go.

jQuery(document).ready(function( $ ){
    $('.scroll_to_content .jet-toggle__co

[2022-06-24 10:36] RuanPienaarCode opened #5554 "JetEngine - Dynamic Feature Post Image from Parent Related Post."
Would use feature to call Post Feature Image from a Parent or Child Post.

Example:
Post Type (Venues) - Parent
Post Type (Meetings) - Child

When you share or post it as a podcast the post calls the parent post featured image as its own post featured image.
So when you share the post on WhatsApp or post Child post as a podcast then it will display the related post featured image.

Thank you

[2022-06-24 17:47] glorpyz opened #5555 "Random post - in JetEngine Listing"
Hi.
1) I have made a special Post Types, in JetEngine for Quotes.  Example "After rain comes sunshine"
2) And I have made a Listing, with a Slider showing these post-quotes.

My feature request is to choose **"random post"** so JetEngine choose some random posts and slides them (or shows them normal).
Random could be useful in different situations.
It would be great if we could choose how many, li

[2022-06-24 18:45] glorpyz opened #5556 "Update video about making Archive"
Hi.
It's really not a bug, but I would appreciate if you updated the video&guide about making custom Archive page.
Video shows previous version and I'm having some problem finding out how to get it right with today's versions.
Thanks

[2022-06-25 03:58] lifeact commented on #584
any news?

[2022-06-25 13:45] SirLouen opened #5557 "Sibling Relationships Broken"
**Describe the bug**
Sibling relationships with Query builder and Listing Grid is not showing any results in current 3.0

**To Reproduce**
Steps to reproduce the behaviour:
I'm doing the same protocol as in
https://www.youtube.com/watch?v=4ZNF_BTBQ8M
In a testing environment with a brand new WordPress with Elementor Pro latest version and Jet Engine 3.0

In my example screenshot, I'm using Players

[2022-06-25 15:55] SirLouen commented on #5557
**Partially solved the issue**

Using the own Post Query system within the Listing Grid Widget I've been able to solve it, BUT with Related ITEMS not with Related Siblings mechanism:

![solution](https://i.imgur.com/YKGP9zr.png)

I leave open this BUG so devs can further check for a future solution of this (to make everything more comprehensive according to documentation)

[2022-06-26 09:09] unitedonline commented on #1284
Hi,
was this issue ever sorted out by the development team?
It has been over 3 years from what I can see.
It would be great if they implement it.

[2022-06-26 09:23] mary151 opened #5558 "Jet WooBuilder Sorting filter bug"
Hello,

In Jet Woobuilder "shop template" **sorting filter widget from jet smart filters** (sort products by price, date etc.)  d**oesn't work with "Ajax" and "Page Reload"**, when the option is **"WooCommerce archive with JetWooBuilder"**. Works only with "Page reload" with  "Apply button" . Please see images in comment below.

[2022-06-26 09:23] mary151 commented on #5558
![sorting1](https://user-images.githubusercontent.com/56391303/175807777-a1647a44-18bb-44e8-bba6-8fe894e53921.png)
............................................................
![sorting2](https://user-images.githubusercontent.com/56391303/175807779-48f16709-2c59-4a9f-a083-bf27a9a475ec.png)
............................................................
![sorting3](https://user-images.githubuserconten

[2022-06-26 09:30] mary151 opened #5559 "Jet WooBuilder Jet Smart filters radio filter bug"
Hello,

I wanted to add product categories as radio smart filters in Jet WooBuilder. But when I choose **"Page Reload" as "Apply Type"**, it is not reloading the page. Nothing happen.

Also ** ajax also don't work** - it shows only loop of one product.

![screenshot-localhost-2022 06 25-19_12_48](https://user-images.githubusercontent.com/56391303/175807998-de8f97d0-0d58-490a-9945-6c7aae112b44.png)

[2022-06-26 10:10] Lonsdale201 opened #5560 "JetEngine Slider Gallery for Dynamic field widget not working"
JetEngine Slider Gallery for Dynamic field widget not working with Elementor flexbox on mobile.

[2022-06-26 15:19] joehdevwp opened #5561 "JetEngine -> ACF Flexible Content"
Unless I am mistaken, currently there is no way to combine ACF Pro Flexible Content with Elementor templates without using Dynamic.ooo flexible content widget. (Dynoments Rexy used to offer this but they seem to have gone out of business [link](https://www.dynamic.ooo/dynoments-rexy-to-dynamic-content-for-elementor/)).

JetEngine is so powerful and yet it lacks this amazing feature. There is now o

[2022-06-26 16:19] Lonsdale201 opened #5562 "JetElements - Advanced Carausel Bug with Elementor flex container"

[2022-06-26 16:26] Lonsdale201 opened #5563 "JetPopup and Flex container full broken on mobile"
Update :

Something was wrong with me, so far so good. However, within a flex container, for the simple popup (no listing), you can only open the popup if you set an extra condition for it, if you leave it empty, without a condition, it will not open in containers. However, by default the conditions are optional, for flex this can be temporarily solved.

[2022-06-26 17:37] nreljed opened #5564 "⚠️Jetformbuilder has lost control over attachments (🪲Bug)"
![Capture d’écran 2022-06-26 174806](https://user-images.githubusercontent.com/82481592/175826617-f73238e8-02f1-41b8-aa44-ce32c0982e6b.png)

how to reproduce the bug 🐛

0 - preparation
create a simple new post form with a media gallery .
create your edit post form with a media gallery .

1- put the title and content and your images in gallery and submit
2 - go check in media to make sure everythin

[2022-06-26 17:51] nreljed opened #5565 "⚠️Jetformbuilder doesn't like upload optimization plugins (Big Big Bug🪲 Mode )"
how to reproduce the bug 🐛

0 - preparation

install the plugin [Smush](https://fr.wordpress.org/plugins/wp-smushit/) or Smush Pro plugin
activate the plugin

1- in your new post form upload images and wait... 2 min 👨‍💻 yes 2 min

![Capture d’écran 2022-06-26 185316](https://user-images.githubusercontent.com/82481592/175827433-7c6dbc04-86f1-47cb-ae49-03a9c252747e.png)

https://user-images.githubus

[2022-06-26 19:31] satomiao opened #5566 "JetFormBuilder: Add dynamic data support for Number field Min/Max value"
Please consider adding dynamic data support or allowing to use macros in Min / Max value in the Number or Range field of Jetformbuilder.

![image](https://user-images.githubusercontent.com/55849033/175830835-52fac467-2ec7-4ce9-85da-221b03ad9c57.png)

[2022-06-26 20:59] satomiao opened #5567 "JetFormBuilder: Completely remove the elements inside the conditional field from DOM when the condition is not met."
Currently, the elements and widgets inside the conditional field still can be shown on the front-end if the user inspects the HTML and changes the CSS from display: none, to display grid, flex, block, or inline.

![request1](https://user-images.githubusercontent.com/55849033/175833513-c13440a3-d0e6-488e-aacb-43f2465d711b.jpg)

Although not every user would do that, still it can cause many issues a

[2022-06-26 21:07] Franky-Four-Fingers commented on #1970
+1
Why is this still not fixed? Why not a cover/contain option or too align the button? These different sizes are hella annoying!!

@Crocoblock

[2022-06-27 08:40] Floydtm commented on #5552
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-27 08:40] #5552 closed, assigned to nobody

[2022-06-27 08:47] mehdimoradi1500 commented on #5552
@Floydtm i wished once, my request assigned to... 😂

[2022-06-27 08:56] Floydtm commented on #5553
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-27 08:56] #5553 closed, assigned to nobody

[2022-06-27 09:10] ro0t3r12 opened #5568 "JetSmartFilters / QuickView / Load more issues"
Hello everyone,
we use, among other things, the JetSmartFilters and now have the following problems with the AJAX method:

1. A customer selects a filter in a shop category (e.g. a specific color), the products are then filtered as expected.
PROBLEM 1: The customer clicks on a product, lands on the product page and now goes back with the browser.
The category page is unsorted again and the custome

[2022-06-27 09:31] lagethomas commented on #5548
Yes, similar this!
It's is possoble in next update?

Em qui., 23 de jun. de 2022 10:03, Orlando Marconi ***@***.***>
escreveu:

[2022-06-27 09:43] Floydtm commented on #5555
You can set up a random order right now. Look at the listing grid or Query Builder settings https://prnt.sc/q9U1xtSi7kdg https://prnt.sc/yvlqO2BH6Z1T

[2022-06-27 09:43] #5555 closed, assigned to nobody

[2022-06-27 10:17] filwi commented on #2632
In JE v3.0.0, rptHarry's plugin (v1.1.1) works, but you've got to use "Hide element if conditons are met" rather than show.

So it's the opposite of how it should work ;)

[2022-06-27 11:00] RobertLloyd45 opened #5569 "Booking rules for jet booking"
Allow bookings for set durations eg: 2 nights, 4 nights or 7 nights. The guest will select their length of stay, this is much more organised than allowing random dates and random durations. It allows the booking provider to be more efficient with room changes and adds more structure to the hotel/ rental.

This would work by allowing bookings on certain days only. Eg; Fridays or Mondays.

Example;

[2022-06-27 11:12] hamed-azimi commented on #5485
Andrey Shevchenko posted a solution on my FB post for this:
https://github.com/MjHead/jet-woo-qty-for-add-to-cart?fbclid=IwAR0zbBT5DKELai7i6CQ4VMUgxSMpskgjO94jZEQ3Yl7h7rXQRlL_A-gYQJk

But you know what? now that they made this shortcode, they can quickly finish it as a complete add-to-cart widget and add it as a new feature to the upcoming JetEngine update. They've already done this for JetWooBuil

[2022-06-27 11:53] birigergely commented on #2377
I was surprised that such a thoughtfully developed plugin that Jet creates does not have an image upload field. It would be necessary in 2022!

[2022-06-27 12:15] Floydtm commented on #5559
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-06-27 12:15] #5559 closed, assigned to nobody

[2022-06-27 12:15] Floydtm commented on #5558
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-06-27 12:15] #5558 closed, assigned to nobody

[2022-06-27 12:46] 79ho3ein opened #5570 "BUG in jet smart filters (only in RTL websites)"
hi @Floydtm, I apologize for tagging. But I finally found the cause of a bug and now was the best time to report it. I have reported this once before but I will close it and please keep this issue.

**Describe the bug**
If the website is RTL, in the visual filters, checklist and radio list, the items are completely stuck together. Please see [this photo](https://prnt.sc/MPorLp6XMGEz).
**But in LTR

[2022-06-27 12:47] #5360 closed, assigned to SargasTM

[2022-06-27 12:47] #3926 closed, assigned to SargasTM

[2022-06-27 16:32] Floydtm commented on #5517
Perhaps I do not quite understand you correctly, but you can make any template and assign it to the desired product category. check out this tutorial https://crocoblock.com/knowledge-base/articles/jetwoobuilder-how-to-set-up-a-custom-product-taxonomy-template/ let me to know if it will help you

[2022-06-27 17:08] tizum commented on #5551
+1
@kaskad88 this can be added along with this request: https://github.com/Crocoblock/suggestions/issues/5522#event-6846159348
Very good your request by the way @mindingear

[2022-06-27 19:01] dyonatandias commented on #5522
+1

[2022-06-27 22:08] mindingear commented on #5551
@tizum  Awesome! Thanks! :)

[2022-06-27 23:15] Lonsdale201 commented on #5563
Still cant open the popup, if the (trigger) button inside the Flex container. (sometime work, sometime no)

[2022-06-28 06:14] Michaelgimii opened #5571 "Ability to display filter counters in front + Ability to remove parentheses in counters / jet smart filters"
<strike>1- Please add a new feature so we can move the counters to the opposite side : https://prnt.sc/uGDX-_L4VczE</strike> DONE
<strike>2- Please add the option to delete parentheses to the counters. Counters are now displayed this way : (12)</strike> DONE
3- Please add 3 new options to the counters. Background color - padding - border radius . By adding these items, we can create something like

[2022-06-28 08:11] UraraReika commented on #5503
We haven’t heard from you in a while so I’m going to go ahead and mark this thread as resolved. If you still need help with this issue or have any other questions about the JetWooBuilder plugin, please start a new thread.

[2022-06-28 08:11] #5503 closed, assigned to UraraReika

[2022-06-28 12:40] itsyosk opened #5572 "Ability to add custom notes, reminders and notification in the WP Admin panel"
Hello to everyone here.
First - your plugin is amazing and I'm using it on every website that I build.
I wanted to ask if you can create some kind of admin notices/notification/instructions panel.
Similar to what you get when you don't have an active license to any of the plugins or a prompt to leave a review for a plugin.

So Basically I want to have a section on the new CPT that I created that w

[2022-06-28 19:14] waysagency opened #5573 "Convert slick slider to swiper.js and other improvements"
Slick slider has become one of the worst sliders in developing world... Consider removing Slick sliders and converting to Swiper.js. Also, it's weird that you use swiper.js in woobuilder, but not in jetengine...

I would also like to see some more options like:
- Custom arrow container
- Slides to show with decimal numbers
- Free mode
- scrollbar

Or just give the possibility to write some json fo

[2022-06-28 21:30] tealou commented on #5573
Yep. Wouldn't we all. Welcome to the Crocoblock sunk costs fallacy ;)

[2022-06-29 07:27] trofimartya opened #5574 "JetEngine Map Geolocation not working"
**Describe the bug**
Map Geolocation filter not showing anything when I accept access to geolocation

**To Reproduce**
I followed [this ](https://crocoblock.com/knowledge-base/articles/jetengine-setting-geosearch-based-on-user-geolocation/) guide but as a result I get empty map.
Here is my locations on map before I accept the geolocation access:
![image](https://user-images.githubusercontent.com/5

[2022-06-29 08:30] trofimartya opened #5575 "JETSmartFilters: add additional providers to Pagination widget"
Almost all widgets have Additional Providers except Pagination. It would be great if you can allow to have multiple providers for Pagination widget too.

[2022-06-29 09:04] Floydtm commented on #5575
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-06-29 09:04] #5575 closed, assigned to nobody

[2022-06-29 12:16] makaus opened #5576 "Query builder - WC Product Query doesn't load dynamic data in listings"
**Describe the bug**
Move from legacy queries to Query builder.

Choose WC Product Query instead of Posts Query in Query Builder
On page where Listing grid is used, images, prices, etc. will not show if WC Product Query. Shows perfectly when choosing Posts Query(in Query Builder) and setting Post Type to Products.

**To Reproduce**
Steps to reproduce the behavior:
1. Use WC Product Query in Query

[2022-06-29 12:59] Floydtm commented on #5574
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-06-29 12:59] #5574 closed, assigned to nobody

[2022-06-29 13:36] kbruck1203 opened #5577 "JetAppointments - Adding a timezone picker"
JetAppointments is a great plugin but there is no possibility for the user to pick the timezone they're in. There is only one timezone, and that's the timezone of the WordPress website.

I have clients all over the world and am doing marketing campaigns targeting many different countries - it would be helpful if the potential customer can select their timezone to see the available time slots for t

[2022-06-29 13:58] pharley commented on #2621
+1

[2022-06-29 15:20] KidDisco opened #5578 "Please add additional variations to URL's supported for staging and development environments."
Hi,
My hosting uses a url schema that looks like 'staging-' instead of 'staging.' for development environments.
This prevents me from using the regular plugin update process and requires me to manually install updates / plugins.

Could you please add 'staging-' as a valid schema when validating licenses?

[2022-06-29 15:59] Floydtm commented on #5576
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-06-29 16:26] Lonsdale201 commented on #5571
Idea is good, btw all of this easy to achive a bit of custom css.

[2022-06-29 16:32] Michaelgimii commented on #5571
Yes, but many users of this plugin do not have coding knowledge. On the other hand, I do not find it interesting that crocoblock, for jet smart filters, displays features on its website that are not present in this plugin at all. Like this : https://prnt.sc/ML8DdfNtrxT_

[2022-06-29 18:27] rlb222 commented on #2548
+1 without use of a button. I want to enter the SmartFilter-search-page and prefill some Smartfilter fields with data from the current users meta-box.
thx!

[2022-06-29 18:41] Lonsdale201 commented on #5571
Absolute true. In this image, you want to make a select filter more customizable?

[2022-06-29 18:55] Michaelgimii commented on #5571
Yes, exactly

[2022-06-29 20:17] Lonsdale201 commented on #5571
Ahh understand. You can do this with a little jquery extension calling select2. If you need i can can write a short desc how can you easy implement. :)

[2022-06-30 05:57] makaus commented on #5576
I can try. I have 3 templates on my frontpage which uses 3 different listing grids but the same listing element.

If i use WC Product Query, is only shows some(description and brand name(custom tax)) of it.

In the picture, you can see when i edit the listing(inside the template with the listing grid), the information shows up, but when you see the listing in action(to the right) the info is missi

[2022-06-30 11:47] Lonsdale201 opened #5579 "JetElements Timeline + Dynamic Data addons additions"
In a future possible to make this features?

The Timeline have an option to set text, or icon for the pointer. Could you expand this with a simple number counter with support the Dynamic data addon repeater?
https://prnt.sc/XcddWTRPqqNc

This is a live example, and at the moment possible to make this a bit of custom css with counter option. But need to set the pointer type to icon, and write a bla

[2022-06-30 13:53] Floydtm commented on #5077
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-06-30 13:53] #5077 closed, assigned to kaskad88

[2022-06-30 13:55] Floydtm commented on #2184
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-06-30 13:55] #2184 closed, assigned to kaskad88

[2022-06-30 13:56] Assistmysite opened #5580 "JetElements> Slider / Advance Carousel widget - Image Lazy Load"
Please add lazyload for images inside the slider and Advance Carousel widget to reduce the loading speed... This function is must if the slider is used as the full screen header slider ( with background img ). In our experience Jet sliders slows down the website a lot and we were forced to use an alternatives in number of projects....

[2022-06-30 14:47] maaxjahz opened #5581 "JetBooking | Accept a previously booked Check-In date as someone elses Check-Out date."
Dear Crocoblock team,

For a customers website I have used the Balirento theme with JetBooking functionality.

There is already this option for the Booking period where you can not include the last booked date (check-out date) for someone elses check-in date: https://gyazo.com/fa50b39c1ac7101af2b6e796ef694fdb

This means that once a period is booked, a next booker can still select the previously b

[2022-06-30 14:51] maaxjahz opened #5582 "JetBooking | Check-In & Check-Out dates only on specific day(s) of the week."
Dear Crocoblock team,

I have been using JetBooking for a website to rent out campers/caravans.

The customer of the website only wants to have customers check-in and check-out on a certain day (friday)

However unfortunately there is no option to do so with the jetbooking functionality so far.
I tried to get this done with the weekly booking configuration, but that only let people book from monda

[2022-06-30 17:12] k4znIm opened #5583 "JetEngine | Dynamic Callendar CCT support"
Hi,

i want to ask, why JetEngine dynamic callendar doesn't support CCT? I have used it with CPT, but its doesn't work with CCT. If i can have date saved as timestamp in CCT and listing for it, just like in CPT, why i can't use CCT in dynamic callendar?

I was told its better to use CCT if you have more than 1000 posts. Okay, i have more than 1000 events, so i will use CCT, but then i cant use cal

[2022-06-30 17:29] otomasz opened #5584 "JetTricks - scroll horizontal containers"
Hi,

JetTricks lacks the possibility of creating **horizontal scrolling containers** for mobile devices. 📱

Currently, it is standard to use horizontal scrolling on many mobile websites.

![1*owfJDGpP-n707h-FZuDDKg](https://user-images.githubusercontent.com/23310832/176739539-1636eafd-ff8e-49a7-a94b-ae5e7b275846.gif)

I think this solution will bring you new customers and existing users will love

[2022-06-30 17:30] otomasz commented on #4464
I have the same problem. Solving this problem will be wonderful!

[2022-06-30 17:34] otomasz commented on #3243
One of the most anticipated features 😄

[2022-06-30 18:01] theimisioluwa commented on #2098
I had this issue today and found a way out.
I switched the jet-engine-grid from 'block' to 'flex', that way the individual grid items can be arranged.

/* Jet listing grid */
.elementor-widget-jet-listing-grid .jet-listing-grid{
	display:flex;
	flex-wrap:wrap;
}

Then I changed the width of each grid as I desired.

/* Jet listing grid  item */
.jet-listing-grid .jet-listing-grid__item:nth-child(1)

[2022-06-30 22:09] satomiao commented on #5583
“Hi guys. Unfortunately, as for now, we don't have compatibility between CCT and the Calendar. We will add it to the feature request list” —— 1 week ago from Crocoblock Community

[2022-07-01 05:08] tropicchaotic commented on #2252
+1

[2022-07-01 07:36] ALPSIT opened #5585 "Progress Bar for JetEngine Listing Grid Slider"
Hi Team,

Would be awesome to have a Progress Bar option for Listing Grid Slider and any other slider widgets Crocoblock offers.

See below screenshot example.

![image](https://user-images.githubusercontent.com/85008592/176847387-218e03b9-6e90-48e8-8109-263f16ed851a.png)
![image](https://user-images.githubusercontent.com/85008592/176847431-d97dbbc0-239f-4bbc-a179-893a65415600.png)

Kind Regards,

[2022-07-01 09:30] k4znIm commented on #5583
@satomiao Hi, thanks for info. Can i somewhere see that feature request list?

[2022-07-01 11:04] Gareth-Find-A-New-Website opened #5586 "Not allowing deposit option if arrival date is within 30 days - 3rd party plugin = Woo deposits."
I've created 2 sites for rental properties but I want to disallow the option to pay a 25% deposit if the arrival date is within 30 days.

I've added Woo Deposits and Partial Payments. Can you provide custom code for me to acheive this or can the Jetbooking plugin work with Woo Deposits and Partial Payments?

I have custom code to fix it but... JetBooking reserves the dates once the booking status

[2022-07-01 11:16] Gareth-Find-A-New-Website commented on #5476
Hiya,

I used this plugin to allow deposits Woo Deposits and Partial Payments - I've opened a ticket to see if croco can work with it as jetbooking won't allow me to disable the deposit option if arrival is within 30 days.

Happy to send you a zip of the plugin to see if it meets your needs before you buy it. Then hopefully croco will make them work together :o)

[2022-07-01 11:54] stasonua0 commented on #3243
This is already in the new Elementor containers, so you can close it. @Floydtm

[2022-07-01 11:56] otomasz commented on #3243
Where? How to do it?

[2022-07-01 12:05] 79ho3ein opened #5587 "The possibility of deactivating unused widgets in the jet smart filters plugin"
**Please, describe the feature request, making it clear to understand.**

hi crocoblock team !
In most jet plugins, it is possible to disable unused widgets. But this is not possible in the jet smart filters plugin. Please add this feature if possible.

thank you

[2022-07-01 15:21] KidDisco commented on #5430
Agreed. This is a pretty big oversight. As far as I can tell, access to this data is only available in the DynamicField widget. This makes the Dynamic Link, Dynamic Image etc, kind of pointless.

I'm trying to create a DynamicTable with a link. However, the Dynamic Field widget cannot specify *BOTH* the output and a link (nor can I construct a link). At the same time, the DynamicLink widget does n

[2022-07-01 15:22] KidDisco commented on #5081
Yes please. This is a big oversight.

[2022-07-01 16:50] nreljed commented on #5587
#5197
mentioned but it has not been seen,
hopefully it  sufficiently explained to be reviewed

[2022-07-01 17:05] otomasz opened #5588 "[JetElements] Advanced Carousel Widget - does not work on mobile with containers"
the problem is that on the mobile version the carousel goes beyond the page area by several hundred px.
the problem does not occur on the tablet version

[2022-07-01 18:40] Rauljauregi commented on #1228
Hi there,

Is it possible to to select on Rank Math a Taxonomy Term´s custom field ? I mean that I achieved to select a Custom Post Type´s custom field, but I cannot with a term´s field... I cannot even activate on the SEO tab on Jet Engine settings.

Does anyone know something about this?

[2022-07-01 20:14] mateitudor commented on #5467
I second this. It would be awesome to create a setting that adds a class that you can customize from css, or just have a layout builder <3

[2022-07-02 07:16] 79ho3ein commented on #5587
I think you did not understand my meaning well. Actually, I mean such a feature to disable jet smart filters widgets. https://prnt.sc/qzLSjQHp8Aef
This feature is now available in some jet plugins, such as jet woobuilder and jet elements.

[2022-07-02 07:24] rlb222 opened #5589 "JetFormBuilder fields from reusable blocks are not shown in PostSubmit register user action"
**Describe the bug**
When I edit a JetFormBuilder form and place a Reusable Block with multiple fields, these fields are not shown when I edit the 'register user' form action.

 There is a workaround, but it's not desirable.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a reusable block from several fields on a JetFormBuilder form. Give it a name (e.g. myFieldGroup)
2. Go to another J

[2022-07-02 18:20] LTimerr opened #5590 "JetEngine: 2 factor authentication for forms"
Hello, I keep hearing that people register with an e-mail that is not a real one. That's why I would like it if those who are registered receive a code by email and then have to enter it in a form in order to finally be fully registered.

[2022-07-02 21:45] otomasz commented on #5362
Not working :-(

[2022-07-02 21:50] otomasz commented on #5573
right on point. widgets lack the basic rules of correct ux / ui

[2022-07-02 23:45] Nima786 opened #5591 "Jet smart filter & Jet search compatibility"
Hi there, I use your products in different projects and happy to use them on our new stack ( using alongside Bricks Builder ). This excellent page page builder is getting more and more popular and some third party products and add-ons already started to show their interests. It would be great if we see some kind of compatibility of your products with Bricks builder as well. At least you can provid

[2022-07-03 07:29] stasonua0 commented on #3243
1. https://prnt.sc/jBL9MdQkJ7gG
2. https://prnt.sc/G_Bvu_Yuzg7e

[2022-07-03 07:33] ghost commented on #5591
I totally agree, that would be great.

[2022-07-03 11:01] infobeaedu commented on #5591
Also I agree. It would be excellent.

[2022-07-03 11:08] Saultejera commented on #5591
I agree, Bricks is becoming my main builder, I doubt I will use Elementor again.  That's why I miss Crocoblock in Bricks, it would be the perfect combination.

[2022-07-03 11:27] yannicklmb commented on #5591
No doubt about it. JetSmartFilters is the best solution for filtering content (it is also compatible with Gutenberg). I think it would be the perfect companion to Bricks.

[2022-07-03 18:51] mateitudor opened #5592 "A way to add a meta field value as a class on the parent wrapper of the listing grid item"
Scenario:
Crocoblock leverages the Elementor dynamic value when adding a class name to the listing item.

Unfortunately, by the time it gets displayed in the front-end there are 2 more wrappers around it.
Sometimes you might want to add a special style based on that class name.

What I tried so far:

1) I have tried to do it with js — steal the class from the child and put to the grandparent, but

[2022-07-04 05:24] shinTM commented on #172
done 2 3 0 https://tppr.me/VLKD9

[2022-07-04 05:24] #172 closed

[2022-07-04 07:06] trofimartya opened #5593 "JetEngine Maps add customizable distance to Smart Filtes"
Currently in Custom Query you can add radius/distance that will find posts near you.
![image](https://user-images.githubusercontent.com/54772320/177099767-800bc6eb-d76e-4fac-9556-da105f0af9dc.png)

It would be great if you could add feature when user can change this distance by himself. Because currently users may be confused of the results they get.

My suggested reference: https://spitfirehomes.

[2022-07-04 13:42] Floydtm commented on #5585
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-07-04 13:42] #5585 closed, assigned to nobody

[2022-07-04 13:44] Floydtm commented on #5584
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-07-04 13:44] #5584 closed, assigned to nobody

[2022-07-04 14:36] ALPSIT commented on #5585
I agree - there is much more priority tasks than this one haha. was just an idea to think about.

[2022-07-04 15:05] Michaelgimii commented on #5591
+1, It would be great to be able to create a shortcode for each filter

[2022-07-04 22:59] mdinjamul opened #5594 "Jet Smart Filter is not showing on the frontend when I try to filter the archive template using normal textbox meta key."
**Describe the bug**
The Bug is that I have a website where I have created a custom post type to review mobiles and laptops, in that post type I have a few custom text fields for "Processor", "RAM", "Storage" etc. and I want to filter out the archive page of the mobile and laptop using that custom text field value ( "Processor", "RAM", "Storage"). but it does not work. I need a checkbox filter to

[2022-07-05 08:56] sonnesworld opened #5595 "JetMenu Plugin Vertical Menu Shift"
Hi,
I use the vertical menu widget and added it as shortcode to some shop pages (made with JetWooBuilder). I activated Template Content Cache and Cache menu CSS for JetMenu:
![image](https://user-images.githubusercontent.com/57396134/177289188-1625b216-50ec-4656-8126-286cc2f2996d.png)

But when I visit several pages in frontend I can see how the menu is loaded and this is confusing. It shifts and

[2022-07-05 09:48] Smalyleinchen commented on #1314
Have the same problem. Sometimes the menu opens instantly and sometimes it loads endless until i reload the page.

[2022-07-05 09:49] Smalyleinchen commented on #5242
+1

[2022-07-05 11:18] hb81010 opened #5596 "Price List Widget - Title HTML Tag (SEO)"
It would be great if for the Price List widget the Title HTML tag could be selected manually, similar to the Pricing Table widget (see image). Currently you can't select anything and the H5 tag is always used. From an SEO point of view, this would be an important feature.

![grafik](https://user-images.githubusercontent.com/54399588/177316021-3fd66d00-02c7-4c9a-b59c-386e34ec7922.png)

[2022-07-05 12:28] mehdimoradi1500 opened #5597 "text field for cpt cant be seen, jet engine"
hi
when i add text/text area/number field field to CPT, i cant add any text to it

![Capture](https://user-images.githubusercontent.com/86493591/177326913-e4703a8d-141f-4c1b-8206-638bd14f8f56.JPG)

[2022-07-05 12:45] coryhubbell commented on #1314
I gave up on them along time ago. My best advice is to use something else. Terrible menu system with so many ongoing bugs

[2022-07-05 12:50] sarbajit1998 commented on #760
Easy Solution
1. Filter Field Output - ON
2. Choose - Format date (Localized)
3. Format - g:i A
Problem Solved Perfectly

[2022-07-05 13:27] anabellafp commented on #811
@MjHead Is this implemented already? I can't find this option anywhere...

[2022-07-05 16:31] menzer2015 commented on #878
Multiselect please +1 (2 years on) - lol

[2022-07-05 16:54] kelvin6365 opened #5598 "Jet Smart Filter (Apply Type : Maxed) + Listing Grid (enable Lazy Load) Not Work as expect"
**Describe the bug**
Jet Smart Filter (Apply Type: Maxed) + Listing Grid (enable Lazy Load) Not Work as expected
When I enter the page with query string filter is working fine with Lazy Load
eg: ?jsf=jet-engine:high-end-medical-query&tax=insurance-company:80

Once I change the filter option, the filter always shows empty or doesn't even change the result, getting the same data.

**To Reproduce**
S

[2022-07-05 22:07] fabio323ti commented on #5546
+1 missing feature very important, missing in Jetform also.

[2022-07-05 22:18] deepwaterpixel commented on #2360
This should not be closed -- adding the feature to JetFormBuilder is nice, but right now I can't upload images on JetFormBuilder, so I have to use JetEngine forms.  Now, I have a taxonomy with many children and grandchildren that are just shown as a single alphabetical list :(

The request was for JetEngine's forms feature, not JetFormBuilder.

[2022-07-05 22:20] deepwaterpixel commented on #5181
+1

[2022-07-05 22:33] deepwaterpixel opened #5599 "JetFormBuilder is uploading images but not showing in the form"
**Describe the bug**
Using any JetFormBuilder form, Media fields do not work.  When I select the image, it is uploaded to the site, but not shown on the form.  This then means if the Media field is **required**, the form submission fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a form with a Media field
2. Select **Choose files...**
3. Pick a photo or photos
4. Try to submit fo

[2022-07-05 23:06] #4709 closed, assigned to kaskad88

[2022-07-06 00:38] BatcomAus commented on #2237
There are multiple requests like this one but none of them are being worked on and it's been over 18 months since this was suggested

[2022-07-06 00:40] BatcomAus commented on #2609
Most form makers have this functionality, or you can talk to someone like E2PDF and get them to integrate their plugin with yours. Also there are multiple requests similar to this, can't someone from Crocoblock tidy it up so we only have to vote on 1

[2022-07-06 00:42] BatcomAus commented on #2902
Another request to add PDF attachment option

[2022-07-06 00:42] BatcomAus commented on #3079
Another request for PDF

[2022-07-06 00:43] BatcomAus commented on #3338
Another PDF request

[2022-07-06 00:44] BatcomAus commented on #3900
PDF generator again

[2022-07-06 00:45] BatcomAus commented on #3545
Lots of people want this feature yet you've closed this and linked it to another case that's the same, which is also closed and linked back to this case. There are even older cases requesting this feature which haven't been closed or commented on. If you're not going to add the feature then please say so because this has been requested for over 18 months. If it is being worked on then please let u

[2022-07-06 06:55] #4010 closed, assigned to nobody

[2022-07-06 07:17] CptSlow2000 opened #5600 "Jet Horizontal Timeline .jet-arrow z-index 999"
Why is the z-index 999 by default? Is it on purpose that this is set so high?

![IMG-20220706-WA0006.jpg](https://user-images.githubusercontent.com/54249539/177491409-1b8383d4-7d9e-4bbd-9292-15d1a5ac50c8.jpg)

[2022-07-06 08:03] Floydtm commented on #5594
This is not a bug. Learn the documentation how to [configure](https://crocoblock.com/knowledge-base/article-category/jetsmartfilters/) checkbox filter.

[2022-07-06 08:03] #5594 closed, assigned to nobody

[2022-07-06 10:55] Floydtm commented on #5597
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-07-06 10:55] #5597 closed, assigned to nobody

[2022-07-06 12:48] Bayron2304 opened #5601 "JetSmartFilters checkbox hides attribute even though there are products in the archive"
In short;

I have a checkbox filter that is setup for an attribute "Merken" ("Brands" in EN), on an archive page of shoes this checkbox filter is not showing all the brands, it shows some, but not all. See the image below of the brand not being shown. I have double-checked these products and they have entries for this attribute.

![image](https://user-images.githubusercontent.com/22499245/17755307

[2022-07-06 12:58] Floydtm commented on #5599
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-07-06 12:58] #5599 closed, assigned to nobody

[2022-07-06 13:31] Floydtm commented on #2902
Will be added to the jetformbuilder plugin soon. Keep for updates.

[2022-07-06 13:31] #2902 closed, assigned to nobody

[2022-07-06 14:17] Floydtm commented on #5600
Do you have a problem with this? This value breaks something on your site. Thank you!

[2022-07-06 20:26] ofmarconi opened #5602 "Unbundling the "Dinamic Visibility" module from the JetEngine plugin"
I have some sites that I just need to hide things, I think that as a plugin this module can be much more successful and also not be necessary to load the entire JetEngine in the backend.

This makes things more streamlined and organized.

There are other plugins like Dynamic. ooo but, it's not the same, always bug with Flexbox.

[2022-07-06 20:39] ofmarconi opened #5603 "Add more options: is Mobile, is Tablet, is Desktop (Dynamic Visibility)"
Hi!

I know this might sound a bit boring, but I planned my project to display a different page just for Mobile, but this option also hides the element on iPad.

Could you be more specific?
DESKTOP; TABLET & MOBILE

<img width="424" alt="image" src="https://user-images.githubusercontent.com/6594795/177638934-370ce43a-21b8-49ee-b299-a9214a650afa.png">

THX!

[2022-07-06 22:01] ofmarconi opened #5604 "is Mobile, does not detect Firefox on iOS iphone 13 pro"
Hello could you check if this is really a bug?

thx!

[2022-07-06 22:14] ofmarconi commented on #5604
It was enabled in my Firefox application: Show Desktop Version

![image](https://user-images.githubusercontent.com/6594795/177652369-32a7f0f7-9363-43a8-9d97-c3b292d0b48a.png)

When this is enabled, there is no way to detect that it is a mobile device?

[2022-07-07 04:43] joelcrump opened #5605 "Jet Woo Builder - Fatal Error when WooCommerce PDF Product Vouchers by SkyVerge is active."
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: ''
assignees: ''

---

**Describe the bug**
When both the WooCommerce PDF Product Vouchers plugin and the Jet Woo Builder plugin are active it causes a fatal error when trying to create a Woo Page Builder template. (see Screenshots)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Crocoblock>Woo Page Build

[2022-07-07 04:59] joelcrump commented on #5605
This is also the case with Elementor by the looks, I've left a feature request on elementor's GitHub as this my automatically fix your conflict.

[2022-07-07 06:26] tizum commented on #5603
+1000

this option could give the availability to choose any of the active breakpoints that we use by default in Elementor.  this is very important for a complicated design, and this option currently available doesn't work very well either, I often have problems when I use it, so I'm currently using css with media query....but the code stays on the page, it's a shame

[2022-07-07 09:30] Andrew-Vikuk commented on #5593
+1

[2022-07-07 09:30] Karwae commented on #5593
+1000000000

[2022-07-07 09:35] Karwae commented on #5593
Currently jetmaps distance feature is cool but seems like its on late beta stage... Needs to be improved significantly.

[2022-07-07 09:40] Stacy-A commented on #5593
+++ Yes, that's exactly what is lacking!

[2022-07-07 10:15] webdevs-pro commented on #5593
+1

[2022-07-07 10:38] evolvenl commented on #402
Jetengine 3.0 is here...
Almost 3 years have gone by and still no opening hours to show and filter on open/closed businesses..

[2022-07-07 11:45] nreljed opened #5606 "Jetsmartfilters counters controls"
![Capture d’écran 2022-07-07 123449](https://user-images.githubusercontent.com/82481592/177765682-abe4b964-29b3-42b8-b3eb-e9c74aeaa567.png)
[source](https://www.radiustheme.com/demo/wordpress/themes/homlisti/post-an-ad/)

I have a lot of trouble reproducing the same layout with the counters under jetsmartfilters
I can't find any control over that

![Capture d’écran 2022-07-07 123531](https://user-

[2022-07-07 11:50] Michaelgimii commented on #5606
hi @nreljed
How did you put the counters in a column? If with code, is it possible to publish the code? https://prnt.sc/VAcx18J1NPYX
Unfortunately, in jet smart filters, the possibility of customizing the counters is very weak

[2022-07-07 15:08] LukasSleboda opened #5607 "JetAppointment link to cancel appointment by client"
Hello,

We need a possibility to cancel the appointment by client. It would be perfect, if it is possible to make a link using some shortcode and insert it into the email notification sent by the booking form.

Thank you

[2022-07-07 16:22] 79ho3ein opened #5608 "more control for counters in jet smart filters plugin"
**Please, describe the feature request, making it clear to understand.**

hi crocoblock team!
In the jet smart filters plugin, the counters have very limited customization. Therefore, I wanted to make some suggestions to improve this section. Please consider it for future updates if possible.

1- Ability to remove () from counters : https://prnt.sc/yVQ-CBAsIRFT
2- padding
3- Ability to display cou

[2022-07-07 16:46] 79ho3ein opened #5609 "simple bug in product grid widget carousel (Slides to Scroll) - jet woobuilder"
**Please, describe the feature request, making it clear to understand.**

hi

In the product grid widget, for example, I set the Slides to Scroll value to 2 (on the desktop). When I enter tablet mode, the inherited value is displayed as 2. But actually after scrolling the carousel, only 1 product is scrolled. If you don't understand what I mean, please watch the video below :

https://user-images.

[2022-07-07 16:52] Michaelgimii opened #5610 "Custom icon for spinner in add to cart button in jet woobuilder plugin"
In the jet woobuilder plugin, if the user clicks on the plugin's add to cart button, a spinner will be displayed, after which the product will be added to the cart.
So it would be great if you could add the ability to change the spinner icon to the add to cart button. This feature is already available in elementor https://prnt.sc/4yqjqUb8CsT1

[2022-07-07 21:25] dislokacia commented on #4886
Could you, please, check if it will help you?
https://gist.github.com/dislokacia/8269c6710f78bd2103f7f8302461ddd7

[2022-07-07 22:29] ovirex opened #5611 "JetAppointment: Time Limit for appointment with on-hold status"
I think (and I need) It would be very useful to add a time limit to appointments that are in "on-hold" status.

Use case: When a user pays for an appoinment but It never finish paying, that date is now "on-hold" until the administrator does something. Of course, when the user is on the checkout page, the date should be "on-hold" so someone else can't "steal" its date (that's how it works at the mo

[2022-07-07 23:53] aaslh commented on #5593
+1

[2022-07-08 00:06] bbua97 commented on #1567
+1

[2022-07-08 00:20] ofmarconi commented on #3336
@LevelUpGit Amazing! Thx!

[2022-07-08 00:29] ryanfurtner commented on #2660
+1 Damn, I really need this for a client site I have to present in a month. Theyre going to wonder why their URL's have 'jet-filter' in them. Heres to hoping this gets fixed in the next few weeks! :P

[2022-07-08 01:30] mehdimoradi1500 commented on #5587
Good one, it would be nice to disable those that se don't need

[2022-07-08 01:31] mehdimoradi1500 commented on #5608
+1

[2022-07-08 06:21] Caerus8 opened #5612 "JetBlog - Smart Posts Tiles ( Row control settings for mobile )"
would be a good feature if we add row control settings for mobile for the Smart Post Tiles widget,

at the moment it does show 5 rows at a time, which takes the whole view port in mobile. eg: [https://www.screencast.com/t/iPv7y1zyrM1](https://www.screencast.com/t/iPv7y1zyrM1)

number of of row control on mobile would make this widget much better.

cheers!

[2022-07-08 07:19] UraraReika commented on #5610
Hello @Michaelgimii !

Unfortunately, we do not plan to introduce such functionality into our plugin. But you can solve this issue with simple css.

**Example 1**
If you want yo use SVG icons. First of all you need to use this [tool](https://yoksel.github.io/url-encoder/) to transform your SVG icon markup into background image like [this](https://tppr.me/axdKl). You will need Ready for CSS field.

[2022-07-08 07:19] #5610 closed, assigned to nobody

[2022-07-08 07:24] Floydtm commented on #5604
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-07-08 07:49] MjHead commented on #5541
Fixed. Will be released with 3.0.1 update

[2022-07-08 07:49] #5541 closed, assigned to MjHead

[2022-07-08 09:04] taidang26 opened #5613 "[JetReviews] Option to enable/disable the required basic information field."
I want to turn off some functions that are mandatory. This option is not currently available. Like field name, email, star rating. In wordpress it is possible to turn off email request but I can't find jetreview. I think this is the missing function.

Some fields will be appropriate for certain post types. For example, in a post, you only need your name, email, phone number (option can add other i

[2022-07-08 11:58] ua-stanislav commented on #5508
Hi, It's me again.
Just found a perfect mailing plugin with few touches of integration with Woo Commerce, but seems like have a great space for integration with Jet Engine. Please consider partnering with them, that would be a game changer for both companies.
acymailing.com

In addition to it having RSS feed for post types would make an opportunity to mail the new listings on monthly bases to our

[2022-07-08 12:27] girafffee commented on #5511
Fixed, check in 2.1.0 version

[2022-07-08 12:27] #5511 closed, assigned to girafffee

[2022-07-08 12:32] girafffee commented on #5490
Fixed in 2.1.0

[2022-07-08 12:32] #5490 closed, assigned to girafffee

[2022-07-08 12:34] girafffee commented on #5146
Added this feature in version 2.1.0

[2022-07-08 12:34] #5146 closed, assigned to girafffee

[2022-07-08 12:38] girafffee commented on #5046
Fixed in 2.1.0 version
https://prnt.sc/z5Oncm6hJNQr

[2022-07-08 12:38] #5046 closed, assigned to girafffee

[2022-07-08 12:41] PPharma commented on #5485
Please include this into JetEngine so it works as a core JetEngine feature.

[2022-07-08 12:43] girafffee commented on #4896
This feature was added in version 2.1.0

[2022-07-08 12:43] #4896 closed, assigned to girafffee

[2022-07-08 12:49] girafffee commented on #5534
This feature was added in version 2.1.0

[2022-07-08 12:49] #5534 closed, assigned to girafffee

[2022-07-08 12:51] 79ho3ein opened #5614 "elementor Finder support for jet woobuilder , jet engine & jet smart filters"
**Please, describe the feature request, making it clear to understand.**

Using the Finder in elementor increases the speed while working because we can easily switch between different pages. **But unfortunately jet plugins do not support elementor finder.** So it would be great if you support elementor finder.

For example, let's say I'm using JetEngine on my website and I'm designing a single pa

[2022-07-08 13:04] Michaelgimii opened #5615 "Dedicated database table for CPT (like CCT)"
**Please, describe the feature request, making it clear to understand.**

hi crocoblock team!

As you know, in jet engine, every type of post we create is stored in the wp_jet_post_types table. But if the number of posts in one post type increases, say 700, this can have a significant impact on website speed.

**The desired solution**

**Please add this possibility so that we can create a dedicate

[2022-07-08 13:10] Bayron2304 commented on #5601
Could I receive a response on how this can be fixed? Thank you!

[2022-07-08 13:15] brunacarolinar opened #5616 "Insert the power math operation in the jet form"
Hello guys!

I really need to use the jet form calculated to perform calculations using the mathematical operation of power. But I saw that you do not have support for this operation.

This operation is very important! There are several calculations that used the power math operation. Could you do this implementation please?

[2022-07-08 13:38] tizum commented on #5522
@kaskad88 I would like to know if these options are being analyzed by the team?

[2022-07-08 13:44] tizum commented on #4969
Hello I would like to know if there are plans to add the filter by terms, I would really like to bring this functionality to some customers or know that this works using JetEngine and JetSmartFilter, thanks.

This could be added to Querybuilder with an integration with JetSmartFilter, I don't know how to see this working in a simple way like filter post.

@Floydtm @MjHead

[2022-07-08 13:47] saeed-1987 commented on #5615
Yes it will be so good
So we don't be worried about having archive and taxonomies, but in cct we have this limitations

[2022-07-08 13:58] kaskad88 commented on #5522
@tizum Yes, we plan to add this feature in upcoming versions

[2022-07-08 15:33] ihslimn commented on #4316
This is not a bug and you should not edit plugin files :)

You may add a custom macro https://gist.github.com/ihslimn/e953cf7e848e01ef06c66bfda26b42b7 (this one adds server timezone to timestamp, but you of course may change this)

There you specify the format - say 'd.m.Y' and string to get date from - say 'today'

Using this example you may add any custom macro you need

[2022-07-08 15:38] nreljed commented on #5565
![Capture d’écran 2022-07-08 160627](https://user-images.githubusercontent.com/82481592/178023890-9ce75a8d-e94a-45e6-91d4-86b621e5553f.png)

Hello @girafffee
I allow myself to tag you to alert you to the appearance of a new bug in **version 2.1.0**

About this line
![Capture d’écran 2022-07-08 145242](https://user-images.githubusercontent.com/82481592/178023353-7aaa4746-14ce-4fc6-8429-6e4842bc0c59

[2022-07-08 16:50] JuanCar29 opened #5617 "sql query dynamic tags"
It would be great if the dynamic tags of Elementor could collect the data from a sql query. You can only collect the metas of the post.
![Captura de pantalla 2022-07-08 a las 18 45 51](https://user-images.githubusercontent.com/90837626/178036076-ea61dfcb-748e-4a42-add7-aae301128a04.png)

[2022-07-08 16:53] JuanCar29 opened #5618 "Table builder copy"
You can add a button to copy a table builder. In a project with many tables almost all the same, I had to clone the table through the database.

[2022-07-08 17:51] ofmarconi commented on #5604
Hello Floyd Firefox, has an option called: Site Version for Desktop.

This prevents identifying if it is a cell phone.

[2022-07-08 17:51] #5604 closed, assigned to nobody

[2022-07-08 18:57] miguel-cravidao commented on #5543
@Floydtm thanks for your reply. The support team told me to open this suggestion here, that's why I im here.

[2022-07-08 21:57] RoynerG opened #5619 "Bug in the new Jetformbuilder update when updating a cct through a form. #Jetformbuilder"
There is a bug in the new version when updating a cct through a form, what it does is to duplicate the entry instead of updating it. Please check it.

[2022-07-09 11:02] mAAzes commented on #1907
Advance custom fields have this integration: https://www.wpallimport.com/advanced-custom-fields/
Crocoblock should too!

[2022-07-09 12:03] andrewpty commented on #3654
+1

[2022-07-09 13:45] jaimenurbina commented on #5615
excellent Proposal like this would be somewhat more agile consultations

[2022-07-09 21:16] samuelbauer-io commented on #1225
I am running latest version JetEngine 3.0.1 and there is no "order by [string|numeric|clause] meta value" option in Query Builder for Terms - Are you really sure?
Anyway - @MjHead , for me not a single kind of order works for Terms in query builder. How can that be possible?

[2022-07-10 03:18] constructivevisual commented on #4336
I know that it has been some time, but I was hoping that this would be a feature that would be introduced as the **date-time field** is required for expiry for membership platforms. Any chance of adding this into JetEngine so we don't have to manually expire/enable a CPT?

[2022-07-10 17:25] Lonsdale201 opened #5620 "JetFormBuilder - Disable past date in datepicker & Datetime (Code example added)"
Can you add in a future an option, for the Datepicker, and Datetime, to disable the past date? :)
https://prnt.sc/yyl4pVrm1qYT

At the moment you can do this with the following code: (just dont forget, when you add a date field in the jfb, you need to add the same ID in the code example also "date_picker" .  https://prnt.sc/VxRlkX_zHf_T
(This snippet work with the Date picker)

[code]

If you need

[2022-07-10 23:34] matiasbarram commented on #1991
I have the same problem in 2022 any news?

[2022-07-11 02:41] mindingear commented on #1907
+1

[2022-07-11 03:48] machachen commented on #5618
I was just thinking about this feature the other day. It would be a time saver.

[2022-07-11 06:18] nenno54 commented on #2001
I have an identical situaton, and I am (about to address it as follows 1)Make the CCT 2 Make the CPT that coressponds 3) Make custom form for front end 4) Make custom Taxonomies for my CPT  - whixh seems to bring me back to square one - BUT, the master plan is the croco Gods of Code will figure out the solution and then I am already ahead because my table is right there, ready for the eagerly awai

[2022-07-11 06:18] nenno54 commented on #2001
Did I mention I am a newbie :)  Please tip me off if you found a better way thanks

[2022-07-11 06:26] MarcelHeiniger opened #5621 "Please add Elementor & Gutenberg Logo inside the Dashboard"
Hello Crocoblock TEAM,
Thanks for your excellent work, especially for adding more and more elements to the Gutenberg collection.

It would be excellent if the Dashboard under "update & Installation" we could directly see which JetPlugins are
Elementor, Gutenberg or both

Actually, I have always to go back to your website to check

I know it's a little detail, but I think would be nice to have.
Tha

[2022-07-11 06:47] 79ho3ein opened #5622 "Preview image in webp format > media field - jet engine"
**Describe the bug**
hi
To categorize (Taxonomy) my new post type, I created a media type field. **The problem is that if the image format is webp, their preview is not displayed in the media field :** https://prnt.sc/l17BUfI96y6y
But if the image format is jpg or png, there is no problem and the preview is displayed correctly : https://prnt.sc/G49xcakaqTKw

[2022-07-11 07:08] fostira opened #5623 "JetEngine – Better value format support for Field type: Map"
In order to use Advanced Map widget ( https://bit.ly/3c8bCzX ) more dynamically please support value format "lat;lang" in the map field type, since the widget only accepts value with combined coordinates names with the ";" sign in between.

Alternatively change the way that Advanced Map widget can accept values.

Would be great to see a better integration in between parts of Crocoblock plugins.

T

[2022-07-11 07:14] fostira commented on #4092
+1 Great suggestion! This should also be reflected on the map field type. #5623

[2022-07-11 07:19] fostira opened #5624 "JetEngine – Support search by Address for map field type"
For a better and more accurate location, it would be great to have the ability to search for an address in the map field type. Zooming and clicking around in the map could be inconvenient in many cases.

[2022-07-11 07:53] fostira opened #5625 "JetEngine – Ability to hide " Name: " for meta fields in the CPT interface"
The "Name: [slug] " which appears below the meta fields is cluttering the interface and is tightly attached to the field description. We need more spacing between the name and description and also the ability to hide the "Name: " altogether in order to have cleaner and less confusing interface for end users which is going to use the CPT.

[2022-07-11 09:19] Floydtm commented on #5543
Your request cannot be added to the plugin itself. You can use the workaround that @loucasl suggested

[2022-07-11 11:50] 79ho3ein opened #5626 "Possibility of rerange for taxonomies in jet engine"
**Please, describe the feature request, making it clear to understand.**

hi crocoblock team!
In the WooCommerce plugin, when we create categories, we can change the [order of categories](https://prnt.sc/_wMsTED39RiB) using drag and drop.
But in jet engine, if we create a taxonomy (especially for categories), this is not possible : https://prnt.sc/IQTo6mfbmHpg

By adding this feature, a new order

[2022-07-11 11:54] Michaelgimii commented on #5626
+1

[2022-07-11 12:10] Floydtm commented on #5619
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-07-11 12:10] #5619 closed, assigned to nobody

[2022-07-11 13:16] Floydtm commented on #5622
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-07-11 13:16] #5622 closed, assigned to nobody

[2022-07-11 16:37] Bayron2304 opened #5627 "JetSmartFilters not showing all attributes"
In short;

I have a checkbox filter that is setup for an attribute "Merken" ("Brands" in EN), on an archive page of shoes this checkbox filter is not showing all the brands, it shows some, but not all. See the image below of the brand not being shown. I have double-checked these products and they have entries for this attribute.

![image](https://user-images.githubusercontent.com/22499245/17831363

[2022-07-11 17:39] antoinelbch commented on #3206
@DanielZelei, I am also encountering the "Sorry, the content area was not found in your page." error. Could you try and deactivate JetThemeCore and see if that resolves the issue.

[2022-07-11 19:25] RoynerG commented on #5619
It is not on my side. because before the version worked fine, it updated the cct, but after updating jetformbuilder to 2.1 I get the error that it does not update but duplicates the post and creates a new one.

[2022-07-11 20:15] nreljed opened #5628 "[Jetengine] Dynamic terms more dynamic⚡"
I often need in Dynamic Terms to reveal certain taxonomies if available (include or exclude)

as if for exemple in "features" in need to include only the term "furnished" = then display it, otherwise hide.

The function should without difficulty look like this

![Dynalic terms](https://user-images.githubusercontent.com/82481592/178348914-bc6bd584-d7dc-43d8-b447-06d4be13ef09.png)

For the moment I

[2022-07-12 08:18] Floydtm commented on #5619
Have you contacted the support team about this?

[2022-07-12 09:26] MPHood opened #5629 "Make Title Tag of "Image Accordion (Jet Tabs)" - editable"
the default Title Tag of the image accordion widget is set to H5 - which is not good for my title hirarchy. There should be a simple way to change the tag to something else like "p, div oder another H1-H6"

[2022-07-12 09:35] iamchetanp opened #5630 "Allow to create listing for non-public post type"
Hello,

I am using JetEngine to create dynamic listing. But it is not allow for non-public post type.

Few post types will not have single pages, For example. Testimonials, FAQs, Team members, Videos etc.

I want to create listing grid Testimonials which is non-public post type. It'd better if you allow to create listing for non-public post type too.

Thank you

[2022-07-12 09:56] 79ho3ein opened #5631 "Custom icon for select and sorting widget - jet smart filters"
**Please, describe the feature request, making it clear to understand.**

hi crocoblock team!
Please add custom icon feature for select and sorting widgets if possible. [The default icon](https://prnt.sc/3P9IpIdjRmZX) affects the UI a lot and doesn't really look good.

Also, add a margin control for this icon so that we can space it from the left or right.
If you decide to add this feature, please

[2022-07-12 13:39] Michaelgimii opened #5632 "Quick edit support for switcher field in jet engine"
hello

In the jet engine plugin, this is possible for text or number fields. Please add this option for the switcher field. This can be very useful. The current situation is really restrictive.

[2022-07-12 14:05] dbfischer commented on #2670
Hello,
I have the same problem. Booking for bikes. If a family wants to book several bicycles, this is not possible.

[2022-07-12 14:10] Paul1x opened #5633 "JetFormBuilder: Switch payment method"
You should be able to switch between PayPal and Stripe if you use jetformbuilder. At the moment, you can only have one payment activated on a form. This functionality would make the form a competitor to WooCommerce.

[2022-07-12 15:35] Lonsdale201 commented on #5628
This widget could really need some boost As we talked about earlier, for example, showing only child items etc.. :)

[2022-07-12 15:50] nreljed commented on #5628
yes i forgot that
if you look closely I already have terms city but I don't put area , country... etc
because it's even more annoying to do..  dynamic terms must evolve
I would have liked to have this for example in le term city
Akademichna St , Odesa, Ukraine in one single widget

he must be able to understand hierarchies as well
the best example is dynamicooo their widget is quite complete
we ju

[2022-07-12 16:27] shepherdog75 opened #5634 "Hamburger menu, add option to close the dropdown by clicking outside"
**Before adding a new feature request, please, make sure you’ve checked:**

- if the feature is already added to the backlog or in work;
- if the feature is missing from the products.

**Please, describe the feature request, making it clear to understand.**

Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you wa

[2022-07-12 16:29] shepherdog75 opened #5635 "visual filter"
Hey, i'm using teh smart filter visual for categories.
after seleceting a category the dropdown is not closing.
is there a way to close it after the selection?

[2022-07-12 19:01] lukechinworth opened #5636 "Query Builder unsets unrelated "queries" from JetSmartFilterSettings when query id is empty."
**Describe the bug**
Using a listing grid on a category archive template, with several smart filters using "mixed". Then I have another listing grid on the same page listing out the other categories, which are pulled in using the query builder (this query does not have a query id set). If I select a filter, and then reload with the filtered url, the query builder module clears out the JetSmartFilt

[2022-07-12 19:37] RoynerG opened #5637 "Error in fronted form?"
Hi i have an error in frontend form

![Screenshot_1](https://user-images.githubusercontent.com/89561214/178579463-51bbf896-3f21-401f-a405-4dc562c7ec5e.png)

![image](https://user-images.githubusercontent.com/89561214/178579535-f90bfb30-e535-4113-aa56-7d53076a50e2.png)

[2022-07-12 19:50] thtasca commented on #3654
+1

[2022-07-12 20:42] nreljed opened #5638 "[Jetengine & Jetformbuilder ] Profile Page URL" in redirect to page choice ⚡"
![Capture d’écran 2022-07-12 213741](https://user-images.githubusercontent.com/82481592/178591211-b904dbbc-fe72-4d80-ac9c-22de9c586d3e.png)

I would like to see a "Profile Page URL" in redirect to page action choice
to be able to redirect dynamically and attached my "members" form to the "members page" template after submit.
and other potential forms to their Profile Page URLs . this is useful whe

[2022-07-13 11:08] valmirselmani commented on #1470
@danjs74 I have also noticed this problem and it has gotten worse with the Elementor 3.6 update. If you go back to Elementor 3.5, it is much faster compared to the newer Elementor version.

I tested it again now and it's 3-4x times slower than with Elementor 3.5.

[2022-07-13 11:24] danjs74 commented on #1470
@valmirselmani ah ok - so maybe some sort of mis-match going on with the Elementor code base. I've now moved over to use some different tools - Elementor / ACF Pro / Gridbuilder (https://wpgridbuilder.com/). Lightning fast.

[2022-07-13 11:34] valmirselmani opened #5639 "Improve AJAX Performance (JetEngine / JetSmartFilters) / Unusable with Elementor 3.6"
Loading posts via AJAX wasn't exactly fast to begin with, but with the Elementor 3.6 update, it's now even worse.
I would say it is unusable.

Test results with CPT, which has about 250 posts. But it is also very slow when it has only 10 to 20 posts.

**Elementor 3.5**
**Listing Grid (load 27 posts):** 1.5 to 2 seconds
**Listing Grid (JetSmartFilter):** 1.5 to 3 seconds
**Listing Grid (Reset Filte

[2022-07-13 14:29] trofimartya commented on #5639
+1

[2022-07-13 15:04] Carolinekjeldgaard opened #5640 "Shortcode for Thank you page template"
Hello,
I am a marketer and in my work, I need to be able to track each page of a funnel in order to optimize and market and remarket to the right people.
I miss being able to create a static URL for the Thank you page on which I can ADD the Thank you page Template onto. I need a static URL for my template so I can add the right HTML codes from Google Ads, tag manager, and google analytics so I can

[2022-07-13 15:18] JSPRV opened #5641 "(partially) Remove CSS/JS when Widgets or Extensions are switched OFF"
Specify the feature, the product to which it should be added, and why it is important to add it.
Describe what effect or functionality you want to achieve as a result.

When switching off certain Widgets or Extensions on the **Crocoblock** > **JetPlugins Settings** page the Widget or Extension is only switched off in the editor. The CSS and JS files, used by the plugin, are still loaded in the sit

[2022-07-13 15:19] futureyoon commented on #1470
@danjs74 Thx for the alternatives. At least you opened up some other options to achieve the similar outcome.
Can anyone help ping developers or lead of crocoblock for any update on this item? It's really sad that we have to switch to another solutions...

[2022-07-13 15:32] cbwstudios commented on #1470
The issue is that Croco has a fundamental issue with how they deal with listing grid queries.  Did any of you ever notice how a single listing grid can query the DB as many as 10 times? (yikes)  I have looked under the hood extensively.  They have several fundamental flaws with what they're doing.  In order to fix the issue they are going to need to seriously overhaul JetEngine.  Because they won'

[2022-07-13 15:46] e-cubed opened #5642 "JetEngine query - excluding a specific post will not work when 3rd party plugin - Search Exclude is active"
Here is a screenshot with the post ID in the excluded by ID field (the post that should be hidden is the 2nd in the list: The Where, What..
![unnamed-1](https://user-images.githubusercontent.com/6537449/178775490-a88f9569-2ba5-4d8b-ab47-ae854bbfba6d.png)

As you can see I'm using a keyword search query + exclude post.
The exclude post does not hide when the 3rd party plugin - Search Exclude (https

[2022-07-13 15:50] danjs74 commented on #1470
@cbwstudios yes I would concur with those comments. I have found quite a few bugs etc when using JetEngine, that compounded with the speed issue means i'm unlikely to ever use it again. I've found AFC Pro to be more stable and robust, nice interface etc. I've paired it with Gridbuilder (https://wpgridbuilder.com/) which as you can see has very fast listings.

[2022-07-13 19:19] mehdimoradi1500 commented on #5639
+1

[2022-07-13 19:19] mehdimoradi1500 commented on #5641
+1

[2022-07-13 19:28] 79ho3ein commented on #5639
+1

[2022-07-14 01:32] futureyoon commented on #1470
@danjs74 just for my knowledge (little out of topic), wpgridbuilder has something similar like Profile Builder in Jetengine? I am considering to transit if no croco guys care about this issue.

[2022-07-14 06:19] Michaelgimii opened #5643 "Ability to display the Callback value of name (without using glossary)"
**Please, describe the feature request, making it clear to understand.**

hello
Currently, when we create a text field (for example, a text field) for post type, it is not possible to select a name in the dynamic field widget > [Callback field](https://prnt.sc/MdVdLpukK6YW).
In fact, Jet Engine only displays the value of each field. But I want to display the [name](https://prnt.sc/mYp6hMNSydIB).
I

[2022-07-14 08:18] Floydtm commented on #5635
This is not a bug. This is the correct behavior of the plugin. Your request can only be solved by a custom solution.

[2022-07-14 08:18] #5635 closed, assigned to nobody

[2022-07-14 10:31] valmirselmani commented on #1470
@danjs74 The funny thing is that you can also use the JetEngine Listing Grid with Gridbuilder. Have you tried that out yet? It would be interesting to know if that speeds up the ajax performance or if it is the same performance. If it has the same performance, then the problem is clearly with the JetEngine implementation.

[2022-07-14 13:20] Floydtm commented on #5643
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-07-14 13:20] #5643 closed, assigned to nobody

[2022-07-14 14:24] unitedonline commented on #5639
+1

[2022-07-14 14:34] unitedonline commented on #5615
+1

[2022-07-14 14:44] mehdimoradi1500 commented on #5615
Yes totally great proposal, i wish they consider it
I dont know about the backend of coding but this is really cool feature

[2022-07-14 14:45] mbhzpi commented on #2792
I also need a feature to integrate hCaptcha in a JetEngine Form!

[2022-07-14 14:45] mbhzpi commented on #4497
I also need a feature to integrate hCaptcha in a JetEngine Form!

[2022-07-14 14:49] unitedonline commented on #5637
Hi,
Open your page using incognito mode and see if the problem goes away....

[2022-07-14 14:52] unitedonline commented on #5626
+1

[2022-07-14 14:53] mehdimoradi1500 commented on #5641
@Floydtm
I installed jetformbuilder few months ago and created some forms then for some reasons i decided to delete the plugin, today i reinstall the plugin and i saw the forms (created few months ago) are there...
I think it will be nice to implement this feature in the settings:
Do you want to delete every things (tables, forms, JetEngine's stuffs and..) after uninstall?

[2022-07-14 15:05] fastalusalm commented on #2301
+1

[2022-07-14 15:09] UraraReika commented on #5455
We haven’t heard from you in a while so I’m going to go ahead and mark this thread as resolved. If you still need help with this issue or have any other questions about the JetBooking plugin, please start a new thread.

[2022-07-14 15:09] #5455 closed, assigned to MakhonkoDenis, UraraReika

[2022-07-14 15:14] UraraReika commented on #5581
I merged this issue with [#3755](https://github.com/Crocoblock/suggestions/issues/3755), which is on the same subject so we could deal with it more efficiently.

[2022-07-14 15:14] #5581 closed, assigned to MakhonkoDenis, UraraReika

[2022-07-14 15:18] UraraReika commented on #5174
This functionality was presented in the latest release of the plugin 2.5.0.

[2022-07-14 15:18] #5174 closed, assigned to UraraReika

[2022-07-14 15:19] UraraReika commented on #5582
Hello @maaxjahz !

Specific days for booking functionality was presented in latest 2.5.0 release. Check it out.

If we talk about booking period then I merged this issue with [#5376](https://github.com/Crocoblock/suggestions/issues/5376), which is on the same subject so we could deal with it more efficiently.

[2022-07-14 15:19] #5582 closed, assigned to MakhonkoDenis, UraraReika

[2022-07-14 17:52] thtasca commented on #3593
+1

[2022-07-14 19:42] alexmoreirarosa commented on #4631
Seria importante ter a opção de listar mais de um select de categoria no plugin.
Eu dupliquei no formulario mas não consegui puxar o outro.

<?php echo $this->get_categories_list(mais_categoria); ?>
 <?php echo $this->get_categories_list(); ?>

[2022-07-14 19:46] alexmoreirarosa opened #5644 "Opção de adicionar mais de um lista de categoria no formulário elementor"
Seria importante ter uma opção de listar mais de um select de categoria no plugin.
Eu dupliquei no formulario mas não consegui puxar o outro.

<?php echo $this->get_categories_list(mais_categoria); ?>
<?php echo $this->get_categories_list(); ?>

[2022-07-15 00:39] wisholmdata commented on #1980
I would also like a way to show users in a random order - I need a way to show one random member every time a visitor loads the page.

Many thanks in advance!

[2022-07-15 01:35] mindingear opened #5645 "JetEngine: Add option to disable map scrolling on Openstreetmaps"
Disabling the scroll on maps is very useful for users with scrollpads. Achieving something similar to that page would be great:
https://arena-guide.com/city/british-columbia/

There is an explanation on the parameter to pass: https://stackoverflow.com/questions/39736169/disable-map-scrolling-open-street-maps

Thanks!

[2022-07-15 09:59] manashjyotix opened #5646 "JetFormBuilder - We need Reset password option"
Hi, Crocoblock

JetFormBuilder is good for making Login, Registration, Update profile page but I never saw Reset password option.

[2022-07-15 10:03] manashjyotix commented on #5620
Where I put this code?

[2022-07-15 10:15] Lonsdale201 commented on #5620
If you have elementor pro, you can use the custom code, function, or something else code snippet plugins which support js, or, you can use html widget / blokk to, just dont forget the <script></script> tag.

[2022-07-15 12:34] unitedonline commented on #1505
@Floydtm - The screenshot of the settings you had posted has been removed.
Is it possible for you to repost please?
Thank you

[2022-07-15 12:58] Floydtm commented on #1505
https://prnt.sc/ia92-xvfYWt8 maybe these options

[2022-07-15 16:14] mehdimoradi1500 opened #5647 "some bugs: listing grid"
hi
i have some issues with listing grid  (jet engine 3.01)
it adds some extra space to the listing
2- it add horizontal scrolling in mobile mode
please check the video

https://user-images.githubusercontent.com/86493591/179264119-9f61a743-aa32-425d-a722-c4f117110f06.mp4

[2022-07-15 17:40] jacktaffa opened #5648 "Listing Map connected to Listing"
Like google Locator Plus
with list of elements on one side ad map on the other side
https://developers.google.com/codelabs/maps-platform/google-maps-simple-store-locator#0

[2022-07-15 17:53] MjHead commented on #5639
@valmirselmani Maybe you have a staging website with the problem where we can test it, or at least reproduce the listing? Because I tested this on 500+ posts and 12 posts per page - all results less than 1 second - https://i.imgur.com/o2YVO7R.png So looks like this is not common problem, maybe the issue with some specific widgets used in listing

[2022-07-15 19:06] valmirselmani commented on #5639
@MjHead I could reproduce your results with a listing grid displaying only one image, a listing with multiple dynamic fields, in my case 8 custom fields. Did you test locally or on a server?

I would need some time to create a staging site where you can investigate the problem. In the meantime you can test with with multiple custom fields and see if that's the problem. However, I believe the probl

[2022-07-15 22:55] mehdimoradi1500 commented on #5639
I completely agree with @valmirselmani
I have heard so much in Facebook groups and all complaining about the performance of crocoblock plugins especially JetEngine
I have tried wp grid builder its so fast and has better performance

[2022-07-16 00:16] mindingear opened #5649 "JetEngine: Why not merging "Dynamic Field" and "Dynamic link" widgets?"
I might be missing something obvious, in which case sorry! :)

But I can't seem to understand why we have two different widgets, I keep looking for features that are in one and missing from the other one, I feel it would make more sense to give the flexibility to create a link with flexibility from a dynamic field.

For example having the "Filter field output" and the callback would be very useful

[2022-07-16 10:51] zup44 commented on #2667
Any update on this? Would just like to know if it's being considered. Cheers!

[2022-07-16 13:01] LTimerr opened #5650 "JetEngine | Glossary Addon"
Hello, I work a lot with glossaries and my entire glossary list (approx. 100 glossaries) is getting confusing. That's why I thought, maybe it's possible to split glossaries into categories so add categories to glossaries, and if that's not possible then maybe that you can move glossaries up and down like Meta Fields.

That would help me a lot!

Kind regards

[2022-07-16 17:56] MjolnerThor opened #5651 "Crocoblock Portfolio Slider Feature request"
This feature does not exist in the summary of crocoblock widgets. This feature contains a smooth and nice-looking portfolio image that gives your web design agency a more professional look. It also gives the website a presentation that gives it more life:

First
The first you see is an image and a logo of the company that it concludes, the image is a representation of the company that it involves.

[2022-07-16 19:04] Floydtm commented on #5648
Describe your request in more detail, if possible, add screenshots or video. Thank you! Maybe this option will work for you https://demo.crocoblock.com/balirento/catalog-map-1/

[2022-07-16 19:14] Floydtm commented on #5651
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-07-16 19:14] #5651 closed, assigned to nobody

[2022-07-16 19:33] Floydtm commented on #5637
We have checked your request and it seems to work correctly. However, the problem may be on your side. Contact our support team so we can investigate and resolve this issue.

[2022-07-16 19:33] #5637 closed, assigned to nobody

[2022-07-17 09:54] LTimerr opened #5652 "JetReviews | Change of icons"
Hello, it would be good if you could also select the Star Unicode icon in the Reviews Listing Widget, because I think it looks better and secondly so that you can set it uniformly like with the normal star rating widget.
![Screenshot_15](https://user-images.githubusercontent.com/93724776/179393043-a8c8ab28-d782-4d9f-94a4-472a3fedaedb.png)
![Screenshot_16](https://user-images.githubusercontent.com/

[2022-07-17 09:55] #5456 closed, assigned to nobody

[2022-07-17 10:04] LTimerr opened #5653 "JetEngine / JetSmartFilters | Automatic addition of new options into the Database"
Hello, I would really like it if it were possible for people at Post Types, when they write things in a field and then submit the form, to automatically add it to the database like a glossary and stuff like that does not have to enter each option manually. The whole thing is then automatically displayed in a JetSmartFilters filter so that you can also filter according to the newly added option of

[2022-07-17 15:02] mehdimoradi1500 commented on #5646
We definitely need
Also in so many countries email is not used but it's a required field for jet form builder
I like to use only phone number to register/login

[2022-07-17 17:08] nreljed opened #5654 "Jetsmartfilters active tags widget double `::` 👀👀"
I don't know what happens with jetsmartfilters but it displays double `:: `
while I didn't put in filter label and active filter label or the others I have checked everywhere

![Capture d’écran 2022-07-17 174123](https://user-images.githubusercontent.com/82481592/179416732-15c3bd05-d8b9-4f33-b9c7-ca436fc04fdc.png)

![Capture d’écran 2022-07-17 174806](https://user-images.githubusercontent.com/8248

[2022-07-17 23:35] MjolnerThor opened #5655 "Starting Screen feature request"
This feature does not exist in the selection of crocblock widgets.

First
The first you can see is a screen just for the departments of the website.

Second
Then you can move your mouse to any of the departments to choose which department you want to enter.
https://gyazo.com/a53817b4894bb80d7aa56772fa648549 - GIF

The reason for the feature.
The reason for the feature is that it makes your website

[2022-07-18 11:25] EP-Digital commented on #3574
You can add this code to your functiun.php file into Appearance --> Edit theme file --> Functiun.php
(Don't forget to install child theme before to prevent code erase after updating your theme)

[code]

You can check more details about this code at :
https://hoolite.be/coding/replace-or-translate-text-in-wordpress-via-functions-php/

[2022-07-18 11:38] kevanbulmer commented on #2312
+1

[2022-07-18 12:29] Ollie9T7 commented on #5174
This functionality was not added in the 2.5.0 update. We want to be able to allow guests to book set durations. Please re-open this.

[2022-07-18 12:52] UraraReika commented on #5174
Thanks for the feedback.
 Please follow guidelines for opening a new [feature request](https://github.com/Crocoblock/suggestions/blob/master/.github/ISSUE_TEMPLATE/feature_request.md), so we can help you better. Your report is missing key information. Without it - it is hard for us to filter and prioritize the requests. Thank you for your understanding.

[2022-07-18 13:28] stasonua0 opened #5656 "Wishes by field type "Map""
Hello, I see you have added a new "Map" meta field as per my longtime request https://github.com/Crocoblock/suggestions/issues/1354, thank you for that.
But your version of the functionality does not take into account two important points:

1. Manual address entry
2. Autocomplete when entering an address based on hints from Google Map or other maps.

Example: https://drive.google.com/file/d/1wWh5j

[2022-07-18 15:04] snelly1998 commented on #243
Im guessing they haven't released a fix yet?

This shouldn't be closed

[2022-07-18 16:29] riandeodato commented on #243
+1

[2022-07-18 16:39] e-cubed commented on #243
+1

[2022-07-18 19:08] riandeodato commented on #4541
@stasonua0 I have the same problem. Did you get any solution for padding only in the first-child of the listing?

[2022-07-18 19:45] riandeodato opened #5657 "JetSmartFilters don't work with URL with filtered value"
Hello! How are you?

I have a problem: I created a snack menu for a hamburger restaurant website, which you can see here: https://pits.riandeodato.com/cardapio.

The JetSmartFilter for taxonomies that filters snacks by category is working correctly, but I'm trying to use the URL with filtered value functionality on the homepage of the site here: https://pits.riandeodato.com/url/

The problem is th

[2022-07-18 20:53] Michaelgimii commented on #5512
hi @UraraReika , Is it known when the new jet woobuilder update will be released? Now more than 3 months have passed since the last version...
Will this be an update with big changes?

[2022-07-19 01:16] nreljed opened #5658 "Jetsmartfilters bug `[no results]` via apply redirect ➡️"
how to reproduce and observe the bug?

0 - preparation
- install jetsmartfilters
- create your target page with filters , listing grid and reset filters (Active Tags and remove filter button)
- in home page create two - three filters and an apply Button (the idea is to create a no result by mixing filters)
- note : all my filters on all pages are set to **Apply type : mixed**
- - note : [my homepa

[2022-07-19 04:14] mrusteberg commented on #2389
this would be so awesome to have - Google, Facebook, Yelp and TripAdvisor reviews

[2022-07-19 08:31] 79ho3ein opened #5659 "Display problem in the Single Reviews Form Widget in the editor - jet woobuilder"
**Describe the bug**

hello

If you use the Single Reviews Form Widget on the single product page, if you enter the product page as a user, Single Reviews will look [like this](https://prnt.sc/KU0YUZ3CN8a5) (star rating).
But in the editor, the situation is completely different and the star rating is not displayed : https://prnt.sc/Z-wCbVvMtZ6n

Another problem is that in the front end, when the p

[2022-07-19 10:56] MjHead commented on #5639
At the moment there is no issue with quering data, its rendering part. In this case speed totally depends on number of elements inside of listing grid item. Here is an example with Elementor 3.6.7 + Listing Grid + Filters - as you see, the most difference on the filter response time is related the number of Elements should be build. Unfortunately we haven't a lot of possibilities to impact on defa

[2022-07-19 10:57] riandeodato commented on #3819
I have the same problem here on my site: https://pits.riandeodato.com/cardapio/

Has anyone found a solution please?
@Floydtm @SargasTM @DavidAky @valmirselmani @Lonsdale201

[2022-07-19 11:06] riandeodato commented on #5658
Same problem here.

[2022-07-19 11:07] valmirselmani commented on #5639
@MjHead Thanks for following up. It's always nice to see a company listen to feedback, and you guys have proven that time and time again with the new features for the plugins. You guys have laid a great foundation with the plugins, just a few improvements in performance and some other features would make your plugins even more awesome.

I thought it was the rendering, since I only changed the Elem

[2022-07-19 11:13] mehdimoradi1500 commented on #5639
Yes its so good to listen to the community, i think if crocoblock focus on the plugins without any reliance on page builders it will better
And yes we like to see jetEngine to be so fast and with great performance.

Im using bricksbuilder with JetEngine and it has cool features to render datas! You can use several dynamic tags in one text element!

[2022-07-19 12:00] Floydtm commented on #5655
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-07-19 12:00] #5655 closed, assigned to nobody

[2022-07-19 12:37] Floydtm commented on #5657
Your request is not a bug. It seems to me that you initially chose the wrong direction. You cannot filter by category while in a category. You need to think differently about the whole logic of work

[2022-07-19 12:37] #5657 closed, assigned to nobody

[2022-07-19 13:23] rtpHarry commented on #1623
@UraraReika What do these tags "pending" "ready for release" mean, as its now 2022 and I've just encountered the same problem.

Followed this tutorial:

https://crocoblock.com/knowledge-base/articles/how-to-create-a-product-quick-view-with-jetwoobuilder-and-jetpopup/

And ended up with an "add to cart" button that is wrapped in a `<form>` tag pointing at the product single url, so when I try to us

[2022-07-19 15:59] ssoronid opened #5660 "Add Author Is Role @ Dynamic Visibility"
### Feature Request:

In the following example I will add a very good feature at the time of building user archives achieving different visualizations for different Author Role.

Instead of the classic "Current User is Role" we need to add the "Post Author Is Role = X  --> Visualize X"

**In example** you would like to add a module to be visualized if Author Role is premium to the Author Archive,

[2022-07-19 16:18] About2git commented on #931
This is already possible with the "Hide empty items" Addon /Plugin https://crocoblock.com/freemium/tools/

here is the Github: https://github.com/MjHead/jet-hide-empty-items

[2022-07-19 16:19] About2git commented on #931
I guess can be closed.

[2022-07-19 16:39] valmirselmani commented on #5639
@mehdimoradi1500 That's actually a very good idea, to be able to use multiple dynamic tags in the same text element. That would improve the performance a bit in my case.

@MjHead Is it possible to develop a feature where we can insert e.g. multiple dynamic tags or multiple meta fields in a text element? I am aware that it is possible to do this using the Shortcode Generator, but this solution is n

[2022-07-20 07:36] nerdtech opened #5661 "JetPopup | Days of week and Date Range"
It would be **really beneficial** to be able to select a date range and days of week option to the "Open Event" settings. For example if you have special offers only on the weekend then you could use the days of the week for this.

The wordpress plugin "Popup Maker" for example has this option with its "Scheduling" extension. https://docs.wppopupmaker.com/article/402-scheduling-plugin-introduction

[2022-07-20 08:33] MjHead commented on #5639
omg, forgot to add a link into my previous comment - https://crorotest.kinsta.cloud/woocommerce-listing/

[2022-07-20 08:46] MjHead commented on #5639
As for Elementor update - I think I found where is the problem, we'll investigate it deeply, but looks like it caused the more solid logic of set up widget settings when a new widget instance initiated before rendering.

@valmirselmani As for combinig of meta fields - at the moment the shortcode from shortcode generator is only option for this. We are planning a significantly improve it with 3.1 u

[2022-07-20 09:11] UraraReika commented on #1623
Hello @rtpHarry !

If the issue is closed then this tags means nothing.

We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please contact our support team.

Thank you!

[2022-07-20 09:27] 79ho3ein commented on #5639
hi @MjHead , According to the elementor developers, they are heavily rewriting and developing their infrastructure these days to add great features that users are asking for. So it seems that the Ajax speed drop in elementor is for this reason.
Especially the version 3.7 elementor beta, which has not yet been officially released, has been a large part of the changes in the infrastructure. Therefor

[2022-07-20 09:38] Lonsdale201 opened #5662 "Gutenberg + JetEngine Dynamic Visibility sidebar improvment (Code example added)"
**Wordpress Standard Sidebar / Gutenberg block with Dynamic Visibility combo**

Visibility hides everything, but the Gutenberg sidebar block remains. In some cases it can be a nuisance. It would be great in the future to have a setting, a button whatever, to specify that the sidebar should be hidden even if the value is empty.

I made a workaround with JS, it works in my case (Learndash + Buddybos

[2022-07-20 10:07] Tuvsday opened #5663 "Fix Form Post Submit Action: Sync needed on Custom/ Removed Checkout Fields"
<img width="813" alt="Screen Shot 2022-07-20 at 7 59 04 pm" src="https://user-images.githubusercontent.com/97221209/179955488-cd5ba9d2-754c-4a3d-98b3-7bf82dfb7a3b.png">

Is user has custom Woo commerce fields, they should be updated and displayed in
the JetEngine>Form> Post Submit Action > Add to Cart > (Map to Woo Commerce fields)

It's currently only showing defaults (even if some were removed)

[2022-07-20 11:59] lacasa-81 opened #5664 "JetForm Max/Min Length Text for Fields"
To limit the number of characters allowed in the form field Text and TextArea, to manage the number of minimum and maximum input accepted by the selected field. Also ad the text length counter.

The community appreciate this request and your help, thank you.

[2022-07-20 13:25] eobotrd01 commented on #1284
Hello guys, any news about the implementation of the Elementor icons in the jet engine? Wow, more than 3 years and crocoblock doesn't help the community :( I'm not even able to use the jet engine's own iconpicker some icons like: fa-glass doesn't appear in front end when I use embed icon from iconpicker. Please does anyone know how to solve it that?

[2022-07-20 14:21] 79ho3ein opened #5665 "simple BUG / If the jet menu is enabled, the crocoblock icon will be removed from the dashboard."
**Describe the bug**
When I activate the jet menu plugin, the crocoblock icon is removed from the dashboard : https://prnt.sc/ZDUPHx5qtASQ

**To Reproduce**

Just activate the jet menu plugin.

[2022-07-20 15:00] Semonxue commented on #5513
Hi @cmw1990 , I agree with you for the first suggestion. I also need edit and filter relation meta in front page. But disconnect the relation is available in jetformbuilder.

[2022-07-20 15:02] Veekay2001 opened #5666 "Check-in Date Blocked For New Booking - Losing 1 Night Between Stays"
Hello,

I recently made a booking system with JetBooking but the check-in date for 1 booking can not be taken as a check-out date for the previous booking. For example:
Person 1 books from Jan 1 - Jan 5
Person 2 books from Jan 6 - Jan 10
This leaves the room empty on the night from Jan 5 - Jan 6. If person 3 wants to book this night, Jan 5 can be selected as check-in but Jan 6 can **not** be selec

[2022-07-20 15:06] Rauljauregi commented on #1555
++100 would be great a JetFormbuilder integration with Sendinblue

[2022-07-20 16:12] AndyMorley commented on #3630
I have just asked on live chat for this exact thing, he pointed me towards their "indexer" feature, the Indexer featuer isnt right for this, it doesn't hide the filter entirely including the filter label.

I've been trying to find ways to do this but no luck.

It seems like such an obvious thing to include i'm surprised their dev team didn't implement it already.

[2022-07-20 16:29] AlanStainer commented on #1974
I'd just like to chip in that this would be a really great feature to add flexibility to the plugin. There's a specific project I am working on that pretty much requires it.

[2022-07-20 22:38] Hydra56g opened #5667 "Proposal for JetEngine or JetFormBuilder (upload image resize)"
### **_Good evening, I would like to propose a new functionality for JetFormEngine or the forms of JetEngine_**

- `A better upload button should be added to add media to the form`
- `A button where after selecting the image, you can choose its ratio and resize it before publishing it with the form`

**Or something like that, then we can select a ratio depending on the form or something like that*

[2022-07-21 02:34] #5510 closed, assigned to girafffee

[2022-07-21 05:03] nreljed opened #5668 "Jetformbuilder reject Jetengine form legacy [conflict edit post]⚡"
![Plan de travail – 5](https://user-images.githubusercontent.com/82481592/180132876-e74f3173-6525-42f3-a804-5ef097dcb43c.png)

I transferred more than 200 posts posted using jetengine forms from my site1 to site2

on site2 I reproduced identically the forms of jetengine site1
with jetformbuilder + the dynamic link edit post

on site2 when I click edit on one of the 200 posts transferred, a strange

[2022-07-21 08:39] LaxusCroco opened #5669 "New feature for Map Listing - connecting markers"
I am displaying custom posts on the Map Listing widget, each post being a marker. I would like to use polyline (or similar) to connect the markers on the map with lines.

[2022-07-21 09:38] trofimartya commented on #3517
+1
Also Outlook 2-way sync would be awesome idea.

[2022-07-21 10:49] imranch9417 opened #5670 "add a feature for variation images with color , size in single product"
hi Crocoblock

i suggest you to add a feature in your group of plugins or add a addons

if suppose a single product have multiple color then your current plugins can not handle or do not have option to add multiple images with variations (yes it have one image option with each variation  ) at least 4 to 6 images
we can show 4 to 6 images with one variation like single color images but not with mul

[2022-07-21 11:44] wildmercury commented on #2683
This 'JetWooBuilder Products Grid Load More' plugin (https://crocoblock.com/knowledge-base/articles/jetwoobuilder-devtools-products-grid-load-more-addon/) only seems to work on a plain vanilla Product Grid widget. It does not appear to function with a Products Loop widget, with or without the layout switcher, so it doesn't really solve anything but the most simple grid arrangement for any woocomme

[2022-07-21 14:24] jimhuds opened #5671 "Load More Addon for Products Loop"
It would be great if the Products Grid Load More Addon also worked for the products loop, so that I can use it with a custom layout as it is in the Zolden template.

Cheers!

[2022-07-21 15:02] Michaelgimii opened #5672 "Progress bar for product grid widget carousel (jet woobuilder)"
It would be great if you add a new feature in the product grid widget so that if autoplay is enabled, we can display a progress bar to users.
Check out this feature in the video below

https://user-images.githubusercontent.com/88034902/180246995-0ffbd367-6908-4bfd-aef5-739d9d7d9ed6.mp4

[2022-07-21 15:05] Michaelgimii opened #5673 "new style for pagination Dots of product grid carousel"
Please add a new style for displaying navigation points to this widget. https://prnt.sc/DI94hKLm3m3m

[2022-07-22 05:23] olyaastep opened #5674 "Jet Booking + forms in Jet Engine -Ability to set advanced and seasonal pricing from the frontend form"
Hello!

I would like to suggest a feature:
A new type of fields for Jet engine/Jet Forms - the same as in the backend we can set advanced pricing /seasonal pricing/weekends and also be able to set custom schedules.

It is an essential function of the booking marketplace, partners should be able to manage their posts and easily set pricing or change it without the need of contacting the website adm

[2022-07-22 06:12] mehdimoradi1500 commented on #5667
Cool one

[2022-07-22 10:07] Floydtm commented on #5665
This has been added to the plugin. After that, there will be a testing phase. And will be released later.

[2022-07-22 10:07] #5665 closed, assigned to nobody

[2022-07-22 10:16] UraraReika commented on #5666
I merged this issue with [#3755](https://github.com/Crocoblock/suggestions/issues/3755), which is on the same subject so we could deal with it more efficiently.

[2022-07-22 10:16] #5666 closed, assigned to nobody

[2022-07-22 12:05] fostira commented on #5656
+1 Much-needed feature!

https://github.com/Crocoblock/suggestions/issues/5623

[2022-07-22 13:10] briski-design commented on #2632
Works wonderfully! Many thanks for the plugin!

[2022-07-22 13:21] leandroseja commented on #1217
Hello friends, can you share the solution?

[2022-07-22 17:46] fbeach73 commented on #878
+1 this is very necessary, and holding a lot of things up in the air for front end forms and options on taxonomy buildouts

[2022-07-22 17:56] LTimerr opened #5675 "JetSmartFilters | Glossaries for hierarchical filters"
Hello, I would find it very good if you also have the option to select glossaries and add them there when you activate the option for hierarchical filters.

That would make it a lot easier for me.

[2022-07-22 17:57] #5653 closed, assigned to nobody

[2022-07-22 19:32] sahilpopli commented on #5675
+1

[2022-07-22 19:33] sahilpopli commented on #5669
+1

[2022-07-22 19:35] sahilpopli commented on #5656
+1

also do add a button to fetch the user location for the map field. So we can create forms to get user location for User meta as well as CPT/CCT.

[2022-07-22 20:12] brjmichael commented on #4581
+1
Features that support SMS and WhatsApp Gateways will revolutionize (even more) the almighty JetEngine.

[2022-07-22 20:12] brjmichael commented on #4581
+1
Features that support SMS and WhatsApp Gateways will revolutionize (even more) the almighty JetEngine.

[2022-07-22 20:23] Floydtm commented on #5671
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-07-22 20:23] #5671 closed, assigned to nobody

[2022-07-22 20:24] Floydtm commented on #5672
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-07-22 20:24] #5672 closed, assigned to nobody

[2022-07-22 20:24] Floydtm commented on #5673
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-07-22 20:24] #5673 closed, assigned to nobody

[2022-07-23 00:11] nreljed opened #5676 "Jetformbuilder WYSIWYG field does not keep formatting ⚡"
for some reason jetformbuilder does not support emoji on WYSIWYG field

this situation, which went unnoticed for me, has become visible and embarrassing because now we almost only see that from the moment you notice it

How to reproduce the bug 🐛

1 - post a simple post with title and content like I did, put a layout with emoji

![Capture d’écran 2022-07-23 004430](https://user-images.githubuserco

[2022-07-23 00:26] jacktaffa opened #5677 "JetSmartFilter - Radio/Select Filter - Allow to filter by post id"
When Data source is "Posts"
is possibile to filter Listings  by checked posts IDs ?
It could useful also for Maps listing, because could allow to create a store locator

[2022-07-23 09:32] LTimerr commented on #5667
Would be very helpful for me too

[2022-07-23 16:12] rtpHarry opened #5678 "JetFormBuilder in JetEngine listing shows success message for all forms"
**Describe the bug**
If you submit a JetFormBuilder form that is embedded inside a JetEngine Listing then it shows the success message for all of the forms, despite only one being actually submitted.

**To Reproduce**
Steps to reproduce the behaviour:

1. Make a custom post type, eg "volunteer events"
2. Make a JetFormBuilder form, eg "volunteer" (I'm attempting to write my own hook for this, whic

[2022-07-23 18:48] stasonua0 opened #5679 "Advanced Map: Alternative providers"
Hello, consider introducing alternative map providers into the Advanced Map widget from Jet Elements. Do the same thing you did with Jet Engine Map https://prnt.sc/0GsAvWZ3TAP-

[2022-07-23 19:51] tizum commented on #4271
+1
is this already possible?

I would like to develop a project that is in figma, and I need this functionality, but I still haven't seen anything about how far I know jetEngine, I'm doing research on how to proceed.

[2022-07-23 19:55] tizum commented on #2135
+1
is this already possible?

I would like to develop a project that is in figma, and I need this functionality, but I still haven't seen anything about how far I know jetEngine, I'm doing research on how to proceed.

[2022-07-24 02:24] Le-Lays commented on #2458
+1

[2022-07-24 02:37] Le-Lays opened #5680 "Listing grid slider: arrow should disappear when arrived at the first/last slide"
Slider arrows are always present, even though arrived at the first or last slide.

Users have to click a few times to understand slider arrived at the end.

The left one should disappear when navigated to the first slide, the right one when arrived to the last slide.

[2022-07-24 04:26] machachen opened #5681 "Hubspot Sunsetting its API"
Hubspot have sunsetted its API.

What's the alternative way of integrating with the jetform builder other than Oath 2.0?

[2022-07-24 12:29] rtpHarry commented on #5678
It seems that somebody else has bumped into a similar issue like this back in 2020: #1966

[2022-07-24 13:23] rtpHarry commented on #5678
I actually solved a similar issue with the Elementor Image Carousel not having a unique id when used in a listing, but from playing around with a customised version of the code I cannot see any id values that can be modified this time around.

[code]

[2022-07-24 13:31] rtpHarry commented on #5678
It seems like JetPopup has solved this problem somehow, as it manages to handle having unique popups used inside of a JetEngine listing.

My guess is that the solution to this issue is going to be something to do with detecting if its inside a listing and then putting some marker on the form, and then the form will need to check if its the unique instance before sending back its validation/message

[2022-07-24 13:37] rtpHarry commented on #5678
Actually, there is a field in each of my forms `__queried_post_id` which is unique for each form, as its pointing at the parent post id of that listing.

I've just renamed this to imply that its a JetEngine issue, but it might be something that can be handled by JetFormBuilder if its aware of its listings post_id.

[2022-07-24 14:13] nreljed opened #5682 "Jetengine dynamic tag in redirect after delete ⚡"
it would be so simple and efficient if i had a dynamic tag in redirect after delete in dynamic link

there are so many possible scenarios to configure

![Capture d’écran 2022-07-24 151001](https://user-images.githubusercontent.com/82481592/180651022-da21e295-2d73-4fb9-992f-b546d9fea9aa.png)

[2022-07-24 15:46] rlb222 opened #5683 "layout changes when selecting smartfilter checkbox (Gutenberg)"
**Describe the bug**
On a page with a smartFilter checkbox and a Listing Grid, when I select the checkbox:
The page layout is changed, because the flexbox CSS of the listing grid is changed.

The Listing Grid has flexbox rows and stacks. And the CSS of these is altered:
1. The row definition is changed to a stack (`flex-direction: column;`). So all content next to an image is now placed under the

[2022-07-24 16:08] NISU-WP commented on #5667
### **Yes! it is absolutely necessary to develop this update it would be great! I hope this will succeed since the time I am looking for a way to resize the images of the jetengine form**

[2022-07-24 16:28] Operscot-evolution commented on #5667
How long does it take to develop this kind of idea ? **I like the project.
@girafffee**

[2022-07-24 16:30] Nisu1 commented on #5667
That would be cool 👌

[2022-07-25 08:18] EliasAAA commented on #5233
Is there any progress with this ?

[2022-07-25 08:19] EliasAAA commented on #4024
Is there any progress with this ?

[2022-07-25 08:22] EliasAAA commented on #784
Is there any progress with this ?

[2022-07-25 09:08] mateitudor commented on #5592
For anyone interested, the wonderful Jenn @ https://itchycode.com/ has helped me with this issue:

[code]

[2022-07-25 09:12] mateitudor opened #5684 "Typo in get_settings('lisitng_id');"
**Describe the bug**
There is a typo in your method for getting listing ID's: **'lisitng_id'** instead of 'listing_id'.

**To Reproduce**
$listing_id = $listing_grid->get_settings('lisitng_id');  → works ✅

**Expected behavior**
$listing_id = $listing_grid->get_settings('listing_id'); → fails 🛑

[2022-07-25 09:20] MolyMalon commented on #4024
https://github.com/Crocoblock/suggestions/issues/3514

[2022-07-25 11:54] UraraReika commented on #5670
I merged this issue with [#2619](https://github.com/Crocoblock/suggestions/issues/2619), which is on the same subject so we could deal with it more efficiently.

[2022-07-25 11:54] #5670 closed, assigned to nobody

[2022-07-25 11:56] #4922 closed, assigned to UraraReika

[2022-07-25 12:54] pitchpublications commented on #1856
So Jetsearch now works with Relevanssi?

[2022-07-25 13:45] AzizbekJumanazarov commented on #1856
Yes, i used AjaxSearch form of Jet and simple search form, then i also installed Relevanssi plugin, corrected the settings for working with taxonomies and worked perfect. But, now Crocoblock already added a feature that searches products by taxonomies as well. I would suggest to try their new feature before considering other plugins.

[2022-07-25 14:52] #4889 closed, assigned to UraraReika

[2022-07-25 14:52] #4450 closed, assigned to UraraReika

[2022-07-25 14:53] #4486 closed, assigned to UraraReika

[2022-07-25 14:53] #5416 closed, assigned to UraraReika

[2022-07-25 14:53] #5381 closed, assigned to UraraReika

[2022-07-25 14:53] #5377 closed, assigned to UraraReika

[2022-07-25 14:53] #5264 closed, assigned to UraraReika

[2022-07-25 14:53] #5228 closed, assigned to UraraReika

[2022-07-25 14:54] #5115 closed, assigned to UraraReika

[2022-07-25 14:54] #5116 closed, assigned to UraraReika

[2022-07-25 14:54] #5022 closed, assigned to UraraReika

[2022-07-25 14:54] #4981 closed, assigned to UraraReika

[2022-07-25 14:54] #4860 closed, assigned to UraraReika

[2022-07-25 14:55] #4850 closed, assigned to UraraReika

[2022-07-25 14:55] #4781 closed, assigned to UraraReika

[2022-07-25 14:55] #4780 closed, assigned to UraraReika

[2022-07-25 14:55] #4618 closed, assigned to UraraReika

[2022-07-25 14:55] #4999 closed, assigned to UraraReika

[2022-07-25 14:55] #4728 closed, assigned to UraraReika

[2022-07-25 14:55] #4646 closed, assigned to UraraReika

[2022-07-25 14:55] #4572 closed, assigned to UraraReika

[2022-07-25 15:49] Bawoosch opened #5685 "JetMenu doesn't close"
The JetMenu doesn't close when the user reach the end of the menu.
<img width="1431" alt="Screenshot 2022-07-25 at 17 46 53" src="https://user-images.githubusercontent.com/58780879/180820585-36fa9817-4a86-4f7e-938f-a258ceb99b78.png">

[2022-07-25 17:20] WEBLOTI opened #5686 "JetWooBuilder: Functionality to allow different types of zooming on product images"
It would be great if the individual image widgets have the functionality to allow you to choose various types of zoom in such as: Lens, Windows, Inner and at the same time also allow to choose the type of cursor like: crosshair or cursor....

This is something that can already be done with free plugins like "Product Image Zoom for WooCommerce" but why install another plugin if it can be integrated

[2022-07-25 18:54] Zegklitz commented on #2308
+1

[2022-07-25 21:24] Michaelgimii commented on #4450
hi @UraraReika , How can this feature be used in the new version? It works for me like before

[2022-07-25 22:30] azkalex opened #5687 "Query Builder not keeping stuff"
I don't know why this happens, check the video below:

https://user-images.githubusercontent.com/60075863/180884500-76fc755e-6832-4f2d-9a39-f98a63c96b43.mov

This sometimes happens to "Legacy forms" too, sometimes after I save the form, a field will be cloned or something, I always have to double-check everything to make sure the data remained or is right. This is not fun, make sure the data remai

[2022-07-26 06:24] Floydtm commented on #5686
At the moment, we do not plan to introduce such functionality into our plugin.
Now our team is working on more priority tasks.
But in the future we do not exclude the possibility of adding this functionality to the core of our plugin

[2022-07-26 06:24] #5686 closed, assigned to nobody

[2022-07-26 07:42] Michaelgimii opened #5688 "Custom icon for single rating and product grid & product list widget / jet woobuilder"
Please add the possibility of inserting a custom icon (svg) to the rating stars of single rating, product grid and product list widgets.

[2022-07-26 08:38] Deswegen commented on #2956
+1 Would be great to have this timer feature!

[2022-07-26 09:01] kaskad88 commented on #4084
I merged this issue with [#5625](https://github.com/CrocoBlock/suggestions/issues/5625), which is on the same subject so we could deal with it more efficiently.

[2022-07-26 09:01] #4084 closed, assigned to kaskad88

[2022-07-26 09:04] kaskad88 commented on #2258
I merged this issue with #5625, which is on the same subject so we could deal with it more efficiently.

[2022-07-26 09:04] #2258 closed, assigned to kaskad88

[2022-07-26 09:52] 79ho3ein opened #5689 "jet woobuilder 2.0.0 bugs"
**Describe the bug**

hello, Thanks for this great update. This version included many changes, which naturally caused many bugs. In the following, I will mention each of these bugs, please check them.

1- ajax add to cart not working : https://prnt.sc/A5g3wTnibN20
2- After the update, the equal column height option was disabled in all product grid widgets.
3- After the update, the navigation point

[2022-07-26 11:27] UraraReika commented on #4450
When you edit single product template made with JetWooBuilder you can notice this new settings https://tppr.me/mpqcd.

[2022-07-26 12:05] 79ho3ein commented on #4450
Thanks for this great feature @UraraReika

[2022-07-26 12:32] ibtisamahmad opened #5690 "Jet Elements Section Scroll"
Hi Crocoblock team, Hope you all are doing well.

I'm using the jet elements section scroll widget. I'm here to request an important feature,

This is what I want:
Please add automatic active section detection into the widget. This means if section 4 is on screen section scroll will automatically detect the section and make that dot active like changing color to active color and more functions tha

[2022-07-26 13:23] #5317 closed, assigned to UraraReika

[2022-07-26 13:23] #4019 closed, assigned to UraraReika

[2022-07-26 13:23] #4719 closed, assigned to UraraReika

[2022-07-26 13:32] #5630 closed, assigned to kaskad88

[2022-07-26 13:32] #5576 closed, assigned to UraraReika

[2022-07-26 13:32] MjHead commented on #5576
Fixed with 3.0.2 update

[2022-07-26 14:11] MjHead commented on #5684
Yes, its known issue but unfortunately at the moment we need to process it as is due to backward compatibility reasons

[2022-07-26 14:11] #5684 closed, assigned to kaskad88

[2022-07-26 14:16] MjHead commented on #5467
We planned such features with one of upcoming major updates by adding separate widget. Probably 3.2.0 or 3.3.0

[2022-07-26 14:16] #5467 closed, assigned to kaskad88

[2022-07-26 14:18] MjHead commented on #2157
Can't be recreated in a different way due to technical reasons

[2022-07-26 14:18] #2157 closed, assigned to kaskad88

[2022-07-26 14:27] lagethomas opened #5691 "Single field with no post type"
Good morning, would it be possible to create a unique field button?
Fields such as Documents, which is per person, would be interesting, when creating this field, I have a switcher that defines whether the value of this field is unique or it can be repeated, as if it were the ID field that is unique.

[2022-07-26 18:08] WEBLOTI commented on #5686
I understand that there are other priorities for you but I don't understand why you have to close it and mark it as completed if it is not.

Although it says that in the future you do not exclude it. The truth is that I don't know what is going on with your customer service but these last few months you have been handling it very badly.

I thought that's what this channel is for. "Open suggestions

[2022-07-27 00:04] Le-Lays commented on #4958
It has been long months now since this madness started.

Still thinking about you all at Croco.

[2022-07-27 00:47] ofmarconi opened #5692 "Flexible layout creation with drag and drop to reorder sections"
I think it's a product suggestion, it would be something revolutionary for JetEngine.

I want something similar to this:
https://i.postimg.cc/mgDpL9j9/ezgif-1-cb46d0a03f.gif

**ACF Extended Flexible Layouts**
https://www.acf-extended.com/

With this we can give our customers more freedom to customize.
And customize the **Frontend** based on the sections chosen in the **Backend**.

I believe that t

[2022-07-27 01:02] tizum opened #5693 "JetEngine Dynamic Link Add To Cart with New Features"
Guys I was so happy to see the changelog about the update, but disappointed to see the new feature working for Dynamic Link.

The first is that when I select the source add to cart I can't enable the quantity button.... I need this adjustment to be able to uninstall JetWooBuilder from my site, believe it or not I use it just because of the Add To widget Cart that works perfectly.

The second probl

[2022-07-27 01:14] ewebtechsuk commented on #3965
Any updates?

[2022-07-27 03:39] nreljed opened #5694 "Jetengine 4.0 Dynamic visibility builder ⚡"
in this post I will try to evolve dynamic visibility to something more practical and efficient and scalable

this idea based on a real experience where I have several dynamic visibility conditions on several widgets which are on several pages through the site..

1 - first problem :  it is very difficult to identify them visually, the section/container / widgets does not visually indicate that they

[2022-07-27 06:01] Bharadhan opened #5695 "Jetengine Membership"
Please add the subscription and membership feature so a fully functional membership , LMS sites can be created.

For eg:

If the subscription ends in 1 month then the user must receive an email.
Yearly Subscription etc.

[2022-07-27 06:39] vincent20022 opened #5696 "Jet Woo Product Gallery Causing Conflict"
**Describe the bug**
Error Causing a conflict to some plugins

**To Reproduce**
Steps to reproduce the behavior:
1. Install Variation Swatches for Woocommerce
2. Enable Variation Swatches and Jet Woo Product Gallery
4. See error on developer tools by inspecting element

**Screenshots**
![image](https://user-images.githubusercontent.com/47505842/181177875-a015bbe3-33ac-4638-a3fb-f70f679cf042.png)

[2022-07-27 06:43] LaxusCroco opened #5697 "Adding styling controls for sub-menu icons in Revamp menu"
The Revamp menu offers styling controls for the default state of the sub-menu icon: https://prnt.sc/L08IFOEbbkUb Although we can add a custom color to the sub-menu icon in the default state, there is no possibility to manage the icon color in hover and active states: https://prnt.sc/7xcy3Z1xjbiH I would like this feature to be added, so we can manage sub-menu icon color in all states.

[2022-07-27 08:32] Roberto77 commented on #2529
+1

[2022-07-27 08:48] 79ho3ein commented on #5688
+1

[2022-07-27 09:36] 79ho3ein opened #5698 "Some new features for jet compare & wishlist plugin > compare page"
**Please, describe the feature request, making it clear to understand.**

hello
Please check the following if possible...

1- Box shadow for Add to Compare button (Like #5317) Maybe you have added it in the new version. I haven't reviewed it yet
2-[Horizontal and vertical alignment](https://prnt.sc/PxNFLJBPXR-O) for remove icon (Now the icon is on the left side) : https://prnt.sc/EHXrE6-4g-xe
3- C

[2022-07-27 09:42] Michaelgimii opened #5699 "Ajax speed drop in jet smart filters , jet woobuilder and jet compare & wishlist plugins"
I use elementor. In the last few elementor updates, the execution speed of Ajax in these two plugins has decreased a lot. I guess it's because elementor is updating its infrastructure. Please check this issue. Elementor version 3.7 will be released soon, and this version contains more significant changes in the elementor infrastructure than any other version. Therefore, this decrease in Ajax speed

[2022-07-27 11:03] Floydtm commented on #5691
Describe your request in more detail, if possible, add screenshots or video. Thank you!

[2022-07-27 11:10] Zegklitz commented on #2536
+1

[2022-07-27 11:10] kaskad88 commented on #4696
Added in JetEngine v3.0.0

[2022-07-27 11:10] #4696 closed, assigned to kaskad88

[2022-07-27 11:48] chipweb opened #5700 "JetEngine: A way to add metaboxes or custom fields to product attributes (not terms)"
Hello.

After speaking with the support team, I have found that there is no way with JetEngine to assign metaboxes to WooCommerce product attributes.

Please do not confuse this with product attribute terms. With these you can add metaboxes but not with the attributes themselves. Here is a screenshot:

![image](https://user-images.githubusercontent.com/25765113/181239455-3fe07469-3562-476b-b069-47

[2022-07-27 11:50] chipweb opened #5701 "JetEngine: A way to create taxonomies with terms (like in Product Attributes)"
Hello.

With JetEngine, I have not found a way to create taxonomies that allow assigning different values or terms (similar to product attributes).

Here is an image to show you what I mean:

![image](https://user-images.githubusercontent.com/25765113/181239938-4c6e309a-81be-497e-abcd-1f5fba982611.png)

[2022-07-27 12:29] UraraReika commented on #5689
1, 5, 6 - We have checked your request and everything seems to be working correctly. Perhaps this is related to your site. Please [contact](https://support.crocoblock.com/support/home/ ) our support team.
2, 3, 4, 7, 9 - Fixed.
6 - There are controls that can help you to disable this gap.
8 - Why not?
10 - Everything works fine, just because every separate element has predefined default value this

[2022-07-27 13:03] ofmarconi commented on #5692
https://www.youtube.com/watch?v=hzkNL0BA3Dk
Attaching a demo for better understanding.

[2022-07-27 13:39] 79ho3ein commented on #5689
2,3,4,7,9,12,13,14- thanks

1- I checked this issue further, there is no problem with simple products. But there is this bug in variable products.
5- For example, I want to place the rating star below the image. This is only possible if I [clear](https://prnt.sc/X6dfHScDQyd8) the order field in the product image and rating. If we change the order amount for the rating, nothing happens (The order v

[2022-07-27 13:46] tizum commented on #5694
awesome +1

[2022-07-27 13:49] DaviAppelDuarte commented on #5693
+1

[2022-07-27 14:13] ofmarconi opened #5702 "A widget maker would be a nice upgrade to Crocoblock Elements,"
Creating your own widgets with JetEngine integration would be a game changer, it can even replace my request: https://github.com/Crocoblock/suggestions/issues/5692

It would be much more flexible.

A really cool example is elements kits: https://www.youtube.com/watch?v=zE6TMrkZeOI & https://www.youtube.com/watch?v=dXLEG1O3yAM&

[2022-07-27 14:27] loucasl commented on #4820
+1

[2022-07-27 14:27] loucasl commented on #3540
+1

[2022-07-27 14:51] ofmarconi opened #5703 "Enable which file types can be chosen from gallery 📹 🖼️ 👨‍💻 [JetEngine Metafield]"
It would be important to have a field dedicated to GIF, only accept GIF in the backend, or a field destining the MP4 URL to only accept MP4 files from the gallery.

Today there is no such filter, leaving the user to choose anything and get frustrated with the frontend not working correctly.

[2022-07-27 14:53] ofmarconi commented on #5703
I'd like to be able to manually choose which file extensions and formats are accepted, but if that's not possible, I'd like some: images (jpg, png, webp...), videos (mp4...), Gifs (gif, webp...), json, svg...

[2022-07-27 16:34] dislokacia opened #5704 "Additional providers in Gutenberg"
If there are 2 Listing Grids on the page and we need to filter only the one of them, then in elementor pagebuilder we can connect the filter and provider via [CSS ID ](https://prnt.sc/XWvZLNtw-BOz) and [this one](https://prnt.sc/45Os0-29bjkh)
But in Gutenberg at the moment there is no such possibility to connect the filter with provider and there is no possibility to [add the additional provider](

[2022-07-27 18:11] MjHead commented on #5704
Will be added with JetEngine 3.0.3 update. Closing here to avoid duplicating, because same issue already added into our roadmap

[2022-07-27 18:11] #5704 closed, assigned to nobody

[2022-07-27 18:42] dariogalleno opened #5705 "Jetbookig overlapping dates - not able to book previous period. F.e. I book a room ckin August 25 chkout Aug 26, 1 night. Then I book the same room in 26 out 27 ..and it's ok The issue is on all night before..I am not able to book chkin 24 out 25..as the 25 seems already booked And it's partially true.. I suggest to add 2 time field in setting in order to divide the day/night in 2 blocks ...to define 1) check in NOT BEFORE xx hours and 2)checkout NOT AFTER yy hours.... if it can help and make the overlapping dates Without this feature jetbooking for hotels is quite unusable Please note first report of this issue I did is 1 year ago. Waiting for an update Tks"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-07-28 01:59] ofmarconi commented on #5702
https://github.com/elementor/elementor/issues/5679#issuecomment-575602764

this case is very interesting, it's a path, but it would be nice if we could replace the values of the metafields fields of the Template widget.

Would it be possible?
Configure fields within an Elementor Template and when embedding on the page the value of the field is changed at the time of adding?

Thanks

[2022-07-28 05:30] mehdimoradi1500 opened #5706 "Jetengine: posts are not sorted descending based one publish date"
hi
I've created a CPT and when i add new posts they are not sorted based one the latest posts
and each time i have to click on the date column to sort them descending:

![image](https://user-images.githubusercontent.com/86493591/181427830-8eccb3f3-c770-4e0a-9018-0d50ff7c690d.png)

[2022-07-28 08:41] SamuelAshbrook commented on #2252
+1

[2022-07-28 09:39] UraraReika commented on #5689
1, 6, 15 - Fixed;
5 - In your original message you wrote that it's didn't work that was wrong, now you tell me that it's work but with some specific settings. You should express your thoughts more clearly so that it would be easier for us to understand you.

The less number of order the higher element will be in markup. By default every element has 1 order so they will stay on the place that we pr

[2022-07-28 09:55] 79ho3ein commented on #5689
5- At first, I had not emptied the order. So there was no change. But I corrected it in my second message. Sorry, because I'm using google translate, the wording may be mistranslated.
11- I expressed this completely wrongly, I apologize

thank you anyway

[2022-07-28 10:11] 79ho3ein commented on #5689
In product grid widget, In the product grid widget, the box shadow option has been[ removed from the hover and normal section](https://prnt.sc/1lDwcmxMgMsT)s.

[2022-07-28 10:31] 79ho3ein commented on #5689
In the product grid widget, the box shadow option has been[ removed from the hover and normal section](https://prnt.sc/1lDwcmxMgMsT)s.

Is this a bug or has the functionality changed? Because if I activate the normal box shadow, the box shadow option is activated in the hover section.
If its performance has changed, it doesn't seem like a logical method. Because if we want to have only one shadow

[2022-07-28 10:37] kaskad88 commented on #3219
Hi @jamsheehan. This functionality is already available.

What needs to be done:
1 - select `Equal` or `Not Equal` condition https://tppr.me/KEjkZ
2 - in the `Field` setting, select the `Custom Content Type Field` dynamic tag and select the `Item Author` field https://tppr.me/Ev5Yn
3 - in the `Value` setting, you can manually set an id of author or select the `Macros` dynamic tag and select the `C

[2022-07-28 10:44] #3219 closed, assigned to kaskad88

[2022-07-28 11:11] SanyaOnline commented on #5692
+1

[2022-07-28 13:45] #5531 closed, assigned to Gawuww

[2022-07-28 14:07] UraraReika commented on #5502
This issue has been closed due to inactivity. If this issue is still actual, please, create the new one.

[2022-07-28 14:07] #5502 closed, assigned to UraraReika

[2022-07-28 14:36] 319heads commented on #2667
Zoom integration is a must, really holding this plugin back for use by consultants, coaches, etc.

[2022-07-28 15:10] UraraReika commented on #5485
The solution of this was added with last plugin release and you free to try it. But this functionality still need some final touches. So please stay tuned with this issue https://github.com/Crocoblock/suggestions/issues/5693.

[2022-07-28 15:10] #5485 closed, assigned to UraraReika

[2022-07-28 15:17] lagethomas commented on #5691
The idea is to create an option to create the metafield as unique when creating the post type.
In this scenario I would check an option that that meta field is unique, that is, when I insert an item in the post type, I cannot create the same value for this field defined as unique, it would return that the item already exists in the database.

[2022-07-28 15:42] DrPine opened #5707 "JetAppointment Multi-Service Checkboxes Select"
I have checked and do not see any requests about multi service selection or any about checkboxes.

- I don't think this feature is in the backlog or in work at the moment since I just messaged chat and they said JetAppointment cannot do what I am describing at this time.
- This feature is missing from JetAppointment and should be added to increase the amount of businesses we can schedule appointme

[2022-07-28 16:05] dyonatandias commented on #5693
+1

[2022-07-28 16:08] PPharma commented on #5693
Please add this soon.

[2022-07-28 16:10] PPharma commented on #5485
Related issue:
https://github.com/Crocoblock/suggestions/issues/5693

[2022-07-28 17:08] subedinfo-it commented on #361
+1 for this request. Something alike woocommerce product swatches

[2022-07-28 18:05] mateitudor commented on #5253
I'd love this too.

[2022-07-28 18:07] mateitudor commented on #5699
I second this, the performance is just bad.

[2022-07-28 18:20] sahilpopli commented on #5704
+1 i also reported the same yesterday

[2022-07-28 19:22] Michaelgimii opened #5708 "box shadow for Wishlist Count Button widget"
Please add box shadow option to this widget. Currently this option does not exist and is really needed   https://prnt.sc/FacXfz6hOwqC

[2022-07-29 05:54] kbradleyg commented on #1775
@drumanshoo @colderik
Have you guys found a way to achieve this? @drumanshoo, how did the approach from the Smashing Magazin article turn out?

[2022-07-29 05:55] MjHead commented on #5540
https://github.com/ZemezLab/jet-booking/tree/dev/chekout-only-days

Некоторые мелочи буду еще дорабатывать там, но основную логику можно тестить

[2022-07-29 05:56] MjHead commented on #5540
Added with 1.6.10

[2022-07-29 05:56] #5540 closed, assigned to MjHead

[2022-07-29 07:12] Lonsdale201 commented on #402
+1

[2022-07-29 08:55] #5532 closed, assigned to Gawuww

[2022-07-29 10:11] Floydtm commented on #5700
You need to create custom attributes and only then you can attach custom fields to them https://prnt.sc/MqlZz66YzY0W https://prnt.sc/bKSMO0cX8TH1 https://prnt.sc/84J93N496UvN

[2022-07-29 10:11] #5700 closed, assigned to nobody

[2022-07-29 10:26] Michaelgimii opened #5709 "Global settings for jet woobuilder"
hello crocoblock team

I use 12 product carousels (product grid) on my website. Every time I decide to edit the style in them, I have to do it for each one. Even for some I forget to do. So this is a big challenge for me and many users.
So it's great if you add a new feature, that we style the product grid or list widget once, and then connect it to all the product grid widgets on the website. If

[2022-07-29 12:48] jeremynachtegaele commented on #5540
Thank you.

Le mar. 5 juil. 2022 à 20:01, Andrew Shevchenko ***@***.***>
a écrit :

--
Nachtegaele Jérémy
Rue du village, 36E
7903 Chapelle-à-Oie
0474 61 48 27

[2022-07-29 14:01] leandroseja commented on #1217
Friend, can you share your solution?

[2022-07-29 16:02] TspeakDesign commented on #1217
I was unable to resolve the issue myself with the Crocoblock plugin. I have not completed the project, but my plan moving forward will be to use a different plugin option for the filters.